body{
	background-color: #d31c14
}
.band{
	background:url(../images/xiuband.jpg) no-repeat center top #c41a13;
	height: 549px;
	min-width: 1000px;
}
.xiu_bm{
	height: 567px;
	background-color: #fdeee9;
	min-width: 1000px;
}
.xiu_title{
	text-align: center;
	padding-top: 70px;

}
.xiu_ts{
	width: 1000px;
	margin: 40px auto 0;
	height: 352px;
	background:url(../images/xiuts.jpg);
}
.bmbtn{
	margin-left:786px;
	margin-top: 252px;
	display: inline-block;
}
.moban_list{
	background:url(../images/jianjiao.jpg) repeat-x top #d31c14;
	padding: 55px 0;
}
.moban_main{
	margin: 0 auto;
	width: 1000px;
}
.moban{
	text-align: center;
}
.moban_main{
	padding: 50px 0;
}
.werimg{
	padding-top:170px;
}
.tomo{
	margin-top: 110px;
}
.bottom{
	text-align: center;
	border-top: 1px solid #fff;
	background-color: #d31c14;
	color: #fff
}
.bottom a{
	color: #fff
}