@charset "utf-8";
/* ZZ91 推广专题 */

.bg{height:2548px;background:url(../images/body_bg.jpg) repeat-x}
.main{width:960px;height:2466px;margin:0 auto;background:url(../images/main_bg.jpg) no-repeat; position:relative}
.zi1{position:absolute;top:530px;left:50px;font-size:14px;color:#fff}
.zi2{position:absolute;top:600px;left:50px;font-size:14px;color:#fff}
.zi3{position:absolute;top:680px;left:50px;font-size:14px;color:#fff}
.zi4{position:absolute;top:740px;left:50px;font-size:14px;color:#fff}
.zi5{position:absolute;top:810px;left:50px;font-size:14px;color:#fff}
.zi6{margin:0 20px;}
.a1{position:absolute;top:265px;left:290px;width:220px;height:60px}
.a2{position:absolute;top:525px;left:770px;width:95px;height:28px}
.a3{position:absolute;top:585px;left:770px;width:95px;height:28px}
.a4{position:absolute;top:665px;left:770px;width:95px;height:28px}
.a5{position:absolute;top:730px;left:770px;width:95px;height:28px}
.a6{position:absolute;top:790px;left:770px;width:95px;height:28px}

