<div id="shead">

        	<div id="shead_title">

            	<h1>ZZ91{{label}}价格网：</h1>

            </div>

            <div id="shead_tags"> 
                <a href="http://price.zz91.com/channel/otherWaste.htm" target="_blank">{{label}}价格行情</a> | 
                
                <a href="http://price.zz91.com/priceSearch.htm?title={{keywords1}}" target="_blank">今日{{label}}价格</a> |  

                <a href="http://price.zz91.com/priceSearch.htm?title={{keywords1}}" target="_blank">{{label}}网上报价</a> | 

                <a href="http://trade.zz91.com/offerlist--a1--b--c--d--e--f--p1--{{keywords}}.htm" target="_blank">供应{{keywords}}</a>  | 

                <a href="http://trade.zz91.com/offerlist--a2--b--c--d--e--f--p1--{{keywords}}.htm" target="_blank">回收{{keywords}}</a>  | 

                <a href="http://daohang.zz91.com" target="_blank">废料导航</a>

            </div>

        </div>