

body{margin:0 auto;background:#f5f5f5}
a{color:#000;text-decoration:none}
a:hover{text-decoration:underline}
ul,li{list-style:none}


.content{width:98%;margin:5px auto;overflow:hidden}
.c-tle{line-height:35px;margin-bottom:15px;font-size:14px;border-bottom:1px solid #dedede}

.nav_tab{width:100%;border-right:1px solid #d8dadb;border-bottom:1px solid #d8dadb;font-size:14px;margin-bottom:10px}
.nav_tab_tle{color:#fff;padding-left:15px;font-size:16px}
.nav_tab tr td{line-height:35px;border-left:1px solid #d8dadb;border-top:1px solid #d8dadb;text-align:center;background:#fff}



/**list**/
.item{ margin:0px;}


/**details**/
.i-tab{border-top:1px solid #d8dadb;padding:20px;background:#fff}
.i-tab2{
	line-height:30px;
	font-size:14px;
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #ebebeb;
	margin-bottom:10px;
}
.i-tab2 table{
	width:100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-collapse:collapse;
}
.i-tab2 table tr td p{text-align:center;text-indent:0}
.i-tab2 table tr td{border:1px solid #ccc;text-align:center;text-indent:0}
.i-tab2 table tr th{text-align:center;text-indent:0}
.tab{width:100%;border-right:1px solid #d8dadb;border-bottom:1px solid #d8dadb;font-size:14px}
.tab tr td{line-height:35px;border-left:1px solid #d8dadb;border-top:1px solid #d8dadb;text-align:center}
.i-tle{line-height:30px; text-align:center;font-size:16px; font-weight:bold}
.item .time{color:#999; font-weight:normal; font-size:12px}

.box{margin-bottom:10px;border-top:1px solid #9c9ea8; }
.b-tle{
	line-height:30px;
	border-top:1px solid #dedede;
	background-color: #ebebeb;
	padding-left:10px;
}
.b-dt{margin-top:10px;}
.b-dt dt dl{line-height:15px;padding-left:10px}

.i-tab_{padding:20px;background:#fff;border-top:1px solid #dedede}
.tab_{width:100%;font-size:14px}
.tab_ tr td{line-height:30px}


/**index**/
.tab_{width:100%;border-top:2px solid #d8dadb;border-bottom:2px solid #d8dadb;font-size:14px;background:#fff}
.tab_ tr td{line-height:20px}
.tab_td{line-height:60px;border-right:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;text-align:center;display:table-cell;vertical-align:middle;padding:15px 0}
.tab_ dt dl{margin-left:15px}

.dl_on{color:#0965b8}

/**频道页**/
.main{width:100%;overflow:hidden}
.tle{height:40px;line-height:40px;border-bottom:1px solid #dedede;font-size:14px;padding-left:15px}

.box_{font-size:16px;border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-bottom:1px solid #c4c4c4;background:#fff;margin:10px}
.box_tab{width:100%}

.tab-txt{font-size:12px}
.box_tab tr td{padding-bottom:20px}
.tab_div{width:20%;border-right:1px solid #f0f0f0}
.td_div{padding-left:10px}

.off{cursor:pointer}
.on{color:#176ebc}

#td_gap{padding-top:21px}
#td_gap_{padding-bottom:24px}

#off_sel{padding-top:21px}



