<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-touch-fullscreen" content="YES">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/subject/tuiguan/css/base-min.css" />
	<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
	<title>免费注册_独享600万废料商机</title>
	<meta Name="description" Content="欢迎您注册ZZ91再生网！您只需30秒填写信息，即可免费开通企业商铺，网上推广产品。ZZ91再生网，200万废料商家的网络首选服务，立即加入吧！">
	<meta Name="keywords" Content="废料,再生资源,免费,采购,再生网">
	<link rel="stylesheet" href="http://static.m.zz91.com/subject/tuiguan/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/subject/tuiguan/css/index.css" />
	</head>
	<body>
		<script type="text/javascript" src="http://static.m.zz91.com/subject/tuiguan/js/viewport.js"></script>
		<div class="band">
			<div class="logo clear">
				<div class="logo-img"></div>
			</div>
			<div class="band-name"></div>
			<div class="band-title">从建站到完成交易   一站达成</div>
			<div class="band-main">
				<div class="band-mian-box band-mian-box1">PC+移动端+APP<br />三站合一</div>
				<div class="band-mian-box band-mian-box2">专业物流服务</div>
				<div class="band-mian-box band-mian-box3">海量废料商机</div>
				<div class="band-mian-box band-mian-box4">搜索引擎推广</div>
				<div class="band-mian-box band-mian-box5">在线交易<br />资金保障</div>
			</div>
			<a class="sq-btn">免费申请</a>
		</div>
		<div class="conbox-moshi">
			<div class="conbox-moshi-title">
				首创“网+会+刊”模式, <br>打造线上线下服务相结合的全方位 <br />立体型服务新模式
			</div>
			<div class="conbox-moshi-conbox conbox-moshi-conbox1">累计供求商机6,772,990条</div>
			<div class="conbox-moshi-conbox conbox-moshi-conbox2">每年举办10场左右大型展会，<br /> 交易会</div>
			<div class="conbox-moshi-conbox conbox-moshi-conbox3">《中国再生资源商务大全》25万<br /> 发行量全行业收录品牌保证</div>
			<a class="sq-btn">免费申请</a>
		</div>
		<div class="conbox-sanzhan">
			<div class="conbox-sanzhan-title">
				PC+APP+微信公众号/微站/手机站<br />三站合一全拥有
			</div>
			<a class="sq-btn">免费申请</a>
		</div>
		<div class="conbox-toufang">
			<div class="conbox-title">
				PC+移动全引擎为您投放
			</div>
			<a class="sq-btn">免费申请</a>
			<div class="conbox-toufang-swiper">
				<div class="swiper-container">
			        <div class="swiper-wrapper ">
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/feijinshu_360.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/feijinshu_baidu.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/feijinshu_sogou.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/feinie_360.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/feinie_baidu.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/feixiangjiao_baidu.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/feizhi_baidu.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/fuyinji_360.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/fuyinji_baidu.png"></div>
			            <div class="swiper-slide"><img src="http://img0.zz91.com/zz91/cp/reg/images/fuyinji_sogou.png"></div>
			            
			        </div>
			        <!-- Add Pagination -->
			        <div class="swiper-pagination"></div>
			        <!-- Add Arrows -->
			        
			    </div>
			    <!--<div class="swiper-button-next"></div>
			    <div class="swiper-button-prev"></div>-->
			</div>
		</div>
		<div class="conbox-fuwu">
			<div class="conbox-title">
				淘再生   一站式在线交易服务
			</div>
			<a class="sq-btn">免费申请</a>
			<div class="conbox-moshi-conbox conbox-moshi-conbox4">
				<h1>优质废料采购信息</h2>
				<p>实时人工撮合</p>
			</div>
			<div class="conbox-moshi-conbox conbox-moshi-conbox5">
				<h1>资金安全有保障 </h2>
				<p>银行监管  无拖款押款</p>
			</div>
			<div class="conbox-moshi-conbox conbox-moshi-conbox6">
				<h1>专业物流服务  </h2>
				<p>全程无忧  放心到家</p>
			</div>
		</div>
		<div class="tan">
			<ul>
				<li>
					<input type="text" placeholder="请输入手机号码" class="tan-ipt"/>
				</li>
				<li>
					<input type="text" placeholder="密码" class="tan-ipt"/>
				</li>
				<li>
					<input type="text" placeholder="公司名称" class="tan-ipt"/>
				</li>
				<li>
					<input type="text" placeholder="联系人" class="tan-ipt"/>
				</li>
				<li>
					<input type="text" placeholder="主营产品" class="tan-ipt"/>
				</li>
				<li>
					<select class="tan-set">
						<option>废金属</option>
					</select>
					<i class="xl-btn"></i>
				</li>
			</ul>
			<a href="" class="tan-btn"></a>
		</div>
		<div style="display:none">
	    <script>
	        var _hmt = _hmt || [];
	        (function() {
	            var hm = document.createElement("script");
	            hm.src = "//hm.baidu.com/hm.js?c120670c814d08922e7048797e6472c1";
	            var s = document.getElementsByTagName("script")[0];
	            s.parentNode.insertBefore(hm, s);
	        })();
	    </script>-->
	    <!--baidu analysis-->
	    <script>
	        var _hmt = _hmt || [];
	        
	        (function() {
	            var hm = document.createElement("script");
	            hm.src = "//hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
	            var s = document.getElementsByTagName("script")[0];
	            s.parentNode.insertBefore(hm, s);
	        })();
	    </script>
	</div>
	</body>
	<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
	<script type="text/javascript" src="http://static.m.zz91.com/subject/tuiguan/js/swiper.min.js" ></script>
	<script type="text/javascript">
		var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        nextButton: '.swiper-button-next',
	        prevButton: '.swiper-button-prev',
	        paginationClickable: true,
	        spaceBetween: 30,
	        centeredSlides: true,
	        autoplay: 2500,
	        autoplayDisableOnInteraction: false
	    });
	    
	    $(".sq-btn").click(function(){
	    	window.location='http://m.zz91.com/register/?regfrom=tuiguang'
//	    	var windowHeight=$(window).height(); 
//			var popHeight=$(".tan").height(); 
//			var scrolltop = $(window).scrollTop();
//	    	var popY=(windowHeight-popHeight)/2 + scrolltop; 
//	
//			 //设定窗口的位置 
//			$(".tan").css("top",popY).show("slow");  
	    })
	</script>
</html>
