@charset "utf-8";

body{background:url(../images/bg.jpg)}
.subject_foofer{color:#6b6b6b}
.subject_foofer a{color:#6b6b6b}

.top{height:787px;background:url(../images/top.jpg) no-repeat;background-position:center}
.img1{height:800px;background:url(../images/img1.jpg) no-repeat;background-position:center}
.img2{height:128px;background:url(../images/img2.jpg) no-repeat;background-position:center}
.img3{height:705px;background:url(../images/img3.jpg) no-repeat;background-position:center}

.block{width:960px;margin:0 auto;position:relative}


.a1{width:196px;height:183px;position:absolute;top:30px;left:8px;display:block}
.a2{width:196px;height:30px;position:absolute;top:225px;left:8px;display:block}
.a3{width:196px;height:100px;position:absolute;top:260px;left:8px;display:block}

.a4{width:196px;height:183px;position:absolute;top:30px;left:257px;display:block}
.a5{width:196px;height:30px;position:absolute;top:225px;left:257px;display:block}
.a6{width:196px;height:100px;position:absolute;top:260px;left:257px;display:block}

.a7{width:196px;height:183px;position:absolute;top:30px;left:507px;display:block}
.a8{width:196px;height:30px;position:absolute;top:225px;left:507px;display:block}
.a9{width:196px;height:100px;position:absolute;top:260px;left:507px;display:block}

.a10{width:196px;height:183px;position:absolute;top:30px;left:757px;display:block}
.a11{width:196px;height:30px;position:absolute;top:225px;left:757px;display:block}
.a12{width:196px;height:100px;position:absolute;top:260px;left:757px;display:block}

.a13{width:196px;height:183px;position:absolute;top:433px;left:8px;display:block}
.a14{width:196px;height:30px;position:absolute;top:628px;left:8px;display:block}
.a15{width:196px;height:100px;position:absolute;top:663px;left:8px;display:block}

.a16{width:196px;height:183px;position:absolute;top:433px;left:257px;display:block}
.a17{width:196px;height:30px;position:absolute;top:628px;left:257px;display:block}
.a18{width:196px;height:100px;position:absolute;top:663px;left:257px;display:block}

.a19{width:196px;height:183px;position:absolute;top:433px;left:507px;display:block}
.a20{width:196px;height:30px;position:absolute;top:628px;left:507px;display:block}
.a21{width:196px;height:100px;position:absolute;top:663px;left:507px;display:block}

.a22{width:196px;height:183px;position:absolute;top:433px;left:757px;display:block}
.a23{width:196px;height:30px;position:absolute;top:628px;left:757px;display:block}
.a24{width:196px;height:100px;position:absolute;top:663px;left:757px;display:block}

.a25{width:196px;height:183px;position:absolute;top:30px;left:8px;display:block}
.a26{width:196px;height:30px;position:absolute;top:220px;left:8px;display:block}
.a27{width:210px;height:183px;position:absolute;top:30px;left:227px;display:block}

.a28{width:196px;height:183px;position:absolute;top:30px;left:508px;display:block}
.a29{width:196px;height:30px;position:absolute;top:220px;left:508px;display:block}
.a30{width:210px;height:183px;position:absolute;top:30px;left:726px;display:block}

.a31{width:196px;height:183px;position:absolute;top:323px;left:8px;display:block}
.a32{width:196px;height:40px;position:absolute;top:520px;left:8px;display:block}

.a33{width:196px;height:183px;position:absolute;top:323px;left:258px;display:block}
.a34{width:196px;height:40px;position:absolute;top:520px;left:258px;display:block}

.a35{width:196px;height:183px;position:absolute;top:323px;left:508px;display:block}
.a36{width:196px;height:40px;position:absolute;top:520px;left:508px;display:block}

.a37{width:196px;height:183px;position:absolute;top:323px;left:758px;display:block}
.a38{width:196px;height:40px;position:absolute;top:520px;left:758px;display:block}
