html,body{
	width: 100%;
	height: 13rem;
	font-family: "微软雅黑";
	background: url(../images/band.png) center no-repeat;
	background-size: 100% 100%;	
}
img{
	vertical-align: middle;
}

.logo-qiand{
	position: relative;
}
.logo{
	width: 1.3rem;
	height: 1.3rem;
	top: 0.5125rem;
	left:0.575rem;
	position: absolute;
}
.logo img{
	width: 100%;
	height: 100%;
}
.qiand{
	width: 8rem;
	padding-top: 1.4125rem;
	text-align: center;
}
.qiand-img{
	width: 2.3125rem;
	height: 2.4625rem;
	margin: 0 auto;
}
.qiand-img img{
	width: 100%;
	height: 100%;
}
.qiand-tt{
	font-size: 0.3875rem;
	color: #fff100;
	padding: 0.125rem 0;
}
.qiand-name{
	font-size: 0.3125rem;
	color: #fff;
	line-height: 0.3125rem;
	padding-bottom: 0.125rem;
}
.qiand-time{
	font-size: 0.8375rem;
	color: #fff;
	line-height: 0.8375rem;
}

.main{
	width: 7.075rem;
	height: 4.575rem;
	background: rgba(2,26,6,0.7);
	border: 1px solid rgba(255,255,255,0.3);
	margin: 0.85rem auto 0;
	padding: 0.175rem 0.4375rem;
	border-radius: 2px;
}
.main-p{
	font-size: 0.3125rem;
	color: #fff;
	line-height: 0.6378rem;
}
.main-p span{
	color: #43b478;
}
