

body{background:#02b506;padding:0;marign:0}
.link{text-align:center;margin-top:15px}
.link a{color:#fff;text-decoration:none;font-size:14px}
#bodybg { 
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 0;
}
#bodybg .stretch { 
    width:100%;
} 