<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>ZZ91再生网简易后台</title>
    <link rel="stylesheet" type="text/css" href="../mobile/css/aui.css" />
</head>

<body>
	<div class="aui-content aui-content-padded">
		<br /><a href="trade.html" class="aui-btn aui-btn-success aui-btn-block">供求审核</a><br />
		<a href="huzhu.html" class="aui-btn aui-btn-success aui-btn-block">互助审核</a><br />
		<a href="paylist.html" class="aui-btn aui-btn-success aui-btn-block">支付订单</a><br />
		<a href="servicelist.html" class="aui-btn aui-btn-success aui-btn-block">服务开通单</a><br />
		<a href="shop_product.html" class="aui-btn aui-btn-success aui-btn-block">供求置顶</a><br />
		{%ifequal username 'kangxy'%}<a href="dacong_list.html" class="aui-btn aui-btn-success aui-btn-block">大葱</a>{%endifequal%}<br /><br />
		<a href="zsh/zshlist.html" class="aui-btn aui-btn-success aui-btn-block">展会签到</a><br />
	</div>
</body>
</html>
