body{
	background-color: #c90000;
	max-width: 640px;
	margin: 0 auto
}
img{
	vertical-align: top;
}
.band{
	height: 345px;
	background:url(../images/topband.jpg);
}
.nav{
	background-color: #fee9d4
}
.nav span{
	width: 33.333%;
	display: inline-block;
	float: left;
	height: 60px;
	line-height: 60px;
	color: #666666;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
}
.nav span i{
	background:url(../images/xdngl.png) no-repeat left center;
	height: 50px;
	width:26px;
	display:inline-block;
	vertical-align: middle;
	margin-right: 10px;
	display: none;
}
.nav .thisNav{
	color: #c80000;
	font-size: 26px;
}
.nav .thisNav i{
	display: inline-block;
}
.more-video{
	margin-top: 30px;
}
.video-title{
	text-align: center;
}
.more-video{
	width: 600px;
	margin: 30px auto 0;
}
.big-video{
	position: relative;
	margin-top: 20px;
	overflow: hidden;
}
.video-main{
	height: 360px;
	width: 100%;
	background-color: #000
}
.firm-name{
	height: 60px;
	background-color: #fee9d4;
	line-height: 60px;
	font-size: 18px;
	overflow: hidden;
	text-align: center;
}
.play-img{
	height: 75px;
	width: 77px;
	background:url(../images/lastbg.png);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -38px;
	top: 50%;
	margin-top: -64px;
}
.play-img-sm{
	height: 52px;
	width: 55px;
	background:url(../images/lastbg.png);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -27px;
	top: 50%;
	margin-top: -56px;
}
.small-vd-list{
	width: 620px;
}
.small-vd-list li{
	width: 290px;
	position: relative;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
.video-small{
	width: 100%;
	height: 200px;
	background-color: #ccc;
	text-align: center;
}
.my-vd{
	padding-bottom: 40px;
	width: 600px;
	margin: 40px auto 0;
}
.qidai{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 28px;
	padding: 30px 0px;
	color: #fff
}