<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>实时发布再生资源行业废料最新新闻资讯-zz91再生网资讯中心</title>
	<meta name="keywords" content="废料新闻，废料资讯，废料行业资讯，废料资讯网，废料资讯中心，zz91再生网资讯中心" />
	<meta name="description" content="zz91再生网资讯中心，为国内外废料商家提供最新、最及时的废料资讯，助您快速获得废金属、废塑料、综合废料等各个废料行业的最新信息。" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
    <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
    <link rel="stylesheet" href="http://b.zz91.com/comm/css/comm.css" />
    <link rel="stylesheet" href="http://b.zz91.com/comm/css/foot.css" />
    <link rel="stylesheet" href="http://b.zz91.com/comm/css/top.css" />
    <link rel="stylesheet" href="http://b.zz91.com/infomation/css/index.css" />
    <script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
    <script src="http://b.zz91.com/comm/js/bandMove.js"></script>
    <script src="http://b.zz91.com/comm/js/comm.js"></script>
    <script src="http://b.zz91.com/layer/layer.js"></script>
    <script type="text/javascript" src="http://static.m.zz91.com/aui/js/laytpl.js" ></script>
    <script type="text/javascript" src="http://b.zz91.com/infomation/js/zx-comm.js" ></script>
    <meta http-equiv="mobile-agent" content="format=html5; url=http://m.zz91.com/news/ "/>
	<link rel="alternate" id="mobilecontrol" media="only screen and(max-width:640px)" href="http://m.zz91.com/news/ " >
	{% include 'new/mobilecontrol.html' %}
    <style>
    	.zx-iconlist span{
    		display: block;
    		float: left;
    		margin-right: 10px;
    	}
    	.adlist img{
    		width: 100%;
    	}
    </style>
</head>
	<body>
		{% include 'new/header.html' %}
	    <div class="zx-searchnav">
	    	<div class="zx-searchnav-con">
	    		<div class="fl logo">
	    			<a href="http://www.zz91.com">
	    				<img src="http://b.zz91.com/infomation/images/zx-logo.png">
	    			</a>
	    		</div>
            	<div class="fl page-name">
            		<a href="http://news.zz91.com">
            			<img src="http://b.zz91.com/infomation/images/zx-pagename.png">
            		</a>
            	</div>
            	<div class="fl zx-search">
            		<div class="zx-search-con">
            			<form action="/search/" method="get" onsubmit="if(this.keywords.value==''){alert('请输入关键字');this.keywords.focus();return false;}">
            			<input class="fl j_searchipt" name="keywords" id="keywords" placeholder="搜索您感兴趣的资讯" />
            			<button class="fl zx-search-main" type="submit" style="border: none;"><i class="icon2 zx-search-icon"></i></button>
            			</form>
            		</div>
            	</div>
            	<div class="fr navmain-list">
	                <ul class="clearfix navmain-ul">
	                    <li class="fl thisnav zx-firstli"><a href="index.html">首页</a></li>
	                    <li class="fl"><a href="/zh/">展会聚集</a></li>
	                    <li class="fl"><a href="/hydt/">行业动态</a></li>
	                    <li class="fl"><a href="/cjxw/">财经新闻</a></li>
	                    <li class="fl"><a href="/law/">政策法规</a></li>
	                    <li class="fl"><a href="/tech/">技术文库</a></li>
	                    <!--<li class="fl"><a href="/myorder.html"><img src="http://b.zz91.com/infomation/images/zx-btn_01.png"></a></li>-->
	                </ul>
	            </div>
	    	</div>
	    </div>
	    <div class="zx-center adlist">
	    	<script type="text/javascript" src="http://gg.zz91.com/show?p=235"></script>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="bandbox" style="display: none;">
	    	<div class="band clearfix">
	    		<div class="fl zx-rili">
	    			<div class="zx-rili-title">行业定期峰会活动</div>
	    			<p class="zx-rili-time">距<span>再生塑料订货峰会</span>开幕<br>还有<span class="zx-rili-day">99</span>天</p>
	    			<a class="zx-rili-canjia"></a>
	    		</div>
	    		<div class="fr zx-main">
	    			<ul class="clearfix zx-main-ul">
	    				<li>
	    					<p class="zx-main-dongtai">[ 已结束 ]</p>
	    					<div class="zx-main-con">
	    						<div class="zx-main-conbox"></div>
	    						<p>2016/6/16 </p>
	    						<h2>再生塑料订货峰会</h2>
	    						<p>浙江.杭州</p>
	    					</div>
	    					<p class="zx-main-jieshao clearfix">
	    						<a href="" target="_blank" class="fl">相关介绍</a>
	    						<a href="" target="_blank" class="fl">展会报道</a>
	    					</p>
	    				</li>
	    				<li>
	    					<p class="zx-main-dongtai">[ 已结束 ]</p>
	    					<div class="zx-main-con">
	    						<div class="zx-main-conbox"></div>
	    						<p>2016/6/16 </p>
	    						<h2>再生塑料订货峰会</h2>
	    						<p>浙江.杭州</p>
	    					</div>
	    					<p class="zx-main-jieshao clearfix">
	    						<a href="" target="_blank" class="fl">相关介绍</a>
	    						<a href="" target="_blank" class="fl">展会报道</a>
	    					</p>
	    				</li>
	    				<li>
	    					<p class="zx-main-dongtai zx-main-dongtai-red">[ 即将开始 ]</p>
	    					<div class="zx-main-con">
	    						<div class="zx-main-conbox"></div>
	    						<p>2016/6/16 </p>
	    						<h2>再生塑料订货峰会</h2>
	    						<p>浙江.杭州</p>
	    					</div>
	    					<p class="zx-main-jieshao clearfix">
	    						<a href="" target="_blank" class="fl">相关介绍</a>
	    						<a href="" target="_blank" class="fl">展会报道</a>
	    					</p>
	    				</li>
	    				<li>
	    					<p class="zx-main-dongtai zx-main-dongtai-red">[ 即将开始 ]</p>
	    					<div class="zx-main-con">
	    						<p>2016/6/16 </p>
	    						<h2>再生塑料订货峰会</h2>
	    						<p>浙江.杭州</p>
	    					</div>
	    					<p class="zx-main-jieshao clearfix">
	    						<a href="" target="_blank" class="fl">相关介绍</a>
	    						<a href="" target="_blank" class="fl">展会报道</a>
	    					</p>
	    				</li>
	    			</ul>
	    			<div class="zx-mainbox"></div>
	    		</div>
	    	</div>
	    </div>
	    <div class="zx-center clearfix">
	    	<div class="fl zx-content">
	    		<div class="zx-content-band movebox j_movebox">
		    		<div class="movemian j_movemian clearfix">
		    			{%for list in topadlist%}
				    	<div class="movemod j_movemod"><a href="{{list.url}}" target="_blank"><img src="{{list.picaddress}}"/></a></div>
				    	{%endfor%}
		    		</div>
		    		<div class="pagespan j_page zx-index-page">
					</div>
					<a href="" target="_blank" title="" class="zx-content-band-title">
		    			携手浙商，助力小微企业！
		    		</a>
					<div class="zx-bt-bg"></div>
	    		</div>
	    		
	    		<div class="zx-content-box">
	    			
	    			<div class="zx-content-title" style="float: left;">
	    				<img src="http://b.zz91.com/infomation/images/zx-title_02.png" />
	    			</div>
	    			<div class="zx-content-title zx-hy-title">
	    				<ul class="hq-type-ul fr">
		                    <li class="fl myorder"><a>我的订阅</a></li>
		                    <li class="fl myfavorite"><a>我的收藏</a></li>
		                </ul>
	    			</div>
	    			<div class="clear"></div>
	    			<ul class="myorderlist">
	    				{%for list in hotnewslist%}
	    				<li class="clearfix">
	    					{%if list.has_pic%}
	    					<a href="{{list.weburl}}" target="_blank" class="fl zx-content-pic">
	    						<img src="{{list.litpic}}" />
	    					</a>
	    					{%endif%}
	    					<div class="fl zx-content-main {%if list.has_pic%}{%else%}zx-content-main3{%endif%}">
	    						<a href="{{list.weburl}}" target="_blank" class="zx-content-main-name">{{list.title}}</a>
	    						<p class="zx-content-main-con">{{list.content}}……</p>
	    						<div class="zx-content-main-time clearfix">
	    							<span class="fl">{{list.pubdate}}</span>
	    							<div class="fr zx-iconlist">
	    								<span><i class="fl icon2 zx-iconlist1" newsid="{{list.id}}"></i><span>{{list.goodpost}}</span></span>
	    								<span><i class="fl icon2 zx-iconlist2" newsid="{{list.id}}"></i><span>{{list.favoritecount}}</span></span>
	    								<span></span><i class="fl icon2 zx-iconlist3" title="{{list.title}}" pic="{{list.litpic}}" url="{{list.weburl}}" content="{{list.content}}"></i></span>
	    							</div>
	    						</div>
	    					</div>
	    				</li>
	    				{%endfor%}
	    			</ul>
	    			<div class="morebtn ordermore" style="display: none;color: #fff;">阅读更多 <span class="icon2 sj-xs"></span></div>
	    			<div class="morebtn favoritemore" style="display: none;color: #fff;">阅读更多 <span class="icon2 sj-xs"></span></div>
	    			<script id="info-list" type="text/html">
    				<li class="clearfix">
    					<a href="<%d.weburl%>" target="_blank" class="fl zx-content-pic" style="<%d.picstyle%>;">
    						<img src="<%d.litpic%>" />
    					</a>
    					<div class="fl zx-content-main <%d.picclass%>">
    						<a href="<%d.weburl%>" target="_blank" class="zx-content-main-name"><%d.title%></a>
    						<p class="zx-content-main-con"><%d.content%>……</p>
    						<div class="zx-content-main-time clearfix">
    							<span class="fl"><%d.pubdate%></span>
    							<div class="fr zx-iconlist">
    								<span><i class="fl icon2 zx-iconlist1" newsid="<%d.id%>"></i><span><%d.goodpost%></span></span>
    								<span><i class="fl icon2 zx-iconlist2" newsid="<%d.id%>" style="<%d.favoritecss%>"></i><span><%d.favoritecount%></span></span>
    								<span><i class="fl icon2 zx-iconlist3" title="<%d.title%>" pic="<%d.litpic%>" url="<%d.weburl%>" content="<%d.content%>"></i></span>
    							</div>
    						</div>
    					</div>
    				</li>
    				</script>
	    		</div>
	    		
	    		<div class="zx-content-box">
	    			<div class="zx-content-title">
	    				<img src="http://b.zz91.com/infomation/images/zx-title_06.png" />
	    				<a href="/cjxw/" target="_blank" class="fr zx-xsall">
	    					显示全部<i class="icon2 zx-xsicon"></i>
	    				</a>
	    			</div>
	    			<ul>
	    				{%for list in cjlist%}
	    				<li class="clearfix">
	    					{%if list.has_pic%}
	    					<a href="{{list.weburl}}" target="_blank" class="fl zx-content-pic">
	    						<img src="{{list.litpic}}" />
	    					</a>
	    					{%endif%}
	    					<div class="fl zx-content-main {%if list.has_pic%}{%else%}zx-content-main3{%endif%}">
	    						<a href="{{list.weburl}}" target="_blank" class="zx-content-main-name">{{list.title}}</a>
	    						<p class="zx-content-main-con">{{list.content}}……</p>
	    						<div class="zx-content-main-time clearfix">
	    							<span class="fl">{{list.pubdate}}</span>
	    							<div class="fr zx-iconlist">
	    								<span><i class="fl icon2 zx-iconlist1" newsid="{{list.id}}"></i><span>{{list.goodpost}}</span></span>
	    								<span><i class="fl icon2 zx-iconlist2" newsid="{{list.id}}"></i><span>{{list.favoritecount}}</span></span>
	    								<span></span><i class="fl icon2 zx-iconlist3" title="{{list.title}}" pic="{{list.litpic}}" url="{{list.weburl}}" content="{{list.content}}"></i></span>
	    							</div>
	    						</div>
	    					</div>
	    				</li>
	    				{%endfor%}
	    			</ul>
	    			<a class="morebtn" href="/cjxw/" style="display: block;color: #fff;">阅读更多 <span class="icon2 sj-xs"></span></a>
	    		</div>
	    		
	    		<div class="zx-content-box">
	    			<div class="zx-content-title">
	    				<img src="http://b.zz91.com/infomation/images/zx-title_05.png" class="fl"/>
	    				<a href="/hydt/" target="_blank" class="fr zx-xsall">
	    					显示全部<i class="icon2 zx-xsicon"></i>
	    				</a>
	    			</div>
	    			<ul class="clearfix zx-box2">
	    				{%for list in hylist%}
	    				<li class="clearfix fl zx-box2-li">
	    					{%if list.has_pic%}
	    					<a href="{{list.weburl}}" target="_blank" class="zx-content-pic2">
	    						<img src="{{list.litpic}}" />
	    					</a>
	    					{%endif%}
	    					<div class="zx-content-main2">
	    						<a href="{{list.weburl}}" target="_blank" class="zx-content-main-name zx-content-main-name2">{{list.title}}</a>
	    						<p class="zx-content-main-con zx-content-main-con2">{{list.content}}……</p>
	    						<div class="zx-content-main-time clearfix">
	    							<span class="fl">{{list.pubdate}}</span>
	    							<div class="fr zx-iconlist">
	    								<span><i class="fl icon2 zx-iconlist1" newsid="{{list.id}}"></i><span>{{list.goodpost}}</span></span>
	    								<span><i class="fl icon2 zx-iconlist2" newsid="{{list.id}}"></i><span>{{list.favoritecount}}</span></span>
	    								<span></span><i class="fl icon2 zx-iconlist3" title="{{list.title}}" pic="{{list.litpic}}" url="{{list.weburl}}" content="{{list.content}}"></i></span>
	    							</div>
	    						</div>
	    					</div>
	    				</li>
	    				{%endfor%}
	    			</ul>
	    			<a class="morebtn" href="/hydt/" style="display: block;color: #fff;">阅读更多 <span class="icon2 sj-xs"></span></a>
	    		</div>
	    		
	    		<div class="zx-content-box">
	    			<div class="zx-content-title">
	    				<img src="http://b.zz91.com/infomation/images/zx-title_03.png" class="fl"/>
	    				<a href="/law/" target="_blank" class="fr zx-xsall">
	    					显示全部<i class="icon2 zx-xsicon"></i>
	    				</a>
	    			</div>
	    			<ul class="clearfix">
	    				{%for list in zclist%}
	    				<li class="clearfix">
	    					{%if list.has_pic%}
	    					<a href="{{list.weburl}}" target="_blank" class="fl zx-content-pic">
	    						<img src="{{list.litpic}}" />
	    					</a>
	    					{%endif%}
	    					<div class="fl zx-content-main {%if list.has_pic%}{%else%}zx-content-main3{%endif%}">
	    						<a href="{{list.weburl}}" target="_blank" class="zx-content-main-name">{{list.title}}</a>
	    						<p class="zx-content-main-con">{{list.content}}……</p>
	    						<div class="zx-content-main-time clearfix">
	    							<span class="fl">{{list.pubdate}}</span>
	    							<div class="fr zx-iconlist">
	    								<span><i class="fl icon2 zx-iconlist1" newsid="{{list.id}}"></i><span>{{list.goodpost}}</span></span>
	    								<span><i class="fl icon2 zx-iconlist2" newsid="{{list.id}}"></i><span>{{list.favoritecount}}</span></span>
	    								<span></span><i class="fl icon2 zx-iconlist3" title="{{list.title}}" pic="{{list.litpic}}" url="{{list.weburl}}" content="{{list.content}}"></i></span>
	    							</div>
	    						</div>
	    					</div>
	    				</li>
	    				{%endfor%}
	    			</ul>
	    			<a class="morebtn" href="/law/" style="display: block;color: #fff;">阅读更多 <span class="icon2 sj-xs"></span></a>
	    		</div>
	    		
	    	</div>
	    	
	    	<div class="fr zx-listright">
	    		<div class="zx-listright-box" style="margin-bottom: 20px;">
	    			<!--<div class="zx-listright-top">
	    				<div class="zx-listright-top-name">
	    					<a href="" target="_blank" class="zx-listright-top-img">
	    						<img src="http://b.zz91.com/infomation/images/zx-images_02.png" />
	    					</a>
	    					<div class="zx-name-bg"></div>
	    					<a href="" target="_blank" class="zx-listright-top-name-a">再生有色金属迎发展良机？</a>
	    				</div>
	    			</div>-->
	    			<div class="zx-erweima clearfix">
	    				<div class="zx-erweima-pic fl">
	    					<img src="http://b.zz91.com/infomation/images/zx-erweima.png" />
	    				</div>
	    				<p class="zx-saoma fl">更多资讯扫描关注<br /> ZZ91微信公众号</p>
	    			</div>
	    		</div>
	    		
	    		<div class="zx-listright-box zx-rmdy" >
	    			<div class="zx-listright-title clearfix">
	    				<div class="fl zx-listright-name">
	    					<img src="http://b.zz91.com/infomation/images/zx-title_01.png" />
	    				</div>
	    			</div>
	    			<ul>
	    				{%for list in guanzhulist%}
	    				<li class="clearfix zx-dingyue">
	    					<div class="zx-listright-img fl">
	    						<img src="{{list.typedir}}" />
	    					</div>
	    					<div class="zx-dingyue-con fl">
	    						<p>{{list.typename}}</p>
	    						<div class="zx-listright-btn guanzhu" id="gz{{list.id}}" typeid="{{list.id}}" typename="{{list.typename}}" closeflag=0>
	    							+订阅
	    						</div>
	    					</div>
	    				</li>
	    				{%endfor%}
	    			</ul>
	    			<div class="zx-listright-search">
	            		<div class="zx-search-con">
	            			<form action="/search/" method="get" onsubmit="if(this.keywords.value==''){alert('请输入关键字');this.keywords.focus();return false;}">
	            			<input class="fl j_searchipt" placeholder="搜索您感兴趣的资讯" name="keywords" />
	            			<button class="fl zx-search-main" style="border: none;"><i class="icon2 zx-search-icon"></i></button>
	            			</form>
	            		</div>
	            	</div>
	    		</div>
	    	</div>
	    </div>
	    
	    <div class="zx-tanbox zx-tan-canhui">
	    	<div class="zx-tanbox-title">
	    		参会信息
	    		<i class="icon2 zx-tanbox-close"></i>
	    	</div>
	    	<div class="zx-ch-con">
	    		<ul>
	    			<li class="clearfix">
	    				<span class="fl">公司名称：</span>
	    				<input type="text" placeholder="" class="fl zx-ch-ipt"/>
	    			</li>
	    			<li class="clearfix">
	    				<span class="fl">姓名：</span>
	    				<input type="text" placeholder="" class="fl zx-ch-ipt"/>
	    			</li>
	    			<li class="clearfix">
	    				<span class="fl">所在地区：</span>
	    				<input type="text" placeholder="" class="fl zx-ch-ipt"/>
	    			</li>
	    			<li class="clearfix">
	    				<span class="fl">联系方式：</span>
	    				<input type="text" placeholder="" class="fl zx-ch-ipt"/>
	    			</li>
	    			<li class="clearfix">
	    				<a class="zx-ch-btn">提 交</a>
	    			</li>
	    		</ul>
	    	</div>
	    </div>
	    
	    
	    
		<script>
		var zzajaxnew = function(method, url, data, successCallback, errorCallback) {
		    $.ajax({
		        type: method,
		        url: url,
		        data: data,
		        dataType: "json",   //返回格式为json
		        traditional: true,
		        cache:false, 
		        success: function(ret) {
		            successCallback && successCallback(ret);
		        },
		        error: function(err) {
		            errorCallback && errorCallback(err);
		        }
		    });
		}
		$(function() {
			
			$(".j_movebox").myPlugin({
				"pageidx": "j_page", //页面标识
				"Carousel": true, //是否轮播
				'lagtime': 3000, //切换间隔时间
				'speed': 300 //切换数度
			}, getOther) //回调函数接收图片参数		
			function getOther(n){
				$(".zx-content-band-title").html($(".j_movemian a").eq(n).attr('title')); 
				$(".zx-content-band-title").attr("href",($(".j_movemian a").eq(n).attr('href'))); 
			}
			//报名
			$(".zx-rili-canjia").click(function(){
				popShow("zx-tan-canhui");
				
		    })
			
			
			//分享
			var sharedata={
				url: window.location.href,
		        title: document.title,
		        content: '',
		        pic: ''
			}
			
			$(".share").click(function(){
				var qzone = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={url}&title={title}&pics={pic}&summary={content}';
				var sina = 'http://service.weibo.com/share/share.php?url={url}&title={title}&pic={pic}&searchPic=false';
				var tqq = 'http://share.v.t.qq.com/index.php?c=share&a=index&url={url}&title={title}&appkey=801cf76d3cfc44ada52ec13114e84a96';
				var douban = 'http://www.douban.com/share/service?href={url}&name={title}&text={content}&image={pic}';
				var weixin = '/verifycode.html?arg={url}';
				
				var scss=$(this).attr("class");
				if (scss=="share share_qzone"){
					var shareurl=replaceAPI(qzone,sharedata)
					window.open(shareurl);
				}
				if (scss=="share share_sina"){
					var shareurl=replaceAPI(sina,sharedata)
					window.open(shareurl);
				}
				if (scss=="share share_qq"){
					var shareurl=replaceAPI(tqq,sharedata)
					window.open(shareurl);
				}
				if (scss=="share share_douban"){
					var shareurl=replaceAPI(douban,sharedata)
					window.open(shareurl);
				}
				if (scss=="share share_weixin") {
					var shareurl = replaceAPI(weixin, sharedata);
					layer.open({
						type: 1,
						shade: false,
						title: false, //不显示标题
						area: ['360px', '360px'],
						content: "<div style='text-align:center'><img src='"+shareurl+"'></div>", //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
						cancel: function() {
							
						}
					});
					//window.open(shareurl);
				}
			})

			function replaceAPI(api, options) {
				api = api.replace('{url}', options.url);
				api = api.replace('{title}', options.title);
				api = api.replace('{content}', options.content);
				api = api.replace('{pic}', options.pic);
				return api;
			}
			//分享
			$("body").on("click",".zx-iconlist3",function(){
				popShow("zx-tan-fenxiang");
				sharedata.title=$(this).attr("title");
				sharedata.pic=$(this).attr("pic");
				sharedata.url="http://news.zz91.com"+$(this).attr("url");
				sharedata.content=$(this).attr("content");
		    })
			//登录状态
	        var loginstatus = function(successCallback) {
	        	var c=window.location.href;
	        	$(".logintext").attr("href","http://www.zz91.com/login.htm?url="+c);
	        	var ajaxurl = "http://www.zz91.com/getLoginStatus.htm?p=" + (new Date()).getTime().toString();
	        	$.getScript(ajaxurl, function(ret) {
	        		successCallback && successCallback(success);
	        	});
	        }
	        //点赞
	        $("body").on("click",".zx-iconlist1",function(){
	        	var c=window.location.href;
	        	var newsid=$(this).attr("newsid");
	        	var self=$(this);
	        	layer.load(2)
				loginstatus(function(ret){
					if (ret=='false'){
						window.location='http://www.zz91.com/login.htm?url='+c;
					}else{
						var data={
							newsid:newsid,
							company_id:companyId
						}
						zzajaxnew("get","/dianzhan.html",data,function(ret){
							if (ret.err=='false'){
								layer.msg(ret.errkey);
								if (ret.type=="zhan"){
									self.css("background-position","-1px -24px");
									var zcount=self.parent().find("span");
									zcount.html(parseInt(zcount.html())+1);
								}else{
									self.css("background-position","-1px -1px");
									var zcount=self.parent().find("span");
									if (parseInt(zcount.html())>0){
										zcount.html(parseInt(zcount.html())-1);
									}
								}
							}else{
								layer.msg(ret.errkey);
							}
							layer.closeAll("loading")
						},function(){
							layer.msg('错误');
							layer.closeAll("loading")
						})
					}
				});
		    })
	        //订阅
	        $(".zx-dingyue-con .guanzhu").click(function(){
	        	var c=window.location.href;
	        	var typeid=$(this).attr("typeid");
	        	var tags=$(this).attr("typename");
	        	var closeflag=$(this).attr("closeflag");
	        	var self=$(this);
				loginstatus(function(ret){
					if (ret=='false'){
						window.location='http://www.zz91.com/login.htm?url='+c;
					}else{
						var data={
							typeid:typeid,
							tags:tags,
							close:closeflag,
							company_id:companyId
						}
						zzajaxnew("get","/insert_myguanzhu.html",data,function(ret){
							if (ret.err=='false'){
								if (ret.gzflag==1){
									layer.msg('关注成功！');
									$("#gz"+typeid).addClass("zx-listright-btn2");
									$("#gz"+typeid).addClass("unguanzhu");
									$("#gz"+typeid).html("取消");
									$("#gz"+typeid).removeClass("guanzhu");
									$("#gz"+typeid).attr("closeflag",1);
								}else{
									layer.msg('取消成功！');
									$("#gz"+typeid).removeClass("zx-listright-btn2");
									$("#gz"+typeid).addClass("guanzhu");
									$("#gz"+typeid).html("+订阅");
									$("#gz"+typeid).removeClass("unguanzhu");
									$("#gz"+typeid).attr("closeflag",0)
								}
								//订阅信息
				        		var data={
									company_id:companyId
								}
				        		myorderlist(data,1)
								
							}else{
								layer.msg(ret.errkey);
							}
						},function(){
							layer.msg('错误')
						})
					}
				});
		    })
	        //我的收藏
	        
	        $(".myfavorite").click(function(){
				var c=window.location.href;
	        	var self=$(this);
	        	$(".this-hq-type").removeClass("this-hq-type")
	        	self.addClass("this-hq-type")
				loginstatus(function(ret){
					if (ret=='false'){
						window.location='http://www.zz91.com/login.htm?url='+c;
					}else{
						var data={
							company_id:companyId
						}
						myfavoritelist(data,1)
					}
				});
		    })
	        //我的定制
	        $(".myorder").click(function(){
				var c=window.location.href;
	        	var self=$(this);
	        	$(".this-hq-type").removeClass("this-hq-type")
	        	self.addClass("this-hq-type")
				loginstatus(function(ret){
					if (ret=='true'){
						var data={
							company_id:companyId
						}
						myorderlist(data,1)
					}else{
						window.location='http://www.zz91.com/login.htm?url='+c;
					}
				});
		    })
	        var orderpage=1;
	        $(".ordermore").click(function(){
				var c=window.location.href;
	        	var self=$(this);
				loginstatus(function(ret){
					if (ret=='true'){
						orderpage=orderpage+1;
						var data={
							company_id:companyId,
							page:orderpage,
						}
						myorderlist(data,orderpage);
					}else{
						window.location='http://www.zz91.com/login.htm?url='+c;
					}
				});
		    })
	        var favoritepage=1;
	        $(".favoritemore").click(function(){
				var c=window.location.href;
	        	var self=$(this);
				loginstatus(function(ret){
					if (ret=='true'){
						favoritepage=favoritepage+1;
						var data={
							company_id:companyId,
							page:favoritepage
						}
						myfavoritelist(data,favoritepage);
					}else{
						window.location='http://www.zz91.com/login.htm?url='+c;
					}
				});
		    })
	        
	        
	        //收藏
	        $("body").on("click",".zx-iconlist2",function(){
	        	var c=window.location.href;
	        	var newsid=$(this).attr("newsid");
	        	var self=$(this);
				loginstatus(function(ret){
					layer.load(2)
					if (ret=='false'){
						window.location='http://www.zz91.com/login.htm?url='+c;
					}else{
						var data={
							content_id:newsid,
							favorite_type_code:'10091012',
							company_id:companyId
						}
						zzajaxnew("get","/favorite.html",data,function(ret){
							if (ret.err=='false'){
								layer.msg(ret.errkey);
								if (ret.type=="unfavorite"){
									self.css("background-position","-1px -46px");
									var zcount=self.parent().find("span");
									if (parseInt(zcount.html())>0){
										zcount.html(parseInt(zcount.html())-1);
									}
									favoriteflag=0
								}else{
									self.css("background-position","-1px -67px");
									favoriteflag=1
									var zcount=self.parent().find("span");
									zcount.html(parseInt(zcount.html())+1);
								}
							}else{
								layer.msg(ret.errkey);
							}
							layer.closeAll("loading")
						},function(){
							layer.msg('错误');
							layer.closeAll("loading")
						})
					}
				});
		    })
	        loginstatus(function(ret){
	        	
	        	if (ret=='true'){
	        		//订阅信息
	        		var data={
						company_id:companyId
					}
	        		//myorderlist(data)
	        		var nlist='';
	        		$.each($('.zx-iconlist1'), function(i, item) {
	        			var newsid=$('.zx-iconlist1').eq(i).attr("newsid");
	        			nlist=nlist+newsid+",";
	        		})
	        		var data={
						newsid:nlist,
						company_id:companyId
					}
	        		//点赞情况
	        		zzajaxnew("get","/isdianzhan.html",data,function(ret){
						if (ret.err=='false'){
							var zhanlist=ret.zhanlist;
							$.each(zhanlist, function(i, item) {
								if (item==1){
									$('.zx-iconlist1').eq(i).css("background-position","-1px -24px");
								}
							})
						}
					},function(){
					})
	        		//收藏情况
	        		zzajaxnew("get","/isfavorite.html",data,function(ret){
						if (ret.err=='false'){
							var favortelist=ret.favortelist;
							$.each(favortelist, function(i, item) {
								if (item==1){
									$('.zx-iconlist2').eq(i).css("background-position","-1px -67px");
								}
							})
						}
					},function(){
					})
	        		//我的订阅
	        		zzajaxnew("get","/myguanzhu.html",data,function(ret){
						if (ret.err=='false'){
							var guanzhu=ret.guanzhu;
							$.each(guanzhu, function(i, item) {
								$("#gz"+item.typeid).addClass("zx-listright-btn2");
								$("#gz"+item.typeid).addClass("unguanzhu");
								$("#gz"+item.typeid).html("取消");
								$("#gz"+item.typeid).removeClass("guanzhu");
								$("#gz"+item.typeid).attr("closeflag",1);
							})
						}
					},function(){
					})
	        		
				}else{
					//myorderlist(data)
				}
	        })
	        $(".zx-tanbox-close").click(function(){
				$(".zx-tanbox").hide();
				$(".zx-tan").hide();
			})
	    })
		//获取我的订阅资讯
		function myorderlist(data,orderpage){
			layer.load(2)
			zzajaxnew("get","/myorderlist.html?"+(new Date()).getTime().toString(),data,function(ret){
				if (ret.err=='false'){
					var pageHtml='';
					var nlist='';
					$.each(ret.list.list, function(index, item) {
						if (item){
							//var getTpl = $("#info-list").html();
							if (item.has_pic==''){
								item.picstyle="display:none";
								item.picclass='zx-content-main3'
							}else{
								item.picstyle="";
								item.picclass=''
							}
							item.favoritecss=''
							var getTpl = document.getElementById('info-list').innerHTML;
							laytpl(getTpl).render(item, function(html) {
								pageHtml = pageHtml + html;
							});
							nlist=nlist+item.id+","
						}
					})
					if (orderpage==1){
						$(".myorderlist").html(pageHtml);
					}else{
						$(".myorderlist").append(pageHtml);
					}
					data.newsid=nlist;
	        		//点赞情况
	        		zzajaxnew("get","/isdianzhan.html",data,function(ret){
						if (ret.err=='false'){
							var zhanlist=ret.zhanlist;
							$.each(zhanlist, function(i, item) {
								if (item==1){
									$('.myorderlist').find(".zx-iconlist1").eq(i).css("background-position","-1px -24px");
								}
							})
						}
					},function(){
					})
	        		//收藏情况
	        		zzajaxnew("get","/isfavorite.html",data,function(ret){
						if (ret.err=='false'){
							var favortelist=ret.favortelist;
							$.each(favortelist, function(i, item) {
								if (item==1){
									$('.zx-iconlist2').eq(i).css("background-position","-1px -67px");
								}
							})
						}
					},function(){
					})
					$(".ordermore").show();
					$(".favoritemore").hide();
					$(".this-hq-type").removeClass("this-hq-type")
	        		$(".myorder").addClass("this-hq-type")
					layer.closeAll("loading");
				}
			},function(){
				layer.closeAll("loading");
			})
		}
		//获取我的收藏资讯
		function myfavoritelist(data,favoritepage){
			layer.load(2)
			zzajaxnew("get","/myfavoritelist.html?"+(new Date()).getTime().toString(),data,function(ret){
				if (ret.err=='false'){
					var pageHtml=''
					var nlist=''
					$.each(ret.list, function(index, item) {
						if (item){
							//var getTpl = $("#info-list").html();
							if (item.has_pic==''){
								item.picstyle="display:none";
								item.picclass='zx-content-main3'
							}else{
								item.picstyle="";
								item.picclass=''
							}
							if (item.isfavorite==1){
								item.favoritecss="background-position:-1px -67px"
							}else{
								item.favoritecss=''
							}
							var getTpl = document.getElementById('info-list').innerHTML;
							laytpl(getTpl).render(item, function(html) {
								pageHtml = pageHtml + html;
							});
							nlist=nlist+item.id+","
						}
					})
					if (favoritepage==1){
						$(".myorderlist").html(pageHtml);
					}else{
						$(".myorderlist").append(pageHtml);
					}
					if (pageHtml==""){
						layer.msg("加载完成！")
						$(".favoritemore").hide();
					}else{
						$(".ordermore").hide();
						$(".favoritemore").show();
					}
					data.newsid=nlist;
	        		//点赞情况
	        		zzajaxnew("get","/isdianzhan.html",data,function(ret){
						if (ret.err=='false'){
							var zhanlist=ret.zhanlist;
							$.each(zhanlist, function(i, item) {
								if (item==1){
									$('.myorderlist').find(".zx-iconlist1").eq(i).css("background-position","-1px -24px");
								}
							})
						}
					},function(){
					})
					layer.closeAll("loading");
				}
			},function(){
				layer.closeAll("loading");
			})
		}
        function popShow(obj) {
        	var popH = $("."+obj);
			 //设定窗口的位置 	
			var windowHeight=$(window).height(); 
			var popHeight=popH.height(); 
			var scrolltop = $(window).scrollTop();
	    	var popY=(windowHeight-popHeight)/2 + scrolltop; 
	    	popH.css("top",popY).show();
			$(".zx-tan").show();
		}
		</script>
		{% include 'new/footer.html' %}
	</body>
</html>

