
<!DOCTYPE HTML>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="address=no" name="format-detection" />
	<meta name="apple-mobile-web-app-capable" content="no" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
	<meta name="apple-touch-fullscreen" content="YES">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>微信绑定</title>
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.2.0.css"/>
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.css"/>
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/common.css"/>
	<script type="text/javascript" src="http://static.m.zz91.com/aui/js/jquery.js"></script>
	<script type="text/javascript" src="http://static.m.zz91.com/aui/js/comm.js" ></script>
	<script type="text/javascript" src="http://static.m.zz91.com/layer/layer.js"></script>
    <style type="text/css">
    body {
        background-color: #F1F1F1
    }
    .aui-card {
        margin-top: 15px;
    }
    .aui-input-addon.aui-iconfont {
        font-size: 20px;
    }
    </style>
</head>
<body>
	<header class="aui-bar aui-bar-nav aui-bar-primary">
    	<a class="aui-pull-left" href="javascript:history.back(-1)">
	        <span class="aui-iconfont aui-icon-left"></span>
	    </a>
	    <div class="aui-title">微信绑定</div>
	    <a class="aui-pull-right settings" href="/myrc_index/">
	        <span class="aui-iconfont aui-icon-myfill"></span>
	    </a>
	</header>
    <div class="aui-content aui-card aui-noborder">
        <div class="aui-form">
            <div class="aui-input-row">
                <i class="aui-input-addon aui-iconfont aui-icon-mobilefill aui-text-warning"></i>
                <input type="text" id="mobile" class="aui-input" placeholder="手机号" style="color:#999" value=""/>
            </div>
            <div class="aui-input-row">
                <input type="number" class="aui-input" id="code" placeholder="请输入收到的验证码"/>
                <span class="aui-input-addon">
                    <div class="aui-btn" id="sendVerify" status="1" tapmode>获取验证码</div>
                </span>
            </div>
            <input type="hidden" id="weixinid" value="{{weixinid}}"/> 
            <div class="aui-btn-row">
                <div class="aui-btn aui-btn-block aui-btn-warning modifiedbutton" >确定绑定</div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var isinerval,times;
    $(function(){
        $("#sendVerify").on("click", function() {
        	var mobile=$("#mobile").val();
        	if (mobile.length==0 || !mobile || mobile==''){
				layer.msg("请输入手机！");
				document.getElementById("mobile").focus();
				return false;
			}
			getVerify();
		});
		//确定重置
		$(".modifiedbutton").on("click", function() {
			var code=$("#code").val();
			if (code.length==0){
				layer.msg("请输入验证码！");
				return false;
			}
			if ($("#mcompany_id").val()==""){
				layer.msg("验证码错误！");
				return false;
			}
			var data={
				datatype : "json",
				yzcode : code,
				weixinid:$("#weixinid").val(),
	        }
			zzajax("post","/agent/bind.html",data,function(ret){
				if (ret){
					layer.msg(ret.errkey)
					if (ret.err=="false"){
						layer.msg("绑定成功！");
						window.location='/agent/list.html'
					}
					//alert(JSON.stringify( ret ))
				}else{
					layer.msg("系统错误！");
				}
			});
		});
    })
    function getVerify() {
        var status = $("#sendVerify").attr('status');
        if(status!=1){
            return;
        }
        var data={
			datatype : "json",
			forgettype:'forgetpasswd',
			mobile:$("#mobile").val(),
        }
        zzajax("post","/agent/auth_yzmcode.html",data,function(ret){
			if (ret){
				if (ret.err=="true"){
					layer.msg(ret.errkey)
				}else{
					$("#mcompany_id").val(ret.company_id)
					layer.msg(ret.errkey)
					$("#sendVerify").attr('status','0');
			        $("#sendVerify").html('<span id="GetVerify">120</span>S');
			        times = 119;
			        isinerval = setInterval("CountDown()", 1000);
			        setTimeout(function(){
			        },500)
				}
			}else{
				layer.msg("系统错误！");
			}
		});
    }
    function CountDown() {
        if (times < 1) {
            $("#sendVerify").attr('status','1');
            $("#sendVerify").html('重新获取');
            clearInterval(isinerval);
            return;
        }
        $("#GetVerify").html(''+times+'');
        times--;
    }
</script>
</html>