<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="address=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="no" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>请选择代理商</title>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.2.0.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/common.css"/>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/jquery.js"></script>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/comm.js" ></script>
		<script type="text/javascript" src="http://static.m.zz91.com/layer/layer.js"></script>
	</head>
	<body>
		<p class="aui-text-center">你是哪个代理商，请认真选择</p>
	    <div class="aui-content">
	        <ul class="aui-list-view">
	            <li class="aui-list-view-cell">
	                <div class="aui-arrow-right aui-ellipsis-2">
	                如果标题太长可以加一个省略来控制一下如果标题太长可以加一个省略来控制一下
	                </div>
	            </li>
	        </ul>
	    </div>
	</body>
</html>
