html {font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {margin: 0; font: 400 12px/1.5 "\5B8B\4F53", Arial, Helvetica, sans-serif; color:#333; }
a { text-decoration: none; color: #6b6b6b;}
p { margin: 0;}
ul {list-style: none; list-style-image: none;}
img {border: 0;-ms-interpolation-mode: bicubic;}
figure, form, dl, dt, dd, ul, ol {margin: 0;padding: 0;}
button,input,select,textarea {font-size: 100%; margin: 0;vertical-align: baseline; outline: 0 none; }
button,input {line-height: normal;}
button,input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer; -webkit-appearance: button;*overflow: visible;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto;vertical-align: top;}
table {border-collapse: collapse;border-spacing: 0;}
.clearfix:after { clear: both; content: " "; display: block; height: 0; visibility: hidden; }
.clearfix { zoom:1; }
.clearfix { display:block; } 
.hidden { display: none;}
/*reset end*/

.container { margin: 0 auto 10px; width: 962px;}
.head { height: 313px;}
.left { float: left; width: 460px;}
.right { float: right; width: 474px;}

.u1 li { padding-left: 55px; height: 46px; background: url(../images/dot1.png) 33px no-repeat; line-height: 46px; border-bottom: 1px dotted #444;}
.u1 li a, .u2 li a, .u3 li a { color: #7f3a08; font-size: 15px;}
.u2 li { padding-left: 55px; height: 26px; background: url(../images/dot2.png) 33px no-repeat; line-height: 26px;}
.u3 li { padding-left: 55px; height: 31px; background: url(../images/dot3.png) 30px no-repeat; line-height: 31px;}

.qq { background-color: #fff9d0; border: 1px solid #9a5400;}
.qq .c { padding: 10px 0;}
.qq dl { position: relative; margin: 0 auto; padding: 0 18px; width: 422px; height: 384px; background-color: #fff; border: 1px solid #969696; overflow: hidden;}
.qq li { height: 32px; border-bottom: 1px dashed #777; text-align: right; line-height: 32px;}
.qq li span { float: left; }

.block { float: left; margin-right: 4px; width: 235px; height: 195px; border: 1px solid #995302;}
.block .bt { height: 36px; background: url(../images/tr.png) repeat-x; line-height: 36px; font-size: 15px; text-align: center; color: #fff; font-weight: bold; text-overflow: ellipsis;}
.block .bc { }
.block .bc p { padding: 5px 8px 0; height: 130px; font-size: 14px; color: #626262; line-height: 20px; text-indent: 2em;}
.block .bc a { display: block; color: #007efe; font-size: 14px; text-align: right;}

.nomargin { margin-right: 0;}

.wb { position: relative; width: 459px; height: 143px; background: url(../images/wb.png) 0 0 no-repeat;}
.wb iframe { position: absolute; top: 100px; right: 0px;}