@charset "utf-8";
/* CSS Document */

body{ background-color:#DC7C00;}
body img{ vertical-align:bottom;}
body a{ cursor:pointer; color:#262626;}
body a:hover{ color:#0774ac;}
.djs_mk_p{ margin:0 auto; background:url(../images/2011hbdj_01.jpg) no-repeat top center;}
.djs_dul_p{ position:relative;}
.djs_xmk_p{ width:958px; margin:0 auto;}
.month{height:210px; width:309px; position:relative; margin:9px 3px;}
.djs_xmksmt_p{ padding:3px 0 0 7px;}
.p1{ height:97px; width:128px; _width:110px;float:left; margin:0 0 0 16px;}
.p2{font:14px/26px '宋体'; margin:0 4px 0 16px;text-indent:2em; color:#262626;}
.pw280px{ position:absolute; top:62px; left:0px;}

.djs_xmksse_p{position:relative;}
.tsimg{position:absolute;top:-8px;_top:-7px; left:-10px;}
.djs_xmkssei_p{ margin-left:242px;}
.djs_xmkssei_p img{ margin:43px 0px 8px 6px;_margin-top:31px;}
.spring_p{ position:absolute; top:110px; left:35px;}
.spring_p p a{ color:#EF3688;}
.spring_p p a:hover{ color:#0774ac;}
.summer_p{ position:absolute; top:110px; left:266px;}
.summer_p p a{ color:#018BA7;}
.summer_p p a:hover{ color:#0774ac;}
.autumn_p{ position:absolute; top:110px; left:500px;}
.autumn_p p a{ color:#DA6B1A;}
.autumn_p p a:hover{ color:#0774ac;}
.winter_p{ position:absolute; top:110px; left:734px;}
.winter_p p a{ color:#65C9F8;}
.winter_p p a:hover{ color:#0774ac;}
.spring_p p,.summer_p p,.autumn_p p,.winter_p p{ font:14px/24px '宋体';}

.djs_xmkrp_p{ width:598px; font:14px/28px '宋体'; margin:18px 0 0 12px;}
.djs_xmklim_p{ margin:8px;}

.djs_xmks_p{ margin-top:12px; background-color:#FDF2B7; border:1px solid #FDF2B7;}
.left{ float:left;}
.right{ float:right;}