


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>ZZ91再生网</title> 
<META 
content=ZZ91再生网(原中国再生资源交易网）是中国最大最旺的网上废料贸易市场，这里为您精选了废金属，废塑料，废纸，废橡胶，纺织废料，废旧设备，废电子电器，废玻璃，废皮革等各类废料供求信息、公司黄页、行业资讯、价格行情、展会信息等 
name=description> 
<META content=废金属 废塑料 废纸 纺织废料 再生资源 废橡胶等报价，行情，供求信息 name=keywords> 
<link href="http://img.zz91.com/css/base.css" rel="stylesheet" type="text/css" /> 
<link href="http://img.zz91.com/css/sitemap.css" rel="stylesheet" type="text/css" /> 
<link href="http://img.zz91.com/css/zz91_top_full.css" rel="stylesheet" type="text/css" /> 
<link href="http://img.zz91.com/css/zz91_bottom_full.css" rel="stylesheet" type="text/css" /> 
<link href="http://img.zz91.com/css/zz91_2008Top.css" rel="stylesheet" type="text/css" />
<link href="http://img.zz91.com/cn/css/tagsList.css" rel="stylesheet" type="text/css" />
<link href="http://img.zz91.com/cn/tags/css.css" rel="stylesheet" type="text/css" />
<link href="http://img.zz91.com/cn/tags/rightcss.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="http://img0.zz91.com/favicon.ico">
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.hack.css">
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.comm.css" />
<link type="text/css" rel="stylesheet" href="http://daohang.zz91.com/css/zz91.daohang.basic.css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/front/js/topbar/jquery.topbar.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/front/js/zz91.common.js"></script> 
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/nav/css/nav.css" />
<script src="http://img0.zz91.com/front/js/search/zz91.search.js"></script>





</head> 
 
<body> 
<script type="text/javascript"> 
		function displaySubMenu(li) {
			var subMenu = li.getElementsByTagName("ul")[0];
			subMenu.style.display = "block";
			var subMenu1 = li.getElementsByTagName("div")[0];
			subMenu1.className="droptxt_on"
		}
		function hideSubMenu(li) {
			var subMenu = li.getElementsByTagName("ul")[0];
			subMenu.style.display = "none";
			var subMenu1 = li.getElementsByTagName("div")[0];
			subMenu1.className="droptxt_off"
		}
</script> 
<!--topBar  start-->
<div id="topBar">
    <div id="topBarInfo">
		<div id="topBarLink">
            <ul>
				<li class="tradAssi"><a href="javascript:void(0)" class="nohover">交易助手</a>
                    <ul>
                        <li ><a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank">发布供求</a></li>
                        <li><a href="http://myrc.zz91.com/mycompanyprice/saveCompanyPrice.htm" target="_blank">发布报价</a></li>
                        <li><a href="http://myrc.zz91.com/subscribe/subscribeIndex.htm" target="_blank">商机定制</a></li>
                        <li class="selected"><a href="http://huzhu.zz91.com/postReply.htm" target="_blank" class="selected">发布帖子</a></li>
                    </ul>
                </li>
				<li> <a href="http://www.recyclechina.com/" target="_blank">英文站</a></li>
				<li><a href="http://www.zz91.com/service/zst/" target="_blank">再生通</a></li>
				<li><a href="http://www.zz91.com/service/ppt/index.asp" target="_blank">品牌通</a></li>
				<li><a href="http://www.zz91.com/specialsubject/hjzw/" target="_blank">黄金展位</a></li>
				<li><a href="http://sms.zz91.com/" target="_blank">短信报价</a></li>
				<li><a href="http://www.zz91.com/myrc/" target="_blank">生意管家</a></li>
            </ul>
        </div>
    </div>
</div>
<!--topbar end-->
<!--header start-->
<div style="clear:both"></div>
<div id="header">
    <div id="logo">
      <a href="http://www.zz91.com"><img src="http://img0.zz91.com/logo.gif" alt="zz91再生网"></a>
    </div>
    <div id="zz91-searchWeb">
    
    
    
    <div class="logosearch" id="logosearch">
    <div class="top_search">
            <form id="searchForm1" action="#" method="post" onsubmit="return zz91searchindex(this,0);">
            <div class="search">
                <div class="search_bar">
                    <div class="nav1">
                        <ul>
                            <li class="" s-data="输入产品关键字，搜索产品供应信息！" value="1">产品</li>
                            <li s-data="输入关键字，搜索产品求购信息！ " value="2" class="searchnav_on">求购</li>
                            <li s-data="输入您要搜索的报价产品关键字！" value="3" class="">报价</li>
                            <li s-data="输入您要搜索的资讯关键字！" value="6" class="">资讯</li>
                            <li s-data="输入公司名称、地区、主营产品等" value="4">公司</li>
                            <li s-data="输入产品关键字，搜索对应产品图片" value="5">图片</li> 
                        </ul>
                    </div>
                    <div class="box">
                        <div class="left" style="position:relative; z-index:9000; clear:both">
                            <input name="keywords" id="TopKeywords" type="text" value="输入产品关键字，搜索产品供应信息！" class="searchtext" autocomplete="off" style="color: rgb(153, 153, 153);">
                            <div id="searchresult" style="display:none"></div>
                            <input type="hidden" value="2" name="TopSeaType" id="TopSeaType">
                        </div>
                        <div class="right">
                            <a href="javascript:void(0)" data="1" class="search_a" id="search_a1"></a>
                        </div>
                    </div>
                </div>
              </div>
            </form>
          <!--搜索--> 
        </div>
	</div>
    
 
    
    <!--  
        <form id="searchForm" action="#" onsubmit="return topSearch();">
            <fieldset>
                <legend style="display:none">ZZ91搜索</legend>
                <div class="searchList">
                    <ul id="search_tab">
                        <li class="searchSelected"><a href="javascript:void(0)" target="_blank">供应</a></li>
                        <li><a href="javascript:void(0)" target="_blank">求购</a></li>
                        <li><a href="javascript:void(0)" target="_blank">报价</a></li>
                    </ul>
                </div>
                <div class="searchNotice">
                    <div id="marquee">
                        <marquee behavior="scroll" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="3" height="24" width="293">
							<span class="searchNoticeList">
                               
                            </span>
                      </marquee>
                    </div>
                </div>
                <div class="searchArea">
                    <label id="search_label" for="search" class="search_label">输入你感兴趣的产品</label>
                    <input name="search" id="search" type="text" value="" class="ZZ91Search" />
                    <input type="submit" value="" class="ZZ91SearchSub" name="TopSeaSubmit"  id="TopSeaSubmit" onmouseover="this.className='ZZ91SearchSubOver'"  onmouseout="this.className='ZZ91SearchSub'"/>
                    <input type="hidden" value="1" name="TopSeaType"  id="TopSeaType" />
                </div>
            </fieldset>
        </form>
        -->
    </div>
	
    <div style="clear:both"></div>
    <div id="nav2013">
        <ul>
            <li>
                <a href="http://www.zz91.com" >首页</a>
            </li>
            <li>
                <a href="http://trade.zz91.com" >交易中心</a>
            </li>
            <li>
                <a href="http://jiage.zz91.com/"  class="on" >行情报价</a>
            </li>
            <li class="xianhuo">
                <a href="http://xianhuo.zz91.com" target="_blank" >现货商城</a>
                <img src="http://img0.zz91.com/zz91/nav/image/new_img.png" class="img"/>
            </li>
            <li>
                <a href="http://company.zz91.com"  target="_blank" >公司黄页</a>
            </li>	
            <li>
                <a href="http://huzhu.zz91.com" target="_blank" >互助社区</a>
            </li>
            <li>
                <a href="http://map.zz91.com"  target="_blank" >再生地图</a>
            </li>
            <li class="icon_up"></li>
            <li>
                <a href="http://www.zz91.com/specialsubject/hjzw/" target="_blank">
                    <font style="color:#FFF">效果提升热线：</font>
                    <span style="color:#FF0; font-size:16px">0571-56611111</span>
                </a>
            </li>
        </ul>
        <div class="nav_down" >
                                                        <dl id="snav2" style="display:block">
                    <dd>
                        <a href="http://trade.zz91.com/metal.htm" target="_blank">废金属</a>
                    </dd>
                    <dd>
                        <a href="http://trade.zz91.com/plastic.htm" target="_blank">废塑料</a>
                    </dd>
                    <dd>
                        <a href="http://trade.zz91.com/waste.htm" target="_blank">综合废料</a>
                    </dd>
                    <dd>
                        <a href="http://jiage.zz91.com/cpriceindex/" target="_blank">企业报价</a>
                    </dd>
                    <dd class="icon"></dd>
                    <dd>
                        <a href="http://xiazai.zz91.com/" target="_blank">下载中心</a>
                    </dd>
                    <dd>
                        <a href="http://mingxing.zz91.com" target="_blank">明星企业</a>
                    </dd>
                    <dd>
                        <a href="http://zhanhui.zz91.com" target="_blank">再生展会</a>
                    </dd>
                    <dd>
                        <a href="http://tech.zz91.com" target="_blank">再生技术</a>
                    </dd>
                </dl>
                    </div>
    </div>
</div>
<!--head end-->
<!--主体区域 begin--> 
<div id="main"> 
 <div class="error"> 
  <div style="width:63px;float:left;"><img src="http://www.zz91.com/images/pic.gif" height="62" width="63" /></div> 
  <div class="wordText">对不起，您查找的页面不存在，以下信息有没有您需要的？ </div> 
 </div>
 <div style="clear:both"></div>
 <!--sitemap begin--> 
 <div id="sitemap"> 
   <!--sitemap_menu begin--> 
    <div id="sitemap_menu"> 
      <div id="sitemap_menu_title"><span class="f15 f-black"><b>中国再生资源交易网网站地图</b></span> 
      </div> 
      <div id="sitemap_menu_body" class="sitemap_menu_body"> 
         <ul><span class="f14 f-black"> 
             <li><a href="#account">帐户信息</a></li> 
             <li><a href="#channel">重要频道</a></li> 
             <li><a href="#purpose">主要功能</a> </li> 
             <li><a href="#center">报价资讯中心</a></li> 
             <li><a href="#industry">主要行业 </a></li> 
             <li><a href="#forum" target="_blank">再生互助</a></li> 
             <li><a href="#AQSIQ">AQSIQ与环保</a> </li> 
             <li><a href="#ZZ91Service">ZZ91服务</a></li> 
             <li><a href="#AboutZZ91">关于我们</a></li> 
             <li><a href="http://www.kl91.com" target="_blank">塑料颗粒网</a></li> 
             </span> 
        </ul> 
      </div> 
    </div> 
    <script type="text/javascript">
/*搜空页 960*90，创建于2013-4-15*/
var cpro_id = "u1261522";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
    <!--sitemap_menu end--> 
   <div style="clear:both"></div> 
    <!--sitemap_list begin--> 
    <!--sitemap_list_account--> 
    <div id="sitemap_list_account" class="sitemap_list"> 
        <div  class="sitemap_list_title"> 
           <a name="account"></a> 
           <div class="sitemap_list_title_text">          
             <font>帐户信息</font> 
           </div> 
        <div class="cb"></div> 
      </div> 
        <div class="cb"></div> 
        <div class="sitemap_list_body"> 
            <ul><span class="f-666"> 
             <li><a href="http://china.zz91.com/register/register_stp1.htm" target="_blank">注册会员</a></li> 
             <li><a href="http://china.zz91.com/login.htm" target="_blank">会员登录</a></li> 
             <li><a href="http://www.zz91.com/service/newzst/apply.asp" target="_blank">注册再生通</a> </li> 
             <li><a href="http://china.zz91.com/login.htm" target="_blank">我的RC</a></li> 
             </span> 
           </ul> 
        </div> 
    </div> 
    <!--sitemap_list_account end--> 
    <div class="cb"></div> 
    <!--sitemap_list_channel begin--> 
    <div id="sitemap_list_channel" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
         <a name="channel"></a> 
         <div class="sitemap_list_title_text">          
             <font>重要频道</font> 
           </div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <ul><span class="f-666"> 
        <li><a href="http://jiage.zz91.com/suliao/" target="_blank">废塑料频道</a></li> 
        <li><a href="http://jiage.zz91.com/jinshu/" target="_blank">废金属频道</a></li> 
        <li><a href="http://jiage.zz91.com/other/" target="_blank">废橡胶频道</a></li> 
        <li><a href="http://jiage.zz91.com/other/" target="_blank">废纸频道</a></li> 
        <li><a href="http://tech.zz91.com/" target="_blank">再生技术</a></li> 
        <li><a href="http://zhanhui.zz91.com/" target="_blank">行业展会</a></li> 
        <li><a href="http://jiage.zz91.com/cpriceindex/" target="_blank">企业报价</a></li> 
        <li><a href="http://xiazai.zz91.com/" target="_blank">协会杂志频道</a></li> 
        <li><a href="http://tech.zz91.com/" target="_blank">技术讲坛</a></li> 
        <li><a href="http://zhanhui.zz91.com/zhanlue.htm" target="_blank">产业园区</a></li> 
        <li><a href="http://huzhu.zz91.com/" target="_blank">政策法规</a></li> 
        <li><a href="http://map.zz91.com/" target="_blank">再生地图</a></li> 
        <li><a href="http://huzhu.zz91.com/" target="_blank">再生互助</a></li> 
       </span> 
       </ul> 
      </div> 
    </div> 
    <!--sitemap_list_channel end--> 
    <div class="cb"></div> 
    <!--sitemap_list_purpose begin--> 
    <div id="sitemap_list_purpose" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
         <a name="purpose"></a> 
         <div class="sitemap_list_title_text">          
            <font>主要功能</font> 
        </div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <ul><span class="f-666"> 
        <li><a href="http://www.zz91.com/service/newzst/" target="_blank">特价广告</a></li> 
        <li><a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank">发布供求信息</a></li> 
        <li><a href="http://china.zz91.com/login.htm?url=http://myrc.zz91.com/" target="_blank">管理供求信息</a></li> 
        <li><a href="http://www.zz91.com/myrc/offer/offer_group.asp">管理供求系列</a></li> 
        <li><a href="http://www.zz91.com/myrc/message/receiveQuestion.asp">我收到的留言</a></li> 
        <li><a href="http://www.zz91.com/myrc/message/sendQuestion.asp">我发出的留言</a></li> 
        <li><a href="http://www.zz91.com/myrc/customer/customer_add.asp">添加客户</a></li> 
        <li><a href="http://www.zz91.com/myrc/customer/custom_list.asp">客户列表</a></li> 
        <li><a href="http://www.zz91.com/myrc/bizexpress/web_biz_list.asp">最新在线商机</a></li> 
        <li><a href="http://www.zz91.com/myrc/bizexpress/web_biz_pricelist.asp">最新在线资讯</a></li> 
        <li><a href="http://www.zz91.com/myrc/bizexpress/web_biz_TradeOrder.asp">商机定制管理</a></li> 
        <li><a href="http://www.zz91.com/myrc/bizexpress/web_biz_priceOrder.asp">行情定制管理</a></li> 
        <li><a href="http://www.zz91.com/myrc/bizexpress/my_basket.asp">我的篮子</a></li> 
        <li><a href="http://www.zz91.com/myrc/price/price_addnew.asp">添加报价</a></li> 
        <li><a href="http://www.zz91.com/myrc/price/price_batchList.asp">报价列表</a></li> 
        <li><a href="http://huzhu.zz91.com/" target="_blank">客户评价</a></li> 
        <li><a href="#">我的证书</a></li> 
        <li><a href="#">资信参考人</a></li> 
        <li><a href="http://www.zz91.com/myrc/member/office_info.asp">公司基本信息</a></li> 
        <li><a href="http://www.zz91.com/myrc/member/office_username.asp">修改用户名邮箱</a></li> 
        <li><a href="http://www.zz91.com/myrc/member/office_pass.asp">修改密码</a></li> 
        <li><a href="http://www.zz91.com/cn/helpcenter/" target="_blank">新手指南</a></li> 
        <li><a href="http://www.zz91.com/myrc/member/question.asp">我的疑问反馈</a></li> 
        </span> 
       </ul> 
      </div> 
    </div> 
    <!--sitemap_list_purpose end--> 
    <div class="cb"></div> 
    <!--sitemap_list_pricenewscenter begin--> 
    <div id="sitemap_pricenewscenter" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
         <a name="center"></a> 
         <div class="sitemap_list_title_text">          
             <font>报价资讯中心</font> 
           </div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <ul><span class="f-666"> 
        <li><a href="http://xiazai.zz91.com/" target="_blank">焦点关注</a></li> 
        <li><a href="http://jiage.zz91.com/feijinshuhangqingzongshu/" target="_blank">行情综述</a></li> 
        <li><a href="http://news.zz91.com/guonei/" target="_blank">国内资讯</a></li> 
        <li><a href="http://news.zz91.com/guowai/" target="_blank">国外资讯</a></li> 
        <li><a href="http://www.zz91.com/cn/news_More36.html">电子商务</a></li> 
        <li><a href="http://www.zz91.com/cn/news_More20.html">企业访谈</a></li> 
        <li><a href="http://www.zz91.com/subject/" target="_blank">热点专题</a></li> 
        <li><a href="http://www.zz91.com/cn/news_More16.html" target="_blank">外贸事务</a></li> 
       </span> 
       </ul> 
      </div> 
    </div> 
    <!--sitemap_list_pricenewscenter end--> 
    <div class="cb"></div> 
        <!--sitemap_list_indusry begin--> 
    <div id="sitemap_indusry" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
      <a name="industry"></a> 
         <div class="sitemap_list_title_text">          
           <font>主要行业</font></div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <dl> 
          <dt><a href="http://trade.zz91.com/offerindex1000.htm" target="_blank">废金属</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://trade.zz91.com/offerlist--a1--b--c--d--e--f--p--钢铁.htm" target="_blank">钢铁</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_2_0_0.html">常见有色金属</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_3_0_0.html">稀有金属</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_4_0_0.html">贵金属</a></dd> 
 
             <dd><a href="http://www.zz91.com/cn/offerlist1_4_0_0.html">再生金属</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_6_0_0.html">金属混合/复合料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_7_0_0.html">废金属处理设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_63_0_0.html">硅</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_90_0_0.html">金属助剂</a></dd> 
       <div class="cb"></div> 
          <dt><a href="http://trade.zz91.com/offerindex1001.htm" target="_blank">废塑料</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_11_0_0.html">通用废塑料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_12_0_0.html">工程废塑料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_13_0_0.html">特种废塑料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_14_0_0.html">塑料混合/复合料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_15_0_0.html">塑料颗粒</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_16_0_0.html">塑料助剂</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_17_0_0.html">废塑料处理设备</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1005.htm" target="_blank">废电子电器</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerlist6_24_0_0.html">废电子</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist6_25_0_0.html">废电器</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist6_26_0_0.html">办公设备</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1002.htm">废旧轮胎与废橡胶</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerlist3_18_0_0.html">天然废橡胶</a></dd> 
              <dd><a href="http://www.zz91.com/cn/offerlist3_19_0_0.html">合成橡胶</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist3_20_0_0.html">热塑性弹性体</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist3_21_0_0.html">再生胶</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist3_22_0_0.html">废轮胎</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist3_23_0_0.html">废橡胶轮胎处理设备</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1004.htm" target="_blank">废纸</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_27_0_0.html">美废</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_28_0_0.html">欧废</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_29_0_0.html">日废</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_30_0_0.html">其他进口废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_31_0_0.html">包装废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_32_0_0.html">印刷废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_33_0_0.html">工业废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_34_0_0.html">办公废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_35_0_0.html">生活废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_36_0_0.html">特种废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_37_0_0.html">废纸制品</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_38_0_0.html">纸浆</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_39_0_0.html">卡纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_40_0_0.html">纸边</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_41_0_0.html">混合/复合废纸</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist5_42_0_0.html">废纸处理设备</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1003.htm" target="_blank">废纺织品与废皮革</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_55_0_0.html">化纤</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_56_0_0.html">纱线</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_57_0_0.html">坯布面料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_58_0_0.html">皮革</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_56_0_0.html">废棉料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_61_0_0.html">羊毛制品</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_62_0_0.html">丝</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_74_0_0.html">牛仔布</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_75_0_0.html">家纺废料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_76_0_0.html">麻</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_77_0_0.html">编织料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist4_89_0_0.html">纺织设备</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1007.htm" target="_blank">废旧二手设备</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerindex10.html">工程设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_44_0_0.html">化工设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_45_0_0.html">制冷设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_46_0_0.html">冶炼设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_47_0_0.html">交通工具</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_48_0_0.html">其他二手设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_49_0_0.html">二手商品</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist2_17_0_0.html">废塑料处理设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist1_7_0_0.html">废金属处理设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_52_0_0.html">废橡胶轮胎处理设备</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist12_79_0_0.html">废纸处理设备</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1006.htm" target="_blank">废玻璃</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_64_0_0.html">碎玻璃</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_65_0_0.html">显像管玻璃</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_66_0_0.html">玻璃纤维</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_67_0_0.html">玻璃粉</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_68_0_0.html">浮法玻璃</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_69_0_0.html">平板玻璃</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_70_0_0.html">玻璃瓶</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_72_0_0.html">玻璃轧辊</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_73_0_0.html">格法玻璃</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist10_86_0_0.html">工业玻璃</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1008.htm" target="_blank">其他废料</a></dt> 
             <div class="cb"></div> 
             <dd><a href="http://www.zz91.com/cn/offerlist14_53_0_0.html">废木</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist14_54_0_0.html">化工废料</a></dd> 
             <dd><a href="http://www.zz91.com/cn/offerlist14_85_0_0.html">其他废料</a></dd> 
       <div class="cb"></div> 
         <dt><a href="http://trade.zz91.com/offerindex1009.htm" target="_blank">服务</a></dt> 
             <div class="cb marginX"></div> 
        </dl> 
      </div> 
    </div> 
    <!--sitemap_list_indusry end--> 
    <div class="cb"></div> 
    <!--sitemap_list_forum begin--> 
    <div id="sitemap_forum" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
         <a name="forum"></a> 
         <div class="sitemap_list_title_text">          
             <font>再生互助</font> 
           </div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <ul><span class="f-666"> 
        <li><a href="http://huzhu.zz91.com/viewreply624385.htm" target="_blank">商务交流</a></li> 
        <li><a href="http://huzhu.zz91.com/viewreply624385.htm" target="_blank">废塑料交流</a></li> 
        <li><a href="http://huzhu.zz91.com/viewreply624385.htm" target="_blank">废金属交流</a></li> 
        <li><a href="http://huzhu.zz91.com/viewreply624385.htm" target="_blank">废橡胶交流</a></li> 
        <li><a href="http://huzhu.zz91.com/viewreply624385.htm" target="_blank">废纸交流</a></li> 
        <li><a href="http://www.zz91.com/cn/helpcenter/help_class.asp?BigClassName=%C3%DC%C2%EB%D3%EB%B0%B2%C8%AB" target="_blank">安全中心</a></li> 
       </span> 
       </ul> 
      </div> 
    </div> 
    <!--sitemap_list_forum end--> 
    <div class="cb"></div> 
    <!--sitemap_list_AQSIQ begin--> 
    <div id="sitemap_AQSIQ" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
         <a name="AQSIQ"></a> 
         <div class="sitemap_list_title_text">          
           <font>AQSIQ与环保</font></div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <ul><span class="f-666"> 
        <li><a href="http://aqsiq.zz91.com/aqsiq_more.asp?ntype=10" target="_blank">AQSIQ注册</a></li> 
        <li><a href="http://aqsiq.zz91.com/aqsiq_more.asp?ntype=11" target="_blank">CCIC</a></li> 
        <li><a href="http://aqsiq.zz91.com/aqsiq_more.asp?ntype=13" target="_blank">国内收货人登记</a></li> 
        <li><a href="http://aqsiq.zz91.com/aqsiq_more.asp?ntype=12">环保许可证</a></li> 
        <li><a href="http://aqsiq.zz91.com/default.asp" target="_blank">AQSIQ查询</a></li> 
        <li><a href="http://aqsiq.zz91.com/default.asp" target="_blank">环保批文查询</a></li> 
       </span> 
       </ul> 
      </div> 
    </div> 
    <!--sitemap_list_AQSIQ end--> 
    <div class="cb"></div> 
    <!--sitemap_list_ZZ91Service begin--> 
    <div id="sitemap_ZZ91Service" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
         <a name="ZZ91Service"></a> 
         <div class="sitemap_list_title_text">          
             <font>ZZ91服务</font> 
           </div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <ul><span class="f-666"> 
        <li><a href="http://www.zz91.com/service/newzst/" target="_blank">再生通</a></li> 
        <li><a href="http://www.zz91.com/specialsubject/hjzw/" target="_blank">黄金展位</a></li> 
        <li><a href="http://www.zz91.com/cn/publish/pinpai/3.asp" target="_blank">独家广告</a></li> 
        <li><a href="http://www.zz91.com/cn/publish/pinpai/" target="_blank">品牌广告</a></li> 
        <li><a href="http://www.zz91.com/cn/publish/pinpai/2.asp">竞价排名</a></li> 
        <li><a href="http://www.zz91.com/cn/publish/pinpai/2.asp">点击推广</a></li> 
        <li><a href="http://trade.zz91.com/" target="_blank">交易安全</a></li> 
        <li><a href="http://huzhu.zz91.com/" target="_blank">再生互助</a></li> 
        <li><a href="http://aqsiq.zz91.com/" target="_blank">AQSIQ办理</a></li> 
        <li><a href="http://company.zz91.com/" target="_blank">公司黄页</a></li> 
       </span> 
       </ul> 
      </div> 
    </div> 
    <!--sitemap_list_ZZ91Service end--> 
    <div class="cb"></div> 
    <!--sitemap_list_AboutZZ91 begin--> 
    <div id="sitemap_AboutZZ91" class="sitemap_list"> 
      <div class="sitemap_list_title"> 
          <a name="AboutZZ91"></a> 
         <div class="sitemap_list_title_text">          
             <font>关于我们</font> 
           </div> 
        <div class="cb"></div> 
      </div> 
      <div class="sitemap_list_body"> 
        <ul><span class="f-666"> 
        <li><a href="http://www.zz91.com/about/jianjie.asp" target="_blank">公司简介</a></li> 
        <li><a href="http://www.zz91.com/about/linkUs.asp" target="_blank">友情链接</a></li> 
        <li><a href="http://www.zz91.com/about/question.asp" target="_blank">建议箱</a></li> 
        <li><a href="http://www.zz91.com/hkfs/" target="_blank">付款方式</a></li> 
        <li><a href="http://www.zz91.com/about/contactUs.asp" target="_blank">联系我们</a></li> 
       </span> 
       </ul> 
      </div> 
    </div> 
 
    <!--sitemap_list_AboutZZ91 end--> 
    <div class="cb"></div> 
    <!--sitemap_list e--> 
    </div> 
    <!--sitemap end--> 
  <div style="clear:both"></div> 
</div> 
 <!--主体区域 e--> 
 <div style="clear:both"></div> 
 <div class="main_box"> 
		<div class="foot"> 
        	<p><a href="http://www.zz91.com/about/index.asp" target="_blank">关于我们</a> | <a href="http://www.recyclechina.com/" target="_blank">国际站</a> | <a href="http://www.zz91.com/cn/publish/pinpai/" target="_blank">广告服务</a> | <a href="http://www.zz91.com/cn/publish/zst_upgrade/" target="_blank">再生通服务</a> | <a href="http://www.zz91.com/cn/helpcenter/" target="_blank">新手指南</a> | <a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a> | <a href="http://www.zz91.com/cn/zst_service_new_2.asp" target="_blank">支付方式</a> | <a href="http://www.zz91.com/about/question.asp" target="_blank">意见投诉</a> | <a href="http://www.zz91.com/about/linkus.asp" target="_blank">友情链接</a> | <a href="http://www.zz91.com/about/contactus.asp" target="_blank">客服中心</a></p> 
          <p>客服热线：0571-56189191 56189188 传真：0571-56189111</p> 
	<p>法律顾问：京衡律师集团事务所 罗益群 律师</p> 
            <p>版权所有 中国再生资源交易网 浙ICP备 05004848  RecycleChina All Rights Reserved</p> 
            <p><span class="orange">合作伙伴：中国有色金属工业协会再生金属分会 中国塑料协会塑料再生利用专业委员会 阿里巴巴 《资源再生》杂志</span></p> 
           
            <div class="foot_bottom"> 
			<div style="margin-top:10px;text-align:center;"> 
                <a href="http://img.zz91.com/zz91images/营业执照.JPG" target="_blank"><img src="http://img.zz91.com/zz91images/法人.jpg" /></a>	
                <a href="http://www.miibeian.gov.cn/" target="_blank"><img src="http://img.zz91.com/zz91images/备案.jpg" /></a> 
                <img src="http://img.zz91.com/zz91images/ICP2.jpg" /> 
                <img src="http://img.zz91.com/zz91images/TOP.jpg" /> 
                <a href="http://www.hangzhou.cyberpolice.cn/web/index.aspx" target="_blank"><img src="http://img.zz91.com/zz91images/110.jpg" /></a> 
                <a href="http://net.china.com.cn/index.htm" target="_blank"><img src="http://img.zz91.com/zz91images/举报.jpg" /></a> 
			</div> 
			
                <div class="clear"></div> 
          </div> 
        </div> 
  
<br /> 
<br /> 
<!--百度统计 begin-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
</script>

<!--百度统计 end-->
 
</body> 
</html> 