/* CSS Document */
.topnav
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color: #F9F7EC;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
a
{
	color:#333;
	text-decoration: none;
	}
a:hover
{
	color:#000;
	text-decoration: underline;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
}
.subject_foofer{
	width:950px;
	text-align:center;
	line-height:24px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
.subject_foofer a{
	text-decration:none;
}
.subject_foofer a:hover{
	text-decration:none;
}
.bottom
{
	width: 960px;
	margin-right: auto;
	margin-left: auto;	
}