.DPFrame
{
	FONT-WEIGHT: normal;
	FONT-SIZE: 9pt;
	WIDTH: 130px;
	LINE-HEIGHT: normal;
	FONT-STYLE: normal;
	LETTER-SPACING: 0px;
	BACKGROUND-COLOR: #ECF4F9;
	FONT-VARIANT: small-caps;
	border: 1px solid #758484;
	
}
#dpDropDownTable
{
	DISPLAY: none;
	CURSOR: default;
	POSITION: absolute;
	BACKGROUND-COLOR: #ffffff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: red;
	border-bottom-color: red;
}
.DPTitle
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #fffacd;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #013970;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPWeekName
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #00008b;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: black 0px solid;
    FONT-STYLE: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPCellOther
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: silver;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPCell
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: blue;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPTodayCell
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: 000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPCellSelect
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #6CB72F;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPYear
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 32px;
    COLOR: blue;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: 0px;
    FONT-STYLE: normal;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left;
    FONT-VARIANT: normal
}
.DPYearDes
{
	FONT-SIZE: 9pt;
    BACKGROUND-COLOR: transparent
}
.DPMonth
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 17px;
    COLOR: blue;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: 0px;
    FONT-STYLE: normal;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPMonthDes
{
    FONT-SIZE: 9pt;
    BACKGROUND-COLOR: transparent
}
.DPDay
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 16px;
    COLOR: blue;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: 0px;
    FONT-STYLE: normal;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left;
    FONT-VARIANT: normal
}
.DPHiddenDay
{
    WIDTH: 0px;
    DISPLAY: NONE;
}
.DPDayDes
{
	FONT-SIZE: 9pt;
    BACKGROUND-COLOR: transparent
}
.DPHiddenDayDes
{
	FONT-SIZE: 10pt;
    DISPLAY: NONE;
}
.DPHour
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 17px;
    COLOR: blue;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: 0px;
    FONT-STYLE: normal;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPHiddenHour
{
    WIDTH: 0px;
    DISPLAY: NONE;
}
.DPHourDes
{
	FONT-SIZE: 9pt;
    BACKGROUND-COLOR: transparent
}
.DPHiddenHourDes
{
	FONT-SIZE: 10pt;
    DISPLAY: NONE;
}
.DPMinute
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 17px;
    COLOR: blue;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: 0px;
    FONT-STYLE: normal;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPHiddenMinute
{
    WIDTH: 0px;
    DISPLAY: NONE;
}
.DPMinuteDes
{
	FONT-SIZE: 9pt;
    BACKGROUND-COLOR: transparent
}
.DPHiddenMinuteDes
{
	FONT-SIZE: 9pt;
    DISPLAY: NONE;
}
.DPSecond
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: 0px;
    WIDTH: 15px;
    COLOR: blue;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: 0px;
    FONT-STYLE: normal;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPHiddenSecond
{
    WIDTH: 0px;
    DISPLAY: NONE;
}
.DPSecondDes
{
	FONT-SIZE: 9pt;
    BACKGROUND-COLOR: transparent
}
.DPHiddenSecondDes
{
	FONT-SIZE: 9pt;
    DISPLAY: NONE;
}
.DPSep
{
    WIDTH: 0px;
    BACKGROUND-COLOR: transparent
}
A.DPDropBtn:link
{
    WIDTH: 10px;
    COLOR: #000000;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
A.DPDropBtn:visited
{
    WIDTH: 10px;
    COLOR: #000000;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
A.DPDropBtn:hover
{
    WIDTH: 10px;
    COLOR: blue;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.DPBtn
{
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: white 0px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    BORDER-LEFT: white 0px solid;
    WIDTH: 17px;
    CURSOR: hand;
    COLOR: black;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: black 0px solid;
    FONT-STYLE: normal;
    HEIGHT: 10px;
    BACKGROUND-COLOR: white;
    FONT-VARIANT: normal
}
.DPCheck
{
	WIDTH: 15px;
	border: 0px solid #ffffff;
}

.DPHiddenCheck
{
    WIDTH: 3PX;
    VISIBILITY: HIDDEN;
	border: 0px solid #ffffff;
}


.SPFrame
{
    BORDER: none;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-VARIANT: small-caps;
    BACKGROUND-COLOR: white;
}
.SPShow
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: left;
    height: 18px;
}
.SPButton
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    color: blue;
    height: 18px;
    border-style: double;
    border-width: 3px;
    border-color: 339933;    
    cursor: hand;
}

.CBPFrame
{
    BORDER: none;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: transparent;
}
.CBPINPUT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    color: blue;
    border: none;
}
