<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>玻璃纤维短切丝,短切丝,供应玻璃纤维丝_{{complist.name}},{{complist.mobile}}</title>
<meta name="description" content="{{complist.business}}更多供应玻璃纤维短切丝短切丝信息，请访问{{complist.name}}。" />
<meta name="keywords" content="玻璃纤维短切丝,短切丝,供应玻璃纤维丝" />

</head>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/seocompany/css/base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/seocompany/css/index.css"/>
<link rel="stylesheet" href="http://img0.zz91.com/zz91/esite/css/zz91.esite.css" />

<body><div class="topbar">
	    <div class="topbarin">
            <ul style="width:700px;">
                <li class="logo"><a href="http://www.zz91.com">ZZ91再生网</a></li>
                <li>
                    <span id="memberId1">您好, 欢迎来ZZ91再生网&nbsp;</span>
                    <a class="draft_no_link" href="http://china.zz91.com/login.htm" rel="nofollow">[请登录]</a>
                    <a class="draft_no_link" href="http://china.zz91.com/register/register_stp1.htm" rel="nofollow">[免费注册]</a>
                </li>
                <li><a href="http://myrc.zz91.com" class="sygj" target="_blank" rel="nofollow">生意管家</a></li>
                <li><a href="http://www.zz91.com/service/zst/" target="_blank" rel="nofollow">再生通</a></li>
				<li><a href="http://www.zz91.com/service/baidu/yh.html" target="_blank" rel="nofollow">百度优化</a></li>
				<li><a href="http://xianhuo.zz91.com/" target="_blank">现货商城</a></li>
			</ul>
            <form name="form_bar" method="post" action="http://trade.zz91.com/offerlist--a--b--c--d--e--f--p1--pp.htm" onSubmit="searchSubmit(this)">
            <fieldset class="searchbar">
                <input name="searchname" id="searchname" type="text" placeholder="请输入供求名称" class="field">
                <input type="submit" name="imageField" class="submit" id="imageField" value="">
            </fieldset>
            </form>
            </div>
        </div>
<div class="center">
<div class="compcaption">
	<h2><a href="http://www.zz91.com/comp/{{pingyin}}.html" target=_blank>{{complist.name}}</a></h2>
    <div>主营：{{complist.business}}</div>
</div>
<div class="nav"><span>当前位置：</span><h2><a href="http://www.zz91.com" target=_blank>ZZ91再生网</a> > <a href="http://www.zz91.com/comp/{{pingyin}}.html" target=_blank>{{complist.name}}</a></h2></div>
<div id="left">
	<div class="cpzs">
        <div class="title">
            <strong>产品展示</strong>
            <span><a href="http://{{pingyin}}.zz91.com">更多>></a></span>
        </div>
        	<script src="http://www.zz91.com/comp/jsproducts.js?company_id={{complist.company_id}}&pingyin={{pingyin}}"></script>
    </div><!--产品展示-->
    
    <div class="sjxx">
    	<div class="title">
        	<strong>商家信息</strong>
        </div>
        <div class="conter">
        	<h1>玻璃纤维短切丝综合情况介绍</h1>
<p><strong><a href="http://www.zz91.com/comp/jhbx.html">玻璃纤维短切丝</a></strong>是直径：9-13um，成份：无碱玻璃纤维特点：树脂浸透好，使制品强度提高，分散和流动性较好，制品表面纤维不外露，适用石棉瓦增强、抗裂。</p>
<p>玻璃纤维短切丝包括：无碱玻璃纤维短切、无碱玻璃纤维短切纱、无碱玻璃纤维短切丝。</p>
<p>玻璃纤维短切丝主要用于增强热塑性塑料。由于它具有良好的性价比，特别适合与树脂复合用作汽车、火车、舰船壳体的增强材料： 用于耐高温针刺毡、汽车吸音片、热轧钢材等。其制品在汽车、建筑、航空日常用品等领域应用广泛，典型的制品有汽车配件、电子电器制品、机械制品等。</p>
<p>玻璃纤维短切丝用途：玻璃纤维短切丝制品在汽车、建筑航空、日常用品等领域应用广泛，典型的产品包括汽车配件、电子电气制品、机械制品等。</p>
<p>1、玻璃纤维加入混凝土中起到阻止裂缝发生和扩展的作用。提高混凝土抗渗性能的改善 。提高混凝土抗冻融性能的提高 。提高混凝土抗冲击和韧性。提高混凝土耐久性的改善。
<p>2、玻璃纤维加入水泥、石膏板、玻璃钢、复合材料、电器等制品或建筑工程中，起到加筋，抗裂，耐磨，牢固等作用。</p>
<p>3、玻璃纤维加入蓄水池、屋面楼板、游泳池、腐化池、污水处理池可提高它们的使用寿命。</p>
<p>我国已成为世界上最大的玻璃纤维短切丝生产国，预计对玻璃纤维短切丝的需求将很快超过美国，并正在成为全球玻璃纤维短切丝产业需求和应用的最大市场，这也正是全球顶级玻纤企业越来越关注亚洲市场的主要原因。随着国家相关产业振兴规划和加大基础设施投资力度，对于玻璃钢行业来讲，建筑业和交通运输业是玻璃纤维短切丝用量最大的应用领域，同时，新能源和电力等行业对玻璃纤维短切丝的需求也将持续增长。玻璃纤维短切丝增强热塑性复合材料愈来愈受到关注，FRTP市场有望在近几年大幅增长。根据我国玻璃钢行业的发展情况，预计近年对玻璃纤维短切丝的需求每年将有两位数的增长，行业景气度将继续被看好。</p>
<p>玻璃纤维短切丝存放与包装注意事项：</p>
<p>包装方式：玻璃纤维短切丝内衬塑料袋，用编织袋包装，编织袋码放在托盘上，每个托盘可码放40袋或44袋，每袋重量20kg或25kg。</p> 
<p>储存条件：产品应堆放于干燥阴凉处，以免受潮影响产品质量。</p>
<p><strong>盐城市经济技术开发区金辉玻纤厂介绍</strong></p>
<p>盐城市经济技术开发区金辉玻纤厂是集科研、开发、生产、工程设计、技术咨询、经营销售、科工贸为一体的实业公司。公司的宗旨是发挥本公司在人才、市场、科研、技术等多方面的优势，以科研为基础，逐步建成适应现代市场经济发展，积极参与国际竞争的高科技产业集团。</p>
<p>公司专业供应玻璃纤维丝、玻璃纤维短切丝、短切丝，长短按客户需求加工，以"为客户的一切服务，服务客户的一切"为宗旨!</p>
<p>供应玻璃纤维丝诚心邀请有意商和各届朋友领导来电来涵联系,真诚希望和您合作!</p>

                         <div style="float:right"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_renren">人人网</a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=599927" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --></div>
      </div>
    </div><!--商家信息-->
</div><!--左边信息-->

<div id="right">
	<div class="info" style="margin-top:0;">
    	<div class="title"><strong>供应商信息</strong></div>
        <p><b>{{complist.name}}</b><br />
联 系 人：{{complist.contact}}  {{complist.position}}<br />
电    话：{{complist.tel_area_code}} {{complist.tel}}<br />
移动电话：{{complist.mobile}}<br />
经营范围：{{complist.business}}<br>
所在地区：{{complist.address}}</p>
    </div>
	{%if companynews%}
    <div class="info">
    	<div class="title"><h2>最新资讯</h2></div>
        <ul>
		{%for list in companynews%}
        	<li><a href="http://{{pingyin}}.zz91.com/news{{list.id}}.htm" title="{{list.title}}" target=_blank>{{list.title}}</a></li>
        {%endfor%}
        </ul>
    </div>
	{%endif%}
	{%if pricelist%}
	<div class="info">
    	<div class="title"><strong>推荐文章</strong></div>
        <ul>
			{%for list in pricelist%}
        	<li><a href="http://price.zz91.com/priceDetails_{{list.id}}.htm" target=_blank>{{list.title}}</a></li>
            {%endfor%}
        </ul>
    </div>
	{%endif%}
    <div class="info">
    	<div class="title"><h3>热门标签</h3></div>
        <h3 class="caption">
			{%for list in tagslist%}
				<a href="http://{{pingyin}}.zz91.com/products{{list.id}}.htm" target=_blank>{{list.tags}}</a> 
			{%endfor%}
		</h3>
    </div>
</div><!--右边信息-->
</div>
<div class="bottom">
  <div class="subject_foofer">
      <p><a href="http://www.zz91.com/about/index.asp" rel="nofollow" target="_blank"><br />
        关于我们</a> | <a href="http://www.recyclechina.com/" target="_blank">国际站</a> | <a href="http://www.zz91.com/service/ppt/index.asp" rel="nofollow" target="_blank">品牌通服务</a> | <a href="http://www.zz91.com/service/zst/" rel="nofollow" target="_blank">再生通服务</a> | <a href="http://www.zz91.com/cn/helpcenter/" rel="nofollow" target="_blank">新手指南</a> | <a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a> | <a href="http://www.zz91.com/hkfs/" rel="nofollow" target="_blank">支付方式</a> | <a href="http://www.zz91.com/about/question.asp" rel="nofollow" target="_blank">意见投诉</a> | <a href="http://www.zz91.com/about/linkus.asp" rel="nofollow" target="_blank">友情链接</a> | <a href="http://www.zz91.com/about/contactus.asp" rel="nofollow" target="_blank">客服中心</a> | <a href="http://www.zz91.com/about/zhaopin.asp" rel="nofollow" target="_blank">诚聘英才</a> | <a href="http://daohang.zz91.com/" target="_blank">产品导航</a><br />
        ZZ91.COM 再生网 &copy; 版权所有
        地址：浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 <br />
        客服热线：0571-56612345 56611111 传真：0571-56637777 <br />
        <br />
      </p>
    </div>
	
</div>

</body>
</html>
