<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{complist.name}} {{complist.mobile}}</title>
<meta name="description" content="{{complist.business}}。更多信息请访问ZZ91再生网官网:yjhy.zz91.com。" />
<meta name="keywords" content="" />

</head>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/seocompany/css/base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/seocompany/css/index.css"/>
<link rel="stylesheet" href="http://img0.zz91.com/zz91/esite/css/zz91.esite.css" />

<body><div class="topbar">
	    <div class="topbarin">
            <ul style="width:700px;">
                <li class="logo"><a href="http://www.zz91.com">ZZ91再生网</a></li>
                <li>
                    <span id="memberId1">您好, 欢迎来ZZ91再生网&nbsp;</span>
                    <a class="draft_no_link" href="http://china.zz91.com/login.htm" rel="nofollow">[请登录]</a>
                    <a class="draft_no_link" href="http://china.zz91.com/register/register_stp1.htm" rel="nofollow">[免费注册]</a>
                </li>
                <li><a href="http://myrc.zz91.com" class="sygj" target="_blank" rel="nofollow">生意管家</a></li>
                <li><a href="http://www.zz91.com/service/zst/" target="_blank" rel="nofollow">再生通</a></li>
				<li><a href="http://www.zz91.com/service/baidu/yh.html" target="_blank" rel="nofollow">百度优化</a></li>
				<li><a href="http://xianhuo.zz91.com/" target="_blank">现货商城</a></li>
			</ul>
            <form name="form_bar" method="post" action="http://trade.zz91.com/offerlist--a--b--c--d--e--f--p1--pp.htm" onSubmit="searchSubmit(this)">
            <fieldset class="searchbar">
                <input name="searchname" id="searchname" type="text" placeholder="请输入供求名称" class="field">
                <input type="submit" name="imageField" class="submit" id="imageField" value="">
            </fieldset>
            </form>
            </div>
        </div>
<div class="center">
<div class="compcaption">
	<h2><a href="http://www.zz91.com/comp/{{pingyin}}.html" target=_blank>{{complist.name}}</a></h2>
    <div>主营：{{complist.business}}</div>
</div>
<div class="nav"><span>当前位置：</span><h2><a href="http://www.zz91.com" target=_blank>ZZ91再生网</a> > <a href="http://www.zz91.com/comp/{{pingyin}}.html" target=_blank>{{complist.name}}</a></h2></div>
<div id="left">
	<div class="cpzs">
        <div class="title">
            <strong>产品展示</strong>
        </div>
        	<script src="http://www.zz91.com/comp/jsproducts.js?company_id={{complist.company_id}}&pingyin={{pingyin}}"></script>
    </div><!--产品展示-->
    
    <div class="sjxx">
    	<div class="title">
        	<strong>商家信息</strong>
        </div>
        <div class="conter">
        	<h1>边角料/产品料/硬砸料/通用料/工程料/定单式回收各种塑料</h1>
          <p>企业简介 上海柳氏塑胶有限公司 成立于2000年10月1日，公司总部设在日本次城县，站地面积20000平方米。现今主要进口各种废塑料的回收并进出口业务。在上海是一家资质齐全、实力雄厚的废塑料回收企业。公司凭借自身对回收行业的深入理解及服务上的领先，已经成为具有较高知名度的专业回收服务商及供应商，一直专注于"变废为宝、净化环境"的相关探索，融合专业的服务体系和先进的质量保证体系，为国家的环保事业，做出着应有的贡献。公司拥有雄厚经济实力，恪守诚信为本的原则，得到了众多客户的信赖，在上海，香港，台湾，天津，山东，江苏，浙江，广东及各沿海省份和多家企业事业单位建稳固的业务合作关系，随着业务的不断发展和壮大，合作伙伴的范围也在不断扩大。对于合作企业，在本公司的势力范围内会酌情销售。PP/PE/PC/PS/PET/PBT/PA/PMMA/PVC/GPPS/LDPE/HDPE/LLDPE/块料/粉碎/水口/卷膜/印刷膜/薄膜/复合膜/板材/边角料/产品料/硬砸料/通用料/工程料/定单式回收各种塑料</p>
      </div>
    </div><!--商家信息-->
</div><!--左边信息-->



<div id="right">
	<div class="info" style="margin-top:0;">
    	<div class="title"><strong>供应商信息</strong></div>
        <p><b>{{complist.name}}</b><br />
联 系 人：{{complist.contact}}  {{complist.position}}<br />
电    话：{{complist.tel_area_code}} {{complist.tel}}<br />
移动电话：{{complist.mobile}}<br />
经营范围：{{complist.business}}<br>
所在地区：{{complist.address}}</p>
    </div>
	{%if companynews%}
    <div class="info">
    	<div class="title"><h2>最新资讯</h2></div>
        <ul>
		{%for list in companynews%}
        	<li><a href="http://{{pingyin}}.zz91.com/news{{list.id}}.htm" title="{{list.title}}" target=_blank>{{list.title}}</a></li>
        {%endfor%}
        </ul>
    </div>
	{%endif%}
	{%if pricelist%}
	<div class="info">
    	<div class="title"><strong>推荐文章</strong></div>
        <ul>
			{%for list in pricelist%}
        	<li><a href="http://price.zz91.com/priceDetails_{{list.id}}.htm" target=_blank>{{list.title}}</a></li>
            {%endfor%}
        </ul>
    </div>
	{%endif%}
    <div class="info">
    	<div class="title"><h3>热门标签</h3></div>
        <h3 class="caption">
			{%for list in tagslist%}
				<a href="http://{{pingyin}}.zz91.com/products{{list.id}}.htm" target=_blank>{{list.tags}}</a> 
			{%endfor%}
		</h3>
    </div>
</div><!--右边信息-->
</div>
<div class="bottom">
  <div class="subject_foofer">
      <p><a href="http://www.zz91.com/about/index.asp" rel="nofollow" target="_blank"><br />
        关于我们</a> | <a href="http://www.recyclechina.com/" target="_blank">国际站</a> | <a href="http://www.zz91.com/service/ppt/index.asp" rel="nofollow" target="_blank">品牌通服务</a> | <a href="http://www.zz91.com/service/zst/" rel="nofollow" target="_blank">再生通服务</a> | <a href="http://www.zz91.com/cn/helpcenter/" rel="nofollow" target="_blank">新手指南</a> | <a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a> | <a href="http://www.zz91.com/hkfs/" rel="nofollow" target="_blank">支付方式</a> | <a href="http://www.zz91.com/about/question.asp" rel="nofollow" target="_blank">意见投诉</a> | <a href="http://www.zz91.com/about/linkus.asp" rel="nofollow" target="_blank">友情链接</a> | <a href="http://www.zz91.com/about/contactus.asp" rel="nofollow" target="_blank">客服中心</a> | <a href="http://www.zz91.com/about/zhaopin.asp" rel="nofollow" target="_blank">诚聘英才</a> | <a href="http://daohang.zz91.com/" target="_blank">产品导航</a><br />
        ZZ91.COM 再生网 &copy; 版权所有
        地址：浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 <br />
        客服热线：0571-56612345 56611111 传真：0571-56637777 <br />
        <br />
      </p>
    </div>
	
</div>

</body>
</html>
