<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZZ91门市部_个体经营(唐建峰)</title>
</head>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="css/MenShiBu.css"/>
<link rel="stylesheet" href="http://img0.zz91.com/zz91/esite/css/_952.css" />	
<link rel="stylesheet" href="http://img0.zz91.com/zz91/esite/css/zz91.esite.css" />
<script src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script src="js/MenShiBu.js"></script>
<body>
<script>
	jQuery(document).ready(function(){
		Asto.MINI_LOGIN_URL="http://china.zz91.com/miniLogin.htm')";
		Asto.DEST_URL="http://trade.zz91.com/submitCallback.htm";
		Asto.util.EventMonitor();
        Asto.util.placeholder("searchname");
	});
</script>
<div class="topbar">

	    <div class="topbarin">

            <ul>

                <li class="logo"><a href="http://www.zz91.com">ZZ91再生网</a></li>

                <li>

                    <span id="memberId1">您好, 欢迎来ZZ91再生网&nbsp;</span>

                    <a class="draft_no_link" href="http://china.zz91.com/login.htm" rel="nofollow">[请登录]</a>

                    <a class="draft_no_link" href="http://china.zz91.com/register/register_stp1.htm" rel="nofollow">[免费注册]</a>

                </li>

                <li><a href="http://myrc.zz91.com" class="sygj" target="_blank">生意管家</a></li>

                <li><a href="http://www.zz91.com/service/zst/" target="_blank">再生通</a></li>

				<li><a href="http://www.zz91.com/service/baidu/yh.html" target="_blank" rel="nofollow">百度优化</a></li>

				<li><a href="http://xianhuo.zz91.com/" target="_blank">现货商城</a></li>

			</ul>

            <form name="form_bar" method="post" action="http://trade.zz91.com/offerlist--a--b--c--d--e--f--p1--pp.htm" onSubmit="searchSubmit(this)">

            <fieldset class="searchbar">

                <input name="searchname" id="searchname" type="text" placeholder="请输入供求名称" class="field">

                <input type="submit" name="imageField" class="submit" id="imageField" value="">

            </fieldset>

            </form>

  </div>

</div>



<div id="company_name" class="moveChild topbaner clearfix" style="margin:0 auto">

	<div class="pointer"  onclick="window.location.href='#'" onmousedown="return aliclick(this,'?tracelog=wp_home_slogan')" >

		<div id="log">

			<table id="logTable" width="120" height="90">

				<tr>

					<td align="center" valign="middle">

																				<img id="log_img" src="http://img0.zz91.com/front/images/esite/logo.gif" height="58"/>

																		</td>

                </tr>

            </table>

		</div>

		<div id="companyname">

			<ul>

				<li class="china">

					<span id="chinaname" class="chinaname">个体经营(唐建峰)</span>

					<span style="font-size:12px;margin-top:10px">求购LDPE、医用软质PVC、PVC玩具料等各类塑料。出售LDPE粒子，医用软质PVC、PVC玩具料破碎料</span>

				</li>

			</ul>

		</div>

	</div>

</div>


<div class="nav" id="nav_click">
	<ul id="nav">
    	<li>
        	<a href="index.html">首<span class="zi1"></span>页</a>
        	<div class="nav_li_block" style="display:block">首<span class="zi1"></span>页</div>
        </li>
        <li>
        	<a href="ZuiXinGongQiu.html">最新供求</a>
            <div class="nav_li_block">最新供求</div>
        </li>
        <li>
        	<a href="GongSiDongTai.html">公司动态</a>
        	<div class="nav_li_block" style="display:block">公司动态</div>
        </li>
        <li>
        	<a href="ChenXinDangAn.html">诚信档案</a>
        	<div class="nav_li_block">诚信档案</div>
        </li>
        <li>
        	<a href="GongSiJieShao.html">公司介绍</a>
        	<div class="nav_li_block">公司介绍</div>
        </li>
        <li>
        	<a href="#">在线询价</a>
        	<div class="nav_li_block">在线询价</div>
        </li>
        <li>
        	<a href="LianXiFangShi.html">联系方式</a>
        	<div class="nav_li_block">联系方式</div>
        </li>
    </ul>
    <div style="clear:both"></div>
</div>
<!--end nav-->
<div class="banner">
	<img src="images/banner.jpg" />
</div>
<!--end banner-->

<div class="main">
	<div class="left">
    	<div class="block">
        	<div class="zi2">
            	<img src="images/img.jpg" class="i1" />
            </div>
            <div class="zi3">
            	浙江永成贵金属回收提炼厂
            </div>
            <div class="zi4">
            	所在地区：浙江 台州<br />
                营业执照：<span class="zi1"></span><span class="zi1"></span><a href="#">已认证</a><br />
                诚信指数：70<br />
                经营范围：大量求购含金银铂钯铑<br />
                的贵金属废料和催化剂、X光片等
            </div>
            <div class="zi2" style="margin:20px 0 10px 0">
            	<div class="zi2_left">
                	<a href="#">在线询价</a>
                </div>
                <div class="zi2_left">
                	<a href="#">收藏店铺</a>
                </div>
            </div>
        </div>
        <!--end block-->
        <div class="block" style="margin-top:16px">
        	<div class="title">
            	联系方式
            </div>
            <div class="zi4" style="background:none;line-height:24px;margin:8px">
            	联系人：张勇  先生<br />
                电话：13968564276<br />
                传真：0576-87730818<br />
                移动电话：13968564276<br />
                地址：浙江仙居工业大道
            </div>
      </div>
        <!--end block-->
    </div>
    <!--end left-->
    <div class="right">
    	<div class="DongTai">
        	当前位置：首页 > 公司动态
        </div>
        <!--end DongTai-->
       <div class="DongTai_title">
       		<div class="zi12">
            	我国化工行业对外反倾销市场分析
            </div>
            发布时间：2012-08-24
       </div>
       <!--end DongTai_title-->
       <div class="zi13">
       		我国化工企业在出口的同时遭到反倾销措施的阻碍。国外对华倾销产品也不断流入我国，化工行业已成为国外对华倾销的重灾之地。
       </div>
       <div class="img2">
       		
       </div>
       <div class="zi13">
       		我国化工行业对外反倾销市场分析
       </div>
       一、我国化工行业遭受倾销和反倾销的现状
       <p>
       	
    国外化工产品的倾销对我国化工行业产生损害主要表现在：受国外倾销产品进口价格不断下降的冲击。价格低的原因主要有两方
面：(1)我国出口的绝大多数是初级的化工产品，加工增值率不高；(2)许多企业在成本核算时没有或少计算了环保成本。
以初级形态二甲基环体硅氧烷为例，倾销产品进口价格从2001年以来，每年比前一年下降的比例分别为5.42%、10.69%和8.59％。2004
年第一季度被调查产品的价格比2003年略有回升，但相对于调查期前三年仍然存在大幅下降，2001年，2002年，2003年，国内同类产
品的加权平均价格比上一年分别下降7.57%、18.70%、9.91％。国外企业通过对我国进行倾销，不断地蚕食国内市场份额。倾销期间，
我国同类化工企业的开工率普遍不足，设备利用率较低。国内同类产品的税前利润很少，有时甚至为负数。大多数处于亏损状态，有
的甚至破产。以初级形态二甲基环体硅氧烷为例，2001年，国内产业的税前利润比上年下降了49.44%；2002年，国内产业的税前利润
再次大幅下降；2003年，国内产业的税前利润继续下降，亏损额比上年增加了120.38%，亏损状况更加恶化。2004年第一季度，虽有所
好转，但国内产业仍整体亏损严重。
    面对国外的倾销行为，截止到2007年3月，我国对外提出反倾销诉讼共49起。其中约三分之二的案件集中在化工行业，在该行业做
出终裁的28起案件中，我国企业胜诉的有22起，其中2起判定无损害，3起是因为申请人要求撤消反倾销调查而终止调查，1起是因产业
无实质性损害而停止调查。总体上在做出终裁的企业胜诉率是78.6%.还是比较高胜诉率。
       </p>
       <div class="FenXiang">
       		
            <div class="img3">
            	<a href="#"><img src="images/icon5..jpg" /></a>
                <a href="#"><img src="images/icon5..jpg" /></a>
                <a href="#"><img src="images/icon5..jpg" /></a>
                <a href="#"><img src="images/icon5..jpg" /></a>
                <a href="#"><img src="images/icon5..jpg" /></a>
            </div>
            <div class="zi14">分享到：</div>
            <div style="clear:both"></div>
       </div>
       <!--end FenXiang-->
       <div class="page_updown">
       		<div class="page_updown_left">
            	<a href="#">上一篇：【润滑硅脂】诚招全国各地代理商</a>
            </div>
            <div class="page_updown_right">
            	<a href="#">下一篇：【润滑硅脂】诚招全国各地代理商</a>
            </div>
            <div style="clear:both"></div>
       </div>
       <!--end page_updown-->
       <div class="other-news">
       		<div class="title">
            
				<div class="zi5"><a href="#">济南龙城有机硅有限公司的其它公司动态</a></div>
                <div class="zi6"><a href="#">返回公司动态</a></div>

            </div>
            <ul>
            	<li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
                <li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
                <li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
                <li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
            </ul>
            <ul>
            	<li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
                <li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
                <li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
                <li><a href="#">平板运输车各种吨位平板运输车参数配置</a></li>
            </ul>
            <div style="clear:both"></div>
       </div>
       <!--end other-news-->
    </div>
    <!--end right-->
    <div style="clear:both"></div>
    <div class="down">
    	<div class="zi8">
        	<div class="zi9">主营产品</div>
            大量求购含金银铂钯铑的贵金属废料和催化剂、X光片等
        </div>
        <div class="zi8">
        	<div class="zi9">联系我们</div>
            浙江永成贵金属回收提炼厂<br /> 
            电话：0577-86821710 <br />
            地址：温州市龙湾区沙城街道西门台3幢14号
        </div>
        <div class="zi8" style="margin:0">
        	<div class="zi9">技术支持</div>
            ZZ91再生网<br />
			备案/许可证编号：沪ICP备09005615号
        </div>
    </div>
    <!--end down-->
</div>
<!--end main-->



</body>
</html>
