@charset "utf-8";

.main_box {width:958px;margin:auto;margin-top:8px}
.zz91leader {width:930px;line-height:18px}
.zz91leader a:hover {text-decoration:none;color:#29b341}
.m-left{width:648px;float:left}
.m-right{width:293px;float:right}
.l-title{border-bottom:1px solid #29b341}
.l-txt_ a{color:#fff}
.l-txt_ a:hover{color:#fff}
.l-txt{line-height:30px;border:1px solid #29b341;text-align:center;font-size:14px;float:left;padding-left:10px; padding-right:10px;}
.l-txt_{line-height:32px;background:#29b341;color:#fff;text-align:center;font-size:14px;float:left; padding-left:10px; padding-right:10px;}
.l-main{padding:15px 0}
.l-main ul{list-style:none}
.l-main ul li{border-bottom:1px solid #e7e7e7;padding-top: 10px; padding-bottom:10px;}
.m-item{font-size:14px}
.m-item_{padding:15px 0;font-size:13px}
.m-item a{color:#1e50a2; font-weight:bold}
.m-item_ a{color:#444444;}
.span{color:#cc0000}
.i1-txt{width:294px;font-size:12px;color:#888888;float:left}

/**page**/
.page{width:648px;height:30px;margin:40px auto 20px auto}
.page-style {width:50px;height:24px;border:1px solid #ccc;text-align:center;line-height:26px;float:left;margin-right:10px}
.page-style_ input{width:30px;height:24px;border:1px solid #ccc;font-size:12px;text-align:center}
.page-style a {width:50px;height:24px;display:block;color:#666666}
.page ul {float:left}
.page ul li {border:1px solid #ccc;margin-right:10px;float:left}
.page ul li a {padding:3px 10px;display:block;color:#666666}
.page-txt{height:24px;line-height:26px;float:left;margin-right:10px;color:#666666}
.page-confirm{width:35px;height:24px;border:1px solid #ccc;text-align:center;line-height:26px;background:#f5f5f5;float:right;color:#666666}

/**hot**/
.mr-hot{overflow:hidden;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:15px}
.h-title{height:30px;border-top:2px solid #009944;border-bottom:1px solid #ccc;background:#f7f8fc;padding:0 10px;line-height:30px}
.ht-txt{color: #333;font-weight:bold;font-size:14px;float:left}
.ht-txt_{float:right}
.h-content{padding:15px 10px}
.hc{font-size:14px;color:#009aff;float:left}
.category{width:220px;display:block;float:left;_float:none;font-size:14px;padding:0px;margin:0px}
.category li{float:left;padding:0px;margin-top:0;margin-right:4px;margin-bottom:10px;margin-left:4px}
.category a{margin-right:10px}
/**new**/
.h-content_1{width:291px;height:250px;padding-top:5px;overflow:hidden}
.hc_ul{list-style:none;overflow:hidden}
.hc_ul li{height:80px;border-bottom:1px solid #ebebeb;margin-bottom:5px;margin-left:5px;}
.i-img{background:#000;float:left}
.i-txt{margin-top:8px;margin-left:10px;float:left; width:200px; color:#999;}
.i-txt a{color:#999}
.i-txt b{overflow:hidden; text-overflow:ellipsis;white-space:nowrap; width:200px; color:#666; display:block}
.i-txt b a{color:#666}
.ia{color:#3767a3}
.ia_{font-weight:bold}
.it{display:i}
.it_{float:left}

/**week-hot**/
.h_ul{padding:10px}
.h_ul li{height:28px;line-height:28px;border-bottom:1px solid #ebebeb;font-size:13px;overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}

.mr-hot_{overflow:hidden;text-align:center;font-size:25px;color:#fff}

.main_box_ {width:958px;margin:auto;margin-top:8px;border:1px solid #ccc}
.b-title{padding:10px 20px}
.b-title span{font-family:"宋体";font-size:20px;color:#2b2b2b}
.b-title a{font-size:12px;float:right}
.b-content{
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 40px;
}
.b-content li{margin-right:30px;float:left; text-align:center;}
.c-img{width:130px;height:120px; text-align:center}
.ch{color:#009944}
.ct span{color:#fe0000;font-weight:bold}
