@charset "utf-8";



/*首页*/
.AfterShow{width:auto;height:auto}
.mt30{margin-top:30px}

/*头部*/
.as-header{height:324px;background:#b6080c}
.as-header img{width:1003px;height:324px;display:block;margin:0 auto}

/*主体*/
.as-main{width:1003px;margin: auto}
.as-mainblock1{width:1003px;margin:35px 0}
.as1-w440{width:440px}
.as1-w530{width:530px}
.as1-item{border:1px solid #ccc}
.as1-item-title{padding:0 20px;background:url(../images/item_bg.jpg) repeat-x}
.as1-item-content{padding:20px;height:282px}
.as1-item-img{width:394px;height:282px;border:1px solid #ccc}
.as1-item-left{width:159px;height:284px;overflow:hidden;}
.as1-item-box2{position:relative;width:159px;height:127px;overflow:hidden;}
.as1-item-box2 ul{position:absolute;left:0px;top:0px;}
.as1-item-box2 ul li{height:127px;overflow:hidden;}
.as1-item-right{width:320px}
.as1-item-box{width:280px;height:105px;padding:10px 20px;border:1px solid #ccc;overflow:hidden;}
.as1-item-box ul li{height:115px}
.as1-item-box ul li a{font-size:12px}
.as1-item-box ul li a:hover{text-decoration:none}
#toplist2{position:relative;width:280px;overflow:hidden;}
#toplist2 ul{position:absolute;left:0px;top:0px;}
#toplist2 ul li{line-height:24px;height:105px;}
#toplist3{position:relative;width:280px;overflow:hidden;}
#toplist3 ul{position:absolute;left:0px;top:0px;}
#toplist3 ul li{line-height:24px;height:105px;}
.cls_container{border:1px solid #ccc;width:340px;font-size:12px;height:24px;overflow:hidden;}
.cls_container ul{list-style-type:none;margin:0;padding:0;margin-left:32px;}
.cls_container ul li{height:24px;line-height:24px;width:320px;float:left;}


/*第二部分*/
.as-mainblock2{width:1003px;height:520px}


/*第三部分*/
.as-mainblock3{width:963px;margin:35px 0;border:1px solid #ccc;background:#faf8f8;padding:20px}
.as3-title{}
.as3-content p{color:#393a39;text-indent:2em;line-height:24px}

/*第四部分*/
.as-mainblock4{width:983px;height:79px;padding:10px;background:url(../images/bg1.jpg) no-repeat}
#slide{overflow:hidden;width:983px;margin:0 auto;}
#slide ul{list-style:none;width:2999px;}
#slide ul li{float:left}
/*第五部分*/
.as-mainblock5{width:667px;height:54px;margin:55px auto}
.frame960{width:1003px;height:520px;margin:0 auto;}