/* CSS Document */
.box{ width:983px; margin:0 auto; position:relative; overflow:hidden; _height:100%;}
.picbox{ width:983px; height:89px; overflow:hidden; position:relative;}
.piclist{ height:89px;position:absolute; left:0px; top:0px}
.piclist li{float:left;}
.swaplist{ position:absolute; left:-3000px; top:0px}
.og_next{}
