@charset "utf-8";

body{background:#960001}
.highquality{width:950px;margin:0 auto}
.top{height:245px;background:url(../images/top.jpg) no-repeat;position:relative}
.top_a{width:320px;height:48px;display:block;position:absolute;left:80px;top:180px}
.top-text{width:390px;height:40px;font-size:22px;font-family:"微软雅黑";position:absolute;right:80px;top:20px;color:#fff;font-size:b
;text-align:right;overflow:hidden}
.top-text-zi{font-size:28px;color:#ffc801;margin:0 10px}

.nav{width:890px;height:90px;padding:30px;background:#d60000;margin:20px 0}
.nav-item{height:30px}
.nav-item ul li{float:left;margin-right:40px}
.nav-item ul li a{color:#fff;font-size:14px}

.block{padding:19px 20px;background:#d60000;margin-bottom:20px;position:relative}
.block-content{width:890px;padding:20px;padding-left:0px;padding-bottom:0px;background:#fff;}
.block-content2{width:900px}
.block-item{width:202px;float:left;margin-left:20px;margin-bottom:20px;position:relative}
.block-item-img{width:200px;height:169px;border:1px solid #ccc}
.block-item-img img{width:200px;height:169px}
.block-item-text{line-height:24px;text-align:left;margin-top:5px}
.block-item-text a{color:#0066ff}
.block-item-text2{line-height:24px;color:#666}
.floatBox{width:200px;padding:10px;border:1px solid #ff9900;background:#ffffcc;line-height:20px;color:#666;position:absolute;left:0px;top:245px;z-index:999;display:none}
.page{width:600px;margin:0 auto;padding-bottom:10px}
.page ul li{float:left;border:1px solid #ccc;padding:5px 10px;margin-right:10px;background:#fdfdfd}
.page ul li:hoveer{background:#f3f3f3}
.page-text{width:30px}
.page-space{border:0}
.item_top{width:293px;height:54px;position:absolute;left:330px;top:-7px}

