@charset "utf-8";

body{margin:0;padding:0;background:#710202}
.top{height:594px;background:url(http://www.zz91.com/zt/scoreboard/images/top.jpg) no-repeat;background-position:center}
.item{width:960px;margin-top:88px}
.i-left{float:left}
.i-right{float:left}

.i-table table{width:825px;background:#fff;margin-left:15px;margin-bottom:57px}
.i-tle{height:45px}
.i-txt{height:37px}
.it-0{font-size:14px;padding-left:20px}
.it-1{font-family:"宋体";text-align:center}
.it-10{font-family:"微软雅黑";text-align:center;color:#303030;font-size:14px}
.it-01{font-family:"宋体";font-size:14px;padding-left:20px;color:#f1000e}
.it-12{font-family:"微软雅黑";font-size:14px;text-align:center;color:#f1000e}
.it-00{font-family:"微软雅黑";font-size:20px;color:#b31a23;font-weight:bold;padding-left:20px}
.it-11{font-family:"微软雅黑";font-size:20px;text-align:center;color:#b31a23;font-weight:bold}

.subject_foofer a{color:#000}
.subject_foofer a:hover{ color:#FF0}