@charset "utf-8";

body{margin:0;padding:0}
.top{height:503px;background:url(../images/top.jpg) no-repeat;background-position:center}

.line{height:128px;background:url(../images/qd.jpg) no-repeat}
.line1{height:128px;background:url(../images/hd.jpg) no-repeat}
.line2{height:128px;background:url(../images/lw.jpg) no-repeat}
.main{margin:0 auto}
.content_qd{width:1150px;float:left;overflow:hidden}
.qd-img{float:left}
.qd-img1{margin-top:194px;float:left}
.txt a{color:#1e71c0}
.qd-img2{margin-left:59px;float:left}

