@charset "utf-8";
/* CSS Document */
body{background-color:#f8b305}
.vmblk{width:1024px;margin:0 auto}
.vcpysay{width:940px;margin:0 auto;background-color:#f7c874;padding:12px 0px 6px 0px}
.vcpysay ul li{width:449px;height:120px;float:left;margin:4px 9px;_margin:5px;}
.vcpysay ul li img{border:solid 2px #fff;border-radius:3px;width:449px;height:120px;overflow:hidden}
.vformtop{width:939px;margin:0 auto;margin-top:12px}
.vformcont{width:939px;height:161px;margin:0 auto;background:url(../images/v04.png) no-repeat;}
.vformcont ul{padding-top:30px;width:700px;margin:0 auto;}
.vformcont ul li{height:34px;font:bold 16px/34px '宋体';color:#fff}
.vformcont ul li span{display:block;float:left;margin-right:14px}
.vcontl{width:250px}
.fonty{color:#ffff00}
.vformtxt{width:938px;height:221px;margin:0 auto;background:url(../images/v05.png) no-repeat;}
.vformtxt .vformtxtont{background-color:#e50d10;width:716px;height:186px;margin:0 auto;padding:8px 0px}
.vformtxtont .vform_d{height:38px;}
.vformtxtont .vform_d input,.vform_m input{height:24px;border:none;_border:0}
.vformtxtont .vform_d .vform_dl,.vform_m .d_l_l,.vform_dl{margin-right:8px;height:24px;width:100px;color:#fff;text-align:right;font:bold 14px/24px '宋体';float:left}
.vform_dl span{display:block}
.vformtxt input,.vformtxt textarea{color:#333;line-height:20px;padding:1px}
.vform_bm{margin-top:12px}
.vform_d input{width:500px}
.vform_m input{width:195px}
.vform_bm textarea{height:60px;border:none;border:0;width:500px}
.vf_d_l{float:left}
.vbtn{height:28px;width:92px;margin:10px auto}
.vbtn input{width:92px;height:28px;border:none;_border:o;text-align:center;line-height:28px;color:#f00;background:url(../images/v07.gif)}