@charset "utf-8";
/* CSS Document */

/*通用搜索条**/
.sch-button{position:absolute;right:0;top:0;width:60px;height:27px;text-align:center;vertical-align:middle;padding-top:11px;color:#FFFFFF; border:0px; background:#009943}
.sch-input{
	border-radius:2px;
	border-top-width: 3px;
	border-right-width: 64px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #090;
	border-right-color: #090;
	border-bottom-color: #090;
	border-left-color: #090;
}
.sch-input input{border-style:none;text-indent:10px;height:32px;width:100%;}
.input-close{display:block;width:16px;height:32px;padding:11px 0px;}