@charset "utf-8";
/* CSS Document */

/*详情页*/
.dt-title{padding:12px 10px 0 10px;background-color:#F7F7F7;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6) );box-shadow:0px -1px 0px #fff inset;border-bottom:1px solid #ccc;}
.dt-title .arrow-outer{position:relative;width:13px;height:7px;}
.dt-title .arrow-outer .arrow{position:absolute;bottom:-1px;width:13px;height:7px;margin-left:10px;background-image: url(/images/info.png);background-position: -250px -128px;background-repeat: no-repeat;}
.dt-append-title{padding:13px 10px;line-height:22px;border-bottom:1px solid #ccc;}
.dt-append-title table,.dt-append-title td{border:1px solid #a0a0a0; text-align:center;}
.asw-other{height:30px;line-height:30px;border-bottom:1px solid #CCC;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6) );background-color:#F7F7F7;padding-left:10px;box-shadow:0px -1px 0px #fff inset;}
.asw-item-title{padding:12px 0 8px 0;margin:0 10px;border-bottom:1px dashed #ccc;}
.asw-item-content{padding:8px 10px;line-height:22px;border-bottom:1px solid #ccc;}
.newscontent,.newscontent p{font-size:16px; line-height:25px;}