@charset "utf-8";
/* CSS Document */
/*顶部搜索条*/
.searchHome{margin: 0 0px;padding-top: 10px;padding-left: 3px;padding-right: 3px;padding-bottom: 0px;height: 41px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa00),to(#ff7900) );}
.searchtype{position: absolute; top: 92px; left: 3px;width:54px;padding:0px;margin:0 0px; background-color:#fff;border:1px solid #ccc;z-index:10;}
.searchtype li{border-top:1px solid #ccc;display:block;padding:10px 10px;color:#555;}
.searchtype li:hover{background-color:#fefbec;}
.searchtype  .search{float:right;}
.searchtype p{padding:11px;height:26px;}
.searchtype .selectRadio label{display:inline-block;padding:5px;}
.mainIcon{display:inline;position:absolute;top:5px;width:43px;height:34px;}
.mainIconInside{position:absolute;top:3px;z-index:1;}
.index-search-bar {margin:0 0px;padding-top:10px;padding-left:3px;padding-right:3px;padding-bottom:0px;height:41px;background-color:#ff7900;}
.index-search-type {position:absolute;left:0px;width:42px;height:18px;padding-left:9px;padding-top:7px;padding-bottom:3px;padding-right:3px;border-width: 1px;border-color: #BDBDBD;border-style: solid;background-color:#FEFBEC;-webkit-box-shadow:inset 0 1px 1px #b3b3b3;background-image:url(/images/mobile-wap-img.png);background-repeat:no-repeat;background-position:-63px -623px;}
.index-search-input {width:100%;background-image:none;height:30px;line-height:30px;padding-left:4px;}