@charset "utf-8";
/* CSS Document */

/*面包屑*/
.bread-new{height:40px;line-height:40px;background-color:#34B327;border-bottom:1px solid #218817;}
.bread-new *{line-height:40px;color:#fff;}
.bread-new .no-arrow{float:left;padding-left:10px;font-size:16px;}
.bread-new .bg-link{float:left;background-image: url(/images/info.png);background-position: -105px -172px;background-repeat: no-repeat;padding-left:10px;padding-right:10px; width:50px;}
.bread-new .arrow-link{float:left;width:20px;background-image: url(/images/info.png);background-position: -74px -172px;background-repeat: no-repeat;}
.bread-new .arrow-last{float:left;width:20px;background-image: url(/images/info.png);background-position: -44px -172px;background-repeat: no-repeat;}
.bread-new .text{padding-left:12px;float:left; width:100px; border:0px;}

.bread-new .icon-right{background-color:#FF9600;background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9000), to(#ff7300) );border-left:1px solid #D15F00;box-shadow:1px 1px 0px #FFA530 inset;}
.bread-new .icon-add{float:left;width:18px;height:18px;margin-left:18px;margin-top:11px;margin-right:16px;background-image: url(/images/info.png);background-position: -153px -370px;background-repeat: no-repeat;}
.bread-new .icon-cate{margin:11px 14px;float:left;width:18px;height:18px;background-image: url(/images/info.png);background-position: -203px -370px;background-repeat: no-repeat;}
.bread-new .cate-box{padding-right:10px;box-shadow:1px 1px 0px #FFA530 inset;float:right;border-left:1px solid #D15F00;background-color:#FF9600;background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9000), to(#ff7300) );}
.bread-new .cate-icon{margin:11px 8px 11px 14px;float:left;width:18px;height:18px;background-image: url(/images/info.png);background-position: -203px -370px;background-repeat: no-repeat;}
.bread-new .cate-box2{padding-right:16px;float:right;}
.bread-new .cate-icon2{margin:11px 0;float:left;width:18px;height:18px;background-image: url(/images/info.png);background-position: -0 -136px;background-repeat: no-repeat;}