<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>你还在担心饮用水的健康问题吗</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/../../../images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<script type="text/javascript" src="../../commjs/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../commjs/hb.comm.js" ></script>
<style type="text/css">
td{font-size:12px; font-family:"宋体"; line-height:24px;}
img{border:0px;}
a {
	font-size: 12px;
	color: #000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #F00;
}
a:active {
	text-decoration: none;
	color: #000;
}
</style>
</head>

<body style="margin:0px;">
{%include 'html/comm/top.html'%}
<div style="width:958px; margin:0px auto;">
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/dwater_02.jpg" width="958" height="255" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="285" bgcolor="#fafae4" style="padding:10px;"><img src="../images/dwater_06.jpg" width="285" height="228" /></td>
    <td bgcolor="#fafae4" style="font-size:14px; text-indent:2em;">据世界卫生组织（WHO）调查表明，全世界80%的疾病和50%的儿童死亡都与饮用水水质不良有关。<br />
      由于饮用不良水质导致的消化疾病、传染病、各种皮肤病、糖尿病、癌症、结石病、心血管病等多达<br />
      50多种；由于水质污染，使得自来水水质不断下降。据国际卫生组织报道，自来水中含有害有物己达<br />
      756种，其中20种确认致癌，24种可疑致癌，18种助癌促癌，47种致突变物， 而且这些有机物采用传<br />
      统的净水设备和工艺是无法有效除去的。而生活水处理设备通过净化水份中的有机物，采用最新的深<br />
      度净化灭菌技术，能非常有效的净化饮用水资原。<br />
&nbsp;&nbsp;&nbsp;&nbsp;生活水处理设备主要包括了软水机、纯水机、净水器、精密过滤器和开水龙头以及路设计、设备<br />
安装和售后服务等，这是一整套为消费者提供的水处理设备。目前市场上水处理设备也主要包括软水<br />
机、纯水机、净水器三大类型。</td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/dwater_10.jpg">
  <tr>
    <td><img src="../images/dwater_09.jpg" width="208" height="70" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="65" valign="top" bgcolor="#FBFAE5"><img src="../images/dwater_12.jpg" width="65" height="52" /></td>
    <td width="450" valign="top" bgcolor="#FBFAE5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="143"><a href="http://www.huanbao.com/trade/supply/index--1000100110071003--.htm" target="_blank"><img src="../images/dwater_13.jpg" width="133" height="143" /></a></td>
        <td style="line-height:20px;"><h3>直饮机：</h3>
&nbsp;&nbsp;&nbsp;&nbsp;直饮机是提供直饮水的一种装置，类似于家用的净<br />
水器，它通过内置的滤芯将自来水中的杂质过滤掉并输<br />
出质量达标的饮用水。这种装置常见于公园等公共场所<br />
为路人提供方便。最有效的去除水中钙、镁、细菌、有<br />
机物、无机物、金属离子和放射性物质等，经过该装置<br />
净化出的水晶莹清澈、甜美甘醇……<a href="http://www.huanbao.com/trade/supply/index--1000100110071003--.htm" target="_blank" style="color:#113bf0; text-decoration:none;">[搜索直饮机]</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="border-bottom:dashed 1px #e7e7b2;">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="143"><a href="http://www.huanbao.com/trade/supply/index--1000100110071000--.htm" target="_blank"><img src="../images/dwater_17-22.jpg" width="133" height="143" /></a></td>
          <td style="line-height:20px;"><h3>家用净水机：</h3>
&nbsp;&nbsp;&nbsp;&nbsp;不使用任何化学剂或抑菌剂。采用物理技术方法，<br />
对人体和环境没有任何危害。 经反渗透净水机处理的<br />
水具有清澈、甘甜、无菌、低盐、无水垢、无污染并含<br />
有一定微量元素和矿物质的特点。适合饮用，便于人体<br />
吸收，活化人体细胞，促进新陈代谢，增强免疫力和抵<br />
抗力，健康安全……<a href="http://www.huanbao.com/trade/supply/index--1000100110071000--.htm" target="_blank" style="color:#113bf0; text-decoration:none;">[搜索家用净水机]</a></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="border-bottom:dashed 1px #e7e7b2;">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="143"><a href="http://www.huanbao.com/trade/supply/index--1000100110071001--.htm" target="_blank"><img src="../images/dwater_19-25.jpg" width="133" height="143" /></a></td>
          <td style="line-height:20px;"><h3>家用纯水机：</h3>
&nbsp;&nbsp;&nbsp;&nbsp;在这方面最突出的特点是水壶或电暖瓶再也不会结<br />
水垢了；纯水用于烹饪，更加卫生，更加可口；用纯水<br />
洗浴，可以清除皮肤上的杂质，滋润皮肤，起到自然美<br />
容的效果；可以提供给加湿器、蒸汽熨斗、美容仪……<br />
等小家电所需要的用水。决不会出现让人讨厌的白色粉<br />
末……<a href="http://www.huanbao.com/trade/supply/index--1000100110071001--.htm" target="_blank" style="color:#113bf0; text-decoration:none;">[搜索家用纯水机]</a></td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="border-bottom:dashed 1px #e7e7b2;">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="143"><a href="http://www.huanbao.com/trade/supply/index--1000100110071002--.htm" target="_blank"><img src="../images/dwater_21-31.jpg" width="133" height="143" /></a></td>
          <td style="line-height:20px;"><h3>矿泉水设备：</h3>
&nbsp;&nbsp;&nbsp;&nbsp;矿泉水设备是以膜两侧压力差为动力，以机械筛分<br />
原理为基础的一种溶液分离 ，使用压力通常为0.2MPa<br />
--0.6MPa,分离孔径1nm--0.1μm,能在60℃ 以下，PH2-<br />
11的条件下长期连续使用……<a href="http://www.huanbao.com/trade/supply/index--1000100110071002--.htm" target="_blank" style="color:#113bf0; text-decoration:none;">[搜索矿泉水设备]</a></td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="border-bottom:dashed 1px #e7e7b2;">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="143"><a href="http://www.huanbao.com/trade/supply/index--1000100110071004--.htm" target="_blank"><img src="../images/dwater_23-34.jpg" width="133" height="143" /></a></td>
          <td style="line-height:20px;"><h3>售水机：</h3>
&nbsp;&nbsp;&nbsp;&nbsp;水是生命之源，每家每户都需要用到水，售水机需<br />
要健康、活氧、能量，可安装布放于小区、街道、超市<br />
学校、单位等场地，24小时自动售水方便了人们对高品<br />
质饮水的要求实现了科学、便捷、廉价、创新的饮水消<br />
费模式……<a href="http://www.huanbao.com/trade/supply/index--1000100110071004--.htm" target="_blank" style="color:#113bf0; text-decoration:none;">[搜索售水机]</a></td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
    </table></td>
    <td valign="top" bgcolor="#FBFAE5">&nbsp;</td>
    <td width="370" valign="top" bgcolor="#FBFAE5"><table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/dwater_19.jpg">
      <tr>
        <td><img src="../images/dwater_16.jpg" width="370" height="70" /></td>
      </tr>
      <tr>
        <td><div style="width:300px; margin:0px auto;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="180">·<a href="http://www.huanbao.com/esite/detail10035456.htm" target="_blank">华尔康净水器:反渗透RO纯水机，采用逆渗透</a>……<br />
              ·<a href="http://www.huanbao.com/esite/detail10026258.htm" target="_blank">黄江员工直饮水设备，常平工厂直饮纯水机</a>……<br />
              ·<a href="http://www.huanbao.com/esite/detail197373.htm" target="_blank">矿泉水生产设备:泉水是从地下深处自然涌出</a>……<br />
              ·<a href="http://www.huanbao.com/esite/detail10025635.htm" target="_blank">环保饮水设备数码饮水设备,环保饮水设备特</a>……<br />
              ·<a href="http://www.huanbao.com/esite/detail10024861.htm" target="_blank">不锈钢开水机，不锈钢节能开水机</a><br />
              ·<a href="http://www.huanbao.com/esite/detail10037625.htm" target="_blank">【喜乐嘉】家用不锈钢三级净水器：一款直接安</a>……<br />
              ·<a href="http://www.huanbao.com/esite/detail10024675.htm" target="_blank">自来水过滤器:自来水过滤器、净水器生产厂</a>……</td>
          </tr>
        </table>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td style="border-bottom:dashed 1px #e7e7b2;">&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm" target="_blank"><img src="../images/dwater_23.jpg" width="370" height="155" /></a></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td><img src="../images/dwater_26.jpg" width="370" height="10" /></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/dwater_19.jpg">
        <tr>
          <td><img src="../images/dwater_28.jpg" width="370" height="70" /></td>
        </tr>
        <tr>
          <td><div style="width:300px; margin:0px auto;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="180">·<a href="http://www.huanbao.com/esite/index50025124.htm" target="_blank">上海谦晶智能科技有限公司</a><br />
                ·<a href="http://www.huanbao.com/esite/index50022117.htm" target="_blank">佳贝尔净水器（深圳）有限公司</a><br />
                ·<a href="http://www.huanbao.com/esite/index50022143.htm" target="_blank">佛山市顺德区淋斯莱克节能科技有限公司</a><br />
                ·<a href="http://www.huanbao.com/esite/detail1282949.htm" target="_blank">北京冀北峰商贸有限公司</a><br />
                ·<a href="http://www.huanbao.com/esite/index9010096.htm" target="_blank">北京海扬鸿业水处理设备有限公司</a><br />
                ·<a href="http://www.huanbao.com/esite/index9279955.htm" target="_blank">山东川一水处理设备有限公司</a><br />
                ·<a href="http://www.huanbao.com/esite/index50004981.htm" target="_blank">新疆原水处理设备有限公司</a></td>
            </tr>
          </table>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td style="border-bottom:dashed 1px #e7e7b2;">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="http://www.huanbao.com/myesite/regist.htm" target="_blank"><img src="../images/dwater_33.jpg" width="370" height="120" /></a></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td><img src="../images/dwater_26.jpg" width="370" height="10" /></td>
        </tr>
    </table></td>
    <td valign="top" bgcolor="#FBFAE5">&nbsp;</td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/dwater_10.jpg">
  <tr>
    <td><img src="../images/dwater_25.jpg" width="211" height="70" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="65" valign="top" bgcolor="#FBFAE5"><img src="../images/dwater_38.jpg" width="65" height="52" /></td>
    <td valign="top" bgcolor="#FBFAE5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="25%"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index50022117.htm" target="_blank"><img src="../images/dwater_28-40.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index50022117.htm" target="_blank">佳贝尔净水器（深圳）有<br />
              限公司</a></td>
          </tr>
        </table></td>
        <td width="25%" valign="top"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index50017291.htm" target="_blank"><img src="../images/dwater_30-42.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index50017291.htm" target="_blank">长沙聚丰环保科技有限公司</a></td>
          </tr>
        </table></td>
        <td width="25%" valign="top"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index50022143.htm" target="_blank"><img src="../images/dwater_32-44.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index50022143.htm" target="_blank">佛山市顺德区淋斯莱克节能<br />
              科技有限公司</a></td>
          </tr>
        </table></td>
        <td width="25%" valign="top"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index9026695.htm" target="_blank"><img src="../images/dwater_34.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index9026695.htm" target="_blank">武汉鑫泰源纳米科技净化设<br />
              备有限公司</a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index50022076.htm" target="_blank"><img src="../images/dwater_41-53.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index50022076.htm" target="_blank">山东川一水处理设备工程有<br />
              限公司</a></td>
          </tr>
        </table></td>
        <td valign="top"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index50021848.htm" target="_blank"><img src="../images/dwater_42.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index50021848.htm" target="_blank">深圳市尼佳康科技有限公司</a></td>
          </tr>
        </table></td>
        <td valign="top"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index50000131.htm" target="_blank"><img src="../images/dwater_55.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index50000131.htm" target="_blank">山东济南盛源水处理设备有<br />
              限公司</a></td>
          </tr>
        </table></td>
        <td valign="top"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.huanbao.com/esite/index50025124.htm" target="_blank"><img src="../images/dwater_40.jpg" width="145" height="113" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.huanbao.com/esite/index50025124.htm" target="_blank">上海谦晶智能科技有限公司</a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 3px #fafae4;">
  <tr>
    <td height="10"></td>
  </tr>
</table>
</div>
{% include 'html/comm/buttom.html' %}
</body>
</html>
