body{
	background: #fa4a1b
}
.band{
	height: 586px;
	background: url(../images/band.jpg) no-repeat center top;
}
.guize{
	width: 980px;
	margin: 55px auto 0;
}
.guize-title{
	height: 135px;
	background: url(../images/hotbt.jpg)  no-repeat center top;
}
.tishi{
	font-size: 12px;
	color: #fff;
	margin-top: 20px;
}
.cj-hd{
	height: 500px;
	width: 499px;
	background: url(../images/cjiangbg.jpg);
}
.choujiang{
	width: 980px;
	margin: 55px auto 0
}
.jiangpk{
	height: 478px;
	width: 480px;
	/*overflow: hidden;*/
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	padding-top: 5px;
}
.jiangpk-ul{
	/*margin-top: 5px;*/
	width: 480px;
}
.jiangpk-ul li{
	width: 150px;
	height: 150px;
	float: left;
	padding: 5px;
	/*margin: 0 10px 10px 0;*/
}
.jiangpk-ul .nowplay{
	background: url(../images/kuang.png);
}
.cjst{
	background: url(../images/shoubg.jpg) no-repeat center center;
}
.xuanku{
	position: absolute;
	left: -10px;
	top: -109px;
	background: url(../images/cjiangbg.png);
	width: 980px;
	height: 605px;
	z-index: 2;
	display: none;
}
.jianx-ts{
	height: 257px;
	width: 257px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -128px;
	margin-top: -128px;
	display:none;
	z-index: 3
}
.canplay{
	text-align: center;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: bold;
}
.cjst-play{
	margin-left: 5px;
	margin-top: 15px;
	cursor: pointer;
}
.number-play{
	color: red
}
.j_close{
	position: absolute;
	right: 35px;
	top: 0px;
	cursor: pointer;
}
.cj-succ{
	height: 500px;
	width: 462px;
	background: url(../images/zjbg.jpg);
}
.cj-succ-pple{
	width: 280px;
	margin: 115px auto 0;
	overflow: hidden;
	height: 320px;
}
.cj-ul li{
	line-height: 30px;
	height: 30px;
}
.cj-ul li span{
	display: inline-block;
}
.cj-ul-sp1{
	width: 68px;
}
.cj-ul-sp2{
	width: 85px;
}
.cj-ul-sp3{
	width: 35px;
}
.erwei-info{
	width: 325px;
	color: #fff;
	font-family: "微软雅黑"
}
.erwei-info p{
	margin-bottom: 8px;
}
.erwei-info img{
	float: left;
	margin-right: 8px;
}
.erweidiv{
	width: 980px;
	margin: 55px auto;
}
.erwei{
	padding:0 80px;
}
.bottom{
	text-align: center;
	border-top: 2px solid #be2a04;
	width: 980px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 24px;
	padding:15px 0 50px; 
	color: #fff
}
.bottom a{
	color: #fff
}
img{
	vertical-align: top;
}