@charset "utf-8";

.szt_dd_p{ position:relative;}
.szt_ddp_p{ position:absolute; right:24px; top:48px;}
.szt_ddp_p p{ line-height:22px;}
.szt_ddp_p p a{ color:#4F4F4F;}
.szt_mkf_p{ border:1px solid #033774; border-radius:4px;}
.szt_mkf_p a{ color:#033774;}
.szt_mkf_p h3{ padding-left:22px; background:url(../images/szt_07.gif) repeat-x; height:35px; font:bold 20px '宋体'; color:#fff; line-height:35px;}
.szt_mkfl_p{ width:476px;}
.szt_mkf_p h4{ background:url(../images/szt_11.gif) repeat-x; text-align:center; font:bold 16px/26px '宋体'; color:#1B7403; margin:16px;}
.szt_mkfr_p img{ border:1px solid #A6A6A6;}
.szt_mkfl_p h5{ font:bold 14px/28px '宋体';}
.szt_mkfl_p p{ line-height:22px; text-indent:2em;}
.szt_mkflb_p{ padding:0 16px 12px 16px;}
.szt_mkflbm_p{ padding-top:10px; border-bottom:1px dashed #C0C0C0; border-top:1px dashed #C0C0C0;}
.szt_mkfr_p{ width:479px;}
.szt_mkfr_p dl dd{ text-align:center;}
.szt_mkfrpic_p ul{ margin:18px 15px;_margin:18px 7px;}
.szt_mkfrpic_p ul li{ float:left; margin:5px;}
.szt_qzbs_p{ border:1px solid #D0D1D1;}
.szt_qzbsp_p p{ border-bottom:1px dashed #D0D1D1; font:14px/24px '宋体'; margin:6px 0 0 0; padding:0 20px; position:relative;}
.szt_qzbst_p{ position:absolute; right:26px;}
.szt_qzbsp_p{ margin:24px 6px; border-bottom:3px solid #D0D1D1; padding-bottom:13px;}
.szt_qzbsbg_p{ background:url(../images/szt_03.png) repeat-x;}
.szt_tb_p input{ width:216px; height:24px; border:1px solid #999; line-height:20px; background:none; color:#666;}
.szt_tb_p textarea{ width:386px; height:80px; vertical-align:text-top;border:1px solid #999; line-height:20px; background:none; color:#666;}
.szt_tb_p button{ background:url(../images/szt_45.gif) no-repeat; width:91px; height:29px; border:none; margin:0 0 24px 74px;_margin-bottom:10px; cursor:pointer;}
.szt_tbimg_p{ margin:26px;_margin:13px;}
.szt_lbip_p{ margin:16px 26px;}
.szt_lbip_p label{ text-align:right;}
.szt_h3r_p{ font:16px '宋体'; margin-left:4px;}
.mb10px{ margin:0 auto;margin-bottom:10px;_height:1%;width:958px;}
.mb10px img{ vertical-align:bottom;}
.left{ float:left;}
.right{ float:right;}
.space{ letter-spacing:1em;_padding-right:1px;}