@charset "utf-8";
/* CSS Document */
body{background:#000}
p{text-indent:2em}
.b_mb{width:940px;margin:0 auto;padding-bottom: 16px}
.b_hd{position:relative;width:940px;margin:0 auto;background:#fff}
.b_cint_tt{width:415px}
.b_cint_tt h3{position:absolute;left:-1px;padding-left:10px;height:38px;line-height:38px;width:387px;color:#fff;background:url(../images/b_h3bg.gif);float:left}
.rittg{float:right}
.b_bgimg img{width:193px;height:157px;border:solid 1px #cbcdcd;padding:2px;margin:12px;float:left}
.b_cint_txt p{margin:12px 30px 0px 0px;_margin:12px 15px 0px 0px;width:660px;line-height:24px;font-size:14px;float:right;}
.b_sove{margin:0px 12px 12px 12px;height:28px;line-height:28px;background:#efeeee}
.b_sove span{display:block}
.sove_t_l{float:left;padding-left:30px;font-size:14px;color:#f00;font-weight:bold}
.sove_t_r{float:right;padding-right:30px}
.sove_t_r a{color:#333}
.sove_detil{margin:0px 12px;}
.detil_l,.detil_r{width:430px}
.del_l_l,.del_r_l,.detil_l{float:left}
.del_l_r,.del_r_r{width:260px;float:right;}
.del_l_r h3 a:hover,.del_r_r h3 a:hover{color:#090}
.detil_l img,.detil_r img{border:solid 1px #cdcdcb;margin:0px 12px 12px 0px}
.sove_detil h3{height:26px;line-height:26px}
.sove_detil p{line-height:20px}
.detil_r{margin-right:12px;float:right;}
.hb_footer,.hb_servnav a{color:#fff}
