<div class="hb_footer">
	<script type="text/javascript">
    /*960*60 创建于 2015-10-06*/
    var cpro_id = "u2340820";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

  <div class="hb_servnav"><a href="http://www.huanbao.com/fudus/absindex.htm" target="_blank">关于我们</a> | <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">会员服务</a> | <a href="#this" target="_blank">广告服务</a> | <a href="http://www.huanbao.com/fudus/vppay.htm" target="_blank">支付方式</a> | <a href="http://www.huanbao.com/fudus/epmap.htm" target="_blank">网站地图</a> | <a href="http://www.huanbao.com/myesite/newbie.htm" target="_blank">新手指南</a> | <a href="http://www.huanbao.com/fudus/friendlinks.htm" target="_blank">友情链接</a> | <a href="http://www.huanbao.com/funus/absjoinus.htm" target="_blank">客服中心</a> |  <a href="http://www.huanbao.com/fudus/leaveMsg.htm" target="_blank">意见留言</a> | <a href="http://www.huanbao.com/fudus/putArticle.htm" target="_blank">投稿</a> </div>
<div class="hb_address">
<p class="hb_footer_pt">
全国统一服务热线：0571-56633090 传真：0571-56637777 
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes">
<img border="0" src="http://wpa.qq.com/pa?p=2:2604876159:41" alt="点击这里给我发消息" title="点击这里给我发消息" style="float:right">
</a>
</p>		
<p>法律顾问：京衡律师集团事务所 罗益群 律师 </p>
<p>huanbao.com ©All Rights Reserved 中国环保网 版权所有</p>
</div>
</div>
<script> 
hb.util.topBar.HoverList();
</script> 