<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>备忘记录</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/common.css">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/index.css">
</head>

<body><form id="form1" name="form1" method="post" action="bw_suc.html">
<div class="bwmain">
<div class="bwmainleft">标记图标：</div>
<div class="mainbz">
    <input name="bwtype" type="radio" value="" checked />
    <input name="bwtype" type="radio" value="" checked />
    <input name="bwtype" type="radio" value="" checked />
    <input name="bwtype" type="radio" value="" checked />
</div>
<div class="cb"></div>
<div class="bwmainleft">备忘说明：</div>
<div class="mainbody">
<textarea name="textarea" id="textarea" cols="30" rows="7" placeholder="备忘信息作为您对这笔订单的备忘记录，仅自己可见"></textarea>
</div>

</div>
<div class="bwsubmit"><center><button type="submit">确认</button>  <button type="button" onclick="javascript:parent.closefrme()">取消</button></center></div>
</form>
</body>
</html>
