<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>样品会员中心_ZZ91再生网</title>
    <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/common.css">
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/account.css">
    <script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
    <script type="text/javascript" src="http://img0.zz91.com/zz91/sample/admin/js/index.js"></script>
</head>
<body class="gbody1000">
{%include "include/nav.html"%}
{%include "include/head.html"%}
{%include "include/lm.html"%}
<div class="gm1-5 gw-bcrumb">
    <span><a href="index.html">会员中心</a></span>
            <strong>
        <a href="#">全部订单</a>
    </strong>
</div>
<div class="gMain clearfix">
        
        {%include "include/leftmenu.html"%}
        <div class="gContainer">
<div class="gwTopic clearfix">
                <h2>实名认证</h2>
                <span class="gwBack"><em><a href="safe.html">返回安全中心</a></em></span>
            </div>
            <div class="basicForm nameBox">
                <form name="editpw" action="#" method="post" class="ajax" enctype="multipart/form-data">
                    <div class="bFRow">
                        <div class="label">真实姓名：</div>
                        <div class="cell">
                        	<input type="text" class="text fl" id="oldpw" name="name" value="kang">
                        </div>
                    </div>
                    <div class="bFRow">
                        <div class="label">身份证号码：</div>
                        <div class="cell">
                        	<input type="text" class="text fl" name="id" value="">
                        </div>
                    </div>
                    <div class="bFRow">
                        <div class="label">身份证正面扫描图：</div>
                        <div class="cell"><input type="file" name="front"> </div>
                        <input type="hidden" name="frontold" value="">
						                    </div>
                    <div class="bFRow">
                        <div class="label">身份证背面面扫描图：</div>
                        <div class="cell"><input type="file" name="back"> </div>
                        <input type="hidden" name="backold" value="">
						                    </div>
                    <div class="bFRow">
                        <input class="sCSumbitBtn" type="submit" value="提 交">
                    </div>
                </form>
            </div>
		</div>
	</div>
	</div>
{%include "include/bottom.html"%}
</body>
</html>