<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>样品会员中心_ZZ91再生网</title>
    <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/common.css">
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/index.css">
    <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/calendar.css">
    <script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body class="gbody1000">
{%include "include/nav.html"%}
{%include "include/head.html"%}
{%include "include/lm.html"%}

<div class="gMain gMainindex clearfix">
        {%include "include/leftmenu.html"%}
        
        <div class="gContainer">
<div class="userInfo clearfix">
  <div class="accountBox">
    <h2>您好，尊敬的工厂店会员，<span>kangxianyue（kang）</span>，欢迎您来到工厂店</h2>
    <div class="accontInfo clearfix">
      <div class="accountPic"><b class="gPimg gPimg75"><a href="javascript:;"> <img src="http://buyuc.gongchang.cn/avatar.php?uid=48953&size=small&time=1403140995" alt="" /></a></b> </div>
      <ul class="accoutList">
        <li class="clearfix">
          <label>账户级别：</label>
          <div class="accCell"> <strong class="level level1">1</strong><span>您还需消费1000.00元，即可提升至LV2等级，享受更多特权（<a href="#">积分规则</a>）</span> </div>
        </li>
        <li  class="clearfix">
          <label>账户安全级别：</label>
          <div class="accCell">
            <div class="safeLevel ">
              <div class="sLBox"></div>
              <strong> 低 </strong> </div>
                        <div class="verifyBox"><a href="checkname.html" class="noPerson"><i></i>未认证</a></div>
                        <div class="verifyBox"> <a href="#" class="noEmail"> <i></i> 未验证 </a> </div>
                        <div class="verifyBox"> <a href="checkmobile.html" class="noTelNum "> <i></i> 未验证 </a> </div>
             </div>
        </li>
        <li  class="clearfix">
          <label>订单提醒：</label>
          <div class="accCell"> <span><a href="#">待处理交易（<em>1</em>）</a></span><span><a href="#">评价（<em>0</em>）</a></span> </div>
        </li>
        <li  class="clearfix">
          <label>财务统计：</label>
          <div class="accCell"><span class="userFncItem"><span>账户余额【<em>0.00元</em>】</span><!--<a href="http://www.gongchang.cn/userfinance/index/deposit/">充值</a>--><a href="withdraw.html">提现</a></span><!--<span class="userFncItem"><span>我的积分【<em>0.00分</em>】<a href="http://www.gongchang.cn/user/gift/index/city">去积分商城</a></span></span>--></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="rewardIn"> </div>
</div>
<div class="userTrade">
  <div class="gTab">
    <ul class="clearfix">
            <li class="current"><a href="#">最新订单</a></li>
      <li><a href="#" target="_self">待评价订单</a></li>
    </ul>
    <a href="order.html" class="viewMore">查看全部订单</a> </div>
  <div class="tableList">
    <table class="tableListTit">
      <tbody>
        <tr>
          <th class="w200">商品</th>
          <th class="w100">单价</th>
          <th>供应商</th>
          <th>交易状态</th>
          <th class="w100">操作</th>
        </tr>
      </tbody>
    </table>
        <table class="tableListItem">
      <tr>
        <th colspan="5"><span>交易编号：1406190906457971</span><span>下单时间：2014-06-19 09:06</span></th>
      </tr>
      <tr>
        <td class="w200"><div class="infoListPrd clearfix">
            <div class="infoListPrdImg"> <img src="http://img.gc.gcimg.net/diandongji/product/day_201405/836cefb1aa50d51f201fe362c19b1c38.jpg!100.100" alt="欢鑫三相异步电动机"/> </div>
            <p>【<a target="_blank" href="http://diandongji.gongchang.cn/brand-huanxin/" class="prdBrand">万鑫</a>】<a target="_blank" href="http://diandongji.gongchang.cn/pro-343494/" class="prdName">欢鑫三相异步电动机</a></p>
          </div></td>
        <td class="w100"><div class="prdPrice">760.00元</div></td>
        <td class="w150 p20">上海欢鑫机电有限公司</td>
        <td><div class="tradeListState">
            <div class="ratio">  <span><em style="width:1%"></em><b>1%</b></span>  </div>
            <p>请等待营销客服审核</p>
             </div></td>
        <td class="w100"><div class="itemOpt"> <a href="http://www.gongchang.cn/user/order/show/index/orderid/12387">查看订单</a> </div></td>
      </tr>
    </table>
         </div>
</div>
<div class="prdShow">
  <div class="prdShowBox clearfix">
    <div class="prdShowMod">
      <div class="prdShowTit clearfix">
        <h3>为您推荐</h3>
      </div>
      <div class="prdShowCtrl">
        <ul class="clearfix">
          <li class="current"></li>
          <li></li>
        </ul>
      </div>
      <div class="prdShowCon">
        <div class="prdBox clearfix">
          <div class="prdItem">
            <div class="prdShowImg"> <b class="gPimg gPimg150">  <a target="_blank" href="http://jichuang.gongchang.cn/pro-278712/"><img src="http://img.gc.gcimg.net/jichuang/product/day_201308/6210a76e3f9c2ecd78cd12667e0a0320.jpg!150.150" alt="6.3T小冲床"/></a></b> </div>
            <p class="prdShowName"><a target="_blank" href="http://jichuang.gongchang.cn/pro-278712/">6.3T小冲床</a></p>
            <div class="prdShowPrice">               &yen;4200.00
               </div>
          </div>
          <div class="prdItem">
            <div class="prdShowImg"> <b class="gPimg gPimg150">  <a target="_blank" href="http://wjgj.gongchang.cn/pro-293183/"><img src="http://img.gc.gcimg.net/wjgj/product/day_201310/024b3f9ee9adc612f6d479fbc2e82f5d.JPG!150.150" alt="纤维增强聚氨酯弹性体软管系列"/></a></b> </div>
            <p class="prdShowName"><a target="_blank" href="http://wjgj.gongchang.cn/pro-293183/">纤维增强聚氨酯弹性体软管系列</a></p>
            <div class="prdShowPrice">               价格面议
               </div>
          </div>
        </div>
        <div class="prdBox clearfix disnone">
          <div class="prdItem">
            <div class="prdShowImg">  <b class="gPimg gPimg150"> <a target="_blank" href="http://jichuang.gongchang.cn/pro-326182/"><img src="http://img.gc.gcimg.net/jichuang/product/day_201403/9d73b3eed37412ae680802f7304cec38.jpg!150.150" alt="XQ5032立式升降台铣床"/></a> </b></div>
            <p class="prdShowName"><a href="http://jichuang.gongchang.cn/pro-326182/">XQ5032立式升降台铣床</a></p>
            <div class="prdShowPrice">               &yen;2.7万
               </div>
          </div>
                    <div class="prdItem">
            <div class="prdShowImg"> <b class="gPimg gPimg150">  <a target="_blank" href="http://jichuang.gongchang.cn/pro-327377/"><img src="http://img.gc.gcimg.net/jichuang/product/day_201403/a2df4e4734d722cb453c0be9ec45294a.jpg!150.150" alt="X5036立式铣床 万能升降台铣床 大立铣"/></a></b> </div>
            <p class="prdShowName"><a href="http://jichuang.gongchang.cn/pro-327377/">X5036立式铣床 万能升降台铣床 大立铣</a></p>
            <div class="prdShowPrice">               &yen;3.5万
               </div>
          </div>
                  </div>
      </div>
    </div>
    <div class="prdShowMod">
      <div class="prdShowTit clearfix">
        <h3>收藏夹</h3>
         <a href="http://www.gongchang.cn/user/favorite/">查看更多</a> </div>
      <div class="prdShowCon">
        <div class="prdBox clearfix">           <div class="prdItem">
            <div class="prdShowImg">  <b class="gPimg gPimg150"> <a href="http://diandongji.gongchang.cn/pro-331398/" target="_blank"><img src="http://img.gc.gcimg.net/diandongji/product/day_201404/86ed23a14513cea747463287ef2c78ee.png!150.150" alt="深圳明远测控MY-5420五相步进电机驱动器"/></a></a> </b></div>
            <p class="prdShowName"><a target="_blank" title="深圳明远测控MY-5420五相步进电机驱动器" href="http://diandongji.gongchang.cn/pro-331398/">深圳明远测控MY-5420五相步进电机驱动器</a></p>
            <div class="prdShowPrice">               价格面议
               </div>
          </div>
           </div>
      </div>
    </div>
  </div>
</div>
</div>
		</div>
	</div>
{%include "include/bottom.html"%}
</body>
</html>