<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订单留言</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/common.css">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/sample/admin/css/index.css">
<style>
body td{padding:10px}
.line{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.brue{color:#03C}
</style>
</head>
<body>
<table width="100%" border="0" cellspacing="0">
  <tr>
    <td width="80" align="right" valign="top" class="line brue">    *样品级别：</td>
    <td valign="top" class="line">一级料</td>
  </tr>
  <tr>
    <td align="right" valign="top" class="line brue">*样品颜色：</td>
    <td valign="top" class="line">红色 或 黑色</td>
  </tr>
  <tr>
    <td align="right" valign="top" class="line brue">用途：</td>
    <td valign="top" class="line">造粒</td>
  </tr>
  <tr>
    <td align="right" valign="top" class="line brue">详细描述：</td>
    <td valign="top" class="line">供应HIPS再生颗粒；供应数量100吨左右；大概报价5200元/吨。</td>
  </tr>
</table>
</body>
</html>
