@charset "utf-8";

body{margin:0;padding:0;background:#85dff3}
.top_{height:499px;background:url(../images/top.png) no-repeat;background-position:center}
.content{width:960px;border-left:1px solid #fff;margin:70px auto 20px auto;padding-top:120px}

.item{position:relative}
.box{margin-bottom:140px}
.img{position:absolute;left:174px;top:0}
.img_{position:absolute;left:174px;top:1705px}
.b-img{text-align:right;position:relative}
.b-img_{text-align:right;position:relative}
.btn{position:absolute;left:430px;bottom:22px}
.btn a:hover img{border:4px solid #fcd87e;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}

li{list-style:none;}
.top{float:left;width:100%;position:relative; margin-top:8px}
/*右边浮动*/
#jump{position:fixed;top:200px;left:50%;margin-left:510px;width:40px;z-index:400;_position:absolute;_top:expression(documentElement.scrollTop + "px");}
.dh{width:157px;height:185px;background:url(../images/dh.png) no-repeat;margin-top:100px;}
.dh-t{font-family:"微软雅黑";font-size:18px;color:#fff;text-align:center;margin:10px 0;cursor:pointer}
.dh-t1{font-family:"微软雅黑";font-size:18px;color:#fff;text-align:center;margin:33px auto 0 auto;cursor:pointer}
.dh-t_{font-family:"微软雅黑";font-size:18px;color:#fff;text-align:center;padding:24px 0 12px 10px;cursor:pointer}

.dh-t:hover{color:#0df51e}
.dh-t_:hover{color:#0df51e}
.dh-t1:hover{color:#0df51e}













