<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>第十五届中国塑料交易会-暨第五届再生塑料展览会会后综合报道</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="css/tzshow.css" />
<link rel="stylesheet" type="text/css" href="css/allinone_thumbnailsBanner.css" />

<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
</head>
<body>
	<div style="width:100%; background-color:#F9F7EC">
		<div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
	</div>
    <div class="after-show">
    	<div class="as-top"></div>
    	<div class="as-main">
        	<div class="am-wrap">
            	<div class="am-title">网上展厅</div>
                <div class="am-block">
                	<div class="ab-box myscroll">
                    	<div class="tit-scroll clearfix">
                        	<span>公司</span>
                            <em>地区</em>
                            <em>联系人</em>
                            <em>电话</em>
                            <span>主营业务</span>
                        </div>
                        <div class="fontScroll" id="fontScroll">
                        	<ul>
                        		{%for list in zhcomplist%}
                                <li>
                                	<span title="{{list.name}}">{{list.name}}</span>
                            		<em title="{{list.area}}">{{list.area}}</em>
                            		<em title="{{list.contact}}">{{list.contact}}</em>
                            		<em title="{{list.mobile}}">{{list.mobile}}</em>
                            		<span title="{{list.zhuyin}}">{{list.zhuyin}}</span>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="am-iframe">
                	<div id="Banner_simple">
                    	<ul class="Banner_list">
                        	<li data-bottom-thumb="images/s1.jpg"><img src="images/1.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s2.jpg"><img src="images/2.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s3.jpg"><img src="images/3.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s4.jpg"><img src="images/4.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s5.jpg"><img src="images/5.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s6.jpg"><img src="images/6.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s7.jpg"><img src="images/7.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s8.jpg"><img src="images/8.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s9.jpg"><img src="images/9.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s10.jpg"><img src="images/10.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s11.jpg"><img src="images/11.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s12.jpg"><img src="images/12.jpg" alt="" /></li>
                            <li data-bottom-thumb="images/s13.jpg"><img src="images/13.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s14.jpg"><img src="images/14.jpg" alt="" /></li>
                        	<li data-bottom-thumb="images/s15.jpg"><img src="images/15.jpg" alt="" /></li>
                    	</ul>
                	</div>
                </div>
            </div>
            <!--end am-wrap-->
            <div class="am-wrap">
            	<div class="am-title">展商真言</div>
                <div class="am-block">
                	<div class="ab-box clearfix">
                    	<div class="ab-item fl">
                        	<div class="ai-bulk mb20 clearfix">
                            	<div class="ak-img">
                                	<img src="images/b1.jpg" class="img" />
                                	<div class="bigpic">
                                    	<img src="images/b1.jpg" class="bigimg" />
                                    </div>
                                </div>
                                <div class="ak-info">
                                	<h4>亿行塑料造粒厂</h4>
                                    <p title="连续4年参加了ZZ91再生网举办的塑交会，从第一年开始就感受到了再生网热情的服务，这么多年以来，看着再生网的变化和发展，感谢给我们带来了不少的生意机会，我们的PP、PE在展厅中真是非常受欢迎，希望有更多的合作机会，明年再会！">连续4年参加了ZZ91再生网举办的塑交会，从第一年开始就感受到了再生网热情的服务，这么多年以来，看着再生网的变化和发展，感谢给我们带来了不少的生意机会，我们的PP、PE在展厅中真是非常受欢迎，希望有更多的合作机会，明年再会！</p>
                                </div>
                            </div>
                            <div class="ai-bulk clearfix">
                            	<div class="ak-img">
                                	<img src="images/b3.jpg" class="img" />
                                    <div class="bigpic">
                                    	<img src="images/b3.jpg" class="bigimg" />
                                    </div>
                                </div>
                                <div class="ak-info">
                                	<h4>上海超喜加塑料制品有限公司</h4>
                                    <p title="我是上海超喜加塑料制品的沈林烽，很荣幸参加第十五届塑料交易会，通过ZZ91的平台结识了很多为环保 、再生资源循环利用的同仁、这样的展会对我们有着非凡的意义、多参加这样的展会有利于行业人员了解行业发展的现状和趋势，了解新技术、新材料和新工艺，也利于我们掌握信息，能将我们的产品推广出去，希望下次能够有更多的同仁相识在一起！">我是上海超喜加塑料制品的沈林烽，很荣幸参加第十五届塑料交易会，通过ZZ91的平台结识了很多为环保 、再生资源循环利用的同仁、这样的展会对我们有着非凡的意义、多参加这样的展会有利于行业人员了解行业发展的现状和趋势，了解新技术...</p>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item fr">
                        	<div class="ai-bulk mb20 clearfix">
                            	<div class="ak-img">
                                	<img src="images/b2.jpg" class="img" />
                                	<div class="bigpic">
                                    	<img src="images/b2.jpg" class="bigimg" />
                                    </div>
                                </div>
                                <div class="ak-info">
                                	<h4>鑫维塑料厂</h4>
                                    <p title="本次展会能让我们的视野更加宽阔，感谢ZZ91再生网给我们废料商人提供了这么好的平台，让我们认识到更多的客户，让我们的产品：玻纤增强PP、阻燃PP、增强尼龙、PA66、工程塑料、汽车专用料得到更多的推广。为国内废塑料的循环发展做贡献！">本次展会能让我们的视野更加宽阔，感谢ZZ91再生网给我们废料商人提供了这么好的平台，让我们认识到更多的客户，让我们的产品：玻纤增强PP、阻燃PP、增强尼龙、PA66、工程塑料、汽车专用料得到更多的推广。为国内废塑料的循环发展做贡献！</p>
                                </div>
                            </div>
                            <div class="ai-bulk clearfix">
                            	<div class="ak-img">
                                	<img src="images/b4.jpg" class="img" />
                                	<div class="bigpic">
                                    	<img src="images/b4.jpg" class="bigimg" />
                                    </div>
                                </div>
                                <div class="ak-info">
                                	<h4>武辰造粒厂</h4>
                                    <p title="2015年台州塑料交易会总体人流比较少，同行来了很多，由于最近需求不大，原料下跌，跟往年对比，感觉比较冷清。通过本次展会，认识了几个行业内的负责人，做了交流，对未来发展有了更清楚的认识，其中两三位有可能发展成合作的客户。关于行情，总体来说今年跟08年那次危机差不多，塑料行情一落千丈，灰色改苯料今年到明年春都不会好。对于ZZ91本次展会的组织安排比较满意，但是也建议多了解业内知识，有客户拿样品的时候可以给予充分的讲解。">2015年台州塑料交易会总体人流比较少，同行来了很多，由于最近需求不大，原料下跌，跟往年对比，感觉比较冷清。通过本次展会，认识了几个行业内的负责人，做了交流，对未来发展有了更清楚的认识，其中两三位有可能发展成合作的客户。关于行情...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="am-block">
                	<div class="ab-box">
                		<h2>展会介绍</h2>
                    	<p class="text">"PEC 2015塑交会"（第十五届中国塑料交易会，连续11年被商务部列为塑料行业重点支持展会）将于2015年9月21日至24日浙江路桥台州市国际会展中心举行，同期举办第六届再生塑料展。展出内容再生颗粒塑料制品、原料、机械、模具机床“四位一体”展 示模式，涵盖塑料整个产业链。 自2010年起，ZZ91再生网与台州国际会展中心开始“再生塑料展厅”合作已连续六年，今年展厅面积1000平方，容纳近40个标准展位。废塑料再生料展厅专场，进一步的帮助废塑料、再生料客户现场匹配洽谈、业务合作，已经形成 了自己的规模和品牌。 沿用第一届的风格，这次再生塑料展将开辟100余平米的自由贸易洽谈区，还设有展会网吧，张贴现场客户信息的超大供求信息墙，供求信息直接录入ZZ91网上展厅和7平米的样品展示台。继续增加了“TV全场宣传”。同时，ZZ91再生网还将 邀请20多家来自不同国家的一手货源供应商及一批国内大买家在现场进行面对面交流。</p>
                	</div>
                </div>
            </div>
            <!--end am-wrap-->
        </div>
    </div>
    <div style="width:950px;margin:0 auto;text-align:center;">
		{% include 'html/comm/buttom.html' %}
    </div>
<script type="text/javascript" src="js/tzshow.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/allinone_thumbnailsBanner.js"></script>
<script type="text/javascript">
$(function(){
	$('#Banner_simple').allinone_thumbnailsBanner({
			skin: 'simple',
			numberOfThumbsPerScreen:7,
			width: 1004,
			height: 435,
			thumbsReflection:0,
			defaultEffect: 'random'
		});
		
	$(".ak-img").mouseover(function(){
		$(this).find(".bigpic").show();
	});
	$(".ak-img").mouseout(function(){
		$(this).find(".bigpic").hide();
	});
		
});
</script>
</body>
</html>