@charset "utf-8";

body{background:#2d2d39;font-family:'Microsoft YaHei'}
.top{height:768px;background:url(../images/top.jpg) no-repeat;background-position:center}
.yellow{color:#fdf900}
.brown{color:#ff9914}
.dull-red{color:#e6352d}

.md0{height:348px;background:url(../images/bg_item0.jpg) no-repeat;margin-top:25px;background-position:center}
.md1{height:328px;background:url(../images/bg_item1.jpg) no-repeat;background-position:center}
.md2{height:414px;background:url(../images/bg_item2.jpg) no-repeat;background-position:center}
.md3{height:311px;background:url(../images/bg_item3.jpg) no-repeat;background-position:center}

.content{width:928px;margin:0 auto}
.content dl{color:#fff;font-size:16px;}
.content dl a{color:#3198ff}
.content dt,dd{line-height:28px;}

.mdbox{margin-top:15px;}
.content ul.pro-item{overflow:hidden}
.content ul.pro-item li{width:210px;margin-bottom:22px;margin-right:22px;display:inline;float:left}
.content .mblock{padding:15px;background:#fdffea}
.content .mk-img{width:180px;height:150px;text-align:center;vertical-align:middle;display:table-cell;border:1px solid #ccc}
.content .mk-img img{vertical-align:middle}
.content .mk-info{width:180px;overflow:hidden}
.content .mk-info-text{height:28px;line-height:32px;text-overflow: ellipsis;white-space: nowrap;overflow:hidden}
.content .mk-info-tel{height:20px;line-height:20px;font-size:16px;font-weight:bold;text-overflow: ellipsis;white-space: nowrap;overflow:hidden}
.content .mk-info-pro{height:40px;line-height:22px;overflow:hidden;color:#787878}


/**翻页**/
.page-one{width:65px;height:30px;line-height:30px;background:#fff;text-align:center;display:inline-block}
.page-one a{color:#000}
.page-list{display:inline-block}
.page-list-click{background:#e6352d!important;color:#fff!important;font-weight:bold}
.page-list a{display:inline-block;background:#fff;color:#000;padding:8px 10px;font-weight:bold;font-size:15px;}


.return_top{width:266px;margin:0 auto}
.return_top img{margin-top:34px}


.subject_foofer{color:#fff}
.subject_foofer a{color:#fff}