<!doctype html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="address=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="no" />
		<link rel="apple-touch-icon-precomposed" href="http://img0.zz91.com/zz91/images/logo.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title>{{webtitle}}</title>
		<meta name="keywords" content="" />
    	<meta name="description" content="{{webdescription}}" />
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.2.0.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/common.css"/>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/jquery.js"></script>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/comm.js" ></script>
		<script type="text/javascript" src="http://static.m.zz91.com/layer/layer.js"></script>
		<link rel="canonical" href="http://news.zz91.com/{{tourl}}" >
		<style>
			.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
			.clearfix{height:1%}
			.clearfix{display:block}
			.aui-bar{
				position: fixed;
				z-index: 999;
				top: 0px;
			}
			.aui-list-item-title a{
				color: #333
			}
			a{
				color:#333
			}
			.new-view-box{
				padding: 15px 10px;
    			font-size: 16px;
    			line-height: 30px;
    			text-indent: 2em;
    			color: #333;
			}
			.new-view-box p{
				font-size: 16px;
				color: #333;
				margin-bottom: 20px;
				line-height: 30px;
			}
			.new-view-box img{
				max-width: 100%;
				width: auto;
				float: left;
				height: auto;
			}
			.new-other-header{
				margin: 0;
			    list-style: none;
			    display: block;
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    background-color: #e0e0e0;
			    color: #212121;
			    line-height: 1;
			    padding: 0.4rem 15px;
			    font-size: 16px;
			}
		</style>
	</head>
	<body>
		<header class="aui-bar aui-bar-nav aui-bar-primary">
	    	<a class="aui-pull-left" href="javascript:history.back(-1)">
		        <span class="aui-iconfont aui-icon-left"></span>
		    </a>
		    <a class="aui-pull-left" href="/">
		        <span class="aui-iconfont aui-icon-home"></span>
		    </a>
		    <div class="aui-title">资讯中心</div>
		    <a class="aui-pull-right favorite">
		        <span class="aui-iconfont aui-icon-favor"></span>
		    </a>
		    <a class="aui-pull-right zz91share">
		        <span class="aui-iconfont aui-icon-share"></span>
		    </a>
		</header>
		<div style="height: 45px;"></div>
		<aside class="download-bar J_fixBar" id="J_appJump" style="top:45px;height: 55px;left: 0px;">
			<div class="download">
				<div class="intro" style="padding-top: 5px;;">
					<div class="logo"></div>
					<ul>
						<li class="logo-title">使用ZZ91客户端</li>
						<li style="font-size: 12px;">获更多优质资源，送<b style="color: #FFFF00;">20</b>元红包</li>
					</ul>
				</div>
				<div class="download-btn"> <a class="J_app" href="http://m.zz91.com/app.html">免费下载</a> </div>
			</div>
		</aside>
		<div style="height:55px"></div>
		<div class="aui-content">
			<h2 class="aui-text-center aui-margin-t-15">{{newsdetails.title}}</h2>
			<div class="aui-info aui-margin-t-5 aui-margin-l-10 aui-margin-r-10 aui-border-b">
			    <div class="aui-info-item">
			        <i class="aui-iconfont aui-icon-attention"></i><span class="aui-margin-l-5">{{newsdetails.click}}</span>
			        </div>
			    <div class="aui-info-item">{{newsdetails.pubdate}}</div>
			</div>
			<div class="new-view-box">
				{{newsdetails.body|safe}}
			</div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 微门户 -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-5512236620584335"
			     data-ad-slot="8274972003"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<div style="clear: both;"></div>
			{%if xglist%}
			<p class="new-other-header aui-margin-t-10">相关阅读</p>
			<div class="aui-content">
			    <ul class="aui-list-view">
			    	{%for list in xglist%}
			        <li class="aui-list-view-cell aui-img">
			            <a href="{{list.weburl}}" class="aui-arrow-right">
			            	{%if list.has_pic%}
			            	<img class="aui-img-object aui-pull-left" src="{{list.litpic}}">
				            {%endif%}
				            <div class="aui-img-body" style="margin-right:18px">
				                <p class="aui-ellipsis-1"  style="color:#000">{{list.title|safe}}</p>
				                <p class="aui-ellipsis-2">{{list.content}}</p>
				                <p>{{list.pubdate}}</p>
				            </div>
			            </a>
			        </li>
			        {%endfor%}
			    </ul>
			</div>
			{%endif%}
		</div>
		<script type="text/javascript">
		    /*kangxianyue 20:5 创建于 2017/4/19*/
		    var cpro_id = "u2958427";
		</script>
		<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
	</body>
	
	<script type="text/javascript">
		var favoriteflag={{favoriteflag}};
		var infoid="{{newsid}}";
		$(".zz91share").on("click", function() {
			layer.open({
			  type: 2,
			  title: false,
				  closeBtn: 0, //不显示关闭按钮
			  shadeClose: true,
			  shade: 0.4,
			  anim: 2,
			  area: ['90%', '170px'],
			  content: '/myrc/share.html?p' //iframe的url
			}); 
		})
		$(function(){
			//点击收藏
			$(".favorite").on("click", function() {
				var favorite_type_code = "10091012";
				var data = {
					datatype : "json",
					favorite_type_code : favorite_type_code,
					forcompany_id : 0,
					content_id : infoid,
					title : document.title,
					pdtid : 0,
					products_type_code : 0,
					favoriteflag : favoriteflag
				};
				shoucInfo(data,"{{host}}");
				if (favoriteflag==1){
					favoriteflag=0;
				}else{
					favoriteflag=1;
				}
				isfavor($(".favorite").find("span"),favoriteflag);
			})
			//保存分享数据到本地
			var title = document.title;
			var nurl = document.URL;
			localStorage.setItem("share_title", "" + title);
			localStorage.setItem("share_description", "我正在查看" + title + "，赶紧跟我一起来体验！" + nurl + " 点击链接查看");
			localStorage.setItem("share_url", nurl);
			localStorage.setItem("share_pic", "http://img0.zz91.com/zz91/images/indexLogo.png");
			//收藏情况
			isfavor($(".favorite").find("span"),{{favoriteflag}});
		})
		

	</script>
	{%include 'aui/bottom.html'%}
	<script type="text/javascript"> 
	     /*kangxianyue 创建于2016-12-14*/ 
	     var cpro_id = "u2845509";
	</script>
	<script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
</html>