body{
	background: #0d0f29;
}
.band{
	width: 100%;
	height: 14.85rem;
	background: url(../images/band.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.55rem;
}
.logo{
	width: 7.5rem;
	height: 0.4rem;
	margin: 0 auto;

}
.logo-img{
	width: 3.5rem;
	height: 0.4rem;
	background: url(../images/logo.png) no-repeat;
	background-size: 100% 100%;
}
.band-name{
	width: 7.7rem;
	height: 1.6rem;
	background: url(../images/titile1.png) no-repeat;
	background-size: 100% 100%;
	margin: 0.55rem auto 0.35rem;
	
}
.band-title{
	width: 7.75rem;
	height: 0.75rem;
	margin: 0 auto;
	background: url(../images/titile_bg1.png) no-repeat;
	background-size: 100% 100%;
	font-family: "微软雅黑";
	font-size: 0.45rem;
	color: #fff;
	text-align: center;
	line-height: 0.75rem;
}
.band-main{
	width: 7.5rem;
	height: 8.0625rem;
	background: url(../images/bg1.png) no-repeat;
	background-size: 100% 100%;
	margin: 0.25rem auto 0.625rem;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 0.4rem;
	color: #fff;
	position: relative;
}
.band-mian-box{
	position: absolute;
	width: 3.475rem;
	text-align: center;
}
.band-mian-box1{
	top: 1.95rem;
}
.band-mian-box2{
	top: 2.025rem;
	right: 0;
}
.band-mian-box3{
	top: 4.55rem;
	left: 2rem;
}
.band-mian-box4{
	top: 6.625rem;
}
.band-mian-box5{
	top: 6.525rem;
	right: 0;
}
.sq-btn{
	display: block;
	width: 3.75rem;
	height: 0.875rem;
	margin: 0 auto;
	font-family: "微软雅黑";
	font-size: 0.375rem;
	line-height: 0.875rem;
	color: #fff;
	text-align: center;
	background: #05aae3;
	border-radius: 0.4375rem;
}
.conbox-moshi{
	width: 100%;
	height: 9.375rem;
	background: url(../images/ct-bg1.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.625rem;
}
.conbox-moshi-title{
	width: 100%;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 0.45rem;
	color: #fffd56;
	line-height: 0.63rem;
	margin-bottom: 0.725rem;
}
.conbox-moshi-conbox{
	width: 7.5rem;
	height: 1.25rem;
	padding-left: 1.5rem;
	margin: 0 auto 0.25rem;
	font-family: "微软雅黑";
	color: #fff;
}
.conbox-moshi-conbox1{
	line-height: 1.25rem;
	font-size: 0.375rem;
	background: url(../images/title_bg2.png) no-repeat;
	background-size: 100% 100%;
}
.conbox-moshi-conbox2{
	font-size: 0.375rem;
	padding-top: 0.125rem;
	background: url(../images/title_bg3.png) no-repeat;
	background-size: 100% 100%;
}
.conbox-moshi-conbox3{
	font-size: 0.375rem;
	padding-top: 0.125rem;
	background: url(../images/title_bg4.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0.55rem;
}
.conbox-sanzhan{
	width: 100%;
	height: 11.45rem;
	background: url(../images/ct-bg2.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.3rem;
}
.conbox-sanzhan-title{
	width: 100%;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 0.45rem;
	color: #fffd56;
	line-height: 0.78rem;
	margin-bottom: 0.52rem;
}
.conbox-toufang{
	width: 100%;
	height: 9.2rem;
	background: url(../images/ct-bg3.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.575rem;
	
}
.conbox-title{
	width: 100%;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 0.45rem;
	color: #fffd56;
	margin-bottom: 0.525rem;
}
.conbox-toufang-swiper{
	width: 100%;
	height: 5rem;
	margin: 0.5rem auto 0;
	position: relative;
}
.swiper-button-prev{
	width: 0.3375rem;
	height: 0.675rem;
	background: url(../images/btn1.png);
	background-size: 100% 100%;
	top: 50%;
	left: -0.625rem;
}
.swiper-button-next{
	width: 0.3375rem;
	height: 0.675rem;
	background: url(../images/btn2.png);
	background-size: 100% 100%;
	top: 50%;
	right: -0.625rem;
}
.swiper-slide{
	width: 6.25rem;
	height: 5rem;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.conbox-fuwu{
	width: 100%;
	height: 8.25rem;
	background: url(../images/ct-bg4.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.575rem;
}
.conbox-moshi-conbox h1{
	font-size: 0.45rem;	
	margin-left: 1.125rem;
}
.conbox-moshi-conbox p{
	margin-left: 1.125rem;
}
.conbox-moshi-conbox4{
	font-size: 0.375rem;
	background: url(../images/title_bg5.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.7875rem;
	padding-top: 0.08rem;
}
.conbox-moshi-conbox5{
	font-size: 0.375rem;
	background: url(../images/title_bg6.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.08rem;
}

.conbox-moshi-conbox6{
	font-size: 0.375rem;
	background: url(../images/title_bg7.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 0.08rem;
}

.tan{
	display: none;
	width: 6.875rem;
	height: 9.4375rem;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -3.4375rem;
	border-radius: 7px;
	z-index: 999;
}
.tan ul{
	width: 6.25rem;
	height: 7.75rem;
	margin: 0.0625rem auto 0;
}
.tan li{
	width: 6.25rem;
	margin-top:0.275rem;
	float: left;
	overflow: hidden;
}
.tan-ipt{
	width: 6.25rem;
	height: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	font-size: 0.375rem;
	color: #8f9399;
	padding-left: 0.2rem;
	font-family: "微软雅黑";
	float: left;
}
.xl-btn{
	position: absolute;
	width: 0.3625rem;
	height: 0.225rem;
	background: url(../images/xl-btn.png) no-repeat;
	background-size: 100% 100%;
	right: 0.5rem;
	bottom: 2.1rem;
}
.tan-set{
	width: 6.25rem;
	height: 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	font-size: 0.375rem;
	color: #8f9399;
	padding-left: 0.2rem;
	font-family: "微软雅黑";
	float: left;
	overflow: hidden;
}
.tan-btn{
	display: block;
	width: 3.75rem;
	height: 0.95rem;
	margin: 0.375rem auto 0;
	background: url(../images/zx-btn.png) no-repeat;
	background-size: 100% 100%;
}
