<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
    <script type="text/javascript" src="Js/jquery.js"></script>
    <script type="text/javascript" src="123/function.js"></script>
    <script type="text/javascript" src="Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="Js/bootstrap.js"></script>
    <script type="text/javascript" src="Js/ckform.js"></script>
    <script type="text/javascript" src="Js/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form name="form" class="form-inline definewidth m20">  
<input type="text" style="width:90px" name="pubdate" {%if pubdate%}value="{{pubdate}}"{%endif%} class="w80px" style="border:1px solid #999;" onclick="fPopCalendar(event,this,this)" onfocus="this.select()" /> 
 到 <input type="text" style="width:90px" name="pubdate2" {%if pubdate2%}value="{{pubdate2}}"{%endif%} class="w80px" style="border:1px solid #999;" onclick="fPopCalendar(event,this,this)" onfocus="this.select()" />
&nbsp;&nbsp;<input class="btn btn-success" type="button" value="查询" onClick=send7()>&nbsp;&nbsp;&nbsp;
<input class="btn btn-success" type="button" value="导出" onClick=send8()>&nbsp;&nbsp;&nbsp;
{%if ipvisit.list%}<a href="delipvisit.html?pubdate={{pubdate}}&pubdate2={{pubdate2}}" onClick="return confirm('是否将此信息删除?')">删除数据</a>{%endif%}
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>页面个数</th>
        <th>所有IP</th>
        <th>已登录IP</th>
        <th>未登录IP</th>
        <th>日期</th>
    
    </tr>
    </thead>
<form action="updatetypeok.html">
<input type="hidden" name="typeid" value="{{typeid}}">
<input type="hidden" name="request_url" value="{{request_url}}">
    {%for dl in ipvisit.list%}
	     <tr>
	     <td>{{dl.pagecount}}</td>
	     <td>{{dl.allip}}</td>
	     <td>{{dl.loginip}}</td>
	     <td>{{dl.notloginip}}</td>
	     <td>{{pubdate}} - {{pubdate2}}</td>
        </tr>
     {%endfor%}
</form>
        </table>
        
<div class="inline pull-right page">
<!--
第{{page}}/{{pagecount}}页 &nbsp;&nbsp;
{%ifequal page 1%}
上一页
{%else%}
<a href="?datetoday={{prvtdate}}&page={{prvpage}}">上一页</a>
{%endifequal%}
{%ifequal page pagecount%}
下一页
{%else%}
<a href="?datetoday={{nextdate}}&page={{nextpage}}">下一页</a>
{%endifequal%}
--></div>
</body>
</html>