<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>zz91优质客户推荐</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/highquality/css/highquality.css"/>
<link href="http://subject.zz91.com/comm/facebox.css" rel="stylesheet" type="text/css">
<script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script src="http://subject.zz91.com/comm/facebox.js"></script>
<script src="http://subject.zz91.com/comm/checkForm.js"></script>
<script src="http://img0.zz91.com/zz91/highquality/js/highquality.js"></script>
<script src="http://img0.zz91.com/zz91/highquality/js/Png.js"></script>
</head>
<!--[if IE 6]>
<script type="text/javascript" src="js/Png.js"></script>
<script type="text/javascript">
EvPNG.fix('div, ul, img, li, input, a');
</script>
<![endif]-->

<body>
<div style="width:100%; background-color:#F9F7EC">
	<div style="width:950px;margin:0 auto">
		{%include 'html/comm/top.html'%}
    </div>
</div>
<div class="highquality">
	<div class="top">
    	<a href="#mydiv" rel="facebox" class="top_a"></a>
        <div class="top-text">
        	目前共有<span class="top-text-zi">121321</span>家优质客户
        </div>
        
    </div>
    <!--end top-->
    <div class="nav">
    	<div class="nav-item">
        	<ul>
            	<li><a href="metal.html" target="_blank" class="fb">废金属</a></li>
                <li><a href="#" target="_blank">钢铁</a></li>
                <li><a href="#" target="_blank">稀有金属</a></li>
                <li><a href="#" target="_blank">贵金属</a></li>
                <li><a href="#" target="_blank">有色金属</a></li>
                <li><a href="#" target="_blank">金属混合\复合料</a></li>
                <div class="cb"></div>
            </ul>
        </div>
        <!--end nav-item-->
        <div class="nav-item">
        	<ul>
            	<li><a href="plastic.html" target="_blank" class="fb">废塑料</a></li>
                <li><a href="#" target="_blank">通用废塑料</a></li>
                <li><a href="#" target="_blank">工程废塑料</a></li>
                <li><a href="#" target="_blank">塑料颗粒</a></li>
                <li><a href="#" target="_blank">特种废塑料</a></li>
                <li><a href="#" target="_blank">塑料混合/复合料</a></li>
                <div class="cb"></div>
            </ul>
        </div>
        <!--end nav-item-->
        <div class="nav-item">
        	<ul>
            	<li><a href="comprehensive.html" target="_blank" class="fb">综合废料</a></li>
                <li><a href="#" target="_blank">废纺织品</a></li>
                <li><a href="#" target="_blank">废纸</a></li>
                <li><a href="#" target="_blank">二手设备</a></li>
                <li><a href="#" target="_blank">废电子电器</a></li>
                <li><a href="#" target="_blank">废橡胶</a></li>
                <li><a href="#" target="_blank">废轮胎</a></li>
                <li><a href="#" target="_blank">服务</a></li>
                <div class="cb"></div>
            </ul>
        </div>
        <!--end nav-item-->
    </div>
    <!--end nav-->
    <div class="block">
    	<div class="block-content">
        	<div class="block-content2">
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                
                <div class="block-item">
                    <div class="block-item-img">
                        <a href="#" target="_blank"><img src="http://img0.zz91.com/zz91/highquality/images/img1.jpg" title="供应PP再生颗粒；供应数量500吨左右；现在" /></a>
                    </div>
                    <!--end block-item-img-->
                    <div class="block-item-text">
                        <a href="#" target="_blank">上海明云废旧物资收购有限公司</a>
                    </div>
                    <!--end block-item-text-->
                    <div class="block-item-text2" onmouseover="show(this)" onmouseout="show_close(this)">
                        地区：上海<Br />
                        主营：供应增韧PP颗粒，价格面议...
                    </div>
                    <div class="floatBox">
                    	供应增韧PP颗粒，价格面议，销售冷酸
                        洗边丝、带钢销售冷酸洗边丝、带钢销
                        售冷酸洗边丝、带钢
                    </div>
                    <!--end floatBox-->
                </div>
                
                
                
                <div class="cb"></div>
            </div>
            <!--end block-content2-->
            <div class="page">
            	<ul>
                	<li style="background:#fdeaa6;border:1px solid #f7bf4f"><a href="#" style="color:#a90000;font-weight:bold">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">…</a></li>
                    <li><a href="#">下一页</a></li>
                    <li style="border:0">共110页</li>
                    <li style="border:0">到<input type="text" class="page-text" />页</li>
                    <li><a href="#">确定</a></li>
                    <div class="cb"></div>
                </ul>
            </div>
            <!--end page-->
        </div>
        <!--end block-content-->
        <div class="item_top">
        	<img src="http://img0.zz91.com/zz91/highquality/images/item_top2.png" />
        </div>
        <!--end item_top-->
    </div>
    <!--end block-->
</div>
<!--end highquality-->
<div style="background:#fff">

<div id="mydiv" name="mydiv" style="display:none">
	<br />
	<br />
    <form id="form1" name="form1" method="post" action="../../baomingsave/" onsubmit="return checkForm(this)"><div style='display:none;'><input type='hidden' id='csrfmiddlewaretoken' name='csrfmiddlewaretoken' value='66c4c1635bcde6ce985eda7224578a8d' /></div>
<div>
    <table width="100%" border="0" cellspacing="0" cellpadding="5"  id="contright_sub" >
	  <tr>
	    <td height="30" align="right">公司名称：</td>
	    <td>
	      <input name="textfield" type="text" id="textfield" value="" title="*公司名称" />
        </td>
      </tr>
	  <tr>
        <td width="100" height="30" align="right">联系人：</td>
        <td><input name="textfield2" type="text" id="textfield2" value="" title="*联系人"/></td>
      </tr>
      <tr>
        <td height="30" align="right">性别：</td>
        <td><input type="radio" name="radio" id="radio" value="radio" title="性别：女士" checked />
          女士
          <input type="radio" name="radio" id="radio" value="radio" title="性别：男士" />
          男士</td>
      </tr>
      <tr>
        <td height="30" align="right">联系电话：</td>
        <td><input name="textfield3" type="text" id="textfield3" value="" title="*联系电话"/></td>
      </tr>
      <tr>
        <td height="30" align="right">手机：</td>
        <td><input name="textfield4" type="text" id="textfield4" value="" title="*手机"/></td>
      </tr>
      <tr>
        <td height="30" align="right"></td>
        <td><input type="submit" name="button" id="button" value=" 提交 "style="font-size:14px; font-weight:bold; padding:5px;"/></td>
      </tr>
   </table>
</div>
    <input type="hidden" name="contents" id="contents" value="dfsf" />
    <input type="hidden" name="title" id="title" value="400来电宝报名" />
  </form>
</div>
<div style="display:none">
<script type="text/javascript"> 
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</div>
</body>
</html>
<script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox();
    })
</script>
<script>
document.getElementById("title").value = "zz91优质客户推荐";
</script>