@charset "utf-8";

body,html{margin:0 auto}
.main{margin:0 auto}
.top{height:598px;background:url(../images/top.jpg) no-repeat;background-position:center}
.content{background:#f7796b;padding:35px 0 60px 0}
.c-img{width:960px;height:498px;background:url(../images/yq.jpg) no-repeat;margin:0 auto;position:relative}
.ads{height:191px;background:url(../images/ads.jpg) no-repeat}
.i-box{font-family:"微软雅黑";font-size:14px;position:absolute;right:60px;bottom:44px}
.b-img{float:left}
.b-txt{margin-left:20px;float:left}
.b-txt ul{list-style:none} 
.b-txt ul li{line-height:24px} 
.b-txt a{font-family:"微软雅黑";text-decoration:none;color:#0066cc}






