@charset "utf-8";

body{margin:0;padding:0;background:#85dff3}
.top{height:445px;background:url(../images/top.jpg) no-repeat;background-position:center}
.content{width:875px;margin:40px auto 0 auto}

.c_1{margin-bottom:25px;overflow:hidden}
.c1-item{background:#dbf5fc;padding:15px 10px;margin:15px 0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.c1-item_{background:#dbf5fc;padding:20px 40px;margin:15px 0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;overflow:hidden}
.ci{margin:0 20px 55px 75px}
.ci_{margin-top:5px}
.c1-item_ li{line-height:35px;font-family:"微软雅黑";font-size:18px;color:#4a5b61}
.c1-tab{text-align:center;margin-bottom:20px}
.c1-tab table td{line-height:40px}
.No{color:#ff7b1a;font-size:14px}
.tle{font-family:"微软雅黑";font-size:18px;color:#56cbef}
.txt a{font-size:14px;color:#0066cc}
.txt_{font-size:14px;color:#3c4d53}

/**翻页**/
.page-one{width:65px;height:30px;line-height:30px;border:1px solid #5bd4ef;text-align:center;display:inline-block}
.page-list{display:inline-block}
.page-list a{display:inline-block;border:1px solid #5bd4ef;padding:6px 8px}
.page-list-click{color:#ff7b1a}













