<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>{{webtitle}}_ZZ91废料移动商务</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/mobile/css/moblie.css"/>
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script src="http://img0.zz91.com/zz91/mobile/js/style.js"></script>
<link rel="stylesheet" type="text/css" href="/css/myrc/index_myrc.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<script type="text/javascript" src="/js/myrc/style.js"></script>
</head>
<body style="background:#f1f1f1">
{%include 'top2.html'%}
<div class="search" style="margin-top:100px;">
	<form action="/offerlist/" method="get">
	<div class="search-content">
    	<input type="text" name="keywords" value="" class="search-text" placeholder="请输入您要搜索的产品..." />
    </div>
    <div class="search-button">
    	<center>
    		<input type="submit" class="search-ok" value="搜  索" />
        </center>
    </div>
    <div class="cb"></div>
    </form>
</div>
<!--end search-->

<center>
        	<table class="nav_table">
            	<tr>
                	<td class="nav_td">
                    	<center>
                        	<a href="/myrc_favorite/">
                            	<div class="nav_table_img">
                                	<img src="/images/myrc/sc.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的收藏</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="/myrc_products/">
                            	<div class="nav_table_img">
                                	<img src="/images/myrc/gq.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的供求</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="/myrc_leavewords/">
                            	<div class="nav_table_img">
                                	<img src="/images/myrc/xp.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的询盘</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                </tr>
                <tr>
                	<td class="nav_td">
                    	<center>
                        	<a href="/myrc_mycommunity/">
                            	<div class="nav_table_img">
                                	<img src="/images/myrc/sq.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的社区</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="/order/">
                            	<div class="nav_table_img">
                                	<img src="/images/myrc/sj.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">商机定制</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="/myrc_collect/" target="_blank">
                            	<div class="nav_table_img">
                                	<img src="/images/myrc/dz.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的定制</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                </tr>
            </table>
        </center>

{%include 'bottom2.html'%}


</body>
</html>












