<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/new/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/new/css/zonghe.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="header">
		<div class="top">
			<div class="top-mo clear">
				<a class="top-link" href="#">
					<img src="/new/images/fei123.jpg" height="31">
				</a>
				<div class="fr top-handle">
					<a href="#">首页推荐</a> |
					<a href="#">加入收藏</a> |
					<a href="#">留言反馈</a>
				</div>
			</div>
		</div>
		<div class="search">
			<ul class="search-ul clear">
				<li><img src="/new/images/logo.jpg" height="35"></li>
				<li><input type="text" class="input-text"></li>
				<li><input type="submit" class="btn" value="搜索"></li>
			</ul>
		</div>
		<div class="advert-top">
			广告
		</div>
		<div class="nav clear">
			<div class="nav-td  nav-now"><a href="">首页</a></div>
			<div class="nav-td"><a href="">废料交易</a></div>
			<div class="nav-td"><a href="">废料行情</a></div>
			<div class="nav-td"><a href="">废料资讯</a></div>
			<div class="nav-td"><a href="">废料企业</a></div>
			<div class="nav-td last-nav"><a href="">废料社区</a></div>
		</div>
	</div>
	<div class="content clear">
		<div class="liebiao fl">
			<div class="page-seat">当前位置：<a href="#">首页</a>>><span>综合料</span></div>
			<div class="liebiao-list">
				<div class="title-h3">废玻璃</div>
				<div class="list-all">
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
				</div>
			</div>
			<div class="liebiao-list">
				<div class="title-h3">废玻璃</div>
				<div class="list-all">
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
				</div>
			</div>
			<div class="liebiao-list">
				<div class="title-h3">废玻璃</div>
				<div class="list-all">
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
					<a href="">华夏玻璃网</a>
				</div>
			</div>
		</div>
		<div class="news-ad fr">
			<div class="advert">广告</div>
			<div class="zixun">
				<div class="zixun-title">废料资讯</div>
				<ul class="zixun-ul">
					<li><i></i>华夏玻璃网华夏玻璃网</li>
					<li><i></i>华夏玻璃网华夏玻璃网</li>
					<li><i></i>华夏玻璃网华夏玻璃网</li>
					<li><i></i>华夏玻璃网华夏玻璃网</li>
					<li><i></i>华夏玻璃网华夏玻璃网</li>
					<li><i></i>华夏玻璃网华夏玻璃网</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">欢迎使用 2014 废料网站导航，最全，最多的废料网址导航 - 浙ICP备10030021号-3</div>
</body>
</html>
