/* CSS Document */
.s-header {height:40px; background-color:#FF7300;}
.s-header a{line-height:40px; color:#fff;}

/*导航面包屑*/
.s-nav-bc {background-color:#EEE;}
.s-nav-bc *{line-height:20px;}
.s-nav-bc .bc {padding: 6px 0px;}
.s-nav-bc .bc>a:last-child{color:#333;}
.s-nav-bc .title {line-height:30px;}
/*搜索bar*/
.s-search-bar {margin:7px; white-space:nowrap;}
.s-search-bar .input {line-height:22px; }
.s-search-bar .button {padding:5px 3px;}

/*导航link组*/
.s-navlink .links {margin-left:65px;}
.s-navlink .links a {white-space:nowrap;}
.s-navlink .link1 li {padding:5px 0px; border-bottom: 1px dotted #cccccc;}
.s-navlink .link1 li:last-child {border-bottom:0px;}
.s-navlink>div{margin:0 6px;}	
.s-navlink p.h {border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#f2f2f2;padding:3px 6px; margin:6px 0;}
.s-navlink p.c-hl {color:#0667AC}
.s-navlink img {width:60px; height:60px; margin-right:7px;display:none}
.s-navlink .bg1 {background-color: #F4F5F7;}