@charset "utf-8";


body {
	color: #553E30;
	-webkit-font-smoothing: antialiased;
	background-color: #ffede6;	
}


.clearfix:after {
	content: ".";
  	display: block;
 	height: 0;
  	clear: both;
  	visibility: hidden;	
}

/*------- top -------*/
.top {
	height: 534px;
	background: url(../images/top.jpg) no-repeat;
	background-position: center;	
}


/*------- wrap -------*/
.wrap {
	width: 960px;
	margin: 0 auto;	
}
.content {
	position: relative;	
}

.m80 {	
	margin: 80px 0;	
}

.column {
	color: #553e30;
	font-family: "宋体";
	font-weight: 700;
	font-size: 30px;
	background-color: #fdf7e7;
	border-bottom: 2px dashed #39467d;
	padding: 40px;
}

.column1 .title, .column2 .title  {
	width: 420px;
	height: 58px;
	color: #553E30;
	font-family: "微软雅黑";
	font-size: 36px;
	font-weight: 700;
	border-bottom: 4px solid #776154;
	overflow: hidden;
}
.rowspan {
	padding: 0 40px;
	border-bottom: 1px dashed #39467B;	
}
.rowspan .item {
	padding: 50px 0;	
}

.s1 {
	background: url(../images/s1.jpg) no-repeat left center;
	padding-left: 18px;	
}
.s2 {
	background: url(../images/s2.jpg) no-repeat left center;
	padding-left: 26px;
}
.s3 {
	background: url(../images/s3.jpg) no-repeat left center;
	padding-left: 28px;	
}
.column2 .c2-bow {
	border: 4px solid #FA6815;
	padding: 30px 0;
	margin: 50px 0 0;
}
.column2 .item2 {
	float: left;
	display: inline;
	height: auto;
	margin-left: 70px;
}
.column2 .item2-text {
	background-color: #FFF9ED;
	padding: 20px;
	color: #553E30;
	font-size: 24px;
}
.column2 h2 {
	text-align: center;
	font-size: 30px;
	color: #553E30;
	margin: 40px 0;	
}
.column2 .img2 {
	margin-bottom: 50px;	
}

.column3 h4 {
	height: 70px;
	font-family: "微软雅黑";
	font-size: 36px;
	font-weight: 700;	
}
.column3 a {
	height: 99px;
	display: block;
	outline: none;	
}
.column3 a.seller {
	width: 396px;
	background: url(../images/btn_01.jpg) no-repeat;	
}
.column3 a.buyyer {
	width: 396px;
	background: url(../images/btn_02.jpg) no-repeat;	
}



















