<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>年底大抽奖-安装客户端，关注ZZ91微信，分享朋友圈，即可获得抽大奖机会</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
        <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
        <link rel="stylesheet" href="css/index.css" />
        <script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="js/dd.js"></script>
        <script src="http://img0.zz91.com/lib/asto/asto-all-1.0.0.js"></script>
        <script src="http://img0.zz91.com/zz91/js/openoverlay.js"></script>
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/css/openoverlay.css"/>
    </head>
    <!--[if IE 6]>  
        <script type="text/javascript" src="js/dd_png.js"></script>  
        <script type="text/javascript">  
        DD_belatedPNG.fix('img');
        DD_belatedPNG.fix('.xuanku');
        </script>  
    <![endif]--> 
    <body>
        <div class="band"></div>
        <div class="guize">
            <div class="guize-title"></div>
            <div class="guize-list"><img src="images/huizhe.jpg"></div>
            <p class="tishi">注：抽中的奖品会在两个工作日内发放</p>
        </div>
        <div class="clearfix choujiang">
            <div class="cj-hd fl">
                <div class="jiangpk">
                    <div class="xuanku"><img src="images/jianbiao.png"></div>
                    <div class="jianx-ts">
                        <img src="images/jx3.png">
                        <span class="j_close"><img src="images/closeimg.png"></span>
                    </div>
                    <ul class="jiangpk-ul clearfix">
                        <li class="nowplay" index="0"><img src="images/jiangp1.jpg"></li>
                        <li index="1"><img src="images/jiangp2.jpg"></li>
                        <li index="2"><img src="images/jiangp3.jpg"></li>
                        <li index="7"><img src="images/jiangp4.jpg"></li>
                        <li class="cjst">
                            <div class="cjst-play j_play"><img src="images/startplay.jpg"></div>
                            <p class="canplay">您当前还有<br/><span class="number-play">0</span><br/>次抽奖机会</p>
                            
                        </li>
                        <li index="3"><img src="images/jiangp5.jpg"></li>
                        <li index="6"><img src="images/jiangp6.jpg"></li>
                        <li index="5"><img src="images/jiangp7.jpg"></li>
                        <li index="4"><img src="images/jiangp8.jpg"></li>
                    </ul>
                </div>
            </div>
            <div class="cj-succ fr">
                <div class="cj-succ-pple">
                    <div class="succ-box">
                        <ul class="cj-ul">
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">135******13</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">20元再生钱包</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">157******34</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">10元再生钱包</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">137******67</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">20元再生钱包</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">187******22</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">20元现金</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">182******67</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">10元现金</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">136******10</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">30元话费</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">156******23</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">来电宝会员</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">132******23</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">30元话费</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">187******23</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">20元再生钱包</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">137******56</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">10元再生钱包</span>
                            </li>
                            <li>
                                <span class="cj-ul-sp1">恭喜用户</span>   
                                <span class="cj-ul-sp2">152******98</span>  
                                <span class="cj-ul-sp3">抽中</span>  
                                <span class="cj-ul-sp4">30元话费</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="erweidiv">
            <div class="erwei clearfix">
                <div class="erwei-info fl">
                    <img src="images/erwei1.jpg">
                    <p>扫描左侧二维码即可安装客户端</p>
                    <p>或在各大应用商店搜索</p>
                    <p>"zz91再生网"</p>
                </div>
                <div class="erwei-info fr">
                    <img src="images/erwei2.jpg">
                    <p>扫描左侧二维码即可关注微信号</p>
                    <p>或在微信中搜索</p>
                    <p>"zz91weixin"</p>
                </div>
            </div>
        </div> -->
        {% include 'html/comm/buttom.html' %}
    </body>
    <script type="text/javascript">
        var time,marginTop,gdHeight,succIndex = 0,playtime,playsu=520,spinNum=0,canNum;
        var company_id=0;
        $(function(){
            gdHeight = $(".succ-box").height();
            var ulHtml = $(".succ-box").html();
            $(".cj-succ-pple").live("mouseover",function(){
                clearInterval(time)
            })
            $(".cj-succ-pple").live("mouseout",function(){
                startmov(ulHtml);
            })
            if(gdHeight>$(".succ-box").parent().height()){
                $(".succ-box").append(ulHtml);
                marginTop = parseInt($(".succ-box").css("margin-top"));
                startmov(ulHtml)
            }
            getchoujiangcount();
        });
        
        //登录状态
        function loginstatus(){
        	var ajaxurl="http://www.zz91.com/getLoginStatus.htm?p="+(new Date()).getTime().toString();
			$.getScript(ajaxurl, function() {
				if (success=="true"){
					company_id=companyId;
					$(".canplay").css("display","block");
					getchoujiangstaus()
					return success;
				}else{
					openoverlay('http://www.zz91.com/mini/login.htm?destUrl=http://www.zz91.com/submitCallback.htm&regfrom=10031041','注册/登录',750,430,0);
					return success;
				}
			});
			return false;
        }
        function getchoujiangcount(){
        	var ajaxurl="http://www.zz91.com/getLoginStatus.htm?p="+(new Date()).getTime().toString();
			$.getScript(ajaxurl, function() {
				if (success=="true"){
					company_id=companyId;
					$(".canplay").css("display","block");
					getchoujiangnum();
				}else{
					$(".canplay").css("display","none");
				}
			});
        }
        function getchoujiangnum(){
        	var ajaxurl="http://pyapp.zz91.com/choujiangcount.html?company_id="+company_id.toString()+"&p"+(new Date()).getTime().toString();
			$.getScript(ajaxurl, function() {
				//alert(_suggest_result_.count)
				$(".number-play").html(_suggest_result_.count)
			});
        }
        //抽奖情况
        function getchoujiangstaus(){
        	var ajaxurl="http://pyapp.zz91.com/choujiangstaus.html?company_id="+company_id.toString()+"&p="+(new Date()).getTime().toString();
			$.getScript(ajaxurl, function() {
				
				//没有做3项操作
    			if (_suggest_result_.firstchoujiang=="0"){
    				var canplay = -1  //判断弹出提示框
		            if(canplay == -1){
		                $(".xuanku").show()
		                $(".jianx-ts").show().children("img").attr("src","images/canplay.png"); 
		                return;
		            }
    			}
    			$(".j_play").removeClass("j_play");
    			//中奖号码
	            win_prize = _suggest_result_.xuanzhong
	            $(".jianx-ts").children("img").attr("src",succImg[win_prize]);
	            canNum = parseInt($(".number-play").text()); //可抽奖次数
	            if(canNum <=0){
	               $(".jianx-ts").show().children("img").attr("src","images/jx0.png"); 
	               $(".cjst-play").addClass("j_play"); 
	               return;
	            }
	            $(".number-play").html(_suggest_result_.choujiangcount)
	            piayCj(endPlay);
			});
        }
        function startmov(ulHtml){
            time = setInterval(function(){
                if(marginTop == gdHeight){
                    $(".succ-box").append(ulHtml);
                    $(".succ-box").children("ul").eq(0).remove()
                    marginTop = 0;
                }
                marginTop +=1;
                $(".succ-box").css("margin-top",-marginTop+"px") 
            },50)
        }
        var win_prize;//中奖号码
        $(".j_play").live("click",function(){
        	//判断登录状态
        	loginstatus();
        });
        $(".j_close").live("click",function(){
            $(".jianx-ts").hide();
            $(".xuanku").hide()
        })
        function piayCj(endPlay){
           playtime = setInterval(function(){
                if(spinNum<4){
                    playsu = playsu-20;
                }else if(spinNum == 4){
                    playsu = playsu+40;
                }else if(spinNum > 4){
                    playsu = playsu+40;
                    if(win_prize == succIndex){
                        clearInterval(playtime);
                        playsu=520,
                        spinNum=0;
                        endPlay&&endPlay();
                        return;
                    }
                    playsu = playsu+40;
                }
                succIndex +=1;
                if(succIndex==8){
                    succIndex =0;
                    spinNum +=1;
                }
                $(".jiangpk-ul li[index="+succIndex+"]").addClass("nowplay").siblings().removeClass("nowplay");
                if(playsu<80){
                    playsu=80
                }
                clearInterval(playtime);
                piayCj(endPlay);
            },playsu)
        }
        var succImg =["images/jx1.png","","images/jx2.png","images/jx3.png","images/jx4.png","images/jx5.png","images/jx6.png","images/jx7.png"]
        function endPlay(){
            //canNum -=1;
            //$(".number-play").text(canNum);
            $(".jianx-ts").show();
            $(".cjst-play").addClass("j_play");
        }
        function closeoverlay(){
        	$("#TB_overlayBG").css("display","none");
			$(".overlaybox").css("display","none");
			if (document.getElementById("overlaylink")){
			  document.getElementById("overlaylink").src="";
			}
			getchoujiangcount();
        }
    </script>
</html>