<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="《中国再生资源年报》年报优惠活动即将开起"/>
<meta name="keywords" content="订阅，优惠活动"/>
<title>ZZ91中国再生资源年报 在线预订</title>
<link href="../style/hack.css" rel="stylesheet" type="text/css" />
<link href="../style/comm.css" rel="stylesheet" type="text/css"  />
<link href="../style/ol.css" rel="stylesheet" type="text/css" />
<script src="../js/checkform.js" ></script>
</head>
	
<body>
<div class="topbar">
<div class="topbarblock">
<span style="float: left; lineheight:28px;">您好，欢迎访问ZZ91.COM！
<a href="http://www.zz91.com/cn/login.asp">[请登录]</a>
<a href="http://www.zz91.com/cn/regbefore.asp">[免费注册]</a>
</span>
<span style="float: right; line-height: 28px;">
<a target="_blank" href="http://www.zz91.com/">[返回ZZ91首页]</a>
<a target="_blank" href="http://www.zz91.com/service/zst/">[再生通]</a>
<a target="_blank" href="http://www.zz91.com/service/ppt/index.asp">[品牌通]</a>
<a target="_blank" href="http://suliao.zz91.com/">[再生塑料网]</a>
</span>     
<div class="clear"></div>
</div>
</div>
  <div class="doc">
         <div class="hder">
             <img src="../images/hdt02.jpg"/>
             <img src="../images/hdt01.jpg" />
         </div>
         <div class="nav">
              <ul>
                  <li><a href="../default/">首页</a></li>
                  <li><a href="../online/">在线预订</a></li>
                  <li><a href="../ads/">广告征订</a></li>
                  <li><a href="../catalg/">年报目录</a></li>
                  <div class="clear"></div>
              </ul>
         </div>

    <div class="mainblock">
    	<div class="mainblock_left">
        	<div class="left_1">
            	<img src="../images/part1_03.gif" />
                <img src="../images/part2_05.gif" />
                <img src="../images/part3_06.gif" />
                <p class="left_p1">ZZ91再生资源年报(2011-2012)</p>
                <p class="left_p2">ZZ91研究中心<br />重磅推出</p>
                <div class="left_p3">
                    <p>《中国再生资源年报》内容涵盖废金属、废塑料、废料综合三大再生资源领域个大行业。</p>
                    <p>通过“网、刊、会”的全新媒体发行形式，每年度出版，全国发行，全方位锁定客户群体。</p>
                    <p>强大的市场影响力，绝佳的广告投放机遇。欢迎广大废料商加入《中国再生资源年报》。</p>
                </div>
                <p class="left_p4">尊贵的VIP广告版位非你莫属，<br />赶快来电垂询吧！</p>
                <p class="left_p5">WWW.ZZ91.COM</p>
            </div>
            <div class="left_2">
           	  <p class="p1">年报订阅途径</p>
                <p class="p_pic">
               	  <img src="../images/sy_03.gif" />
                </p>
                <p class="p2">1.登录ZZ91.com，年报频道，
                                进入年报订阅，在线填写订阅
                                表格进行订阅。
                </p>                
                <p class="p3">2.电话订阅<br/>
                                客服热线：0571-56633078<br/>
                                广告热线：0571-56633112
				</p>
          </div>
            <div class="clear"></div>
      </div>
   <form id="form1" name="form1"  method="post" action="../../baomingsave/" onsubmit="return checkForm(this)">
        <div class="mainblock_right" id="contright_sub">
        	<div class="right_top">
            	<p class="right_p1">年报优惠活动即将开起</p>
                <p class="right_p2">敬请期待</p>
            </div>
    
            <div class="right_centre">
            	<div class="h3">
            		<h3>年报订阅（付费）</h3>
                </div>
              <img class="pic_h3" src="../images/zx_03.gif" />
              <h4 class="h4">订阅表单填写</h4>
                
                <div class="centreblock" id="contright_sub">	
                	<div class="centreblock_1">
                    	<span class="x">
                        <p class="pic_p2">
                    	年报样式选择：<input id="ys" class="ys1" type="radio" value="" name="ece" checked="checked" title="年报样式选择：电子版"/>电子版
                            		<input id="ys" class="ys" type="radio" value="" name="ece" title="年报样式选择：纸质版"/>纸质版
                        </p>
                        <p class="pic_p2">
                        年报种类选择：<input id="ys" class="ys1" type="radio" value="" name="pop" checked="checked" title="年报种类选择：铜"/>铜
                                    <input id="ys" class="ys" type="radio" value="" name="pop"  title="年报种类选择：钢材"/>钢材
                                    <input id="ys" class="ys" type="radio" value="" name="pop" title="年报种类选择：废塑料" />废塑料
                                    <input id="ys" class="ys" type="radio" value="" name="pop" title="年报种类选择：贵金属" />贵金属
                                    <input id="ys" class="ys" type="radio" value="" name="pop" title="年报种类选择：废纸" />废纸
                        </p></span>
                        订阅人资料：请完整地填写以下资料，以便准确收到书刊（加<span class="red">*</span>号的为必填！） 
                    </div>
                    <div class="centreblock_2">	   	
                            <label for="UserName"><em class="space">姓名</em>：</label>
                            <input id="UserName" class="textLine1" type="text" value="" name="UserName" title="姓名">
                            <span class="red">*</span>
                            <span class="x">
                            <input id="sex" class="sex" type="radio" value="" name="sex" checked="checked" title="男士"/>男士/
                            <input id="sex" class="sex" type="radio" value="" name="sex" title="女士" /></span>女士<em class="space1"> </em>
                            <label for="post"><em class="space">职位：</em></label>
                            <input id="post" class="textLine2" type="text" value=""  title="职位" name="post">
                            <br/>
                            <label for="Company">公司名称：</label>
                            <input id="Company" class="textLine3" type="text" value="" title="公司名称"  name="Company">
                            <span class="red">*</span>
                            <label for="department"><em class="space">部门</em>：</label>
                            <input id="department" class="textLine4" type="text" value=""  title="部门" name="department">
                            <br/>
                            <label for="Address">公司地址：</label>
                            <input id="Address" class="textLine5" type="text" value="" title="公司地址"  name="Address">
                            <span class="red">*</span>
                            <br/>
                            <label for="Tel"><em class="space">电话</em>：</label>
                            <input id="Tel" class="textLine6" type="text" value=""  title="电话" name="Tel">
                            <span class="red">*</span>
                            <label for="fax"><em class="space">传真</em>：</label>
                            <input id="fax" class="textLine7" type="text" value=""  title="传真" name="fax">
                            <br/>
                            <label for="code"><em class="space">邮编</em>：</label>
                            <input id="code" class="textLine8" type="text" value=""  title="邮编" name="code">
                            <label for="Email">电子邮箱：</label>
                            <input id="Email" class="textLine9" type="text" value="" title="邮编"  name="Email">
                            <span class="red">*</span>
                   	</div>
                    <div class="centreblock_3">	
                    	为了更好的针对您的需求服务于您，请填写以下问题：（可不填） <br />
                        <p class="pic_p">您所在公司性质：
                        <em>
                        	<span class="x">
                        	<input id="kind" class="kind1" type="radio" value="" name="kind" checked="checked" title="您所在公司性质：国营"/>国营
                        	<input id="kind" class="kind" type="radio" value="" name="kind" title="您所在公司性质：集体" />集体
                        	<input id="kind" class="kind" type="radio" value="" name="kind"  title="您所在公司性质：私营"/>私营
                        	<input id="kind" class="kind" type="radio" value="" name="kind"  title="您所在公司性质：外商/合资"/>外商/合资
                        	<input id="kind" class="kind" type="radio" value="" name="kind" title="您所在公司性质：个体" />个体 
                            </span>
                        	<label for="other">其他：</label>
                        	<input id="other" class="textLine10" type="text" value=""  title="其他" name="other">
                        </em>
                        </p>
                        <p class="pic_p">
                        <label for="yw">贵公司经营业务：</label>
                        	<input id="yw" class="textLine11" type="text" value="" title="贵公司经营业务"  name="yw">
                        </p>
                        <p class="pic_p">
                        <label for="xq">您最近需求的产品：</label>
                        	<input id="xq" class="textLine12" type="text" value=""  title="您最近需求的产品" name="xq">
                    	</p>
                        
                      
                    </div>
                </div>
      </div>
                  <div class="right_foot">
            	<input id="submit" class="right_p3" type="submit" value="写完了，提交" name="submit"></input>
                <input type="hidden" name="contents" id="contents" />
                <input type="hidden" name="title" id="title" value="年报报名" />
                <input id="reset" class="right_p4" type="reset" value="重新填写" name="reset"></input>
                <div class="clear"></div>
            </div>
            </div>
      </form>
       
        
        
        
        
       
    </div>
     <div class="clear"></div>
    </div>
<div class="footer">
   <p>
     <a target="_blank" href="http://www.zz91.com/about/index.asp">关于我们</a>
|
     <a target="_blank" href="http://www.zz91.com/cn/helpcenter/">新手指南</a>
|
     <a target="_blank" href="http://www.zz91.com/cn/publish/zst_upgrade/payMethod.asp">支付方式</a>
|
     <a target="_blank" href="http://www.zz91.com/about/contactus.asp">联系我们</a>
|
     <a target="_blank" href="http://www.zz91.com/webmap.html">网站地图</a>
|
     <a target="_blank" href="http://www.zz91.com/about/linkus.asp">友情链接</a>
|
     <a target="_blank" href="http://www.zz91.com/about/question.asp">建议箱</a>
<br>
     <a target="_blank" href="http://www.zz91.com">ZZ91.COM 再生网 </a>
&copy; 版权所有
<br>
地址：浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 客服热线：0571-56612345 56611111 传真：0571-56637777
</p>
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
