@charset "utf-8";
/* CSS Document */
.sw_mk_p{ margin:0 auto; width:958px; border-bottom:3px solid #2E9103;}
.sw_mks_p{ padding:11px 45px 7px 23px; background-color:#F4F4F4;}
.sw_mks_p p{ width:506px; font:12px/24px '宋体'; text-indent:3em; color:#B20B0B;}
.sw_mks_p img{ border:1px solid #B31010;}
.sw_mkttm_p{ width:458px; font:30px/40px '宋体'; color:#B20B0B; text-align:center;}
.sw_mkt_p{ background-color:#F4F4F4;}
.sw_mktb_p{ padding:20px 0px 40px;}
.sw_mkt_p ul li ul li{ float:left; padding:21px 34px;}
.marginbt10px{ margin-bottom:10px;}
.margintop8px{ margin-top:8px;}