@charset "utf-8";
/* CSS Document */
body{background:#a70a03}
.c_mbck{width:958px;margin:0 auto}
.c_gally{background:#faf9de}
.c_gally ul{padding:20px}
.c_gally li{margin:0px 22px 0px 22px;_margin:0px 11px -3px 11px;float:left}
.c_gally dl{width:257px}
.c_gally dt img{width:255px;height:168px;overflow:hidden;border-radius:6px;border:solid 4px #fff;box-shadow:2px 2px 2px #CCC;-moz-box-shadow:2px 2px 2px #CCC;-webkit-box-shadow:2px 2px 2px #CCC;}
.c_gally dd{font:normal 12px/36px '宋体';color:#b75c02;text-align:center}
.hb_footer,.hb_servnav a{color:#fff}
