.band_main{
	background:url(../images/imagepage1.jpg) no-repeat center top;
	height: 483px;
}
.band{
	width: 1000px;
	height: 483px;
	margin: 0 auto;
	background:url(../images/imagepage1.jpg) no-repeat center top;
	position: relative;
}
.baoming{
	display:block;
	height: 82px;
	width: 208px;
	top: 349px;
	left: 614px;
	position: absolute;
}
.page{
	background-color: #fff8be
}
.content-main{
	margin: 0 auto;
	width: 1000px;
}
.liqi-see{
	background:url(../images/imagepage2.jpg) no-repeat center top;
	height: 517px;
	margin-top: 67px;
}
.liqi-gz{
	background:url(../images/imagepage3.jpg) no-repeat center top;
	height: 120px;
	margin-top: 55px;
}
.bottom{
	text-align: center;
	color: #000;
	border-top: 2px solid #000;
	padding-top: 15px;
}
.bottom a{
	color: #000
}