@charset "utf-8";

/**公用部分**/
body{background:#7d0404}

/**顶部**/
.top{height:473px;background:url(../images/top.jpg) no-repeat;background-position:center}
.top a{width:190px;height:45px;display:block;position:absolute;top:330px;left:270px}

.subject_foofer a,.subject_foofer{
	color:#F0F0F0;
	line-height:25px;
}
.subject_foofer a:hover,a:hover{
	color:#F90;
}
/**主体部分**/
.main{margin-top:50px}
.item{margin-bottom:20px;overflow:hidden}
.i-title{height:49px;background:url(../images/i_bg.jpg) repeat-x}
.i-content{background:#fff;padding:20px;_padding-right:0px;overflow:hidden}
.box{width:211px;height:266px;border:1px solid #3f0300;padding:2px;float:left;display:inline;margin-right:17px;margin-bottom:17px}
.box-img{width:211px;height:200px;background:#969;margin-bottom:2px}
.box-img img{width:211px;height:200px}
.box-text{height:24px;line-height:24px;padding:0 5px;background:#c4c4c4;overflow:hidden}
.box-info{wdith:211px;height:40px;background:url(../images/i_text.jpg) no-repeat}
.box-info-text,.box-info-text a{height:20px;line-height:20px;padding:0 5px;color:#fff}
.box-info-text a:hover{color:#F90}
.i-block{width:940px}
.i-block2{width:880px;height:auto;overflow:hidden;padding:20px;background:#eaeaea}

.m2-item{width:400px;height:168px;overflow:hidden}
.m2-item-title{width:240px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline;white-space:nowrap;}
.m2-item-title a{color:#333}
.m2-item-text{width:140px;height:24px;line-height:24px;color:#666;overflow:hidden;float:right;display:inline}
.m2-div{width:900px;height:125px;background:url(../images/img2.jpg) no-repeat;position:relative}
.m2-div-button{position:absolute;top:40px;left:685px;cursor:pointer}
.m2-item-line{height:168px;border-right:1px dashed #444;float:left;display:inline;margin-left:40px;margin-right:40px}


.i-a1{width:120px;height:33px;position:absolute;top:75px;right:150px}
.i-a2{width:416px;height:33px;position:absolute;top:75px;left:10px}
.i-line{width:2px;height:158px;position:absolute;top:15px;left:460px}

/**翻页**/
.page-one{width:65px;height:30px;line-height:30px;border:1px solid #ccc;text-align:center;display:inline-block}

.page-list{display:inline-block;border:1px solid #ccc;padding:6px 8px;_margin-bottom:-10px}
.page-list-click{background:#e9e9e9}


