@charset "utf-8";
/* CSS Document */

.wzt_mk_p{margin:0 auto; width:958px; padding-bottom:8px; border-bottom:3px solid #6F6D6D;}
.wzt_mk_p a{ color:#262626;} 
.wzt_mk_p a:hover{ color:#0774AC;}
.wzt_mk_p h3{ color:#fff; font:bold 18px/46px '宋体'; text-indent:22px;}
.wzt_mkft_p img{ vertical-align:bottom;}
.wzt_dd_p{background:url(../images/wu_03.jpg) repeat-x; height:98px;}
.wzt_dd_p img{ margin:6px 12px 0 18px;}
.wzt_dd_p p{ width:818px; font:bold 14px/24px '宋体'; color:#fff; text-indent:2em; margin:14px 0 0 0;}
.wzt_ctl_p{ width:662px;}
.wzt_area_p{ margin:0 0 0 26px;}
.wzt_area_p li{ float:left; margin-right:15px; height:45px; cursor:pointer;}
.wzt_dl_p{ background-color:#F1F2F3; border:1px solid #989999; padding-left:36px;}
.wzt_ctr_p{ border:1px solid #989999;}
.wzt_yxul_p{ padding:2px 0 3px 0;_padding:8px 0 9px 0;}
.wzt_yxul_p li{ font:14px/26px '宋体'; background:url(../images/wu_01.jpg) no-repeat 20px 10px; text-indent:28px;}
.wzt_mkfl_p{ background:url(../images/wub_03.jpg) no-repeat; padding-left:10px; height:537px; width:316px;}
.wzt_mkfl_p h3{ font:bold 24px/28px '宋体'; margin:32px 64px 16px; color:#262626;}
.wzt_mkfl_p h3 em{ font:bold 16px/28px '宋体'; color:#444; margin-left:22px;}
.wzt_mkfl_p img{ margin:0 38px; padding:28px 0; border-top:1px solid #B1B2B1;}
.wzt_mkfl_p p{ line-height:32px; margin-left:8px;}
.wzt_mkflp_p{ margin:0 0 16px 0;}
.wzt_mkfr_p{ width:608px;}
.wzt_mkfrsp_p{ text-indent:2em; padding:5px 10px; font:14px/24px '宋体';}
.wzt_mkfrshs_p{ padding:5px 10px 10px;; width:420px; line-height:22px;}
.wzt_mkfrshs_p h4{ font:bold 12px/22px '宋体';}
.wzt_mkf_p{ padding:9px; border:1px solid #989999; height:1%;}
.wzt_mkfrf_p,.wzt_mkfrs_p,.wzt_mkfrt_p{ background-color:#F1F2F3; border:1px solid #979898; padding:0 6px;}
.wzt_mkfrf_p,.wzt_mkfrs_p{ margin-bottom:9px;}
.wzt_mkfrs_p{ position:relative;}
.wzt_mkfrfs_p{ padding:0 0 0 10px;}
.wzt_gz_p{ font-weight:bold;}
.wzt_detail_p{ width:526px; line-height:20px;}
.wzt_mkfrf_p h4,.wzt_mkfrt_p h4{ font:bold 14px/32px '宋体'; border-bottom:1px dashed #888989; text-indent:10px;}
.wzt_mkfrt_p p{ background:url(../images/wu_01.jpg) no-repeat 12px 10px; line-height:24px; text-indent:18px;}
.wzt_m2_p{
	
	background:url(../images/wu_06.jpg) no-repeat;
	height:154px;
	width:166px;
	position:absolute;
	right:10px;
	bottom:8px;
	_bottom:340px;
}
.wzt_m2_p p{ line-height:24px; margin-left:12px;}
.wzt_ctr_p h3{ background:url(../images/wu_22.jpg) no-repeat; height:46px; width:286px;}
.wzt_dl_p dl{ width:178px;; _width:173px; float:left; margin:20px 28px 10px 0;}
.wzt_dl_p dl img{ padding:2px; border:1px solid #43474A;}
.wzt_dl_p dl dt{ text-indent:2em; line-height:18px; padding-top:4px;}
.wzt_sbtj_p dl{ float:left; margin:10px 25px;_margin:10px 18px;}
.wzt_sbtj_p dl dt{ text-align:center; padding-top:12px;}
.wzt_sbtj_p dl dt a{ line-height:18px;}
.wzt_mkfil_p,.wzt_mkfir_p{ padding:1px; border:1px solid #989999; height:234px;}
.wzt_mkfir_p h3{ background:url(../images/wu_48.jpg) no-repeat; width:286px; height:46px;}
.wzt_mkfir_p p{ font:12px/26px '宋体'; text-indent:22px; background:url(../images/wu_01.jpg) no-repeat 16px 10px;}
.wzt_mkfil_p h3{ background:url(../images/wu_50.jpg) no-repeat; width:655px; height:46px;}
.wzt_mkfil_p img{ padding:2px; border:1px solid #43474A;}
.mgbt10px{ margin-bottom:10px;}
.left{ float:left;}
.right{ float:right;}
.displaynone{ display:none;}
.displayblock{ display:block;}