<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>奖励活动全新上线_废料专题_ZZ91再生网</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="css/award.css"/>
</head>
<body>
	<div style="width:100%; background-color:#F9F7EC">
		<div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
	</div>
	<div class="top"></div>
    <div class="content">
    	<div class="wrap">
        	<h2>喊您来赚钱啦</h2>
            <div class="box">
            	<div class="item fl">
                	<dl>
                    	<dt>1、发布信息有钱赚；<img src="images/icon_fabu.jpg" /></dt>
                        <dd>发布1条优质信息，当被其他客户花钱查看联系方式后，即可获得10%分成。（无限制奖励）</dd>
                        <dd>注：被举报核实的客户将会罚款5元，并在所有客户查看前显示曾被举报！</dd>
                    </dl>
                </div>
                <div class="item fr">
                	<dl>
                    	<dt>2、拨打电话有钱赚；<img src="images/icon_phone.jpg" /></dt>
                        <dd>拨打400电话，成功通话后奖励1元，（无限制奖励）</dd>
                        <dd>注：拨打用户必须使用注册ZZ91再生网时填写的手机号码拨打才能获取到奖励！</dd>
                    </dl>
                </div>
                <div class="cb"></div>
            </div>
            <!--end box-->
            <div class="box">
            	<div class="item fl">
                	<dl>
                    	<dt>3、邀请朋友有钱赚；<img src="images/icon_ask.jpg" /></dt>
                        <dd>邀请朋友使用再生网客户端，被邀请者输入邀请码可获得20元，发起邀请人每邀请1人即可获得5元（无限制奖励）。</dd>
                    </dl>
                </div>
                <div class="item fr">
                	<dl>
                    	<dt>4、互助发帖有钱赚；<img src="images/icon_note.jpg" /></dt>
                        <dd>发布1条帖子成功奖励0.5元，（每日上限10条发帖奖励）。</dd>
                    </dl>
                </div>
                <div class="cb"></div>
            </div>
            <!--end box-->
            <div class="box">
            	<div class="item fl">
                	<dl>
                    	<dt>5、互助回帖有钱赚；<img src="images/icon_reply.jpg" /></dt>
                        <dd>回复1条帖子成功奖励0.5元，（每日上限10条回复奖励）。</dd>
                    </dl>
                </div>
                <div class="item fr">
                	<dl>
                    	<dt> 6、发布询盘有钱赚；<img src="images/icon_gear.jpg" /></dt>
                        <dd>发布1条询盘信息奖励0.5元，（每日上限10条询盘奖励）。</dd>
                    </dl>
                </div>
                <div class="cb"></div>
            </div>
            <!--end box-->
            <p>拨打奖励会在1天内发放至您的再生钱包账户，您可以点击账单查看。</p>
            <p>任务列表可以在Android客户端、IOS客户端中的消息–待处理事项中查看。</p>
        </div>
    </div>
	<div style="width:100%;margin-top:40px;line-height:25px;">
    	<div style="width:950px;margin:0 auto;text-align:center;"> {% include 'html/comm/buttom.html' %} </div>
    </div>
</body>
</html>
