<!DOCTYPE html>
<html>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="address=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="no" />
		<link rel="apple-touch-icon-precomposed" href="http://img0.zz91.com/zz91/images/logo.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title>淘再生-再生商客</title>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/jquery.js"></script>
		<script type="text/javascript" src="http://b.zz91.com/comm/js/comm.js"></script>

		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui-flex.css"/>	
		<script type="text/javascript" src="http://static.m.zz91.com/layer/layer.js"></script>
		
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/recyclecrm/css/chapman.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/recyclecrm/css/chapman-t.css"/>
	<body>
		<div style="height:48px;">
			<header class="aui-bar aui-bar-nav aui-bar-primary zz-header aui-border-b aui-bg-success">
		    	<a class="aui-pull-left" href="javascript:history.back(-1)">
			        <span class="aui-iconfont aui-icon-left"></span>
			    </a>
			    <div class="aui-title">
			    	通知
			    </div>
			</header>
		</div>
		
		<div style="height:45px;">
			<div class="aui-tab">
			    <ul class="aui-tab-nav">
			        <li><a href="notification1.html" style="color: #16a085;">我的</a></li>
			        <li class="active"><a href="notification2.html">系统消息</a></li>
			    </ul>
			</div>
		</div>
		
		<div class="aui-content">
		    <ul class="aui-user-view">
		        <li class="aui-user-view-cell aui-img">
		            <div class="aui-img-body">
		                <div class="aui-flex-col">
		                	<p class="aui-flex-item-8 aui-ellipsis-1">客服</p>
		                	<p class="aui-flex-item-4 aui-text-right">昨天  17:32</p>
		                </div>
		                <div class='aui-padded-15'>阿斯特添加你为客户</div>
		                <a href="" class="aui-block aui-text-center"><p>立即查看</p></a>
		            </div>
		        </li>
		    </ul>
		    
		    <div class="xiaoxi-box">
		    	<div class="xiaoxi-img">
		    		<img src="images/xiaoxi.png" />
		    	</div>
		    	<div class="xiaoxi-tle aui-flex-col aui-flex-middle">
		    		第十七届台州塑交会暨第八届再生塑料展览会
		    	</div>
		    </div>
		    <ul class="aui-list-view aui-in">
		        <li class="aui-list-view-cell">
		            <div class="aui-arrow-right">07月28日(下午)上海长江有色价格</div>
		        </li>
		        <li class="aui-list-view-cell">
		            <div class="aui-arrow-right aui-ellipsis-1">
		           		“禁废令”有待观望　塑料原料先涨为快
		            </div>
		        </li>
		    </ul>
		</div>
	</body>
</html>
