@charset "utf-8";
/* CSS Document */
.daohangnav{width:960px; margin:0 auto; border:solid 1px #CCC; background-color:#f2f2f2; line-height:30px; margin-top:10px; margin-bottom:10px; font-size:14px; margin-bottom:10px;}
.daohangnav span{padding:10px;font-size:14px}
.tablelist{margin-bottom:20px;}
.tablelist td{padding:10px;font-size:14px}
table{border-collapse:separate;border-spacing:1px}
.typelist a{display:block; float:left; width:100px; line-height:30px; font-size:14px; margin-right:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/* 翻页 */
.apartpageBox{
text-align: center;
clear:both;
margin-right: 20px;
margin-left: 10px;
}
.apartpageBox b{border: 1px solid #f1f1f1;text-decoration: none;padding: 0 5px;display: inline-block;margin: 0 2px;}
.apartpageBox a{padding:0 5px; border: 1px solid #f1f1f1;display: inline-block;margin: 0 2px;}
.apartpageBox a:hover,.apartpageBox a:active {text-decoration: none;}
.apartpageBox .prev-page{padding: 0 5px;border: 1px solid #f1f1f1;display: inline-block;margin: 0 2px;}
.apartpageBox .current{padding: 0 5px;border: 1px solid #f1f1f1;display: inline-block;margin: 0 2px; background-color:#F00; color:#FFF}