<!DOCTYPE HTML>
<html>
	<head>
		<title>公司信息_废料专题_ZZ91再生网</title>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">
	</head>
	<body>
     	<div class="part">
        	<div class="part_nav"><a href="" target="_blank" class="tab_companyName">首页</a> > <a href="" target="_blank" class="tab_companyName">搜索结果</a> > 公司信息</div>
            <!--end part_nav-->
            <div class="company_title">东阳市装饰材料有限公司</div>
            <!--end company_title-->
            <div class="company-box">
            <table class="member_tab" cellpadding="0" cellspacing="0" border="0">
            	<tr>
                	<td class="tab_item">会员类型：</td>
                    <td width="75%">普通会员</td>
                </tr>
                <tr>
                	<td class="tab_item">经营范围：</td>
                    <td width="75%">大量求购EPS、冷压块、热熔块、HIPS碎料、相框边角料。EPS透本粒子，月需1000吨</td>
                </tr>
            </table>
           </div>
           <!--end company-box-->
           <div class="company-block">
           	  <ul>
              	<li class="company-block-ps">申请再生通，可直接查看客户联系方式！</li>
                <li><span class="tab_item">申请再生通热线：</span><a href="" class="company-block-tel"><img class="phone" src="images/phone.png" />&nbsp;&nbsp;&nbsp;&nbsp;0571-56611111</a></li>
                <li class="company-block-wx">或加zz91微信公众号：zz91weixin，每天打卡送积分即可查看。</li>
              </ul>
           </div>
           <!--end company-block-->
           <div class="company-brief">
           		<p class="company-biref-tle">公司简介</p>
                <p>我公司主营装饰材料，常年用EPS冷压块、热熔块、相框PS边角料，HIPS碎 料，国内国外都可以，月需1000吨。长期需要，谢谢</p>
           </div>
           <!--end company-biref-->
           <div class="part_navBottom">
           	 <center>
             	<table class="navTab" cellpadding="0" cellspacing="0" border="0" align="center">
            	  <tr>
                	<td>
                    	<a href="" target="_blank">
                        	<center>
                            	<div class="navTab-img"><img src="images/sc.png" /></div>
                                <div class="navTab-txt">收藏该公司</div>
                            </center>
                        </a>
                    </td>
                    <td>
                    	<a href="" target="_blank">
                        	<center>
                            	<div class="navTab-img"><img src="images/ly.png" /></div>
                                <div class="navTab-txt">给我留言</div>
                            </center>
                        </a>
                    </td>
                    <td>
                    	<a href="" target="_blank">
                        	<center>
                            	<div class="navTab-img"><img src="images/ck.png" /></div>
                                <div class="navTab-txt">查看所有供求</div>
                            </center>
                        </a>
                    </td>
                  </tr>
                </table>
             </center>
           </div>
           <!--end part_navBottom-->
        </div>
        <!--end part-->
	</body>
</html>
