.zz91Area{
	height:70px;
	width:893px;
	margin:0 auto;
	position:relative;
	}
.zz91Name{
	position:absolute;
	left:-20000px;
	}
.zz91Logo{
	position:absolute;
	left: 0px;
	top: 10px;
	}
.zz91Tip{
	position:absolute;
	left: 134px;
	top: 10px;
	}
.zz91Server{
	position:absolute;
	left: 624px;
	top: 24px;
	width: 268px;
	line-height:18px;
	}
.zz91Help{
	
	}
.zz91Help a{
	color:#015c96;
	}
.zz91Help span{
	white-space:nowrap;
	float:left;
	display:block;
	padding-right:4px;
	}
.zz91ServerTel{
	color:#222;
	}
.zz91ServerTel .fontOrange{
	font-weight:bold;
	color:#fd7600;
	}
/*-----------comm font style-------------------*/
.fontSize28{
	font-size:28px;
	}
.fontBlod{
	font-weight:bold;
	}
.fontRed{
	color:#F00;
	}
.fontBlue{
	color:#015c96;
	}



/*-----------comm font style-------------------*/