.fontRed{
	color:red;
	}
.fontBlack{
	color:Black;
	}
.fontGray{
	color:#6f6f6f;
	}
.fontGreen{
	color:#1e5804;
	}
.fontBlod{
	font-weight:bold
	}
.infoEdge{
	width:810px;
	margin:0 auto;
	height:600px;
	}

.infoTit{
	background:#68af49;
	width:810px;
	margin-top:10px;
	line-height:28px;
	overflow:auto;
	}
.infoTit h5{
	background:#e4e4e4;
	margin-left:4px;
	padding-left:10px;
	color:#1e5804;
	width:200px;
	font-size:14px;
	font-weight:bold;
	float:left;
	}
span.infoTip{
	display:block;
	background:#e4e4e4;
	width:460px;
	float:left;
	text-align:right;
	}
span.infoModyTip{
	display:block;
	background:#e4e4e4;
	float:right;
	text-align:center;
	width:136px;
	height:28px;
	overflow:hidden;
	}
span.infoModyTip img{
	position:relative;
	top:3px;
	}
.infoCont{
	line-height:34px;
	width:800px;
	padding:12px 5px;
	}