<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2014第十四届中国塑料交易会|台州塑料展会|塑料交易会|第14届塑料交易会|塑交会-展会咨询0571-56611688</title>
<meta name="keywords" content="塑料交易会,台州塑料展会,中国塑料交易会,第14届中国塑料交易会,台州塑料交易会,网上塑交会,塑交会,台州展会" />
<meta name="description" content="台州塑料交易会是zz91再生网与台州国际会展中心合作举办的。台州塑料展会之zz91组委会通过参展申请表，塑交会交通、住宿指南，台州展会、网上塑交会邀请函等一系列贴心服务，快速让各大企业和公司通过报名申请展位。" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script src="http://img0.zz91.com/lib/jquery/jquery-1.6.2.min.js"></script>
</head>
<body>
<div style="width:100%; background-color:#F9F7EC">
<div style="width:960px;margin:0 auto">
    {%include 'html/comm/top.html'%}
</div>
</div>
<style>
.tt1{background:url(images/{{da1}}.png) no-repeat;}
.tt2{background:url(images/{{da2}}.png) no-repeat;}
.tt3{background:url(images/{{da3}}.png) no-repeat;}
</style>
<div class="topbg">
<div class="top">
<div class="timer">
<div class="timer1 tt1"></div>
<div class="timer2 tt2"></div>
<div class="timer3 tt3"></div>
</div>
</div>
</div>
<!--end timer-->
    <div class="block">
     <div class="content">
     	<div class="c-left">
        	<div class="l-box">
            	<div class="b-tle">组织结构</div>
                <!--end b-tle-->
                <div class="b-item">
                 <span>主办单位：</span>
                	<ul>
                    	<li>台州市人民政府</li>
                        <li>台州市国际会展中心</li>
                    </ul>
                  <span>承办单位：</span>
                	<ul>
                    	<li>ZZ91再生网</li>
                    </ul>
                </div>
                <!--end b-item-->
            </div>
            <!--end l-box-->
            <div class="l-box">
            	<div class="b-tle">日程安排</div>
                <!--end b-tle-->
                <div class="b-item_">
                 <span>布展时间：</span>
                	<ul>
                    	<li>　9月23-24日（8:00-17:00）</li>
                    </ul>
                  <span>展出时间：</span>
                	<ul>
                    	<li>　9月25-28日（9:00-16:30）</li>
                        <li class="bi">　展商 8:30 入场</li>
                        <li>　9月28日（9:00-15:00）</li>
                    </ul>
                    <span>撤展时间：</span>
                	<ul>
                    	<li>　9月28日（15:00-22:00）</li>
                    </ul>
                </div>
                <!--end b-item-->
            </div>
            <!--end l-box-->
            <div class="l-box">
            	<div class="b-tle_">参展范围</div>
                <!--end b-tle-->
                <div class="b-item">
                	<ul>
                    	<li>废料、副牌料、水口料、回料供应商</li>
                        <li>再生造粒的生产商及贸易商 </li>
                        <li>各类再生改性塑料
                        　　　　　　报关、清关、物流、AQSIQ、废料技术及废料添加剂供应商</li>
                    </ul>
                </div>
                <!--end b-item-->
            </div>
            <!--end l-box-->
            <div class="l-box">
            	<div class="b-tle">同期活动</div>
                <!--end b-tle-->
                <div class="b-ads">
                 	<img src="images/img.jpg" />
                </div>
                <!--end b-ads-->
            </div>
            <!--end l-box-->
        </div>
        <!--end c-left-->
        <div class="c-middle">
        	<div class="m-box">
            	<div class="m-tle">
                	<div class="t-txt">展会背景介绍</div>
                </div>
                <!--end m-tle-->
                <div class="m-item">
                	  　　"PEC"2014塑交会（第十四届中国塑料交易会），连续10年被商务部列为塑料行业重点支持展会）将于2014年9月25日至28日浙江路桥台州市国际会展中心举行。展出内容塑料制品、原料及再生料、机械、模具机床“四位一体”展示模式，涵盖塑料整个产业链。
                      <font id="content1"> 自2010年起，ZZ91再生网与台州国际会展中心开始“再生塑料展厅”合作已连续五年，今年展厅面积1000平方，容纳近40个标准展位。废塑料再生料展厅专场，进一步的帮助废塑料、再生料客户现场匹配洽谈、业务合作，已经形成了自己的规模和品牌。
沿用第一届的风格，这次再生塑料展将开辟100余平米的自由贸易洽谈区，还设有展会网吧，张贴现场客户信息的超大供求信息墙，供求信息直接录入ZZ91网上展厅和7平米的样品展示台。继续增加了“TV全场宣传”。同时，ZZ91再生网还将邀请20多家来自不同国家的一手货源供应商及一批国内大买家在现场进行面对面交流。
</font>
                       <a href="javacript:void(0)" class="more">>>更多</a>
                </div>
                <!--end m-item-->
            </div>
            <!--end m-box-->
            <div class="m-box_">
              <div style="width:487px;border:1px solid #FD8C8D;padding-top:50px;padding-bottom:15px;margin:0 auto">
            	<img src="images/jc.jpg" />
                <div class="m-box_img">展会亮点纷呈</div>
              </div>
            </div>
            <!--end b-box_-->
            <div class="m-box_">
             <div style="width:480px;border:1px solid #FD8C8D;padding-top:50px;padding-bottom:15px;margin:0 auto">
            	 <div id="outer">
				<ul id="inner">
					<li><a href="images/syt1.jpg" target="_blank"><img src="images/1.jpg"  alt=" "></a></li>
					<li><a href="images/syt2.jpg" target="_blank"><img src="images/2.jpg"  alt=" "></a></li>
					<li><img src="images/3.jpg"  alt=" "></li>
				</ul>
			</div>
            <!--end outer-->
            <script type="text/javascript">
    			var outer=document.getElementById("outer");
    			var oInner=document.getElementById("inner");
    			var oLis=oInner.getElementsByTagName("li");
   				var step=0;
   				var timer=null;
   			 function buttur(ele,obj){
    			window.clearTimeout(ele.timer);
    			var end=null;
    			for(direc in obj){
    			var direc1=direc.toLowerCase();
    			var strOffset="offset"+direc1.substr(0,1).toUpperCase()+direc1.substring(1).toLowerCase();
    			var target=obj[direc];
    			var nSpeed=(target-ele[strOffset])/10;
    			nSpeed=nSpeed>=0?Math.ceil(nSpeed):Math.floor(nSpeed);
    			ele.style[direc1]=ele[strOffset]+nSpeed+"px";
    			end+=nSpeed;
    		}
    		if(end)
    			if(typeof fnCallback=="function"){
    				fnCallback.call(ele);
    			}else{
           		    ele.timer=window.setTimeout(function(){buttur(ele,obj)},30);
    			}
    		}
    			var divs=document.createElement("div");
    			divs.setAttribute("id","nav");
   				 for(var i=0; i<oLis.length;i++){
       			 var oa=document.createElement("em");
       			 oa.innerHTML=i+1;
        			divs.appendChild(oa);
   			}
   				 outer.appendChild(divs);
    			 var btn=document.getElementById("nav").getElementsByTagName("em");
   				 for(var i=0; i<btn.length; i++){
					 btn[i].indx=i;
					 btn[0].className="ehover";
					 btn[i].onclick=function(){
						for(var i=0; i<btn.length; i++){
							btn[i].className="";
							btn[this.indx].className="ehover";
						}
            			buttur(oInner,{left:-oLis[0].offsetWidth*this.indx}); 
        			}    
   				 }
   			 function autoMove(){
     			step++;
    			if(step<btn.length){
            	 for(var i=0; i<btn.length; i++){
					btn[i].className="";
					btn[step].className="ehover";
					buttur(oInner,{left:step*-480});
				 }           
				 }else{ 
					step=btn.length-4;        
				 }
     			timer=window.setTimeout(autoMove,3000);
   	 		 }
    		 autoMove(); 
   			oInner.onmouseover=function(){window.clearTimeout(timer);}
  			oInner.onmouseout=function(){timer=window.setTimeout(autoMove,3000);}
   			//oleft.onmouseover=function(){window.clearTimeout(timer);}
   			//oleft.onmouseout=function(){timer=window.setTimeout(autoMove,3000);}
   			//oright.onmouseover=function(){window.clearTimeout(timer);}
   			//oright.onmouseout=function(){timer=window.setTimeout(autoMove,3000);} 
			
			 
	</script>	
                <div class="m-box_img_">参展指南</div>
                </div>
            </div>
            <!--end b-box_-->
        </div>
        <!--end c-middle-->
        <div class="c-right">
        	 <div class="l-box">
            	<div class="b-tle_">组委会联系方式</div>
                <!--end b-tle-->
                <div class="b-tel">
                	<span>【ZZ91再生网会展部】</span>
                    <div class="t-item">
                    	<ul>
                        	<li>
                            	<div class="i-txt">联系人员：</div>
                                <!--end i-txt-->
                                <div class="i-txt_">刘先生 </div>
                                <!--end i-txt-->
                                 <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="i-txt">手　　机：</div>
                                <!--end i-txt-->
                                <div class="i-txt_">13456949991</div>
                                <!--end i-txt-->
                                 <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="i-txt">电　　话：</div>
                                <!--end i-txt-->
                                <div class="i-txt_">0571-56611688</div>
                                <!--end i-txt-->
                                 <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="i-txt">传　　真：</div>
                                <!--end i-txt-->
                                <div class="i-txt_">0571-56637777</div>
                                <!--end i-txt-->
                                 <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="i-txt">电子邮箱：</div>
                                <!--end i-txt-->
                                <div class="i-txt_">liunn@asto.com.cn</div>
                                <!--end i-txt-->
                                 <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="i-txt">官方网站：</div>
                                <!--end i-txt-->
                                <div class="i-txt_">www.zz91.com</div>
                                <!--end i-txt-->
                                 <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="i-txt">地　　址：</div>
                                <!--end i-txt-->
                                <div class="i-txt_">浙江杭州江干区东方电子商务园</div>
                                <!--end i-txt-->
                                <div class="cb"></div>
                            </li>
                        </ul>
                    </div>
                    <!--end t-item-->
                </div>
                <!--end b-tel-->
            </div>
            <!--end l-box-->
            <div class="l-box">
            	
                <!--end b-tle-->
                <div class="b-item_" style="padding:0px">
                 	<iframe frameborder="0" scrolling="no" src="http://v.t.qq.com/show/show.php?n=zz91com&amp;w=213&amp;h=330&amp;fl=1&amp;l=4&amp;o=31&amp;c=3&amp;si=210944058cdf2c9a3ba7381e262eacb175d02fa6" width="100%" height="330px"></iframe>
                </div>
                <!--end b-item-->
            </div>
            <!--end l-box-->
            <div class="l-box">
            	<iframe class="share_self" width="100%" scrolling="no" height="260" frameborder="0" src="http://widget.weibo.com/weiboshow/index.php?language=&amp;width=0&amp;height=250&amp;fansRow=2&amp;ptype=1&amp;speed=1&amp;skin=1&amp;isTitle=1&amp;noborder=1&amp;isWeibo=1&amp;isFans=1&amp;uid=1776990567&amp;verifier=c3e5c040&amp;dpc=0"></iframe>
            </div>
            <!--end l-box-->
        </div>
        <!--end c-right-->
        <div class="cb"></div>
     </div>
     <!--end content--> 
     <div class="item">
     	<div class="i-tle">2013精彩现场</div>
        <div class="i-ul" id="tab1">
            	<div class="ul_tag" id="one1" leftdata="0">
                	<div class="tag" id="ontag1">供求信息墙</div>
                    <!--end tag-->
                </div>
                <!--end ul_tag-->
            	<div class="ul_tag" id="one2" leftdata="1">
                	<div class="tag" id="ontag2">参展人数迅速增加</div>
                    <!--end tag-->
                </div>
                <!--end ul_tag-->
            	<div class="ul_tag" id="one3" leftdata="2">
                	<div class="tag" id="ontag3">现场签单</div>
                    <!--end tag-->
                </div>
                <!--end ul_tag-->
            	<div class="ul_tag" id="one4" leftdata="3">
                	<div class="tag" id="ontag4">展会网吧</div>
                    <!--end tag-->
                </div>
                <!--end ul_tag-->
            	<div class="ul_tag" id="one5" leftdata="4">
                	<div class="tag" id="ontag5">样品展示区</div>
                    <!--end tag-->
                </div>
                <!--end ul_tag-->
                <div class="cb"></div>
        </div>
        <script>
		$(document).ready(function() {
			var timera=null;
			var i=0;
			$(".ul_tag").click(function(){
				var leftdata=$(this).attr("leftdata");
				var leftnum=leftdata*924
				$(".ul_tag").css("border-top","2px solid #fff");
				$(this).css("border-top","2px solid #d8c078");
				$(".tag").css("background","#fff");
				$(this).find('.tag').css("background","#d8c078");
				
				$(".glou_in").stop().animate({left:"-"+leftnum.toString()+"px"});
				window.clearTimeout(timera);
				i=leftdata;
			});
			$(".ul_tag").mouseout(function(){
				window.clearTimeout(timera);
				timera=window.setTimeout(louautoMove,3000);						   
			})
			function autogoup(id){
				
				var leftdata=$("#one"+id.toString()).attr("leftdata");
				var leftnum=leftdata*924
				$(".ul_tag").css("border-top","2px solid #fff");
				$("#one"+id.toString()).css("border-top","2px solid #d8c078");
				$(".tag").css("background","#fff");
				$("#one"+id.toString()).find('.tag').css("background","#d8c078");
				$(".glou_in").stop().animate({left:"-"+leftnum.toString()+"px"});
				
			}
			 $(".more").click(function(){
				  $("#content1").slideToggle(function(){
						$(".more").text($("#content1").is(":hidden") ?  ">>更多" :"—收起");
					});
					
			  });
			 function louautoMove(){
					 autogoup(i);
					 timera=window.setTimeout(louautoMove,3000);
					 i=i+1;
					 if (i>=6){i=0}
			 }
			 timera=window.setTimeout(louautoMove,10);
		})
		</script>
        <!--end i_ul-->
        <div class="glou_main">
        	<div class="glou_in">
            <div class="ul_y"></div>
            <div class="ul_txt">
            <ul>
            <li>人流涌动，不少客户纷纷拿出手机、相机拍下匹配信息</li>
            <li>火爆现场，全场焦点尽在zz91展区</li>
            <li>很多参展客户现场加入zz91，现场签单</li>
            <li>现场带客户上网操作</li>
            <li>产品质量保证，生意洽谈高效</li>
            </ul>
            </div>
            <div class="glou_box"  id="con_one_1">
        		<img src="images/i1.jpg" />
            </div>
            <div class="glou_box"  id="con_one_2">
            	<img src="images/i2.jpg" />
            </div>
            <div class="glou_box"  id="con_one_3">
            	<img src="images/i3.jpg" />
            </div>
            <div class="glou_box"  id="con_one_4">
            	<img src="images/i4.jpg" />
            </div>
            <div class="glou_box"  id="con_one_5">
            	<img src="images/i5.jpg" />
            </div>
            </div>
        </div>
     </div>
     <!--end item-->
     <div class="item_">
      <div>
     	<div class="i-left"> <img src="images/l.png" /> </div>
        <!--end i-left-->
        <div class="i-right"> <img src="images/r.png" /> </div>
        <!--end i-right-->
        <div class="i-mid"></div>
        <!--end i-mid-->
        <div class="cb"></div>
       </div>
        <div class="item_box">
        	<div class="i_box_l">
            	<div class="l-box">
            	<div class="b-tle_">展位招商</div>
                <!--end b-tle-->
                <div class="b-item_">
                	<ul>
                    	<li>标准展位（3m*3m*2.5m）:5000元/个</li>
                        <li> KT板广告（1m*2m）:1000元/个 </li>
                        <li>海报广告（A3版面）:500元/个</li>
                        <li>*冠名赞助商：1位  </li>
                        <li> *手提袋广告：1位 </li>
                    </ul>
                </div>
                <!--end b-item-->
            </div>
            <!--end l-box-->
            <div class="l-box">
            	<div class="b-tle">资料下载</div>
                <!--end b-tle-->
                <div class="b-item">
                	<ul>
                    	<li><a href="doc/第14届塑交会住宿指南.doc" target="_blank">塑交会住宿指南</a></li>
                        <li><a href="doc/第14届塑交会交通指南.doc" target="_blank">塑交会交通指南</a></li>
                    	<li><a href="doc/第14届中国塑交会邀请函.doc" target="_blank">塑交会邀请函</a></li>
                    </ul>
                </div>
                <!--end b-item-->
            </div>
            <!--end l-box-->
            </div>
            <!--end i_box_l-->
            <div class="i_box_r">
            	 <div class="m-box_z">
                <div class="m-box_tle">展位信息</div>
                <!--end m-box_tle-->
                <div class="m-box_ul">
                	<div class="mb_ul">
                    	<ul>
                        	<li>
                            	<div class="mb_ul_txt"> <span>展位号</span> </div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"> <span>参展商</span> </div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A1号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://dalgjst.zz91.com/" target="_blank">大连国家生态工业示范园区</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A2号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://zhanghq.zz91.com" target="_blank">余姚市杰杰工贸有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A3号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://liushengzs.zz91.com/" target="_blank">鎏昇再生资源有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A5号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="javascript:;">扬州群凯物资有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A6号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="javascript:;">余姚市创伟塑化商行</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            
                            <li>
                            	<div class="mb_ul_txt">A8号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://suzh.zz91.com" target="_blank">晋江市柏伟塑料科技有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A9号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_">虚位以待</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A10号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_">虚位以待</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A11号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://huanya.zz91.com" target="_blank">常州环亚再生资源利用有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A12号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_">虚位以待</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A13号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://lianghait.zz91.com" target=_blank>美之达铜镍科技有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A15号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://hanzhaofeng.zz91.com/" target=_blank>南京涵轶嘉商贸有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A16号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://xinweisl.zz91.com" target="_blank">文安县赵各庄镇尹村鑫维塑料厂</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            
                            <li>
                            	<div class="mb_ul_txt">A19号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://shdisu.zz91.com/" target=_blank>上海帝塑实业有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A20号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="javascript:;">中国轻工业对外经济技术合作福建公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A21号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://huakangsl.zz91.com/" target=_blank>江阴市宏华包装材料有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A22号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://tujian.zz91.com/" target=_blank>上海途建贸易有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A23号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://zjtzcx.zz91.com/" target="_blank">台州市创新工贸有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">A25号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="javascript:;">苏州绿城物资科技有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                        </ul>
                    </div>
                    <!--end mb_ul-->
                </div>
                <!--end m-box_ul_-->
                 <div class="m-box_ul_">
                	<div class="mb_ul">
                    	<ul>
                        	<li>
                            	<div class="mb_ul_txt"> <span>展位号</span> </div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"> <span>参展商</span> </div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B1号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://hxdce.zz91.com/" target="_blank">天津市华鑫达投资有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B2号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="javascript:;">广州市炜业塑胶有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B3号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://aqsiqcn.zz91.com/" target="_blank">北京市京元物环认证咨询有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B5号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="#">Ginfery Group,Inc<br />北京冰川资本管理有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B6号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="#"> SunGar Trading, Inc. <br />美国桑格尔进出口股份有限公司
     </a>
</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                           
                            <li>
                            	<div class="mb_ul_txt">B8号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="#">天来塑料造粒厂</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B9号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="#">WEI HUNG INT'L TRADING CO.<br />台灣威宏國際貿易洋行</a>
</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B10号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_">虚位以待</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B11号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="#">亿行塑料造粒厂</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B12号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_">虚位以待</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B13号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="javascript:;" target="_blank">成都海川塑胶有限公司</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B15号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_">虚位以待</div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            <li>
                            	<div class="mb_ul_txt">B16号</div>
                                <!--end mb_ul_txt-->
                                <div class="mb_ul_txt_"><a href="http://zm.zz91.com/" target=_blank>TOP YANG 锦扬国际</a></div>
                                <!--end mb_ul_txt-->
                                <div class="cb"></div>
                            </li>
                            
                           
                           
                        </ul>
                    </div>
                    <!--end mb_ul-->
                </div>
                <!--end m-box_ul_-->
                <div class="cb"></div>
            </div>
            <!--end b-box_z-->
            </div>
            <!--end i_box_r-->
            <div class="cb"></div>
        </div>
        <!--end item_box-->
     </div>
     <!--end item_-->
     </div>
     <!--end block-->
     <center> 
     <div class="line"></div>
     </center>
   <div style="width:100%;">
	<div style="width:950px;margin:0 auto;text-align:center;">
		{% include 'html/comm/buttom.html' %}
    </div>
</div>               
  </body>
</html>
