@charset "utf-8";

body{margin:0;padding:0;background:#f1eeee}
.top{height:470px;background:url(../images/top.jpg) no-repeat;background-position:center}
.content{width:1156px;margin:0 auto 30px auto}

