@charset "utf-8";

.ml10{margin-left:10px}
.mr10{margin-right:10px}
.orange{color:#f60}
.blue{color:#039}

.main{width:960px;margin:0 auto}
.label{width:720px;border:1px solid #45BF52;padding-bottom:10px;float:left;display:inline}
.label-title{height:25px;line-height:25px;background:#F4F3E8;padding:0 10px;color:#333}
.label-title span{color:#f00}
.label-nav{height:30px;margin-top:8px}
.label-nav ul{padding:0 10px}
.label-nav ul li{float:left;display:inline-block;margin-right:5px;}
.label-nav ul li a{border:1px solid #999;display:block;background:#f2f2f2;padding:1px 5px;}

.label-it-title{height:25px;line-height:25px;background:#2AAE3E;color:#fff;padding:0 10px}
.label-it-caption{float:left;display:inline;font-size:14px;font-weight:bold}
.label-it-more{float:right;display:inline}
.label-it-more a{color:#fff}

.label-list{width:340px;height:250px;overflow:hidden;marign:10px 0}
.label-list ul li{line-height:20px;}

.newstitle{line-height:24px;font-weight:bold}

.label-box{padding:0 10px}
.label-box ul li{padding:10px 0;border-bottom:1px dashed #090}
.label-box-title{height:30px}
.label-box-caption{width:310px;height:30px;padding-left:10px;background:url(http://tags.zz91.com/tags/images/tag_deco2.gif) no-repeat 0px 5px;float:left;display:inline}
.label-box-caption a{color:#333;font-size:14px;font-weight:bold}
.label-box-date{margin-right:20px;float:left;display:inline}
.label-box-icon{margin-right:20px;float:left;display:inline;}

.label-box-img{width:80px;height:70px;float:left;display:inline}
.label-box-img img{width:80px;height:70px;}
.label-box-text{width:600px;height:70px;color:#666;overflow:hidden;float:right;display:inline}

.label-banner{width:720px;height:90px;background:#960;margin:10px 0}


.label-right{width:230px;float:right;display:inline}
.label-item2{border: 1px solid #088D27;margin-bottom:10px}
.label-item2-title{height:29px;line-height:29px;font-size:14px;font-weight:bold;text-align:center;color:#fff;background:url(http://tags.zz91.com/tags/images/tag_sub_hd.png) repeat-x}
.label-item2-content{padding:5px 0;padding-left:10px}
.label-item3{border: 1px solid #999;margin-bottom:10px}
.label-item3-title{height:29px;line-height:29px;font-size:14px;font-weight:bold;text-align:center;color:#000;background:url(http://tags.zz91.com/tags/images/tag_sub_hd.jpg) repeat-x}
.label-item3-content{padding:5px 0;padding-left:10px}
.label-item3-list li{float:left;display:inline;line-height:24px;margin-right:5px;}
.label-item3-list2 li{width:100px;float:left;display:inline;line-height:24px;margin-right:5px;}


