@charset "utf-8";
/****/
.phoneTop{height:48px;line-height:48px;text-align:center;color:#fff;font-size:14px;background:url(../images/phonetop_bg.jpg) repeat-x}
.phoneTitle{padding:8px 0;background:#ffffff;font-size:14px}
.phoneTitle img{vertical-align:middle;margin-right:20px}
.phoneTitle span{margin:0 10px;color:#f00;font-size:12px}
.phoneBanner{height:232px; text-align:center;}
.phoneNav{width:100%;margin:15px 0;}
.phoneNav tr td{width:30.3%;padding:10px;background:#fff;text-align:center;margin:0 10px;font-size:14px;}
.phoneNay-img{width:100%; overflow:hidden}
.phoneNay-img img{width:100%}
.phoneInfo{height:30px;padding-top:5px;background:#bebebe;padding-left:10px;font-size:14px;border:1px solid #b0b0b0}
.phoneInfo img{vertical-align:middle;margin-right:10px}
.phoneBox{padding:10px;background:#fff;margin:20px 10px 10px 10px; font-size:14px;line-height:25px;}
.phoneBox-divImg{width:100%;height:75px;overflow:hidden; text-align:center}
.phoneBox-divImg table tr{width:1000px}
.phoneBox-divImg table tr td{width:100px;height:75px;padding-right:10px}
.phoneBox-divImg table tr td img{width:100px;height:75px}
.phoneBox-divText{width:100%;height:60px;overflow:hidden;margin:5px 0}
.phoneBox-divMore{width:60px;line-height:35px;background:url(../images/icon3.jpg) no-repeat 0px 12px;padding-left:15px;color:#c5c5c5;cursor:pointer}
.phoneRuturntop{border-bottom:1px solid #c7c7c7;padding:10px}
.phoneRuturntop img{cursor:pointer}
.phoneFooterText{margin:10px 0 80px 0;text-align:center;color:#a3a3a3;line-height:24px}
.phoneFooterText a{color:#0059d2}
.phoneFooterText span{color:#0059d2}
.phoneFooter{width:100%;height:40px;background:url(../images/footer_bg2.jpg) repeat-x;position:fixed;bottom:0px}
.phoneFooter table{width:100%;margin-top:7px}
.phoneFooter table tr td{width:25%;height:26px;text-align:center}
.phoneFooter table tr td a{font-size:14px;color:#fff}
.phoneFooter table tr td a:hover{color:#ffff03;text-decoration:none}
.phoneFooter-line{background:url(../images/footer_icon.jpg) no-repeat}
#slider img{height:75px}

.phoneItem{width:100%;height:75px;overflow:hidden;padding-bottom:10px;border-bottom:1px solid #ccc;margin-bottom:10px}
.phoneItem-img{width:30%;height:75px;float:left;display:inline}
.phoneItem-img img{width:100%;height:75px}
.phoneItem-box{width:68%;height:75px;overflow:hidden;float:right;display:inline}
.phoneItem-box-text{width:100%;height:55px;overflow:hidden}
.phoneItem-box-button{float:right;display:inline}
.phoneItem-button-img1{margin-right:50px;float:left;display:inline}
.phoneItem-button-img2{margin-top:5px;float:right;display:inline}

.pro-dis span{
	color:#093
}



/**联系方式**/
.contact{padding:10px;background:#fff;margin:20px 10px 10px 10px;font-size:14px;line-height:25px;}
.contact-text{line-height:24px}
.contact-text img{margin-left:20px}
.contact-name{ width:80px; display:block; float:left}

/**诚信档案**/
.archives{padding:10px;background:#fff;margin:20px 10px 10px 10px}
.archives-title{font-size:14px;margin-bottom:5px}
.archives-table{width:100%}
.archives-table tr td{border:1px solid #ccc;background:#e1e7f4;text-align:center;color:#001d44}
.archives-text{color:#333333}
.archives-text a{color:#f00}
.archives-img{
	width:448px;
	height:307px;
	text-align:center;
	background-image: url(../images/archives_img.jpg);
}

.phoneFooter .current {color:#ffff03}

