@charset "utf-8";

.SearchMain{width:990px;margin:0 auto}
.white{color:#fff}
.mr25{margin-right:25px}
.gray{color:#666}
.red2{color:#cc0000}

/***提示信息**/
.sm-title{height:30px;line-height:30px;border-bottom:2px solid #009944}
.sm-title-left{float:left}
.sm-title-right{float:right}

/***第一板块sm-mainblock1***/
.sm-mainblock1{width:990px;margin:15px 0}
.m1-title{width:990px;height:30px}
.m1-title-nav{widh:500px}
.m1-title-nav ul li{width:120px;height:30px;text-align:center;line-height:30px;background:#ccc;margin-right:1px;font-weight:700;cursor:pointer;float:left}
/*第一板块 类别*/
.m1-class{padding:15px;padding-bottom:0px;_padding-bottom:15px;border:1px solid #009944}
.m1-class-ul ul{width:920px}
.m1-class-ul ul li{float:left;margin-right:35px;margin-bottom:15px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
/*第一板块 时间*/
.m1-time{padding:15px;border:1px solid #009944;border-top:0px}
.m1-time ul li{float:left;margin-right:20px}
/*第一板块 表格*/
.m1-table{width:990px;margin:15px 0}
.m1-table tr td{border:1px solid #797979;lien-height:40px;height:40px}
.m1-table-tdL{width:120px;background:#e4e4e4;text-align:center}
.m1-table-tdR{padding-left:10px}
.m1-table-tdR ul li{float:left;margin-right:10px}
/*第一板块 相关搜索*/
.m1-RelevantSearch{border-bottom:2px solid #009944;padding-bottom:10px}
.m1-RelevantSearch ul li{float:left;width:120px;height:24px;line-height:24px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.m1-RelevantSearch ul li a{color:#1e50a2}



/***第二板块sm-mainblock2***/
.sm-mainblock2{width:990px}
/*第二板块 左边*/
.m2-left{width:730px;float:left}
/*第二板块 列表*/
.m2-item{border-bottom:1px solid #ccc;padding-bottom:14px;_padding-bottom:12px;margin-top:14px}
.m2-item-title{line-height:24px}
.m2-item-title a{color:#009944;font-size:14px}
.m2-item-content{color:#999;margin:5px 0}
.m2-item-class{margin-right:80px;color:#535353}
.m2-item-date{color:#535353}
.m2-item-time{margin-left:10px}
/*第二板块 分页*/
.page_border{width:620px;text-align:center;line-height:30px;margin:10px auto 0 auto}
.page .page_up{float:left;width:55px;height:30px;border:1px solid #ccc}
.page .page_up a{color:#ccc;text-decoration:none}
.page_ul{float:left;margin:0 8px}
.page_ul li{float:left;width:30px;height:30px;border:1px solid #ccc;margin:0 1px}
.page_ul li a{color:#000;text-decoration:none;width:30px;height:30px;display:block}
.page_ul li a:hover{background:#009944;color:#fff}
.page_down{float:left;width:55px;height:30px;border:1px solid #ccc;margin:0 8px}
.page_down a{color:#000;text-decoration:none}
.page_num{float:left}
.page_num2{float:left;margin:0 8px}
.page_ok{float:left;width:35px;height:20px;border:1px solid #000;line-height:20px;margin-top:5px}
.page_ok a{color:#000;text-decoration:none}
.page_text{width:36px;height:24px}
/*第二板块 右边*/
.m2-right{width:240px;float:right}
.m2-right-title{height:30px;background:#009944;padding:0 10px;line-height:30px}
.m2-right-title a{color:#fff}
.m2-right-content{border:1px solid #797979;background:#f2f2f2;padding-top:10px}
.m2-box{width:182px;margin:20px auto}
.m2-box-img{width:180px;height:130px;border:1px solid #797979;background:#fff}
.m2-box-text{text-align:center;line-height:24px;margin-top:8px}
.m2-right-recommended{height:30px;background:#dcdcdc;border:1px solid #797979;border-top:none;line-height:30px;padding-left:20px}

/***第三板块sm-mainblock3***/
.sm-mainblock3{padding:10px;border:1px solid #edbb5b;background:#fffde2;margin:15px 0;color:#cc0000}

/***第四板块sm-mainblock4***/
.sm-mainblock4{border:1px solid #ccc}
.m4-title{height:30px;background:#f2f2f2;padding:0 10px;line-height:30px}
.m4-content{padding:20px 10px 10px 10px;border-top:1px solid #ccc}
.m4-item{width:180px;margin-right:15px}
.m4-item-img{width:140px;height:110px;border:1px solid #ccc;margin:0 auto}
.m4-item-text{text-align:center;color:#797979;line-height:24px;margin-top:5px}

/***第五板块sm-mainblock5***/
.sm-mainblock5{border:1px solid #ccc;background:#f2f2f2;margin:20px 0}
.m5-search{width:650px;height:80px;margin:20px auto}
.m5-nav{margin-bottom:10px;margin-left:30px}
.m5-nav ul li{margin-right:50px;float:left}
.m5-nav ul li a{font-size:14px;cursor:pointer}
.m5-nav ul li a:hover{text-decoration:none}
.m5-box{width:650px;height:40px}
.m5-box-content{width:530px;height:38px;border:1px solid #ccc;border-right:0px;background:#fff}
.m5-box-ok{width:119px;height:40px;background:#009900;text-align:center;line-height:40px}
.m5-box-ok a{color:#fff;font-size:14px;font-weight:700}
.m5-box-text{width:522px;height:30px;padding:4px;border:none;background:none}



/********************************
		
********************************/
.sm-block{width:600px;height:300px;margin:100px auto}
.sm-blcok-img{width:330px;height:44px;margin:0 auto 80px auto}
/*新 2013-9-2 搜索内容*/
.logosearch{margin-top: 10px;margin-right: auto;margin-bottom: 10px;margin-left: auto;clear:both;padding-bottom:10px;height:60px;}
.logosearch .logo{float:left;width:280px;margin-top:10px}
.logosearch .top_search{float:left;width:575px;margin-left:10px}
.logosearch .top_right{float:left;padding-top:16px;margin-top:10px}
.logosearch .top_right_left{float:left;line-height:30px;margin:0 5px}
.logosearch .top_right_right{float:left}
.logosearch .top_right_right a{color:#000;text-decoration:none}
.logosearch .top_right_right a:hover{text-decoration:underline}
.logosearch .search{}
.logosearch .search_bar{width:568px;float:left;}
.logosearch .search_bar .nav1{width:350px;padding-left:10px;height: 25px;background:none;}
.logosearch .search_bar .nav1 ul li{display:block;float:left;width:50px;text-align:center;line-height: 25px;cursor:pointer;}
.logosearch .search_bar .nav1 ul li a{color:#000;text-decoration:none}
.logosearch .search_bar .box{width:568px;height:35px;background:url(../images/search_bg.jpg) no-repeat}
.logosearch .search_bar .left{width:458px;margin-left:5px;height:29px;float:left;padding-top: 3px;}
.logosearch .search_bar .right{width:90px;height:29px;float:left; position:relative}
.logosearch .search_bar .searchtext{width:458px;height:29px;line-height:29px;color:#000;border:0px;background:transparent;outline:none; margin:0px; padding:0px; color:#999;float:left}
.logosearch .search_bar .search_a{width:90px;height:29px;display:block;}
.logosearch .weibo{width:63px;height:45px;margin:25px 0 0 5px;float:left}
.logosearch .line{color:#ccc}
.logosearch .searchnav_on{font-weight: bold;color:#060;}
.logosearch .searchnav_on a{color:#060;text-decoration: none;}
.logosearch #searchresult{padding:0px;position:absolute; left:-5px; top:35px; border:solid 1px #ccc; width:500px; height:300px; background-color:#FFF; z-index:800;}
.logosearch #searchresult ul li{padding:4px;list-style-type: none;line-height:20px}
.logosearch #searchresult_footer{padding:0px;position:absolute; left:-5px; top:35px; border:solid 1px #ccc; width:500px; height:300px; background-color:#FFF; z-index:800;}
.logosearch #searchresult_footer ul li{padding:4px;list-style-type: none;line-height:20px}
/*搜索内容*/
.sm-block-HotKey{width:600px;margin-left:10px}
.sm-block-HotKey ul li{float:left;margin-right:10px;color:#333}
.sm-block-collection{margin-top:100px;text-align:center;color:#333}
.sm-block-collection a{color:#3257df}






/**************************
		公司库搜索
**************************/
.sm-company{width:990px}
/**/
.c-mainblock1{border:1px solid #009944;padding:15px;padding-bottom:0px;margin-top:15px}
.c1-title{width:60px}
.c1-content{width:890px}
.c1-content ul li{float:left;margin-right:35px;margin-bottom:15px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.c-mainblock2{border:1px solid #009944;border-top:0px;padding:10px 15px;padding-bottom:0px}
.c-mainblock2 ul li{float:left;margin-right:10px;margin-bottom:10px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.c-mainblock3{margin:15px 0}
.c3-item{padding:10px 5px 10px 10px;margin-bottom:10px}
.c3-item-bg2{background:#f1f1f1}
.c3-item-left{width:240px;border-right:1px dashed #ccc;padding-right:25px}
.c3-left-text{line-height:24px;margin-bottom:5px}
.c3-left-messages{width:60px;height:30px;background:url(../images/message.jpg) no-repeat;padding-left:16px;margin-top:10px}
.c3-left-phone{width:60px;height:30px;background:url(../images/phone.jpg) no-repeat;padding-left:20px;margin-left:30px;margin-top:10px}

.c3-item-center{width:250px;padding:0 30px;line-height:24px}

.c3-item-right{width:395px}
.c3-box{width:112px;margin-right:29px}
.c3-box-img{width:110px;height:80px;border:1px solid #ccc;background:#fff}
.c3-box-text{text-align:center;margin-top:5px}



.c-mainblock4{margin-top:15px;border:1px solid #ccc}
.c4-title{height:30px;background:#f9f9f9;line-height:30px;padding:0 10px;border-bottom:1px solid #ccc}
.c4-content{padding:15px 5px}
.c4-item{width:146px;margin-right:20px}
.c4-item-img{width:144px;border:1px solid #ccc}
.c4-item-text{height:30px;line-height:30px;text-align:center}
.c4-item-ok{width:84px;height:28px;background:url(../images/message-ok.jpg) no-repeat;margin:0 auto;text-align:center;line-height:28px}
.c4-item-ok:hover{background:url(../images/message_hover.jpg) no-repeat}
.c4-item-ok a{color:#fff}
.c4-item-ok a:hover{text-decoration:none}

.c-mainblock5{padding:15px 0}
.c5-item{width:490px}
.c5-item ul li{width:490px;line-height:22px}
.c5-item ul li a{color:#1e50a2}
.c5-box{width:350px}


.c-mainblcok6{border:1px solid #ccc;padding:15px;background:#f9f9f9}
.c6-box{width:900px;height:30px;overflow:hidden}
.c6-box li{float:left;margin-right:30px;line-height:30px}
.c6-box li a{color:#1e50a2}

.c6-item{width:950px;overflow:hidden;margin-top:5px}
.c6-item li{float:left;margin-right:22px;color:#666;font-size:14px;font-weight:bold}
.c6-item li a{color:#666}


/*************************************/



.sm-picture{margin-top:15px}
.p-left{width:750px}
.p-item{width:240px;margin-right:15px;_margin-right:12px;margin-bottom:15px}
.p-item-img{width:240px;height:180px;border:1px solid #ccc;background:#fff}
.p-item-text{margin-top:5px;line-height:24px}
.p-item-text a{color:#000}
.p-item-messages{width:60px;height:30px;background:url(../images/message.jpg) no-repeat;padding-left:16px;margin-top:10px}
.p-item-phone{width:120px;height:30px;background:url(../images/phone.jpg) no-repeat;padding-left:20px;margin-left:20px;margin-top:10px}

.p-right{width:220px;border:1px solid #e4e4e4}
.p-right-title{height:30px;background:#e4e4e4;line-height:30px;padding-left:10px}
.p-right-content{padding:15px 25px;background:#f2f2f2;height:1170px;}
.p-box{width:170px}
.p-box-img{width:168px;height:108px;border:1px solid #e4e4e4;background:#fff}
.p-box-text{margin-top:5px;line-height:24px;text-align:center}
.p-box-text a{color:#000}
.p-box-bottom{border-bottom:1px solid #ccc}

.p-box2{width:170px;margin-top:10px}
.p-box2-title{margin-bottom:5px}
.p-box2-title a{color:#0033ff;font-size:14px;font-weight:bold}
.p-box2-right{color:#0033ff;line-height:22px}





