<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6973570476935" version="0.0.1"> 
  <name>两性秘密</name>  
  <description/>  
  <author email="kangxy@asto.com.cn" href="http://www.apicloud.com">康师傅</author>  
  <content src="html/index.html"/>  
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="rgba(192,0,154,72.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="true"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="false"/>  
  <preference name="iOS7StatusBarAppearance" value="true"/>  
  <permission name="readPhoneState"/>  
  <permission name="call"/>  
  <permission name="sms"/>  
  <permission name="camera"/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>  
  <permission name="contact"/>  
  <access origin="*"/>  
  <feature name="qq"> 
    <param name="urlScheme" value="tencent1104781207"/>  
    <param name="apiKey" value="uDglHIZ8L4J8Za5N"/> 
  </feature>  
  <feature name="wx"> 
    <param name="urlScheme" value="wx06007f9e20e7bed8"/>  
    <param name="apiKey" value="wx06007f9e20e7bed8"/>  
    <param name="apiSecret" value="4211a5ea888554970f6fad2b3a0ea6cc"/> 
  </feature> 
</widget>
