<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2012年再生资源行业商务大全</title> 
<meta content="2012年再生资源行业商务大全,全面升级再生资源综合服务，行业唯一收录，200000发行覆盖整个产业 火热招商中" name="keywords" /> 
<meta content="2012年再生资源行业商务大全,ZZ91再生网是中国最大最旺的网上废料贸易市场,这里为您精选了废金属,废塑料,废纸,废橡胶,纺织废料,废旧设备,废电子电器,废玻璃,废皮革,废铜,废铝,废铁,企业报价,塑料颗粒,二手设备等各类废料供求信息.公司黄页.行业资讯.价格行情.展会信息等。" name="description" />
<link rel="stylesheet" type="text/css" href="http://subject.zz91.com/comm/facebox.css"/>
<link rel="stylesheet" type="text/css" href="http://subject.zz91.com/comm/comm.css"/>
<script type="text/javascript" src="../js/msmarquee.js"></script>
<style>
.bottom{color:#FFF;}
.subject_foofer a{color:#FFF; text-decoration:none;}
.subject_foofer a:hover{color:#FFF; text-decoration:underline;}
</style>
</head>

<body style="background:url(../images/4181_02.jpg) repeat-x;margin:0px;font-size:12px;">
{%include 'html/comm/top.html'%}
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/418_01.jpg" width="950" height="260" /></td>
  </tr>
  <tr>
    <td><img src="../images/418_02.jpg" width="950" height="100" /></td>
  </tr>
  <tr>
    <td><img src="../images/418_03.jpg" width="950" height="100" /></td>
  </tr>
  <tr>
    <td><img src="../images/418_04.jpg" width="950" height="100" /></td>
  </tr>
  <tr>
    <td><img src="../images/418_05.jpg" width="950" height="100" /></td>
  </tr>
  <tr>
    <td><img src="../images/418_06.jpg" width="950" height="85" /></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(../images/418_07.gif) center repeat-y;">
  <tr>
    <td width="50" height="200">&nbsp;</td>
    <td width="880"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="60" valign="top"><img src="../images/418_10.jpg" width="163" height="35" align="left" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/418_13.jpg" width="673" height="47" /></td>
        </tr>
      <tr>
        <td height="60" valign="top"><img src="../images/418_17.jpg" width="221" height="35" align="left" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/418_20.jpg" width="609" height="47" /></td>
        </tr>
      <tr>
        <td height="0" valign="top"><img src="../images/418_23.jpg" width="185" height="35" align="left" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/418_26.jpg" width="639" height="50" /></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/418_29.jpg" width="950" height="100" /></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(../images/418_07.gif) center repeat-y;">
  <tr>
    <td><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="30" align="center"><img src="../images/418_32-41.jpg" width="20" height="20" onclick="MoveLeft()" style="CURSOR: pointer;" /></td>
        <td><div id=marqueediv1 style="width:830px; overflow:hidden;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center">
        <td><img src="../images/418_32.jpg" height="133" hspace="5" /></td>
        <td><img src="../images/418_34.jpg" height="133" hspace="5" /></td>
        <td><img src="../images/418_36.jpg" height="133" hspace="5" /></td>
        <td><img src="../images/418_38.jpg" height="133" hspace="5" /></td>
        <td><img src="../images/1.jpg" height="133" hspace="5" /></td>
        <td><img src="../images/2.jpg" height="133" hspace="5" /></td>
      </tr>
    </table></div></td>
        <td width="40" align="center"><img src="../images/418_34-44.jpg" width="20" height="20" onclick="MoveRight()" style="CURSOR: pointer;" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/418_52.jpg" width="950" height="100" /></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0" style="background:url(../images/418_07.gif) center repeat-y;">
  <tr>
    <td><table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr align="center">
        <td><img src="../images/418_55.jpg" width="154" height="226" /></td>
        <td><img src="../images/418_57.jpg" width="153" height="226" /></td>
        <td><img src="../images/418_59.jpg" width="150" height="226" /></td>
        <td><img src="../images/418_61.jpg" width="150" height="226" /></td>
        <td><img src="../images/418_63.jpg" width="145" height="226" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/418_65.jpg" width="950" height="34" /></td>
  </tr>
</table>
<table width="950" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/418_67.jpg" width="950" height="70" /></td>
  </tr>
</table>
{% include 'html/comm/buttom.html' %}
<script> 
var marquee1=new Marquee("marqueediv1");
marquee1.Direction=2;
marquee1.Step=1;
marquee1.Width=830;
marquee1.Height=133;
marquee1.Timer=50;
marquee1.ScrollStep=1;
marquee1.Start();
function MoveLeft(){
marquee1.Direction=2;
}
function MoveRight(){
marquee1.Direction=3;
}
</script>
</body>
</html>
