header{
	position: relative;
}
.bandimg{
	width: 100%;
	vertical-align: top;
}
.btn-img{
	position: absolute;
	z-index: 2;
	right: 4%;
	top: 37%
}
.buy-sw{
	background-color: #fff7c6;
	padding: 10px 0
}
.big-title{
	text-align: center;
	line-height: 33px;
	height: 33px;
	font-size: 15px;
	text-align: center;
	background: url(../images/sanjiao.png) no-repeat center bottom;
	background-size: 8px 5px;
}
.imglist{
	padding: 0 10px;
}
.imglist{
	display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: row;
           flex-flow: row;
           margin-top: 5px;
}
.cpinfo{
	-webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
     display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}
.kongbai{
	width: 8px;
}
.cpinfo-img{
	width: 100%;
	vertical-align: top;
}
.cpinfo-all{
	background-color: #df3d14;
	padding: 4px;
}
.cpinfo-all p{
	font-size: 8px;
	color: #fff;
}
.yell{
	color: #fcff01
}
.btn{
	margin: 0 12px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: #000000;
	background-color: #fcff00;
	display: block;
}
.zhushi{
	padding: 10px 10px;
}
.kexin-jz{
	background-color: #fffff0;
	padding: 10px 0
}
.kexin-jz .cpinfo{
	background-color: #fff
}
.kexin-all{
	border: 1px solid #e6e6e6;
	padding: 10px;
	-webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
}
.kexin-all h3{
	font-size: 12px;
	line-height: 25px;
}
.kexin-all p{
	font-size: 9px;
	color: #666666
}
.lishi{
	background-color: #fff7c6;
	padding: 10px 0 20px
}
.zhanhui{
	padding: 10px 0 20px;
	background-color: #fffff0
}
.zhanhui .kongbai{
 width: 4px;
}