
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系我们|B2B|B2C-杭州阿思拓电子商务有限公司</title>
</head>

<body>

    <strong>联系我们</strong><br /><br />
<table cellpadding="6">
<tr>
<td> 地址：</td>
<td>浙江省杭州市江干区九盛路9号东方电子商务园13栋</td>
</tr>
<tr>
<td>  联系电话：</td>
<td>0571-56611111 56612345</td>
</tr>
<tr>
<td> 邮箱：</td>
<td><a href="mailto:kefu@asto-inc.com " target="_blank">kefu@asto-inc.com </a></td>
</tr>
<tr>
<td>  邮编：</td>
<td> 310019</td>
</tr>
<tr>
<td> 传真：</td>
<td>0571-56637777</td>
</tr>
<tr>
<td> 联系QQ：</td>
<td> 

销售<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=411179258&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:411179258:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>&nbsp;
续费<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1556493280&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1556493280:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>&nbsp;
经理<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=308645735&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:308645735:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>&nbsp;

<!--411179258 1556493280 308645735-->

</td>
</tr>
</table>
     <br /><img src="../con_pic.png">
</body>
</html>
