@charset "utf-8";

body {
	padding: 0;
	margin: 0;
}


/*------- top -------*/
.top {
	height: 680px;
	background: url(../images/top.jpg) no-repeat;
	background-position: center;
}
.bg01_wrap {
	height: 410px;
	background: url(../images/bg01.jpg) no-repeat;
	background-position: center;	
}
.bg02_wrap {
	height: 468px;
	background: url(../images/bg02.jpg) no-repeat;
	background-position: center;	
}
.item_wrap {
	width: 960px;
	margin: 0 auto;
}
.btn_item {
	padding-top: 330px;
	padding-left: 120px;
}
.btn_item a.btn {
	width: 300px;
	height: 73px;
	background: url(../images/bg_btn.jpg) no-repeat;
	display: block;	
	margin: 0 auto;
}

