<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2012第七届中小企业电子商务大会</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/../../../images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<script type="text/javascript" src="../../commjs/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../commjs/hb.comm.js" ></script>
<style type="text/css">
.yjfqtdjs{font-size:14px; color:#262626;line-height:26px; padding-left:20px; font-family:"宋体";}
.yjfqtdjs a{font-size:14px; color:#262626; text-decoration:none; font-family:"宋体";}
.yjfqtdjs a:hover{font-size:14px; color:#F00; text-decoration:none; font-family:"宋体";}
.xcinfo td{font-size:12px; text-align:center; line-height:20px;}
.gefgds td{background-color:#FFF; padding:5px; line-height:20px;}
</style>
</head>

<body style="margin:0px; padding:0px;">
{%include 'html/comm/top.html'%}
<center>
<table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/comcon_01.jpg">
  <tr>
    <td height="352" style="background:url(../images/comcon_02.jpg) center no-repeat;">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/comcon_03.jpg">
  <tr>
    <td><img src="../images/comcon_03.jpg" width="2" height="18" /></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="361" bgcolor="#e8e7e4" style="padding:8px;"><img src="../images/comcon_09.jpg" width="361" height="273" border="0" /></td>
    <td width="10">&nbsp;</td>
    <td valign="top" bgcolor="#E8E7E3"><table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/comcon_06.jpg">
      <tr>
        <td width="70"><img src="../images/comcon_05.jpg" width="70" height="40" /></td>
        <td>&nbsp;</td>
      </tr>
    </table>
      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="245" align="left" style="font-size:14px; font-family:'宋体'; line-height:25px;">&nbsp;&nbsp;<a href="http://www.huanbao.com/news/details6247.htm" style="color:#262626; text-decoration:none;">4月20日，由亿邦动力网主办的中小企业电子商务领域顶级盛会&quot;第七届中小企业<br />
            电子商务大会&quot;在北京石景山区万达铂尔曼大饭店召开并举办了&quot;2011年度中国行业电<br />
            子商务网站TOP100&quot; 颁奖典礼，公司旗下ZZ91再生网入选&quot;2011年度中国行业电子商<br />
            务网站TOP100&quot;，蝉联TOP100五连冠！<br />
&nbsp;&nbsp;4月20日，ZZ91再生网第五次荣获中国行业电子商务网站TOP100。杭州阿思拓信息<br />
科技有限公司董事长陈瑞贵先生携旗下ZZ91再生网执行总经理宋海波先生及中国环保网<br />
执行总经理陈云伟先生出席了这次会议并领奖。<br />
&nbsp;&nbsp;本届大会由国家发改委高技术产业司、工信部信息化推进司和商务部电子商务和信<br />
息化司指导，北京市商务委员会、石景山区人民政府支持，亿邦动力网主办。</a></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="376" bgcolor="#E8E7E3"><table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/comcon_15.jpg">
      <tr>
        <td width="95"><img src="../images/comcon_14.jpg" width="95" height="50" /></td>
        <td>&nbsp;</td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="230" align="left" class="yjfqtdjs">· <a href="http://www.huanbao.com/news/details6229.htm" target="_blank">高智文：电商企业如何提高转换率</a><br />
            · <a href="http://www.huanbao.com/news/details6230.htm" target="_blank">哪些外贸市场值得闯？</a><br />
            · <a href="http://www.huanbao.com/news/details6231.htm" target="_blank">跨境交易便利化与中小企业贸易融资</a><br />
            · <a href="http://www.huanbao.com/news/details6232.htm" target="_blank">赵欣军：外贸企业如何做长远的电商</a><br />
            · <a href="http://www.huanbao.com/news/details6233.htm" target="_blank">张韶峰：像Amazon一样营销</a><br />
            · <a href="http://www.huanbao.com/news/details6239.htm" target="_blank">李威：为什么打不开欧洲市场？</a><br />
            · <a href="http://www.huanbao.com/news/details6240.htm" target="_blank">胡权斌：制胜外贸邮件营销</a><br />
          · <a href="http://www.huanbao.com/news/details6241.htm" target="_blank">单灵阳：主动的外贸营销之道</a></td>
        </tr>
    </table></td>
    <td width="10">&nbsp;</td>
    <td valign="top" bgcolor="#E8E7E3"><table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/comcon_15.jpg">
      <tr>
        <td width="95"><img src="../images/comcon_17.jpg" width="95" height="50" /></td>
        <td>&nbsp;</td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="230" class="yjfqtdjs"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><strong>大会时间：</strong></td>
              <td align="left">2012年4月20、21日</td>
            </tr>
            <tr>
              <td><strong>活动主题：</strong></td>
              <td align="left">新模式 新思路 新希望</td>
            </tr>
            <tr>
              <td><strong>主办单位：</strong></td>
              <td align="left">亿邦动力网</td>
            </tr>
            <tr>
              <td><strong>协办单位：</strong></td>
              <td align="left">紫博蓝</td>
            </tr>
            <tr>
              <td><strong>会议形式：</strong></td>
              <td align="left">1场主论坛+4场分论坛+《思•路》首映+颁奖盛典</td>
            </tr>
            <tr>
              <td valign="top"><strong>主要话题：</strong></td>
              <td align="left">城市与电子商务发展&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制造业电子商务应用的发展思路 <br />
传统企业电子商务新营销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;外贸电子商务的模式和现存问题 <br />
中国B2B行业网站发展现状及出路 </td>
            </tr>
          </table></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/comcon_15.jpg">
      <tr>
        <td width="95"><img src="../images/comcon_21.jpg" width="100" height="50" /></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="xcinfo">
  <tr>
    <td bgcolor="#E8E7E3" style="padding:6px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds" style="margin:5jpx;">
          <tr>
            <td><img src="../images/comcon_24.jpg" width="263" height="159" /></td>
          </tr>
          <tr>
            <td align="center">电商大会上亿邦CEO——郑敏发言</td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="18"></td>
            </tr>
          </table>
          <table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds" style="margin:5jpx;">
            <tr>
              <td><img src="../images/comcon_32.jpg" width="263" height="159" /></td>
            </tr>
            <tr>
              <td align="center">公司旗下ZZ91网荣获&quot;2011年度中国行业电子商务<br />
                网站TOP100&quot;蝉联TOP100五连冠</td>
            </tr>
        </table></td>
        <td valign="top"><table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
          <tr>
            <td align="center"><img src="../images/comcon_26.jpg" width="341" height="367" /></td>
          </tr>
          <tr>
            <td height="50" align="center">公司董事长陈瑞贵先生访谈节目的讲话</td>
          </tr>
        </table></td>
        <td valign="top"><table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
          <tr>
            <td><img src="../images/comcon_28.jpg" width="263" height="159" /></td>
          </tr>
          <tr>
            <td height="30" align="center">媒体正在采访北京石景山区出席的各位领导</td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="18"></td>
            </tr>
          </table>
          <table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
            <tr>
              <td><img src="../images/comcon_33.jpg" width="263" height="158" /></td>
            </tr>
            <tr>
              <td height="30" align="center">获奖荣誉证书</td>
            </tr>
          </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="16"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top"><table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
            <tr>
              <td><img src="../images/comcon_37.jpg" width="263" height="158" /></td>
            </tr>
            <tr>
              <td align="center">柴跃廷：电商或使中国制造变为中国创造</td>
            </tr>
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="16"></td>
              </tr>
            </table>
            <table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
              <tr>
                <td><img src="../images/comcon_42.jpg" width="263" height="159" /></td>
              </tr>
              <tr>
                <td align="center">郭江：我不是马云肚子里的蛔虫</td>
              </tr>
          </table></td>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center"><table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
                <tr>
                  <td align="center"><img src="../images/comcon_38.jpg" width="341" height="364" /></td>
                </tr>
                <tr>
                  <td height="40" align="center">中国环保网执行总经理陈云伟（左）与慧聪网的CEO郭江（右）</td>
                </tr>
              </table></td>
            </tr>
          </table></td>
          <td valign="top"><table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
            <tr>
              <td><img src="../images/comcon_39.jpg" width="263" height="158" /></td>
            </tr>
            <tr>
              <td align="center">银泰网廖斌：移动互联网充满商机</td>
            </tr>
          </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="18"></td>
              </tr>
            </table>
            <table width="100" border="0" align="center" cellpadding="0" cellspacing="0" class="gefgds">
              <tr>
                <td><img src="../images/comcon_43.jpg" width="263" height="158" /></td>
              </tr>
              <tr>
                <td align="center">电商大会颁奖现场</td>
              </tr>
          </table></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#FF0000" height="3"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table></center>
{% include 'html/comm/buttom.html' %}
</body>
</html>
