@charset "utf-8";
/* CSS Document */
.c-red{color:#F00;}
.order_main
{
	font-size: 14px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #090;
	clear:both;
	overflow:hidden;
}
.order_main .order_title
{
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	background-color: #090;
	text-align: center;
	float: left;
	width: 70px;
	margin-left:10px;
}
.order_main .order_more
{
	float:left;
	margin-left:10px;
	line-height:30px;
}
.order_content
{
	margin:10px;
	text-align:center;
}
.order_content ul
{
	width:100%
}
.order_content li
{
	margin-left:5px;
	margin-right:5px;
	float:left;
	text-align:center;
	margin-bottom:10px;
	border: 1px solid #CCC;
	display:table;
	width:45%;
}
.order_content li a
{
	overflow:hidden;
	vertical-align:middle;
	display:table-cell;
	text-align:center;
	height:160px;
}
.order_content .more a
{
	background-color:#F7F7F7;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),to(#e6e6e6) );
	border-top:1px solid #ccc;
	border-right:1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left:1px solid #CCC;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#333;
	clear:both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	display:block;
}
.wbottom
{
	clear:both;
	text-align:center;
	font-size: 14px;
	line-height: 30px;
	color: #666;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #090;
}
/*注册*/
.regtitle
{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
}
.regbox
{
	clear:both;
}
.regbox li
{
	margin-bottom:15px;
	margin-top:15px;
}
.regbox li input
{
	width:96%;
	font-size:16px;
	padding:5px;
	line-height:30px;
}
.regbox .button
{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
	background-color:#390;
	color:#FFF;
	font-size:18px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3C0),to(#390) );
	border-top:1px solid #360;
	border-right:1px solid #360;
	border-bottom: 1px solid #360;
	border-left:1px solid #360;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}
.regsuc
{
	color:#390;
	height:50px;
	font-size:16px;
	margin-top:20px;
	text-align:center;
}

