<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta  name="viewport"  content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
<meta  name="format-detection"  content="telephone=no">
<title>{{webtitle}}</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link  rel="stylesheet"  type="text/css"  href="/css/main/moblie.css">
<script type="text/javascript" src="http://img0.zz91.com/zz91/mobile/js/jquery.js"></script>
<script src="/js/style.js"></script>
<link rel="stylesheet" type="text/css" href="/css/swiper-3.3.0.min.css" />
<script type="text/javascript" src="/js/swiper-3.3.0.min.js"></script>
<script src="http://img0.zz91.com/lib/jquery/jquery.cookie.js"></script>
</head>
<body style="background:#f1f1f1">
<style type="text/css">
    .downloadIntro {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 9990099;
    }
    .downloadIntro .downloadIntro-inner {
        display: block;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
    }
    .downloadIntro a {
        display: block;
        position: absolute;
        top: 0;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
    }
    .downloadIntro img {
        display: block;
        width: 100%;
    }
    .search {
    	width: 75%;
    	float: left;
    	margin-right: 3px;
    }
    .postbutton {
    	height: 40px;
    	margin-top: 20px;
    	float: left;
    	width: 18%;
    	background-color: #009944;
    	color: #FEE900;
    	border: 0px;
    	border-radius: 3px;
    	
    }
    .top-right a{
    	color: #fff;
    }
    
</style>

<section class="downloadIntro J_downloadIntro" onclick="closedownloadJ(this)" style="display: none;">
<div class="downloadIntro-inner">
    <img src="http://img0.zz91.com/zz91/mobile/images/icon_app_load.png"/>
    <a class="J_app" href="/app.html" target="_blank"></a>
</div>
</section>
<script>
function closedownloadJ(obj){
	obj.style.display="none";
	$.cookie('closedownloadJ', '1', { expires: 7, path: '/' });
}
var downloadJ=$.cookie('closedownloadJ');
if (!downloadJ){
	$(".downloadIntro").css("display","")
}
</script>
<!--<style>
.appdown{background-color:#FF0;border:solid 1px #F60; line-height:25px; padding-left:5px;margin-top: 60px;}
</style>
<a href="http://m.zz91.com/app.html"><div class="appdown">
	下载移动客户端，获取<b style="color: #FF0000;">20</b>元红包，点此立即下载 。<br />活动时间：2015-3-6至2015-6-6
</div></a>-->
<div  class="top">
  <div  class="top-main"  style="position:relative">
    <div  class="top-left"> <a  href="/"><img  src="/images/main/index.png"></a> </div>
    <div  class="top-right"  id="category"><a href="/register/">免费注册</a> | <a href="/login/">登录</a></div>
    <div  class="cb"></div>
  </div>
</div>
<div class="swiper-container" style="margin-top:40px;">
	<div class="swiper-wrapper">
		{%for list in adlist%}
	    <div class="swiper-slide"><a href="{{list.url}}" target=_blank><img src="{{list.picaddress}}" style="width:100%"></a></div>
	    {%endfor%}
	    <!--<div class="swiper-slide">slider2</div>
	    <div class="swiper-slide">slider3</div>-->
	</div>
	 <div class="swiper-pagination"></div>
</div>
<script> 
var mySwiper = new Swiper('.swiper-container', {
	autoplay: 5000,//可选选项，自动滑动
	pagination : '.swiper-pagination',
	loop : true,
})
</script>
<div style="line-height: 30px;background-color: #FEE900;text-align: center;color: #ff000;"><a href="/qianbao/llb_index.html">免费开通流量宝，送<font color="#FF0000">88</font>元流量钱包。 点此开通</a></div>
<div  class="search">
  <form  action="/trade/"  method="get">
    <div  class="search-content">
      <input  type="text"  name="keywords"  value=""  class="search-text"  placeholder="请输入您要搜索的产品...">
    </div>
    <div  class="search-button">
      <center>
        <input  type="submit"  class="search-ok"  value="搜  索">
      </center>
    </div>
    
    <div  class="cb"></div>
  </form>
</div>
<input type="button" class="postbutton" value="免费发布" onclick="window.location='http://m.zz91.com/products_publish/'" />
<div class="b-box">
  <center>
    <table  class="navTable" align="center" frame="void" border="1" bordercolor="#e6e6e6">
      <tbody>
        <tr>
          <td ><a  href="/trade/">
          	<center>
              <div  class="navTable-img"> <img  src="/images/qianbao/1.png" border="0" /> </div>
              <div  class="navTable-text"> 交易中心 </div>
            </center></a>
            </td>
          <td><a  href="/jiage/">
            <center>
              <div  class="navTable-img"> <img  src="/images/qianbao/2.png" border="0"/> </div>
              <div  class="navTable-text"> 行情报价 </div>
            </center>
            </a>
            </td>
          <td><a  href="/news/">
          	<center>
              <div  class="navTable-img"> <img  src="/images/qianbao/3.png" border="0" /> </div>
              <div  class="navTable-text"> 资讯中心 </div>
            </center>
           </a> 
           </td>
          <td><a  href="/company/">
          	<center>
              <div  class="navTable-img"> <img  src="/images/qianbao/4.png" border="0" /> </div>
              <div  class="navTable-text"> 公司黄页 </div>
            </center>
             </a>
             </td>
        </tr>
        <tr>
          <td> <a  href="/huzhu/?category_id=11">
          	<center>
              <div  class="navTable-img"> <img  src="/images/qianbao/5.png" border="0" /> </div>
              <div  class="navTable-text"> 废料问答 </div>
            </center>
            </a>
            </td>
          <td><a  href="/ye/">
          	<center >
              <div  class="navTable-img"> <img  src="/images/cyd.png" border="0" /> </div>
              <div  class="navTable-text"> 产业带 </div>
            </center>
            </a>
            </td>
          <td><a  href="/qianbao/">
          	<center>
              <div  class="navTable-img"> <img  src="/images/qianbao/7.png" border="0" /> </div>
              <div  class="navTable-text"> 再生钱包 </div>
            </center>
            </a>
            </td>
          <td><a  href="/trust/">
          	<center>
              <div  class="navTable-img"> <img  src="/images/trust_logo.png" border="0" /> </div>
              <div  class="navTable-text"> 厂家直购 </div>
            </center>
            </a>
            </td>
        </tr>
      </tbody>
    </table>
  </center>
</div>
<!--end b-box-->
<div class="block">
  <table class="b_table" cellspacing="0" cellpadding="0" align="center" frame="void" border="1" bordercolor="#e6e6e6">
    <tr>
      <td style="width:25%"><a href="/huzhu/?category_id=11" class="b_tr">最热问答</a></td>
      <td class="b_td"><a href="{{bbslist.mobileurl}}">{{bbslist.title}}</a></td>
    </tr>
    <tr>
      <td style="width:25%"><a href="/news/" class="b_tr">最新资讯</a></td>
      <td class="b_td"><a href="{{newslist.mobileweburl}}">{{newslist.title}}</a></td>
    </tr>
  </table>
</div>
<!--end block-->
<div class="box">
	<div class="box-nav">
            <ul>
                <li class="box-table-click" categorycode="1000">废金属<div class="box-nav-li box-click"></div></li>
            
                <li class="box-table-bg" categorycode="1001">废塑料<div class="box-nav-li box-bg"></div></li>
            
                <li class="box-table-bg" categorycode="1003">废纺织品<Br />综合服务<div class="box-bg"></div></li>
            
                <li class="box-table-bg" categorycode="1004">废纸</a><div class="box-nav-li box-bg"></div></li>
            
                <li class="box-table-bg" categorycode="1007">二手设备<div class="box-nav-li box-bg"></div></li>
            
                <li class="box-table-bg" categorycode="1008">其他废料<div class="box-nav-li box-bg"></div></li>
            </ul>
    </div>
    <div class="box-div">
{%for p in categorycodelist%}
    	<div class="box-item">
        	<div class="box-item-title">
            	<a href="/trade/{{p.pinyin}}/">{{p.label}}</a>
            </div>
            <!--end box-item-title-->
            <div class="box-item-content">
            	<ul>
{%for c in p.catelist%}
                	<li><a href="/trade/{{c.pinyin}}/" class="box-item-click">{{c.label}}</a></li>
{%endfor%}
                    <div class="cb"></div>
                </ul>
            </div>
            <!--end box-item-content-->
        </div>
        <!--ebd box-item-->
{%endfor%}
    </div>
    <div class="cb"></div>
</div>
<div class="link">
	<div class="link-left">
    	<center>
		<a href="/myrc_favorite/"><img src="http://img0.zz91.com/zz91/mobile/images/Collection_img.jpg" />我的收藏</a>
        </center>
    </div>
	
    <div class="link-right">
    	<center>
		<a href="/myrc_leavewords/"><img src="http://img0.zz91.com/zz91/mobile/images/email_img.jpg" />我的询盘</a>
        </center>
    </div>
    <div class="cb"></div>
</div>
<div  class="cb"></div>
{%include 'bottom2.html'%}
</body>
</html>