@charset "utf-8";

body{background:#463ace;margin:0 auto}
.top{height:470px;background:url(../images/top.jpg) no-repeat;background-position:center}

.tg_top {width:222px;vertical-align:bottom;display:block;margin: 0 auto;text-align:center;padding-top:366px}
.top a img:hover{box-shadow:#000 0px 0px 10px}

.item1{padding-top:100px}
.item_{margin-top:480px}
.item{overflow:hidden}
.i-title{width:420px;height:66px;background:url(../images/tj.jpg) no-repeat;margin:0 auto}
.i-title1{width:420px;height:66px;background:url(../images/gj.jpg) no-repeat;margin:0 auto}
.i-title2{width:420px;height:66px;background:url(../images/pt.jpg) no-repeat;margin:0 auto}
.i-title3{width:420px;height:66px;background:url(../images/xq.jpg) no-repeat;margin:0 auto}
.i-content{width:920px;padding:20px 20px 15px 20px;_padding-right:0px;overflow:hidden}
.i-content1{width:920px;padding:20px 20px 30px 20px;_padding-right:0px;overflow:hidden}
.i-content2{width:920px;_padding-right:0px;padding-top:27px;overflow:hidden}
.box{width:200px;border:5px solid #fde9b5;float:left;display:inline;margin-right:8px;margin-bottom:12px;margin-top:14px;margin-left:10px;}
.box-img{width:200px;height:200px;background:#fff;display:table-cell;text-align:center;vertical-align:middle}
.box-img img{vertical-align:middle}
.box-text{height:20px;line-height:20px;background:#fff;overflow:hidden;text-align:center}
.box-text a{color:#007ce4;font-weight:bold;font-size:14px}
.box-info{color:#1152b4;background:#fde9b5;padding-top:6px}
.box-info-text{height:23px;line-height:23px;padding:0 5px;text-align:center;font-size:14px;color:#560210}
.box-info-text_{height:23px;line-height:23px;padding:0 5px;text-align:center;font-size:14px;color:#ea6440}
.i-block{width:920px}
.i-block1{width:920px}
.i-block2{width:920px}
.i-block3{height:235px;overflow:hidden}

.i-block3-box{width:890px;height:180px;margin:5px;background:#fde9b5;float:left}
.i-block3-box-img{margin-top:60px;margin-right:10px;margin-left:20px;float:left}
.i-block3-box-img1{margin-top:10px;margin-right:10px;float:left}
.i-block3-box-img2{margin-top:60px;margin-right:10px;margin-left:30px;float:left}

.m2-item{width:400px;height:168px;overflow:hidden;margin-top:15px}
.m2-item-title{width:200px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline;white-space:nowrap}
.m2-item-title a{color:#333}
.m2-item-text{width:140px;height:24px;line-height:24px;color:#666;overflow:hidden;float:right;display:inline}
.m2-item-line{height:148px;border-right:1px dashed #444;float:left;display:inline;margin-left:40px;margin-top:15px}

/**翻页**/
.page{padding-bottom:20px}
.page-one{width:65px;height:30px;line-height:30px;background:#fff;text-align:center;display:inline-block}
.page-list{display:inline-block}
.page-list a{display:inline-block;background:#fff;padding:6px 8px}
.page-list-click{color:#ff6700;background:#fff}
