<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品星级重磅上线!</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="css/starLevel.css" />
</head>
<body>
<div style="width:100%; background-color:#F9F7EC">
  <div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
</div>
<div class="top"></div>
<div class="bg">
	<div class="bg1">
    	<div class="box">
        	<div class="item">
            	<p>1、在生意管家发布供求信息的过程中，会根据信息内容的完整度获取相应的星级，同时提供完善信息的参考建议。<a href="http://myrc.zz91.com/myproducts/office_post1.htm" target="_blank">点此马上发布信息</a></p>
                <br />
                <img src="images/bg1_img01.jpg" />
            </div>
            <div class="item">
            	<p>2、在生意管家管理供求页面，客户可以查看已发布的供求信息的产品星级，同时也可以对产品星级较低的信息进行修改和完善。<a href="http://myrc.zz91.com/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0" target="_blank">点此马上完善信息</a></p>
                <br />
                <img src="images/bg1_img02.jpg" />
            </div>
        </div>
    </div>
    <div class="bg2"></div>
    <div class="bg3">
    	<div class="box">
        	<div class="item2">
            	<ul>
                	<li><a href="http://help.zz91.com/detail-122/" target="_blank">废金属优质信息案例</a></li>
                    <li><a href="http://help.zz91.com/detail-121/" target="_blank">废塑料优质信息案例</a></li>
                    <li><a href="http://help.zz91.com/detail-120/" target="_blank">综合类别优质信息案例</a></li>
                </ul>
            </div>
            <a href="http://myrc.zz91.com/myproducts/office_post1.htm" target="_blank" class="btn_bg"></a>
            <div class="bg3_footer">
            	<div style="width:100%;line-height:25px;">
      				<div class="bottom" style="width:950px;margin:0 auto;text-align:center;color:#e0e0e0"> {% include 'html/comm/buttom.html' %} </div>
    			</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
