.zz91ProdNavBox a:hover{ border-bottom:#999 1px solid}
.zz91ProdNavBox,.zz91ProdNavBar,.zz91ProdNavBar1{ width:956px; margin:0 auto; margin-top:8px;border:1px solid #F0F0F0;line-height:18px}
.zz91ProdNavBar{ font:bold 14px/36px '宋体'; width:924px; padding:0 16px}
.zz91ProdNavBar li{float:left; padding:0 16px;display:inline;word-break:keep-all}
.zz91ProdNavBar1{ font:bold 14px/36px '宋体'; width:924px; padding:0 16px}
.zz91ProdNavBar1 li{float:left; padding:0 16px;display:inline;word-break:keep-all}
.zz91ProdNav{ float:left;width:954px}
.zz91ProdNavNext{ float:left; background-color:#F6FCF9}
.zz91ProdNavOut{border:1px solid #FFF; border-bottom:1px dashed #F0F0F0}
.zz91ProdNavOver{border:1px solid #006B35; background-color:#F6FCF9}
.zz91ProdNav ul{ width:670px; float:left; padding:8px 0}
.zz91ProdNav ul h2{ width:24px;float:left; font:normal bold 14px/32px '宋体'; text-align:center;padding: 0 12px 0 6px}
.zz91ProdNav ul h2 a{ border-right:1px solid #C9C4A8;display:block;color:#2D2B28}
.zz91ProdNav ul h2 a:hover{ color:#FFF; background-color:#006B35; border-color:#006B35}
.zz91ProdNav ul h2 a.metal, .zz91ProdNav ul h2 a.normal{ padding:48px 0}
.zz91ProdNav ul h2 a.iron{ padding:6px 0}
.zz91ProdNav ul h2 a.copper{ padding:60px 0}
.zz91ProdNav ul h2 a.ferrous{ padding:46px 0}
.zz91ProdNav ul h2 a.nodemetal{ padding:62px 0}
.zz91ProdNav ul h2 a.generalplst{ padding:6px 0}
.zz91ProdNav ul h2 a.plstpe{ padding:2px 0}
.zz91ProdNav ul h2 a.mixedmetal{ padding:22px 0}
.zz91ProdNav ul h2 a.mixedplst{ padding:32px 0}
.zz91ProdNav ul h2 a.mixedpap{ padding:22px 0}
.zz91ProdNav ul h2 a.rubber{ padding:2px 0}
.zz91ProdNav ul h2 a.electronics{ padding:20px 0}
.zz91ProdNav ul h2 a.equipment{ padding:32px 0}
.zz91ProdNav ul h2 a.textiles{ padding:4px 0;line-height:24px}
.zz91ProdNav ul h2 a.other{ padding:4px 0;line-height:24px}
.zz91ProdNav ul h2 a.zz91server{ padding:28px 0;line-height:24px}

.zz91ProdNav ul  li{  float:left; font:normal  100 14px/28px '宋体'}
.zz91ProdNav ul  li a{padding:2px 8px;display:inline;word-break:keep-all}

.zz91ProdNav .zz91NavEdge{ width:140px; margin:18px 14px 18px 14px; float:left}

.zz91ProdNav .zz91NavText{ width:256px;float:right;font:normal  12px/24px '宋体'}
.zz91ProdNav .zz91NavText li {float:none; font-size:12px; lline-height:24px }
.zz91ProdNav .zz91NavText h3{ font-weight:bold}


#roll_top,#roll_bottom {cursor:pointer;height:33px;width:23px}
#roll_top {background:url(../img/top.gif) no-repeat}
#roll_bottom {background:url(../img/top.gif) no-repeat 0 -33px}
#roll {display:none;width:23px;height:66px; position:absolute; background::url(../img/top.gif) left top no-repeat;}