#shead{
	width:955px;
	line-height:24px;
	margin:4px auto;
	border:1px solid #C9C4A8;
	overflow:auto;
	}
#shead_title{
	width:200px;
	float:left;
	font-size:14px;
	font-weight:bold;
	font-family:"微软雅黑";
	color:none;
	}
#shead_title h1{
	font-weight:bold;
	font-family:"微软雅黑";
	color:none;
	text-align:right;
	}
#shead_tags{
	width:755px;
	float:left;
	}
#sbody{
	width:955px;
	margin:0 auto;
	}	
#sbody_left{
	width:627px;
	float:left;
	overflow:hidden;
	}
#sbody_left_content{
	width:310px;
	float:left;
	line-height:20px;
	}
#sbody_left_content li{
	width:292px;
	padding-left:18px;
	float:left;
	background:url(http://img.zz91.com/210newIndex/images/zz91_2010listylebc02.gif) 8px center no-repeat;
	}	
#sbody_left_title{
	width:220px;
	float:left;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:18px;
	line-height:28px;
	background:url(http://img.zz91.com/210newIndex/images/zz91_2010tipbarbc05.gif) 4px center no-repeat;
	color:#F67707;
	}
#sbody_left_title h3{
	font-weight:bold;
	}
#morelink{
	text-align:right;
	padding-right:84px;
	}
#sbody_right{
	width:328px;
	float:left;
	overflow:hidden;
	}
#sbody_right_style{
	
	}
.sbody_right_style_tit{
	line-height:28px;
	font-size:14px;
	color:#6C6455;
	padding-left:12px;
	background-color:#F9F7EC;
	}
.sbody_right_style_tit h3{
	font-weight:bold;
	font-family:"微软雅黑";
	font-size:16px;
	}	
	
.right_content_list{
	padding:4px 12px;
	line-height:20px;
	font-size:14px;
	border:1px solid #F9F7EC;
	}
.right_content_list a.tag1:link,.right_content_list a.tag1:visited{
	color:#0066FF;
}
.right_content_list a.tag2:link,.right_content_list a.tag2:visited{
	color:#FF6600;
}
.right_content_list a.tag3:link,.right_content_list a.tag3:visited{

	color:#009900;
}
.right_content_list a.tag1:hover,.right_content_list a.tag2:hover,.right_content_list a.tag3:hover{
	color:#000;
	text-decoration:none;
}


.right_content_list_info{
	overflow:auto;
	padding:8px 0;
	line-height:20px;
	border-bottom:1px dashed #C9C4A8;
	font-size:12px;
	}
.right_content_list_info h4{
	font-weight:bold;
	line-height:24px;
	text-align:center;
	}
.right_content_list_info p{
	text-indent:2em;
	padding:0 12px;
	}