@charset "utf-8";

body{margin:0;padding:0}

/*index*/
.content{width:960px;margin:0 auto;}
.link{height:44px;line-height:44px;font-size:13px}
.box{width:680px;margin-bottom:15px; margin-right:10px;}
.box-title{height:39px;line-height:39px;background:#eeeeee;border:1px solid #d7d7d7; border-bottom:0;}
.bt-left{float:left}
.bt-right{float:left}
.btr-l{margin-left:5px;margin-top:3px;float:left; width:120px}
.btr-r{margin-right:20px;float:right; width:50px; text-align:right}
.item{border:1px solid #d7d7d7; width:678px;}
.item-box{}
.box-text{text-align:center;font-size:12px; line-height:24px;}
.i-block{float:left; margin-top:20px; margin-bottom:10px;}
.box-img {text-align:center; width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; line-height:30px;}
.box-img img{width:117px;height:119px}

.c-left{float:left; width:680}
.c-right{float:right}

.cr-top{width:265px;height:374px;border:1px solid #d7d7d7}
.crt-txt{margin-left:15px}
.crt-no{width:235px;height:75px;margin-left:15px;background:#edebee;float:left}
.no{height:26px;margin-top:25px;margin-left:5px;float:left}
.no-img{margin-top:8px;margin-left:5px;background:#fff;float:left; }
.no-img img{width:65px;height:56px}
.no-txt{margin-top:8px;margin-left:10px;float:left;font-size:13px}
.no-txt a{color:#1d65dd}
.ctr-top-txt{width:235px;height:246px;margin-top:12px;background:#edebee;float:left}
.ct-item{width:213px;padding:7px 0 0 8px;float:left;overflow:hidden}
.i-left{width:17px;height:17px;line-height:17px;color:#fff;text-align:center;background:#898c8d;float:left}
.i-left1{width:17px;height:17px;line-height:17px;color:#fff;text-align:center;background:#ed8c19;float:left}
.i-right{margin-left:10px;float:left;font-size:13px}
.i-right a{color:#1d65dd}

.cr-middle{width:265px;height:374px;border:1px solid #d7d7d7;margin-top:360px}
.crm-title{height:37px;line-height:37px;background:#eeeeee;border-top:1px solid #009944; margin-bottom:10px;}
.crm-title font{color:#009944;font-size:15px;margin-right:80px;margin-left:10px}
.crm-item{}
.ci-box{ line-height:30px; margin-left:8px; margin-right:5px;}
.ci-box-txt{font-size:12px;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; width:160px;}
.ci-box-txt1{font-size:12px;float:right;margin-right:7px}

.cr-bottom{width:265px;height:140px;border:1px solid #d7d7d7;margin-top:18px;text-align:center}
.cr-bottom font{height:140px;line-height:140px;font-size:20px;color:#000}

/*Detail*/
.main{}
.c-item-left{border:1px solid #ccc;border-bottom:1px solid #009944;float:left; width:627px;}
.ci-title{height:38px;line-height:38px;text-align:center;background:#f6f6f6;border:1px solid #009944}
.ci-title-txt{height:28px;margin-top:4px;margin-left:20px;float:left}
.ci-title-txt1{margin-right:20px;color:#009944;float:right}

.list{width:627px;margin-top:20px}
.l-item{overflow:hidden;padding-bottom:10px}
.i-box{width:172px;padding:2px;margin-left:25px;display:inline;float:left}
.i-box-txt{text-align:center;font-size:13px}
.ib-block{}
.ib-block img{width:172px;height:148px}
.ib-txt{height:35px;line-height:35px;text-align:center;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; width:172px;}
.line{height:11px;background:url(../images/line.jpg) no-repeat;margin-bottom:20px}
.line1{height:11px;background:url(../images/line1.jpg) no-repeat;margin-bottom:20px}

.page{margin-bottom:30px; margin-top:10px;}
.page-list-click {background:#E9E9E9}
.page-list {display:inline-block;border:1px solid #CCC;padding:6px 8px;_margin-bottom:-10px}
.page-one {width:60px;height:30px;line-height:30px;border:1px solid #CCC;text-align:center;display:inline-block}
.page-f{width:45px;height:30px;line-height:30px;border:1px solid #CCC;text-align:center;display:inline-block}

.c-item-right{width:300px;float:right; margin-bottom:20px;}
.cir-t{display:inline}
.cirt-s{height:38px;line-height:38px;background:#69c04a}
.s-txt{margin-left:25px;text-align:center;float:left;color:#081a04;font-weight:bold;font-size:14px;}
.s-txt1{width:100px;text-align:left;float:left;color:#ffff00;font-weight:bold;font-size:16px}
.s-txt2{width:55px;text-align:right;float:left}
.cirt-x{height:140px;line-height:140px;background:#f6f6f6;x}
.x-left{float:left; width:50px;}
.xl-box{width:50px;height:56px;line-height:56px;text-align:right;color:#009944;font-size:14px}
.xl-box1{width:220px;line-height:30px;text-align:left;color:#009944;font-size:14px}
.xl-box2{width:50px;height:63px;line-height:63px;text-align:right;color:#009944;font-size:14px}
.x-right{margin-top:12px;float:left;}
.xlb-txt{float:left}
.xlb-txt a{padding-right:0px}
.txt-click{color:#F00}

.cir-b{display:inline}
.b-title{height:38px;line-height:38px;background:#69c04a}
.b-item{display:inline}
.b-box{width:298px;border:1px solid #ccc;background:#f6f6f6;}
.b-block{margin:6px 25px;border-bottom:1px dashed #CCC;padding-bottom:5px;}
.b-txt{width:160px;float:left;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.b-txt1{width:60px;float:right;text-align:right;font-size:12px}

.subject_foofer{
	line-height:30px;
	margin-bottom:30px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #0C0;
	margin-top:10px;
	width:960px;
}

