@charset "utf-8";
/* 提高产品信息质量 */
body{background:#4064a0}
.top{

	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.main{margin:0 auto;width:965px}
.down{margin:0 auto;width:950px;height:184px;background:url(../images/footer.jpg) no-repeat;position:relative}
.footer{margin-bottom:100px;height:184px;background:url(../images/ok_bg.jpg) repeat-x}
.ok{display:block;position:absolute;left:410px;top:105px;height:100px;width:146px;height:42px}
