<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>废金属_废塑料_废纸_纺织废料_再生资源_废橡胶_ZZ91再生网</title>
<meta content="废金属,废塑料,废纸,纺织废料,再生资源,废橡胶,废铜,废铝,废铁,企业报价,塑料颗粒,二手设备" name="keywords" />
<meta content="ZZ91再生网是中国最大最旺的网上废料贸易市场,这里为您精选了废金属,废塑料,废纸,废橡胶,纺织废料,废旧设备,废电子电器,废玻璃,废皮革,废铜,废铝,废铁,企业报价,塑料颗粒,二手设备等各类废料供求信息.公司黄页.行业资讯.价格行情.展会信息等。" name="description" />
<link rel="shortcut icon" href="http://img0.zz91.com/favicon.ico">
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.hack.css">
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.comm.css" />
<link type="text/css" rel="stylesheet" href="../../daohang/zz91.daohang.basic.css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/front/js/zz91.common.js"></script>
<script src="http://img0.zz91.com/front/js/search/zz91.search.js"></script>
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/nav/css/nav.css" /> 
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.nav.comm.css" />
<meta name="baidu-site-verification" content="An1cpBEWkb" />
</head>
<body>
<!--topBar  start-->
{% include 'includes/nav.html' %}
<!--topbar end-->
<!--header start-->
<div style="clear:both"></div>
{% include 'includes/lm.html' %}
<!--head end-->
<div style="width:960px; margin:0 auto;"><script src="http://pyapp.zz91.com/showppctxtadscript/?keywords=&amp;showborder=1&amp;showposition=1&amp;m=5&amp;padding=10&amp;w=960&amp;num=5"></script></div>
<div style="clear:both"></div>
<!--
<div class="zz91ProdNavBar">
	<ul>
    	<li><a href="#A">废钢产品</a></li>
        <li><a href="#B">废铜产品</a></li>
        <li><a href="#C">废铁产品</a></li>
        <li><a href="#D">废有色金属</a></li>
        <li><a href="#E">废贵金属</a></li>
    	<li><a href="#F">废金属混合</a></li>
        <li><a href="#G">通用废塑料</a></li>
        <li><a href="#H">废塑料颗粒</a></li>
        <li><a href="#I">废塑料混合</a></li>
        <li><a href="#J">废纸</a></li>
        <li><a href="#K">废橡胶</a></li>
        <li><a href="#L">废电子电器</a></li>
        <li><a href="#M">废二手设备</a></li>
        <li><a href="#N">废纺织品</a></li>
        <li><a href="#O">其他废料</a></li>
        <li><a href="#P">服务</a></li>
        <div style="clear:both"></div>
    </ul>
</div>
-->
<div  style="width:960px; margin:0 auto;border:solid 1px #ccc;line-height:25px;">
	
	<a href="http://dingzl.zz91.net" target=_blank>废抛光粉</a>
<a href="http://taiyujd.zz91.net" target=_blank>铬钼废钢</a>
<a href="http://ershoufuyinji.zz91.net" target=_blank>二手复印机一手货源</a>
<a href="http://lantianxianluban.zz91.net" target=_blank>废线路板</a>
<a href="http://wxhengrun.zz91.net" target=_blank>改性尼龙66</a>
		<a href="http://jidantuo.zz91.net" target=_blank>供应鸡蛋托</a>
		<div style="clear:both"></div>
	
</div>
<div class="zz91ProdNavBox">
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="A">
             <h2><a href="#" target="_blank" class="metal">废金属</a></h2>
            {% for list in categorylist1 %}	
                <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
                {%for list1 in list.catelist%}
                <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
                {%endfor%}
            {% endfor %}
        </ul>
        <ul class="zz91NavText">
          <h3 style="color:#F67707">废金属价格行情</h3>
			{%for list in priceInfo_feijs%}
            <li>·<a href="http://jiage.zz91.com/detail/{{list.id}}.html" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="B">
             <h2><a href="#" target="_blank" class="copper">废塑料</a></h2>        
            {% for list in categorylist2 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %}
        </ul>
        
        <ul class="zz91NavText">
            <h3 style="color:#F67707">今日废塑料价格</h3>
            {%for list in priceInfo_feisl%}
            <li>·<a href="http://jiage.zz91.com/detail/{{list.id}}.html" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="C">
                <h2><a href="#" target="_blank" class="iron">废纺织品</a></h2>
			{% for list in categorylist3 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %}
        </ul>
        
        <ul class="zz91NavText">
            <h3 style="color:#F67707">废纺织品供应/求购</h3>
            {%for list in offerlist_fangzhi%}
            <li>·<a href="http://trade.zz91.com/productdetails{{list.id}}.htm" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>                
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="D">
                <h2><a href="#" target="_blank" class="ferrous">废橡胶</a></h2>               
			{% for list in categorylist4 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %}
		</ul>
        
        <ul class="zz91NavText">
            <h3 style="color:#F67707">废橡胶市场价格</h3>
            {%for list in priceInfo_feixj%}
            <li>·<a href="http://jiage.zz91.com/detail/{{list.id}}.html" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="E">
             <h2><a href="#" target="_blank" class="nodemetal">废纸</a></h2>
            {% for list in categorylist5 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %}       
        </ul>
         
        <ul class="zz91NavText">
            <li><h3 style="color:#F67707">废纸价格行情</h3></li>
            {%for list in priceInfo_feizhi%}
            <li>·<a href="http://jiage.zz91.com/detail/{{list.id}}.html" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="F">
                <h2><a href="#" target="_blank" class="mixedmetal">废电子电器</a></h2> 
                {% for list in categorylist6 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %}                       
        </ul>
        
        <ul class="zz91NavText">
            <li><h3 style="color:#F67707">废电子价格行情</h3></li>
            {%for list in priceInfo_feidz%}
            <li>·<a href="http://jiage.zz91.com/detail/{{list.id}}.html" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>    
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="G">
			<h2><a href="#" target="_blank" class="generalplst">废玻璃</a></h2>
			 {% for list in categorylist7 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %}   
        </ul>
        <ul class="zz91NavText">
            <h3 style="color:#F67707">废玻璃供应/求购</h3>
            {%for list in offerlist_boli%}
            <li>·<a href="http://trade.zz91.com/productdetails{{list.id}}.htm" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
         </ul>
        <div style="clear:both"></div>
    </div>
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="H">
            <h2><a href="#" target="_blank" class="plstpe">废旧二手设备</a></h2>
            {% for list in categorylist8 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %} 
        </ul>
        
        <ul class="zz91NavText">
            <h3 style="color:#F67707">二手机械/设备价格</h3>
            {%for list in priceInfo_jixshebei%}
            <li>·<a href="http://jiage.zz91.com/detail/{{list.id}}.html" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="I">
                <h2><a href="#" target="_blank" class="mixedplst">其他废料</a></h2>
                {% for list in categorylist9 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %} 
        </ul>
        
        <ul class="zz91NavText">
            <h3 style="color:#F67707">其他废料供应/求购</h3>
            {%for list in offerlist_qit%}
            <li>·<a href="http://trade.zz91.com/productdetails{{list.id}}.htm" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
    <div class="zz91ProdNav zz91ProdNavOut" id="zz91ProdNav">
        <ul id="J">
            <h2><a href="#" target="_blank" class="mixedpap">服务</a></h2>
            {% for list in categorylist9 %}	
            <li><a href="http://trade.zz91.com/trade/s-{{list.label_hex}}.html" title="{{list.label}}" target="_blank"><b>{{list.label}}</b></a></li>
            {%for list1 in list.catelist%}
            <li><a href="http://trade.zz91.com/trade/s-{{list1.label_hex}}.html" target="_blank">{{list1.label}}</a></li>
            {%endfor%}
            {% endfor %} 
        </ul>
        
        <ul class="zz91NavText">
            <h3 style="color:#F67707">服务信息</h3>
            {%for list in offerlist_fuwu%}
            <li>·<a href="http://trade.zz91.com/productdetails{{list.id}}.htm" title="{{list.fulltitle}}" target="_blank">{{list.title}}</a></li>
			{%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
   
     <div style="clear:both"></div>

</div>

<!--footer start-->
<div class="clear"></div>
{% include 'includes/buttom.html' %}	
<!--footer end-->


</body>
</html>