@charset "utf-8";

body{}
.subject_foofer{color:#fff}
.subject_foofer a{color:#fff}

.top{height:524px;background:url(../images/top.jpg) no-repeat;background-position:center}
.img1{height:830px;background:url(../images/img1.jpg) no-repeat;background-position:center}
.img2{height:698px;background:url(../images/img2.jpg) no-repeat;background-position:center}

.block{width:960px;margin:0 auto;position:relative}


.a1{width:165px;height:275px;position:absolute;top:120px;left:13px;display:block}
.a2{width:165px;height:275px;position:absolute;top:120px;left:267px;display:block}
.a3{width:165px;height:275px;position:absolute;top:120px;left:524px;display:block}
.a4{width:165px;height:275px;position:absolute;top:120px;left:779px;display:block}

.a5{width:165px;height:275px;position:absolute;top:485px;left:13px;display:block}
.a6{width:165px;height:275px;position:absolute;top:485px;left:267px;display:block}
.a7{width:165px;height:275px;position:absolute;top:485px;left:524px;display:block}
.a8{width:165px;height:275px;position:absolute;top:485px;left:779px;display:block}

.a9{width:410px;height:190px;position:absolute;top:110px;left:13px;display:block}
.a10{width:410px;height:190px;position:absolute;top:110px;left:536px;display:block}

.a11{width:170px;height:180px;position:absolute;top:400px;left:13px;display:block}
.a12{width:170px;height:180px;position:absolute;top:400px;left:270px;display:block}
.a13{width:170px;height:180px;position:absolute;top:400px;left:525px;display:block}
.a14{width:170px;height:180px;position:absolute;top:400px;left:780px;display:block}