*{
	padding: 0;
	margin: 0;
}
body{
	min-width: 1000px;
}
.main-div1{
	background:url(../images/img1.jpg) no-repeat center top;
	height: 222px;
}
.main-div2{
	background:url(../images/img2.jpg) no-repeat center top;
	height: 209px;
}
.main-div3{
	background:url(../images/img3.jpg) no-repeat center top;
	height: 330px;
}
.main-div4{
	background:url(../images/img4.jpg) no-repeat center top;
	height: 139px;
}
.div4-btn{
	width: 1000px;
	margin: 0 auto;
	height: 139px;
}
.bmbtn{
	float: right;
}