@charset "utf-8";

body{background:#111111}
.subject_foofer{color:#bdbdbd}
.subject_foofer a{color:#bdbdbd}

.news-img1{height:269px;background:url(../images/img1.jpg) no-repeat;background-position:center}
.news-img2{width:1098px;height:958px;background:url(../images/img2.jpg) no-repeat;margin:0 auto;position:relative}
.news-a1{width:200px;height:190px;display:block;position:absolute;top:412px;left:445px}
.news-a2{width:260px;height:270px;display:block;position:absolute;top:10px;left:410px}
.news-a3{width:360px;height:250px;display:block;position:absolute;top:160px;left:20px}
.news-a4{width:320px;height:250px;display:block;position:absolute;top:440px;left:20px}
.news-a5{width:335px;height:224px;display:block;position:absolute;top:700px;left:160px}
.news-a6{width:172px;height:177px;display:block;position:absolute;top:710px;left:595px}
.news-a9{width:200px;height:250px;display:block;position:absolute;top:440px;left:765px}
.news-a10{width:172px;height:177px;display:block;position:absolute;top:230px;left:725px}

.news-a22{position:absolute;top:10px;left:425px;color:#fff;font-size:24px;font-family:"微软雅黑";text-align:center;text-decoration:none}
.news-a22:hover{color:#FF0;text-decoration:none}
.news-a23{position:absolute;top:150px;left:10px;color:#fff;font-size:24px;font-family:"微软雅黑";text-align:center;text-decoration:none}
.news-a23:hover{color:#FF0;text-decoration:none}
.news-a24{position:absolute;top:430px;left:20px;color:#fff;font-size:24px;font-family:"微软雅黑";text-align:center;text-decoration:none}
.news-a24:hover{color:#FF0;text-decoration:none}
.news-a25{position:absolute;top:850px;left:160px;color:#fff;font-size:24px;font-family:"微软雅黑";text-align:center;text-decoration:none}
.news-a25:hover{color:#FF0;text-decoration:none}
.news-a26{position:absolute;top:850px;left:745px;color:#fff;font-size:24px;font-family:"微软雅黑";text-align:center}
.news-a26 a{color:#fff;text-decoration:none}
.news-a26 a:hover{color:#FF0;text-decoration:none}
.news-a29{position:absolute;top:440px;left:925px;color:#fff;font-size:24px;font-family:"微软雅黑";text-align:center;text-decoration:none}
.news-a29:hover{color:#FF0;text-decoration:none}
.news-a20{position:absolute;top:160px;left:855px;color:#fff;font-size:24px;font-family:"微软雅黑";text-align:center;text-decoration:none}
.news-a20 a{color:#fff;text-decoration:none}
.news-a20 a:hover{color:#FF0;text-decoration:none}
