.div-wt {
	position: fixed;
	height: 50px;
	width: 50px;
	background: #01ba2e;
	border-radius: 50px;
	bottom: 30px;
	right: 20px;
	text-align: center;
	line-height: 50px;
	box-shadow: 0px 0px 5px #888888;
}
.div-wt .aui-icon-writefill {
	font-size: 24px;
	color: #fff
}
.essay {
	border-bottom: 1px solid #ccc;
	padding: 24px 8px 15px;
}
.essay-info-list {
	color: #959595;
	line-height: 18px;
	margin-top: 10px;
	padding-right: 5px
}
.essay-title {
	font-size: 15px;
	text-align: center;
}
.essay-time {
	font-size: 10px;
}
.essay-time span:first-child {
	padding-right: 10px;
}
.essay-time span:last-child {
	padding-left: 10px;
}
.essay-fsize {
	float: right;
	margin-right: 20px;
}
.essay-fsize t {
	padding: 0 5px;
	display: inline-block;
}
.essay-fsize .small-size {
	float: left;
}
.essay-fsize .big-size {
	font-size: 18px;
	float: right;
}
.click-number {
	float: right;
	position: relative;
}
.click-number .see-img {
	display: block;
	width: 15px;
	height: 18px;
	position: absolute;
	left: -18px;
	background: url(../../image/imageslist.png) -130px -154px;
	background-size: 320px;
}
.essay-click {
	float: right;
}
.interfix {

	line-height: 31px;
	border-bottom: 1px solid #cccccc;
	padding-left: 8px;
	color: #999;
}
.interfix h3 {
	font-size: 15px;
	float: left;
}
.sort {
	float: right;
	font-size: 11px;
	color: #959595;
	margin-right: 8px;
	position: relative;
}
.sort-img {
	position: absolute;
	width: 15px;
	height: 15px;
	display: block;
	background: url(../../image/imageslist.png) -115px -154px;
	background-size: 320px;
	left: -17px;
	top: 5px;
}
.info-content {
	padding: 8px 8px;
	font-size: 16px;
	background-color: #f2f2f2;
	line-height: 30px;
}
.info-content p {
	text-indent: 2em
}
.handle {
	padding: 10px 8px;
	border-bottom: 1px solid #cccccc;
	background-color: #f2f2f2
}
.share {
	width: 27px;
	height: 27px;
	background-image: url(../../image/imageslist.png);
	background-size: 320px;
	float: left;
	margin-right: 5px;
}
.weixin {
	background-position: -115px 1px
}
.weikon {
	background-position: -115px -25px
}
.xinlang {
	background-position: -115px -51px
}
.qq {
	background-position: -115px -77px
}
.house {
	float: right;
	height: 27px;
	position: relative;
}
.house-img {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(../../image/imageslist.png);
	background-size: 320px;
	background-position: -120px -105px;
	left: -22px;
	color: #404040
}
.assess{
	margin-left:8px;
	margin-right:8px;
	color:#666;
	margin-top:20px;
}
.assess-name {
	font-size: 14px;
	color: #00a2ff;
	line-height:35px;
	margin-left:10px;
	float: left;
	display:block;
}
.assess-tip {
	float: right;
	font-size: 12px;
	color: #ff0000
}
.assess-li {
	padding: 8px 8px;
	border-bottom: 1px dotted #e1e1e1
}
.assess-li li{
	
}
.assess-mos {
	font-size: 14px;
	color: #666;
}

.assess-mof{
	padding-top:10px: 
}
.assess-time {
	font-size: 10px;
	color: #959595;
}
.assess-answer {
	float: right;
	color: #959595;
	position: relative;
	font-size: 14px;
}
.assess-answer i {
	position: absolute;
	width: 20px;
	height: 15px;
	background-image: url(../../image/imageslist.png);
	background-size: 320px;
	background-position: -131px -157px;
	left: -17px;
	top: 6px;
	color: #404040
}
.answer-list {
	padding: 4px 8px;
	background-size: #f2f2f2;
	position: relative;
}
.answer-list li:first-child {
	border-top: 1px solid #e1e1e1;
	margin-top: 10px;
}
.answer-list li {
	margin-right:8px;
	margin-left:8px;
	padding: 0px 8px;
	border-color: #e1e1e1;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	background-color: #f6f6f6;
}
.hf-more {
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #999;
}
.tape-ask {
	padding: 0 10px;
	color: #959595;
	float: left;
	display:block;
	line-height:35px;
}
.sanjiao {
	height: 17px;
	width: 25px;
	background-image: url(../../image/imageslist.png);
	background-size: 320px;
	background-position: -114px -174px;
	position: absolute;
	top: 0px;
}

.aui-ask-header {
	padding: 15px;
	width: 100%;
	background: #eee;
	overflow: hidden;
	line-height: 32px;
}

.ask-avatar {
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.ask-nickname {
	float: left;
	font-size: 14px;
	margin-left: 10px;
}
.ask-time {
	font-size: 12px;
	color: #666;
}
.aui-content {
	padding: 15px;
	background: #ffffff;
	margin-bottom: 0;
}
.ask-title {
	font-size: 18px;
	margin-bottom: 5px;
}
.ask-body {
	width: 100%;
	display: table;
	font-size: 16px;
	color: #333;
	line-height: 30px;
}
.ask-body img{
	width:100%
}
.ask-status {
	width: 100%;
	display: table;
	color: #999;
	line-height: 20px;
	margin: 10px 0;
}
.ask-price {
	color: #ff9900;
	font-size: 12px;
	margin-right: 10px;
}
.ask-price strong {
	font-size: 14px;
	padding: 0 2px;
	font-weight: 400;
}
.aui-nav {
	border-top: 0px solid #eee;
}
.ask-input {
	height: 32px;
	line-height: 32px;
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
	color: #999;
	padding-left: 5px;
}
.ask-text {
	height: 120px;
	line-height: 30px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
	color: #666;
	overflow: hidden;
}
.ask-text textarea {
	height: 100%;
	padding: 5px;
	margin: 0;
	border: none;
}
.mark {
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1;
}
.ask-reply-btn {
	padding: 8px 0;
}
#ask-reply-box {
	padding: 10px;
}
#aui-footer {
	background: rgba(255,255,255,0.9);
}
.czfoot {
	border-top: solid 1px #EBEBEB;
	width: 100%;
	background-color: #F6F6F6;
	line-height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.czfoot li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	border-right: 1px solid #e7e7e7;
	font-size: 14px;
}
.czfoot li:last-child {
	border-right: none;
}
#aui-footer.show {
	-webkit-animation: showIn .5s ease both;
	animation: showIn .5s ease both;
}
@-webkit-keyframes showIn {
form {
	height: 55px;
	background: rgba(255,255,255,0.5);
}
to {
	height: 200px;
	background: rgba(255,255,255,1);
}
}
@-webkit-keyframes
hideIn {from {
	opacity: 1;
	top: 8px;
}
to {
	opacity: 0;
	top: -20px;
}
}