<div class="main">
  <div class="footer">
    	<div class="left"><a href="about.html">关于我们</a> |   <a href="jobs.html">就业机会</a> |   <a href="contact.html">联系我们</a> | <a href="yssm.html">隐私声明</a> | <a href="http://e.weibo.com/researchcenter?type=0" target="_blank">ASTO官方微博</a> | <a href="http://www.asto.com.cn" target="_blank">ASTO官方网站</a><br />
      杭州阿思拓信息科技有限公司 &copy; ZZ91.com</div>
      <div class="right"><a href="http://www.zz91.com" target="_blank"><img src="images/logo.gif" width="115" height="45" alt="ZZ91再生网" /></a></div>
    </div>
</div>
<script>
(function(d, t) {
    var r = d.createElement(t), s = d.getElementsByTagName(t)[0];
    r.async = 1;
    r.src = 'http://www.zz91.com/app/log.htm?' + Math.ceil(new Date/3600000)
    s.parentNode.insertBefore(r, s);
})(document, 'script');
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
