body{
	background-color: #fff
}
*html{
background-image:url(about:blank);
background-attachment:fixed;
}
html{  
_text-overflow:ellipsis;  
}
.right-nav{
	position: fixed;
	right: 10px;
	z-index: 2;
	top: 485px;
	position:absolute;
	width: 160px;
	overflow: hidden;
}
.right-nav span{
	display: inline-block;
	height: 60px;
	width: 160px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	background-color: #f9a02d;
	margin-bottom: 2px;
	cursor: pointer;
}
.right-nav .gotop{
	padding-right: 18px;
	background:url(../images/goutop.jpg) no-repeat 105px center #f9a02d;
	display: none;
}
.top{
	background:url(../images/top_bg.jpg);
}
.top-img{
	height: 444px;
	background:url(../images/topimg.jpg) no-repeat center top;
	/*max-width: 1425px;
	margin:0 auto;*/
}
.content{
	width: 1000px;
	margin: 0 auto
}
.jiajie{
	
	margin-top:35px;
	font-size: 16px;
	line-height: 26px;
}
.jiajie span{
	font-size: 48px;
	color: #005eff;
	font-family: "宋体";
	margin-top: 10px;
	display: inline-block;
	_height: 20px;
	vertical-align: top;
	_margin-top: -5px;
}
.fx-mudi{
	margin-top: 70px;
}
.fx-title{
	text-align: center;
	color: #ff7200;
	font-size: 36px;
	line-height: 36px;
	height: 36px;
	padding: 10px 0 13px;
	background:url(../images/xianbg.jpg) repeat-x bottom;
	position: relative;
}
.fx-title span{
	display: inline-block;
	height: 3px;
	line-height: 3px;
	background-color: #ff7200;
	position: absolute;
	bottom: 0;
	_bottom: -1px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
}
.fx-title-small{
	background-color: #90baed;
	display: inline-block;
	color: #fff;
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	padding: 0 18px;
	background:url(../images/smbg.jpg);
	margin-top: 60px;
}
.fx-xq{
	background-color: #edf5ff;
	padding: 25px 20px;
}
.fx-xq p{
	line-height: 24px;
	font-size: 14px;
}
.fx-img{
	text-align: center;
	margin: 40px 0 10px;
}
.fx-img-title{
	text-align: center;
	line-height: 20px;
	color: #000;
	margin-bottom: 10px;
}
.fx-baid{
	text-align: center;
	color: #ff7200
}
.xz-qusi{
	margin-top: 70px
}
.xz-sm{
	margin-top: 55px
}
.xz-ul{
	margin-top: 35px;
}
.xz-ul li{
	width: 20%;
	float: left;
	height: 538px;
	background-color: #d7e9ff;
}
.xz-ul .scolor{
	background-color: #bcdaff
}
.xz-li-img{
	padding: 15px 0;
	text-align: center;
}
.xz-li-num{
	text-align: center;
}
.xz-li-num span{
	border-bottom: 2px solid #ff9805;
	font-size: 36px;
	line-height: 38px;
	color: #ff9805
}
.xz-li-xq{
	line-height: 24px;
	padding: 18px 8px 0;
}
.xz-wen{
	margin-top: 60px;
}
.xq-wen{
	padding: 25px 20px;
	background-color: #deedff;
	text-indent: 2em;
	line-height: 24px;
	clear:both;
	zoom:1;
}
.hs-liyong{
	margin-top: 70px;
}
.fx-xq dt{
	font-size: 16px;
	line-height: 24px;
	position: relative;
	padding-left: 10px;
	height: 24px;
}
.fx-xq img{
	display: block;
	width: 4px;
	height: 4px;
	background-color: #000;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	left: 0;
}
.fx-xq dd{
	line-height: 24px;
	padding-left: 10px;
}
.huis-lc-img{
	margin-top: 55px;
}
.hs-img-title{
	text-align: center;
	margin-top: 10px;
}
.xq-wen dt{
	font-size: 16px;
	padding-left: 10px;
	position: relative;
	line-height: 24px;
	height: 24px;
	text-indent: 0
}
.xq-wen dt img{
	position: absolute;
	margin-top: -2px;
	top: 50%;
	left: 0;
}
.xg-zhengc{
	margin-top: 70px;
}
.zc-table{
	text-align: center;
	margin-top: 10px;
}
.zc-table tr{
	background-color: #eaf7ff
}
.zc-table td{
	padding: 10px 8px;
	border: 1px solid #77c7ff;
	line-height: 24px;
}
.zc-table .tcolor{
	background-color: #d0ecff
}
.li-zc{
	width: 600px;
}
.zc-list{
	width: 380px;
}
.li-zc-xq{
	margin-top: 20px;
	height: 355px;
	background-color: #edf5ff
}
.li-zc-xq p{
	text-indent: 2em;
	line-height: 24px;
	padding: 0 10px;
}
.more-gd{
	text-align: center;
	margin-top: 60px;
}
.more-gd a{
	border:1px solid #77c7ff;
	color: #0098ff;
	background: #f2f2f2;
	padding: 3px 15px;
}
.zc-list-ul{
	height: 340px;
	background-color: #deedff;
	padding-top: 15px
}
.zc-list-ul li{
	padding: 18px 5px;
	margin: 0 20px;
	border-bottom: 1px dashed #9aa3ad
}
.zc-list-ul .nobot{
	border-bottom: 0
}
.zc-list-ul li a{
	color: #000
}
.foot{
	height: 294px;
	background:url(../images/foot.jpg);
	margin-top: 80px;
}
.foot-jj{
	width: 980px;
	margin:0 auto;
	padding:50px 10px;
	font-size: 18px;
	color: #fff;
	line-height: 30px;
	position: relative;
}
.foot-top{
	position: absolute;
	left: 0;
	top: -20px;
}