*{
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #000;
	font: 14px/16px "Microsoft YaHei", "微软雅黑","Oxygen微软雅黑", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}
.clear:after{
	display:block;clear:
	both;content:"";
	visibility:hidden;
	height:0
}
li{
	list-style: none;
}
img{
	vertical-align: middle;
}
a{
	text-decoration: none;
	color: #666666;
}
a:hover{
	text-decoration: underline;
}
.clear{zoom:1} 
.fl{float: left;}
.fr{float: right;}