<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>环保微交流专题</title>
</head>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://img0.huanbao.com/huanbao/css/hb.base.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<link rel="stylesheet" type="text/css" href="css/weiContact.css"/>

<body>
{%include 'html/comm/top.html'%}
<div class="weiContact">
	<div class="top">
    	<a href="#img1" class="item1"></a>
        <a href="#img2" class="item2"></a>
        <a href="#img3" class="item3"></a>
        <a href="#img4" class="item4"></a>
        <a href="http://www.huanbao.com/mblog/index.htm" class="ok"></a>
    </div>
    <!--end top-->
    <img src="images/img0.jpg" />
    <a name="img4"><img src="images/img1.jpg" /></a>
    <a name="img3"><img src="images/img2.jpg" /></a>
    <a name="img2"><img src="images/img3.jpg" /></a>
    <a name="img1"><img src="images/img4.jpg" /></a>

</div>
<!--end weiContent-->
{% include 'html/comm/buttom.html' %}
</body>
</html>
