@charset "utf-8";
/* CSS Document */
.gwr_mk{ width:958px; margin:0 auto; background-color:#090909;}
.panel_marbg{background-color:#CFCECE; margin:13px 10px 0;}
.panel_marbg img{ margin:10px;}
.panel_marbg p{ margin:20px;}
.gwr_bl{ width:630px; margin:10px;_margin:10px 5px;}
.panel-body dl{ margin:17px 0 0 10px;_margin-left:5px; }
dl dd{ text-align:center; width:128px; font:12px/30px '宋体';}
.p1{ width:132px; text-indent:2em; margin:17px 36px 0 14px;}
.dl2 dd{ width:102px;}
.p2{ width:180px; margin:16px 6px 0 11px;}
.panel-body ul li{ font:12px/24px '宋体';}
.panel-body ul{ margin:30px 0 0 28px;}
.panel2 h3{ background:url(../images/saf_07.jpg) repeat-x;}
.panel2-body{ background-color:#fff; padding:11px 14px 22px; font:12px/20px '宋体';}
.ml2px p{ margin-left:2px;}
.ml2px img{ margin-left:4px;}
.gwr_ft{ background-color:#090909; color:#fff; margin-top:3px; padding-top:5px;}
.gwr_ft a{ color:#fff;}
.emc{ color:#613700; font-weight:bold;}
/***public***/
/*body*/
body a:hover{color:#24A512;}
body button{ cursor:pointer;}
.fontw{ font-weight:bold;}
.left{ float:left;}
.right{ float:right;}
.mt10px{ margin-top:10px;}
.ti2em{ text-indent:2em;}

/* mainblock */
.mk-sidebar{ width:246px; float:left;}
.mk-body{ width:704px; float:right;}
.panel{  position:relative;}
.panel-body{ font:12px/20px '宋体';_height:1%;background-color:#CFCECE;}
.panel-body-p{ text-indent:2em; float:left; font:14px/24px '宋体'; color:#090909;}

.panel h3{ font:bold 16px/29px '宋体'; background-color:#999797; color:#090909;}
.panel h3 span{ position:absolute;font:12px '宋体'; color:#fff;}
.panel h3 span a{ color:#fff;}
.panel h3 span a:hover{color:#24A512;}
.panel h3 td{text-align:center; background-color:#999797;}

/***public end***/