*{margin:0;padding:0}
body{font-family:'微软雅黑';}
ul,li{list-style:none}
a{text-decoration:none}
body{}
a:hover{text-decoration:underline}

/**index**/
.top img{width:100%}
.item{}
.nav_table{width:100%;border-collapse:collapse;margin-bottom:50px}
.nav_table td{width:50%;padding-top:50px}
.nav_table_txt{font-family:"微软雅黑";text-align:center;font-size:16px;color:#303030;margin-top:15px}

/**aboutUs**/
.m-li{color:#303030}
.m-li_{color:#409be4;border-bottom:2px solid #409be4}


.nav_{background:#fff}
.m-ul li{width:50%;height:40px;line-height:40px;text-align:center;background:#fff;margin-bottom:15px;float:left}
.item_sec{line-height:26px;font-size:14px;color:#303030;text-align:left;padding:20px}

.nav{display:none;background:#fff;padding:20px}
.nav_item{width:100%}
.nav_item ul li{width:40%;margin-bottom:20px;margin-left:5%;margin-right:5%;float:left}
.nav_item ul li img{width:100%}


/**contact**/
.contact{background:#fff;padding:20px;color:#303030;font-size:14px;margin:15px 0}
.map{width:100%;padding:2px;border:1px solid #e4e4e4}
.map img{width:100%}

.addr{padding:15px 0}
.addr-dt{width:100%}
.addr-dt dt dl{line-height:30px}

/**list**/
.list{height:50px;line-height:50px;background:#f0f0f0;font-family:"微软雅黑";font-size:17px;text-align:center;color:#409be4}
.box{margin:10px}
.tab{margin-bottom:20px; background-color:#FFF}
.tab-name{width:50%;height:60px;line-height:60px;float:left;display:inline;text-align:center;color:#a0a0a0;font-size:16px;background:#fff}

.td_lst{padding:10px 20px;border-bottom:1px solid #e0e0e0; text-align:left}
.tab-lst{height:30px;line-height:30px}
.tab-lst a{font-size:16px;color:#2294e6}
.lst-date{color:#909090;font-size:13px;display:inline;float:left}
.lst-date_{color:#909090;font-size:13px;display:inline;float:right}
.lst-price{color:#909090;font-size:14px;display:inline;float:right}

.lst-phone{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#2294e6;display:inline;float:left}

.page{height:40px;padding:40px 20px}
.page a{color:#fff}
.prev{width:100px;height:30px;line-height:30px;text-align:center;background:url(../../images/ldb_weixin/prev.jpg) no-repeat;float:left}
.next{width:100px;height:30px;line-height:30px;text-align:center;background:url(../../images/ldb_weixin/next.jpg) no-repeat;float:right}


.record{font-family:"微软雅黑";margin:10px;overflow:hidden}
.record a{
	display:block;
	padding:8px;
	background-color: #ebebeb;
	float: left;
	margin-right:5px;
}
.record .on{
	color: #FFF;
	background-color: #06C;
}
.re_m{width:43%;height:40px}
.re_h{width:43%;height:40px}


#box_2{display:none}


/**balance**/
.tle{height:50px;line-height:50px;font-size:18px;text-align:center;color:#409be4;background:#fff}
.msg{height:100px;font-size:14px;background:#409be4}

.msg-box{
	padding-top: 10px;
	padding-right: 22px;
	padding-bottom: 5px;
	padding-left: 22px;
}
.box-mo{margin-right:15px;float:left}
.box-txt{font-size:17px;color:#fff;float:left}
.box-link{float:right}

.msg-money{font-size:32px;color:#fff;text-align:center}

.pay{height:100px;font-size:14px;background:#e0f0fa}
.pay-txt{font-size:17px;color:#6e6e6e;padding:10px 22px 5px 22px}
.pay-mo{font-size:30px;text-align:center;color:#409be4}

.reg-pay{line-height:32px;padding-left:22px;color:#409be4;font-size:18px}
.reg-tag{height:150px;padding:10px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0}
.tag-click{width:40%;line-height:40px;background:#409be4;text-align:center;color:#fff;margin-left:1.5%;margin-right:5%;font-size:20px;margin-top:10px;margin-bottom:10px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;cursor:pointer;float:left}
.tag-bg{width:46%;line-height:40px;background:#e0e0e0;text-align:center;color:#9b9b9b;margin-left:2%;margin-right:2%;font-size:20px;margin-bottom:10px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;cursor:pointer;float:left}
.tag-bg_{width:40%;line-height:40px;text-align:center;color:#9b9b9b;margin-left:1.5%;margin-right:5%;font-size:14px;margin-top:10px;margin-bottom:10px;float:left}
.tag-bg_input input{width:39%;line-height:36px;margin-left:1.5%;margin-right:5%;font-size:16px;margin-top:10px;margin-bottom:10px;border:1px solid #9b9b9b;float:left}


.reg-box{padding:25px}
.box-logo{float:left}
.box-btn{width:40%;height:40px;line-height:40px;background:#409be4;font-size:20px;text-align:center;color:#fff;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;cursor:pointer;float:right}



#suc_div{
	-moz-border-radius: 6px;
	background: #e0f0fa;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
	width: 60%;
	padding:15px;
	position:relative;
	display: none;
}
.suc_qx{width:100%;cursor:pointer}
.suc_qx img{float:right}
.suc_txt{text-align:center;color:#009944;font-size:20px;margin-top:15px}

#fail_div{
	-moz-border-radius: 6px;
	background: #e0f0fa;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
	width: 60%;
	padding:15px;
	position:relative;
	display: none;
}

.fail_txt{text-align:center;color:#f60000;font-size:20px;margin-top:15px}
.fail_tel{line-height:20px;font-size:14px;text-align:center}


/**search**/
.dh{height:50px;line-height:50px;background:#409be4}
.dh-txt{font-family:"微软雅黑";font-size:16px;color:#fff;padding-left:1%;float:left}


.search{width:59%;margin:10px 10% 0 0;float:right}
.search_input{width:69%;background:#fff;border-top-left-radius:2px;border-bottom-left-radius:2px;padding-left:1%;float:left}
.search_input input{width:100%;height:34px;line-height:34px;border:0}

.search_btn{width:29%;background:#fff;height:34px;line-height:34px;font-size:14px;text-align:center;margin-left:1%;border-top-right-radius:2px;border-bottom-right-radius:2px;cursor:pointer;float:left}

.item_tab{width:100%; text-align:left}
.item_tab tr td{}
.tab_box{padding:0 8px; color:#666;font-size:15px;background:#fff;border-bottom:1px solid #c0c0c0;padding-bottom:15px;padding-left:1%;line-height:30px;padding-right:5%}
.box-company{padding-top:15px}
.com-name{color:#0066cc;float:left; font-weight:bold; height:30px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.com-logo{padding-left:10px;float:left}
.box-addr{color:#8a8a8a;clear:both; text-align:left}

.tel-logo{padding-top:5px;padding-right:10px;float:left}
.tel-phone{font-size:13px;color:#2294e6;float:left; font-weight:bold}

.page_{width:100%;height:35px;line-height:35px;text-align:center;border-top:1px solid #c0c0c0;background:#fff;border-bottom:1px solid #c0c0c0;margin:30px 0; background-color:#e0f0fa}
.page_chk{width:49%;text-align:center;border-right:1px solid #c0c0c0;float:left}
.page_more{width:50%;text-align:center;float:right}
.page_chk a{color:#2294e6;font-size:14px}
.page_more a{color:#2294e6;font-size:14px}