<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产业带_ZZ91再生网</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="css/sub_industrialBelt.css" />
<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="js/sub_iBelt.js"></script>
</head>
<body>
	<div style="width:100%; background-color:#F9F7EC">
		<div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
	</div>
	<div class="top-banner"><a href="" target="_blank"><div class="banner"></div></a></div>
    <!--end top-banner-->
    <div id="body_wrap">
    	<div class="belt">
        	<div class="wrap primary_wrap clearfix">
            	<div class="primary_nav">
                	<div class="primary_title">优势产业、货源地</div>
                    <div class="primary_block">
                    	<dl>
                        	<dt><strong>废塑料</strong></dt>
                            <dd>
								<a target="_blank" href="/">废塑料</a>
								<a target="_blank" href="/">再生颗粒</a>
								<a target="_blank" href="/">塑料助剂</a>
								<a target="_blank" href="/"><span class="addr">浙江宁波</span></a>
								<a target="_blank" href="/"><span class="addr">浙江台州</span></a>
								<a target="_blank" href="/"><span class="addr">浙江温州</span></a>
							</dd>
                        </dl>
                        <dl>
                        	<dt><strong>废金属</strong></dt>
                            <dd>
								<a target="_blank" href="/">废钢铁</a>
								<a target="_blank" href="/">有色金属</a>
								<a target="_blank" href="/">希贵金属</a>
								<a target="_blank" href="/"><span class="addr">浙江台州</span></a>
								<a target="_blank" href="/"><span class="addr">浙江宁波</span></a>
								<a target="_blank" href="/"><span class="addr">浙江金华</span></a>
							</dd>
                        </dl>
                        <dl style="border: 0;">
                        	<dt><strong>二手设备</strong></dt>
                            <dd>
								<a target="_blank" href="/">机床设备</a>
								<a target="_blank" href="/">纺织设备</a>
								<a target="_blank" href="/">交通设备</a>
								<a target="_blank" href="/"><span class="addr">浙江杭州</span></a>
								<a target="_blank" href="/"><span class="addr">浙江台州</span></a>
							</dd>
                        </dl>
                    </div>
                    <!--end primary_block-->
                </div>
                <!--end primary_nav-->
                <div class="primary_main">
                	<div class="primary_main_banner">
                    	<a href="/" target="_blank"><img src="images/pic_wall.jpg" width="513" height="326" /></a>
                    </div>
                    <!--end primary_main_banner-->
                    <div class="primary_main_info">
                    	<div class="primary_title bold">浙江产业带概况</div>
                        <div class="primary_box">
                        	<dl>
                            	<dt>浙江产业带以宁波、台州的优势产业带为主，着力打造废塑料、废金属等特色产业。拥有全国专业市场：余姚中国塑料城、台州国际塑料城、轻工模具城。</dt>
                                <dd>已创建市场：76家</dd>
                                <dd>已入驻商家：10676家</dd>
                                <dd>已发布商机：67000条</dd>
                            </dl>
                            <a href="http://y.zz91.com" target="_blank" class="primary_btn">入驻产业带</a>
                        </div>
                        <!--end primary_box-->
                    </div>
                    <!--end primary_main_banner-->
                </div>
                <!--end primary_main-->
            </div>
            <!--end primary_wrap-->
            <div class="wrap ib_category ib_section">
            	<div class="floor pb20" id="1F">
            		<div class="ib_topbar">
                    	<div class="ib_topbar_02">
                    		<ul class="ib_title tag01">
                        		<li style="text-align:left"><span>入驻商家推荐</span></li>
                            	<li class="border-right"><a href="javascript:;" class="on" name="1F_p">废塑料</a></li>
                            	<li class="border-right"><a href="javascript:;" name="1F_m">废金属</a></li>
                            	<li><a href="javascript:;" name="1F_e">二手设备 </a></li>
                        	</ul>
                    	</div>
                	</div>
                	<!--end ib_topbar-->
                    <div id="1F_p">
                		<div class="ib_list clearfix">
                			<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                           			<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                           			<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                           			<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                		</div>
                		<!--end ib_list-->
                		<div class="ib_list clearfix">
                			<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                           			<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                           			<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                           			<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                		</div>
                		<!--end ib_list-->
                	</div>
                	<!--end 1F_p-->
                    <div id="1F_m" class="none">
                		<div class="ib_list clearfix">
                			<div class="ib_box">
                    			<div class="ib_item">
                       				<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                       			</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                		</div>
                		<!--end ib_list-->
                		<div class="ib_list clearfix">
                			<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">杭州市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        		</div>
                    		</div>
                		</div>
                		<!--end ib_list-->
                    </div>
                    <!--end 1F_m-->
                    <div id="1F_e" class="none">
                		<div class="ib_list clearfix">
                			<div class="ib_box">
                    			<div class="ib_item">
                       				<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                       			</div>
                       			<div class="ib_text">
                       				<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                           			<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                       			</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                        		</div>
                    		</div>
                		</div>
                		<!--end ib_list-->
                		<div class="ib_list clearfix">
                			<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                        		</div>
                    		</div>
                    		<div class="ib_box">
                    			<div class="ib_item">
                        			<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        		</div>
                        		<div class="ib_text">
                        			<p><a href="/" target="_blank">宁波市深拓塑化有限公司</a></p>
                            		<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江宁波废塑料市场</a></p>
                        		</div>
                    		</div>
                		</div>
                		<!--end ib_list-->
                    </div>
                    <!--end 1F_e-->
                </div>
                <!--end floor-->
            	<div class="floor pb20" id="2F">
            		<div class="ib_topbar">
                    	<div class="ib_topbar_02">
                    		<ul class="ib_title  tag02">
                        		<li style="text-align:left"><span>热门市场</span></li>
                            	<li class="border-right"><a href="javascript:;" class="on" name="2F_p">废塑料</a></li>
                            	<li class="border-right"><a href="javascript:;" name="2F_m">废金属</a></li>
                            	<li><a href="javascript:;" name="2F_e">二手设备 </a></li>
                        	</ul>
                    	</div>
                	</div>
                	<!--end ib_topbar-->
                    <div id="2F_p">
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">123浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                    </div>
                    <!--end 2F_p-->
                    <div id="2F_m" class="none">
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">456浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                    </div>
                    <!--end 2F_m-->
                    <div id="2F_e" class="none">
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">789浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">浙江杭州废塑料市场</a></p>
                            	<p>已入驻商家：10670家</p>
                                <p>已发布商机：10766条</p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                    </div>
                    <!--end 2F_e-->
                </div>
                <!--end floor-->
            	<div class="floor"  id="3F">
            		<div class="ib_topbar">
                    	<div class="ib_topbar_02">
                    		<ul class="ib_title  tag03">
                        		<li style="text-align:left"><span>市场货源推荐</span></li>
                            	<li class="border-right"><a href="javascript:;" class="on" name="3F_p">废塑料</a></li>
                            	<li class="border-right"><a href="javascript:;" name="3F_m">废金属</a></li>
                            	<li><a href="javascript:;" name="3F_e">二手设备 </a></li>
                        	</ul>
                    	</div>
                	</div>
                	<!--end ib_topbar-->
                    <div id="3F_p">
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">abc余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                    </div>
                    <!--end 3F_p-->
                    <div id="3F_m" class="none">
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">3048余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;24545浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                    </div>
                    <!--end 3F_m-->
                    <div id="3F_e" class="none">
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">abc余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;2903495浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                	<div class="ib_list clearfix">
                		<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                    	<div class="ib_box">
                    		<div class="ib_item">
                        		<a href="/" target="_blank"><img src="http://img3.zz91.com/300x300/products/2015/4/20/1429496641593.jpg" width="218" height="242" /></a>
                        	</div>
                        	<div class="ib_text">
                        		<p><a href="/" target="_blank">余姚市深拓塑化有限公司</a></p>
                            	<p><a href="javascript:;"><img src="images/icon_addr.jpg" />&nbsp;浙江杭州废塑料市场</a></p>
                        	</div>
                    	</div>
                	</div>
                	<!--end ib_list-->
                    </div>
                    <!--end 3F_e-->
                    <div class="page_a02">
                	<div class="page_box">
                    	<a href="/">首页</a>
                        <a href="/">上一页</a>
                        <a href="/">1</a>
						<a href="/">2</a>
                        <span class="on">3</span>
						<a href="/">4</a>
						<a href="/">5</a>
						<a href="/">下一页</a>
						<a href="/">尾页</a>
						<span class="total">共 167 页</span>
						<span class="to">转到第 <input type="text" value="1" class="n jump_page" /> 页</span>
						<span class="go">确定</span>
					</div>
                </div>
                </div>
                <!--end floor-->
            </div>
            <!--end ib_category-->
        </div>
        <!--end belt-->
    </div>
    <!--end body_wrap-->
    <div class="back2top_wrap">
		<a href="javascript:;" class="ext_module" id="f1">入驻商家推荐</a>
    	<a href="javascript:;" class="ext_module" id="f2">热门市场</a>
    	<a href="javascript:;" class="ext_module" id="f3">市场货源推荐</a>
    	<a href="javascript:;" class="ext_module back" id="back">回到顶部&nbsp;<img src="images/icon_back.jpg" /></a>
	</div>
	<div style="width:100%;margin-top:40px;line-height:25px;">
		<div style="width:950px;margin:0 auto;text-align:center;"> {% include 'html/comm/buttom.html' %} </div>
    </div>
</body>
</html>
