<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport"  content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
	<meta name="format-detection"  content="telephone=no">
    <title></title>
    <link href="css/industrial.m.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://img0.zz91.com/zz91/mobile/js/jquery.js"></script>
</head>
<body>
	<div id="deal">
    	<div class="list">
        	<div class="album fix">
            	<div class="bum01">
                	<div class="bum01-box" id="slider1">
                    	<ul class="fix">
                        	<li>
                            	<a href="">
            						<div class="roll">
              							<div class="pr"> <img src="images/Img.jpg" width="100%" height="194"> <span>保定废塑料集散中心</span> </div>
            						</div>
            					</a>
                            </li>
                            <li>
                            	<a href="">
            						<div class="roll">
              							<div class="pr"> <img src="images/Img.jpg" width="100%" height="194"> <span>攀枝花废金属集散中心</span> </div>
            						</div>
            					</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul id="pagenavi1" class="page">
      <li> <a href="javascript:void(0)" class="active"></a> </li>
      <li> <a href="javascript:void(0)"></a> </li>
    </ul>
            </div>
            <dl class="list" id="deal-terms">
            	<dd style="border: 0;">
                	<dl class="first">
                    	<dt>市场简介</dt>
                        <dd class="dd-padding">
                        	<p class="lh">顺坪县高于铺塑料交易市场（北方最大的废旧塑料交易市场）,定州市周村大吴村废料市场（山东第二大废料市场）,雄县龙湾乡（300家）,望都</p>
                        </dd>
                    </dl>
                </dd>
                <dd>
                	<dl>
                		<dt>市场概况</dt>
                    	<dd class="dd-padding">
                    		<ul>
                        		<li>
                            		<p class="lh">所属行业：废塑料&nbsp;<a href="" target="_blank" class="current">[查看其它废塑料市场]</a></p>
                            	</li>
                            	<li>
                            		<p class="lh">所在地区：河北 保定&nbsp;&nbsp;[查看市场地图]</p>
                            	</li>
                            	<li>
                            		<p class="lh">主营范围：废旧塑料</p>
                            	</li>
                            	<li>
                            		<p class="lh">市场商户：<font class="red">1903</font>家</p>
                            	</li>
                            	<li>
                            		<p class="lh">市场供求：<font class="red">1916</font>条</p>
                            	</li>
                                <li>
                                	<div class="btn-wrapper">
                						<a class="btn buy-btn btn-block btn-larger btn-strong" href="" rel="nofollow">我是该市场商户,我要加入</a>
                					</div>
                                </li>
                        	</ul>
                    	</dd>
                    </dl>
                </dd>
            </dl>
            <dl class="list">
            	<div class="title-in">
                	<ul class="taba taban" id="nav">
                    	<li name="n1" class="on">
                        	<a class="react" href="javascript:;">市场供求</a>
                        </li>
                        <li name="n2">
                        	<a class="react" href="javascript:;">市场商户</a>
                        </li>
                    </ul>
                </div>
                <div class="container-in">
                   	<div id="deals">
                    	<dd>
                        	<dl class="list" id="n1">                            	
                                 <dd>
                    				<a href="" target="_blank" class="react">
                        				<div class="dealcard">
                                        	<span class="dealcard-lv"><img src="images/lv2.png" /></span>
                            				<div class="dealcard-img imgbox" data-src="">
                                				<img src="images/s_img.jpg" />
                                			</div>
                                			<div class="dealcard-right">
                                				<div class="dealcard-brand oow">求购露露破碎料,铁盒压块&nbsp;<font class="time">2016/9/18</font></div>
                                    			<div class="title text-block">沧州</div>
                                    			<div class="info">
                                    				<span class="seller">电话拨打:<font class="red">400-745-0150</font></span>
                                        			<span class="trade">接听率:67.95%</span>
                                    			</div>
                                			</div>
                            			</div>
                        			</a>
                   				 </dd>
                                 <dd>
                    				<a href="" target="_blank" class="react">
                        				<div class="dealcard">
                                        	<span class="dealcard-lv"><img src="images/lv2.png" /></span>
                            				<div class="dealcard-img imgbox" data-src="">
                                				<img src="images/s_img.jpg" />
                                			</div>
                                			<div class="dealcard-right">
                                				<div class="dealcard-brand oow">求购露露破碎料,铁盒压块&nbsp;<font class="time">2016/9/18</font></div>
                                    			<div class="title text-block">沧州</div>
                                    			<div class="info">
                                    				<span class="seller">电话拨打:<font class="red">400-745-0150</font></span>
                                        			<span class="trade">接听率:53.85%</span>
                                    			</div>
                                			</div>
                            			</div>
                        			</a>
                   				 </dd>
                            </dl>
                            <dl class="list" id="n2" style="display:none;">                            	
                                 <dd>
                    				<a href="" target="_blank" class="react">
                        				<div class="dealcard">
                                			<div class="dealcard-left">
                                				<div class="dealcard-brand oow">个体经营（孔尚杰）[温州]</div>
                                    			<div class="title text-block">公司长期供应PVC大棚膜破碎料，月供</div>
                                    			<div class="info">
                                    				<span class="phone"><font class="red">400-985-0541</font></span>
                                    			</div>
                                			</div>
                            			</div>
                        			</a>
                   				 </dd>
                                 <dd>
                    				<a href="" target="_blank" class="react">
                        				<div class="dealcard">
                                			<div class="dealcard-left">
                                				<div class="dealcard-brand oow">浙江恒生塑业[杭州]</div>
                                    			<div class="title text-block">公司长期供应PVC大棚膜破碎料，月供</div>
                                    			<div class="info">
                                    				<span class="phone"><font class="red">400-985-0541</font></span>
                                    			</div>
                                			</div>
                            			</div>
                        			</a>
                   				 </dd>
                            </dl>
                        </dd>
                    </div>
                </div>
            </dl>
        </div>
    </div>
<script src="js/industrial.m.js"></script> 
<script src="js/touchslider_min.js"></script> 
<script type="text/javascript">
$('a[name=index]').attr('href', '').attr('class', 'aactive');
for(n=1;n<2;n++){
	var page='pagenavi'+n;
	var mslide='slider'+n;
	var mtitle='emtitle'+n;
	arrdiv = 'arrdiv' + n;
	var as=document.getElementById(page).getElementsByTagName('a');
	var tt=new TouchSlider({id:mslide,'auto':'-1',fx:'ease-out',direction:'left',speed:300,timeout:2000,'before':function(index){
		var as=document.getElementById(this.page).getElementsByTagName('a');
		as[this.p].className='';
		as[index].className='active';
		this.p=index;
	}});
	tt.page = page;
	tt.p = 0;
	for(var i=0;i<as.length;i++){
		(function(){
			var j=i;
			as[j].tt = tt;
			as[j].onclick=function(){
				this.tt.slide(j);
				return false;
			}
		})();
	}
}
</script>
</body>
</html>
