<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport"  content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
	<meta name="format-detection"  content="telephone=no">
    <title></title>
    <link href="css/industrial.m.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="deal">
    	<dl id="deal-details" class="list">
        	<dt>市场类目</dt>
            <dd class="detail-title">
            	<span class="set"></span>
                <h6>废金属</h6>
            </dd>
            <dd>
                <div>
                	<p class="detail-group">
                    	<a href="" target="_blank" class="cell dg-item">废钢铁</a>
                        <a href="" target="_blank" class="cell dg-item">有色金属</a>
                        <a href="" target="_blank" class="cell">稀贵金属</a>
                    </p>
                    <p class="detail-group">
                    	<a href="" target="_blank" class="cell dg-item">混合/复合</a>
                        <a href="" target="_blank" class="cell dg-item">再生金属</a>
                        <a href="" target="_blank" class="cell"></a>
                    </p>
                </div>
            </dd>
            <dd class="detail-title">
            	<span class="bubble"></span>
                <h6>废塑料</h6>
            </dd>
            <dd>
                <div>
                	<p class="detail-group">
                    	<a href="" target="_blank" class="cell dg-item">废塑料</a>
                        <a href="" target="_blank" class="cell dg-item">再生颗粒</a>
                        <a href="" target="_blank" class="cell">塑料助剂</a>
                    </p>
                    <p class="detail-group">
                    	<a href="" target="_blank" class="cell dg-item">塑料加工设备</a>
                        <a href="" target="_blank" class="cell dg-item"></a>
                        <a href="" target="_blank" class="cell"></a>
                    </p>
                </div>
            </dd>
            <dd class="detail-title">
            	<span class="crane"></span>
            	<h6>二手设备</h6>
            </dd>
            <dd>
                <div>
                	<p class="detail-group">
                    	<a href="" target="_blank" class="cell dg-item">二手交通工具</a>
                        <a href="" target="_blank" class="cell dg-item">二手机床设备</a>
                        <a href="" target="_blank" class="cell">二手工程设备</a>
                    </p>
                    <p class="detail-group">
                    	<a href="" target="_blank" class="cell dg-item">二手化工设备</a>
                        <a href="" target="_blank" class="cell dg-item">二手制冷设备</a>
                        <a href="" target="_blank" class="cell">二手纺织设备</a>
                    </p>
                    <p class="detail-group">
                    	<a href="" target="_blank" class="cell dg-item">二手电子设备</a>
                        <a href="" target="_blank" class="cell dg-item">二手电力设备</a>
                        <a href="" target="_blank" class="cell"></a>
                    </p>
                </div>
            </dd>
        </dl>
        <dl class="list">
        	<dd>
            	<dl class="list">
                	<dt>相关产业带</dt>
                    <dd>
                    	<a href="" target="_blank" class="react">
                        	<div class="dealcard">
                            	<div class="dealcard-img imgbox" data-src="">
                                	<img src="images/m_pic.jpg" />
                                </div>
                                <div class="dealcard-right">
                                	<div class="dealcard-brand oow">保定废塑料集散中心</div>
                                    <div class="title text-block">顺平县高于铺塑料交易市场（北方最大的塑料交易市场）,定周市周村大吴村</div>
                                    <div class="info">
                                    	<span class="seller">市场商家（<font class="red">1903</font>）户</span>
                                        <span class="trade">市场供求（<font class="red">1916</font>）条</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </dd>
                    <dd>
                    	<a href="" target="_blank" class="react">
                        	<div class="dealcard">
                            	<div class="dealcard-img imgbox" data-src="">
                                	<img src="images/m_pic.jpg" />
                                </div>
                                <div class="dealcard-right">
                                	<div class="dealcard-brand oow">保定废塑料集散中心</div>
                                    <div class="title text-block">顺平县高于铺塑料交易市场（北方最大的塑料交易市场）,定周市周村大吴村</div>
                                    <div class="info">
                                    	<span class="seller">市场商家（<font class="red">1903</font>）户</span>
                                        <span class="trade">市场供求（<font class="red">1916</font>）条</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </dd>
                    <dd>
                    	<a href="" target="_blank" class="react">
                        	<div class="dealcard">
                            	<div class="dealcard-img imgbox" data-src="">
                                	<img src="images/m_pic.jpg" />
                                </div>
                                <div class="dealcard-right">
                                	<div class="dealcard-brand oow">保定废塑料集散中心</div>
                                    <div class="title text-block">顺平县高于铺塑料交易市场（北方最大的塑料交易市场）,定周市周村大吴村</div>
                                    <div class="info">
                                    	<span class="seller">市场商家（<font class="red">1903</font>）户</span>
                                        <span class="trade">市场供求（<font class="red">1916</font>）条</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </dd>
                    <dd>
                    	<a href="" target="_blank" class="react">
                        	<div class="dealcard">
                            	<div class="dealcard-img imgbox" data-src="">
                                	<img src="images/m_pic.jpg" />
                                </div>
                                <div class="dealcard-right">
                                	<div class="dealcard-brand oow">保定废塑料集散中心</div>
                                    <div class="title text-block">顺平县高于铺塑料交易市场（北方最大的塑料交易市场）,定周市周村大吴村</div>
                                    <div class="info">
                                    	<span class="seller">市场商家（<font class="red">1903</font>）户</span>
                                        <span class="trade">市场供求（<font class="red">1916</font>）条</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </dd>
                    <dd>
                    	<a href="" target="_blank" class="react">
                        	<div class="dealcard">
                            	<div class="dealcard-img imgbox" data-src="">
                                	<img src="images/m_pic.jpg" />
                                </div>
                                <div class="dealcard-right">
                                	<div class="dealcard-brand oow">保定废塑料集散中心</div>
                                    <div class="title text-block">顺平县高于铺塑料交易市场（北方最大的塑料交易市场）,定周市周村大吴村</div>
                                    <div class="info">
                                    	<span class="seller">市场商家（<font class="red">1903</font>）户</span>
                                        <span class="trade">市场供求（<font class="red">1916</font>）条</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </dd>
                </dl>
            </dd>
        </dl>
    </div>
</body>
</html>
