img{
	vertical-align: top;
}
.top-band{
	background: url(../images/band.jpg) no-repeat center top #dc2d06;
}
.band{
	height: 527px;
	width: 1000px;
	margin:0 auto;
	position: relative;
}
.tg_top{
	display: block;
	width: 250px;
	height: 100px;
	position: absolute;
	right: 0px;
	top: 198px;
	cursor: pointer;
}
.center1{
	background: #fffbe4
}
.commerce{
	padding: 40px 0 50px;
	margin:0 auto;
	width: 1000px
}
.commerce-title{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	height: 65px;
	line-height: 65px;
	background: url(../images/sanjiao1.jpg) no-repeat center bottom;
}
.img-page{
	margin-top: 35px;
}
.small_list-ul{
	width: 550px;
	overflow: hidden;
}
.small_list-ul li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
	padding-bottom: 30px;
}
.imgBox{
	position: relative;
}
.imgBox .imgZd{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000;
	top: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity=57);
}
.img-title{
	text-align: center;
	height: 30px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: #9a9a9a;
	line-height:30px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0
}
.now-box .imgBox .imgZd{
	opacity: 0;
	filter:alpha(opacity=0); 
}
.now-box .img-title{
	background: #df3d14;
}
.img-info{
	background: #df3d14;
	height: 70px;
	_height: auto;
	padding: 0px 20px;
	_padding: 7px 20px;
}
.buybtn{
	margin-top: 15px;
	margin-top: 15px;
	cursor: pointer;
}
.info-wen{
	color: #fff;
	line-height: 24px;
	padding-top: 8px;
}
.careful{
	font-family: "Microsoft YaHei","微软雅黑";
	font-size: 14px;
	margin-top: 28px;
	line-height: 25px;
}
.bigimg{
	width: 441px;
}
.bigimg-box{
	height: 421px;
	background: #fff1ee;
	position: relative;
}
.fontwt{
	font-weight: bold;
}
.jzimg{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}
.jzimg img{
	top: -50%;
	left: 50%;
}

/*********core*******/
.core{
	margin:0 auto;
	width: 1000px;
	padding: 40px 0 50px;
}
.commerce-title2{
	background: url(../images/sanjiao2.jpg) no-repeat center bottom;
}
.core-four{
	overflow: hidden;
}
.core-four{
	width: 1120px;
}
.core-four li{
	float: left;
	width: 235px;
	margin-right: 20px;
}
.coreinfo{
	border: 1px solid #e6e6e6;
	height: 235px;
}
.coreinfo h3{
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: "Microsoft YaHei","微软雅黑";
	margin:20px 0 10px;
	line-height: 24px;
}
.coreinfo p{
	padding: 0 19px;
	font-size: 14px;
	color: #666666;
	line-height: 24px;
	font-family: "Microsoft YaHei","微软雅黑";
}
.history{
	width: 1000px;
	margin:0 auto;
	 padding: 40px 0 50px;
	 overflow: hidden;
}
.history-imglist{
	width: 1030px;
	margin-top: 35px;
}
.history-imglist li{
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
}
.notimg{
	width: 90px;
}
.showimg-box{
	margin:0 auto;
	width: 1000px;
	padding: 40px 0 50px;
}
.showimg-list{
	overflow: hidden;
	margin-top: 35px;
}
.showimg-ul{
	width: 1020px;
}
.showimg-ul li{
	float: left;
	margin-right: 14px;
	margin-bottom: 13px;
}

.bottom{
	text-align: center;
	border-top: 2px solid #da2006;
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 24px;
	padding:15px 0 50px; 
}



#facebox .b {
    background: rgba(0, 0, 0, 0) url("http://subject.zz91.com/comm/img/b.png") repeat scroll 0 0;
}
#facebox .tl {
    background: rgba(0, 0, 0, 0) url("http://subject.zz91.com/comm/img/tl.png") repeat scroll 0 0;
}
#facebox .tr {
    background: rgba(0, 0, 0, 0) url("http://subject.zz91.com/comm/img/tr.png") repeat scroll 0 0;
}
#facebox .bl {
    background: rgba(0, 0, 0, 0) url("http://subject.zz91.com/comm/img/bl.png") repeat scroll 0 0;
}
#facebox .br {
    background: rgba(0, 0, 0, 0) url("http://subject.zz91.com/comm/img/br.png") repeat scroll 0 0;
}
#facebox {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 100000;
}
#facebox .popup {
    position: relative;
}
#facebox table {
    border-collapse: collapse;
    margin: auto;
}
#facebox .body {
    background: #fff none repeat scroll 0 0;
    height: 250px;
    padding: 10px;
    width: 320px;
}
#facebox .loading {
    text-align: center;
}
#facebox .image {
    text-align: center;
}
#facebox img {
    border: 0 none;
}
#facebox .footer1 {
    border-top: 1px solid #dddddd;
    margin-top: 10px;
    padding-top: 5px;
    text-align: right;
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
    height: 10px;
    overflow: hidden;
    padding: 0;
    width: 10px;
}
