<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>第七届中国塑料回收和再生大会专题</title>
<link rel="stylesheet" type="text/css" href="http://subject.zz91.com/comm/facebox.css"/>
<link rel="stylesheet" type="text/css" href="http://subject.zz91.com/comm/comm.css"/>
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/front/js/zz91.scroll.js"></script>
<script src="http://subject.zz91.com/comm/jquery-1.2.2.pack.js" type="text/javascript"></script>
<script src="http://subject.zz91.com/comm/facebox.js" type="text/javascript"></script>
<script src="http://subject.zz91.com/comm/checkForm.js" type="text/javascript"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox() 
    })
</script>
<style type="text/css">
a
{
	color:#333;
	text-decoration: none;
	}
a:hover
{
	color:#000;
	text-decoration: underline;
}
.ggdiv {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 8px;
}
.ggdiv ul li {
	height: 90px;
	width: 154px;
	text-align: left;
	list-style-type: none;
	float: left;
	margin-right: 4px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
}
.ggdiv ul {
	margin: 0px;
	padding: 0px;
}
.subject_foofer
{
	color:#000;
}
.subject_foofer a{
	text-decration:none;
}
.subject_foofer a:hover{
	text-decration:none;
	color:#ff0000;
}
.textbox {
	width: 890px;
	margin-right: auto;
	margin-left: auto;
}
.textbox .title1 {
	height: 30px;
	line-height: 30px;
	width: 250px;
	font-size: 14px;
	background-color: #FF6;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #AAAAAA;
	border-right-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	border-left-color: #AAAAAA;
	font-weight: bold;
	padding-left: 10px;
}
.textbox .content {
	list-style-type: none;
	line-height: 25px;
	font-size: 14px;
	margin: 5px;
	padding: 5px;
}
.textbox .content ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.textbox .content li {
	float: left;
	width: 260px;
	margin: 0px;
	padding: 0px;
}
.xczj {
	margin-top: 60px;
	margin-right: 50px;
	margin-left: 50px;
	height: 106px;
	width: 890px;
	overflow: hidden;
}
.xczj ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.xczj ul li {
	margin-right: 20px;
	float: left;
}
</style>

</head>

<body>
{%include 'html/comm/top.html'%}
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/top.jpg" width="1000" height="336" /></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="../images/lm1.jpg" width="1000" height="60" /></td>
      </tr>
      <tr>
        <td background="../images/lm1_bg.jpg">
        	<div class="textbox">
            	<div class="title1">1、ZZ91贸易对接专场活动</div>
                <div class="content">
                <ul><li>广告展示：有效专业现场推介；</li><li>供求信息：现场供求即时展示；</li>
                <li>样品展示--诚信第一品质保证;</li>
				<li>贸易洽谈--货源对接现场交易；</li><li>展会网吧—电子商务现场体验；</li><li>外商合作—国外货源有效对接。</li></ul>
                <div style="clear:both"></div>
                </div>
                <div style="clear:both"></div>
                <div class="title1">2、中国塑料协会主办</div>
                <div class="content">
                <div>专业、权威，已连续举办6届，客户质量高，客户认可度高。</div>
                </div>
                <div style="clear:both"></div>
                <div class="title1">3、会议：废塑料产业大变局</div>
                <div class="content">
                <div>关注废料商人所关注，解除废料商所担忧。</div>
                </div>
                <div style="clear:both"></div>
            </div>
        </td>
      </tr>
      <tr>
        <td><img src="../images/lm1_bb.jpg" width="1000" height="21" /></td>
      </tr>
    </table>
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="577" height="160" valign="top" background="../images/lm2_bg.jpg"><form id="form1" name="form1" method="post" action="../../baomingsave/" onsubmit="return checkForm(this)">
        <div style="margin-top:45px; margin-left:80px">
        <table width="90%" border="0" cellpadding="5" cellspacing="0">
          <tr>
            <td colspan="2">
              <input type="checkbox" name="checkbox" id="checkbox" title="*预订KT版广告" />
              预订KT版广告  <input type="checkbox" name="checkbox2" id="checkbox2" title="*参展"/>              
               参展 <input type="checkbox" name="checkbox3" id="checkbox3" title="*展会"/>
               参会 
               <input type="checkbox" name="checkbox4" id="checkbox4"  title="*参展" />
               观展</td>
          </tr>
          <tr>
            <td>姓名：
              <input type="text" name="textfield" id="textfield"  title="*姓名" /></td>
            <td rowspan="2" align="right" valign="bottom"><input type="image" name="imageField" id="imageField" src="../images/lm2_bottom.jpg" />
            <input type="hidden" name="contents" id="contents" />
                <input type="hidden" name="title" id="title" value="第七届中国塑料回收" />
            </td>
          </tr>
          <tr>
            <td>手机：
              <input type="text" name="textfield2" id="textfield2"  title="*手机"/></td>
            </tr>
        </table></div>
        </form></td>
        <td background="../images/lm3_bg.jpg"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:14px; line-height:23px">联系人：汤小姐              </td>
            <td style="font-size:14px; line-height:23px">手机：13325818818</td>
          </tr>
          <tr>
            <td style="font-size:14px; line-height:23px">电  话：0571-56611688<br /></td>
            <td style="font-size:14px; line-height:23px"> 0571-56637906</td>
          </tr>
          <tr>
            <td style="font-size:14px; line-height:23px">传  真：0571-56637777 <br /></td>
            <td style="font-size:14px; line-height:23px">邮箱：market@zz91.net</td>
          </tr>
          <tr>
            <td style="font-size:14px; line-height:23px">网  站：<a href="http://zhanhui.zz91.com" target="_blank">zhanhui.zz91.com</a></td>
            <td style="font-size:14px; line-height:23px">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
 
  <tr>
    <td height="204" valign="top" background="../images/lm4.jpg">
    	<div class="xczj" id="topscroll1">
        	<table border="0"><tr>
            <td><img src="../images/g1.jpg" width="158" height="106" /></td>
            <td><img src="../images/g2.jpg" width="158" height="106" /></td>
            <td><img src="../images/g3.jpg" width="158" height="106" /></td>
            <td><img src="../images/g4.jpg" width="158" height="106" /></td>
            <td><img src="../images/g5.jpg" width="158" height="106" /></td>
            <td><img src="../images/g6.jpg" width="158" height="106" /></td>
            <td><img src="../images/g7.jpg" width="158" height="106" /></td>
            <td><img src="../images/g8.jpg" width="158" height="106" /></td>
            <td><img src="../images/g9.jpg" width="158" height="106" /></td>
            
            <td><img src="../images/g1.jpg" width="158" height="106" /></td>
            <td><img src="../images/g2.jpg" width="158" height="106" /></td>
            <td><img src="../images/g3.jpg" width="158" height="106" /></td>
            <td><img src="../images/g4.jpg" width="158" height="106" /></td>
            <td><img src="../images/g5.jpg" width="158" height="106" /></td>
            <td><img src="../images/g6.jpg" width="158" height="106" /></td>
            <td><img src="../images/g7.jpg" width="158" height="106" /></td>
            <td><img src="../images/g8.jpg" width="158" height="106" /></td>
            <td><img src="../images/g9.jpg" width="158" height="106" /></td>
            
            </tr>
        	</table>
        </div>
    </td>
  </tr>
</table>
<script type="text/javascript">
window.onload=function(){
  
  new Marquee(
    "topscroll1",  //容器ID<br />
    2,  //向上滚动(0向上 1向下 2向左 3向右)<br />
    1,  //滚动的步长<br />
    890,  //容器可视宽度<br />
    106,  //容器可视高度<br />
    20,  //定时器 数值越小，滚动的速度越快(1000=1秒,建议不小于20)<br />
    1000,  //间歇停顿时间(0为不停顿,1000=1秒)<br />
    1000,  //开始时的等待时间(0为不等待,1000=1秒)<br />
    162//间歇滚动间距(可选)<br />
    );
};
    
 
</script>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="577" height="145" background="../images/lm5.jpg"><table border="0" cellpadding="0" cellspacing="0" style="margin-left:100px; margin-top:30px; font-size:14px; font-weight:bold">
      <tr>
        <td>2012年4月14日全天报到，布置展览；<br />
2012年4月14日晚19：00“上海之夜”欢迎酒会；<br />
2012年4月15-16日会议和展览；<br />
2012年4月17日参观上海优秀再生塑料企业；<br />
2012年4月18日集体参观国际橡塑展；</td>
      </tr>
    </table></td>
    <td background="../images/lm6.jpg">
    	<div style="padding-left:90px; line-height:25px; padding-top:30px; font-weight:bold">展会有多大的参加意义？<br />
为ZZ91参展商支招？
    <br />
    观展商参观展会有技巧？</div>
    </td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/lm7.jpg" width="1000" height="74" /></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="500" valign="top" background="../images/lm7_bg.jpg"><div class="textbox" style="font-size:12px"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top">
        	<div class="title1" style="width:350px">第一部分：促进废塑料再生行业健康发展的政策体系</div>
            <div class="content" style="padding:0px">
                <div>
                  <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px; margin-top:20px">
                    <tr>
                      <td nowrap="nowrap">1：有效控制废塑料再生对环境的污染</td>
                      <td align="right" nowrap="nowrap">环保部污控司专家</td>
                    </tr>
                    <tr>
                      <td colspan="2" nowrap="nowrap"><div style="width:260px; float:left">2：建立系统的塑料废弃物回收、再生、利用体系</div><div style="text-align:right; width:100px; float:right">发改委环资司专家</div> </td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">3：高效废塑料回收再生体系建设</td>
                      <td align="right" nowrap="nowrap">商务部商业服务司专家</td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">4：积极推进废塑料回收产业化发展</td>
                      <td align="right" nowrap="nowrap">工信部节能与综合利用司专家</td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">5：海关对进口废塑料的管理措施</td>
                      <td align="right" nowrap="nowrap">海关总署政策法规司专家</td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">6：废塑料行业面临的问题和机遇</td>
                      <td align="right" nowrap="nowrap">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="2" nowrap="nowrap"><div style="width:160px; float:left">7：全球废塑料行业标准研究</div><div style="text-align:right; width:200px; float:right">国际标准化组织塑料技术委员会专家</div></td>
                    </tr>
                  </table>
              </div>
              </div>
            <div class="title1" style="width:350px">第二部分：全球废塑料供应需求发展态势</div>
            <div class="content" style="font-size:12px; margin-top:20px; margin-bottom:15px">1：日本废塑料行业发展态势
              <br />
              2：欧洲废塑料行业发展态势
              <br />
              3：美国废塑料行业发展情况</div>
            <div class="title1" style="width:350px">第三部分：废塑料回收环境问题、责任问题</div>
            <div class="content" style="font-size:12px; margin-top:25px;">1：废塑料回收和再生是谁的责任？
              <br />
              2：废塑料回收和再生利用的环境经济价值研究
              <br />
              3：废塑料再生利用园区建设的迫切性与必要性研究
              <br />
              4：含阻燃剂（含卤素）废塑料的回收难题            欧洲阻燃剂协会专家
              <br />
              5：全国废塑料集中区扫描        中国再生资源回收利用协会专家</div>
        </td>
        <td valign="top">
        	<div class="title1">第四部分：废塑料行业技术突破：</div>
            <div class="content" style="font-size:12px; padding:0px"><strong>一、再生塑料高性能化和增值技术(废塑料回收难点和重点问题答疑)</strong><br />
              <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#999999">
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">1：由ldpe膜类废料生产电线电缆专用料</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">2：由hdpe瓶类废料生产管道专用料</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">3：由废电线电缆料生产聚乙烯蜡</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">4：家用电器pp回收生产改性pp汽配料</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">5：pp、pe混合料改性pp材料</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">6：无纺布制备特殊接枝材料</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">7：硬质pvc改性阻燃abs </span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">8：由废电器破碎生产阻燃hips，阻燃abs</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">9：pc/abs与abs混合料生产阻燃pc/abs</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">10：abs/hips混合料改性abs或改性hips</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">11：硬质pvc改性阻燃abs</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">12：pp/pet复合丝改性pp</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">13：pp/pet/pa复合丝改性材料</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">14：退镀abs增韧改性abs材料</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">15：pc玻纤增强材料改性材料</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">16：pc破碎材料改性超高韧性pc</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">17：尼龙复合薄膜改性超韧尼龙</span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">18：尼龙复合废膜生产高性能尼龙增强塑料</span></td>
                </tr>
                <tr>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">19：pbt混杂破碎改性pbt增强增韧材料 </span></td>
                  <td nowrap="nowrap" bgcolor="#E0E0E0"><span class="content" style="font-size:12px">20：由pet瓶片生产高性能pet工程塑料</span></td>
                </tr>
              </table>
              <strong> 二、塑料回收设备、废水、废气处理技术发展趋势</strong><br />
1：中国塑料回收机械设备现状及发展趋势<br />
 2：全球废塑料再生技术发展扫描<br />
 3：面向高浓度、高温清洗废塑料污水的在线处理技术<br />
 4：废塑料再生恶臭废气处理技术 <br />
 5：外国优秀废塑料设备商展示</div>
<div class="title1" s style="width:430px">第五部分：商业模式突破(多家国内外优秀废塑料企业模式展示)</div>
<div class="content" style="font-size:12px"> 1：全球采购的废塑料国际贸易模式<br />
2：废塑料聚集区的整合和提升
    <br />
    3：面向未来的废塑料改性模式创新</div>
          </td>
      </tr>
    </table></div></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/bottom.jpg" width="1000" height="24" /></td>
  </tr>
</table>
{% include 'html/comm/buttom.html' %}
</body>
</html>
