
/* mainblock */
.mainblock{width:946px;margin:14px auto;border:1px solid #C0C4CB; box-shadow:1px 1px 1px #C7CAD3;}
.mainblock_left{width:244px;float:left;}
.left_1{ position:relative;}
.left_p1,.left_p2,.left_p4,.left_p5{width:212px;position:absolute;}
.left_p1{left:20px;top:8px;font:bold 14px/22px '宋体';color:#373E4F;}
.left_p2{
	left:11px;
	top:48px;
	font:bold 22px/28px '宋体';
	text-align:center;
	color:#010101;
}
.left_p3{width:196px; position:absolute;left:22px;top:118px;font:14px/22px '宋体';}
.left_p3 p{ text-indent:1em;}
.left_p4{left:20px;top:342px;font:bold 14px/24px '宋体'; color:#004399; text-align:center;}
.left_p5{left:16px;top:448px;font:bold 24px/32px '宋体';line-height:32px; text-align:center; color:#434954;}

.left_2{border:1px solid #C0C4CB;width:240px;margin:12px 0px; font:14px '宋体';border-left:none;}
.p1{background:url(../images/3_03.gif) no-repeat 16px 4px;height:24px;line-height:24px;font:bold 14px/24px '宋体'; text-indent:24px;margin-top:4px;}
.p2,.p3{width:204px;margin:16px auto;_margin-top:0px;line-height:22px;}
.p_pic img{margin-left:16px;_margin-top:-16px;}

.mainblock_right{width:664px;float:right;}
.textLine1{width:100px;_width:120px;}
.textLine2{width:200px;}
.textLine3{width:228px;}
.textLine4{width:200px;}
.textLine5{width:240px;}
.textLine6{width:228px;}
.textLine7{width:200px;}
.textLine8{width:240px;}
.textLine9{width:200px;}
.textLine10{width:200px;}
.right_1,.right_2,.right_4,.right_foot{width:630px;}
.h3{margin-top:16px;position:relative;text-indent:16px;background:url(../images/circle_03.gif) no-repeat 1px 4px;width:630px;line-height:24px;color:#000;height:24px;border-bottom:1px solid #7D8391;}
.h3 h3{width:152px;font:bold 16px/24px '宋体';border-bottom:2px solid #003D8E; position:absolute;bottom:-2px;_left:0px;}
.right_1{width:618px;}
.right_1 p{ text-indent:3em;font:14px/20px '宋体';}
.p_1{margin-top:16px;}
.right_4{font:bold 14px '宋体';color:#373E4F;line-height:32px;margin-top:24px;}
.pic_p{padding:4px 0px;text-indent:18px;}
.pic_p input{line-height:32px;}
.right_2 p{width:602px;font:12px '宋体';color:#373E4F;line-height:22px;margin-top:12px;margin-bottom:12px;}
.right_3{width:608px;background-color:#F4F4F6;padding:8px;}
.right3_p1{color:#373E4F;font:bold 14px/24px '宋体';}
.right3_p2{line-height:24px;}
.right_foot{border-top:2px solid #CED0D5;width:630px;margin-top:24px;}
.right_p3{width:137px;height:35px;background:url(../images/p2.gif) no-repeat;float:left;margin-bottom:24px;margin-top:24px;margin-left:118px;text-align:center;color:#FFF; font:16px/35px '宋体';}
.right_p4{width:104px;height:30px;background:url(../images/p.gif) no-repeat;float:left;margin-top:27px;margin-left:48px;font:16px/30px '宋体';text-align:center;}

/*   bottom  */
.bottom{margin:28px auto;width:950px;border-top:3px solid #00104E;}
.bottom p{color:#4a4a4a;text-align:center;line-height:24px;margin:12px auto;}
.bottom p a{color:#4a4a4a;}

/*   other  */
.kkk input{
	vertical-align:text-bottom;
    background:none;
    border:solid 1px #333;
    border-style:none none solid none;
    color:#666;
    padding:3px	
}
.right_foot input{border:none}
.x input{border-bottom:none;_vertical-align:middle}

.red{color:#F00}
.space{letter-spacing:2em;_padding-right:1px;}
.space1{letter-spacing:3em;_padding-right:0px;}
.kind{margin-left:12px;}
