@charset "utf-8";
/* CSS Document */

/*   top   */
body{background:#ececec}
.topbar{background:url(../images/topBarbg.gif) repeat-x;height:28px;line-height:28px;margin: 0 auto;}
.topbar a{color:#333}
.topbar a:hover{color:#C60}
.topbarblock{width: 951px;margin: 0 auto;}
.doc{width:948px;margin:0 auto}
.hder,.yconts{margin-top:8px}
.nav{margin-top:8px;height:42px;line-height:42px;background:url(../images/nav.gif) no-repeat}
.nav ul{margin-left:34px}
.nav ul li{float:left}
.nav ul li a{margin-top:3px;height:40px;width:122px;display:block;font:bold 16px/40px '宋体';color:#fff;text-align:center}
.nav ul li a:hover{background:url(../images/nav_sel.gif) repeat-x;color:#000}
.mainblock{width:946px;margin:14px auto;border:1px solid #C0C4CB; box-shadow:1px 1px 1px #C7CAD3;}
.footer{
	 border-top:2px solid #000; 
	 width:951px; 
	 margin:0 auto;
	 line-height:24px;
	 padding-top:23px;
	 margin-top:16px; 
	 text-align:center; 
	 font-size:12px;
	 padding-bottom:37px;
	 color:#000;
	 }
.footer a{
	 color:#000;
	 text-decoration:none;
	  }
.footer a:hover{
	 color:#000;
	 } 	 

.margintop8{ margin-top:8px}