/* mainblock */
.mainblock{width:946px;margin:14px auto;border:1px solid #C0C4CB; box-shadow:1px 1px 1px #C7CAD3;}
.mainblock_left{width:244px;float:left;}
.left_1{ position:relative;}
.left_p1,.left_p2,.left_p4,.left_p5{width:212px;position:absolute;}
.left_p1{left:20px;top:8px;font:bold 14px/22px '宋体';color:#373E4F;}
.left_p2{left:16px;top:48px;font:bold 22px/28px '宋体'; text-align:center; color:#010101;}
.left_p3{width:196px; position:absolute;left:22px;top:118px;font:14px/22px '宋体';}
.left_p3 p{ text-indent:1em;}
.left_p4{left:20px;top:342px;font:bold 14px/24px '宋体'; color:#004399; text-align:center;}
.left_p5{left:16px;top:448px;font:bold 24px/32px '宋体';line-height:32px; text-align:center; color:#434954;}

.left_2{border:1px solid #C0C4CB;width:230px;margin:12px 0px 12px 6px; font:14px '宋体'}
.p1{background:url(../images/3_03.gif) no-repeat 16px 4px;height:24px;line-height:24px;font:bold 14px/24px '宋体'; text-indent:24px;margin-top:4px;}
.p2,.p3{width:204px;margin:16px auto;_margin-top:0px;line-height:22px;}
.p_pic img{margin-left:16px;_margin-top:-16px;}

.mainblock_right{width:698px;float:right;background:#fff}
.right_1,.right_2,.right_3{width:640px;margin:0 auto;margin-bottom:24px;_margin-bottom:12px;}
.block_1,.block_2,.block_3,.block_4{margin:8px 16px;_margin:8px 8px;width:278px; background:#FFEA9B; box-shadow:3px 3px 3px #E8E9EB;}
.block_1,.block_3{float:left}
.block_2,.block_4{float:right}
.picblock{_padding-top:16px}
.pic_1,.pic_2,.pic_3,.pic_4,.pic_5,.picblock_1,.picblock_2,.picblock_3{float:left}
.picture{ background:#E1E2E6;width:638px; margin:16px auto;border:1px solid #E1E2E6;}
.pic_1,.pic_2,.pic_4,.pic_5{ border:2px solid #fff;}
.right_p1,.right_p3,.right_p4{
	text-indent:16px;
	margin-top:12px;
	_margin-top:6px;
	width:100px;
	font:bold 16px/24px '宋体';
	line-height:24px;
	color:#000;
	border-bottom:3px solid #003D8E;
	background:url(../images/circle_03.gif) no-repeat 1px 4px;
	font-size: 14px;
}
.right_p2,.x3,.x2{font:14px/24px '宋体';line-height:24px;color:#2A2F3B; text-indent:2em;}
.block_p1,.block_p3,.block_p5,.block_p7{ text-indent:40px;font:bold 18px/24px '宋体';color:#FA5E00;line-height:24px;margin-top:8px;}
.block_p1{ background:url(../images/1_03.gif) no-repeat 12px 0px;}
.block_p3{ background:url(../images/2_05.gif) no-repeat 12px 0px;}
.block_p5{ background:url(../images/3_09.gif) no-repeat 12px 0px;}
.block_p7{ background:url(../images/4_10.gif) no-repeat 12px 0px;}
.block_p2,.block_p4,.block_p6,.block_p8{margin-left:12px;margin-right:6px;font:14px/24px '宋体';line-height:24px;margin-top:4px;margin-bottom:24px;}
.picblock,.right_block,.right_p2{ border-top:1px solid #7D8391;}
.right_p2{padding-top:12px;}
.f1{margin-top:12px;}
.f2{margin-bottom:24px;_margin-bottom:12px;}
.pic_1{margin-left:30px;_margin-left:15px;margin-top:66px;}
.pic_2{margin-left:20px;margin-top:66px;}
.pic_3{ background:#FFFFFF;margin-left:12px;margin-top:12px;border-top:1px solid #C0C4CB;border-left:1px solid #C0C4CB;border-right:1px solid #C0C4CB;}
.pic_3 img{margin:8px 12px 0px;}
.pic_4{margin-left:12px;margin-top:66px;}
.pic_5{margin-left:20px;margin-top:66px;}
.picture_text{width:580px;background:#FFF;margin:0px auto 20px;height:46px;border-bottom:1px solid #C0C4CB;}
.picblock_1{width:202px;height:46px;border-left:1px solid #C0C4CB;border-top:1px solid #C0C4CB;}
.picblock_1 img{margin-left:12px;margin-top:8px;}
.picblock_2{width:173px;height:46px;line-height:46px;font:14px/46px '宋体';color:#434954;}
.picblock_3{width:203px;height:46px;border-right:1px solid #C0C4CB;border-top:1px solid #C0C4CB;}
.picblock_3 img{margin-right:12px;margin-top:8px;float:right}
/*   bottom  */
/*------------------------*/
 #contright_adsa {
position: relative;
height: 350px;
width: 633px;
color: #2A2F3B;
font-family: "宋体";
padding: 15px 32px 0 32px;
}
#contright_adsa h3{border-bottom:solid 1px #7d8391;line-height:24px;margin-bottom:20px}
#contright_adsa h3 font{display:block;width:80px;border-bottom:solid 3px #003D8E;padding-left:16px;background:url(../images/circle_03.gif) no-repeat left}
#adsa_main{
position: relative;
background-color: #E0E2E6;
width: 631px;
height: 285px;
}
#contright_adsa #imageFlow {
position: absolute;
width: 500px;
height: 274px;
left: 67px;
top: 5px;
}
.bank {
visibility: hidden;
}
#imageFlow .bankbg {
position: absolute;
width: 186px;
height: 211px;
left: 154px;
top: -1px;
background: url(http://www.zz91.com/specialsubject/yellowpage/images/yPageCH_imageFlow_picbg.gif) no-repeat;
}
#imageFlow .text {
position: absolute;
left: 20px;
width: 450px;
bottom: 26px;
text-align: center;
color: black;
font-family: verdana, arial, Helvetica, sans-serif;
z-index: 1200;
background-color: white;
}
 #imageFlow .title {
font-size: 0.8em;
font-weight: bold;
color: black;
}
#imageFlow .scrollbar {
position: absolute;
left: -46px;
bottom: 12px;
width: 586px;
height: 55px;
z-index: 1000;
background: url(http://www.zz91.com/specialsubject/yellowpage/images/yPageCH_imageFlow_barbg.gif) no-repeat;
}
#imageFlow .arrow-left {
position: absolute;
height: 31px;
left: 7px;
top: 14px;
}
#imageFlow .arrow-right {
position: absolute;
right: 7px;
height: 31px;
top: 13px;
width: 34px;
}
#imageFlow .diapo {
position: absolute;
cursor: pointer;

}
