@charset "utf-8";

body {background:#a9ecfe;padding:0;margin:0;}

.top{height:610px;background:url(../images/top.jpg) no-repeat;background-position:center;}

.content{width:960px;margin:0 auto 60px}

.tg_top {width:230px;height:50px;position:relative;left:61%;top:16%;display:block;}

.gj {height:80px;background:url(../images/gjhy.jpg) center top no-repeat #ffbb18;}
.pt {height:81px;background:url(../images/pthy.jpg) center top no-repeat #ffbb18;}


/* 高级会员 */
.block1 {height:100%;background:#ffbb18;overflow:hidden;padding:0 18px 20px;}
.block1 ul.hot {overflow:hidden;background:#fff799;margin-top:18px;}
.block1 ul.hot li {display:inline;float:left;}
.block1 .box{width:194px;height:262px;margin:12px 18px;background:#fff;}
.block1 .box-img{width:194px;height:166px;background:#e7e7e7;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden;}
.block1 .box-img img{vertical-align:middle;}
.block1 .box-text{height:32px;line-height:35px;font-size:14px;padding-left:12px;}
.block1 .box-info{width:200px;}
.block1 .box-info-text {height:64px;line-height:25px;background:url(../images/bg2.jpg) no-repeat;overflow:hidden;padding-top:10px;color:#fff;font-size:14px;padding-left:12px;}

#img {width: 0px; height: 100%;}

/* 普通会员 */
.block2{margin-top:60px;}
.b2 {width:880px;background:#ffbb18;padding:15px 40px 20px;float:left;}
.b2_bg {background:#fff799;padding:0 10px;}
.m2-item{width:400px;height:336px;overflow:hidden;margin-top:15px}
.m2-item-title{width:180px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline;white-space:nowrap}
.m2-item-text{width:140px;height:24px;line-height:24px;text-align:right;color:#666;overflow:hidden;float:right;display:inline}


/* 翻页 */
.page_bg {width:924px;background:#fff799;}
.page{width:610px;height:30px;padding:30px 0 30px 140px;clear:both;margin:0 auto;}
.page-style {width:50px;height:28px;border:1px solid #d6d6d6;text-align:center;line-height:28px;float:left;margin-right:7px}
.page-style a {width:50px;height:28px;display:block;background:#fff}
.page ul {float:left}
.page ul li {border:1px solid #d6d6d6;margin-right:7px;float:left}
.page ul li a {padding:5px 8px;display:block;background:#fff}
.page .p_cur{background:#e8e8e8}
