

body{margin:0 auto;background:#f1f1f1}

.content{width:98%;margin:15px auto;overflow:hidden}
.nav_tab{width:100%;background:#fff;letter-spacing:1px;font-size:14px;border-collapse:collapse}
.nav_tab_tle{text-align:center;font-size:16px;font-weight:bold;background:#fcfafa}
.nav_tab tr td{line-height:35px;padding-left:20px;padding-right:10px;border:1px solid #e3e4eb}
.nav_tab tr td a{text-decoration:none;color:#000;padding:10;display:block}
.nav_tab tr td a:hover{text-decoration:underline;color:#0059d2}

/**全部分类**/



















