/* CSS Document */
*{margin:0;padding:0;font-size:14px;color:#333;}/*不可以加行高*/
table{border-collapse:collapse;border-spacing:0;font-size:inherit;}
a{text-decoration:none;}
a:link,a:visited,a:active,a:hover{color:#0667AC;}
ul {list-style:none;}
/*颜色*/
.c-f {color: #fff;}
.c-c {color: #ccc;}
.c3 {color: #333;}
.c4 {color: #444;}
.c6 {color: #666;}
.c9 {color: #999;}
.c0 {color: #000;}
.c-link{color:#0667AC;}
.c-gray1{color:#d7d7d7;}
.c-hl{color:#ff5400;}

/*对齐相关*/
.ac{text-align:center;}
.ar{text-align:right;}
.al{text-align:left;}
.fl{float:left;}
.fr{float:right;}

/*边距相关*/
.pd10{padding:7px;}
.pt10{padding-top:7px;}
.pl10{padding-left:7px;}
.pb10{padding-bottom:7px;}
.pr10{padding-right:7px;}
.plr10{padding-left:7px; padding-right:7px;}

.mg10{margin:7px;}
.mt10{margin-top:7px;}
.ml10{margin-left:7px;}
.mb10{margin-bottom:7px;}
.mr10{margin-right:7px;}
.mlr10{margin-left:7px;margin-right:7px;}

.pt7{padding-top:7px;}
.pb7{padding-bottom:7px;}
.mt7{margin-top:7px;}
.mb7{margin-bottom:7px;}

/*高度相关*/
.lh20{line-height:20px;}
.lh20-all{line-height:20px;}
.lh20-all *{line-height:20px;}

/*border*/
.bt-c{border-top:1px solid #ccc;}
.br-c{border-right:1px solid #ccc;}
.bb-c{border-bottom:1px solid #ccc;}
.bl-c{border-left:1px solid #ccc;}
.bt-dotted-c{border-top:1px dotted  #ccc;}
.bb-dotted-c{border-bottom:1px dotted  #ccc;}
.bt-dashed-c{border-top:1px dashed #CCC;}
.bb-dashed-c{border-bottom:1px dashed #CCC;}