<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>微信服务号关注_ZZ91再生网</title>
		<link rel="stylesheet" type="text/css" href="../css/second/style.css" />
		<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
		<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/mobile/css/moblie.css" />
		<link rel="stylesheet" href="/css/comm-searchbar-old.css" />
		<link rel="stylesheet" href="/css/comm-searchbar.css" />
		<script type="text/javascript" src="http://img0.zz91.com/zz91/mobile/js/jquery.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<meta name="format-detection" content="telephone=no">
	</head>

	<body>{%include 'top.html'%}
		<div style="width: 100%;text-align: center;line-height: 30px;color: #F06D13;"><br>长按识别二维码，关注 “zz91再生网”<br /><img src="http://img0.zz91.com/zz91/weixin/images/priceorder.png"><br /></div>
		<br /><br />
		{%include 'bottom2.html'%}
	</body>

</html>