<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZZ91厂家直购_您委托我发红包_ZZ91再生网</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="css/bonus.css"/>
</head>
<body>
	<div style="width:100%; background-color:#F9F7EC">
		<div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
	</div>
	<div class="top"></div>
    <div class="content">
    	<div class="bg01_wrap"></div>
        <div class="bg02_wrap">
        	<div class="item_wrap">
            	<div class="btn_item">
                	<a href="http://caigou.zz91.com/" target="_blank" class="btn"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>