@charset "utf-8";

.mb16{margin-bottom:16px}
.mr16{margin-right:16px}


.OldClothes{width:auto;height:auto}
.oc-title{width:960px;height:30px;line-height:30px;margin:0 auto}
/*旧衣服导航*/
.oc-nav{height:40px;background:url(../images/oldnav_bg.jpg) repeat-x}
.oc-nav ul{width:960px;height:40px;margin:0 auto}
.oc-nav ul li{width:100px;height:40px;line-height:40px;text-align:center;float:left}
.oc-nav ul li:hover{background:#00632b;border:0}
.oc-nav ul li a{color:#fff;font-size:14px}
.oc-nav ul li a:hover{text-decoration:none}

/*首页M1左边*/
.oc-mainblock1{width:960px;height:240px;margin:8px auto}
.oc-m1-left{width:200px;height:240px;background:#f7f7f7;float:left}
.m1-left-table{width:200px;hegiht:240px}
.m1-left-table tr td{border:1px solid #ccc;height:39px;text-align:center}
.m1-left-table tr td a:hover{text-decoration:underline}
/*首页M1中间*/
.oc-m1-center{width:524px;height:240px;border-bottom:1px solid #ccc;margin-left:8px;float:left}
.m1-center-top{width:524px;height:120px}
.m1-center-item{width:250px;line-height:24px}
.m1-w180{width:180px}
.m1-w80{width:80px}
.m1-w120{width:120px}
.m1-center-item2{width:300px;line-height:24px}
.m1-banner{width:200px;height:80px;background:#963;margin-top:24px}
/*首页M1右边*/
.oc-m1-right{width:218px;height:240px;border:1px solid #ccc}
.m1-right-box{width:188px;height:30px;text-align:center;line-height:30px;margin:8px auto}
.m1-box-style1{border:1px solid #000;background:#009944}
.m1-box-style1 a{width:188px;height:30px;display:block;color:#fff;font-size:14px}
.m1-box-style1 a:hover{text-decoration:none}
.m1-box-style2{background:#f7f7f7}
.m1-box-style2 a{width:188px;height:30px;display:block;color:#000;font-size:14px;border:1px solid #ccc;}
.m1-box-style2 a:hover{background:#009944;border:1px solid #000;text-decoration:none;color:#fff}
.m1-right-text{margin-left:16px;line-height:24px}
.oc-m1-right ul{margin-left:16px}
.oc-m1-right ul li{line-height:24px}
.oc-m1-right ul li a{color:#444444}
/*首页M2*/
.oc-mainblock2{width:942px;height:128px;border:1px solid #ccc;padding-top:16px;padding-left:16px;margin:16px auto}
.oc-m2-item{width:130px;height:120px}
.m2-item-img{width:128px;height:88px;border:1px solid #ccc}
.m2-item-text{width:130px;height:30px;line-height:30px;text-align:center}
.m2-ml30{margin-left:30px}
/*首页M2*/
.oc-mainblock3{width:942px;height:184px;border:1px solid #ccc;margin:0 auto;padding-left:16px}
.oc-m3-title{width:200px;height:30px;line-height:30px;background:url(../images/old_icon2.jpg) no-repeat 0px 10px;padding-left:8px}
.oc-m3-item{width:199px;height:119px;border:1px solid #ccc;padding:8px}
.m3-item-title{width:180px;height:24px;line-height:24px;background:url(../images/old_icon.jpg) no-repeat 0px 5px;padding-left:24px}
.m3-item-text{width:199px;line-height:22px;margin-top:8px;color:#999}
.m3-ml16{margin-left:16px}
/*首页M4*/
.oc-mainblock4{width:942px;height:224px;border:1px solid #ccc;padding-left:16px;margin:16px auto}
.oc-m4-item{width:460px;height:214px}
.m4-item-title{width:200px;height:30px;line-height:30px;background:url(../images/old_icon2.jpg) no-repeat 0px 10px;padding-left:8px}
.m4-item-box{width:460px;height:82px}
.m4-box-img{width:100px;height:80px;border:1px solid #ccc}
.m4-box-content{width:340px}
.m4-box-title{line-height:24px;margin-top:10px}
.m4-box-text{line-height:24px;color:#999}
.oc-m4-item ul{margin-top:8px}
.oc-m4-item ul li{line-height:24px;width:400px}
.oc-m4-item ul li a{color:#444}
/*首页M5*/
.oc-mainblock5{width:942px;height:133px;border:1px solid #ccc;margin:0 auto;padding-left:16px}
.oc-m5-title{height:30px;line-height:30px}
.oc-m5-title a{color:#000;font-weight:700}
.oc-mainblock5 ul li{float:left;margin:0 4px;line-height:24px; word-break:keep-all}
/*首页M6*/
.oc-mainblock6{width:924px;height:30px;border:1px solid #ccc;padding:16px;margin:16px auto}
.oc-m6-title{margin-left:16px;color:444}
.oc-m6-text{width:700px;height:14px;padding:5px}
.oc-m6-submit{width:70px;height:30px}




/*价格*/
.oc-price{width:960px;margin:8px auto}
.oc-price-mainblock1{width:200px;float:left}
.price-m1{width:200px;height:240px;background:#f7f7f7}
.price-m1-table{width:200px;hegiht:240px}
.price-m1-table tr td{border:1px solid #ccc;height:39px;text-align:center}
.price-m1-table tr td a:hover{text-decoration:underline}

.price-m2{width:182px;border:1px solid #ccc;margin:16px 0 0 0;padding:8px}
.price-m2-title{line-height:24px}
.price-m2-title a{font-weight:700}
.oc-price .m2-ul-left{width:125px;float:left}
.oc-price .m2-ul-right{float:right}
.oc-price .price-m2 ul li{line-height:24px}
.price-m2-findinfo{width:198px;height:266px;border:1px solid #ccc;margin-top:16px;background:url(../images/img3.jpg) no-repeat}

.oc-price-right{width:740px;float:right}
.price-right-box{width:718px;height:178px;border:1px solid #ccc;padding:20px 0 0 20px}
.price-right-item{width:160px;height:180px;float:left}
.price-item-img{width:158px;height:110px;border:1px solid #ccc}
.price-item-text{text-align:center;line-height:24px;margin-top:8px}
.price-ml20{margin-left:20px}
.price-right-box2{width:718px;height:393px;border:1px solid #ccc;padding:5px 0 0 20px;margin:16px 0}
.price-box2-title{width:120px;height:30px;line-height:30px;background:url(../images/old_icon2.jpg) no-repeat 0px 11px;padding-left:10px}
.price-box2-title a{font-weight:700}
.price-table{width:698px;}
.price-table tr{height:30px;border-bottom:1px dotted #000}
.price-table-line{border-bottom:1px solid #000}

.price-right-box3{width:718px;height:117px;border:1px solid #ccc;padding:5px 0 0 20px;margin:16px 0}
.price-box3-title{width:120px;height:30px;line-height:30px;background:url(../images/old_icon2.jpg) no-repeat 0px 11px;padding-left:10px}
.price-box3-title a{font-weight:700}
.price-right-box3 ul li{width:59px;line-height:24px;float:left;word-break:keep-all}


.oc-price-mainblock3{width:918px;height:123px;border:1px solid #ccc;padding:5px 20px 20px 20px;margin-top:16px}
.price-m3-item{width:270px;float:left}
.price-m3item-title{width:120px;height:30px;line-height:30px;background:url(../images/old_icon2.jpg) no-repeat 0px 11px;padding-left:10px}
.price-m3item-title a{font-weight:700}
.price-m3-item ul li{float:left;margin-right:4px}
.price-m3item-text{line-height:24px}
.price-ml50{margin-left:50px}



/*商家*/
.oc-merchants{width:740px;}
.merchants-box1{width:718px;height:168px;border:1px solid #ccc;padding:5px 0 0 20px}
.ms-box1-item{width:212px;height:104px;border:1px solid #ccc;padding:8px}
.ms-box1-title{width:120px;height:30px;line-height:30px;background:url(../images/old_icon2.jpg) no-repeat 0px 11px;padding-left:10px}
.ms-box1-title a{font-weight:700}
.ms-item-title{width:180px;height:24px;line-height:24px;background:url(../images/old_icon.jpg) no-repeat 0px 5px;padding-left:24px}
.ms-box2-title{margin-top:16px}
.ms-title-left{width:93px;height:36px;float:left;background:url(../images/ms_title_bg.jpg) no-repeat;line-height:34px}
.ms-title-left a{margin-left:36px;color:#fff;font-weight:700}
.ms-title-left a:hover{text-decoration:none}
.ms-title-right{width:93px;height:36px;float:left;background:url(../images/ms_title_bg2.jpg) no-repeat;line-height:34px}
.ms-title-right a{margin-left:36px;color:#444;font-weight:700}
.ms-title-right a:hover{text-decoration:none}
.ms-item-text{width:199px;line-height:22px;margin-top:8px;color:#999}
.ms-ml10{margin-left:10px}
.ms-box2-content{width:698px;height:auto;border:1px solid #ccc;padding:10px 20px 4px 20px}
.ms-box2-item2{width:698px;height:99px;border-bottom:1px dashed #999}
.ms-item2-left{width:350px;hegiht:99px;float:left}
.item2-left-text{line-height:24px;color:#444444}
.item2-text-zi{float:left;margin-right:36px}
.item2-text-bg1{background:url(../images/old_icon.jpg) no-repeat 0px 3px;padding-left:22px}
.item2-text-bg2{background:url(../images/icon1.jpg) no-repeat 0px 3px;padding-left:22px}
.ms-box2-more{width:738px;height:33px;border:1px solid #ccc;background:#f8f8f8;text-align:center;line-height:35px}
.ms-banner{width:740px;height:70px;background:#090;margin-top:8px}

.ms-item2-right{width:85px;height:99px;float:right}
.ms-item2-right img{margin:6px 0}



/*列表*/
/*列表项左边*/
.list-nav-left{width:93px;height:36px;float:left;background:url(../images/ms_title_bg.jpg) no-repeat;line-height:34px}
.list-nav-left a{margin-left:36px;color:#fff;font-weight:700}
.list-nav-left a:hover{text-decoration:none}
.list-nav-right{width:93px;height:36px;float:left;background:url(../images/ms_title_bg2.jpg) no-repeat;line-height:34px}
.list-nav-right a{margin-left:36px;color:#444;font-weight:700}
.list-nav-right a:hover{text-decoration:none}
/*列表项中间*/
.oc-list-content{width:918px;padding:0 20px;padding-bottom:20px;border:1px solid #ccc}
.list-item-center2{width:334px;height:93px;float:left;padding-left:20px}
.oc-list-item{width:918px;height:110px;border-bottom:1px dashed #ccc;margin-top:20px}
.oc-list-item2{width:698px;height:110px;border-bottom:1px dashed #ccc;margin-top:20px}
.list-item-left{width:121px;height:93px;border:1px solid #ccc;float:left}
.list-item-center{width:504px;height:93px;float:left;padding-left:20px}
.list-item-right{width:180px;height:93px;float:right}
.LT-center-text{line-height:24px;color:#444}
.LT-center-text a{font-weight:700}
.price-m2-banner{width:200px;height:100px;background:#009944;margin-top:16px}
/*列表项右边*/
.LT-right-text{line-height:24px;color:#444}
.LT-right-text1{width:60px;line-height:24px;background:url(../images/icon2.jpg) no-repeat 0 5px;padding-left:15px}
.LT-right-text1 a{color:#1e50a2}
.LT-right-text2{width:60px;line-height:24px;background:url(../images/icon3.jpg) no-repeat 0 5px;padding-left:20px}
.LT-right-text2 a{color:#1e50a2}
/*列表翻页*/
.oc-list-page{width:958px;height:42px;border:1px solid #ccc;background:#f8f8f8;line-height:30px;text-align:center;padding-top:8px}
.oc-page-center{width:620px;margin:0 auto}
.oc-page_border{width:724px;border-top:1px solid #ccc;text-align:center;line-height:30px}
.oc-page_up{float:left;width:55px;line-height:30px;text-align:center;height:30px;border:1px solid #ccc}
.oc-page_up a{color:#333;text-decoration:none}
.oc-page_ul{float:left;margin:0 8px}
.oc-page_ul li{float:left;width:30px;line-height:30px;text-align:center;height:30px;border:1px solid #ccc;margin:0 1px}
.oc-page_ul li a{width:30px;height:30px;display:block;color:#000;text-decoration:none}
.oc-page_ul li a:hover{background:#009944}
.oc-page_down{float:left;width:55px;line-height:30px;text-align:center;height:30px;border:1px solid #ccc;margin:0 8px}
.oc-page_down a{color:#333;text-decoration:none}
.oc-page_num{float:left}
.oc-page_num2{float:left;margin:0 8px;line-height:30px;}
.oc-page_ok{float:left;width:35px;height:20px;border:1px solid #000;line-height:20px;margin-top:5px}
.oc-page_ok a{color:#000;text-decoration:none}
.oc-page_text{width:36px;height:24px}
.price-findinfo-ok{height:50px;background:#fff;line-height:50px;margin-top:210px;background:url(../images/fabu2.jpg) no-repeat 35px 10px;text-align:center}
.price-findinfo-ok:hover{background:url(../images/fabu2_hover.jpg) no-repeat 35px 10px}
.price-findinfo-ok a{text-decoration:none;color:#FFF}


/*图片页*/

.ms-box2-item4{width:162px;height:170px;margin-top:10px}
.ms-item4-img{width:160px;height:110px;border:1px solid #ccc}
.ms-item4-text{width:160px;text-align:center;line-height:24px;margin-top:8px}


