@charset "utf-8";


.top {height:1038px;background:url(../images/top.jpg) no-repeat;background-position:center;}

.bg1 {height:1158px;background:url(../images/bg1.jpg) no-repeat;background-position:center;}
.bg2 {height:367px;background:url(../images/bg2.jpg) no-repeat;background-position:center;}
.bg3 {height:756px;background:url(../images/bg3.jpg) no-repeat;background-position:center;}

.bg1 p {font-size:22px;font-weight:bold;}

.box {width:958px;margin:0 auto;padding:60px 0;}
.box ul li {display:inline;float:left;margin-right:60px;}
.box ul li a {
	display:block;
	width:243px;
	height:51px;
	line-height:51px;
	text-align:center;
	font-weight:bold;
	font-size:22px;
	background:url(../images/btn_bg2.jpg) no-repeat;
	text-decoration:none;
}

.item {width:878px;margin:0 auto;padding:32px 0 0;overflow:hidden;}
.item a {color:#0066cc;}

.item2 {padding:70px 0 80px 40px;overflow:hidden;}

.btn_bg {display:block;width:351px;margin:80px auto 70px;height:75px;background:url(../images/btn_bg.jpg) no-repeat;}

.bg3_footer {border-top:2px solid #e0e0e0;}
.bg3_footer a {color:#e0e0e0;}