@charset "utf-8";

body{height:2248px;background:url(../images/bg.jpg) no-repeat;background-position:center}
.main{width:780px;overflow:hidden;margin:560px auto 48px auto}
.m0{width:232px;height:72px;background:url(../images/gg.png) no-repeat;float:left}
.m1{width:232px;height:72px;background:url(../images/fw.png) no-repeat;float:right}
.item{display:none}

.a1{width:1282px;height:790px;background:url(../images/11.jpg) no-repeat;position:absolute;left:70px;top:750px;display:none}
.a2{width:1282px;height:790px;background:url(../images/22.jpg) no-repeat;position:absolute;left:70px;top:1010px;display:none}
.a3{width:1282px;height:790px;background:url(../images/33.jpg) no-repeat;position:absolute;left:70px;top:1262px;display:none}
.a4{width:1282px;height:790px;background:url(../images/44.jpg) no-repeat;position:absolute;left:70px;top:1495px;display:none}
.a5{width:1282px;height:790px;background:url(../images/55.jpg) no-repeat;position:absolute;left:70px;top:1620px;display:none}

.a1 img{margin:10px 10px 0 0;float:right}
.a2 img{margin:10px 10px 0 0;float:right}
.a3 img{margin:10px 10px 0 0;float:right}
.a4 img{margin:10px 10px 0 0;float:right}
.a5 img{margin:10px 10px 0 0;float:right}
