<!DOCTYPE HTML>
<html>
	<head>{%include 'head.html'%}
		
        <link rel="stylesheet" type="text/css" href="/css/pindao/index.css"/>
	</head>
	<body>{%include 'top.html'%}
     <div class="content">
       <div class="c-tle">
       		<a href="/">首页</a> > <a href="/priceindex/">行情报价</a> > <a href="/priceindex/areasuliao/">各地废塑料行情</a>
       </div>
       <!--end c-tle-->
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="2" class="nav_tab_tle" style="text-align:center;background:#3598db"><a href="/price/?category_id=137&keywords=废塑料网上报价" style="color:white">废塑料网上报价</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="2" class="nav_tab_tle" style="text-align:center;background:#3598db"><a href="/price/?category_id=137&keywords=塑料颗粒网上报价" style="color:white">塑料颗粒网上报价</a></td>
            </tr>
        </table>
        <a href="/price/?category_id=138" style="color:white"><table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:center;background:#58d68d">河北</td>
            </tr>
            
        </table></a>
        
        <a href="/price/?category_id=130" style="color:white">
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:center;background:#f1c40f">广东</td>
            </tr>
            
        </table>
        </a>
        <a href="/price/?category_id=127" style="color:white">
      	<table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:center;background:#e67f22">浙江</td>
            </tr>
            
        </table>
        </a>
        
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="2" class="nav_tab_tle" style="text-align:center;background:#3598db"><a href="/price/?category_id=115&keywords=上海" style="color:white">上海</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="2" class="nav_tab_tle" style="text-align:center;background:#3598db"><a href="/price/?category_id=126&keywords=齐鲁" style="color:white">齐鲁</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="2" class="nav_tab_tle" style="text-align:center;background:#3598db"><a href="/price/?category_id=111&keywords=东莞" style="color:white">东莞</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="2" class="nav_tab_tle" style="text-align:center;background:#3598db"><a href="/price/?category_id=120&keywords=顺德" style="color:white">顺德</a></td>
            </tr>
        </table>
        
      </div>{%include 'bottom.html'%}
      <!--end content-->
	</body>
</html>