body{
	font-family: "微软雅黑";
	background: #f2f2f2;
}
.qst-img img{
	width: 100%;
	height: auto;
}
.keytab>.aui-flex-col:first-child{
	background: #e4e4e4;
}
.keytab div:after{
	border-color: #f2f2f2;
}
.icon-gou1,.xzipt{
	visibility: hidden;
}
.xzthis .icon-gou1,.xzthis .xzipt{
	visibility: visible;
}
