body{
	max-width: 640px;
	margin: 0 auto;
	background: #43305e
}
img{
	vertical-align: middle;
}
.band{
	position: relative;
}
.bandimg{
	width: 100%;
}
.buybox{
	position: absolute;
	width: 100%;
	top: 78.3%;
	text-align: center;
}
.buybtn{
	width: 70%;
}
.seemore{
	position: relative;
}
.seebox{
	position: absolute;
	top: 82%;
	width: 100%;

}
.seebtn-box{
	width: 50%;
	float: left;
	padding: 0 2% 0 5%;
	text-align:center;
}
.seebtn{
	width: 55%;
}
.ttbt{
	margin-top: 30px;
}
.ttbt img{
	width: 100%
}
.anli{
	margin: 15px 2% 0 2%;
	background: #ebd124;
	border-radius: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.anli-tt{
	text-align: center;
	color: #43305e;
	font-size: 15px;
	height: 37px;
	line-height: 37px;
}
.anli-box{
	margin: 0 10px;
	background: #fffe6b;
	min-height: 172px;
	border-radius: 15px;
}