

body {margin:0;padding:0}	
	
#d {overflow:hidden}
img{margin:0;padding:0}
#navFix{position:fixed;right:80px; top:30px; width:25px;_position:absolute; top:expression((offsetParent.scrollTop)+0);z-index:2;margin-top:340px}
.menu{cursor:pointer}
.dh{position:relative}
.btn{width:112px;line-height:31px;background:url(../images/btn.png) no-repeat;text-align:center;margin:8px 35px 0 0;position:absolute;right:50px;top:0}
.btn{color:#fff;font-size:14px;font-weight:bold;cursor:pointer}
.img{width:568px;height:568px;background:url(../images/1.gif) no-repeat;position:absolute;right:150px;top:150px}



