<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们|B2B|B2C-杭州阿思拓电子商务有限公司</title>
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
{%include 'top.html'%}

<!-- position start -->
<div class="place">
 <p><a href="/">首页</a> > <a href="about.html">关于我们</a> > <a href="about.html" class="blue">渊源</a></p> 
</div>
<!-- position end -->
<!-- box start -->
<div class="clearfix wrap">
 <div class="w_left">
   <font class="title"><img src="images/about-us.png"></font>
   <div class="subNav">
   <ul>
     <li class="subon" style="margin-left:200px;"><a href="about.html" class="current">渊源</a></li>
     <li><a href="footprint.html">足迹</a></li>
     <li><a href="stronghold.html">据点</a></li>
     <li><a href="honor.html">荣誉</a></li>
   </ul>
   </div>
   <div class="subNav_bd">
   <font class="f18 black">渊源</font>
   <div><img src="images/aboutus.png" width="686" height="463" border="0" usemap="#Map">
     <map name="Map">
       <area shape="rect" coords="37,16,232,192" href="http://www1.aston.ac.uk/" target="_blank">
     </map>
   </div>
   </div>
</div>
 {%include 'right_cluster.html'%}

</div>
<!-- box end -->
{%include 'bottom.html'%}
</body>
</html>
