<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>事业群集|B2B|B2C-杭州阿思拓电子商务有限公司</title>
<meta name="keywords" content="事业群集,杭州阿思拓电子商务有限公司,杭州阿思拓信息科技有限公司" />
<meta name="description" content="顺应我国电商行业和互联网时代大潮，在全体阿思拓人的不懈努力下，公司各项业务取得了高速发展，业务涵盖B2B、B2C、 国际EB、域名、流量等电子商务全领域。" />
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
{%include 'top.html'%}

<!-- position start -->
<div class="place">
 <p><a href="/">首页</a> > <a href="cluster.html">事业集群</a> > <a href="cluster.html" class="blue">B2B事业集群</a></p> 
</div>
<!-- position end -->
<!-- box start -->
<div class="clearfix wrap">
 <div class="w_left">
   <font class="title"><img src="images/career.png"></font>
   <div class="subNav">
   <ul class="w400">
     <li class="subon"><a href="cluster.html" class="current">B2B事业集群</a></li>
     <li><a href="b2c_cluster.html">B2C事业集群</a></li>
     <li><a href="mr_cluster.html">MR.I创新基地</a></li>
   </ul>
   </div>
   <div class="subNav_bd">
   <p>顺应我国电商行业和互联网时代大潮，在全体阿思拓人的不懈努力下，公司各项业务取得了高速发展，业务涵盖B2B、B2C、  国际EB、域名、流量等电子商务全领域。目前共拥有三大事业集群：</p>
     <strong class="tit">B2B事业集群</strong><br>
     <span class="s_pic"><img src="images/career_pic.jpg"></span>
     <p>致力于成为低碳经济领域最具影响力的信息服务供应商与管理专家，共包括再生网、环保网、节能网（筹）三大事业部，通过构建三位一体的低碳矩阵，致力于成长为低碳产业综合信息服务领导者。</p>
     <strong class="m_pic"><a href="http://www.zz91.com" target="_blank"><img src="images/zz91.com.png" align="middle"></a>再生网</strong>
     <p>再生网事业部拥有目前中国再生资源行业领先的信息平台（www.zz91.com），网站内容覆盖废塑料、废金属、废纸、废橡胶、废纺织、废旧电子电器、二手设备、
        综合废料及相关配套服务等八大再生资源细分行业咨询与交易信息，凭自身优势打造 "网、刊、会"三位合一的运营模式，是中国电子商务百强网站。</p>
     <strong class="m_pic"><a href="http://www.huanbao.com" target="_blank"><img src="images/huanbao.com.png" align="middle"></a>环保网</strong>
     <p>环保网事业部拥有顶级域名(www.huanbao.com)的环保行业网站，网站内容全面覆盖污水处理，原水处理，空气净化，环保材料药剂、通用配件、环卫清洁、仪器仪表等八大环保产业资讯与交易信息，目前正处于高速发展阶段。</p>
      <strong class="m_pic"><a href="http://www.jnmaimai.com" target="_blank"><img src="images/jieneng.png" align="middle"></a>节能网</strong>
     <p>节能网事业部（www.jnmaimai.com），顺应各界对节能减排的需求应运而生，目前正在筹建中。</p>
   </div>
</div>
{%include 'right_culture.html'%}

</div>
<!-- box end -->
{%include 'bottom.html'%}
</body>
</html>
