<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公司网站</title>
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
{%include 'top.html'%}

<!-- position start -->
<div class="place">
 <p><a href="/">首页</a> > <a href="focusing.html" class="blue">聚焦ASTO</a></p> 
</div>
<!-- position end -->
<!-- box start -->
<div class="clearfix wrap">
 <div class="w_left">
   <strong class="t_title">聚焦ASTO</strong>
   <div class="subNav f14">
   江干区委常委、纪委书记施华淼一行领导莅临MR.I基地参观指导
   </div>
   <div class="subNav_bd">
     <strong class="tit">B2C事业集群</strong><br>
     <p>致力于成为新兴消费品线上零售商，目前集中在婚庆产业链上拓展相关业务，旗下拥有忆红妆事业部，
        是杭城首家自主品牌的婚纱线上商城（综合排名稳居全国前三），秉着"每个女人都应拥有一套属于自己的完美婚纱，永久珍藏最美记忆"的理念，不断开拓进取，现业务规模正以300%的速度扩张。店铺网址（持续增加中）：</p>
     <strong><img src="images/c_pic.jpg"></strong>
     <p>（1）天猫店（http://yihongzhuang.tmall.com/）</p>
     <p>（2）淘宝店（http://shop69799582.taobao.com/）<br></p>
     <p>（3）京东店（http://mall.360buy.com/index-20007.html）<br></p>
     <p>（4）腾讯店（筹建中)</p>
     <p>（5）当当店（筹建中)</p>
   </div>
</div>
{%include 'right_culture.html'%}

</div>
<!-- box end -->
{%include 'bottom.html'%}
</body>
</html>
