<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2012，我们所经历过的价值拓展-ASTO聚焦-杭州阿思拓电子商务有限公司</title>
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
{%include 'top.html'%}

<!-- position start -->
<div class="place">
 <p><a href="/">首页</a>  ASTO聚焦 </p> 
</div>
<!-- position end -->
<!-- box start -->
<div class="clearfix wrap">
 <div class="w_left">
   <font class="title"><img src="images/title6.png"></font>
   <div class="subNav_bd">
     <p class="f18 blue" style="text-align:center">2012，我们所经历过的价值拓展</p>
     <br />
     <br />
     <p>2012拓展活动包含三个项目的室内外拓展训练，集快乐，紧张，刺激，感动于一体，相信此次拓展给每一位同学都留下了深刻而难忘的印象。那么，让我们一起走近2012拓展，一同感受来自“2012价值观拓展”的快乐与感动。</p>
     <p>“冲出亚马逊”</p>
     <p>此拓展项目类似扫雷游戏，分成四队（一队：嫦娥，二队：孤狼突击，三队：东方不败，四队：亮剑，互相分工合作，以第一个走出雷区为胜。</p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29162938.jpg"></p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29162956.jpg"></p>
     <p>罗马战车</p>
     <p>此拓展项目简单来讲，用竹竿搭建投石器（注水气球为炮弹），确定阵地，击垮对方阵营为胜。</p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/2916306.jpg"></p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29163016.jpg"></p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29163025.jpg"></p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29163046.jpg"></p>
     <p> </p>
     <p>卓越圈</p>
     <p>简单的游戏，团队合作，技巧加投入，以最快的速度团队成员全部完成过圈任务即获胜。</p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29163149.jpg"></p>
     <p>惩罚，相互鼓劲，这时我们离目标9秒1还有很大距离，我们需要更投入，我们可以走得更远。</p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/2916322.jpg"></p>
     <p>第三轮，我们在不断接近目标，这一刻，秒表上的数字成为了团队的唯一，每一位队员都必须全神贯注，否则团队并面临失败，现实就是这么残酷。</p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29163221.jpg"></p>
     <p>第四轮，是的，终于我们成功了，8秒、7秒，不可能的任务，我们用团队每一位队员的高度责任感攻下，经历了辛酸，残酷后成功的取得使我们兴奋不已。</p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29163252.jpg"></p>
     <p>随着卓越圈项目的完成，本次拓展训练也接近尾声，一天时间，给了我们太多惊喜和感动，价值观所倡导的简单、勤奋、开放、担当、主动、快速、严谨得到了完美诠释，保持一颗上进的心，我们需要走起来，走得更远。</p>
     <p align="center"><img src="http://img.zz91.com/upimages/newsfile/2012/6/29/29163410.jpg"></p>
<p align="center">&nbsp;</p>
<p>&nbsp;</p>
   </div>
</div>
{%include 'right_culture.html'%}

</div>
<!-- box end -->
{%include 'bottom.html'%}
</body>
</html>
