<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>据点-杭州阿思拓电子商务有限公司</title>
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
{%include 'top.html'%}

<!-- position start -->
<div class="place">
 <p><a href="/">首页</a> > <a href="about.html">关于我们</a> > <a href="stronghold.html" class="blue">据点</a></p> 
</div>
<!-- position end -->
<!-- box start -->
<div class="clearfix wrap">
 <div class="w_left">
   <font class="title"><img src="images/about-us.png"></font>
   <div class="subNav">
   <ul>
     <li style="margin-left:200px;"><a href="about.html">渊源</a></li>
     <li><a href="footprint.html">足迹</a></li>
     <li class="subon"><a href="stronghold.html" class="current">据点</a></li>
     <li><a href="honor.html">荣誉</a></li>
   </ul>
   </div>
   <div class="subNav_bd">
   <font class="f18 black">据点</font>
     <div class="adress clearfix">
       <dl class="pt25 w_box">
          <dt class="pic"><img src="images/s_pic01.png"></dt>
          <dd class="wrap_d">2005年3月16日<br>正式在聚景阁01室办公，创业之路正式起步。</dd>
       </dl>
       <dl class="pt25 w_box">
          <dt class="pic"><img src="images/s_pic02.png"></dt>
          <dd class="wrap_d">2006年7月<br>随着员工不断扩大，公司搬入耀江广厦一千平方米的地下室。</dd>
       </dl>
       <dl class="pt25 w_box">
          <dt class="pic"><img src="images/s_pic03.png"></dt>
          <dd class="wrap_d">2010年1月1日<br>杭州阿思拓信息科技有限公司总部整体迁往钱江国际商务中心，实现新的腾飞。</dd>
       </dl>
       <dl class="p25 w_box">
          <dt class="pic"><img src="images/s_pic04.jpg"></dt>
          <dd class="wrap_d">2010年6月16日<br>ZZ91再生网--杭州阿思拓信息科技有限公司总部于2010年6月16日整体迁往<br>
          东方电子商务园13栋，并成立阿思拓电子商务有限公司。</dd>
       </dl>
     </div>
   </div>
</div>
{%include 'right_cluster.html'%}

</div>
<!-- box end -->
{%include 'bottom.html'%}
</body>
</html>
