@charset "utf-8";

body{background:#f3e3c9}
.block{}
.top{height:415px;background:url(../images/top.jpg) no-repeat;background-position:center}
.img1{width:958px;height:971px;margin:0 auto;background:url(../images/img1.jpg) no-repeat;background-position:center;position:relative;}
.imgblock{overflow:hidden}
.img2{width:958px;height:1331px;margin:0 auto;background:url(../images/img2.jpg) no-repeat;background-position:center}
.img3{width:958px;height:328px;margin:0 auto;background:url(../images/img3.jpg) no-repeat;background-position:center}
.img-a1{width:410px;height:140px;display:block;margin-top:240px;margin-left:40px;float:left}
.img-a2{width:410px;height:140px;display:block;margin-top:120px;margin-left:40px;float:left}
.img-a3{width:410px;height:140px;margin-top:150px}
.img-a4{width:410px;height:140px;margin-top:175px}



.SonlineBox{ width:107px; font-size:12px;overflow:hidden;z-index:9999;position:absolute}
.SonlineBox .contentBox{ width:107px; height:auto; position:absolute; z-index:10;}
.floatBox1{width:107px;height:24px;background:url(../images/icon1.jpg) no-repeat}
.floatBox2{width:87px;background:#fff;text-align:center;padding:5px 10px}
.floatBox2 ul li{text-align:left;line-height:24px;color:#444}
.floatBox2 ul li a{cursor:pointer}
.floatBox2 ul li a:hover{color:#2479b0;text-decoration:none}
.floatBox3{height:25px;line-height:25px;background:#47adef;text-align:center;font-size:14px;color:#fff;margin:10px 0}
.floatBox4{width:107px;height:25px;background:#2479b0;text-align:center;line-height:24px}
.floatBox4 a{color:#fff;font-size:14px;cursor:pointer;font-family:"微软雅黑"}
.floatBox4 a:hover{text-decoration:none;color:#fff}




