html,body{
	font-size: 40px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	font-family:"Microsoft YaHei","微软雅黑","source Han Sans","STHei","华文黑体","Helvetica Neue",Helve;
	min-width: 7.5rem;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	color: #fff;
}
img{
	vertical-align: top;
}
.title{
	width: 100%;
	height: 1.1rem;
	background: #009241;
	float: left;
}
.title-con{
	width: 7.5rem;
	height: 100%;
	color: #fff;
	margin: 0 auto;
	padding-top: 0.3125rem;
}
.title-icon{
	display: block;
	width: 0.2625rem;
	height: 0.4625rem;
	float: left;
}
.title-icon img{
	width: 100%;
	height: 100%;
}
.title-return{
	display: block;
	float: left;
	font-size: 0.4rem;
	height: 0.4625rem;
	line-height: 0.4625rem;
	text-indent: 0.125rem;
}
.content{
	width: 100%;
	height: auto;
	float: left;
}
.content-main{
	width: 7.5rem;
	height: auto;
	margin: 0 auto;
}
.content-maintile{
	width: 100%;
	height: 1.9rem;
	float: left;
	padding-top: 0.375rem;
}
.content-maintitle-img{
	width: 1.5rem;
	height: 1.5rem;
	float: left;
}
.content-maintitle-img img{
	width: 100%;
	height: 100%;
}
.content-maintile h2{
	float: left;
	font-size: 0.525rem;
	font-weight: normal;
	height: 1.5rem;
	padding-left: 0.1875rem;
	padding-top: 0.1rem;
}
.content-main-titlecon{
	width: 100%;
	float: left;
	font-size: 0.525rem;
	color: #333333;
	padding-top: 0.475rem;
	padding-bottom: 0.375rem;
}
.jianjie p{
	font-size: 0.375rem;
	letter-spacing: 0.025rem;
	color: #595959;
	line-height: 0.6rem;
}
.zhuying a{
	display: block;
	font-size: 0.375rem;
	letter-spacing: 0.025rem;
	color: #3e689c;
	line-height: 0.6rem;
	padding-bottom: 0.25rem;
}
.lianxi p{
	font-size: 0.375rem;
	letter-spacing: 0.025rem;
	line-height: 0.6rem;
	color: #595959;
	padding: 0 0 0.275rem 0.425rem;
}
.wangzhi{
	display: block;
	line-height: 0.75rem;
	padding-left: 0.1875rem;
	padding-bottom: 1.375rem;
}
.wangzhi-img{
	width: 0.625rem;
	height: 0.475rem;
	float: left;
}
.wangzhi-img img{
	width: 100%;
	height: 100%;
}
.wangzhi p{
	float: left;
	font-family: "宋体";
	height: 0.475rem;
	line-height: 0.48rem;
	font-size: 0.45rem;
	color: #333333;
	text-decoration: underline;
	padding-left: 0.0625rem;
}
.content-titleimg{
	width: 6rem;
	height: 8.6rem;
	margin: 0 auto;
	padding-top: 0.625rem;
}
.content-titleimg img{
	width: 100%;
	height: 100%;
}
.content-title ul{
	float: left;
	margin-bottom: 0.625rem;
}
.content-title ul li{
	width: 3.75rem;
	height: 3.75rem;
	float: left;
}
.content-title ul li img{
	width: 100%;
	height: 100%;
}
.content-main-title{
	width: 100%;
	float: left;
	font-size: 0.375rem;
	font-weight: bold;
	color: #595959;
	letter-spacing: 0.0375rem;
	padding-top: 0.6875rem;
	padding-bottom: 0.5rem;
}
.content-main-box p{
	font-size: 0.375rem;
	letter-spacing: 0.025rem;
	color: #595959;
	line-height: 0.6rem;
	padding-bottom: 0.125rem;
	font-weight: normal;
}
.content-main-boxcon{
	padding-top: 0.5rem;
}
.ps{
	font-size: 0.35rem;
	color: #737373;
	padding: 0.375rem 0 2.375rem;
}
