.clearfix:after { clear: both; content: " "; display: block; height: 0; visibility: hidden;}
.clearfix { zoom:1;}
.clearboth{ clear:both;}
.clearfix { display:block;}
html .mt { margin-top: 8px;}
html .mt2 { margin-top: 16px;}
.red { color: #f00;}
.green { color: #009000;}

#webAccess { clear: both;}

.wrapper { margin: 0 auto; width: 958px;}
.col-main { float: left; width: 770px;}
.col-sub { float: right; width: 180px;}

.col-main .tag-list { margin-bottom: 20px; line-height: 18px; font-size: 14px;}
.col-main .tag-list dt { float: left;}
.col-main .tag-list dd { float: left; margin: 0 10px; height: 18px;}
.col-main .tag-list dd a { display: block; padding: 0 5px; background-color: #009000; color: #fff;}
.col-main .tag-list dd a:hover { background-color: #fff; color: #009000;}

.col-main .info-wrap {}
.col-main .info-wrap .info-hd { border-bottom: 1px solid #009000; line-height: 22px;}
.col-main .info-hd h2 { float: left; padding-left: 15px; background: url(../images/tag_deco.png) left no-repeat; color: #009000; font-size: 14px;}
.col-main .info-hd .total { float: right;} 
.col-main .info-bd .item { margin: 0 15px; padding: 15px 0 5px; border-bottom: 1px dashed #009000; line-height: 24px;}
.col-main .info-bd .item h4 { float: left; padding-left: 15px; background: url(../images/tag_deco2.gif) left no-repeat; font-size: 14px; font-weight: bold;}
.col-main .info-bd .item .brand { float: left; padding: 0 15px;} 
.col-main .info-bd .item .cpy { float: left; color: #03f;}
.col-main .info-bd .item .t { float: right; color: #474747;}
.col-main .info-bd .item p { clear: both; line-height: 20px;}

.col-main .info-wrap .cmore { margin-top: 15px; height: 23px; background-color: #bcffd2; border: 1px solid #009000; line-height: 23px; text-align: center;}
.col-main .info-wrap .cmore a { color: #009000; font-size: 14px; font-weight: bold}

.col-main .info-wrap .info-list { margin: 0 15px;}
.col-main .info-wrap .info-list li { padding: 10px 10px 0 15px; height: 22px; background: url(../images/tag_deco2.gif) left 16px no-repeat; border-bottom: 1px dashed #009000; line-height: 22px;} 
.col-main .info-wrap .info-list li a { float: left}
.col-main .info-wrap .info-list li span { float: right;}

.sub-wrap { border: 1px solid #009000;}
.sub-wrap .sub-hd { height: 29px; background: url(../images/tag_sub_hd.png) repeat-x; line-height: 29px; font-size: 14px; text-align: center; color: #fff; font-weight: bold }
.sub-wrap .sub-hd a { color: #fff;}
.sub-wrap .sub-bd { padding: 10px 5px;}
.sub-wrap .list { padding: 0 0 10px;}
.sub-wrap .list li { line-height: 18px;}
.sub-wrap .list li.t { text-align: right;}
.sub-wrap .list li.t a { float: left; text-align: left }
.sub-wrap .cmore { display: block; color: #009000; font-weight: bold; text-align: center}


.sub-wrap .relate li { display: inline; padding: 0 3px; font-size: 14px; line-height: 26px;}  
.sub-wrap .relate .o1 a { color: #ff6701;}
.sub-wrap .relate .o2 a { color: #0084ff;}



#J-right .price, #J-right .daohang { overflow: hidden; zoom: 1;}
#J-right .price li, #J-right .daohang li { float: left; padding-left: 5%; width: 45%; line-height: 20px;}

#J-left .daohang, #J-left .price { padding: 10px 0 0; overflow: hidden; zoom: 1;}
#J-left .daohang li, #J-left .price li { float: left; padding-left: 3%; width: 22%; line-height: 22px;}

