/* CSS Document */
.t
{
	color:#999;
}
.tags_mainleft {
	float: left;
	width: 730px;
	border: 1px solid #45BF52;
}
.tags_mainright {
	float: right;
	width: 220px;
}
.tags_mainleft .tags_nav {
	background-color: #F4F3E8;
	height: 25px;
	line-height: 25px;
	padding: 3px;
	clear: both;
}
.tags_mainleft .tags_nav .tags_keywleft {
	float: left;
	width: 50px;
}
.tags_mainleft .tags_nav .tags_keywords {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	float: left;
}
.tags_mainleft .tags_nav .tags_keywright {
	float: left;
}
.tags_nav .tagsothers
{
	width:430px; float:right
	
}

.tags_nav .tagsothers a
{
	background-color:#F0F0F0;
	border: 1px solid #CCC;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 6px;
}
.tags_nav .tagsothers .on
{
	color: #FFF;
	background-color: #090;
}
.tags_nav .tagsothers a:hover
{
	color: #FFF;
	background-color: #090;
}
.tags_mainleft .tags_navtitle {
	height: 25px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #2AAE3E;
	line-height: 25px;
	margin: 5px;
	background-color: #090;
	color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
}

.tags_mainleft .tags_navtitle a{
	color:#FFF;
}

.tags_mainleft .mt.tags_navtitle h2 {
	float: left;
	width: 350px;
	font-weight: bold;
	font-size: 14px;
}
.tags_mainleft .tags_tradecontent {
	padding: 6px;
	float: left;
}
.tags_mainleft .tags_tradecontent dl {
	height: 25px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 700px;
}

.tags_mainleft .tags_tradecontent dl dt {
	font-size: 14px;
	font-weight: bold;
	float: left;
	width: 320px;
	padding-left:10px;
	list-style-type: disc;
	background-image: url(../images/tag_deco2.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.tags_mainleft .tags_tradecontent dl dd {
	float: left;
	margin-right: 20px;
	white-space:nowrap;
	text-align: -webkit-match-parent;
	line-height:22px;
}
.tags_mainleft .tags_tradecontent .timeright
{
	float:right;
}
.tags_mainleft .tags_tradecontent .tags_tradedetail .tradeimg {
	width: 90px;
	float: left;
	margin-right: 10px;
	margin:5px;
}
.tags_mainleft .tags_tradecontent .clearboth .tags_tradedetail .tradeimg img {
	width: 80px;
}

.tags_mainleft .tags_tradecontent .tags_tradedetail .tradecontent {
	font-size: 12px;
	line-height: 22px;
	float: left;
	color: #666;
	width: 590px;
}
.tags_mainleft .tags_tradecontent .tags_tradedetail {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #090;
	clear: both;
	display: block;
	float: left;
	margin-bottom: 10px;
}
.tags_mainleft .tags_tradecontent .dotline
{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
}
.tags_mainleft .tags_tradecontent .pricetitle
{
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;	
	width:450px;
}
.tags_mainleft .tags_tradecontent .tags_newsbox {
	padding: 6px;
	line-height: 22px;
}
.tags_mainleft .tags_tradecontent .tags_newsbox .newsboxleft {
	float: left;
	width: 340px;
}
.tags_mainleft .tags_tradecontent .tags_newsbox .newsboxright {
	float: right;
	width: 340px;
}
.tags_mainleft .tags_tradecontent .tags_newsbox .newstitle
{
	font-weight:bold;
}
.tags_mainleft .tags_tradecontent .tags_newsbox ul li
{
	float: left;
	width: 340px;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap
	}

.tags_mainright .tagsrightbox {
	border: 1px solid #088D27;
}
.tags_mainright .tagsrightbox1 {
	border: 1px solid #999;
}
.tags_mainright .tagsrightbox .tagsrighttitle {
	background-image: url(../images/tag_sub_hd.png);
	height: 29px;
	color: #FFF;
	text-align: center;
	line-height: 29px;
	font-size: 14px;
	font-weight: bold;
}
.tags_mainright .tagsrighttitle1 {
	background-image: url(../images/tag_sub_hd.jpg);
	height: 29px;
	color: #000;
	text-align: center;
	line-height: 29px;
	font-size: 14px;
	font-weight: bold;
}
.tags_mainright .tagsrightbox .tagsrightcontent {
	padding: 5px;
	line-height: 22px;
}
.tagsrightbox1 .tagsrightcontent {
	line-height: 22px;
	padding: 5px;
	clear: both;
}

.tagsrightbox .tagsrightcontent ul li {
	float: left;
	width: 100px;
}
.tagsrightbox1 .tagsrightcontent ul li {
	float: left;
	margin-right: 7px;
}
.o1
{
	color:#F60;
}
.o2
{
	color:#039;
}
.cmore
{
	margin-bottom:20px;
}
.cmore .red,.cmore a{
	background-color:#F0F0F0;
	border: 1px solid #CCC;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 6px;
}
.cmore .red
{
	background-color:#090;color:#FFF;fonf-weight:blod;
}
.cmore a:hover
{
	background-color:#090;color:#FFF;fonf-weight:blod;
}
.tagstab{
	width:710px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

.tagstab a:link{
	display:block;
	float:left;
	padding:5px;
	margin-right:5px;
	background-color:#ebebeb;
	color:#000;
	margin-left: 5px;
	border: 1px solid #666;	
	font-weight:bold;
}
.tagstab a:hover{
	background-color: #FF9;	
	
}
.tagstab .off
{
	background-color:#f2f2f2;
	color:#000;
	border: 1px solid #999;
}