@charset "utf-8";
body{background:#ead7b6}
.pm-top{height:403px;background:url(../images/header.jpg) no-repeat;background-position:center}

.pm-main{width:960px;margin:20px auto;margin-bottom:50px}
.pm-item{width:960px;background:#fff;margin-top:20px}
.pm-item-title{height:65px;background:url(../images/item_bg.jpg) repeat-x}
.pm-item-content{padding:20px}
.pm-box1{width:212px;height:252px;background:url(../images/img1.jpg) no-repeat;float:left;margin-right:10px}
.pm-box1 a{width:193px;height:152px;display:block;margin:10px}
.pm-box2{width:212px;height:252px;background:url(../images/img2.jpg) no-repeat;float:left;margin:0 10px}
.pm-box2 a{width:193px;height:152px;display:block;margin:10px}
.pm-box3{width:212px;height:252px;background:url(../images/img3.jpg) no-repeat;float:left;margin:0 10px}
.pm-box3 a{width:193px;height:152px;display:block;margin:10px}
.pm-box4{width:212px;height:252px;background:url(../images/img4.jpg) no-repeat;float:left}
.pm-box4 a{width:193px;height:152px;display:block;margin:10px}
.pm-box5{width:212px;height:252px;background:url(../images/img1.jpg) no-repeat;float:left;margin-right:10px}
.pm-box5 a{width:193px;height:152px;display:block;margin:10px}
.pm-box6{width:212px;height:252px;background:url(../images/img2.jpg) no-repeat;float:left;margin:0 10px}
.pm-box6 a{width:193px;height:152px;display:block;margin:10px}
.pm-box7{width:212px;height:252px;background:url(../images/img3.jpg) no-repeat;float:left;margin:0 10px}
.pm-box7 a{width:193px;height:152px;display:block;margin:10px}
.pm-box8{width:212px;height:252px;background:url(../images/img4.jpg) no-repeat;float:left}
.pm-box8 a{width:193px;height:152px;display:block;margin:10px}

.pm-block{width:450px}
.pm-block-img{width:212px;height:201px;float:left}
.pm-block-text{width:218px;float:right;line-height:24px;margin-top:10px}

.pm-item-news{width:450px}
.pm-item-news li{line-height:30px}
.pm-item-news li a{font-size:14px}


.pm-rolling-img{position:relative; width:840px; margin:0px auto;OVERFLOW: hidden; HEIGHT: 213px;}
.pm-rolling{width:920px;position:relative}
.pageLR {Z-INDEX: 1000; LEFT: 0px; WIDTH: 100%; top:80px; position:absolute; }
.pageLeft {BACKGROUND: url(../images/item_left.jpg) no-repeat left top; FLOAT: left; WIDTH: 36px; CURSOR: pointer; HEIGHT: 64px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/pageLeft.png"); _background: none}
.pageRight {BACKGROUND: url(../images/item_right.jpg) no-repeat right top; FLOAT: right; WIDTH: 36px; CURSOR: pointer; HEIGHT: 64px;_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/pageRight.png"); }
.pageROver {BACKGROUND: url(../images/pageRightOver.png) no-repeat right top; FLOAT: right; WIDTH: 32px; CURSOR: pointer; HEIGHT: 48px;_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/pageRightOver.png"); }

.rexiaoPic {OVERFLOW: hidden; WIDTH: 840px; HEIGHT: 243px}
.sell_order {BACKGROUND: url(../images/rexiaoPicBg2.gif) repeat-x 0px 0px; WIDTH: 9999px; POSITION: absolute;}
.rexiaoPic LI {BACKGROUND: url(../images/rexiaoPicBg.gif) no-repeat right center; FLOAT: left;width:260px;height:210px;margin-right:20px}