@charset "utf-8";
/*** comm ***/
.zt_mk{ width:958px; margin:0 auto;}
.zt_mk img{ vertical-align:bottom;}
.zt_panel{ position:relative;}
.zt_panel_p14 p{ font:14px/24px '宋体';}
.bold{ font-weight:bold;}

/*** lantern ***/
body{ background-color:#c60000;}
.lan_mk2_p{ background:url(../images/lantern_06.jpg);height:192px; padding:30px 10px 25px 10px; color:#D01818}
.lan_mk2_p p{  text-indent:2em;}
.lan_mk2_p em{ color:#FF0000;}
.lan_mk4_p p{ position:absolute; width:290px; color:#454645; text-indent:2em;}
.lan_mk4_p p em{ color:#C30101;}