@charset "utf-8";
/* CSS Document */

/*更多按钮*/
.moreTable{border-top:1px solid #FFF;height:72px;width:100%;height:40px;}
.moreTable td{vertical-align:top;}
.moreLeft{width:100%;border-top:1px solid #CCC;height:10px;float:left;background: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6),to(#fff) );}
.moreRight{width:100%;border-top:1px solid #CCC;height:10px;float:left;background: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6),to(#fff) );}
.moreButton{margin:0px auto;background-color:#F7F7F7;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),to(#e6e6e6) );border-top:1px solid #ccc;border-right:1px solid #CCC;border-bottom: 1px solid #CCC;border-left:1px solid #CCC; -webkit-border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px;width:98px;height:40px;line-height:40px;float:left;text-align:center; color:#333;}

.moreTable-loading{height:72px;width:100%;height:40px;}
.moreTable-loading td{vertical-align:top;}
.moreLeft-loading{width:100%;border-top:1px solid #DDD;height:10px;float:left;background: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB),to(#FFF) );}
.moreRight-loading{width:100%;border-top:1px solid #DDD;height:10px;float:left;background: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB),to(#FFF) );}
.moreButton-loading{margin:0px auto;background-color:#FFF;border-top:1px solid #FFF;border-right:1px solid #DDD;border-bottom: 1px solid #DDD;border-left:1px solid #DDD; -webkit-border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px;width:98px;height:40px;line-height:40px;color:#999;float:left;text-align:center;}

.more-app{height:56px;line-height:56px;text-align:center;border-bottom:1px solid #ccc;background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1),to(#e6e6e6) );background-color:#f7f7f7;}
.more-app-loading{color:999;height:56px;line-height:56px;text-align:center;border-bottom:1px solid #ccc;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),to(#e6e6e6) );background-color:#f7f7f7;}












