@charset "utf-8";
/* CSS Document */
/*类目以及表格形式的子类目*/
.cate-tb{width:100%;margin:0;padding:0;border-top:1px solid #CCC;border-right:1px solid #CCC;}
.cate-tb td{width:33%;margin:0;padding:0;border-left:1px solid #CCC;border-bottom:1px solid #CCC;line-height:38px;text-align:center;}

.cate-title{height:40px;line-height:40px;padding-left:10px;padding-right:20px;border-bottom:1px solid #ccc;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),to(#e6e6e6) );box-shadow:0px -1px 0 #fff inset;}
.cate-title a{display:block;text-decoration:none;}
.cate-title-now{height:40px;line-height:40px;padding-left:10px;padding-right:20px;border-bottom:1px solid #ccc;}
.cate-tb-inner{width:100%;margin:0;padding:0;border-spacing:0;}
.cate-tb-inner td{width:33%;margin:0;padding:0;background-color:#f1f1f1;border-left:1px solid #CCC;border-bottom:1px solid #CCC;line-height:38px;text-align:center;vertical-align:middle;}
.cate-tb-inner td:first-child{width:33%;margin:0;padding:0;background-color:#f1f1f1;border-left:none;border-bottom:1px solid #CCC;line-height:38px;text-align:center;vertical-align:middle;}
.cate-down{float:right;width:16px;height:40px;background-image: url(/images/info.png);background-position: -102px -122px;background-repeat: no-repeat;}
.cate-up{float:right;width:16px;height:40px;background-image: url(/images/info.png);background-position: -72px -122px;background-repeat: no-repeat;}
.cate-tb-inner .shadow{border-top:1px solid #d5d5d5;border-bottom:1px solid #f1f1f1;}

/*club-app*/
.cate-header{height:40px;line-height:40px;font-size:16px;padding-left:10px;padding-right:20px;border-bottom:1px solid #ccc;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),to(#e6e6e6) );box-shadow:0px -1px 0 #fff inset;}
.cate-inner-tb{width:100%;margin:0;padding:0;border-spacing:0;}
.cate-inner-tb td{width:33%;margin:0;padding:0;border-left:1px solid #CCC;border-bottom:1px solid #CCC;line-height:38px;text-align:center;vertical-align:middle;}
.cate-inner-tb td:first-child{width:33%;margin:0;padding:0;border-left:none;border-bottom:1px solid #CCC;line-height:38px;text-align:center;vertical-align:middle;}
