@charset "utf-8";
/* CSS Document */
/* wap新公共视觉css @2012-2-7*/
*{margin:0;padding:0;font-size:14px;color:#333;}/*不可以加行高*/
table{border-spacing:0;font-size:inherit;}
a{text-decoration:none;}
a:link,a:visited,a:active,a:hover{color:#0667AC;}

/*颜色*/
.c-f {color: #fff;}
.c-c {color: #ccc;}
.c3 {color: #333;}
.c4 {color: #444;}
.c5 {color:#555;}
.c6 {color: #666;}
.c9 {color: #999;}
.c0 {color: #000;}
.c-link{color:#0667AC;}
.c-gray1{color:#d7d7d7;}
.c-hl{color:#ff5400;}

/*对齐相关*/
.ac{text-align:center;}
.ar{text-align:right;}
.al{text-align:left;}
.fl{float:left;}
.fr{float:right;}

/*边距相关*/
.pd10{padding:10px;}
.pt10{padding-top:10px;}
.pl10{padding-left:10px;}
.pb10{padding-bottom:10px;}
.pr10{padding-right:10px;}
.mg10{margin:10px;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
.pt7{padding-top:7px;}
.pb7{padding-bottom:7px;}
.mt7{margin-top:7px;}
.mb7{margin-bottom:7px;}

/*字体大小*/
.f12{font-size:12px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.b{font-weight:bold;}

/*高度相关*/
.lh22{line-height:22px;}
.lh28{line-height:28px;}
.lh28-all{line-height:28px;}
.lh28-all *{line-height:28px;}
.h8{height:8px;}
.h20{height:20px;}

/*border*/
.bt-c{border-top:1px solid #ccc;}
.br-c{border-right:1px solid #ccc;}
.bb-c{border-bottom:1px solid #ccc;}
.bl-c{border-left:1px solid #ccc;}
.bt-dotted-c{border-top: dotted 1px #cccccc;}
.bb-dotted-c{border-bottom: dotted 1px #cccccc;}

/*raduis*/
.b-r-2{border-radius:2px;}
.btl-r-2{border-top-left-radius:2px;}
.btr-r-2{border-top-right-radius:2px;}
.bbl-r-2{border-bottom-left-radius:2px;}
.bbr-r-2{border-bottom-right-radius:2px;}

/*位置：相对，绝对*/
.ps-abs{position:absolute;}
.ps-rlt{position:relative;}

/*背景色*/
.bg-f2e{background: -webkit-gradient(linear, 0 0%, 0 100%, from(#fff),to(#eee));background-color: #F7F7F7;}

/*bar*/
.title-bar{padding:12px 10px;height:14px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:-webkit-gradient(linear, 0 0%, 0 100%, from(#fff),to(#e6e6e6));background-color:#f7f7f7;}
.subheader{height:40px;line-height:40px;background-color:#f7F7F7;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee) );border-bottom:1px solid #CCC;padding-left:10px;font-size:16px;color:#333;box-shadow:0px -1px 0px #fff inset}

/*列表页的div*/
.list{margin-top:6px;}
.list .item{border-bottom:1px solid #CCC;padding:7px 10px;}

/*list-app*/
.list-app{margin-top:4px;}
.list-app .item-app{border-bottom:1px solid #CCC;padding:8px 10px;}
.list-app .item-app .title{padding-bottom:4px;line-height:22px;}
.list-app .item-app .content{line-height:22px;color:#555;}

.icon-auth{display:inline-block;width:13px;height:12px;padding-right:4px;background-image: url(/images/info.png);background-position: -10px -380px;background-repeat: no-repeat;}
.icon-reply{display:inline-block;width:13px;height:12px;padding-right:4px;margin-left:8px;background-image: url(/images/info.png);background-position: -44px -379px;background-repeat: no-repeat;}
.icon-time{display:inline-block;width:13px;height:12px;padding-right:4px;margin-left:8px;background-image: url(/images/info.png);background-position: -81px -379px;background-repeat: no-repeat;}

/*按钮*/
.comm-btn-auto{
	height:34px;
	line-height:34px;
	text-align:center;
	border:1px solid #56D356;
	border-radius:2px;
	background-color:#090;
	box-shadow:1px 1px 0 #56D356 inset;
	color:#fff;
	text-shadow:#56D356 1px 1px 1px;
	width:100%;
	background-position: 0 0;
}
.comm-btn-2w{
	height:34px;
	border:1px solid #EE7510;
	border-radius:2px;
	background-color:#090;
	color: white;
	width: 82px;
}
.comm-btn-main{
	height:36px;
	padding-left:25px;
	padding-right:25px;
	color:#fff;
	border:1px solid #EE7510;
	border-radius:2px;
	background-color:#090;
	box-shadow:1px 1px 0px #FFA530 inset;
	background-position: 0 0;
}
.comm-btn-secondary{height:36px;padding-left:14px;padding-right:14px;border:1px solid #ccc;border-radius:2px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6) );background-color:#f7f7f7;box-shadow:1px 1px 0px #fff inset;}


/*分隔线*/
.separator-line{border-top:1px dashed #ccc;mrgin-top:7px;padding-top:14px;}

/*提醒*/
.tips{height:36px;line-height:36px;border:1px solid #FFAA4D;border-radius:2px;background-color:#FEFAD5;margin:0px 10px 0px 10px;text-align:center;}

/*返回的html*/
.return-html table{margin:5px 0px;border-style:solid;border-color:#ccc;border-width:1px 1px 0 0;}
.return-html td{padding:2px;border-style:solid;border-color:#ccc;border-width:0 0 1px 1px;}
.wbottom
{
	clear:both;
	text-align:center;
	font-size: 14px;
	line-height: 30px;
	color: #666;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #090;
}
.suc
{
	line-height: 25px;
	background-color: #FFC;
	text-align: center;
	border: 1px solid #F90;	
}