@charset "utf-8";
/* CSS Document */

/* ----主页topNews topPrice */
.index-top-list {background-color: #fff;border: 1px solid #CCCCCC;border-bottom-style: none;border-radius: 0px;margin: 15px;}
.index-top-list li {border-bottom: 1px solid #CCCCCC;}
.index-top-list li:first-child {background-color: #fefbec;color: #000;text-align: center;padding: 8px 0 9px 0;border-bottom: 1px solid #CCCCCC;text-align: left;padding-left: 15px;font-weight: bold;color: #333333;height: 14px;background: -webkit-gradient(linear, 0 0, 0 50%, from(white),to(#EEEEEC) );}
.index-top-list li .arrow {float: right;padding-right: 17px;background: url(/images/mobile-wap-img.png);background-repeat: no-repeat;background-position: 33px -1101px;}
.index-top-list li .arrow2 {float: right;background: url(/images/mobile-wap-img.png);background-repeat: no-repeat;background-position: right -2293px;}
.index-top-list li a {background-position: right -450px;display: block;padding: 8px 15px;}
.index-top-list li a * {vertical-align: middle;}

/* index-industry-list */
.index-industry-list {border-top: 1px solid #CCC;padding: 10px 15px;display: block;background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#EEEEEC) );}
.index-industry-list .img {float: left;width: 90px;height: 60px;}
.index-industry-list .img {background-image: url(http://style.s.alibaba.com/style/css/page/pp.jpg);}
.index-industry-list .desc {margin-left: 100px;}
.index-industry-list .desc p {color: #999;}
.index-industry-list .p1 {background-position: 0 0;}
.index-industry-list .p2 {background-position: 0 -60px;}
.index-industry-list .p3 {background-position: 0 -120px;}
.index-industry-list .p4 {background-position: 0 -180px;}
.index-industry-list .p5 {background-position: 0 -240px;}
.index-industry-list .p6 {background-position: 0 -300px;}
.index-industry-list .p7 {background-position: 0 -360px;}
.index-industry-list:hover {text-decoration: none;background-color: #fefbec;}
/*--cate1~7--*/
.tradeTbl {width:100%;height:40px;}
.tradeTbl td{line-height:16px;text-align:center;width:100%;height:38px;vertical-align:middle;}

/*download*/
.download{padding-top:6px;}
.download .dl-list{padding:14px 10px 12px 15px;border-bottom:1px solid #ccc;}
.download .img{float:left;width:48px;height:48px;}
.download .dl-text{margin-left:62px;}
.download .dl-text .title{padding-bottom:8px;}
.download .dl-text .btn{margin-top:8px;}
.dl_title .dl_img{float:left;margin:10px;}
.dl_title .dl_text{float:left;padding-top:15px;}
.dl_title .dl_btn{float:right;margin:10px;margin-left:0;}
.download-btn-sqare{background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FAFAFA), to(#E7E7E7));border:1px solid #cccccc;width:30px;height:35px;padding:6px 8px;}
.dl_title .dl_btn a{text-decoration:none;color:#000000;}
.download-btn{background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FAFAFA), to(#E7E7E7));line-height: 20px;border: 1px solid #CCC;padding: 3px 20px;margin:10px;}
.download-content{border-top:1px solid #cccccc;margin:0 10px 10px 10px;display:block;clear:both;}
.download-content p{margin:15px 0;}
.android-pic{margin:20px 0;}

/*首页*/
.more-1{height:48px;line-height:48px;padding-left:10px;border-bottom:1px dashed #ccc;}

.op-list{padding:12px 10px;background-color:#f1f1f1;border-top:1px solid #ccc;}
.op-list-inner{border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-radius:2px;}
.op-list-item{padding:10px 0;border-bottom:1px solid #ccc;background-color:#fff;}
.op-list-item-icon{padding:0 12px;}
.op-list-item-icon img{width:24px;height:24px;}
.op-list-item-txt{line-height:24px;margin-left:48px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.srv-bar{padding:0 10px 6px 10px;}
.srv-bar ul {width:100%;display:table;border-collapse:collapse;margin:0px;margin:14px 0;}
.srv-bar li{display:table-cell;text-align:center;vertical-align:top;width:25%;}
.srv-bar img{width:48px;height:48px;}
.srv-bar .srv-txt{padding-top:10px;}

.sch-top{height:2px;}
.sch-bottom{padding:2px 0 12px 0;margin:0 10px;border-bottom:1px dashed #ccc;}

.title-bar .right-arrow{float:right;width:8px;height:14px;background-image:url('/images/info.png');background-repeat:no-repeat;background-position:-154px -410px;}
.ios-tips{position:fixed;height:92px;bottom:0px;width:100%;}
.ios-tips .tip-body{position:relative;border-radius:2px;border:1px solid #ccc;width:240px;margin:0 auto;height:84px;background-color:#f7f7f7;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6) );}
.ios-tips .ios-icon{width:32px;height:32px;margin-top:14px;margin-left:10px;background-image:url('/images/info.png');background-repeat:no-repeat;background-position:-245px -402px}
.ios-tips .desk{display:inline-block;width:15px;height:13px;background-image:url('/images/info.png');background-repeat:no-repeat;background-position:-175px -409px}
.ios-tips .ios-txt{padding:10px;}
.ios-tips .tip-arrow-outer{margin:0 auto;width:12px;}
.ios-tips .tip-arrow{position:absolute;width:12px;height:8px;top:85px;background-image:url('/images/info.png');background-repeat:no-repeat;background-position:-223px -413px}
.ios-tips .ios-close{position:absolute;right:9px;top:9px;width:10px;height:10px;background-image:url('/images/info.png');background-repeat:no-repeat;background-position:-202px -412px}

.ajaxTopPrice ul {width:100%;display:table;border-collapse:collapse;margin:0px;border-bottom:1px dashed #ccc;}
.ajaxTopPrice li:first-child{border-right:none;}
.ajaxTopPrice li:last-child{border-right:none;}
.ajaxTopPrice li {display:table-cell;text-align:center;vertical-align:top;height:44px;line-height:44px;}
.ajaxTopPrice li a {display:block;height:100%;width:100%;line-height:44px;color:#333;}

/*页尾*/
.t-footer {clear:both;}
.t-footer a{color:#666}
.t-footer .bar{height:32px;line-height:32px;padding:0 10px;border-bottom:solid 1px #ccc;box-shadow:0px -1px 0px #fff inset;background-color:#f7f7f7;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee) );}	
.t-footer .link{padding:18px 0;}
.t-footer .top-pic{width:12px;background-image: url('/images/info.png');background-repeat: no-repeat;background-position: -60px -92px;}
.t-footer .top-txt{padding-right:8px;}
.t-footer .mb8{margin-bottom:8px;}
.t-footer .copyright{color:#999}
.fl{float:left}
.fr{float:right}

/*border*/
.bt-c{border-top:1px solid #ccc;}
.br-c{border-right:1px solid #ccc;}
.bb-c{border-bottom:1px solid #ccc;}
.bl-c{border-left:1px solid #ccc;}
.bt-dotted-c{border-top: dotted 1px #cccccc;}
.bb-dotted-c{border-bottom: dotted 1px #cccccc;}