@charset "utf-8";

body{background:#dff5ff}
.header{height:477px;background:url(../images/top.jpg) no-repeat;background-position:center}
.mainblock{width:960px;margin:0 auto;margin-top:30px}
.m1-img{width:960px;height:326px;margin-bottom:20px}
.m1-button{width:960px;padding-top:40px;margin-bottom:60px;overflow:hidden}
.m1-button-problem{width:387px;height:81px;display:block;margin-left:60px;float:left;display:inline}
.m1-button-look{width:387px;height:81px;display:block;margin-left:50px;float:left;display:inline}

.pm-footer{width:933px;margin:0 auto;color:#1e5c8a;border-top:2px solid #1e5c8a;padding-bottom:10px}
.pm-footer a{color:#1e5c8a}
.pm-footer-box1{width:750px;margin:10px auto;margin-top:40px}
.pm-footer-box1 ul li{margin:0 2px;float:left}
.pm-footer-box2{width:575px;margin:0 auto}
.pm-footer-box3{width:350px;margin:10px auto}

.subject_foofer{color:#1e5c8a}
.subject_foofer a{color:#1e5c8a}

