@charset "utf-8";
/* CSS Document */
body img{ vertical-align:bottom;}
.pap_mk_p{ margin:0 auto;}
.pap_tpa_p{ width:958px; margin:0 auto;}
.pap_mks_p{ border:1px solid #DCD10C; width:958px; margin:12px auto 0;}
.pap_mks_p h3{ background:url(../images/paperbg_03.jpg) repeat-x;}
.pap_ddl_p{ padding:0 26px;}
.pap_ddl_p dl dd a{ color:#303030;}
.pap_ddl_p dl dd a:hover{ color:#0774ac;}
.pap_ddl_p dl{ float:left; margin:20px 0px 0 0;}
.pap_ddl_p dl dt{ border:1px solid #DCD10C;}
.pap_ddl_p dl dt img{ border:2px solid #fff;}
.pap_ddl_p dl dd{ font:14px/45px '宋体'; text-align:center;}
.pap_bta_p{ position:relative;border:1px solid #DCD10C;width:958px; margin:12px auto 0;}
.pap_bta_p p{ position:absolute; right:104px; bottom:32px; font:bold 14px/24px '宋体';}
.pap_bta_p p a{ color:#fff;}
.pap_bta_p p a:hover{ color:#ffff00;}
.kdl{ width:36px;}