{%include 'new/head.html'%}
<body>
<div class="mobile">
	{%include 'new/top.html'%}
    <div class="cb"></div>
    <div style="margin-top:60px;"></div>
    <div class="m-main"><form name="form1" method="post" action="loginsave.html">
    	<div class="regtitle">绑定帐号</div>
        <ul class="regbox">
        	<li><input id="userName" class="text" type="text" name="userName" value="{{userName}}" placeholder="请输入用户名 或 手机 或 邮箱" autocomplete="off" maxlength="50"></li>
            <li><input id="passwd" class="text" type="password" name="passwd" value="{{passwd}}" placeholder="请输入ZZ91再生网的密码" autocomplete="off" maxlength="50"></li>
            <li>{%if error%}<div class="c-red">{{error|safe}}<br/></div>{%endif%}</li>
            <li> <input type="hidden" name="weixinid" id="weixinid" value="{{weixinid}}">
            <input type="submit" name="button" id="button" value="登录并绑定微信" class="button"></li>
            <div class="cb"></div>
        </ul> 
        </form>
        <div class="cb"></div>
    </div>
</div>
{{fenxistr}}
{%include 'new/bottom.html'%}
</body>
</html>
