@charset "utf-8";
*{margin:0;padding:0}
body{background:#f54e3c;margin:0 auto}
a{text-decoration:none;}

/**top**/
.integral_top{height:700px;background:url(../images/top.jpg) no-repeat;background-position:center}

.integral_box{width:960px;margin:0 auto}

/**样品展示**/
.integral_rev{width:940px;height:auto;background:#f9b710;padding:12px 10px 0 13px;_padding-bottom:12px;margin-top:20px;margin-bottom:42px;overflow:hidden}
.integral_rev ul{width:1000px}
.integral_rev ul li{width:221px;margin-right:16px;margin-bottom:10px;_margin-right:11px;text-align:center;vertical-align:middle;float:left;display:inline}
.integral_rev ul li img{vertical-align:middle}





/**送积分**/
.integral_content{background:#e6e3d2;padding:50px 0}
.integral_Ad{padding-bottom:20px}

.integral_chk{height:auto;border-top:2px solid #f54e3c;padding-top:33px;padding-bottom:10px}
.integral_chk ul{width:1000px;overflow:hidden}
.integral_chk ul li{width:213px;height:290px;padding:8px;background:#fff;margin-right:15px;margin-bottom:15px;_margin-right:21px;_margin-bottom:21px;float:left;display:inline}

.integral_chk .integChk-pic{width:213px;text-align:center;vertical-align:middle;display:table-cell}
.integral_chk .integChk-pic img{vertical-align:middle}

.integral_chk .integChk-pro{height:50px;line-height:50px;font-family:"微软雅黑";font-size:16px;font-weight:bold;color:#f36756;text-align:center}
.integral_chk .integChk-btn{width:164px;height:33px;line-height:36px;text-align:center;font-family:"微软雅黑";color:#fff;font-size:14px;background:url(../images/chk.jpg) no-repeat;cursor:pointer;margin:0 auto}
.integral_chk .integChk-btn:hover{color:#fbbb53}
.integral_chk a{text-decoration:none;color:#fff}


/**step**/
.integral_step{}
.integral_step-block{width:960px;padding-top:80px;margin:0 auto}
.integral_step-block ul{overflow:hidden}
.integral_step-block ul li{margin-left:50px;float:left;display:inline}

.integral_step-block .integralStep-btn{width:255px;height:55px;line-height:55px;color:#fff;text-align:center;font-family:"微软雅黑";font-size:22px;background:url(../images/botton.jpg) no-repeat;display:block}
.integral_step-block a{text-decoration:none}
.integral_step-block a:hover{color:#f54e3c}

.integral_step .integral_step-pic{padding-top:60px}

/**search**/
#logosearch{width:980px;margin:0 auto}
.logosearch .search_bar .box_ {width:540px;height:43px;background:url(../images/s-yp.jpg) no-repeat}
.logosearch .logo_ {float:left;margin-top:36px;margin-left:15px;_margin-top:45px;_margin-left:0px}
.logosearch .search_bar{margin-top:23px;margin-left:91px;_margin-top:40px;_margin-left:40px}
.logosearch .search_bar .nav1 ul li{color:#fff}

.logosearch .search_bar .left{padding-left:10px;margin-top:10px}
