/**page**/
.page{width:648px;height:30px;margin:40px auto 20px auto}
.page-style {width:50px;height:24px;border:1px solid #ccc;text-align:center;line-height:26px;float:left;margin-right:10px}
.page-style_ input{width:30px;height:24px;border:1px solid #ccc;font-size:12px;text-align:center}
.page-style a {width:50px;height:24px;display:block;color:#666666}
.page ul {float:left}
.page ul li {border:1px solid #ccc;margin-right:10px;float:left}
.page ul li a {padding:3px 10px;display:block;color:#666666}
.page-txt{height:24px;line-height:26px;float:left;margin-right:10px;color:#666666}
.page-confirm{width:35px;height:24px;border:1px solid #ccc;text-align:center;line-height:26px;background:#f5f5f5;float:left;color:#666666}
