@charset "utf-8";

body{background:#171717}
.w1640{width:1640px}

.main{width:820px;margin:50px auto}
.mainblock1{height:350px;position:relative;overflow:hidden}
.m1-img{width:559px;height:350px}
.m1-img img{width:559px;height:350px}
.m1-text{width:283px;height:350px;position:absolute;right:0px;top:0px}
.m1-box{width:820px;height:350px}

.mainblock11{width:820px;height:350px}
.mainblock11 img{width:820px;height:350px}
.mainblock12{width:820px;height:350px}
.mainblock12 img{width:820px;height:350px}


.mainblock2{width:820px;margin:10px 0}

.m2-item{width:268px;height:345px;overflow:hidden}
.m2-item img{width:268px}




