<div class="gm1-4">
    <div class="fGuide">
        <div class="fGuideCon">
            <div class="fGuideItem fG-newbuyer">
                <em></em>
                <dl>
                    <dt><span>新手上路</span></dt>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/76.html">了解工厂店</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/77.html">工厂店特色</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/78.html" rel="external nofollow">联系客服</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/feedback.html" rel="external nofollow">投诉建议</a></dd>
                </dl>
            </div>
            <div class="fGuideItem fG-howtobuy">
                <em></em>
                <dl>
                    <dt><span>采购指南</span></dt>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/79.html" rel="external nofollow">采购入门</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/80.html" rel="external nofollow">采购说明</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/81.html" rel="external nofollow">交易流程</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/82.html" rel="external nofollow">确认交易</a></dd>
                </dl>
            </div>
           
            <div class="fGuideItem fG-memservice">
                <em></em>
                <dl>
                    <dt><span>会员服务</span></dt>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/83.html" rel="external nofollow">积分说明</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/84.html" rel="external nofollow">提现说明</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/85.html" rel="external nofollow">会员制度</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/93.html" rel="external nofollow">关于供应商认证</a></dd>
                </dl>
            </div>
            <div class="fGuideItem fG-aboutus">
                <em></em>
                <dl>
                    <dt><span>关于我们</span></dt>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/87.html" rel="external nofollow">隐私声明</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/88.html" rel="external nofollow">法律声明</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/89.html" rel="external nofollow">保密协议</a></dd>
                    <dd><a target="_blank" href="http://help.gongchang.cn/help/94.html" rel="external nofollow">服务条款</a></dd>
                </dl>
            </div>
             <div class="fGuideIcon"><span></span></div>
        </div>
    </div>
    
    <div class="footer clearfix">
     <span class="footerIco"></span>
        <div class="footerM">
        <p class="fMenu">
            <a target="_blank" href="http://help.gongchang.cn/about/index.html">关于工厂店</a>
            <em>|</em>
            <a target="_blank" href="http://www.gongchang.cn/user/joinin.html" rel="external nofollow">供应商入驻</a>
            <em>|</em>
            <a target="_blank" href="http://help.gongchang.cn/help/" rel="external nofollow">帮助中心</a>
            <em>|</em>
            <a target="_blank" href="http://help.gongchang.cn/help/76.html"  rel="external nofollow">联系我们</a>
            <em>|</em>
            <a target="_blank" href="http://www.gongchang.cn/friendlink/">友情链接</a>
            <em>|</em>
            <a target="_blank" href="http://www.gongchang.cn/user/sitemap.html" >网站地图</a>
            <em>|</em>
             <a target="_blank" href="http://hr.gongchang.com" rel="external nofollow"><b>2014校园招聘</b></a>
            <em>|</em>
            <a target="_blank" href="http://www.gongchang.cn/supcenter/" rel="external nofollow" class="fM-supLog">供应商登录</a>
            
        </p>
        <p class="fCopy">
            Copyright 2011-2014 GongChang.cn All Rights Reserved 工厂店版权所有 <a target="_blank" href="http://www.miibeian.gov.cn/">沪ICP备09005615号</a> <span id='gc_cn_runtime'>131ms</span>
        </p>
        </div>
    </div>
</div>