<div class="gMenu">
            <a href="index.html" class="gHome">会员中心</a>
            <div class="gMenuBox">
                <div class="gMenuItem">
                    <h3 class="helper">采购管理</h3>
                    <ul>
                        <li class=""><a href="order.html">全部订单</a></li>
                        <li class=""><a href="order.html">待付款订单</a></li>
                        <li class=""><a href="order.html">待确认收货</a></li>
                        <li class=""><a href="order.html">已完成订单</a></li>
                    </ul>
                </div>
                <div class="gMenuItem">
                    <h3 class="order">供应管理</h3>
                    <ul>
                    	<li class="current"><a href="sale.html">全部订单</a></li>
                        <li><a href="sale.html">待发货订单</a></li>
                        <li><a href="sale.html">提醒发货订单</a></li>
                        <li><a href="sale.html">退货中订单</a></li>
                        <li><a href="sale.html">等待确认收货</a></li>
                        <li><a href="sale.html">已完成订单</a></li>
                    </ul>
                </div>
                <div class="gMenuItem">
                    <h3 class="account">账户管理</h3>
                    <ul>
                        
                        <li class="">
                            <a href="finance.html">财务概况</a>
                            <!--收支明细  加  提现记录-->
                        </li>
                        <li class="">
                            <a href="record.html">收支记录</a>
                        </li>
                        <li class="">
                            <a href="address.html">收货地址</a>
                        </li>
                        <li class="">
                            <a href="address.html">发货地址</a>
                        </li>
                        <li class="">
                            <a href="safe.html">发货地址</a>
                        </li>
                    </ul>
                </div>
                
                <div class="gMenuItem">
                    <h3 class="gift"><a href="http://myrc.zz91.com/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0" target="_blank">样品管理</a></h3>
                  
                </div>
                
                <div class="gMenuItem">
                    <h3 class="msg">消息管理</h3>
                    <ul>
                        <li class=""><a href="http://myrc.zz91.com/mymessage/inbox.htm" target="_blank">询盘管理</a></li>	
                        <li class=""> <a href="http://myrc.zz91.com/myfeedback/vip.htm" target="_blank">客服留言</a></li>
                    </ul>
                </div>
            </div>
        </div>