<div class="siteNav">
    <div class="siteNavCon">
        <div class="siteNavConC clearfix">
            <div class="sNClass">
                <div class="sNC-Tit">
                    <strong>所有样品分类</strong>
                    <span class="sNC-TitIcon"></span>
                </div>
                <div class="sNC-Con" style="display:none;">
                <div class="allClassMenu">
                    <ul>
                        <li>
                            <a href="">PP再生颗粒</a>
                        </li>
                        <li>
                            <a href="">PE再生颗粒</a>
                        </li>
                        <li>
                            <a href="">PVC再生颗粒</a>
                        </li>
                        <li>
                            <a href="">ABS再生颗粒</a>
                        </li>
                        <li>
                            <a href="">PS再生颗粒</a>
                        </li>
                        <li>
                            <a href="">EVA再生颗粒</a>
                        </li>
                        <li>
                            <a href="">PA再生颗粒</a>
                        </li>
                        <li>
                            <a href="">PET再生颗粒</a>
                        </li>
                        <li><a href="">PPO再生颗粒</a></li>
                        <li><a href="">PC再生颗粒</a></li>
                        <li><a href="">其他再生颗粒</a></li>
                    </ul>
                </div>  
                </div>
            </div>
            <div class="sNwww">
                <ul>
                    <li><a href="http://yang.zz91.com" target="_blank">首页</a></li>
                    <li><a href="http://yang.zz91.com/sale/" target="_blank">拿样中心</a></li>
                    <li><a href="yang.zz91.com/buy/" target="_blank">样品定制</a></li>
                </ul>
            </div>
            <div class="sNEle">
                <div class="sNEleBox">
                <ul>
                    
                    <li><a href="http://trade.zz91.com" target="_blank">交易中心</a></li>
                    <li><a href="http://price.zz91.com" target="_blank">行情报价</a></li>
                    <li><a href="http://huzhu.zz91.com" target="_blank">互助社区</a></li>
                    <li class="select"><a href="#" target="_blank">会员中心</a></li>
                </ul>
                <em class="sNEleIcon"></em>
                </div>
            </div>
        </div>
    </div>
</div>