<!DOCTYPE HTML>
<html>
	<head>{%include 'head.html'%}
		
        <link rel="stylesheet" type="text/css" href="/css/pindao/index.css"/>
	</head>
	<body>{%include 'top.html'%}
     <div class="content">
       <div class="c-tle">
       		<a href="/">首页</a> > <a href="/priceindex/">行情报价</a> > <a href="/priceindex/feizhiriping/">废纸日评</a>
       </div>
       <!--end c-tle-->
      	<table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#e67f22"><a href="/price/?category_id=36" style="color:white">日评</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=36&keywords=浙江地区">浙江地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=广东地区">广东地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=山东地区">山东地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=福建地区">福建地区</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=36&keywords=河北地区">河北地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=上海地区">上海地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=河北东地区">河北东地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=江苏东地区">江苏东地区</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=36&keywords=江西地区">江西地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=湖南地区">湖南地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=富阳地区">富阳地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=江苏地区">江苏地区</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=36&keywords=河南地区">河南地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=云南地区">云南地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=安徽地区">安徽地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=西安地区">西安地区</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=36&keywords=江西赣州地区">江西赣州地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=湖南长沙地区">湖南长沙地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=山东枣庄地区">山东枣庄地区</a></td>
            	<td width="25%"><a href="/price/?category_id=36&keywords=安徽阜阳地区">安徽阜阳地区</a></td>
            </tr>
        </table>
      </div>{%include 'bottom.html'%}
      <!--end content-->
	</body>
</html>