
<form action="/updatepasswordok/">
<br /><br /><br /><br /><br />
原始密码: <input type="text" name="originalpassword" value="{{originalpassword}}">{%if error%}<font color="blue">{{error3}}</font>{%endif%} <br />
<br /><br />
新密码: <input type="password" name="password" value="{{password}}">{%if error%}<font color="blue">{{error1}}</font>{%endif%} <br />
<br /><br />
重新输入: <input type="password" name="repassword" value="{{repassword}}">{%if error%}<font color="blue">{{error2}}</font>{%endif%} <br />
<br /><br />
<input type="hidden" name="seouser_id" value="{{seouser_id}}">
<input type="submit" value="确认"><input type="button" value="返回" onclick="window.location='{{request_url}}'">
</form>