@charset "utf-8";





/****/
.phoneTop{height:48px;line-height:48px;text-align:center;color:#fff;font-size:14px;background:url(../images/phonetop_bg.jpg) repeat-x}
.phoneTitle{border:1px solid #ccc;border-bottom:2px solid #ccc;padding:8px 0;background:#e7e7e7;font-size:14px}
.phoneTitle img{vertical-align:middle;margin-right:20px}
.phoneTitle span{margin:0 10px;color:#f00;font-size:12px}
.phoneBanner{width:100%;height:232px}
.phoneBanner img{width:100%;height:232px}
.phoneNav{width:100%;margin:15px 0;}
.phoneNav tr td{width:30.3%;padding:10px;background:#fff;text-align:center;margin:0 10px}
.phoneNay-img{width:100%}
.phoneNay-img img{width:100%}
.phoneInfo{height:30px;padding-top:5px;background:#bebebe;padding-left:10px;font-size:14px;border:1px solid #b0b0b0}
.phoneInfo img{vertical-align:middle;margin-right:10px}
.phoneBox{padding:10px;background:#fff;border:1px solid #d5d5d5}
.phoneBox-divImg{width:100%;height:75px;overflow:hidden}
.phoneBox-divImg table tr{width:1000px}
.phoneBox-divImg table tr td{width:100px;height:75px;padding-right:10px}
.phoneBox-divImg table tr td img{width:100px;height:75px}
.phoneBox-divText{width:100%;height:60px;line-height:20px;overflow:hidden;margin:5px 0}
.phoneBox-divMore{width:60px;height:35px;line-height:35px;background:url(../images/icon3.jpg) no-repeat 0px 12px;padding-left:15px;color:#c5c5c5;cursor:pointer}
.phoneRuturntop{border-bottom:1px solid #c7c7c7;padding:10px}
.phoneRuturntop img{cursor:pointer}
.phoneFooterText{margin:10px 0 80px 0;text-align:center;color:#a3a3a3;line-height:24px}
.phoneFooterText a{color:#0059d2}
.phoneFooterText span{color:#0059d2}
.phoneFooter{width:100%;height:40px;background:url(../images/footer_bg2.jpg) repeat-x;position:fixed;bottom:0px}
.phoneFooter table{width:100%;margin-top:7px}
.phoneFooter table tr td{width:25%;height:26px;text-align:center}
.phoneFooter table tr td a{font-size:14px;color:#fff}
.phoneFooter table tr td a:hover{color:#ffff03;text-decoration:none}
.phoneFooter-line{background:url(../images/footer_icon.jpg) no-repeat}
#slider img{height:75px}

.phoneItem{width:100%;height:75px;overflow:hidden;padding-bottom:10px;border-bottom:1px solid #ccc;margin-bottom:10px}
.phoneItem-img{width:30%;height:75px;float:left;display:inline}
.phoneItem-img img{width:100%;height:75px}
.phoneItem-box{width:68%;height:75px;overflow:hidden;float:right;display:inline}
.phoneItem-box-text{width:100%;height:55px;overflow:hidden}
.phoneItem-box-button{float:right;display:inline}
.phoneItem-button-img1{margin-right:50px;float:left;display:inline}
.phoneItem-button-img2{margin-top:5px;float:right;display:inline}


.phone-nav{width:20%;float:left}
.phone-nav ul li{height:40px;background:#eeeeee;overflow:hidden;border:1px solid #d5d5d5}
.phone-nav-icon1{width:100%;height:16px;display:block;background:url(../images/nav_icon.png) no-repeat 50% 0px;margin:0 auto;margin-top:10px}
.phone-nav-icon2{width:100;height:16px;display:block;background:url(../images/nav_icon.png) no-repeat 50% -38px;margin:0 auto;margin-top:10px}
.phone-nav-icon3{width:100;height:16px;display:block;background:url(../images/nav_icon.png) no-repeat 50% -74px;margin:0 auto;margin-top:10px}
.phone-nav-icon4{width:100;height:16px;display:block;background:url(../images/nav_icon.png) no-repeat 50% -110px;margin:0 auto;margin-top:10px}
.phone-nav-icon5{width:100;height:16px;display:block;background:url(../images/nav_icon.png) no-repeat 50% -145px;margin:0 auto;margin-top:10px}
.phone-nav-icon6{width:100;height:16px;display:block;background:url(../images/nav_icon.png) no-repeat 50% -180px;margin:0 auto;margin-top:10px}
.phoneBox-title{height:40px;line-height:40px;color:#8f8f8f;padding-left:10px}


/**联系方式**/
.contact{padding:10px;background:#fff;border:1px solid #d5d5d5}
.contact-text{line-height:24px}
.contact-text img{margin-left:20px}

/**诚信档案**/
.archives{padding:10px;background:#fff;border:1px solid #d5d5d5;margin-bottom:10px}
.archives-title{font-size:14px;margin-bottom:5px}
.archives-table{width:100%}
.archives-table tr td{border:1px solid #ccc;background:#e1e7f4;text-align:center;color:#001d44}
.archives-text{color:#333333}
.archives-text a{color:#f00}
.archives-img img{width:100%}



