@charset "utf-8";
#mainBlock{width:960px; margin-left:auto; margin-right:auto}
.box-zzsc{ width:722px; position:relative}
.ctrl-panel{ position:absolute; right:15px; bottom:15px; z-index:1000;filter: alpha(opacity=70); -moz-opacity:0.70; opacity:0.70}
.ctrl-panel a{ text-decoration:none}
.m-page{ display:block; width:30px; height:30px; text-align:center; background:#fff; float:left; display:inline; margin-left:10px; line-height:30px; color:#000; font-size:13px;}
.m-page:hover{ text-decoration:none; color:#fff;}
.focus{background:#66cc66;color:#fff}
.con{ width:100%;}
.scroll-wrap {overflow: hidden; width: 990px; position: relative; height: 312px}
.scroll_box_content {position: absolute}
.content_list {float: left; width: 990px; height: 312px; cursor:pointer;}

.main{width:958px;margin:0 auto; position:relative;}
.mainoverlay{width:100%;position:absolute; top:45px;z-index:8000}

.nave{height:40px;line-height:40px;background:#009944;margin:15px 0 13px 0;}
.nave ul{width:830px;list-style:none;overflow:hidden;margin:0 auto}
.nave ul li{padding:0 25px;margin-top:5px;float:left;position:relative}
.nav_tle_{height:30px;line-height:30px;padding:0 10px;font-size:14px;font-weight:bold}
.nav_tle_ a,.nav_tle_ a:hover{color:#fdd000}

.nav_tle{height:30px;line-height:30px;padding:0 10px;font-size:14px;font-weight:bold}
.nav_i{position:absolute;left:425px;top:-20px}
.nav_s{position:absolute;left:400px;bottom:0}
.nav_ss{position:absolute;left:45px;top:23px}
.nav_t{position:absolute;left:240px;bottom:0}
.nav_i_{position:absolute;left:260px;top:-20px}
.nav_tle a{color:#fff}
.nav_tle a:hover{color:#fff}
.nav_tle_p{height:30px;line-height:30px;padding-left:40px;font-size:14px;font-weight:bold;border-left:1px solid #046122;color:#fff}

.nav_{height:44px;line-height:44px;background:#ededed;padding:0 15px;margin-bottom:1px}
.nav_left{float:left}
.nl-img{display:inline}
.nl-txt{font-size:18px;font-weight:bold;color:#f2935e;display:inline}
.nl-txt_{font-size:14px;font-weight:bold;color:#f2935e;display:inline;border-right:2px solid #f2935e;padding-right:10px;margin-right:15px}
.nl-txt_1{display:inline;color:#f36d00;font-size:16px}
.nl-txt_2{display:inline;color:#303030;font-size:16px}
.nl-txt_1 a{color:#f36d00;font-size:14px}
.nl-txt_2 a{color:#f36d00}
.nav_right{margin-top:10px;float:right}
.nr-txt{width:87px;height:23px;line-height:23px;background:#6fb54b;text-align:center}
.nr-txt a{color:#fff}
.bg{height:490px;background:url(../images_index/main.jpg) no-repeat; position:relative}
.bg_{height:370px;border:2px solid #e0e0e0;padding:25px 15px}
.bg_s{height:670px;background:url(../images_index/ss.jpg) no-repeat;border:2px solid #e0e0e0}
.bg_t{height:450px;background:url(../images_index/sy.jpg) no-repeat}
.bg_x{height:670px;background:url(../images_index/xg.jpg) no-repeat;border:2px solid #e0e0e0}
.bg_box{background:#eeffdd;border:1px solid #a6d867;margin:10px 0;padding:7px 10px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.bg_box ul{list-style:none;overflow:hidden}
.bg_box ul li{font-family:"微软雅黑";line-height:22px;color:#277504}
.bg_box font{color:#ff822e;font-weight:bold}
.s1{font-family:"微软雅黑";font-size:18px;font-weight:bold}
.s2{font-family:"微软雅黑";font-size:18px}
.bg_btn{position:absolute;left:380px;top:270px}
.bg_btn a:hover img{border:1px solid #3f3f3f}

/**index**/
.content{margin-bottom:15px;overflow:hidden}
.c-left{width:226px;float:left;}
.l-tle{height:38px;line-height:38px;background:#;color:#f36d00;font-size:20px;font-weight:bold;border:1px solid #e2e2e2;text-align:center}
.l-box{overflow:hidden}
.b-item{width:216px;float:right;border-bottom:1px solid #e2e2e2;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;overflow:hidden}
.b-img{float:left}
.i-txt{line-height:26px;font-size:13px;padding:5px 15px}
.i-txt_{color:#66cc66;font-size:20px;font-weight:bold;text-align:center}
.i-btn{width:128px;height:28px;line-height:28px;background:#66cc66;text-align:center;margin:10px 0}
.i-btn a{color:#fff}

.c-right{float:right}


.bottom{margin-bottom:15px;overflow:hidden}
.b-tle{border-bottom:1px solid #6fb54b}
.t-txt{width:115px;height:33px;line-height:33px;background:#009966;color:#fff;text-align:center;margin-bottom:1px;font-size:14px;font-weight:bold}
.b-block{padding:13px 0}
.b-box{border-right:1px solid #cacaca;float:left}
.b-box_{float:right}
.b-left{width: 110px;padding: 30px 25px 0 25px;float: left;overflow: hidden}
.b-left img{width:113px;-moz-border-radius:70px;-webkit-border-radius:70px;border-radius:70px}
.b-right{width:300px;padding:15px 10px 15px 0;float:left}
.b-right ul{list-style:none}
.b_li{line-height:22px;color:#7f7f7f}
.b_li a{color:#7f7f7f}
.b_li_{font-size:14px;font-weight:bold;line-height:30px;color:#303030}
.b_li1{line-height:28px}
.b_li1 a{font-weight:bold;color:#0066cc}

*{margin:0;padding:0;list-style-type:none;}

.b-ul ul{overflow:hidden}
.b-ul ul li{float:left}
.li_img img{margin:0 45px 0 45px}
.li_txt{font-family:"微软雅黑";color:#303030;font-size:18px;text-align:center}
.li_txt_{width:180px;font-size:12px;color:#ababab;text-align:center;padding:5px 0 5px 30px}

/* outer */
#outer{width:720px;height:310px;position:relative;overflow:hidden;background:#eee;border:1px solid #ccc;}
#inner{display:block;width:4800px;height:300px;position:absolute;left:0;top:0;}
#inner li{display:block;width:800px;height:300px;float:left;font-size:72px;line-height:300px;text-align:center;content:#666;text-shadow:3px 3px 2px #999,5px 5px 2px #ccc;background:#eee;}
#nav{width:200px;height:40px;padding-left:580px;position:absolute;bottom:0;left:0;opacity:0.8;filter:alpha(opacity=80);}
#nav em{display:block;float:left;width:24px;height:24px;margin-right:8px;margin-top:8px;line-height:24px;text-align:center;font-size:14px;color:#333;font-style:normal;font-family:Arial;background:#eee;cursor:pointer;}
#nav .ehover{background:#ff7b26;color:#fff;}

/**交易专区**/
.item{margin:15px 0;overflow:hidden}
.item ul{list-style:none}
.item ul li{margin-bottom:15px}
.it-left{float:left}
.il-img{margin-right:15px;float:left}
.il-txt{font-family:"微软雅黑";font-size:24px;color:#888888;float:left}
.il-txt_{font-family:"微软雅黑";font-size:24px;color:#d4d4d4;float:left}
.it-right{padding-top:7px;float:right}
.feng{height:2px;background:#e2e2e2}

.ib-box{padding:10px 0;border-bottom:1px solid #e2e2e2;overflow:hidden}
.ib-box ul{list-style:none}
.ib-box ul li{float:left}
.ib-box .ib-itemfirst{}
.ib-item{padding:2px;border:1px solid #e2e2e2; width:204px; text-align:center; height:204px;display: table-cell;vertical-align: middle;}
.ib-block{overflow:hidden;padding:2px;margin-left:4px; text-align:center;}
.ib-img{border:1px solid #e2e2e2; padding:2px;width:134px;height:138px;display: table-cell;vertical-align: middle;}
.ib-txt{width:134px;height:40px;text-align:center;overflow:hidden;text-overflow:ellipsis;}
.ib-txt a{color:#666}
.ib-btn{
	width:110px;
	padding-left:18px;
	height:23px;
	line-height:23px;
	border:1px solid #e2e2e2;
	text-align:center;
	margin:0 auto;
	background-color: #ebebeb;
	background-image: url(http://pyapp.zz91.com/images/phone.png);
	background-repeat: no-repeat;
	background-position: 8px 2px;
	color:#F60;
	font-weight:bold;
}
.ib-btn1{
	width:110px;
	padding-left:18px;
	height:23px;
	line-height:23px;
	border:1px solid #e2e2e2;
	text-align:center;
	margin:0 auto;
	background-color: #ebebeb;
	background-repeat: no-repeat;
	background-position: 8px 2px;
	color:#F60;
	font-weight:bold;
}
.ib-btn a{color:#F60}

.h218px th {padding-top:50px;}
.h218px td {overflow:hidden;}
#scrollbox {height:200px}
#scrollbox ul {overflow:hidden;}
#scrollbox ul li {float:left;width:150px;_width:150px;height:200px;_height:200px;vertical-align:top;font-size:12px;line-height:18px;min-height:18px;text-align:center;padding:0px;overflow:hidden;}
#scrollbox ul li img{ width:132px;height:60px;border:0px;margin-bottom:10px}
.pointer {cursor: pointer}

dl,dt,dd,ul,ol,li,pre,form,fieldset,input,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}

/**搜索结果**/
.n2{color:#e67f11}

.Smohan_Layer_Shade{position:fixed; _position:absolute; zoom:1; top:0; left:0; width:100%; height:100%; overflow:hidden; background:url(../images_index/hei.png) repeat; z-index:99900;}
.Smohan_Layer_box{ min-width:300px; height:auto; padding:20px; background:#ffffff; position:fixed; _position:absolute; top:50%; left:50%; overflow:hidden; z-index:99999}
.Smohan_Layer_box h3 .text{ float:left;font-size:16px; font-family:'Microsoft JhengHei','Microsoft YaHei', Arial, sans-serif; font-weight:600; color:#84c017; text-indent:0.5em; display:block;}
.Smohan_Layer_box h3 .close{ display:block; width:30px; height:30px; background:url(../images_index/Smohan.layer.close.png) 0px 0px no-repeat; float:right;}
.Smohan_Layer_box h3 .close:hover{background-position:0px -31px;}
.Smohan_Layer_box .layer_content{ display:block; width:100%; height:100%; margin-top:10px; margin-bottom:10px; padding:0; overflow:hidden; position:relative;}
.Smohan_Layer_box .layer_content .loading{ display:block; width:36px; height:36px; background:url(../images_index/Load.gif) center center no-repeat; position:absolute; top:0; left:0;}
/*Share*/
#Share{display:none; width:410px; padding:10px 10px}
.s-main{margin:10px auto;overflow:hidden}
.sm-input{float:left}
.sm-input input{width:200px;height:28px;border:1px solid #ccc}
.sm-txt{width:100px;height:28px;line-height:28px;text-align:right;color:#303030;margin-right:20px;float:left}
.sm-btn{width:87px;height:28px;line-height:28px;text-align:center;color:#fff;background:#009944;margin-bottom:15px}
.sm-btn:hover{color:#CC0}
.sm-radio{padding-top:6px}
.sm-radio input{margin-right:5px}
.sm-radio span{margin-right:30px}
#Share_ span{font-family:"微软雅黑";font-size:14px;font-weight:bold;color:#f36d00}
#Share_{margin:0 100px 20px 100px;text-align:center;display:none} 


.black_overlay {position: absolute;top: 140px;left: 0%;width: 100%;height:900px;background-color: #303030;z-index: 1;-moz-opacity: 0.7;
opacity: .70;filter: alpha(opacity=70);}
.black_overlay img{margin:320px 30px 0 30px}
.bg_f{position:absolute;left:220px;top:124px;z-index: 20001;}
.bg_g{position:absolute;right:90px;top:190px;z-index: 20001;border:0}
.bg_1{position:absolute;left:270px;top:723px;z-index: 20001;border:0;-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);}
.bg_b{position:absolute;right:103px;top:10px;z-index: 20001;border:0;-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);}
.bg_ss{position:absolute;left:70px;top:170px;z-index: 20001;border:0}
.bg_24{position:absolute;left:374px;top:714px;z-index: 20001;border:0;-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);}
.bg_a{position:absolute;right:200px;top:200px;z-index: 20001;border:0}
.bg_ad{position:absolute;right:0px;top:194px;z-index: 20001;border:0;-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);}
.bg_rm{position:absolute;right:120px;top:280px;z-index: 20001;border:0}
.bg_r{position:absolute;left:10px;top:550px;z-index: 20001;border:0;-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);}