body{
	background-color: #9c0000
}
img{
	vertical-align: middle;
}
.pages{
	min-width: 1200px;
	margin: 0 auto
}
.band{
	background:url(../images/band.jpg) no-repeat center top;
	height: 558px;
}
.shuliao-bn{
	background:url(../images/nav1.jpg) no-repeat center top;
}
.shuliao-main{
	width: 1043px;
	margin:0 auto;
	padding-top: 117px;
	overflow: hidden;
}
.shuliao-width{
	width: 1063px;
}
.bigbn-img{
	position: relative;
	display: block;
}
.bfimg{
	display: block;
	position: absolute;
	height: 74px;
	width: 78px;
	background: url(../images/spbfsmall.png);
	left: 50%;
	margin-left: -39px;
	top: 50%;
	margin-top: -37px;
}
.bfimg-sm{
	display: block;
	position: absolute;
	height: 52px;
	width: 55px;
	background: url(../images/spbfbig.png);
	left: 50%;
	margin-left: -28px;
	top: 50%;
	margin-top: -26px;
}
.firm-name{
	height: 32px;
	background-color: #fff6d2;
	line-height: 30px;
	font-family: "微软雅黑";
	padding-left: 20px;
}
.firm-sMname{
	height: 31px;
	background-color: #fff6d2;
	line-height: 30px;
	font-family: "微软雅黑";
	/*padding-left: 20px;*/
	cursor: pointer;
	text-align: center;
}
.big-mo{
	margin-right: 20px;
	width: 404px;
}
.sm-mo{
	margin-right: 20px;
	margin-bottom: 20px;
	width: 192px;
}

.jins-bn{
	background:url(../images/nav2.jpg) no-repeat center top;
	margin-top: 40px;
}
.all-bn{
	background:url(../images/nav3.jpg) no-repeat center top;
	margin-top: 40px;
}
.last-big{
	width: 1043px;
	margin: 60px auto 0
}
.last-center{
	margin-left: 20px;
}
.lastmo{
	display: block;
	margin-top: 20px;
	position: relative;
}
.last-center{
	width: 845px
}
.lastbf{
	display: block;
	position: absolute;
	height: 96px;
	width: 102px;
	background: url(../images/lastbg.png);
	left: 50%;
	margin-left: -51px;
	top: 50%;
	margin-top: -48px;
}

.pop-main{
	position: fixed;
	top: 50%;
	margin-top: -245px;
	height: 490px;
	width: 700px;
	left: 50%;
	margin-left: -350px;
	background: #fff;
	background: url(../images/tancbg.jpg);
}
.close-div{
	height: 20px;
}
#CuPlayer{
	margin-left:50px;
	margin-top: 20px; 
}
.close{
	height: 33px;
	display: block;
	width: 33px;
	position: absolute;
	right: -13px;
	top:-13px;
	background: url(../images/guanbi.png);
	
}
.close:hover{
	color: #000;
	text-decoration: none; 
}
.mobd{
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: "微软雅黑"
}
.bottom{
	text-align: center;
	color: #fff
}
.bottom a{
	color: #fff
}