@charset "utf-8";

body {background:#2699f2;padding:0;margin:0;}

.top{height:511px;background:url(../images/top.jpg) no-repeat;background-position:center;}

.content {width:965px;margin:0 auto;}

.box {margin-top:40px;}
.item_01 {height:389px;background:url(../images/Item_01.jpg) no-repeat;}
.item_02 {height:482px;background:url(../images/Item_02.jpg) no-repeat;}
.item_03 {height:762px;background:url(../images/Item_03.jpg) no-repeat;}

.box p {padding-top:120px;}
.box .cg_link {
	display:block;
	width:239px;
	height:37px;
	background:url(../images/btn_fb.jpg) no-repeat;
	margin-left:500px;
}


.subject_foofer, .subject_foofer a {color:#fff;}