@charset "utf-8";

body{}
.subject_foofer{color:#b02111}
.subject_foofer a{color:#b02111}

.top{height:552px;background:url(../images/top.jpg) no-repeat;background-position:center}
.img1{height:621px;background:url(../images/img1.jpg) no-repeat;background-position:center}
.img3{height:621px;background:url(../images/img3.jpg) no-repeat;background-position:center}
.img4{height:621px;background:url(../images/img4.jpg) no-repeat;background-position:center}
.img2{height:643px;background:url(../images/img2.jpg) no-repeat;background-position:center;overflow:hidden}

.block{width:960px;height:450px;overflow:hidden;margin:0 auto;position:relative}
.block ul{width:2000px;margin:0 auto;position:relative}

.l1{
	position:absolute;
	left:80px;
	top:60px;
	display:block;
	width:140px;
	height:50px;
}
.l2{
	position:absolute;
	left:430px;
	top:60px;
	display:block;
	width:140px;
	height:50px;
}
.l3{
	position:absolute;
	left:805px;
	top:60px;
	display:block;
	width:140px;
	height:50px;
}
.a1{width:435px;height:250px;position:absolute;top:265px;left:20px;display:block}
.a2{width:435px;height:250px;position:absolute;top:265px;left:510px;display:block}
.a3{width:73px;height:25px;margin-top:87px;margin-left:50px;display:block}
.item{width:278px;margin-top:110px;margin-right:40px;margin-left:10px;float:left;display:inline}
.item-img{width:278px;height:216px}
.item-img img{width:278px;height:216px}
.item-text{text-align:center;line-height:24px;margin-top:10px;color:#444;font-size:12px}
.item-text a{color:#0055ff}

.float{width:380px;height:174px;background:url(../images/float.jpg) no-repeat;position:absolute;top:60px;right:-20px;display:none}
.float-click{width:150px;height:30px;position:absolute;top:13px;right:-20px;cursor:pointer}
.close{width:20px;height:20px;margin-left:332px;margin-top:5px;cursor:pointer}


