@charset "utf-8";

body{background:#1e8dd5}
.subject_foofer{color:#fff}
.subject_foofer a{color:#fff}
.mobile{
	
}
.top{
	height:586px;
	background:url(../images/img1.jpg) no-repeat;
	background-position:center
}
.block1{
	height:451px;
	background:url(../images/img2.jpg) no-repeat;
	background-position:center
}
.block2{
	height:420px;
	background:url(../images/img3.jpg) no-repeat;
	background-position:center
}
.block3{
	height:277px;
	background:url(../images/img4.jpg) no-repeat;
	background-position:center;
}
.block4{
	height:292px;
	background:url(../images/img5.jpg) no-repeat;
	background-position:center;
	overflow:hidden
}
.block3-div{
	width:960px;
	height:334px;
	margin:0 auto;
	position:relative
}
.float{
	width:880px;
	height:160px;
	overflow:hidden;
	margin:0 auto;
	margin-top:100px;
}
.float ul{
	width:2000px;
	
}
.float ul li{
	width:116px;
	float:left;
	display:inline;
	margin-right:10px
}
.float-click-left{
	position:absolute;
	width:30px;
	height:35px;
	top:40px;
	left:10px;
	cursor:pointer
}
.float-click-right{
	position:absolute;
	width:30px;
	height:35px;
	top:40px;
	right:10px;
	cursor:pointer
}
.img{width:116px;height:116px}
.img img{width:116px;height:116px}
.text{width:116px;line-height:24px;text-align:center}
.a1{
	width:318px;
	height:103px;
	display:block;
	position:absolute;
	top:135px;
	left:95px
}
.a2{
	width:130px;
	height:20px;
	display:block;
	position:absolute;
	top:135px;
	left:675px;
}
.a3{
	width:160px;
	height:270px;
	display:block;
	position:absolute;
	top:105px;
	left:20px;
}
.a4{
	width:160px;
	height:270px;
	display:block;
	position:absolute;
	top:105px;
	left:210px;
}
.a5{
	width:160px;
	height:270px;
	display:block;
	position:absolute;
	top:105px;
	left:400px;
}
.a6{
	width:160px;
	height:270px;
	display:block;
	position:absolute;
	top:105px;
	left:590px;
}
.a7{
	width:160px;
	height:270px;
	display:block;
	position:absolute;
	top:105px;
	left:780px;
}



