@charset "utf-8";


/**main**/
.main{width:100%}
content{margin:0 auto}

/**top**/
.top{height:403px;background:url(../images/i_top.jpg) no-repeat;background-position:center}
.top_{height:54px;line-height:54px;background:url(../images/i_top_.jpg) no-repeat;background-position:center}
.top-txt{width:43%;text-align:center;color:#ffee9c}
.top-txt a{text-align:center;color:#ffee9c}

.middle{width:960px;margin:0 auto}
.m-left{width:710px;float:left}
.ml-title{width:710px;height:53px;line-height:53px;font-size:17px;font-weight:bold;color:#c52c2c;border-bottom:1px solid #f5f5f5}
.ml-search{height:53px;line-height:53px;float:left}
.ms-input{font-size:12px;color:#65421c;float:left}
.ms-btn{margin-left:15px;font-size:12px;color:#65421c;float:left}
.ms-btn1{width:75px;height:26px;margin-left:12px;margin-top:12px;background:url(../images/i_search.jpg) no-repeat;float:left}
.ms-input input{width:130px;height:26px;margin-left:10px;margin-right:10px;border:1px solid #ccc}
.ms-btn input{width:183px;height:26px;border:1px solid #ccc;margin-left:10px}
.m-right{width:247px;float:right;border-left:1px solid #f5f5f5}
.mr-top{margin:0 0 15px 15px}
.mrt-txt{height:50px;line-height:50px;font-size:17px;font-weight:bold;color:#c52c2c}
.mrt-txt1{line-height:20px;font-size:12px;color:#65421c}
.mrt-txt3{line-height:30px;font-size:14px;color:#c52c2c; font-weight:bold}

.mr-middle{height:168px;margin:0 0 15px 15px;border-top:1px dashed #ccc;border-bottom:1px dashed #ccc}
.mrt-scode{}
.mrts-left{height:77px;float:left}
.mrt-txt2{height:20px;line-height:20px;color:#4c4c4c;margin-bottom:5px}
.mrt-txt2 a{height:20px;line-height:20px;color:#0000f9;margin-bottom:5px}
.mrts-right{float:right}

.mr-bottom{margin:0 0 0 15px}
.ml-title1{height:30px;line-height:30px;font-size:17px;font-weight:bold;color:#c52c2c}
.mrb-list{width:247px;overflow:hidden;float:left;display:inline}
.mrbl-content{border-top:none}
.mrblc-item{width:240px}
.mrblc-item ul li{margin-bottom:5px}
.mrblc-item-text{width:175px;height:24px;line-height:24px;overflow:hidden;float:left;display:inline;font-size:12px;color:#65421c;text-overflow:ellipsis;white-space:nowrap;}
.mrblc-item-date{height:24px;line-height:24px;float:right;display:inline;font-size:12px;color:#65421c}

.l-left {width:722px;overflow:hidden;float:left;display:inline}
.l-left-content {border-top:none;padding-top:10px}
.l-item {width:700px;margin-top:10px}
.l-item ul li{margin-bottom:5px}
.l-item-text {width:600px;height:24px;line-height:24px;overflow:hidden;float:left;display:inline;font-size:12px;color:#65421c;text-overflow:ellipsis;white-space:nowrap;}
.l-item-date {height:24px;line-height:24px;float:right;display:inline;font-size:12px;color:#65421c;}
.l-item-company{height:24px;line-height:24px;overflow:hidden;float:left;display:inline;font-size:12px;color:#65421c}

/*detail*/
.ml-font{height:45px;line-height:45px;text-align:center;color:#65421c;font-size:19px}
.ml-font1{height:20px;line-height:20px;text-align:center;color:#4c4c4c;font-size:13px}
.ml-content{color:#4c4c4c;margin-right:20px;margin-top:20px}

.ml-page{float:left}
.mlp-left{height:90px;line-height:90px;color:#65421c;float:left}
.mlp-right{height:90px;line-height:90px;color:#65421c;margin-left:170px;float:right}
.subject_foofer
{
	width:960px;
	margin:0 auto;
	text-align:center;
	line-height:25px;
}