@charset "utf-8";
/* 门市部 */

.nav{width:960px;margin:0 auto;height:35px;background:#003f5a}
.nav ul li{float:left;width:100px;height:35px;display:block;text-align:center;line-height:35px;position:relative}
.nav ul li a{color:#FFF;text-decoration:none;font-size:14px;font-weight:700}
.nav_li_block{width:100px;height:35px;background:#ff9d00;font-size:14px;color:#fff;font-weight:700;left:0px;top:0px;position:absolute;display:none}

.banner{width:960px;margin:16px auto;height:271px}

.main{width:960px;margin:8px auto}
.main .left{width:220px;float:left}
.main .left .block{border:1px solid #ccc}
.block .title{height:30px;line-height:30px;padding:0 8px;background:url(../images/title_bg.jpg) repeat-x;text-align:center;font-size:14px;font-weight:700}
.block u2{padding:8px;margin-left:15px}
.block u2 li{list-style-type:disc;line-height:20px}


.main .right{width:720px;float:right}
.right .item{width:718px;border:1px solid #ccc;margin-bottom:16px}
.right .item .title{height:30px;background:url(../images/title_bg.jpg) repeat-x;line-height:30px;padding:0 8px}
.right .item .block{width:150px;height:130px;text-align:center;margin:10px 0 0 22px;float:left;line-height:30px}
.right .item .block a{color:#000;text-decoration:none}
.right .item .block a:hover{color:#000;text-decoration:underline}
.right .item .block .img{width:148px;height:98px;border:1px solid #ccc;background:#f6f6f6}

.GongSiJianJie{width:348px;border:1px solid #ccc;float:left}
.GongSiJianJie .title{height:30px;background:url(../images/title_bg.jpg) repeat-x;line-height:30px;padding:0 8px}
.GongSiJianJie .img{width:148px;height:98px;border:1px solid #ccc;background:#f6f6f6;float:left;margin-right:8px}
.GongSiJianJie .content{padding:8px;height:210px}
.GongSiJianJie .content ul{margin-left:20px}
.GongSiJianJie .content ul li{line-height:21px; list-style-type:disc}
.GongSiJianJie .content ul li a{color:#000;font-size:12px;text-decoration:none}
.GongSiJianJie .content ul li a:hover{text-decoration:underline}



.YouQingLianJie{width:960px;margin:8px auto;border:1px solid #ccc}
.YouQingLianJie .title{height:30px;background:url(../images/title_bg.jpg) repeat-x;line-height:30px;padding-left:8px}
.YouQingLianJie .title a{color:#000;text-decoration:none;font-size:14px;font-weight:700}
.YouQingLianJie ul{height:30px;padding:0 8px}
.YouQingLianJie ul li{float:left;line-height:30px;width:100px}
.YouQingLianJie ul li a{color:#000;text-decoration:none;font-size:14px}

.down{height:110px;background:#f3f3f3;border-top:2px solid #666;padding:10px}


.DongTai{width:718px}
.DongTai_item{border-bottom:1px solid #ccc;padding:8px 0;line-height:24px}
.DongTai_page{width:400px;margin:8px auto}
.DongTai_page ul li{float:left;padding:2px 5px;background:#003f5a;margin:0 4px}
.DongTai_page ul li:hover{background:#ff9d00}
.DongTai_page ul li a{color:#FFF}
.DongTai_title{text-align:center;line-height:30px;border-bottom:1px solid #ccc}


.FenXiang{margin:8px 0}
.FenXiang2{margin:8px 0;border:1px solid #ccc;height:30px;line-height:30px;padding:0 8px}


.page_updown_left{float:left}
.page_updown_left a{color:#000;text-decoration:none}
.page_updown_right{float:right}
.page_updown_right a{color:#000;text-decoration:none}

.other-news{margin:8px auto}
.other-news .title{height:30px;border-bottom:1px solid #ccc;line-height:30px}
.other-news ul{float:left;margin:4px 100px 0 0}
.other-news ul li{line-height:24px}
.ok{float:right;width:80px;height:25px;border:1px solid #ccc;text-align:center;line-height:25px;background:url(../images/title_bg.jpg) repeat-x}
.ok a{color:#1169c2;text-decoration:none}

.block_left{width:312px;float:left}
.block_right{width:390px;float:right}





.AnNiu{width:320px;height:55px}
.AnNiu_left{width:165px;height:55px;float:left}
.AnNiu2{width:300px;height:56px;margin:8px 0}
.AnNiu2_left{width:144px;height:56px;float:left}
.AnNiu2_right{width:156px;height:56px;float:left}


.GongQiu{width:720px}
.GongQiu .title{height:35px;background:#0072a3;padding-top:5px}
.GongQiu .block .img{width:148px;height:98px;border:1px solid #ccc;background:#f6f6f6}
.GongQiu .block{width:150px;height:130px;text-align:center;margin:10px 0 0 22px;float:left;line-height:30px}



.ZiZhuanZiZhi{width:680px;border:1px solid #ccc;background:#f7f7f7;padding:16px}
.ZiZhuanZiZhi_item{width:678px;height:398px;border:1px solid #ccc;background:#fff;margin:0 auto}



.XiangGuanGongQiu{width:720px;margin:8px 0}
.XiangGuanGongQiu .title{height:30px;background:#0072a3;line-height:30px;padding-left:30px;font-size:14px;font-weight:700;color:#fff}
.table{width:720px;border:1px solid #ccc;margin:8px 0}
.table tr td{border:1px solid #ccc;text-align:center;height:30px;line-height:30px}
.td1{background:#f7f7f7;width:190px}
.td2{width:190px}



.LianXiWoMen{width:538px;height:278px;background:url(../images/LianXiFangShi_bg.jpg) no-repeat;margin:16px 0}
.LianXiWoMen_right{float:left;margin-left:76px;margin-top:35px;line-height:24px}
.DiTu{margin:16px 0}


.zi1{margin-left:10px}
.zi2{width:220px;height:31px}
.zi2_left{width:80px;height:25px;border:1px solid #ccc;line-height:25px;background:url(../images/title_bg.jpg) repeat-x;margin-left:10px;float:left;text-align:center}
.zi2_left a{color:#1169c2;text-decoration:none;font-size:14px}
.zi3{font-size:14px;font-weight:700;margin-left:10px;line-height:30px;height:30px}
.zi4{margin-left:10px;line-height:20px;background:url(../images/icon.jpg) no-repeat 60px 22px;margin-bottom:10px;font-size:12px}
.zi5{float:left}
.zi5 a{color:#000;text-decoration:none;font-size:14px;font-weight:700}
.zi6{float:right}
.zi6 a{color:#000;text-decoration:none}
.zi6 a:hover{color:#000;text-decoration:underline}
.zi7{font-size:12px;line-height:22px}
.zi8{float:left;font-size:14px;width:280px;margin-right:50px}
.zi9{font-weight:700;line-height:30px}
.zi11{line-height:24px}
.zi11 a{font-weight:700;font-size:14px}
.zi12{font-size:14px;font-weight:700}
.zi13{text-align:center;margin:8px auto}
.zi14{float:right}
.zi16{float:left}

.zi17{text-align:center;font-size:14px;font-weight:700;margin:8px 0}
.zi18{line-height:24px}
.zi19{float:left}
.zi19 a{color:#034596;font-weight:700;font-size:14px}
.zi20{width:117px;height:30px;background:#fff;margin-top:5px;display:block;text-align:center;line-height:30px}
.zi20 a{color:#000;font-weight:700;font-size:14px}

.zi21{line-height:40px}
.zi22{line-height:30px;padding-left:32px}
.zi22 a{color:#fff;font-weight:700;font-size:14px}
.zi23{line-height:30px}
.zi24{text-align:center;line-height:50px;font-size:14px}
.zi25{margin:16px 0}
.zi26{margin-left:40px;float:left;line-height:30px}
.zi27{font-weight:700;margin-right:20px;font-size:14px}
.zi29{color:#F00;font-weight:700}
.zi30{margin-top:15px;margin-bottom:15px;font-size:14px}




.i1{width:168px;margin:0 auto;display:block}
.i2{float:left}


.img2{width:290px;height:290px;border:1px solid #000;margin:0 auto}
p{text-indent:2em;line-height:24px}
.img3{float:right}
.img4{width:145px;height:100px;border:1px solid #ccc;background:#f5f5f5;float:left;margin-right:16px}
.img5{width:310px;height:210px;border:1px solid #ccc;background:#f5f5f5;margin-bottom:8px}
.img6{}
.img7{float:left;margin:4px 0 0 24px}
.img8{width:95px;height:85px;background:#003f5a;border:1px solid #ccc;float:left;margin-top:90px;margin-left:55px;display:block}
.img9{}



.u1{}
.u1 li{width:55px;height:40px;border:1px solid #ccc;float:left;margin-right:6px;background:#f5f5f5}
.u2{margin:8px 0 8px 20px}
.u2 li{ list-style-type:disc}