<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="PM2.5vs城市空气质量" />
<meta name="description" content="近年来，我国国内城市空气污染形势严峻，以 PM2.5为代表的新型污染物导致的雾霾天气频频在各 大中型城市出现，随着，新版《环境空气质量标准》 "/>
<title>PM2.5vs城市空气质量</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<link rel="stylesheet" type="text/css" href="../style/pm.mk.css" />
<link rel="stylesheet" type="text/css" href="../style/hack.css" />
<script src="../../commjs/jquery-1.6.4.min.js"></script>
<script language="javascript" type="text/javascript" src="../../commjs/hb.comm.js" ></script>
</head> 

<body>
<div class="hb_bar">
    <div class="hb_bar_contn">
        <div class="hb_bar_serve">
            <ul>
			
    				<li class="hb_welcome">欢迎访问<a href="http://www.huanbao.com/">环保网</a>!</li>
    				<li><a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm">快速发布</a></li>
    				<li><a href="http://www.huanbao.com/myesite/regist.htm">免费注册</a></li>
    				<li><a href="http://www.huanbao.com/myesite/login.htm">登录</a></li>

				
			</ul>
				<div class="clear"></div>
        </div>
        <div class="hb_bar_nav">
            <ul id="hb_bar_navls">
                <li>
                    <a href="http://www.huanbao.com/navigation.htm" target="_blank">网站导航</a>
                    <ul class="hb_bar_nav_web" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/trade/index.htm" target="_blank">交易中心</a>
							<ul>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001000--.htm" target="_blank">污水处理</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001001--.htm" target="_blank">原水处理</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001002--.htm" target="_blank">空气净化</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001003--.htm" target="_blank">材料药剂</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001004--.htm" target="_blank">环卫清洁</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001005--.htm" target="_blank">通用配件</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001006--.htm" target="_blank">仪器仪表</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001007--.htm" target="_blank">其他设备</a></li>
							</ul>
                            <div class="clear"></div>
                            <a href="http://www.huanbao.com/news/index.htm" target="_blank">资讯中心</a>
							<ul>
    							<li><a href="http://www.huanbao.com/news/list10001000.htm" target="_blank">环保新闻</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001007.htm" target="_blank">乐活环保</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001008.htm" target="_blank">成功指南</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001006.htm" target="_blank">电子商务</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001004.htm" target="_blank">技术讲堂</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001003.htm" target="_blank">工程招/投标</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001002.htm" target="_blank">其他设备</a></li>
							</ul>
							<div class="clear"></div>
                            <a href="www.huanbao.com/exhibit/index.htm" target="_blank">展会中心</a>
							<ul>
								<li><a href="http://www.huanbao.com/exhibit/list10001010.htm" target="_blank">国内展会</a></li>
    							<li><a href="http://www.huanbao.com/exhibit/list10001011.htm" target="_blank">国际展会</a></li>
								<li><a href="http://www.huanbao.com/exhibit/list10001013.htm" target="_blank">展会资讯</a></li>
    							<li><a href="http://www.huanbao.com/exhibit/list10001012.htm" target="_blank">展会论坛</a></li>
							</ul>
						</li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">中环通服务</a>
                    <ul class="hb_bar_nav_serv" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">电话申请</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpapply.htm" target="_blank">在线申请</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">了解服务</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">生意助手</a>
                    <ul class="hb_bar_nav_assis" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">如何找到客户</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">如何让客户找到</a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#this">我的后台</a>
                    <ul class="hb_bar_nav_center" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">返回我的后台</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/supply/supply.htm" target="_blank">查看询盘信息</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm" target="_blank">发布询盘信息</a>
                        </li>
						<li>
                            <a href="http://www.huanbao.com/myesite/buy/publish_StpOne.htm" target="_blank">发布求购信息</a>
                        </li>
						<li>
                            <a href="http://www.huanbao.com/myesite/message/sendMessage.htm" target="_blank">管理已发布信息</a>
                        </li>
                    </ul>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="astop_bar_adf" >
            <a href="#this"  alt="将环保网添加到收藏夹" class="addfavoritesbtn" onclick="hb.util.topBar.AddBookmark('环保网','http://www.huanbao.com/')">收藏我</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
	<div class="zt_mk">
		<div>
			<img src="../images/pm2.5_02.jpg" />
			<img src="../images/pm2.5_04.jpg" />
		</div>
		<div class="ztmt12">
			<div style="width:524px;" class="left">
				<h3><img src="../images/pm2.5_06.jpg" /></h3>
				<div class="zt_panel_p14 zt_panel_zyb" style="background-color:#F6D69D;">
					<img  src="../images/pm2.5_12.jpg" />
					<p style="width:323px; margin:6px 0 0 10px;">近年来，我国国内城市空气污染形势严峻，以
	PM2.5为代表的新型污染物导致的雾霾天气频频在各
	大中型城市出现，随着，新版《环境空气质量标准》
	获环保部原则性审议通过，标志国内正式将PM2.5、
	臭氧等列入约束性指标。地方也纷纷开始上马新的
	PM2.5监测项目。我们预测，由此带来的投资需求即
	达8亿元左右，PM2.5监测仪器市场有望迎来一轮爆发
	行情。</p>
					<div class="clear"></div>
				</div>
			</div>
			<div class="left ztpm_mksr_p" style="width:424px; margin-left:10px;">
				<h3><img src="../images/pm2.5_08.jpg" /></h3>
				<div class="zt_panel_zyb" style="background-color:#F6D69D;">
					<div style="padding-bottom:8px; border-bottom:1px dashed #C18D55;">
						<img src="../images/pm2.5_15.jpg" />
						<p><a href="http://www.huanbao.com/news/details2914.htm">PM2.5是指大气中直径小于或等于2.5微米的颗粒
物，也称为可入肺颗粒物。它的直径还不到人的头发
丝粗细的1/20……</a></p>
						<div class="clear"></div>
					</div>
					<div style="padding:8px 0; border-bottom:1px dashed #C18D55;">
						<img src="../images/pm2.5_18.jpg" />
						<p><a href="http://www.huanbao.com/news/details2915.htm">空气污染指数(AirpollutionIndex，简称API)就
是将常规监测的几种空气污染物浓度简化成为单一的
概念性指数值形式……</a></p>
						<div class="clear"></div>
					</div>
					<div style="padding:8px 0 5px">
						<img src="../images/pm2.5_20.jpg" />
						<p><a href="http://www.huanbao.com/news/details2916.htm">城市空气质量与气象条件的关系十分密切，在污
染源排放量没有明显变化的情况下，温度、风、降水
等气象条件会直接影响空气质量的好坏……</a></p>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="zt_panel_p14 ztpm_mkt_p ztmt12" >
			<h3><img src="../images/pmh3_03.jpg" /></h3>
			<div style="padding:8px 10px; background-color:#E5DBC8;">
				<div class="left"><img src="../images/pm2.5_23.jpg" /></div>
				<div class="left" style="width:302px;padding-left:7px;">
					<h4>PM2.5大气环境质量标准将出台</h4>
					<p><a href="http://www.huanbao.com/news/details2917.htm">近期由于北方地区灰霾天气频发，被称为灰霾“元凶”的细颗粒物(PM2.5)受到空前关注。
	从民间到专家都在呼吁政府尽早出台PM2.5的评	价标准，并公布对其的监测结果。昨日，著名大气环境专家、北京大学环境科学与工程学院院长张远航在广州就此问题作了专题讲座。他表示，PM2.5是否纳入国家环境质量监控……</a></p>
				</div>
				<div class="left"><img src="../images/pm2.5_25.jpg" /></div>
				<div class="left" style="width:280px;padding-left:7px;">
					<h4>空气质量未达理想状态</h4>
					<p><a href="http://www.huanbao.com/news/details2918.htm">“北京的空气质量确实没有达到让人很理想的状态。”北京市环境保护局副局长杜少中
	今日做客中新网视频访谈，在回应公众在网上针对空气污染数据的质疑和批评时，作出了如上表述。他表示，“北京现在的空气质量还不能够让市民满意、我们自己满意、方方面……</a></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="ztpm_mkti_p ztmt12">
			<h3><img src="../images/pmh3_06.jpg" /></h3>
			<div style="background-color:#E5DBC8; padding:8px 10px;">
				<ul>
					<li>
						<dl>
							<dt><img src="../images/pm2.5_30.jpg" /></dt>
							<dd><a href="http://www.huanbao.com/news/details2926.htm">为了给广大市民出行、
生活提供借鉴和参照，北京
近日首次发布本市PM2.5浓度
趋势的研究性结果：过去10
年，PM2.5年均浓度呈下降趋
势，从2000 年的……</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><img src="../images/pm2.5_32.jpg" /></dt>
							<dd><a href="http://www.huanbao.com/news/details2927.htm">上海市环保局环境监测
中心日前公布了过去5年上海
市PM2.5试点监测数据。数据
显示，2006-2010年，上海市
PM2.5浓度约占PM10浓度的
 50%-60%；PM2.5浓度……</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><img src="../images/pm2.5_34.jpg" /></dt>
							<dd><a href="http://www.huanbao.com/news/details2928.htm">胡桂梁等10多名市人大
代表和吴建平等政协委员在
提交的建议和提案中表示，
“后大运”时代深圳要采取
强有力措施，积极推进清洁
能源技术，优先……</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><img src="../images/pm2.5_36.jpg" /></dt>
							<dd><a href="http://www.huanbao.com/news/details2929.htm">中国首都北京市环保局
环保中心首度正式公布PM2.5
指数。张建庭坦言，目前杭
州西湖、西溪“双西共舞”
时代的到来着实令人欣慰，
但另一方面，西湖成功……</a></dd>
						</dl>
					</li>
					<li style="margin-right:0px;">
						<dl>
							<dt><img src="../images/pm2.5_38.jpg" /></dt>
							<dd><a href="http://www.huanbao.com/news/details2930.htm">南京灰霾天气频发，参
照唐孝炎教授的实验结果，
可以大致判断南京空气中的
PM2.5浓度相对较高。就在昨
日博览会举行的首日，南京
市区又一次被灰霾笼罩……</a></dd>
						</dl>
					</li>
					
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		<div class="ztpm_mkt_p ztmt12">
			<h3><img src="../images/pmh3_09.jpg" /></h3>
			<div class="ztpm_mkfo_p" style="font:12px/18px '宋体'; background-color:#E5DBC8; padding:8px 10px;">
				<img src="../images/pm2.5_45.jpg" />
				<p><a href="http://www.huanbao.com/news/details2919.htm">北京市环保局首次公布
了过去十年北京市PM2.5浓
度数据。北京市环保局副局
长杜少中日前接受采访称，
在PM10还在全国范围内大幅
度超标的情况下，公布PM
2.5意义不大；北京现在还
没到探讨防治PM2.5的……</a></p>
				<img src="../images/pm2.5_48.jpg" />
				<p><a href="http://www.huanbao.com/news/details2920.htm">在“三公经费”上，政
	府并不差钱，而且花起来也
	是大手大脚，为何在购买PM
	2.5监测设备上却显得捉襟见
	肘呢？<br /><em style="color:#E5DBC8;">环保</em>环保部今年起将在京津
	冀、长三角、珠三角等重点
	区域以及直辖市和省会……</a></p>
				<img src="../images/pm2.5_51.jpg" />
				<p><a href="http://www.huanbao.com/news/details2921.htm">去年入冬以来，许多地方
持续发生的雾霾天气，引发了
人们对空气质量污染问题的关
注，由此，PM2.5(细颗粒物)
这一概念被公众熟知。2011年
12月30日，环保部修订《环境
空气质量标准》、《环境空气
质量指数(AQI)技术规定……</a></p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="ztpm_mkt_p ztmt12" style="margin-bottom:12px; padding-bottom:12px; border-bottom:3px solid #8C450D;">
			<h3><img src="../images/pmh3_12.jpg" /></h3>
			<div style="background-color:#E5DBC8; padding:8px 10px;">
				<ul  class="ztpm_mkfid_p">
					<li>
						<h4>PM2.5 人类自己的产物</h4>
						<img src="../images/pm2.5_62.jpg" />
						<p><a href="http://www.huanbao.com/news/details2922.htm">12月5日，环保部制定的《环境
	空气质量标准》第二次公开征求意见
	结束，大家普遍赞成将PM2.5纳入常
	规空气质量评价……</a></p>
					</li>
					<li>
						<h4>公布PM2.5数据</h4>
						<img src="../images/pm2.5_64.jpg"  />
						<p><a href="http://www.huanbao.com/news/details2924.htm">2011年6月10日，中国环境与发
	展国际合作委员会和世界自然基金会
	(WWF)共同发布了《中国生态足迹报
	告》，表明在中国推行低碳生……</a></p>
					</li>
					<li>
						<h4>气候变化与低碳生活</h4>
						<img src="../images/pm2.5_57.jpg" />
						<p><a href="http://www.huanbao.com/news/details2923.htm">南京气象局官方微博“南京气
	象”在预报中出现了“PM2.5细微颗
	粒物浓度”数值，该条“特殊”的微
	博立刻被南京市政府官方微博……</a></p>
					</li>
					<li style="margin-right:0px;">
						<h4>沪学生发明PM2.5空气净化器</h4>
						<img src="../images/pm2.5_59.jpg" />
						<p><a href="http://www.huanbao.com/news/details2925.htm">这两天，向明中学高一学生黄思
	勉每天到校后，就一头钻进实验室摆
	弄她的发明——PM2.5空气净化器。
	在不久前的创新课上，小黄听科……</a></p>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</div>
<div class="hb_footer">
    	<div class="hb_servnav"><a href="http://www.huanbao.com/fudus/absindex.htm" target="_blank">关于我们</a> | <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">会员服务</a> | <a href="#this" target="_blank">广告服务</a> | <a href="http://www.huanbao.com/fudus/vppay.htm" target="_blank">支付方式</a> | <a href="http://www.huanbao.com/fudus/epmap.htm" target="_blank">网站地图</a> | <a href="http://www.huanbao.com/myesite/newbie.htm" target="_blank">新手指南</a> | <a href="http://www.huanbao.com/fudus/friendlinks.htm" target="_blank">友情链接</a> | <a href="http://www.huanbao.com/funus/absjoinus.htm" target="_blank">客服中心</a> |  <a href="http://www.huanbao.com/fudus/leaveMsg.htm" target="_blank">意见留言</a> | <a href="http://www.huanbao.com/fudus/putArticle.htm" target="_blank">投稿</a> </div>
       <div class="hb_address">
			<p class="hb_footer_pt">
				全国统一服务热线：0571-56633090  市场推广专线：0571-56637878 传真：0571-56637777 
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes">
					<img border="0" src="http://wpa.qq.com/pa?p=2:2604876159:41" alt="点击这里给我发消息" title="点击这里给我发消息" style="float:right">
				</a>
			</p>		
			<p>法律顾问：京衡律师集团事务所 罗益群 律师 </p>
			<p>huanbao.com ©All Rights Reserved 中国环保网 版权所有</p>
		</div>
</div>
<script>
hb.util.topBar.HoverList();
</script>  
</body>
</html>
