@charset "utf-8";

.mt80{margin-top:80px}
.blue{padding:10px}

.moblie-top{width:100%;position:fixed;top:0px;background:#fff;z-index:10}
.moblie-title{width:100%;height:50px;overflow:hidden;background:#fff;position:relative}
.moblie-title-text{height:62x;line-height:50px;color:#242424;font-family:"微软雅黑";font-size:28px;overflow:hidden;padding-left:10px}
.moblie-title-collect{width:78px;height:50px;position:absolute;top:0px;right:0px}
.moblite-return{width:50px;height:50px;background:url(../images/return.png) no-repeat -10px -11px;border-right:1px solid #242424;border-bottom:none;float:left}
.moblie-banner{width:100%}
.moblie-banner img{width:100%}

.moblie-main1{width:100%;height:24px;line-height:24px;overflow:hidden;margin:10px auto}
.moblie-main1-text{font-size:16px;font-weight:bold;font-family:"微软雅黑";color:#117ec2;float:left;display:inline}
.search{width:235px;height:24px;overflow:hidden;float:right;display:inline}
.search-box{width:172px;height:24px;overflow:hidden;float:left;display:inline}
.search-text{width:164px;height:16px;background:url(../images/search_text.jpg) no-repeat;border:none;padding:4px}
.search-ok{width:53px;height:24px;float:right;display:inline}
.search-button{width:53px;height:24px;background:url(../images/search_button.jpg) no-repeat;border:none}

.moblie-item{width:100%;height:72px;overflow:hidden;padding-bottom:10px;margin-bottom:10px;border-bottom:1px dashed #444}
.moblie-item-img{width:20%;height:70px;border:1px solid #ccc;float:left;display:inline}WW
.moblie-item-img img{width:20%;height:70px}
.moblie-item-center{width:50%;height:72px;overflow:hidden;padding-left:10px;float:left;display:inline}
.moblie-itemconter-title{width:50%;height:24px;overflow:hidden;line-height:24px}
.moblie-itemconter-title a{font-size:14px;color:#1359e7}
.moblie-itemconter-text{width:100%;height:14px;overflow:hidden;margin-top:5px;line-height:14px;color:#444}

.moblie-item-right{width:25%;height:72px;line-height:24px;overflow:hidden;float:right;display:inline}
.moblie-item-date{margin-top:25px}
.moblie-item-enquiry a{font-size:14px;color:#1359e7}


.moblie-footer2{width:100%;height:30px;overflow:hidden;background:url(../images/nav_bg.jpg) repeat-x;position:fixed;top:50px}
.moblie-footer2 ul{}
.moblie-footer2 ul li{width:24%;height:30px;line-height:25px;text-align:center;display:inline-block;background-position:center}
.moblie-footer2 ul li a{width:80%;height:25px;margin-top:5px;font-size:18px;color:#fff;font-family:"微软雅黑";display:block}



.moblie-more{width:100px;height:27px;background:url(../images/more.jpg) no-repeat;margin-bottom:84px;cursor:pointer}
.moblie-more:hover{background:url(../images/more_click.jpg) no-repeat}

.moblie-page{margin-bottom:84px;}
.moblie-page-before{display:inline-block}
.moblie-page-next{display:inline-block}




/**公司简介**/
.company{margin-top:10px}
.company-title{height:25px;line-height:25px;background:#fff;color:#333;font-size:18px;font-family:"微软雅黑";padding:0 10px}
.company-content{padding-bottom:10px;color:#3e3e3e;position:relative}
.company-content img{width:100%}
.company-img{width:28%;height:150px;border:1px solid #ccc;float:left;display:inline}
.company-box{width:68%;height:150px;text-indent:2em;color:#3e3e3e;float:right;display:inline}
.company-text{line-height:24px;color:#3e3e3e;margin:20px 0 90px 0}
.contact li{color:#3e3e3e;line-height:24px}
.archives-icon{width:20%;color:#3e3e3e;float:left;display:inline;margin-left:15%}
.archives-icon img{width:100%}
.archives-date{width:20%;height:20px;text-align:center;margin:0 1px;color:#3e3e3e;float:left;display:inline}
.archives-num{width:40%;height:20px;color:#3e3e3e;float:left;display:inline}
.archives-title{font-size:14px;margin-bottom:5px}
.archives-table{width:100%}
.archives-table tr td{border:1px solid #ccc;background:#e1e7f4;text-align:center;color:#001d44}

.company-table{width:100%;margin:10px}
.company-table tr td{line-height:24px;}
.company-table2{width:100%}
.company-table2 tr td{padding:5px 10px;width:25%}
.company-table2-img{width:100%}
.company-table2-img img{width:100%;height:100px}
.company-table2-text{text-align:center}
.company-return{height:40px;background:url(../images/item_bg2.jpg) repeat-x;margin:10px 0;cursor:pointer}
.moblite-logo{margin-top:10px;float:left}

.company-title2{height:25px;line-height:25px;font-size:18px;font-family:"微软雅黑";padding-left:10px;padding-top:10px}
.company-content2{padding:10px;padding-top:0px;color:#333;margin-bottom:10px}
.company-content2 img{width:100%}
.company-title2bg{color:#fff;background:#fff}

.company-info{position:absolute;right:5px;top:10px}


.company-titlebox{height:30px;background:url(../images/item_bg2.jpg) repeat-x}
.company-titlebox-text{width:183px;height:30px;line-height:30px;padding-left:10px;font-size:16px;font-weight:bold;color:#f58d30;background:url(../images/item_bg1.jpg) no-repeat}
.company-titlebox-more{height:30px;line-height:30px;padding-right:10px}
.company-titlebox-more a{color:#fff}




.moblie-page{margin-bottom:84px;}
.moblie-page-before{display:inline-block}
.moblie-page-next{display:inline-block}.moblie-page{margin-bottom:84px;}
.moblie-page-before{display:inline-block}
.moblie-page-next{display:inline-block}

/**按钮样式**/
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 29, ../scss/button.scss */
.button:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}
/* line 33, ../scss/button.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}


/**最终页**/
.content-title{height:40px;line-height:40px;font-size:14px;color:#333;padding:0 10px;background:#bebebe;border:1px solid #b0b0b0}
.content-content{background:#e7e7e7;padding:15px 10px}
.content-block{background:#fff;padding:10px}
.content-div{padding:5px 0;border-bottom:1px solid #e7e7e7;color:#333}
.content-div2{padding:5px 0;border-bottom:1px dashed #e7e7e7;color:#333}
.content-caption{width:40%;float:left;margin:5px 0}
.content-text{width:60%;float:left;margin:5px 0}
.content-caption2{width:20%;float:left;margin:5px 0}
.content-text2{width:80%;float:left;margin:5px 0}
.content-button{width:117px;height:33px;line-height:30px;text-align:center;background:url(../images/icon3.jpg) no-repeat;float:left}
.content-a1{width:107px;height:33px;background:url(../images/icon4.jpg) no-repeat 5px 7px;color:#0059d2;padding-left:10px;display:block}
.content-a2{width:107px;height:33px;background:url(../images/icon5.jpg) no-repeat 5px 7px;color:#0059d2;padding-left:10px;display:block}
.phoneTitle{border:1px solid #ccc;border-bottom:2px solid #ccc;padding:8px 0;background:#e7e7e7;font-size:14px}
.phoneTitle img{vertical-align:middle;margin-right:20px}
.phoneTitle span{margin:0 10px;color:#f00;font-size:12px}



.message-text{width:100%;height:100px}