<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>zz91年底推荐专场</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="css/moblie.css"/>
<script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
</head>
<body>

<div class="moblie">
	<div class="moblie-top">
        <div class="moblie-title">
            <div class="moblie-title-text">
                天津市静海县斌利达五金厂
            </div>
            <div class="moblie-title-collect">
                <img src="images/collection.jpg" />
            </div>
            <div class="cb"></div>
        </div>
        <!--end moblie-title-->
    </div>
    <!--end moblie-top-->
    <div class="moblie-banner">
        <img src="images/banner.jpg" />
    </div>
    <!--end moblie-banner-->
    <div class="moblie-main1">
        <div class="moblie-main1-text">
            最新供求
        </div>
        <div class="search">
            <div class="search-box">
                <input type="text" class="search-text" />
            </div>
            <div class="search-ok">
                <input type="button" class="search-button" />
            </div>
            <div class="cb"></div>
        </div>
        <!--end search-->
        <div class="cb"></div>
    </div>
    <!--end moblie-main1-->
    <div class="moblie-item">
    	<div class="moblie-item-img">
        
        </div>
        <div class="moblie-item-center">
        	<div class="moblie-itemconter-title">
            	<a href="#">求购废铁</a>
            </div>
            <!--end moblie-itemconter-title-->
            <div class="moblie-itemconter-text">
            	长期求购氧化铁皮；求购数量500吨左右
            </div>
            <!--end moblie-itemconter-text-->
            <div class="moblie-itemconter-text">
                价格面议，欢迎有货者与我联系！
            </div>
            <!--end moblie-itemconter-text-->
        </div>
        <div class="moblie-item-right">
        	<div class="moblie-item-date">
            	2014-01-18
            </div>
            <!--end moblie-item-date-->
            <div class="moblie-item-enquiry">
            	<a href="#">在线询价</a>
            </div>
            <!--end moblie-item-date-->
        </div>
        <!--end moblie-item-right-->
        <div class="cb"></div>
    </div>
    <!--end moblie-item-->
    <div class="moblie-item">
    	<div class="moblie-item-img">
        
        </div>
        <div class="moblie-item-center">
        	<div class="moblie-itemconter-title">
            	<a href="#">求购废铁</a>
            </div>
            <!--end moblie-itemconter-title-->
            <div class="moblie-itemconter-text">
            	长期求购氧化铁皮；求购数量500吨左右
            </div>
            <!--end moblie-itemconter-text-->
            <div class="moblie-itemconter-text">
                价格面议，欢迎有货者与我联系！
            </div>
            <!--end moblie-itemconter-text-->
        </div>
        <div class="moblie-item-right">
        	<div class="moblie-item-date">
            	2014-01-18
            </div>
            <!--end moblie-item-date-->
            <div class="moblie-item-enquiry">
            	<a href="#">在线询价</a>
            </div>
            <!--end moblie-item-date-->
        </div>
        <!--end moblie-item-right-->
        <div class="cb"></div>
    </div>
    <!--end moblie-item-->
    <div class="moblie-item">
    	<div class="moblie-item-img">
        
        </div>
        <div class="moblie-item-center">
        	<div class="moblie-itemconter-title">
            	<a href="#">求购废铁</a>
            </div>
            <!--end moblie-itemconter-title-->
            <div class="moblie-itemconter-text">
            	长期求购氧化铁皮；求购数量500吨左右
            </div>
            <!--end moblie-itemconter-text-->
            <div class="moblie-itemconter-text">
                价格面议，欢迎有货者与我联系！
            </div>
            <!--end moblie-itemconter-text-->
        </div>
        <div class="moblie-item-right">
        	<div class="moblie-item-date">
            	2014-01-18
            </div>
            <!--end moblie-item-date-->
            <div class="moblie-item-enquiry">
            	<a href="#">在线询价</a>
            </div>
            <!--end moblie-item-date-->
        </div>
        <!--end moblie-item-right-->
        <div class="cb"></div>
    </div>
    <!--end moblie-item-->
    <div class="moblie-item">
    	<div class="moblie-item-img">
        
        </div>
        <div class="moblie-item-center">
        	<div class="moblie-itemconter-title">
            	<a href="#">求购废铁</a>
            </div>
            <!--end moblie-itemconter-title-->
            <div class="moblie-itemconter-text">
            	长期求购氧化铁皮；求购数量500吨左右
            </div>
            <!--end moblie-itemconter-text-->
            <div class="moblie-itemconter-text">
                价格面议，欢迎有货者与我联系！
            </div>
            <!--end moblie-itemconter-text-->
        </div>
        <div class="moblie-item-right">
        	<div class="moblie-item-date">
            	2014-01-18
            </div>
            <!--end moblie-item-date-->
            <div class="moblie-item-enquiry">
            	<a href="#">在线询价</a>
            </div>
            <!--end moblie-item-date-->
        </div>
        <!--end moblie-item-right-->
        <div class="cb"></div>
    </div>
    <!--end moblie-item-->
    <center>
    <div class="moblie-more">
    	
    </div>
    <!--end mobllie-more-->
    </center>
    <div class="moblie-footer">
    	<ul>
        	<li class="moblie-footer-img1click"><a href="#"></a></li>
            <li class="moblie-footer-img2"><a href="#"></a></li>
            <li class="moblie-footer-img3"><a href="#"></a></li>
            <li class="moblie-footer-img4"><a href="#"></a></li>
            <div class="cb"></div>
        </ul>
    </div>
    <!--end moblie-footer-->
</div>
<!--moblie-->

</body>
</html>
