@charset "utf-8";



/*------- top -------*/
.top {
	height: 545px;
	background: url(../images/top.jpg) no-repeat;
	background-position: center;	
}



/*------- content -------*/
.content h2 {
	line-height: 30px;
}
.content .stage {
	text-indent: 2em;
	line-height: 40px;
	font-family: 'Microsoft YaHei';
	font-size: 20px; 
}
.purple {
	color: #9354f2;	
}
.black {
	color: #000;	
}
.ml20 {
	margin-left: 20px;	
}
.pt50 {
	padding-top: 50px;	
}
.wrap2014 {
	background-color: #ffe9ce;	
}
.wrap2013 {
	background-color: #b5ccf7;	
}
.wrap2011 {
	background-color: #e5ffe4;	
}
.wrap2010 {
	background-color: #b5f2f7;	
}
.wrap2009 {
	background-color: #fdffdd;	
}
.wrap2008 {
	background-color: #cbdbfa;	
}
.wrap2005 {
	background-color: #ecdfff;	
}
.wrap1997 {
	background-color: #ffe2ef;	
}
.wrap1996 {
	background-color: #b1dafd;	
}
.wrap1991 {
	background-color: #fddcb1;	
}
.more {
	color: #005ffd;
	outline: none;	
}
.item_wrap {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	zoom: 1;	
}
.item_2014 {
	height: 290px;
	background: url(../images/bg_2014.jpg) 70px bottom no-repeat;
	padding-left: 220px;
}
.item_2013 {
	height: 442px;
	background: url(../images/bg_2013.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_2011 {
	height: 269px;
	background: url(../images/bg_2011.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_2010 {
	height: 376px;
	background: url(../images/bg_2010.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_2009 {
	height: 263px;
	background: url(../images/bg_2009.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_2008 {
	height: 348px;
	background: url(../images/bg_2008.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_2005 {
	height: 360px;
	background: url(../images/bg_2005.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_1997 {
	height: 259px;
	background: url(../images/bg_1997.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_1996 {
	height: 285px;
	background: url(../images/bg_1996.jpg) 70px top no-repeat;
	padding-left: 220px;
}
.item_1991 {
	height: 305px;
	background: url(../images/bg_1991.jpg) 70px top no-repeat;
	padding-left: 220px;
}

.wrap2014 .grade, .wrap2013 .grade, .wrap2011 .grade, .wrap2010 .grade, .wrap2009 .grade, .wrap2008 .grade, .wrap2005 .grade, .wrap1997 .grade, .wrap1996 .grade, .wrap1991 .grade {
	padding-top: 55px;
}
.wrap2014 .item_2014 h2 {
	font-size: 18px;
	font-weight: 700;
}
.wrap2013 .item_2013 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #658de6;
}
.wrap2014 .item_2014 h2 a {
	color: #ff8c00;
}
.wrap2013 .item_2013 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #658de6;
}
.wrap2013 .item_2013 h2 a {
	color: #658de6;
}
.wrap2011 .item_2011 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #068b00;
}
.wrap2011 .item_2011 h2 a {
	color: #068b00;
}
.wrap2010 .item_2010 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #03848f;
}
.wrap2010 .item_2010 h2 a {
	color: #03848f;
}
.wrap2009 .item_2009 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #8c9500;
}
.wrap2009 .item_2009 h2 a {
	color: #8c9500;
}
.wrap2008 .item_2008 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #3273f0;
}
.wrap2008 .item_2008 h2 a {
	color: #3273f0;
}
.wrap2005 .item_2005 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #c09ef8;
}
.wrap2005 .item_2005 h2 a {
	color: #c09ef8;
}
.wrap1997 .item_1997 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #eb4a91;
}
.wrap1997 .item_1997 h2 a {
	color: #eb4a91;
}
.wrap1996 .item_1996 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #6c9ccd;
}
.wrap1996 .item_1996 h2 a {
	color: #6c9ccd;
}
.wrap1991 .item_1991 h2 {
	font-size: 18px;
	font-weight: 700;
	color: #c06f05;
}
.wrap1991 .item_1991 h2 a {
	color: #c06f05;
}

.wrap2014 .item_2014 p, .wrap2013 .item_2013 p, .wrap2011 .item_2011 p, .wrap2010 .item_2010 p, .wrap2009 .item_2009 p, .wrap2008 .item_2008 p, .wrap2005 .item_2005 p, .wrap1997 .item_1997 p, .wrap1996 .item_1996 p, .wrap1991 .item_1991 p {
	line-height: 28px;
	text-indent: 2em;
	font-family: 'Microsoft YaHei';
	font-size: 16px;
	margin: 15px 0;
}


/*------- bottom -------*/
.bottom {
	background-color: #2c4985;	
	padding: 80px 0;
}
.bottom .bg_item {
	height: 270px;
	background: url(../images/bg_title.jpg) left top no-repeat;
	padding-top: 20px;
}
.bottom .info_wrap {
	width: 890px;
	height: 170px;
	margin: 0 auto;
	background-color: #fff;	
	padding: 50px 24px;
}