@charset "utf-8";
/* CSS Document */
body{background:#3391dd}
.hdoc{width:958px;margin:12px auto;background:#e5f4fd}
.y_conts_tl{margin:18px;float:left}
.y_conts_tr{float:left;margin-top:18px}
.y_conts_tr h3{font:bold 16px/24px '宋体';color:#f00}
.y_conts_tr p{width:550px;line-height:24px;word-wrap:break-word;overflow:hidden}
.y_conts_tr p em{font-weight:bold}
.y_conts_tr p a{color:#225db1}
.y_conts_tr p a:hover{color:#6CF}
.y_item_hd{background:#215cb1;height:35px;position:relative}
.y_item_hd .item_l{float:left;position:absolute;left:-4px}
.y_item_hd .item_r{float:right;position:absolute;right:-4px}
.y_item ul li{margin:26px 0px 8px 40px;float:left;_display:inline}
.y_item ul li dl dt img{border-radius:3px;border:solid 3px #3492de;width:183px;height:136px}
.y_item ul li dl dd{font:normal 12px/28px '宋体';text-align:center}