<div id="topBar" class="clearfix">

	    <div id="topBarInfo">
		<div id="topBarLogin">
        <iframe src="http://china.zz91.com/status.htm" frameborder="0" width="450" height="28" allowtransparency="true" scrolling="no"></iframe>
        </div>
			<div id="topBarLink">
	            <ul>
					<li class="tradAssi"><a href="javascript:void(0)" class="nohover">交易助手</a>
	                    <ul>
	                        <li ><a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank">发布供求</a></li>
	                        <li><a href="http://myrc.zz91.com/mycompanyprice/saveCompanyPrice.htm" target="_blank">发布报价</a></li>
	                        <li><a href="http://myrc.zz91.com/subscribe/subscribeIndex.htm" target="_blank">商机定制</a></li>
	                        <li class="selected"><a href="http://huzhu.zz91.com/postReply.htm" target="_blank" class="selected">发布帖子</a></li>
	                    </ul>
	                </li>
					<li><a href="http://www.recyclechina.com/" target="_blank">英文站</a></li>
					<li><a href="http://www.zz91.com/service/zst/" target="_blank">再生通</a></li>
					<li><a href="http://www.zz91.com/service/ppt/index.asp" target="_blank">品牌通</a></li>
					<li><a href="http://www.zz91.com/specialsubject/hjzw/" target="_blank">黄金展位</a></li>
					<li><a href="http://www.zz91.com/service/baidu/yh.html" target="_blank">百度优化</a></li>
					<li><a href="http://sms.zz91.com/" target="_blank">短信报价</a></li>
					<li><a href="http://www.zz91.com/myrc/" target="_blank">生意管家</a></li>
	            </ul>
	        </div>
	    </div>
</div>