<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title>废纸产业发展论坛-参会报名拼团活动</title>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/subject/tuangou/css/base-min.css" />
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/subject/tuangou/css/index.css" />
	</head>
	<body>
		<script type="text/javascript" src="http://static.m.zz91.com/subject/tuangou/js/viewport.js"></script>
		
		<div class="bangdan-warp">
			<div style="height: 2.4rem;">
				<div class="nav-top">
					<div class="nav-main">
						<a href="http://m.zz91.com/zt/feizhiluntanH5/fuwu.html" class="nav-hr"></a>参会报名拼团活动
					</div>
				</div>
			</div>
			
			<div class="tg-tle">
				<img src="http://static.m.zz91.com/subject/tuangou/images/tuang-img3.png" />
				<div class="tg-tlemain clear">
					<center class="tg-tletime">活动时间：2017.8.3-8.9</center>
				</div>
			</div>
			
			<div class="tg-ktbox">
				<ul class="tg-ktul clear">
					<li class="tg-ktli">
						<img src="http://static.m.zz91.com/subject/tuangou/images/tuang-img4.png"/>
						{%if joinstatus5%}
						<a href="detail.html?grouptype=5" class="tg-ktbtn1">我已参团</a>
						{%else%}
						<a href="detail.html?grouptype=5" class="tg-ktbtn">去开团</a>
						{%endif%}
					</li>
					<li class="tg-ktli">
						<img src="http://static.m.zz91.com/subject/tuangou/images/tuang-img5.png"/>
						{%if joinstatus10%}
						<a href="detail.html?grouptype=10" class="tg-ktbtn1">我已参团</a>
						{%else%}
						<a href="detail.html?grouptype=10" class="tg-ktbtn">去开团</a>
						{%endif%}
					</li>
				</ul>
				<div class="tg-lcimg">
					<img src="http://static.m.zz91.com/subject/tuangou/images/tuang-lc.png" />
				</div>
			</div>
			
			
			<div class="tg-mainbox">
				<div class="tg-main">
					<div class="tg-ztrule-tle">
						<span>组团报名规则</span>
					</div>
					<div class="tg-ztrule">
						<p>1. 活动时间：2017.8.3-8.9</p>
						<p>2. 每人可以发起一个5人团或10人团，支付开团或参团后可以邀请好友来参团</p>
						<p>3. 发起一个5人团或10人团，拼团有效期是自开团时刻起的48小时内，超出有效期后人数未满则拼团失败</p>
						<p>4. 拼团失败，则需要补差价支付原价报名费（500元/人）</p>
						<p>5. 本活动最终解释权归ZZ91再生网所有</p>
					</div>
				</div>
			</div>
			
			<a href="index.html" class="haop-hb"></a>
			
			<div class="tg-huiyi">
				<p class="zz-div-box">
					<i class="icon icon-time3"></i><span class="zz-div-td1"><strong>会议时间：</strong>2017年8月23日 （周三）</span>
				</p>
				<p class="zz-div-box">
					<i class="icon icon-didian2"></i><span class="zz-div-td1"><strong>会议地点：</strong>杭州富阳东方茂开元名都酒店</span>
				</p>
				<p class="zz-div-box">
					<i class="icon icon-zt2"></i><span class="zz-div-td1"><strong>会议主题：</strong>“新趋势•链未来”</span>
				</p>
				<p class="zz-div-box">
					<i class="icon icon-gm2"></i><span class="zz-div-td1"><strong>会议规模：</strong>200人（废纸企业负责人、造纸企业负责人）</span>
				</p>
				<p class="zz-div-box">
					<i class="icon icon-fw2"></i><span class="zz-div-td1"><strong>参会范围：</strong>新书，旧书，牛皮纸，书芯，白纸，装订纸边，黄板纸，灰卡，新报纸，旧报纸，新闻纸，铜版纸，口杯纸、无菌包装，书页，打包机，造纸厂，废纸进出口相关服务企业）</span>
				</p>
				<p class="zz-div-box">
					<i class="icon icon-gy"></i><span class="zz-div-td1"><strong>会议概要：</strong>ZZ91再生网成立于2006年，作为国内领先的再生资源交易平台，致力于为客户提供再生塑料撮合交易服务的同时助推再生资源行业健康发展。由ZZ91再生网主办的“新趋势•链未来”废纸产业发展论坛将于2017年8月23日在杭州富阳东方茂开元名都大酒店举行。</span>
				</p>
			</div>
			
			<div style="height: 2.725rem;">
				<div class="tg-zfbtnbox">
					<a href="http://m.zz91.com/zt/feizhiluntanH5/index.html" class="tg-nav">
						<i class="icon icon-index2"></i>返回专题首页
					</a>
				</div>
			</div>
		</div>
		
		<div style="display:none">
		    <script>
		        var _hmt = _hmt || [];
		        (function() {
		            var hm = document.createElement("script");
		            hm.src = "//hm.baidu.com/hm.js?c120670c814d08922e7048797e6472c1";
		            var s = document.getElementsByTagName("script")[0];
		            s.parentNode.insertBefore(hm, s);
		        })();
		    </script>
		    <script>
		        var _hmt = _hmt || [];
		        (function() {
		            var hm = document.createElement("script");
		            hm.src = "//hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
		            var s = document.getElementsByTagName("script")[0];
		            s.parentNode.insertBefore(hm, s);
		        })();
		    </script>
		</div>
	</body>
</html>
