<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml"> 
<html>
	<head>
		<title>国外支付_再生支付_ZZ91再生网</title>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
	</head>
	<body>
    	<div class="top">
        	<div class="top_item">
            	<div class="top-left">
                	<a href="http://m.zz91.com"><img src="http://m.zz91.com/images/main/index.png"></a>
                </div>
                <!--end top-left-->
                <div class="top-right"><a href="#">返回</a></div>
                <!--end top-right-->
                <div class="cb"></div>
            </div>
            <!--end top_item-->
        </div>
        <!--end top-->
    	<div class="content">
        	<table class="abroad_tab">
            	<tr>
                	<td><a href="3.html">网上银行</a></td>
                    <td><a href="2.html">支付宝</a></td>
                    <td><a href="#" class="cur">国外支付</a></td>
                </tr>
            </table>
            <table class="zfb_tab">
            	<tr>
                	<td><img src="images/zfb_logo.png" /></td>
                    <td>
                    	<p><span class="bold">ZZ91支付宝</span><br />
                        <span class="bold">帐号：</span>zhifu@asto-inc.com</p>
                    </td>
                </tr>
            </table>
            <table class="form_tab">
            	<tr>
                	<td colspan="2">Wire Transfer ( 国外转账支付 )</td>
                </tr>
                <tr>
                	<td class="lb">BANK NAME：</td>
                    <td>BANK OF CHINA</td>
                </tr>
                <tr>
                	<td class="lb">BRANCH：</td>
                    <td>QINGCHUN SUB-BRANCH</td>
                </tr>
                <tr>
                	<td class="lb">SWIFT CODE：</td>
                    <td>BKCHCNBJ910</td>
                </tr>
                <tr>
                	<td class="lb">ACCOUNT NUMBER：</td>
                    <td>4531608-0188-013341-2</td>
                </tr>
                <tr>
                	<td class="lb">ACCOUNT HOLDER NAME：</td>
                    <td>SONG DAN DAN</td>
                </tr>
                <tr>
                	<td class="lb">BANK FHONE NUMBER：</td>
                    <td>86-571-87067036</td>
                </tr>
                <tr>
                	<td colspan="2">BANK FHONE NUMBER：</td>
                </tr>
                <tr>
                	<td colspan="2">17 JIUSHENG Road,Hangzhou,Zhejiang Prv.CHINA 31000</td>
                </tr>
                <tr>
                	<td colspan="2">
                    	<p class="info">Basic Membership Fee: 3500RMB/Year. <br />
                        Pls refer to the latest exchange rate if you transfer the membership fee not in RMB.<br />
                        Please reference your ZZ91.COM member ID (email address)on the bank receipt and fax it to our Service Department (Fax : 86 571-56637777)</p>
                    </td>
                </tr>
            </table>
        </div>
        <!--end content-->
	</body>
</html>