<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml"> 
<html>
	<head>
		<title>银牌品牌通-简介_再生支付_ZZ91再生网</title>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
	</head>
	<body>
    	<div class="top">
        	<div class="top_item">
            	<div class="top-left">
                	<a href="http://m.zz91.com"><img src="http://m.zz91.com/images/main/index.png"></a>
                </div>
                <!--end top-left-->
                <div class="top-right"><a href="#">返回</a></div>
                <!--end top-right-->
                <div class="cb"></div>
            </div>
            <!--end top_item-->
        </div>
        <!--end top-->
    	<div class="content">
        	<table class="abstract_tab">
            	<tr><td><span class="gray">银牌品牌通-简介</span></td></tr>
                <tr>
                	<td>
                    	<ul class="ldb">
                        	<li>1、银牌品牌通会员（限量）在ZZ91上拥有银牌LOGO，并享受第三排序优先。</li>
                            <li>2、再生通会员基础服务。</li>
                            <li>3、ZZ91展会推广服务一期，ZZ91中国再生资源大黄页企业名录一个。</li>
                            <li>4、搜索结果页/供求信息列表页中1个关键词黄金展位3个月服务。</li>
                            <li>服务电话：<span class="bold">0571-56611111</span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <!--end content-->
	</body>
</html>