@charset "utf-8";


body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}
a {
	outline: none;	
}

.clearfix:after {
	content: ".";
  	display: block;
 	height: 0;
  	clear: both;
  	visibility: hidden;	
}


/*------- wrap -------*/
.wrap {
	position: relative;	
	
}

.w-top {
	height: 1038px;
	background: url(../images/top.jpg) no-repeat;
	background-position: center;	
}
.w-item01 {
	height: 1446px;
	background: url(../images/bg01.jpg) no-repeat;
	background-position: center;	
}
.w-item02 {
	height: 1592px;
	background: url(../images/bg02.jpg) no-repeat;
	background-position: center;	
}
.w-item03 {
	height: 2251px;
	background: url(../images/bg03.jpg) no-repeat;
	background-position: center;	
}
.w-item04 {
	height: 469px;
	background: url(../images/bg04.jpg) no-repeat;
	background-position: center;	
}
.w-btn {
	width: 980px;
	padding-top: 100px;
	margin: 0 auto;	
}
.w-left {
	width: 425px;
	height: 99px;
	background: url(../images/btn01.jpg) no-repeat;	
}
.w-right {
	width: 429px;
	height: 99px;
	background: url(../images/btn02.jpg) no-repeat;	
}













