@charset "utf-8";


.top{height:624px;background:url(../images/top.jpg) no-repeat;background-position:center;}
.down{height:1980px;background:url(../images/bg.jpg) no-repeat;background-position:center;}

.content{width:960px;margin:0 auto;}

.tab{padding:15px;}
.menu{width:900px;margin:0 auto;}
.menu a{color:#fff;}
.menu tr td{height:37px;}
.tag{height:28px;line-height:28px;background:url(../images/logo_pt.jpg) no-repeat;padding-left:32px;}
.tag1{height:28px;line-height:28px;background:url(../images/logo_ldb.png) no-repeat;padding-left:32px;}
.tag2{height:28px;line-height:28px;background:url(../images/logo_zst.png) no-repeat;padding-left:32px;}



.list {color:#fff;margin:70px 0 90px 12px;}
.list a{color:#3198ff}
.brown{color:#ff9914}
.list ul li{line-height:28px;font-size:16px}

.block{height:315px;padding-top:70px;_padding-top:50px}
.block ul.first{overflow:hidden}
.block ul.first li{float:left;display:inline;margin-left:12px;margin-right:44px;}
.block .box{background:#fdffea;padding:16px 25px 10px 25px;position:relative}
.block .box-img{width:226px;height:176px;text-align:center;vertical-align:middle;display:table-cell;}
.block .box-img img{vertical-align:middle;}
.block .box-info {width:226px;overflow:hidden;}
.tel{font-size:15px;color:#e6352d}
.block .box p{line-height:22px;}
.gray{color:#787878;}

.block .box1-text{height:68px;color:#fff;line-height:30px;font-size:16px;font-family:"微软雅黑";}


.block2 ul.second{overflow:hidden}
.block2 ul.second li{float:left;display:inline;margin-left:12px;margin-bottom:20px;margin-right:10px;}
.block2 ul.second .box2{background:#fdffea;padding:16px 15px 10px 15px;position:relative}
.block2 ul.second .box2-img{width:186px;height:150px;text-align:center;vertical-align:middle;display:table-cell;}
.block2 ul.second .box2-img img{vertical-align:middle;}
.block2 ul.second .box2-info{width:186px;overflow:hidden;}
.block2 ul.second .box2-info p{line-height:22px;}


.block3{width:265px;margin:0 auto}


.tp{position:absolute;right:0;top:0;}


.subject_foofer{color:#fff}

.subject_foofer a{color:#fff}












