@charset "utf-8";
/* CSS hbdahui*/
.dh_all_h{ width:958px; margin: 0px auto; padding-bottom:10px; border-bottom:3px solid #e50101;}
.dh_all_h a:hover{ color:#0774ac;}
.dh_all_h .toplogo_h img{_ margin-top:-4px; width:957px;}
.xw_dd_h{ margin-top:8px; border: solid 1px #d09e06; padding:15px 20px 15px 8px; }
.xw_dd_h .left_h{ float:left; border: solid 1px #d1d3d3;}
.xw_dd_h .left_h img{ padding:5px;}
.xw_dd_h .right_h{ float:right;}
.right_h h3{ background:#fcf28d; height:35px; width:680px; color:#ed0101; font: bold 18px/35px "宋体"; text-align:center; margin-bottom:8px;}
.right_h p{ width:680px; font:14px/24px "宋体"; text-indent:2em; margin-top:5px;}
.kq_li_h{ margin-top:8px;  border: solid 1px #d09e06; padding:15px 20px 15px 8px;}
.kq_li_h .left1_h{ float:left;}
.kq_li_h .right1_h{ float:right;}
.kq_li_h .right1_h p{width:680px; font:14px/24px "宋体"; text-indent:2em; margin-top:8px;}
.right1_h  h3{ width:680px; color:#000; font: bold 14px/24px "宋体";}
.kq_li_h .left1_h{ float:left; border: solid 1px #d1d3d3;}
.kq_li_h .left1_h img{ padding:5px;}
.kq_li_h .left1_h a span{ display:block; text-align:center; font:14px/24px "宋体"; padding:3px;}
.kq_li_h .right1_h .xx_h{ border-bottom: dashed 1px #999; padding:8px 0px;}
.kq_li_h .right1_h .xx1_h { margin-top:8px;}
.qg_left_h{ height:933px;width:247px;border: solid 1px #d09e06; float:left; margin-top:8px; }
.qg_dh_h h3{ background:url(../images/dqjbq_03.jpg) no-repeat; height:33px; width:247px; color:#ed0101; font: bold 16px/33px "宋体"; text-indent:3em;}
.qg_dh_h .left_list_h{padding:9px 10px; margin-top:5px;}
.qg_dh_h .left_list_h a{ display:block;font: bold 14px/24px  "宋体"; color:#036d0b; text-align:center;}
.qg_dh_h .left_list_h p{display:block; font:14px/23px  "宋体";text-indent:2em; margin-top:8px; padding:3px;}
.qg_dh_h .left_list1_h, .qg_dh_h .left_list_h{ background:url(../images/hbdh_03.gif) no-repeat bottom; margin-bottom:8px;}
.qg_dh_h .left_list2_h  a,.qg_dh_h .left_list1_h a{ font: bold 14px/23px  "宋体"; color:#036d0b; display:block;text-align:center;}
.qg_dh_h .left_list1_h p,.qg_dh_h .left_list2_h p{ display:block;font:14px/23px  "宋体"; color:#000;text-indent:2em; padding:3px; }
.qg_dh_h .left_list_h,.qg_dh_h .left_list1_h,.qg_dh_h .left_list2_h{ padding:8px;}
.qg_rt__list_h{ float:right;width:697px;}
.qg_right_h{ border: solid 1px #d2a212; float:right; width:696px; margin-top:9px;}
.qg_right_h .rt_right_h{ float:left; margin-top:20px; margin-left:6px;}
.qg_right_h .rt_right_h p{ font: 14px/23px "宋体"; text-indent:2em; width:455px;}
.right_img_h{ float:left; width:209px; height:149px; padding:8px;}
.qg_right_h h3{ background:url(../images/dqj_03.gif) no-repeat; width:696px; height:33px; float:left;color:#ed0101; font: bold 16px/33px "宋体"; text-indent:3em;}
.qg_right_h .right_list_h{ font: 14px/23px "宋体"; padding:8px;}
.qg_right_h .right_list_h ul li{ float:left; width:300px; } 
.qg_right_h .right_listimg_h img{ padding:7px;}
