
.altertitle{
	height: 45px;
	border-bottom: 1px solid #e4e4e4;
	font-size: 13px;
}
.altertitle_h2{
	padding-top: 23px;
	margin-left: 7px;
}
.altertitle_span{
	color: #ff0000
}
.allinfo{
	padding:0 7px;
}
.allinfo_ul li{
	display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-flow: flex;
           flex-flow: flex;
    color:#666666;
    padding: 5px 0px;
}
.allinfo_ul li .info_fill{
	-webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
}
.info_fill{
	padding-left: 10px;
}
.info-title{
	width: 102px;
	text-align: right;
	line-height: 20px;
	font-weight: bold;
}
.fill_ipt{
	width: 120px;
	border: 1px solid #cccccc;
	background:#ffffff;
	border-radius: 2px;
	padding-left: 10px;
}
.single label{
	margin-right: 5px;
	margin-right: 10px;
	position: relative;
	padding-left: 20px;
	line-height: 20px;
}
.single input{
	margin-right: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.guhua{
	border: 1px solid #cccccc;
	background:#ffffff;
	border-radius: 2px;
}
.guhua_qu{
	width: 30px;
	text-align: center;
}
.guhua_haoma{
	width: 90px;
	padding-left: 10px;
}
.hint{
	font-size: 10px;
	color: #999999;
	margin-top: 5px;
}
.email{
	width: 100px;
	margin-left: 5px;
	padding-left: 10px
}
.webhttp{
	width: 140px;
}

.select_info{
	border: 1px solid #cccccc;
	background:#ffffff;
	border-radius: 2px;
}
.yewu_info{
	width: 100px;
}
.class_info{
	width: 130px;
}
.country{
	width: 100px;
}
.save{
	width: 80px;
	margin-left: 8px;
	margin-bottom: 5px;
}
.simple{
	width: 100%;
	height: 95px;
	border: 1px solid #cccccc
}
.ok_but{
	background-color: #18ab03;
	margin: 30px 80px;
	text-align: center;
	height: 20px;
	color: #fff;
	line-height: 20px;
	font-size: 12px;
}