HTML {
	BACKGROUND: #fff; COLOR: #333; -MS-TEXT-SIZE-ADJUST: 100%; -webkit-text-size-adjust: 100%
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
HR {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
PRE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	FONT: 12px/1.5 Tahoma,Arial,Helvetica,"宋体",sans-serif
}
BUTTON {
	FONT: 12px/1.5 Tahoma,Arial,Helvetica,"宋体",sans-serif
}
INPUT {
	FONT: 12px/1.5 Tahoma,Arial,Helvetica,"宋体",sans-serif
}
SELECT {
	FONT: 12px/1.5 Tahoma,Arial,Helvetica,"宋体",sans-serif
}
TEXTAREA {
	FONT: 12px/1.5 Tahoma,Arial,Helvetica,"宋体",sans-serif
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
TH {
	
}
FIELDSET {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.clf:after {
	FONT-SIZE: 0px; HEIGHT: 0px; CONTENT: " "; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
.mod:after {
	FONT-SIZE: 0px; HEIGHT: 0px; CONTENT: " "; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
.m-content:after {
	FONT-SIZE: 0px; HEIGHT: 0px; CONTENT: " "; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
#content:after {
	FONT-SIZE: 0px; HEIGHT: 0px; CONTENT: " "; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
.clf {
	ZOOM: 1
}
.mod {
	ZOOM: 1
}
.m-content {
	ZOOM: 1
}
#content {
	ZOOM: 1
}
.clear {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 0px; CLEAR: both; LINE-HEIGHT: 0; VISIBILITY: hidden
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.fl {
	DISPLAY: inline
}
.fr {
	DISPLAY: inline
}
.top-contentright {
	HEIGHT: 32px; FLOAT: left; LINE-HEIGHT: 32px; WIDTH: 490px
}
.top-contentright LI {
	HEIGHT: 32px; POSITION: relative; FLOAT: right; LINE-HEIGHT: 32px
}
.top-contentright LI.arran {
	BACKGROUND: url(../images/top-xian-bg.png) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 8px
}
.top-contentright LI.none {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.top-contentright LI.bgxian {
	BACKGROUND: url(../images/top-xian-bg.png) no-repeat right top; WIDTH: 93px
}
.top-contentright LI.w79 {
	WIDTH: 79px
}
.top-contentright LI STRONG {
	FONT-WEIGHT: normal; COLOR: #217005
}
.top-contentright LI STRONG A:link {
	COLOR: #217005
}
.top-contentright LI STRONG A:visited {
	COLOR: #217005
}
.top-contentright LI STRONG A:hover {
	COLOR: #ed5f01
}
.top-contentright LI STRONG A:active {
	COLOR: #ed5f01
}
.myselfname {
	OVERFLOW: hidden; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; WIDTH: 93px
}
.nav-button {
	FLOAT: left; PADDING-RIGHT: 7px; TEXT-INDENT: 11px
}
.myself-bottom {
	BORDER-TOP: #aec5dc 1px; BORDER-RIGHT: #aec5dc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #aec5dc 1px solid; POSITION: absolute; LEFT: 0px; BORDER-LEFT: #aec5dc 1px solid; Z-INDEX: 19; DISPLAY: none; TOP: 31px; WIDTH: 93px
}
.myself-bottom A {
	HEIGHT: 24px; DISPLAY: block; LINE-HEIGHT: 24px; TEXT-INDENT: 11px
}
.triangle {
	HEIGHT: 32px; BACKGROUND: url(../images/top-big-bg.png) no-repeat left 15px; FLOAT: left; WIDTH: 6px; MARGIN-RIGHT: 3px; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -transition-duration: 0.3s
}
#top {
	HEIGHT: 32px; BACKGROUND: #f5f5f5; BORDER-BOTTOM: #e6e6e6 1px solid; POSITION: relative; COLOR: #597e9b; Z-INDEX: 11; LINE-HEIGHT: 32px; WIDTH: 100%
}
.top-content {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 980px
}
.top-content A:link {
	COLOR: #597e9b
}
.top-content A:visited {
	COLOR: #597e9b
}
.top-content A:hover {
	COLOR: #ed5f01
}
.top-content A:active {
	COLOR: #ed5f01
}
.top-contentleft {
	HEIGHT: 32px; WIDTH: 450px
}
.top-user {
	POSITION: relative
}
.top-user .point {
	LEFT: 40px; TOP: 18px
}
.top-login {
	LINE-HEIGHT: 32px
}
.top-login STRONG {
	FONT-WEIGHT: normal
}
.top-login A {
	FLOAT: left; MARGIN-LEFT: 5px; DISPLAY: block
}
.top-login .hello {
	FLOAT: left; MARGIN-LEFT: 10px
}
.name {
	HEIGHT: 32px; POSITION: relative; FLOAT: left; Z-INDEX: 18
}
.name-summary {
	OVERFLOW: hidden; BORDER-TOP: #f7f8fd 0px solid; HEIGHT: 32px; BORDER-RIGHT: #f7f8fd 1px solid; BORDER-BOTTOM: #f7f8fd 0px solid; POSITION: relative; ZOOM: 1; BORDER-LEFT: #f7f8fd 1px solid; Z-INDEX: 19; DISPLAY: inline
}
.name-summary IMG {
	OVERFLOW: hidden; HEIGHT: 22px; FLOAT: left; MARGIN: 6px 0px 0px 5px; WIDTH: 22px
}
.name-summary A {
	OVERFLOW: hidden; FLOAT: left; COLOR: #587f9c; LINE-HEIGHT: 32px
}
.name-summary STRONG {
	FONT-WEIGHT: 100; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px
}
.centerMessage {
	HEIGHT: 32px; POSITION: relative; FLOAT: left; MARGIN: 0px 5px; DISPLAY: inline; LINE-HEIGHT: 32px
}
.centerMessage A SPAN {
	FONT-SIZE: 11px; HEIGHT: 18px; BACKGROUND: #68b702; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 4px; MARGIN: 7px 0px 0px 2px; DISPLAY: inline-block; LINE-HEIGHT: 18px; PADDING-RIGHT: 4px; -webkit-text-size-adjust: none; border-radius: 2px
}
.centerMessage A:hover SPAN {
	TEXT-DECORATION: none
}
.centerMessage A {
	ZOOM: 1; FLOAT: left
}
.triangle {
	HEIGHT: 32px; BACKGROUND: url(../images/top-big-bg.png) no-repeat left 15px; FLOAT: left; WIDTH: 6px; MARGIN-RIGHT: 3px
}
.name-operate {
	OVERFLOW: hidden; BORDER-TOP: #aec5dc 1px solid; BORDER-RIGHT: #aec5dc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #aec5dc 1px solid; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; PADDING-LEFT: 0px; LEFT: 0px; BORDER-LEFT: #aec5dc 1px solid; Z-INDEX: 17; DISPLAY: none; TOP: 31px; PADDING-RIGHT: 0px; WIDTH: 270px
}
.name-operateleft {
	OVERFLOW: hidden; HEIGHT: 84px; FLOAT: left; MARGIN-LEFT: 10px; DISPLAY: inline; WIDTH: 84px
}
.name-operateright {
	FLOAT: left; MARGIN: 0px 2px 0px 5px; DISPLAY: inline; WIDTH: 160px
}
.name-operateright P {
	COLOR: #666; PADDING-LEFT: 7px; LINE-HEIGHT: 20px
}
.name-operateright UL {
	OVERFLOW: hidden; BORDER-TOP: #d4d4d4 1px dotted; ZOOM: 1; PADDING-TOP: 3px; MARGIN-TOP: 2px
}
.name-operateright LI {
	HEIGHT: 22px; FLOAT: left; PADDING-LEFT: 4px; LINE-HEIGHT: 22px; WIDTH: 76px
}
.name-show .name-operate {
	DISPLAY: block; box-shadow: 2px 2px 3px #DFE6ED
}
.name-show .name-summary {
	BORDER-TOP: #aec5dc 0px solid; BORDER-RIGHT: #aec5dc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #aec5dc 0px solid; BORDER-LEFT: #aec5dc 1px solid
}
.name-show .triangle {
	BACKGROUND-POSITION: -8px 15px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); -moz-transform-origin: 50% 55%; -webkit-transform-origin: 50% 55%; -o-transform-origin: 50% 55%; transform-origin: 50% 55%
}
.myshow .triangle {
	BACKGROUND-POSITION: -8px 15px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); -moz-transform-origin: 50% 55%; -webkit-transform-origin: 50% 55%; -o-transform-origin: 50% 55%; transform-origin: 50% 55%
}
.navshow .triangle {
	BACKGROUND-POSITION: -8px 15px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); -moz-transform-origin: 50% 55%; -webkit-transform-origin: 50% 55%; -o-transform-origin: 50% 55%; transform-origin: 50% 55%
}
.information {
	HEIGHT: 27px; BACKGROUND: url(../images/top-big-bg.png) no-repeat; POSITION: relative; FLOAT: left; PADDING-TOP: 5px; MARGIN-LEFT: 8px; DISPLAY: inline; WIDTH: 24px
}
.information-none {
	BACKGROUND-POSITION: left -35px
}
.information-display {
	BACKGROUND-POSITION: left -75px
}
.information A {
	OVERFLOW: hidden; HEIGHT: 23px; DISPLAY: block; WIDTH: 22px; TEXT-INDENT: -7777px
}
.information .point {
	TOP: 32px
}
.point {
	HEIGHT: 23px; BACKGROUND: url(../images/top-big-bg.png) no-repeat -22px -110px; POSITION: absolute; PADDING-LEFT: 8px; LEFT: -3px; Z-INDEX: 8; WIDTH: 300px
}
.point-content {
	HEIGHT: 23px; BACKGROUND: url(../images/top-big-bg.png) repeat-x left -135px; FLOAT: left; COLOR: #763300; LINE-HEIGHT: 23px; PADDING-RIGHT: 6px
}
.point-content P {
	LINE-HEIGHT: 23px
}
.point-right {
	HEIGHT: 23px; FLOAT: left; WIDTH: 22px
}
.point-right A {
	HEIGHT: 23px; BACKGROUND: url(../images/top-big-bg.png) no-repeat left -210px; DISPLAY: block; WIDTH: 22px; TEXT-INDENT: -7777px
}
.point-right A:hover {
	BACKGROUND-POSITION: left -235px
}
.arrow {
	HEIGHT: 4px; BACKGROUND: url(../images/top-big-bg.png) no-repeat left -160px; POSITION: absolute; LEFT: 10px; TOP: -3px; WIDTH: 10px
}
.exit {
	HEIGHT: 32px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; LINE-HEIGHT: 32px; PADDING-RIGHT: 8px
}
.top-contentright {
	RIGHT: 0px; POSITION: absolute; TOP: 0px; WIDTH: 650px
}
.top-contentright LI {
	HEIGHT: 32px; POSITION: relative; FLOAT: right; LINE-HEIGHT: 32px
}
.top-contentright LI.arran {
	BACKGROUND: url(../images/top-xian-bg.png) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 8px
}
.top-contentright LI.none {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.top-contentright LI.bgxian {
	BACKGROUND: url(../images/top-xian-bg.png) no-repeat right top; TEXT-ALIGN: center; WIDTH: 93px
}
.top-contentright LI.w79 {
	WIDTH: 79px
}
.top-contentright LI STRONG {
	FONT-WEIGHT: normal; COLOR: #217005
}
.top-contentright LI STRONG A:link {
	COLOR: #217005
}
.top-contentright LI STRONG A:visited {
	COLOR: #217005
}
.top-contentright LI STRONG A:hover {
	COLOR: #ed5f01
}
.top-contentright LI STRONG A:active {
	COLOR: #ed5f01
}
.myselfname {
	OVERFLOW: hidden; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; WIDTH: 93px
}
.nav-button {
	FLOAT: left; PADDING-RIGHT: 7px; TEXT-INDENT: 11px
}
.myself-bottom {
	BORDER-TOP: #aec5dc 1px; BORDER-RIGHT: #aec5dc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #aec5dc 1px solid; POSITION: absolute; LEFT: 0px; BORDER-LEFT: #aec5dc 1px solid; Z-INDEX: 19; DISPLAY: none; TOP: 31px; WIDTH: 93px
}
.myself-bottom A {
	HEIGHT: 24px; DISPLAY: block; LINE-HEIGHT: 24px; TEXT-INDENT: 11px
}
.myshow .myself-bottom {
	DISPLAY: block; box-shadow: 2px 2px 3px #DFE6ED
}
.myshow .myselfname {
	BORDER-RIGHT: #aec5dc 1px solid; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #aec5dc 1px solid; PADDING-RIGHT: 0px
}
.top-nav {
	OVERFLOW: hidden; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; LEFT: 0px; Z-INDEX: 20; TOP: 0px; PADDING-RIGHT: 1px; WIDTH: 77px
}
.top-nav-bottom {
	BORDER-TOP: #aec5dc 1px solid; BORDER-RIGHT: #aec5dc 1px solid; BACKGROUND: #fff; RIGHT: 0px; BORDER-BOTTOM: #aec5dc 1px solid; POSITION: absolute; BORDER-LEFT: #aec5dc 1px solid; Z-INDEX: 19; DISPLAY: none; TOP: 31px; WIDTH: 196px; _right: -1px
}
.top-nav-bottom P {
	HEIGHT: 25px; BACKGROUND: #ebf1f7; TEXT-ALIGN: center; LINE-HEIGHT: 25px
}
.top-nav-bottom P EM {
	FONT-WEIGHT: bold
}
.top-nav-bottom DL {
	OVERFLOW: hidden; BORDER-BOTTOM: #d4d4d4 1px dotted; ZOOM: 1
}
.top-nav-bottom DL.ddnone {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 8px; BORDER-RIGHT-STYLE: none
}
.top-nav-bottom DT {
	FONT-WEIGHT: bold; COLOR: #666; PADDING-LEFT: 13px
}
.top-nav-bottom DD {
	HEIGHT: 20px; WHITE-SPACE: nowrap; FLOAT: left; LINE-HEIGHT: 20px
}
.top-nav-bottom DD.w15 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px
}
.top-nav-bottom DD.wset {
	PADDING-LEFT: 15px
}
.navshow {
	Z-INDEX: 999
}
.navshow .top-nav-bottom {
	Z-INDEX: 997; DISPLAY: block; box-shadow: 2px 2px 3px #DFE6ED
}
.navshow .top-nav {
	BORDER-RIGHT: #aec5dc 1px solid; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #aec5dc 1px solid; Z-INDEX: 999; PADDING-RIGHT: 0px
}
#content {
	MARGIN: 0px auto; WIDTH: 980px
}
.main-wrap {
	POSITION: relative; WIDTH: 770px
}
.grid-sub {
	WIDTH: 200px
}
.edit-content {
	RIGHT: 10px; POSITION: absolute; Z-INDEX: 1; TOP: 3px
}
.edit-content A {
	OVERFLOW: hidden; HEIGHT: 24px; BACKGROUND: url(../images/edit.png) no-repeat 0px 0px; DISPLAY: block; WIDTH: 24px; TEXT-INDENT: -100px
}
.edit-content A:hover {
	BACKGROUND-POSITION: 0px -24px
}
.shop-footerb {
	BORDER-TOP: #b3b3b3 2px solid; BACKGROUND: #fafafa; COLOR: #333; CLEAR: both; MARGIN: 0px auto; WIDTH: 980px
}
.shop-footer {
	HEIGHT: 160px; MARGIN: 8px auto 0px; WIDTH: 980px
}
.shop-footer H4 {
	HEIGHT: 26px; MARGIN: 11px 0px 0px; TEXT-INDENT: -99999px
}
.footer-contact1 {
	BACKGROUND: url(../images/footer-contact.jpg) no-repeat 19px 0px
}
.footer-contact2 {
	BACKGROUND: url(../images/footer-contact.jpg) no-repeat 19px -26px
}
.footer-contact3 {
	BACKGROUND: url(../images/footer-contact.jpg) no-repeat 19px -52px
}
.foot-aboutus {
	HEIGHT: 160px; BORDER-RIGHT: #ebebeb 1px solid; WIDTH: 209px
}
.ft-abus {
	HEIGHT: 85px; MARGIN: 8px 0px 0px; WIDTH: 210px
}
.ft-abus UL {
	HEIGHT: 85px; MARGIN: 0px 0px 0px 13px
}
.ft-product UL {
	HEIGHT: 85px; MARGIN: 0px 0px 0px 13px
}
.ft-abus UL LI {
	OVERFLOW: hidden; HEIGHT: 25px; FLOAT: left; MARGIN-LEFT: 10px; DISPLAY: inline; LINE-HEIGHT: 25px; WIDTH: 80px
}
.ft-product UL LI {
	OVERFLOW: hidden; HEIGHT: 25px; FLOAT: left; MARGIN-LEFT: 10px; DISPLAY: inline; LINE-HEIGHT: 25px; WIDTH: 80px
}
.foot-product {
	HEIGHT: 160px; BORDER-RIGHT: #ebebeb 1px solid; WIDTH: 220px
}
.ft-product {
	HEIGHT: 85px; MARGIN: 8px 0px 0px; WIDTH: 220px
}
.ft-product P {
	OVERFLOW: hidden; HEIGHT: 70px; MARGIN: 5px auto 0px; WIDTH: 200px
}
.foot-contact {
	HEIGHT: 160px; BORDER-RIGHT: #ebebeb 1px solid; WIDTH: 289px
}
.ft-contactus {
	OVERFLOW: hidden; HEIGHT: 120px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 24px; PADDING-RIGHT: 10px; WIDTH: 256px
}
.ft-contactus P {
	MARGIN-BOTTOM: 5px
}
.foot-support {
	HEIGHT: 160px; WIDTH: 257px
}
.ft-techsupport {
	PADDING-BOTTOM: 0px; PADDING-TOP: 40px; PADDING-LEFT: 23px; PADDING-RIGHT: 0px; WIDTH: 215px
}
.ft-techsupport .sup-buttom {
	COLOR: #999
}
.ft-techsupport IMG {
	FLOAT: left; DISPLAY: block
}
.ft-techsupport SPAN {
	FLOAT: left; MARGIN-LEFT: 8px; DISPLAY: inline
}
.ft-techsupport .record {
	COLOR: #999; MARGIN-TOP: 5px
}
.shop-footer A {
	COLOR: #333
}
.shop-footer A:hover {
	COLOR: #f0491c
}
.toTop {
	BACKGROUND: url(../images/upupup.png) no-repeat left center
}
.xiajia {
	FONT-SIZE: 18px; FONT-WEIGHT: bold; COLOR: red
}
