A {
	COLOR: #1169c2
}
A:hover {
	COLOR: #f0491c
}
.prointro-list A {
	COLOR: #333
}
.proclass-list A {
	COLOR: #333
}
.com-photollist A {
	COLOR: #333
}
.friendlink-list A {
	COLOR: #333
}
.contact-way A {
	COLOR: #333
}
.contact-way1 A {
	COLOR: #333
}
.card-info A {
	COLOR: #333
}
.prointro-conul A {
	COLOR: #666
}
.h-info EM {
	COLOR: #fd7522
}
.zhaopin-num SPAN {
	COLOR: #d31014
}
.call-number {
	COLOR: #ff0307
}
.card-imgdetail SMALL {
	COLOR: #ff0307
}
.com-newslist STRONG {
	COLOR: #999
}
.online-collect SPAN {
	COLOR: #999
}
.hr-cate EM {
	COLOR: #999
}
.newdeta-title P {
	COLOR: #999
}
.com-photollist {
	COLOR: #999
}
.com-pro {
	COLOR: #666
}
.shop-nav {
	BACKGROUND: #333
}
.shop-nav A {
	COLOR: #fff
}
.shop-nav A:hover {
	BACKGROUND-COLOR: #484d51
}
.shop-nav .current {
	BACKGROUND: #cb0004
}
.shop-nav .current A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.m-header {
	BACKGROUND: url(../images/hbg.jpg) repeat-x
}
.m-header H3 {
	BORDER-BOTTOM-COLOR: #d9d9d9
}
.weChat_code {
	HEIGHT: 132px; RIGHT: 5px; POSITION: fixed; TOP: 250px; WIDTH: 200px; _right: 5px; _position: absolute; _bottom: auto
}
.weixin_code {
	POSITION: fixed; TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 180px; BOTTOM: 100px; _position: absolute; _bottom: auto
}
.left_logo {
	OVERFLOW: hidden; HEIGHT: 30px; CLEAR: both; WIDTH: 110px
}
.bottom_bar {
	FONT-SIZE: 14px; BORDER-TOP: #900 1px solid; HEIGHT: 50px; TEXT-ALIGN: center; LINE-HEIGHT: 50px; WIDTH: 100%; BACKGROUND-COLOR: #ffc
}
.bottom_bar SPAN {
	FONT-WEIGHT: bold
}
.bottom_bar P {
	DISPLAY: inline; MARGIN-RIGHT: 10px
}
.bottom_bar .tel {
	FONT-SIZE: 18px; FONT-WEIGHT: 700; COLOR: #f00
}
