@charset "utf-8";
/* CSS Document */
body img{ vertical-align:bottom;}
.oly_mk_p{ width:957px; margin:0 0 0 240px;border:1px solid #D30202; background-color:#FEFEED; padding:11px 16px 21px 0;}
.oly_mkbc_p{ background-color:#930404; padding-bottom:20px;}
.bg{width:1419px;margin:0 auto; overflow:hidden;}
.oly_mklul_p{ position:relative; left:-13px;}
.oly_mklul_p li{ height:285px; width:364px; cursor:pointer;}
.oly_mkrs_p{ margin-top:10px; margin-right:12px;}
.oly_mkr_p{ height:855px; width:582px; background-color:#FAF7CD;}
.oly_mkrt_p{ font:bold 18px '宋体'; color:#CC0C06; height:60px; margin-top:55px; padding-left:85px;}
.paddingleft2{ padding-left:130px;}
.paddingleft3{ padding-left:170px;}
.oly_mkrb_p img{ padding-left:40px;}
.oly_mkrbad_p img{ padding:36px 32px;} 
.oly_mkrbt_p{background:url(../images/oly3_03.jpg) no-repeat; width:133px; height:47px; border:none; cursor:pointer; }
.oly_mkrbt_p a{ display:block; height:33px; width:133px; font:bold 16px '宋体'; color:#930404; padding:10px 0 0 28px;}
.oly_mkrbt_p a:hover{ color:#dd0303;}
.oly_footer p,.oly_footer a,.oly_footer{ color:#fff;}

.displaynone{ display:none;}
.displayblock{ display:block;}
.left{ float:left;}
.right{ float:right;}