@charset "utf-8";

body{font-size:13px;background:url(../images/bg1.jpg); background-position:center}
.topbg{background:url(../images/top.jpg) no-repeat;background-position:center;height:583px; }
.top{height:583px;  position:relative; width:960px;margin:0 auto;}
.timer{width:700px; position:absolute; left:130px; top:445px;}
.timer1{width:34px;height:37px;margin-top:35px;float:left}
.timer2{width:34px;height:37px;margin-top:20px;margin-left:5px;float:left}
.timer3{width:34px;height:37px;margin-top:6px;margin-left:6px;float:left}

.content{width:960px;margin:0 auto;background:#fff;padding:10px 10px 10px 20px;overflow:hidden}
.c-left{width:215px;float:left}
.l-box{margin-bottom:15px;overflow:hidden}
.b-tle{height:32px;line-height:32px;background:#f7f7f7;border:1px solid #e8e8e8;font-weight:bold;font-size:14px;padding-left:15px}
.b-tle a{color:#0053FC;margin-left:100px;font-weight:100;font-size:12px}
.b-tle_{height:32px;line-height:32px;background:#e71d1f;color:#fff;border:1px solid #e8e8e8;font-weight:bold;font-size:14px;padding-left:15px}
.b-item{padding:15px 10px 10px 15px;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8}
.b-item_{padding:15px 0 10px 15px;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8;color:#303030;border-right:1px solid #e8e8e8}
.b-item ul li{line-height:26px;list-style:inside}
.b-item_ ul li{line-height:26px}
.b-item span{font-weight:bold}
.b-item_ span{font-weight:bold}
.bi{color:#ed0000}
.b-ads{padding:15px 5px;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8}

.c-middle{width:500px;margin:0 10px;float:left}
.m-box{margin-bottom:15px;overflow:hidden}
.m-box_{margin-bottom:15px;padding:0 0 15px 0;text-align:center;overflow:hidden;position:relative}
.m-tle{padding-bottom:1px;border-bottom:2px solid #F00}
.t-txt{width:136px;height:33px;line-height:33px;background:#e71d1f;color:#fff;text-align:center;font-size:16px;font-weight:bold}
.m-item{line-height:26px}

.m-box_img{width:140px;height:37px;line-height:42px;background:url(../images/zn.png) no-repeat;text-align:center;color:#fff;font-weight:bold;font-size:16px;position:absolute;left:0px;top:3px}
.m-box_img_{width:140px;height:37px;line-height:42px;background:url(../images/zn.png) no-repeat;text-align:center;color:#fff;font-weight:bold;font-size:16px;position:absolute;left:0px;top:3px}



.c-right{width:215px;float:left}
.t-item{color:#303030;overflow:hidden}
.t-item ul li{line-height:26px}
.b-tel{padding:15px 10px;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8}
.b-tel span{font-weight:bold}
.i-txt{width:70px;font-weight:bold;float:left}
.i-txt_{width:110px;font-weight:bold;float:left}
.i-ul{padding-right:15px}
.i-li{border-bottom:1px dashed #b0b0b0;padding:5px 0;color:#303030}
.b-item_ input{width:148px;height:24px;border:1px solid #e8e8e8;margin-bottom:10px}
.b-item_ textarea{width:190px;height:70px;border:1px solid #e8e8e8;margin:0px}
.i-btn{width:88px;height:22px;line-height:22px;background:#fd8c8d;text-align:center;margin:10px auto 0 auto}
.i-btn a{color:#fff}

/* outer */
#outer{width:480px;height:270px;position:relative;overflow:hidden;background:#eee;border:1px solid #ccc;margin:0 auto}
#inner{display:block;width:4800px;height:300px;position:absolute;left:0;top:0;}
#inner li{display:block;width:480px;height:300px;float:left;font-size:72px;line-height:300px;text-align:center;content:#666;text-shadow:3px 3px 2px #999,5px 5px 2px #ccc;background:#eee;}
#inner li img{width:480px;height:270px}
#nav{width:200px;height:40px;padding-left:385px;position:absolute;bottom:0;left:0;opacity:0.8;filter:alpha(opacity=80);}
#nav em{display:block;float:left;width:24px;height:24px;margin-right:8px;margin-top:8px;line-height:24px;text-align:center;font-size:14px;color:#333;font-style:normal;font-family:Arial;background:#eee;cursor:pointer;}
#nav .ehover{background:#ff7b26;color:#fff;}


.item{width:950px;height:529px;padding:15px 20px 0 20px;margin:0 auto;background:url(../images/item.png) repeat-x;overflow:hidden}
.item_{width:990px;margin:0 auto;position:relative; height:1000px;}
.i-left{float:left}
.i-right{float:right}
.i-mid{width:954px;height:15px;background:url(../images/mid.jpg) repeat-x;float:left}
.item_box{width:910px;overflow:hidden;background:#fff;padding:10px 22px;position:absolute;left:18px;top:15px}
.i_box_l{width:254px;margin:10px 0;float:left}
.i_box_r{width:630px;margin-left:20px;margin-top:10px;float:left}

.m-box_z{border:1px solid #fd8c8d;padding:50px 15px 15px 15px;text-align:center;overflow:hidden}
.m-box_tle{width:140px;height:37px;line-height:42px;background:url(../images/zn.png) no-repeat;text-align:center;color:#fff;font-weight:bold;font-size:16px;position:absolute;left:291px;top:26px}
.m-box_ul{width:288px;padding-right:10px;border-right:2px solid #ccc;overflow:hidden;float:left}
.m-box_ul_{width:288px;margin-left:10px;overflow:hidden;float:left}
.mb_ul{list-style:none}
.mb_ul li{line-height:35px;border-bottom:1px dashed #b0b0b0}
.mb_ul_txt{width:70px;margin-right:30px;float:left}
.mb_ul_txt_{float:left; width:180px; text-align:left}
.mb_ul_txt_ a{
	color:#F30
}
.m-box_ul span{font-size:14px;font-weight:bold}
.m-box_ul_ span{font-size:14px;font-weight:bold}
.line{width:950px;height:3px;background:#000;margin-bottom:15px}

.i-tle{font-family:"Times New Roman", Times, serif;font-size:18px;line-height:35px;color:#fff;font-weight:bold}
.i-ul1{list-style:none;color:#303030;font-size:13px;margin-bottom:10px}
.ul_tag_{height:40px;padding-top:3px;border-top:2px solid #d8c078;margin-right:3px;float:left}
.tag_{width:182px;height:38px;line-height:38px;background:#d8c078;text-align:center}
.ul_tag{height:40px;padding-top:3px;border-top:2px solid #fff;margin-right:3px;float:left}
.tag{width:182px;height:38px;line-height:38px;background:#fff;text-align:center; cursor:pointer}
.ul_img img{width:924px;height:420px;margin-top:10px}

.more{color:#0053fc}
.ul_box_{position:relative}
.ul_box{display:none;position:relative}
.ul_y{width:4620px;height:36px;opacity:0.3;background:#656464;position:absolute;left:0;bottom:0}
.ul_txt{width:4620px;height:36px;font-weight:bold;color:#fff;padding-left:20px;position:absolute;left:0;bottom:0; line-height:36px}
.ul_txt li{width:924px; float:left}
#content1{display:none}

.block{position:relative}
.dh-box{padding:10px 12px 15px 12px;position:absolute;right:28px;top:710px;overflow:hidden}
.dh-ul{width:115px;padding:15px 15px 5px 15px;opacity:0.7;background:#fff}
.dh-box ul li{line-height:36px;border-bottom:1px solid #989898;font-size:14px;color:#303030;list-style:inside}
.dh-box img{margin-left:25px}
.t-btn{width:52px;line-height:18px;background:#9d9d9d;opacity:0.7;text-align:center;color:#000;margin:15px auto}

.glou_main{ width:924px;height:420px;OVERFLOW: hidden; POSITION: relative;}
.glou_in{ width:4620px;height:420px;LEFT: 0px;  ZOOM: 1; POSITION: absolute; TOP: 0px; }
.glou_box{ width:924px;height:420px; float:left}