<link rel="stylesheet" href="css/main.css" type="text/css">
<div class="list">
	<a href="javascript:void(0);" onclick="$e('chn#main#evt:open_app')('09QKf0OL', 0, 'http://www.yidianzixun.com/09QKf0OL?s=', event)" class="doc">
		<div class="doc-content">
			<div class="doc-title">​中国古代​最传奇奶妈客氏的诡异人生</div>
			<div class="doc-images">
				<div class="doc-image-list">
					<div style="background-image:url(http://i1.go2yd.com/image.php?url=09QKf000&amp;type=thumbnail_320x200)" class="doc-image-list-inner back-img"></div>
				</div>
				<div class="doc-image-list">
					<div style="background-image:url(http://i1.go2yd.com/image.php?url=09QKf001&amp;type=thumbnail_320x200)" class="doc-image-list-inner back-img"></div>
				</div>
				<div class="doc-image-list">
					<div style="background-image:url(http://i1.go2yd.com/image.php?url=09QKf002&amp;type=thumbnail_320x200)" class="doc-image-list-inner back-img"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="doc-source">讲史论道</div>
		<div class="doc-info"><span class="doc-info-item"> <img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_time.png"><span>&nbsp;昨天</span></span><span class="doc-info-item"> <img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_comment.png"><span>&nbsp;2</span></span>
			<span
			class="doc-info-item">
				<img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_like.png"><span>&nbsp;40</span></span>
		</div>
		<div class="clear"></div>
	</a>
	<a href="javascript:void(0);" onclick="$e('chn#main#evt:open_app')('09QORUyE', 0, 'http://www.yidianzixun.com/09QORUyE?s=', event)" class="doc">
		<div style="background-image:url(http://i1.go2yd.com/image.php?url=09QORU00&amp;type=thumbnail_320x200)" class="doc-image-small back-img"></div>
		<div class="doc-content">
			<div class="doc-title">​中国古代​避讳小史</div>
		</div>
		<div class="clear"></div>
		<div class="doc-source">北京日报</div>
		<div class="doc-info"><span class="doc-info-item"> <img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_time.png"><span>&nbsp;15小时前</span></span><span class="doc-info-item"> <img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_like.png"><span>&nbsp;9</span></span>
		</div>
		<div class="clear"></div>
	</a>
	<a href="javascript:void(0);" onclick="$e('chn#main#evt:open_app')('09QLXfNE', 0, 'http://www.yidianzixun.com/09QLXfNE?s=', event)" class="doc">
		<div class="doc-content">
			<div class="doc-title">​中国古代​十大神童</div>
		</div>
		<div class="clear"></div>
		<div class="doc-source">水煮百年网</div>
		<div class="doc-info"><span class="doc-info-item"> <img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_time.png"><span>&nbsp;昨天</span></span><span class="doc-info-item"> <img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_comment.png"><span>&nbsp;3</span></span>
			<span
			class="doc-info-item">
				<img src="http://static.yidianzixun.com/apps/renaissance_chn_v1.0.0.32/renaissance_share_like.png"><span>&nbsp;83</span></span>
		</div>
		<div class="clear"></div>
	</a>
	
</div>