<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系我们-杭州婚之集旗舰店</title>
<meta name="keywords" content="联系我们" />
<meta name="description" content="description  婚之集是婚纱礼服线上销售冠军阿斯拓公司创立的零售品牌，入住了包括罗艾薇，忆红妆，婚美优品，烟雨集等品牌，超凡体验、免费试纱，联系电话：0571-56633111。" />
<link rel="stylesheet" type="text/css" href="tuiguang/css/style.css"/>
<script src="tuiguang/js/jquery.min.js"></script>
<script src="tuiguang/js/index.js"></script>
<script src="tuiguang/js/base.js"></script>
</head>
<body>
  <div class="header">
  	<div class="logo">
  	  <img src="tuiguang/images/logo.jpg"/>	
  	</div>
  	<div class="ruler">
  	</div>
  	{%include 'common/mid.html'%}
    <div class="clear"></div>
  	<div class="callusbanner"></div>
  </div>
  <div class="clear"></div>
  <div class="calluscontenter">
     <div class="calluscontenter_headr"><a href="#"><img src="tuiguang/images/callus/callus_02.jpg"/></a></div>
     <div class="calluscotent_body">
     <div class="xyall">
     <div class="firstpic"><img src="tuiguang/images/callus/callus_03.jpg"/></div>
     <div class="secondcell">
       <div class="ld"><img src="tuiguang/images/callus/callus_4.jpg"/></div>
       <div><img src="tuiguang/images/callus/callus_5.jpg"/> </div>
       <div class="ld dr"><img src="tuiguang/images/callus/callus_19.jpg"/></div>
       <div class="dr"><img src="tuiguang/images/callus/callus_17.jpg"/></div>
     </div>   
       <div class="clear"></div>
     </div>
     <div class="clear"></div>
    <div class="callusfree"></div>
    <div class="ditu" id="marginbotem">
      <p><a class="over"href="javascript:imTalk('2875992531','','ce','ce')" uin="2875992531" tag="imTalker" wpatype="17" >在线咨询>></a></p>
      <p class="particle">地铁: 地铁1号线定安路站D出口，步行10分。</p>
      <p class="bus">公交：7路; 34路; 40路; 108路; 113路; 308路; 900路; 992路，耀江广厦站下车，步行10分钟。</p>
      </div>
     <div class="meet"><a href="dressfree.html" class="haveclick">点击预约>></a></div>
  </div>
</div>
<div class="ruler clear"></div>
{%include 'common/foot.html'%}
</body></html>