<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>热门分享-杭州婚之集旗舰店</title>
<meta name="keywords" content="热门分享，婚之集旗舰店" />
<meta name="description" content="婚之集是婚纱礼服线上销售冠军阿斯拓公司创立的零售品牌，入住了包括罗艾薇，忆红妆，婚美优品，烟雨集等品牌，给顾客提供超凡体验、省心省力、个性定制、免费试纱的服务。" />
<link rel="stylesheet" type="text/css" href="tuiguang/css/style.css"/>
<script src="tuiguang/js/jquery.min.js"></script>
<script src="tuiguang/js/index.js"></script>
<script src="tuiguang/js/base.js"></script>
</head>
<body>
  <div class="header">
  	<div class="logo">
  	  <img src="tuiguang/images/logo.jpg"/>	
  	</div>
  	<div class="ruler">
  	</div>
  	{%include 'common/mid.html'%}
    <div class="clear"></div>
  	<div class="enjoybanner2"></div>
  </div>
  
  <div class="enjoycotent_body">
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_02.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_03.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_04.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_05.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_06.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_07.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_08.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_09.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_10.jpg"/></div>
 <div class="pictrue"><img width="1300px" src="tuiguang/images/enjoy/20140812_11.jpg"/></div>
  </div>

</div>
<div class="ruler clear"></div>
{%include 'common/foot.html'%}
</body>
</html>