html,body{
	font-size: 40px;
	height: 100%;
	width: 100%;
	background: #fec536;
	color: #653b00;
	font-family:"source Han Sans","Microsoft YaHei","微软雅黑","STHei","华文黑体","Helvetica Neue",Helve;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
img{
	vertical-align: top;
}
.color-fh{
	color: #f62e6f
}
.bandm{
	width: 100%;
	height: 5.375rem;
	background: url(../images/bandm.png);
	background-size: 100% 100%
}
.msha-box{
	height: 6.125rem;
	margin: 0 0.3125rem;
	background: #ffecb8;
	border-radius: 0.1rem;
	margin-bottom: 0.3875rem;
	padding: 0.125rem;
}
.msha-main{
	width: 100%;
	height: 100%;
	border:0.0625rem dashed #f27f12;
	border-radius: 0.08rem;
}
.msha-name{
	display: table;
	
	
	font-size: 0.475rem;
	color: #653b00;
	width: 100%
}
.msha-name-td{
	display: table-cell;
	height: 1.8rem;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}
.msha-price-mo{
	width: 50%;
}
.msha-price-tt{
	font-size: 0.375rem;
	text-align: center;
}
.msha-price-nun{
	font-size: 0.5625rem;
	text-align: center;
}
.msha-btnbox{
	text-align: center;
}

.msha-btnbox a{
	display: inline-block;
	height: 0.75rem;
	width: 2.75rem;
	font-size: 0.475rem;
	color: #fff;
	background: #7c0b8f;
	border-radius: 0.1rem;
	line-height: 0.75rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000
}
.msha-btnbox .seebtn{
	width: 3.5rem;
	font-size: 0.375rem;
}
.msha-btnbox2 a{
	background: #bfbfbf;
	color: #999
}
.msha-tx{
	font-size: 0.3rem;
	line-height: 0.3rem;
	text-align: center;
	margin-top: 0.5rem;
	color:#653b00;
}
.zoowen{
	font-size: 0.45rem
}
.playgz{
	margin-top: 0.5rem;
	border-top: 0.025rem dashed #653b00;
	padding: 0.45rem 0.4375rem;
}
.playgz p{
	line-height: 0.45rem;
	font-size: 0.3rem;
	color: #653b00
}
.erwei-box{
	text-align: center;
	padding: 0.75rem 0;
}
.erwei-box img{
	width: 3.0875rem;
	height: 3.75rem
}
.msha-allinfo{
	padding:0.375rem 0.275rem 0 0.675rem;
	font-size: 0.3rem;
	color: #653b00
}
.tshibox{
	height: 2.75rem;
	margin: 0 0.3125rem;
	background: #ffecb8;
	border-radius: 0.1rem;
	margin-bottom: 0.3875rem;
	padding: 0.125rem;
	line-height: 0.45rem;
	position: relative;
}
.msha-firm{
	text-align: center;
	font-size: 0.45rem;
	color: #653b00;
	font-weight: bold;
	line-height: 0.45rem;
	margin-top: 0.3rem;
}
.laba{
	position: absolute;
	height: 0.3rem;
	width: 0.3rem;
	background: url(../images/lb.png);
	background-size: 0.3rem 0.3rem;
	left: 0.4rem;
	top: 0.6rem
}
.msha-box2{
	height: 7.125rem
}

.libtn{
	width: 5.2rem;
	height: 1.0375rem;
	background: url(../images/libtn.png);
	display: block;
	margin: 0.575rem auto 0;
	background-size:100% 1.0375rem;
}
.kanjia-do{
	width: 4.825rem;
	margin: 0.2rem auto 0;
}
.fxbtn{
	width: 3.3125rem;
	height: 0.625rem;
	background: #fe3265;
	text-align: center;
	color: #fff;
	display: inline-block;
	font-size: 0.275rem;
	line-height: 0.625rem;
	border-radius:0.1rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000
}
.fhbtn{
	width: 1.25rem;
	height: 0.625rem;
	background: #f18c2b;
	text-align: center;
	color: #fff;
	display: inline-block;
	font-size: 0.275rem;
	line-height: 0.625rem;
	border-radius:0.1rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000
}
.friend-do{
	padding: 0 0.3rem;
	margin-top: 0.5rem;
}
.f-kdbtn{
	width: 1.875rem;
	height: 0.75rem;
	background: #7e0f92;
	text-align: center;
	color: #fff;
	display: inline-block;
	font-size: 0.35rem;
	line-height: 0.75rem;
	border-radius:0.1rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000
}
.f-fxbtn{
	width: 2.125rem;
	height: 0.75rem;
	background: #fe3267;
	text-align: center;
	color: #fff;
	display: inline-block;
	font-size: 0.35rem;
	line-height: 0.75rem;
	border-radius:0.1rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000;
	margin-left: 0.225rem
}
.f-cjbtn{
	width: 1.875rem;
	height: 0.75rem;
	background: #ff7b00;
	text-align: center;
	color: #fff;
	display: inline-block;
	font-size: 0.35rem;
	line-height: 0.75rem;
	border-radius:0.1rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000;
}
.fengx-do{
	padding: 0 0.425rem;
	margin-top: 0.5rem;
}
.fx-kbtn{
	width: 4.175rem;
	height: 0.8rem;
	background: #fe3267;
	text-align: center;
	color: #fff;
	display: inline-block;
	font-size: 0.35rem;
	line-height: 0.8rem;
	border-radius:0.1rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000;
}
.fx-fbtn{
	width: 1.575rem;
	height: 0.8rem;
	background: #ff7b00;
	text-align: center;
	color: #fff;
	display: inline-block;
	font-size: 0.35rem;
	line-height: 0.8rem;
	border-radius:0.1rem;
	box-shadow: 0.0625rem 0.0625rem 0 #000;
}
.popbox{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0
}
.popmain{
	width: 5.6875rem;
	height: 6.125rem;
	background: #ffd133;
	border: 0.0375rem solid #fff;
	border-radius: 0.2rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2.8437rem;
	margin-top: -3.0625rem;
}
.popmain-tt{
	position: absolute;
	width: 3.7125rem;
	height: 0.8625rem;
	background: url(../images/sucee.png);
	background-size:  3.7125rem 0.8625rem;
	left: 1rem;
	top: -0.45rem;
}
.popmain-succ{
	font-size: 0.475rem;
	color: #241a00;
	font-weight: bold;
	line-height: 0.475rem;
	text-align: center;
	padding-top: 1.175rem;
}
.popmain-moy{
	text-align: center;
	font-size: 0.9rem;
	line-height: 0.9rem;
	color: #fd362b;
	text-shadow: 0rem 0rem 8px #fff;
	font-weight: bold;
	margin-top: 0.45rem
}
.popmain-btn{
	height: 0.85rem;
	width: 4.25rem;
	background: url(../images/fxbtn.png);
	background-size:4.25rem 0.85rem; 
	display: block;
	margin: 0.625rem auto 0
}
.popmain-close{
	width: 0.8125rem;
	height: 0.8625rem;
	background: url(../images/closejs.png);
	background-size:0.8125rem 0.8625rem;
	display: block;
	margin: 0.45rem auto 0 
}