<!doctype html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="address=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="no" />
		<link rel="apple-touch-icon-precomposed" href="http://img0.zz91.com/zz91/images/logo.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title>{{webtitle}}-ZZ91再生网手机站</title>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.2.0.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/common.css"/>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/jquery.js"></script>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/comm.js" ></script>
		<script type="text/javascript" src="http://static.m.zz91.com/layer/layer.js"></script>
		{%if seohost%}<link rel="canonical" href="http://jiage.zz91.com/{{seohost}}" >{%endif%}
		<style>
			.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
			.clearfix{height:1%}
			.clearfix{display:block}
			.aui-bar{
				position: fixed;
				z-index: 999;
				top: 0px;
			}
			.category-table-box{
				overflow: auto;
			}
			.category-table{
				width: 100%;
				background: #ccc
			}
			.category-table td{
				background: #fff;
				height: 30px;
			}
			.aui-list-item-title a{
				color: #333
			}
			/**details**/
			.i-tab{border-top:1px solid #d8dadb;padding:20px;background:#fff}
			.i-tab2{
				line-height:30px;
				font-size:14px;
				background-color: #FFF;
				padding: 5px;
				border: 1px solid #ebebeb;
				margin-bottom:10px;
			}
			.i-tab2 table{
				width:100%;
				margin-top: 0px;
				margin-right: auto;
				margin-bottom: 0px;
				margin-left: auto;
				border-collapse:collapse;
				word-break: keep-all;
			}
			.i-tab2 table tr td p{text-align:center;text-indent:0}
			.i-tab2 table tr td{border:1px solid #ccc;text-align:center;text-indent:0;word-break: keep-all}
			.i-tab2 table tr th{border:1px solid #ccc;text-align:center;text-indent:0;word-break: keep-all;white-space: nowrap;}
			.tab{width:100%;border-right:1px solid #d8dadb;border-bottom:1px solid #d8dadb;font-size:14px}
			.tab tr td{line-height:35px;border-left:1px solid #d8dadb;border-top:1px solid #d8dadb;text-align:center}
			.i-tle{line-height:30px; text-align:center;font-size:16px; font-weight:bold}
			.item .time{color:#999; font-weight:normal; font-size:12px}
			.qushi img{width: 25px;margin: 3px;}

		</style>
	</head>
	<body>
		<header class="aui-bar aui-bar-nav aui-bar-primary">
	    	<a class="aui-pull-left" href="javascript:history.back(-1)">
		        <span class="aui-iconfont aui-icon-left"></span>
		    </a>
		    <a class="aui-pull-left" href="/">
		        <span class="aui-iconfont aui-icon-home"></span>
		    </a>
		    <div class="aui-title">报价详情</div>
		    <a class="aui-pull-right favorite">
		        <span class="aui-iconfont aui-icon-favor"></span>
		    </a>
		    <a class="aui-pull-right zz91share">
		        <span class="aui-iconfont aui-icon-share"></span>
		    </a>
		</header>
		<div style="height:45px"></div>
		<aside class="download-bar J_fixBar" id="J_appJump" style="top:45px;height: 55px;left: 0px;">
			<div class="download">
				<div class="intro" style="padding-top: 5px;;">
					<div class="logo"></div>
					<ul>
						<li class="logo-title">使用ZZ91客户端</li>
						<li style="font-size: 12px;">获更多优质资源，送<b style="color: #FFFF00;">20</b>元红包</li>
					</ul>
				</div>
				<div class="download-btn"> <a class="J_app" href="http://m.zz91.com/app.html">免费下载</a> </div>
			</div>
		</aside>
		<div style="height:55px"></div>
		<div class="aui-content">
			<h2 class="aui-text-center aui-margin-t-15">{{title}}</h2>
			<div class="clearfix aui-font-size-12 aui-margin-t-10 aui-margin-l-15 aui-margin-r-15 aui-text-default">
				<div class="aui-pull-left">{{gmt_created}}</div>
				<div class="aui-pull-right"><a href="/order/price.html">订阅</a></div>
			</div>
			<div class="aui-text-center aui-margin-t-15 aui-font-size-14" style="color: #ccc;">
				<宽表格可左右滑动>
			</div>
			{%if pricedetaillist%}
			<center style="color: firebrick;">
				点击趋势图标，查看对应产品价格趋势图
			</center>
			{%endif%}
			<div class="aui-margin-t-10 aui-margin-l-15 aui-margin-r-15 category-table-box i-tab2">
				{%if pricedetaillist%}
                <table cellpadding="0" cellspacing="0" class="infotable">
                    <tr>
                    	<th>趋势图</th>
                    	{%for pf in listname%}
                        <th>{{pf}}</th>
                        {%endfor%}
                    </tr>
                    {%for pl in pricedetaillist%}
                    
                    <tr title="{{pl.id}}" id="pricetr{{pl.id}}" proname="{{pl.proname}}">
                    	<td class="qushi"><a href="/jiage/pricechart.html?id={{pl.id}}"><img src="http://img0.zz91.com/zz91/images/qushi.png" /></a></td>
                    	{%for field in pl.listvalue%}
                        <td>{{field}}</td>
                        {%endfor%}
                    </tr>
                    
                    {%endfor%}
                </table>
                {%else%}
                {{content|safe}}
                {%endif%}
			</div>
			<div style="width: 100%;text-align: center;line-height: 30px;">我要订阅该行情<br>长按识别二维码，关注 “zz91再生网”<br /><img src="http://img0.zz91.com/zz91/weixin/images/priceorder.png"><br /></div>
            <div style="text-align: center;font-weight: bold;color: #ff0000;margin-bottom: 20px; border: solid 1px #006600;background-color: #fff; padding: 10px;"><a href="http://m.zz91.com/register/" style="color: #ff0000;">点此留下您的联系方式，查看更多相关行情报价</a></div>
            
            <input type="button" value="定制我的行情" class="aui-btn aui-btn-block" onclick="window.location='/order/price.html'" /> 
            <br />
            	
            <!--end i-tab-->
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 微门户 -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-5512236620584335"
			     data-ad-slot="8274972003"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<br />
			{%if priceabout%}
			<div class="aui-content ">
				<div class="aui-margin-l-15">相关报价</div>
			    <ul class="aui-list-view aui-in">
			        {%for about in priceabout%}
			        <li class="aui-list-view-cell">
			            <a href="/jiage/detail{{about.id}}.html{%if keywords%}?keywords={{keywords}}{%endif%}"  class="aui-arrow-right">{{about.title}}</a>
			        </li>
			        {%endfor%}
			    </ul>
			</div>
			{%endif%}
			{%if zhibuy or zhioffer%}
			<div class="aui-content ">
				<div class="aui-margin-l-15">相关供求</div>
			    <ul class="aui-list-view aui-in">
			        {%for d in zhibuy%}
					<li class="aui-list-view-cell aui-img">
						<a class="aui-arrow-right" href="/trade/detail{{d.pdt_id}}.html">
						<img class="aui-img-object aui-pull-left" src="{{d.pdt_images}}" style="width:100px">
						<div class="aui-img-body" style="margin-right:18px">
							<p class="aui-ellipsis-1"  style="color:#000"><b>{{d.pdt_kind.kindtxt}}{{d.pdt_name}}</b></p>
							<p>
								{{d.com_province}}<span class="aui-pull-right">{{d.pdt_price}}</span>
							</p>
							<p>
								{{d.pdt_time_en}}
							</p>
						</div></a>
					</li>
					{%endfor%}
					{%for d in zhioffer%}
					<li class="aui-list-view-cell aui-img">
						<a class="aui-arrow-right" href="/trade/detail{{d.pdt_id}}.html">
						<img class="aui-img-object aui-pull-left" src="{{d.pdt_images}}" style="width:100px">
						<div class="aui-img-body" style="margin-right:18px">
							<p class="aui-ellipsis-1"  style="color:#000"><b>{{d.pdt_kind.kindtxt}}{{d.pdt_name}}</b></p>
							<p>
								{{d.com_province}}<span class="aui-pull-right">{{d.pdt_price}}</span>
							</p>
							<p>
								{{d.pdt_time_en}}
							</p>
						</div></a>
					</li>
					{%endfor%}
			    </ul>
			</div>
			{%endif%}
		</div>
	</body>
	
	<script type="text/javascript">
		var infoid={{id}};
		var favoriteflag={{favoriteflag}};
		//点击收藏
		$(".favorite").on("click", function() {
			var favorite_type_code = "10091004";
			var data = {
				datatype : "json",
				favorite_type_code : favorite_type_code,
				forcompany_id : 0,
				content_id : infoid,
				title : document.title,
				pdtid : 0,
				products_type_code : 0,
				favoriteflag : favoriteflag
			};
			shoucInfo(data,"{{host}}");
			if (favoriteflag==1){
				favoriteflag=0;
			}else{
				favoriteflag=1;
			}
			isfavor($(".favorite").find("span"),favoriteflag);
		})
		
		$(".zz91share").on("click", function() {
			layer.open({
			  type: 2,
			  title: false,
			  closeBtn: 0, //不显示关闭按钮
			  shadeClose: true,
			  shade: 0.4,
			  anim: 2,
			  area: ['90%', '170px'],
			  content: '/myrc/share.html?p' //iframe的url
			}); 
		})

		$(".category-table-box tr:odd td").css("background","#f2f2f2");
		
		function ajaxinfo(){
			//保存分享数据到本地
			var title = document.title;
			localStorage.setItem("share_title", "" + title);
			localStorage.setItem("share_description", "我正在查看" + title + "，赶紧跟我一起来体验！http://m.zz91.com/jiage/detail" + infoid.toString() + ".html 点击链接查看");
			localStorage.setItem("share_url", "http://m.zz91.com/jiage/detail" + infoid.toString() + ".html");
			localStorage.setItem("share_pic", "http://img0.zz91.com/zz91/images/indexLogo.png");
			//收藏情况
			isfavor($(".favorite").find("span"),{{favoriteflag}});
		}
		
		$(function(){
			ajaxinfo()
		})

	</script>
	<script type="text/javascript"> 
	     /*kangxianyue 创建于2016-12-14*/ 
	     var cpro_id = "u2845509";
	</script>
	<script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
	{%include 'aui/bottom.html'%}
</html>