

body{margin:0 auto;background:#e0e0df;}
/**index**/
.mt-tag{width:100%;height:20px;line-height:20px;margin-top:10px;border-right:1px solid #ccc;float:left}
.mt-tag_{width:100%;height:20px;line-height:20px;margin-top:10px;font-weight:bold;float:left}
.m{width:33.3%;height:38px;border-bottom:2px solid #009900;float:left}
.m_{width:33.3%;height:38px;float:left}
.m-content{width:100%;overflow:hidden;margin-bottom:80px; margin-top:10px;}
.m-content table{width:100%;letter-spacing:1px}
.m-item{background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.m-item_{background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.m-item_1{height:42px;background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:0;list-style-type:none;}
.c-item{padding:5px 0;margin:0 10px;border-bottom:1px solid #dddddd;font-size:16px}
.c-item_{margin:0 10px;}
.i-box{float:left;color:#acacac;font-size:13px}
.i-box_{float:right;text-align:right}
.m-btn{width:100%;line-height:40px;background:#009943;text-align:center;position:fixed;z-index:99999;left:0;bottom:0}
.m-btn a{color:#fff;font-size:14px;text-decoration:none}
.i-star{margin-top:2px;float:left}
.i-sc{font-size:14px;margin-left:10px;float:left}
.i-tag{line-height:38px}
.m-ul{padding:0;margin:0; font-size:14px;}
.m-li_{width:20%;text-align:center;float:left;border-bottom:2px solid #009900; line-height:40px;}
.m-li_ a,.m-li a{display:block}
.m-li{width:20%;text-align:center;float:left; line-height:40px;}
.week{color:#acacac}
.mot{color:#acacac}
.c-item a{color:#000;text-decoration:none; line-height:25px;}

/**list**/
.m-item_1{padding:0 10px}
.m-item_1 font{color:#fc0000}

/**publish**/
.p-item{margin-left:10px}
.p-item textarea{width:98%;height:124px;resize:none;margin-top:20px;overflow:auto}
.p-img{float:left;margin-top:12px}
.p-img a{color:#0066cc;font-size:13px;text-decoration:none;}
.p-btn{width:20%;float:right}
.p-box{width:98%}
.pb-reply{height:24px;line-height:24px;text-align:center;background:#009944;margin-top:15px}
.pb-reply a{color:#fff;font-size:14px;text-decoration:none;}

/**details**/
.d-content{width:100%;margin-top:15px}
.d-main{width:100%;background:#fff}
.dm-txt{border-bottom:1px solid #ccc;font-size:16px;padding:15px 10px}
.dm-box{height:45px;padding:0 10px;background:#f7f7f7;padding-top:15px}
.db-left{width:35%;float:left}
.db-right{width:65%;float:right}
.db-btn{width:30%;height:17px;text-align:center;line-height:17px;background:#34aa68;color:#fff;font-size:12px;margin-right:10px;float:left;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin-top:5px}
.db-btn_{width:35%;height:26px;text-align:center;line-height:26px;background:#34aa68;color:#fff;font-size:12px;float:right}
.db-txt{font-size:12px;color:#acacac;margin-top:2px;float:left}
.db-txt_{font-size:12px;color:#acacac;margin-top:2px;margin-right:10px;float:right;margin-top:8px;overflow:hidden; text-overflow:ellipsis;white-space:nowrap; width:55%}
.db-box{height:26px;line-height:26px}
.d-dh{margin:10px 0 0 0;font-size:12px}
.dh{color:#F00}
.d-list{width:100%;background:#fff;margin:10px 0; font-size:16px;}
.l-box{padding:0 0 0 10px;border-bottom:1px solid #d0d0d0}
.l-txt{padding:15px 10px;}
.l-box{height:25px}
.lb-left{width:25%;float:left; overflow:hidden}
.lb-right{width:75%;float:right}
.ll-txt{font-size:12px;color:#acacac;overflow:hidden; text-overflow:ellipsis;white-space:nowrap}
.lr-txt{font-size:12px;color:#acacac;float:right;margin-right:10px;overflow:hidden; text-overflow:ellipsis;white-space:nowrap;width:50%; text-align:right}
.lr-re{float:right;margin-right:10px}
.lr-re_{float:right;margin-right:10px;font-size:14px}
.lb-txt{padding:10px 0; font-size:12px;}
.lt_{font-size:16px;color:#5e5d5d}
.lt{font-size:12px}
.l-block{background:#f7f7f7;padding:0 20px}
.lb-txt_{height:30px;line-height:30px}
.lt-txt{font-size:12px;color:#acacac;float:left}
.lt-re{float:right}
.lt-re a{color:#0066cc;font-size:12px;text-decoration:none;}
.lb-box{border-bottom:1px solid #dedede}
.lb-more{padding:15px 0}
.lb-more a{font-size:12px;margin-right:20px;color:#0066cc;text-decoration:none;}
.more{font-size:12px;color:#acacac}
.No{color:#5e5d5d}
.r-txt{padding:0 5px}
.d-reply{width:100%;height:230px;background:#fff;margin-bottom:100px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.r-tle{height:34px;line-height:34px;background:#f7f7f7;padding:5px 10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
textarea{width:99%;height:80px;resize:none;border:none}
.imgpic img{height:60px;}
.rt-txt{font-size:12px;float:left}
.rt-img{margin-top:5px;float:right}
.rt-btn{width:25%;height:24px;line-height:24px;background:#009944;text-align:center;color:#fff;font-size:12px;margin-left:20px;margin-top:5px;float:right}
#content{display:none}

#reply_div_cz{
	-moz-border-radius: 6px;
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	width: 95%;
	padding:15px 18px 15px 15px;
	position: relative;
	display: none;
}

#reply_div{
	-moz-border-radius: 6px;
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	width: 95%;
	padding:15px 18px 15px 15px;
	position: relative;
	display: none;
}
#reply_div_,#reply_div_nick,#reply_div_guanzhu{
	-moz-border-radius: 6px;
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
	width: 60%;
	padding:15px;
	position:relative;
	display: none;
}

#reply_div_cz textarea{
	height: 124px;
	resize: none;
	overflow: auto;
	border:1px solid #ccc;
	font-size:12px;
}
#reply_div textarea{
	height: 124px;
	resize: none;
	overflow: auto;
	border:1px solid #ccc;
	font-size:12px;
}
#reply_div_ textarea{
	height: 30px;
	resize: none;
	overflow: auto;
	border:1px solid #ccc;
	font-size:12px;
}
.btn{
display:inline-block;
	padding-left:15px;
	padding-right:15px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
}
.btn_cancel
{
	background: #fff;
	border:1px solid #ccc;
	color:#515151;
	font-family:"宋体";
	font-size:14px;
}
.btn_confirm
{
	background: #009944;
	border:1px solid #ccc;
	font-family:"宋体";
	font-size:14px;
}



























