/****************header.css**********/
.top{
	border-bottom: 1px solid #cccccc;
	background-color: #f2f2f2
}
.top-mo{
	width: 1020px;
	margin: 0 auto;
	padding: 20px 0;
}
.top-link{
	float: left;
}
.top-handle{
	line-height: 31px;
	color: #666666;
}
.search{
	text-align: center;
	padding: 20px 0 20px;
}
.search-ul{
	margin: 0 auto;
	display: inline-block;
}
.search-ul li{
	float: left;
}
.input-text{
	height: 31px;
	border: 2px solid #009946;
	width: 596px;
	margin-left: 10px;
}
.btn{
	height: 35px;
	width: 100px;
	background-color: #009946;
	border: 0;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	color:#fff;
	cursor: pointer;
}
.advert-top{
	width: 1020px;
	margin:0 auto;
	height: 50px;
	background-color: #f8c6c7;
	text-align: center;
}
.nav{
	width: 1020px;
	border-top: 2px solid #009a44;
	margin:0 auto;
	margin: 20px auto;
	display: table;
	background-color: #f2f2f2
}
.nav div{
	display: table-cell;
	text-align: center;
	height: 40px;
	width: 17%;
}
.nav .nav-now{
	background-color: #009a44;
}
.nav div a{
	display: block;
	height: 30px;
	margin-top: 5px;
	border-right: 1px solid #ccc;
	line-height: 30px;
}
.nav .nav-now a{
	display: block;	
	color: #fff;
	border-right: 0;
}
.nav .last-nav a{
	border: 0
}

/*******content.css*******/
.content{
	margin:0 auto;
	width: 1020px;
}
.iron-type{
	border: 1px solid #cccccc;
	padding: 10px 0;
}
.iron-type a{
	text-align: center;
	float: left;
	width: 12%;
	margin: 10px 0 
}
.img-info{
	height: 80px;
	width: 140px;
	background-color: #f8e3e2;
	float: right;
}
.info-list{
	margin-bottom: 20px;
}
.info-ul{
	width: 1040px;
}
.info-ul li{
	float: left;
	margin:10px 20px 0 0;
	border: 1px solid #ccc;
	padding: 20px;
	width: 458px;
}
.title-info{
	font-size: 22px;
	color: #000
}
.number-info,.mite-info{
	margin-top: 5px;
	color: #666
}
.advert-content{
	height: 98px;
	border: 1px solid #ccc;
	background-color: #ffe7e7
}
.advert-last{
	width: 248px;
	height: 607px;
	background-color: #efbfbf;
	float: right;
	border: 1px solid #ccc;
}
.news-list{
	margin-top: 20px;
}
.news-lf{
	float: left;
	width: 770px;
}
.mo-news{
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 363px;
	height: 293px;
}
.title-news{
	line-height: 38px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	height: 38px;
	padding: 0 20px;
}
.title-news span{
	float: left;
}
.title-news a{
	float: right;
	font-size: 12px;
}
.mo-news-lsit{
	margin: 15px 20px 0;
}
.mo-news-lsit li{
	overflow: hidden;
}
.mo-news-lsit li span{
	height: 33px;
	line-height: 30px;
	font-size: 12px;
}
.news-time{
	color: #999999;
	float: right;
}
.infotg{
	width: 120px;
	margin-right: 10px;
	display: inline-block;
}


/********footer.css********/
.footer{
	width: 1020px;
	margin:0 auto;
	border-top: 2px solid #009a44;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
}