<!DOCTYPE HTML>
<html>
	<head>{%include 'head.html'%}
		
        <link rel="stylesheet" type="text/css" href="/css/pindao/index.css"/>
	</head>
	<body>{%include 'top.html'%}
     <div class="content">
       <div class="c-tle">
       		<a href="/">首页</a> > <a href="/priceindex/">行情报价</a> > <a href="/priceindex/jinshuarea/">废金属全国各地价格</a>
       </div>
       <!--end c-tle-->
      	<table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#1bbc9b"><a href="/price/?category_id=40" style="color:white">废铜</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=40&assist_id=53">江浙沪</a></td>
            	<td width="25%"><a href="/price/?category_id=40&assist_id=180">广东</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=54">南海</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=55">临沂</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=40&assist_id=56">汨罗</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=269">北京</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=58">长葛</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=59">清远</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=40&assist_id=258">四川</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=239">天津</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=264">安徽</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=271">河北</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=40&assist_id=259">成都</a></td>
            	<td width="25%"><a href="/price/?category_id=40&assist_id=260">江西</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=314">山东</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=254">辽宁</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=40&assist_id=257">贵州</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=251">重庆</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=256">台州</a></td>
            	<td width="25%"><a href="/price/?category_id=40&assist_id=253">陕西</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=40&assist_id=255">福建</a></td>
                <td width="25%"><a href="/price/?category_id=40&assist_id=252">云南</a></td>
                <td width="25%"></td>
                <td width="25%"></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#58d68d"><a href="/price/?category_id=42" style="color:white">废铁</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=42&assist_id=53">江浙沪</a></td>
                <td width="25%"><a href="/price/?category_id=42&assist_id=181">山东</a></td>
                <td width="25%"><a href="/price/?category_id=42&assist_id=58">长葛</a></td>
                <td width="25%"><a href="/price/?category_id=42&assist_id=239">天津</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=42&assist_id=258">四川</a></td>
                <td width="25%"><a href="/price/?category_id=42&assist_id=262">湖北</a></td>
            	<td width="25%"><a href="/price/?category_id=42&assist_id=260">江西</a></td>
                <td width="25%"><a href="/price/?category_id=42&assist_id=267">山西</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=42&assist_id=180">广东</a></td>
            	<td width="25%"><a href="/price/?category_id=42&assist_id=255">福建</a></td>
            	<td width="25%"></td>
            	<td width="25%"></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#3598db"><a href="/price/?category_id=52" style="color:white">废电瓶</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=52&keywords=全国">全国</a></td>
                <td width="25%"><a href="/price/?category_id=52&assist_id=314">山东</a></td>
            	<td width="25%"><a href="/price/?category_id=52&assist_id=253">陕西</a></td>
                <td width="25%"><a href="/price/?category_id=52&assist_id=58">长葛</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=52&assist_id=53">江浙沪</a></td>
            	<td width="25%"><a href="/price/?category_id=52&assist_id=180">广东</a></td>
                <td width="25%"><a href="/price/?category_id=52&assist_id=258">四川</a></td>
                <td width="25%"><a href="/price/?category_id=52&assist_id=251">重庆</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#9a59b5"><a href="/price/?category_id=41" style="color:white">废铝</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=41&assist_id=53">江浙沪</a></td>
            	<td width="25%"><a href="/price/?category_id=41&assist_id=180">广东</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=54">南海</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=58">长葛</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=41&assist_id=56">汨罗</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=55">临沂</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=239">天津</a></td>
            	<td width="25%"><a href="/price/?category_id=41&assist_id=255">福建</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=41&assist_id=258">四川</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=59">清远</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=272">宁波</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=271">河北</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=41&assist_id=256">台州</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=181">山东</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=252">云南</a></td>
                <td width="25%"><a href="/price/?category_id=41&assist_id=251">重庆</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=41&assist_id=253">陕西</a></td>
            	<td width="25%"></td>
            	<td width="25%"></td>
            	<td width="25%"></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#e67f22"><a href="/price/?category_id=44" style="color:white">废不锈钢</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=44&assist_id=53">江浙沪</a></td>
            	<td width="25%"><a href="/price/?category_id=44&assist_id=180">广东</a></td>
                <td width="25%"><a href="/price/?category_id=44&assist_id=54">南海</a></td>
                <td width="25%"><a href="/price/?category_id=44&assist_id=55">临沂</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=44&assist_id=256">台州</a></td>
                <td width="25%"><a href="/price/?category_id=44&assist_id=272">宁波</a></td>
                <td width="25%"><a href="/price/?category_id=44&assist_id=239">天津</a></td>
                <td width="25%"><a href="/price/?category_id=44&assist_id=59">清远</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#f1c40f"><a href="/price/?category_id=45" style="color:white">废钢</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=45&assist_id=53">江浙沪</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=179">其他</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=54">南海</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=55">临沂</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=45&assist_id=239">天津</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=266">东北</a></td>
            	<td width="25%"><a href="/price/?category_id=45&assist_id=180">广东</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=259">成都</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=45&assist_id=251">重庆</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=262">湖北</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=254">辽宁</a></td>
                <td width="25%"><a href="/price/?category_id=45&assist_id=269">北京</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#e84c3d"><a href="/price/?category_id=47" style="color:white">废镍</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=47&keywords=全国">全国</a></td>
            	<td width="25%"><a href="/price/?category_id=47&assist_id=53">江浙沪</a></td>
                <td width="25%"><a href="/price/?category_id=47&assist_id=55">临沂</a></td>
                <td width="25%"><a href="/price/?category_id=47&assist_id=54">南海</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#34495e"><a href="/price/?category_id=43" style="color:white">废铅废锌</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/price/?category_id=43&assist_id=53">江浙沪</a></td>
                <td width="25%"><a href="/price/?category_id=43&assist_id=54">南海</a></td>
            	<td width="25%"><a href="/price/?category_id=43&assist_id=180">广东</a></td>
                <td width="25%"><a href="/price/?category_id=43&assist_id=239">天津</a></td>
            </tr>
            <tr>
                <td width="25%"><a href="/price/?category_id=43&assist_id=271">河北</a></td>
                <td width="25%"><a href="/price/?category_id=43&assist_id=55">临沂</a></td>
            	<td width="25%"></td>
            	<td width="25%"></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
            	<td width="50%" colspan="2" style="background:#7e8c8d"><a href="/price/?category_id=51" style="color:#fff">网上报价</a></td>
                <td width="50%" colspan="2" style="background:#7e8c8d"><a href="/price/?category_id=46" style="color:#fff">国外废金属</a></td>
            </tr>
        </table>
      </div>{%include 'bottom.html'%}
      <!--end content-->
	</body>
</html>