<!DOCTYPE HTML>
<html>
	<head>{%include 'head.html'%}
		<title>全国废塑料价格_ZZ91再生网</title>
		
        <link rel="stylesheet" type="text/css" href="/css/pindao/index.css"/>
	</head>
	<body>{%include 'top.html'%}
     <div class="content">
       <div class="c-tle">
       		<a href="/">首页</a> > <a href="/jiage/">行情报价</a> > <a href="/jiage/suliaoarea.html">废塑料全国各地价格</a>
       </div>
       <!--end c-tle-->
      	<table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#f1c40f"><a href="/jiage/quanguofeisuliaojiagehangqing/" style="color:white">国内</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/pet/">PET</a></td>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/pp/">PP</a></td>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/pc/">PC</a></td>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/ps/">PS</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/pvc/">PVC</a></td>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/abs/">ABS</a></td>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/hdpe/">HDPE</a></td>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/ldpe/">LDPE</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/pa/">PA</a></td>
            	<td width="25%"><a href="/jiage/quanguofeisuliaojiagehangqing/pmma/">PMMA</a></td>
            	<td width="25%"><!--<a href="/price/?category_id=20&assist_id=289&keywords=国内">POM</a>--></td>
            	<td width="25%"></td>
            </tr>
        </table>
        
      </div>{%include 'bottom.html'%}
      <!--end content-->
	</body>
</html>