<!DOCTYPE HTML>
<html>
	<head>{%include 'head.html'%}
		
        <link rel="stylesheet" type="text/css" href="/css/pindao/index.css"/>
	</head>
	<body>{%include 'top.html'%}
     <div class="content">
       <div class="c-tle">
       		<a href="/">首页</a> > <a href="/jiage/">行情报价</a> > <a href="/jiage/suliaoqihuo.html">塑料期货</a>
       </div>
       <!--end c-tle-->
      	<table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#58d68d"><a href="/jiage/suliaoqihuo/?keywords=国际市场收盘价" style="color:white">国际市场收盘价</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="/jiage/suliaoqihuo/pe/?keywords=国际市场收盘价">PE</a></td>
            	<td width="25%"><a href="/jiage/suliaoqihuo/pp/?keywords=国际市场收盘价">PP</a></td>
            	<td width="25%"></td>
            	<td width="25%"></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="3" class="nav_tab_tle" style="text-align:left;background:#3598db"><a href="/jiage/suliaoqihuo/?keywords=香港美金报价" style="color:white">香港美金报价</td>
            </tr>
            <tr>
            	<td width="25%"><a href="/jiage/suliaoqihuo/pp/?keywords=香港美金报价">PP</a></td>
            	<td width="25%"><a href="/jiage/suliaoqihuo/abs/?keywords=香港美金报价">ABS</a></td>
            	<td width="25%"><a href="/jiage/suliaoqihuo/ps/?keywords=香港美金报价">PS</a></td>
            </tr>
        </table>
      </div>{%include 'bottom.html'%}
      <!--end content-->
	</body>
</html>