/****************header.css**********/
.top{
	border-bottom: 1px solid #cccccc;
	background-color: #f2f2f2
}
.top-mo{
	width: 1020px;
	margin: 0 auto;
	padding: 20px 0;
}
.top-link{
	float: left;
}
.top-handle{
	line-height: 31px;
	color: #666666;
}
.search{
	text-align: center;
	padding: 20px 0 20px;
}
.search-ul{
	margin: 0 auto;
	display: inline-block;
}
.search-ul li{
	float: left;
}
.input-text{
	height: 31px;
	border: 2px solid #009946;
	width: 596px;
	margin-left: 10px;
}
.btn{
	height: 35px;
	width: 100px;
	background-color: #009946;
	border: 0;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	color:#fff;
	cursor: pointer;
}
.advert-top{
	width: 1020px;
	margin:0 auto;
	height: 50px;
	background-color: #f8c6c7;
	text-align: center;
}
.nav{
	width: 1020px;
	border-top: 2px solid #009a44;
	margin:0 auto;
	margin: 20px auto;
	display: table;
	background-color: #f2f2f2
}
.nav div{
	display: table-cell;
	text-align: center;
	height: 40px;
	width: 17%;
}
.nav .nav-now{
	background-color: #009a44;
}
.nav div a{
	display: block;
	height: 30px;
	margin-top: 5px;
	border-right: 1px solid #ccc;
	line-height: 30px;
}
.nav .nav-now a{
	display: block;	
	color: #fff;
	border-right: 0;
}
.nav .last-nav a{
	border: 0
}


/*******content.css*******/
.content{
	margin:0 auto;
	width: 1020px;
}
.content1{
	margin-bottom: 20px;
}
.content2{
	margin-bottom: 20px;
}
.advert-mo{
	width: 280px;
}
.advert-one{
	height: 278px;
	background-color: #f8c6c7;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.advert-two{
	height: 118px;
	background-color: #f8c6c7;
	border: 1px solid #ccc;
}
.daohang{
	width: 720px;
	border: 1px solid #ccc;
	height: 418px;
}
.daohang-th{
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	font-size: 18px;
	color:#029745;
	border-bottom: 1px solid #ccc;;
	background-color: #f2f2f2
}
.table-dh{
	padding: 0 20px;
}
.daohang-ul{
	display: table;
	width: 100%;
	margin-top: 12px;

}
.daohang-ul li{
	display: table-row;
}
.daohang-ul li span{
	display: table-cell;
	font-size: 12px;
	height: 35px;
	vertical-align: middle;
}
.daohang-ul li .table-th{
	font-size: 14px;
	font-weight: bold;
}
.more{
	width: 45px
}
.more a{
	color: #999
}

.info-mo{
	width: 280px;
}
.bit-title{
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	background-color: #f2f2f2;
	font-size: 18px;
	border-bottom: 1px solid #ccc
}
.hangqi,.feiliao{
	border: 1px solid #ccc
}
.hangqi{
	height: 278px;
	margin-bottom: 20px;
}
.feiliao{
	height: 250px;
}
.bit-nb{
	border-bottom: 0
}
.bit-type{
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.bit-type span{
	display: table-cell;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ccc;
	width: 33%;
	cursor: pointer;
}
.bit-type .now-bit{
	border:0;
	border-top: 1px solid #ccc;
}
.hq-list{
	margin: 5px 20px 0;
}
.hq-list li{
	height: 31px;
	line-height: 31px;
	border-bottom: 1px dotted #999999;
	position: relative;
	padding-left: 10px;
}
.hq-list li i{
	height: 3px;
	width: 3px;
	position: absolute;
	background: #333;
	left: 2px;
	display: block;
	top: 15px;
}
.hq-list li a{
	color:#333;
}
.qiye{
	width: 720px;
}
.qiye-all{
	border:1px solid #ccc;
	height: 408px;
}
.advert-four{
	height: 120px;
	background-color: #e3b3b3;
	border:1px solid #ccc;
	margin-top: 20px;
}
.qiye-leibie{
	padding: 0 20px; 
}
.qiye-fl-mo{
	float: left;
	width: 225px;
}
.qiye-fl-mo a{
	color:#333;
}
.qiye-fl-mo dd{
	font-size: 12px;
	margin-right: 20px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px dotted #999999;
	position: relative;
	padding-left: 10px;
}
.qiye-fl-mo dd i{
	height: 3px;
	width: 3px;
	position: absolute;
	background: #333;
	left: 2px;
	display: block;
	top: 20px;
}
.qiye-fl-mo dt{
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #808080;
	margin-right: 20px;
}

.small-tg{
	float: right;
	font-size: 12px;
	color:#ccc;
	margin-right: 20px;
}
.content3{
	border: 1px solid #ccc
}
.yule{
	padding:20px 0 20px 20px;
	width: 1040px
}
.yule-tk{
	width: 215px;
	margin-right: 40px;
	float: left;
}
.yule-tk img{
	margin-bottom: 10px;
}
.yule-list a{
	font-size: 12px;
	color: #333333
}
.content4{
	padding: 20px 20px;
	margin: 20px 0;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 12px;
}
.content4 a{
	padding: 0 10px;
	display: inline-block;
}
/********footer.css********/
.footer{
	width: 1020px;
	margin:0 auto;
	border-top: 2px solid #009a44;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
}
