/****************header.css**********/
.top{
	border-bottom: 1px solid #cccccc;
	background-color: #f2f2f2
}
.top-mo{
	width: 1020px;
	margin: 0 auto;
	padding: 20px 0;
}
.top-link{
	float: left;
}
.top-handle{
	line-height: 31px;
	color: #666666;
}
.search{
	text-align: center;
	padding: 20px 0 20px;
}
.search-ul{
	margin: 0 auto;
	display: inline-block;
}
.search-ul li{
	float: left;
}
.input-text{
	height: 31px;
	border: 2px solid #009946;
	width: 596px;
	margin-left: 10px;
}
.btn{
	height: 35px;
	width: 100px;
	background-color: #009946;
	border: 0;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	color:#fff;
	cursor: pointer;
}
.advert-top{
	width: 1020px;
	margin:0 auto;
	height: 50px;
	background-color: #f8c6c7;
	text-align: center;
}
.nav{
	width: 1020px;
	border-top: 2px solid #009a44;
	margin:0 auto;
	margin: 20px auto;
	display: table;
	background-color: #f2f2f2
}
.nav div{
	display: table-cell;
	text-align: center;
	height: 40px;
	width: 17%;
}
.nav .nav-now{
	background-color: #009a44;
}
.nav div a{
	display: block;
	height: 30px;
	margin-top: 5px;
	border-right: 1px solid #ccc;
	line-height: 30px;
}
.nav .nav-now a{
	display: block;	
	color: #fff;
	border-right: 0;
}
.nav .last-nav a{
	border: 0
}


/*******content.css*******/
.content{
	width: 1020px;
	margin:0 auto;
}
.info-list{
	width: 732px;
}
.advert-list{
	width: 268px;
}
.tpye-table{
	display: table;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.tpye-table div{
	display: table-cell;
	border: 1px solid #ccc;	
}
.type-title{
	height: 119px;
	vertical-align: middle;
	width: 30px;
	text-align: center;
	background-color: #f2f2f2;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}
.type-lb{
	padding: 0 10px;
}
.type-lb a{
	margin: 5px;
	display: inline-block;
}
.xinxi-ul li{
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding:20px;
}
.xinxi-ul li img{
	float: right;
	margin-left: 15px;
}
.xinxi-th{
	margin-bottom: 10px;
}
.xinxi-th a{
	font-size: 22px;
	color: #333;
}
.dectil{
	line-height: 30px;
	font-size: 12px;
}
.more{
 	color: #0084fd;
 	margin-left: 10px;
}
.baojia{
	border: 1px solid #ccc;
	height: 258px;
	margin-bottom: 20px;
}
.baojia-title{
	height: 38px;
	border-bottom: 1px solid #ccc;
	background-color: #f2f2f2;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
}
.baojia-list{
	padding: 10px 0px 0px 8px
}
.baojia-list a{
	display: inline-block;
	height: 28px;
	width: 102px;
	border: 1px solid #ccc;
	margin:10px;
	text-align: center;
	line-height: 28px;
}
.advert{
	background-color: #c58d8e;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.advert-one{
	height: 298px;
}
.advert-two{
	height: 337px;
}
.advert-three{
	height: 576px
}
/*******footer.css*******/
.footer{
	width: 1020px;
	margin:0 auto;
	border-top: 2px solid #009a44;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
}