/****************header.css**********/
.top{
	border-bottom: 1px solid #cccccc;
	background-color: #f2f2f2
}
.top-mo{
	width: 1020px;
	margin: 0 auto;
	padding: 20px 0;
}
.top-link{
	float: left;
}
.top-handle{
	line-height: 31px;
	color: #666666;
}
.search{
	text-align: center;
	padding: 20px 0 20px;
}
.search-ul{
	margin: 0 auto;
	display: inline-block;
}
.search-ul li{
	float: left;
}
.input-text{
	height: 31px;
	border: 2px solid #009946;
	width: 596px;
	margin-left: 10px;
}
.btn{
	height: 35px;
	width: 100px;
	background-color: #009946;
	border: 0;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	color:#fff;
	cursor: pointer;
}
.advert-top{
	width: 1020px;
	margin:0 auto;
	height: 50px;
	background-color: #f8c6c7;
	text-align: center;
}
.nav{
	width: 1020px;
	border-top: 2px solid #009a44;
	margin:0 auto;
	margin: 20px auto;
	display: table;
	background-color: #f2f2f2
}
.nav div{
	display: table-cell;
	text-align: center;
	height: 40px;
	width: 17%;
}
.nav .nav-now{
	background-color: #009a44;
}
.nav div a{
	display: block;
	height: 30px;
	margin-top: 5px;
	border-right: 1px solid #ccc;
	line-height: 30px;
}
.nav .nav-now a{
	display: block;	
	color: #fff;
	border-right: 0;
}
.nav .last-nav a{
	border: 0
}


/*******content.css*******/
.content{
	margin:0 auto;
	width: 1020px;
}
.liebiao{
	width: 740px;
}
.page-seat{
	height: 48px;
	border: 1px solid #ccc;
	line-height: 48px;
	padding-left: 20px;
	margin-bottom: 20px;
}
.page-seat span{
	color: #029a47
}
.news-ad{
	width: 260px;
}
.liebiao-list{
	margin-bottom: 20px;
	border: 1px solid #ccc;
	height: 158px;
}
.title-h3{
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	background-color: #f2f2f2
}
.list-all{
	padding-left: 20px;
}
.list-all a{
	display: inline-block;
	height: 28px;
	text-align: center;
	line-height: 28px;
	width: 116px;
	margin:20px 20px 0 0;
	border: 1px solid #ccc
}
.advert{
	height: 258px;
	background-color: #f8c6c7;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.zixun{
	border: 1px solid #ccc;
	height: 308px;
}
.zixun-title{
	border-bottom: 1px solid #ccc;
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	font-size: 18px;
}
.zixun-ul{
	margin:0 20px;
}
.zixun-ul li{
	height: 41px;
	line-height: 41px;
	border-bottom: 1px dotted #999999;
	position: relative;
	padding-left: 10px;
}
.zixun-ul li i{
	height: 3px;
	width: 3px;
	position: absolute;
	background: #333;
	left: 2px;
	display: block;
	top: 20px;
}
/********footer.css********/
.footer{
	width: 1020px;
	margin:0 auto;
	border-top: 2px solid #009a44;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 12px;
}