@charset "utf-8";

body {background:#fff;padding:0;margin:0;}

.top{height:200px;background:url(http://www.zz91.com/zt/2015/images/06/top.jpg) no-repeat;background-position:center;padding-top:379px;}

.content{width:960px;margin:0 auto}

.tg_top {width:550px;height:80px;display:block;margin:0 auto;}

.pt {height:31px;line-height:31px;background:#d21f56;color:#fff;font-size:14px;padding-left:12px;}



/* 高级会员 */
.block1 {height:100%;overflow:hidden}
.block1 ul.hot li {float:left;display:inline;}
.block1 .box{width:220px;height:300px;margin:10px;background:#fff;}
.block1 .box-img{width:218px;height:198px;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden;border:1px solid #bfbcbc;}
.block1 .box-img img{vertical-align:middle;}
.block1 .box-text{height:36px;line-height:36px;background:#696969;overflow:hidden;color:#fff;font-size:16px;padding-left:12px;}
.block1 .box-text a{color:#fff}
.block1 .box-info{width:220px;color:#757373;background:#f0f0f0;}
.block1 .box-info-text {height:59px;line-height:25px;font-size:14px;padding-left:10px;padding-top:5px;}

/* 普通会员 */
.block2{margin-top:70px}
.b2 {width:926px;padding:17px;float:left;background:#f0f0f0;}
.b2-info ul.mulitline {height:240px;overflow:hidden}
.b2-info ul.mulitline li {width:926px;height:24px;}
.m2-item{width:420px;overflow:hidden;}
.m2-item-title{width:210px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline;white-space:nowrap}
.m2-item-title a{color: #0000FF;}
.m2-item-text{width:140px;height:24px;line-height:24px;text-align:left;color:#666;overflow:hidden;float:right;display:inline}


/* 翻页 */
.page{width:610px;height:30px;padding-top:30px;clear:both;padding-left:140px;margin:0 auto;}
.page-style {width:50px;height:28px;border:2px solid #858383;text-align:center;line-height:28px;float:left;margin-right:7px}
.page-style a {width:50px;height:28px;display:block;background:#cbc9c7}
.page ul {float:left}
.page ul li {border:2px solid #858383;margin-right:7px;float:left}
.page ul li a {padding:5px 8px;display:block;background:#cbc9c7}
.page .p_cur{color:#fff;background:#858383}

