body{
	background-color: #0084d8
}
.right-nav-dd{
	position: fixed;
	right: 20px;
	top: 464px;
	width: 183px;
	text-align: center;
	_position:absolute;
	_right:expression(eval(document.documentElement.scrollRight+20));
	_top:expression(eval(document.documentElement.scrollTop+464))
}
.right-nav-dd h3{
	line-height: 56px;
	height: 56px;
	color: #fff;
	font-size: 18px;
	background-color: #0367a6
}
.right-nav-dd div{
	width: 139px;
	margin: 1px auto 0;
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.right-nav-dd .now_ht{
	background-color: #fff001
}
.right-nav-dd .gotop{
	color: #fff;
	background-color: #0367a6;
}
.band{
	height: 434px;
	background:url(../images/bandimg.jpg) no-repeat center top #019afb;
	margin-top: 30px;
}
.content{
	margin: 0 auto;
	width: 1000px
}
.mo-info{
	margin-bottom: 25px;
}
.title{
	height:56px;
	line-height: 56px;
	color: #fff;
	background-color: #0367a6;
	font-size: 20px;
	padding: 0 25px; 
}
.title a{
	color: #fff;
	font-size: 12px;
}
.info-list{
	background-color: #fff
}
.info-list-bottom{
	border-bottom: 1px solid #cccccc
}
.info-list li{
	float: left;
	width: 217px;
	padding: 16px;
	border-right: 1px solid #cccccc
}
.cp-xinx{
	width: 215px;
	border:1px solid #cacaca;
	margin-bottom: 8px;

}
.cp-xinx a{
	display: block;
}
.info-img{
	height: 166px;
	width: 215px;
}
.cp-gy{
	line-height: 34px;
	height: 34px;
	padding:0 15px;
	color: #000;
	font-size: 12px;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
	width: 185px;
	cursor: pointer;
}
.minute{
	font-size: 12px;
	line-height: 24px;
	color: #333333;
	height: 24px;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
	width: 100%;
}
.red{
	color: red
}
.gslj{
	color: #0075c0
}
.bottom-br{
	border-bottom: 1px solid #cacaca
}

.foot{
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 31px;
	padding: 80px 0
}
.foot a{
	color: #fff;
}