.main-right{
	margin-left: 20px;
}
.content{
	height: auto;
	width: 590px;
}
.contentT{
	height: auto;
	width: 590px;
	margin-top: 20px;
}
.products{
	width: 206px;
	height: 32px;
	border: 1px solid #d7d7d7;
	font-size: 16px;
	background: #ffffcc;
	padding-top:5px ;
	text-align: center;
}
.keyword{
	font-size: 14px;
	margin-top: 8px;
}
.contentB{
	height: auto;
	width: 590px;
	margin: 23px 0 20px 0 ;
}
.contentB-main1{
	border: 1px #f2f2f2 dashed;
	width: 132px;
	height: 25px;
	float: left;
	text-align: center;
	font-size: 13px;
	margin: 10px 12px 0 0 ;
	padding-top:7px ;
}
.contentB-main2{
	border: 1px #f2f2f2 dashed;
	width: 132px;
	height: 25px;
	float: left;
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
	padding-top: 7px;
}
