.warp{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.logosearch{
	width: 100%;
	height: 80px;
	margin: 10px auto;
	clear: both;
}
.logo-title{
	font-size: 32px;
	padding: 5px 0 0 60px;
	font-weight: bold;
}
.search{
	width: 604px;
	height: 43px;
	float: left;
	padding: 10px 0 0 240px;
}
.searchInput{
	width: 436px;
	height: 30px;
	border: 1px #00cc00 solid;
	font-size: 20px;
	padding: 8px 0 0 10px;
}
.searchButtom{
	width: 143px;
	height: 30px;
	background-color: #00CC00;
	margin-left: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	padding-top: 10px;
}
.nav{
	width: 1180px;
	height: 30px;
	background-color: #00CC00;
	padding: 10px 0 0 20px;
	color: #FFFFFF;
}
.nav-idx{
	color: #ffff00;
	width: auto;
	height: auto;
	margin-right:80px;
	font-size: 16px;
	font-weight: bold;
	float: left;
}
.nav-oth{
	width: 90px;
	height: auto;
	margin-right:80px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
}
.Main{
	width: 1200px;
	height: auto;
	float: left;
	padding-bottom: 25px;
}
.main-left{
	width: 574px;
	height: auto;
	float: left;
}
.main-right{
	width: 574px;
	height: auto;
	float: left;
	margin-left: 50px;
}
.hot-top{
	width: 573px;
	height: 30px;
	border-bottom: 5px solid #ffcc00;
	margin-top: 26px;
}
.hot-search{
	width: auto;
	height: auto;
	font-size: 16px;
}
.more{
	width: auto;
	height: auto;
	font-size: 12px;
	float: right;
	padding-top: 5px;
}
.hot-main{
	width: 573px;
	height: auto;
	float: left;
}
.hot-main-1{
	border: 1px #f2f2f2 dashed;
	width: 129px;
	height: 20px;
	float: left;
	text-align: center;
	font-size: 13px;
	margin: 10px 12px 0 0 ;
}
.hot-main-2{
	border: 1px #f2f2f2 dashed;
	width: 132px;
	height: 20px;
	float: left;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
}
.seller-top{
	width: 573px;
	height: 30px;
	border-bottom: 3px solid #00CC00;
	margin-top: 23px;
}
.seller-c{
	width: auto;
	height: auto;
	font-size: 16px;
	letter-spacing: 1px;
}
.seller-content{
	width: 572px;
	height: 67px;
	border-bottom: 1px #cccccc dashed;
	padding-top: 12px;
}
.seller-content-left{
	text-align: left;
	width: 210px;
	height: 37px;
	font-size: 13px;
	margin: 8px 100px 0 0;
}
.seller-content-leftB{
	padding-top: 6px;
}
.seller-content-right{
	padding: 24px 18px 0 0 ;
}
.opportunity-top{
	width: 573px;
	height: 30px;
	border-bottom: 3px solid #00CC00;
	margin-top: 17px;
}
.opportunity-c{
	width: auto;
	height: auto;
	font-size: 16px;
	letter-spacing: 1px;
}
.opportunity-content{
	width: 572px;
	height: 117px;
	border-bottom: 1px #e4e4e4 dashed;
	margin-top: 23px;
}
.opportunity-content-c{
	width: 210px;
	height: 100px;
	font-size: 13px;
	margin-left: 14px;
	line-height: 25px;
}
.opportunity-contentB{
	padding-top: 27px;
}
.opportunity-buttom{
	width: 151px;
	height: 26px;
	background: #00CC00;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	padding-top: 14px;
	margin:40px 0 0 78px;
}
.hot-sTop{
	width: 573px;
	height: 30px;
	border-bottom: 3px solid #00CC00;
	margin-top: 25px;
}
.hot-sC{
	width: auto;
	height: auto;
	font-size: 16px;
	letter-spacing: 1px;
}
.hot-sContent{
	height: 77px;
	width: 573px;
	border-bottom: 1px dashed #CCCCCC;
}
.hot-sContent1{
	font-size: 18px;
	padding-top: 20px;
}
.hot-sContent2{
	font-size: 13px;
	padding-top: 28px;
	margin-right: 5px;
}
.hot-sContent3{
	font-size: 13px;
	padding-top: 8px;
	color: #999999;
	width: 574px;
	
}
.banner{
	width: 1200px;
	text-align: center;
	border: 1px #CCCCCC solid;
}
.footer {
	width: 1200px;
}

.oc-mainblock5 {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.alltopad {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.alltopad img {
	width: 100%;
}
.navsearchMain a{
	font-size: 16px;
}
.navsearchMain a:hover{
	color: #FFFF00;
}
