.Main{
	width: 1200px;
	height: auto;
	margin: 45px 0 10px 0;
}
.main-topL{
	width: 930px;
	height: auto;
	float: left;
}
.main-topL1{
	font-size: 30px;
}
.main-topL2{
	font-size: 16px;
	margin-top: 20px;
}
.main-topRb{
	width: 174px;
	height: 30px;
	background: #ff9900;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	margin-top: 34px;
}
.main-contentTop{
	width: 100%;
	height: auto;
	border-bottom: 2px #00CC00 solid;
	padding-bottom: 13px;
	margin-top: 30px;
}
.main-contentTop1{
	font-size: 18px;
	line-height: 20px;
	padding-left: 5px;
}
.main-contentTop2{
	font-size: 15px;
	padding-right: 10px;
}
.main-contentMainC{
	height: 178px;
	width: 100%;
	border-bottom: 1px #CCCCCC dashed;
	margin-top: 28px;
}
.main-contentMainC1{
	width: 178px;
	height: 153px;
	border: 1px solid #CCCCCC;
	margin-right: 30px;
}
.main-contentMainC2{
	width: 395px;
}
.main-contentMainC2Z{
	font-size: 19px;
	font-weight: bold;
	margin-top: 10px;
}
.main-contentMainC2Z2{
	font-size: 13px;
	margin: 17px 0 15px 0;
}
.main-contentMainC2Z3{
	font-size: 13px;
	line-height: 28px;
}
.main-contentMainC3{
	font-size: 13px;
	line-height: 40px;
	margin-left: 150px;
	margin-top: 16px;
}
.main-contentMainC4{
	width: 192px;
	height: auto;
}
.main-contentMainC4B1{
	width: 186px;
	height: 32px;
	background: #00CC00;
	text-align: center;
	color: #FFFFFF;
	padding-top: 16px;
}
.main-contentMainC4B2{
	width: 184px;
	height: 30px;
	border: solid 1px #CCCCCC;
	text-align: center;
	padding-top: 16px;
	margin-top: 35px;
}
.tab{
	width: 1200px;
	height: 41px;
	background: #F2F2F2;
	margin-bottom: 16px;
}
.tabN{
	width: 390px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
}
.tabB1{
	width: 58px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	background: #FFFFFF;
}
.tabB11{
	width: 58px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	background: #FFFFFF;
	margin-right: 10px;
}
.tabB2{
	width: 21px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	background: #ffcc00;
	margin-right: 10px;
/*	margin: 0 10px 0 10px;*/
}
.tabB3{
	width: 21px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	margin-right: 10px;
}
