.Main{
	width: 1200px;
	height: auto;
	margin: 45px 0 10px 0;
}
.main-topL{
	width: 930px;
	height: auto;
	float: left;
}
.main-topL1{
	font-size: 30px;
}
.main-topL2{
	font-size: 16px;
	margin-top: 20px;
}
.main-topRb{
	width: 174px;
	height: 30px;
	background: #ff9900;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	margin-top: 24px;
}
.sellerOpportunity-top{
	width: 590px;
	height: 30px;
	border-bottom: 3px solid #00CC00;
	margin-top: 23px;
}
.seller-c{
	width: auto;
	height: auto;
	font-size: 18px;
	letter-spacing: 1px;
	margin-left: 10px;
}
.more{
	width: auto;
	height: auto;
	font-size: 12px;
	float: right;
	padding-top: 5px;
}
.opportunity-main{
	width: 590px;
	height: auto;
}
.opportunity-content{
	width: 590px;
	height: 117px;
	border-bottom: 1px #e4e4e4 dashed;
	margin-top: 23px;
}
.opportunity-content-c{
	width: 210px;
	height: 100px;
	font-size: 13px;
	margin-left: 14px;
	line-height: 25px;
}
.opportunity-contentB{
	padding-top: 27px;
}
.opportunity-buttom{
	width: 151px;
	height: 26px;
	background: #00CC00;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	padding-top: 14px;
	margin:40px 0 0 78px;
}
.main-right{
	margin-left: 20px;
}
