/*主体*/
.Main{
	width: 1200px;
	height: auto;
	margin: 25px 0 10px 0;
}
.main-top{
	width: 100%;
	height: auto;
}
.main-topL{
	width: 930px;
	height: auto;
	float: left;
}
.main-topL1{
	font-size: 30px;
}
.main-topL2{
	font-size: 16px;
	margin-top: 20px;
}
.main-topRb{
	width: 174px;
	height: 30px;
	background: #ff9900;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	margin-top: 34px;
}
.main-contentTop{
	width: 100%;
	height: auto;
	border-bottom: 2px #00CC00 solid;
	padding-bottom: 13px;
	margin-top: 30px;
}
.main-contentTop1{
	font-size: 18px;
	line-height: 20px;
	padding-left: 5px;
}
.main-contentTop2{
	font-size: 15px;
	padding-right: 10px;
}
.main-contentMain{
	width: 100%;
	height: 163px;
	border-bottom: 1px dashed #CCCCCC;
	margin-top: 19px;
}
.main-contentMain1Z1{
	font-size: 13px;
}
.main-contentMain1Z2{
	font-size: 20px;
	width: 280px;
}
.main-contentMain1Z3{
	font-size: 13px;
	color: #FFCC00;
}
.rz-info {
	margin-left: 5px;
}
b{
	color: #009900;
}
.main-contentMain1Z4_1{
	font-size: 13px;
	line-height: 28px;
	margin-top: 10px;
	margin-left: 28px;
	width: 280px;
}
.main-contentMain1Z4_2{
	font-size: 13px;
	line-height: 28px;
	margin-top: 10px;
}
.main-contentMain1Z4_3{
	font-size: 13px;
	margin-left: 28px;
}
.main-contentMain1{
	width: 460px;
}
.main-contentMain2{
	width: 500px;
	margin-left: 90px;
	text-align: center;
}
.main-contentMain2_1{
	margin-right: 10px;
}
.main-contentMain3{
	width: 130px;
	height: auto;
}
.main-contentMain3B1{
	width: 128px;
	height: 30px;
	background: #00CC00;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	margin-top: 30px;
}
.main-contentMain3B2{
	width: 126px;
	height: 28px;
	border: solid 1px #CCCCCC;
	text-align: center;
	padding-top: 10px;
	margin-top: 26px;
}
/*--------结束*/
.tab{
	width: 1200px;
	height: 41px;
	background: #F2F2F2;
	margin-bottom: 16px;
}
.tabN{
	width: 390px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
}
.tabB1{
	width: 58px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	background: #FFFFFF;
}
.tabB11{
	width: 58px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	background: #FFFFFF;
	margin-right: 10px;
}
.tabB2{
	width: 21px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	background: #ffcc00;
	margin-right: 10px;
/*	margin: 0 10px 0 10px;*/
}
.tabB3{
	width: 21px;
	height: 19px;
	border: 1px solid #CCCCCC;
	text-align: center;
	float: left;
	margin-right: 10px;
}