.Main{
	width: 1200px;
	height: auto;
	margin: 45px 0 10px 0;
}
.main-topL{
	width: 930px;
	height: auto;
	float: left;
}
.main-topL1{
	font-size: 30px;
}
.main-topL2{
	font-size: 16px;
	margin-top: 20px;
}
.main-topRb{
	width: 174px;
	height: 30px;
	background: #ff9900;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	margin-top: 24px;
}
.more{
	width: auto;
	height: auto;
	font-size: 12px;
	float: right;
	padding-top: 5px;
}
.seller-top{
	width: 573px;
	height: 30px;
	border-bottom: 3px solid #00CC00;
	margin-top: 23px;
}
.seller-c{
	width: auto;
	height: auto;
	font-size: 18px;
	line-height: 20px;
	padding-left: 5px;
}
.seller-content{
	width: 572px;
	height: 102px;
	border-bottom: 1px #cccccc dashed;
	padding-top: 12px;
}
.seller-content1{
	width: 265px;
	height: auto;
	padding: 11px 38px 0 0;
}
.seller-contentT{
	font-size: 13px;
}
.seller-contentB{
	color: #999999;
	letter-spacing: 1px;
	padding-left: 30px;
	line-height: 25px;
	font-size: 13px;
}
.main-right{
	margin-left: 52px;
}
.seller-content2{
	width: 118px;
	height: auto;
	padding: 25px 30px 0 0;
}
.sellerG{
	color: #00CC00;
	size: 13px;
	line-height: 25px;
}
