@charset "utf-8";

body{background:#9e1e04;margin:0 auto}
.top{height:581px;background:url(../images/top.jpg) no-repeat;background-position:center;position:relative}

.tg_top {width:360px;height:90px;display:block;position:absolute;bottom:40px;left:410px;}
/*.top a img:hover{box-shadow:#000 0px 0px 10px}*/


.content{width:960px;margin:0 auto}

.con-tle{margin-bottom:10px;margin-top:10px}
.con-box{padding:25px 20px 0 20px;_padding-right:0px;background:#921801;margin-bottom:30px;}
.con-box ul{width:980px;_width:920px;overflow:hidden}
.con-box ul li{margin-right:16px;_margin-right:12px;margin-bottom:20px;float:left;display:inline}


.subject_foofer{color:#fff}
.subject_foofer a{color:#fff}












