<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" type="text/css" href="css/base-min.css" />
<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
<title>6.21再生塑料年度峰会-我要参展</title>
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="http://www.zz91.com/zt/comm/facebox.css" />
</head>
<body>
	
	<div class="topblack">
		<div class="topblack-mian">
			<div class="blcok-prev" onClick="javascript :history.back(-1)"><i class="icon icon-prev"></i>返回</div>
			<div class="pagename">我要参展</div>
		</div>
	</div>
	<div class="sq-lc">
		<div class="fu-type-main">
			<div class="fu-main-tt">参展流程：</div>
			<div class="fu-main-imgbox"><img src="images/liuc.png" class="fu-main-img"></div>
		</div>
	</div>
	<div class="center bgff">
		<div class="lc-from-tt color-fred">参展申请</div>
		<form id="form1" name="form1" method="post" action="/zt/baomingsave.html" onsubmit="return checkForm(this)">
			<ul class="lc-from">
				<li class="table-row">
					<div class="row1 sq-tsname"><span class="color-fred">*</span>公司名称：</div>
					<div class="sq-iptbox"><input type="text" class="sq-ipt" name="textfield" id="textfield" title="*公司名称"/></div>
				</li>
				<li class="table-row">
					<div class="row1 sq-tsname"><span class="color-fred">*</span>联系人：</div>
					<div class="sq-iptbox"><input type="text" class="sq-ipt" name="textfield2" id="textfield2" title="*联系人"/></div>
				</li>
				<li class="table-row">
					<div class="row1 sq-tsname">性别：</div>
					<div class="sq-iptbox">
						<label class="sex"><input name="sex" type="radio" value="男士"  checked="" title="性别：男士"/>男士 </label> 
						<label class="sex"><input name="sex" type="radio" value="女士" title="性别：女士"/>女士 </label> 
					</div>
				</li>
				<li class="table-row">
					<div class="row1 sq-tsname">联系电话：</div>
					<div class="sq-iptbox"><input type="text" class="sq-ipt" title="联系电话" id="textfield3"></div>
				</li>
				<li class="table-row">
					<div class="row1 sq-tsname"><span class="color-fred">*</span>手机：</div>
					<div class="sq-iptbox"><input type="text" class="sq-ipt" title="*手机" id="textfield4"></div>
				</li>
				<li class="table-row">
					<div class="row1 sq-tsname">供应产品：</div>
					<div class="sq-iptbox"><input type="text" class="sq-ipt" id="textfield5"  title="供应产品"></div>
				</li>
				<li class="table-row">
					<div class="row1 sq-tsname">采购产品：</div>
					<div class="sq-iptbox"><input type="text" class="sq-ipt" id="textfield6" title="采购产品"></div>
				</li>
			</ul>
			<input type="hidden" name="contents" id="contents" value="dfsf" />
	    	<input type="hidden" name="title" id="title1" value="6.21再生塑料年度峰会-参展报名" />
    		<div class="from-btnbox"><input class="from-btn" type="submit" name="button" id="button" value="提交"></div>
		</form>

		<div class="lc-from-tt color-fred">参展说明</div>

		<div class="lc-czsm">
			展位费用：6800元<br>展位服务：<br>1）标准展位一个，尺寸：2m*2.9m (包含1张桌子两个椅子；展位背景墙制作以及印刷）<br>2）企业宣传页100份（尺寸：A4，正反两面）<br>3）会刊名录彩色整版广告<br>4）展会现场LED图片轮播广告<br>5）3分钟企业推荐（展会自由洽谈时间）<br>6）2个参会名额
		</div>

		<div class="lc-bigsm color-fred">（展位分配原则：先申请，先付款，先安排！）</div>
	</div>

	<div class="fixnav">
		<div class="fixnav-main table-row">
			<a class="row1 fixnav-main-li" href="index.html">
				<i class="icon icon-btnav1"></i><br>首页
			</a>
			<a class="row1 fixnav-main-li" href="zhxinxi.html">
				<i class="icon icon-btnav2"></i><br>信息
			</a>
			<a class="row1 fixnav-main-li" href="zhzhaoshang.html">
				<i class="icon icon-btnav3"></i><br>招商
			</a>
			<a class="row1 fixnav-main-li thispage" href="zhfuwu.html">
				<i class="icon icon-btnav4"></i><br>服务
			</a>
		</div>
	</div>
</body>

<script type="text/javascript" src="js/viewport.js"></script>
	
	<div style="display:none">
	    <script>
	        var _hmt = _hmt || [];
	        (function() {
	            var hm = document.createElement("script");
	            hm.src = "//hm.baidu.com/hm.js?c120670c814d08922e7048797e6472c1";
	            var s = document.getElementsByTagName("script")[0];
	            s.parentNode.insertBefore(hm, s);
	        })();
	    </script>
	    <!--baidu analysis-->
	    <script>
	        var _hmt = _hmt || [];
	        
	        (function() {
	            var hm = document.createElement("script");
	            hm.src = "//hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
	            var s = document.getElementsByTagName("script")[0];
	            s.parentNode.insertBefore(hm, s);
	        })();
	    </script>
	</div>

<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script src="http://www.zz91.com/zt/comm/facebox.js"></script>
<script src="http://www.zz91.com/zt/comm/checkForm.js"></script>
<script type="text/javascript">

</script>


</html>