<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" type="text/css" href="css/base-min.css" />
<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
<title>6.21再生塑料年度峰会-展会介绍</title>
<link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
	
	<div class="topblack">
		<div class="topblack-mian">
			<div class="blcok-prev" onClick="javascript :history.back(-1)"><i class="icon icon-prev"></i>返回</div>
			<div class="pagename">展会介绍</div>
		</div>
	</div>
	
	<div class="center">
		<div class="jies-view">6.21再生塑料年度峰会将于2017年6月20日至21日杭州浙商开元名都酒店举行，由ZZ91再生网和淘再生主办，集中全面展示再生塑料企业和产品，提高企业形象，促进市场开发；针对性，多层次组织专业观众，加强供需对接，高效达成交易；邀请行业大咖共探讨国内外再生塑料市场现状和发展方向，政策解读，分享经验。希望为参展企业提供一个集产品展示、贸易洽谈，技术交流为一体全方位平台。</div>
		<div class="jies-view"> 2016年再生塑料年度峰会当天撮合交易成交量近3000吨，现场成交金额超三千万。与之相比，本届峰会展会区域将扩大至1500平方米，参展商由江浙沪地区扩展至全国范围，展会活动新增高端论坛版块。同时展前、展期以及展后，我们都将大力推广优秀企业的品牌形象。线上线下，PC端和移动端全方位推广。ZZ91新闻媒体-再生影响力栏目现场将全程跟踪采访，并联合多家媒体重点报道；同时发行展会会刊，重点推荐优秀企业，增加曝光率，更好的传递品牌形象。</div>
		
		<div class="jies-sm">
			<div class="lc-from-tt color-fred">展会基本信息</div>

			<div class="lc-czsm">
				<p><i class="icon icon-gz4"></i>展会时间：2017.6.20-6.21</p>
				<p><i class="icon icon-gz2"></i>展会地点：杭州浙商开元名都酒店（杭州余杭区迎宾路535号）</p>
				<p><i class="icon icon-gz3"></i>展会面积：1500平方米</p>
				<p><i class="icon icon-gz5"></i>展位设立：22个</p>
				<p><i class="icon icon-gz1"></i>展品范围：废料、副牌料、水口料、回料，再生造粒，各类再生改性塑料，报关、清关、物流、AQSIQ、废料技术及废料添加剂</p>
			</div>
		</div>
	</div>

	<div class="fixnav">
		<div class="fixnav-main table-row">
			<a class="row1 fixnav-main-li" href="index.html">
				<i class="icon icon-btnav1"></i><br>首页
			</a>
			<a class="row1 fixnav-main-li thispage" href="zhxinxi.html">
				<i class="icon icon-btnav2"></i><br>信息
			</a>
			<a class="row1 fixnav-main-li" href="zhzhaoshang.html">
				<i class="icon icon-btnav3"></i><br>招商
			</a>
			<a class="row1 fixnav-main-li" href="zhfuwu.html">
				<i class="icon icon-btnav4"></i><br>服务
			</a>
		</div>
	</div>
</body>

<script type="text/javascript" src="js/viewport.js"></script>
	
	<div style="display:none">
	    <script>
	        var _hmt = _hmt || [];
	        (function() {
	            var hm = document.createElement("script");
	            hm.src = "//hm.baidu.com/hm.js?c120670c814d08922e7048797e6472c1";
	            var s = document.getElementsByTagName("script")[0];
	            s.parentNode.insertBefore(hm, s);
	        })();
	    </script>
	    <!--baidu analysis-->
	    <script>
	        var _hmt = _hmt || [];
	        
	        (function() {
	            var hm = document.createElement("script");
	            hm.src = "//hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
	            var s = document.getElementsByTagName("script")[0];
	            s.parentNode.insertBefore(hm, s);
	        })();
	    </script>
	</div>

<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript">

</script>


</html>