body{
	max-width: 640px;
	margin: 0 auto;
	background-color: #fff8be
}
img{
	vertical-align: top;
}

.bandimg{
	background:url(../images/sj-img1.png);
	height: 298px;
	position: relative;
}
.bmbtn{
	position: absolute;
	top:215px;
	left: 373px;
}
.youshi{
	text-align: center;
	margin-top: 30px;
}
.ys-js{
	text-align: center;
}
.guizhe{
	text-align: center;
	margin-top: 40px;
}