<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无限商机 "邀"您来发-塑料原料频道</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="css/yuanliao.css" />
</head>
<body>
	<div style="width:100%; background-color:#F9F7EC">
		<div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
	</div>
    <div class="wrap">
    	<div class="w-top"></div>
        <div class="w-item01"></div>
        <div class="w-item02"></div>
        <div class="w-item03"></div>
        <div class="w-item04">
        	<div class="w-btn clearfix">
            	<a class="w-left fl" href="http://myrc.zz91.com/myyuanliao/office_post1.htm" target="_blank"></a>
            	<a class="w-right fr" href="http://help.zz91.com/detail-128/" target="_blank"></a>
            </div>
             <div style="width:100%;margin-top:100px;line-height:25px;">
            <div style="width:950px;margin:0 auto;text-align:center;"> 
<script type="text/javascript"> 
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
</script>
<div class="bottom">
  <div class="subject_foofer">
      <p><a target="_blank" rel="nofollow" href="http://www.zz91.com/about/index.asp"><br>
        关于我们</a> | <a target="_blank" href="http://www.recyclechina.com/">国际站</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/service/ppt/index.asp">品牌通服务</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/service/zst/">再生通服务</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/cn/helpcenter/">新手指南</a> | <a target="_blank" href="http://www.zz91.com/webmap.html">网站地图</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/hkfs/">支付方式</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/about/question.asp">意见投诉</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/about/linkus.asp">友情链接</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/about/contactus.asp">客服中心</a> | <a target="_blank" rel="nofollow" href="http://www.zz91.com/about/zhaopin.asp">诚聘英才</a> | <a target="_blank" href="http://daohang.zz91.com/">产品导航</a><br>
        ZZ91.COM 再生网 &copy; 版权所有
        地址：浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 <br>
        客服热线：0571-56612345 56611111 传真：0571-56637777 <br>
        <br>
      </p>
    </div>
    
</div>
<div style="display:none" name="mydiv" id="mydiv">
<br>
    <br>
    <form onsubmit="return checkForm(this)" action="/zt/baomingsave/" method="post" name="form1" id="form1">
    <div>
    <table width="100%" cellspacing="0" cellpadding="5" border="0" id="contright_sub">
      <tbody><tr>
        <td height="30" align="right">公司名称：</td>
        <td>
          <input type="text" title="*公司名称" value="" id="textfield" name="textfield">
        </td>
      </tr>
      <tr>
    <td width="100" height="30" align="right">联系人：</td>
    <td><input type="text" title="*联系人" value="" id="textfield2" name="textfield2"></td>
  </tr>
  <tr>
        <td height="30" align="right">性别：</td>
        <td><input type="radio" checked="" title="性别：女士" value="radio" id="radio" name="radio">
          女士
          <input type="radio" title="性别：男士" value="radio" id="radio" name="radio">
          男士</td>
      </tr>
  <tr>
    <td height="30" align="right">联系电话：</td>
    <td><input type="text" title="*联系电话" value="" id="textfield3" name="textfield3"></td>
  </tr>
  <tr>
    <td height="30" align="right">手机：</td>
    <td><input type="text" title="*手机" value="" id="textfield4" name="textfield4"></td>
  </tr>
  <tr>
      <td height="30" align="right"></td>
    <td><input type="submit" style="font-size:14px; font-weight:bold; padding:5px;" value=" 提交 " id="button" name="button"></td>
  </tr>
  </tbody></table></div>
    <input type="hidden" value="dfsf" id="contents" name="contents">
    <input type="hidden" value="拜年报名" id="title" name="title">
    
  
  </form>

</div>
<div style="display:none;"> 
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd1852f2b391e52cbd020e4b788713ba1' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" src=" http://hm.baidu.com/h.js?d1852f2b391e52cbd020e4b788713ba1"></script>
<a target="_blank" href="http://tongji.baidu.com/hm-web/welcome/ico?s=d1852f2b391e52cbd020e4b788713ba1">
<img width="20" height="20" border="0" src="http://eiv.baidu.com/hmt/icon/21.gif" data-bd-imgshare-binded="1"></a>
<script>
(function(d, t) {
    var r = d.createElement(t), s = d.getElementsByTagName(t)[0];
    r.async = 1;
    r.src = 'http://www.zz91.com/app/log.htm?' + Math.ceil(new Date/3600000)
    s.parentNode.insertBefore(r, s);
})(document, 'script');
</script>
<script type="text/javascript">
var weburl=window.location.href;
$.ajax({
    type: "GET",
    url: "/zt/addclick/",
    data: "weburl="+weburl,
});
</script>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</div>

 </div>
        </div>
    </div>    
</body>
</html>