<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="广西龙江镉污染" />
<meta name="description" content="广西龙江发生镉污染事件，重金属企业监管需抓紧"/>
<title>广西龙江镉污染</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<link rel="stylesheet" type="text/css" href="../style/gwr.mk.css" />
<link rel="stylesheet" type="text/css" href="../style/hack.css" />
<script src="../../commjs/jquery-1.6.4.min.js"></script>
<script language="javascript" type="text/javascript" src="../../commjs/hb.comm.js" ></script>
</head> 

<body>
<div class="hb_bar">
    <div class="hb_bar_contn">
        <div class="hb_bar_serve">
            <ul>
			
    				<li class="hb_welcome">欢迎访问<a href="http://www.huanbao.com/">环保网</a>!</li>
    				<li><a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm">快速发布</a></li>
    				<li><a href="http://www.huanbao.com/myesite/regist.htm">免费注册</a></li>
    				<li><a href="http://www.huanbao.com/myesite/login.htm">登录</a></li>

				
			</ul>
				<div class="clear"></div>
        </div>
        <div class="hb_bar_nav">
            <ul id="hb_bar_navls">
                <li>
                    <a href="http://www.huanbao.com/navigation.htm" target="_blank">网站导航</a>
                    <ul class="hb_bar_nav_web" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/trade/index.htm" target="_blank">交易中心</a>
							<ul>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001000--.htm" target="_blank">污水处理</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001001--.htm" target="_blank">原水处理</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001002--.htm" target="_blank">空气净化</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001003--.htm" target="_blank">材料药剂</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001004--.htm" target="_blank">环卫清洁</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001005--.htm" target="_blank">通用配件</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001006--.htm" target="_blank">仪器仪表</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001007--.htm" target="_blank">其他设备</a></li>
							</ul>
                            <div class="clear"></div>
                            <a href="http://www.huanbao.com/news/index.htm" target="_blank">资讯中心</a>
							<ul>
    							<li><a href="http://www.huanbao.com/news/list10001000.htm" target="_blank">环保新闻</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001007.htm" target="_blank">乐活环保</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001008.htm" target="_blank">成功指南</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001006.htm" target="_blank">电子商务</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001004.htm" target="_blank">技术讲堂</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001003.htm" target="_blank">工程招/投标</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001002.htm" target="_blank">其他设备</a></li>
							</ul>
							<div class="clear"></div>
                            <a href="www.huanbao.com/exhibit/index.htm" target="_blank">展会中心</a>
							<ul>
								<li><a href="http://www.huanbao.com/exhibit/list10001010.htm" target="_blank">国内展会</a></li>
    							<li><a href="http://www.huanbao.com/exhibit/list10001011.htm" target="_blank">国际展会</a></li>
								<li><a href="http://www.huanbao.com/exhibit/list10001013.htm" target="_blank">展会资讯</a></li>
    							<li><a href="http://www.huanbao.com/exhibit/list10001012.htm" target="_blank">展会论坛</a></li>
							</ul>
						</li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">中环通服务</a>
                    <ul class="hb_bar_nav_serv" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">电话申请</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpapply.htm" target="_blank">在线申请</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">了解服务</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">生意助手</a>
                    <ul class="hb_bar_nav_assis" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">如何找到客户</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">如何让客户找到</a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#this">我的后台</a>
                    <ul class="hb_bar_nav_center" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">返回我的后台</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/supply/supply.htm" target="_blank">查看询盘信息</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm" target="_blank">发布询盘信息</a>
                        </li>
						<li>
                            <a href="http://www.huanbao.com/myesite/buy/publish_StpOne.htm" target="_blank">发布求购信息</a>
                        </li>
						<li>
                            <a href="http://www.huanbao.com/myesite/message/sendMessage.htm" target="_blank">管理已发布信息</a>
                        </li>
                    </ul>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="astop_bar_adf" >
            <a href="#this"  alt="将环保网添加到收藏夹" class="addfavoritesbtn" onclick="hb.util.topBar.AddBookmark('环保网','http://www.huanbao.com/')">收藏我</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
	<div class="gwr_mk">
		<div><img src="../images/gewl_02.jpg" /></div>
		<div class="panel-body panel_marbg">
			<img class="left" src="../images/gewl_06.jpg" />
			<P class="panel-body-p" style="width:588px;">2012年1月15日，宜州市环保部门检测发现龙江河宜州拉浪段重金属超标，到19日镉浓度仍
超标3倍，26日污染水体进入下游柳江系统，27日柳江上游河段镉浓度超标达5倍。广西
龙江河突发环境事件应急指挥部30日召开新闻通气会称，龙江河镉污染应急处置取得成
效，事态完全处于控制之中，下游柳江水质仍达标。污染事件使沿江居民生活受到严重影响
，下游柳州民众已大规模抢购瓶装水。目前，广西镉污染源仍未确定……<a href="http://www.huanbao.com/news/details3263.htm">[详细]</a></P>
			<div class="clear"></div>
		</div>
		<div>
			<div class="left gwr_bl">
				<div class="panel">
					<h3><table><tr><td width="100px">最新报道</td><td><img src="../images/gewl_17.jpg" /></td></tr></table><a style="cursor:pointer" href="http://www.huanbao.com/news/details3323.htm"><span style="right:17px; top:9px;">>>更多</span></a></h3>
					<div class="panel-body">
							<dl class="left">
								<dt><img src="../images/gewl_12.jpg" /></dt>
								<dd>目前柳州饮用水达标</dd>
							</dl>
							<p class="p1 left">记者从广西壮族自治
										区环保部门了到，上月发
										生镉污染事件的广西龙江
										河目前水质已达到国家地
										表水标准，广西已经解除
										突发环境事件...<a href="http://www.huanbao.com/news/details3323.htm">[详细]</a></p>
							<img class="left" src="../images/saf_03.jpg" />
							<ul class="left">
								<li><a href="http://www.huanbao.com/news/details3329.htm">·水利和环保部门:龙江下游水源可放心饮用</a></li>
								<li><a href="http://www.huanbao.com/news/details3328.htm">·专家称镇江被污染自来水不会对人体造成危害</a></li>
								<li><a href="http://www.huanbao.com/news/details3330.htm">·河池环保局局长因镉污染事件被行政撤职</a></li>
								<li><a href="http://www.huanbao.com/news/details3396.htm">·广西柳州第一道镉污染防线停止投放中和药剂</a></li>
							</ul>
							<div class="clear"></div>
					</div>
				</div>
				<div class="panel mt10px">
					<h3><table><tr><td width="100px">污染影响</td><td><img src="../images/gewl_17.jpg" /></td></tr></table><a style="cursor:pointer" href="http://www.huanbao.com/news/details3408.htm"><span style="right:17px; top:9px;">>>更多</span></a></h3>
					<div class="panel-body">
							<dl class="left">
								<dt><img src="../images/gewl_20.jpg" /></dt>
								<dd>超市水战</dd>
							</dl>
							<p class="p1 left">1月25日，人们在广
西柳州一超市内抢购瓶装
饮用水。日前，广西河池
宜州市境内的龙江河发生
镉浓度超标事件，受此影
响...<a href="http://www.huanbao.com/news/details3408.htm">[详细]</a></p>
							<img class="left" src="../images/saf_03.jpg" />
							<ul class="left">
								<li><a href="http://www.huanbao.com/news/details3408.htm">·水利和环保部门:龙江下游水源可放心饮用</a></li>
								<li><a href="http://www.huanbao.com/news/details3408.htm">·专家称镇江被污染自来水不会对人体造成危害</a></li>
								<li><a href="http://www.huanbao.com/news/details3408.htm">·河池环保局局长因镉污染事件被行政撤职</a></li>
								<li><a href="http://www.huanbao.com/news/details3408.htm">·广西柳州第一道镉污染防线停止投放中和药剂</a></li>
							</ul>
						<div class="clear"></div>
					</div>
				</div>
				<div class="panel mt10px" >
					<h3><table><tr><td width="100px">分析评论</td><td><img src="../images/gewl_17.jpg" /></td></tr></table><a style="cursor:pointer" href="http://www.huanbao.com/news/details3407.htm"><span style="right:17px; top:9px;">>>更多</span></a></h3>
					<div class="panel-body">
							<dl class="left">
								<dt><img src="../images/gewl_25.jpg" /></dt>
								<dd>不要把道歉当"撒手锏"</dd>
							</dl>
							<p class="p1 left"> 2月1日，河池市市长
何辛幸向公众道歉，承认
政府监督缺失。近日，广
西壮族自治区检察院要求
事发地的检察机关组织检
察人员介入...<a href="http://www.huanbao.com/news/details3407.htm">[详细]</a></p>
							<img class="left" src="../images/saf_03.jpg" />
							<ul class="left">
								<li><a href="http://www.huanbao.com/news/details3407.htm">·水利和环保部门:龙江下游水源可放心饮用</a></li>
								<li><a href="http://www.huanbao.com/news/details3407.htm">·专家称镇江被污染自来水不会对人体造成危害</a></li>
								<li><a href="http://www.huanbao.com/news/details3407.htm">·河池环保局局长因镉污染事件被行政撤职</a></li>
								<li><a href="http://www.huanbao.com/news/details3407.htm">·广西柳州第一道镉污染防线停止投放中和药剂</a></a></li>
							</ul>
						<div class="clear"></div>
					</div>
				</div>
				<div class="panel mt10px" style="padding-bottom:8px;">
					<h3><table><tr><td width="100px">相关事件</td><td><img src="../images/gewl_17.jpg" /></td></tr></table><a style="cursor:pointer" href="http://www.huanbao.com/news/details3321.htm"><span style="right:17px; top:9px;">>>更多</span></a></h3>
					<div class="panel-body"style="padding-bottom:12px;">
							<dl class="dl2 left">
								<dt><img src="../images/gewl_29.jpg" /></dt>
								<dd><a href="http://www.huanbao.com/news/details3321.htm">云南曲靖罗铬污染</a></dd>
							</dl>
							<div class="p2 left">
								<p>时间：2011 年6月</p>
								<p>地点：云南省曲靖市陆良化工公司</p>
								<p>原因：陆良化工将总量5000余吨的
重毒化工废料铬渣非法丢放，致珠
江源头南盘江附近水质遭到铬渣污
染。</p>
							</div>
							<dl class="dl2 left">
								<dt><img src="../images/gewl_32.jpg" /></dt>
								<dd><a href="http://www.huanbao.com/news/details3379.htm">紫金矿业污染事件</a></dd>
							</dl>
							<div class="p2 left" style="width:193px; margin-right:0px;">
								<p>时间：2010年7月3日15时50分左右</p>
								<p>地点：福建省上杭县紫金山(金)铜矿</p>
								<p>公司：紫金矿业集团有限公司</p>
								<p>原因：连续降雨造成厂区溶液池区
底部黏土层掏空,污水池防渗膜多处
开裂,渗漏事故由此发生。</p>
							</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="right" style="width:298px; margin:10px 10px 0 0;_margin-right:5px;">
				<div class="panel2">
					<h3><img src="../images/h3_03.jpg" /></h3>
					<div class="panel2-body" style="padding-right:4px">
						<img style="margin-bottom:9px;" src="../images/gewl_10.jpg" />
						<p><em class="emc">开端：</em>1月15日，龙江河拉浪水电站内群众用网箱养
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鱼突然批量死亡。</p>
						<p><em class="emc">加剧：</em>宜州市环保部门经过调查发现，死鱼是由于
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龙江河宜州拉浪段镉浓度严重超标引起。</p>
						<p><em class="emc">扩散：</em>1月26日，污染团进入龙江下游的柳江。27日<em style="color:#fff;">空空空</em>柳江上游部分河段现轻微污染，柳州寻备用 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;水源。</p>
						<p><em class="emc">应急：</em>28日，广西启动突发环境事件Ⅱ级应急响应。<em style="color:#fff;">空空空</em>29日，镉污染已进入柳州水源保护地。</p>
					</div>
				</div>
				<div class="panel2 mt10px">
					<h3><img src="../images/h3_06.jpg" /></h3>
					<div class="panel2-body ml2px">
						<p><img class="right" src="../images/gewl_24.jpg" /><a href="http://www.huanbao.com/news/details3348.htm"><em class="emc">什么是镉：</em></a>镉(Cd)是对人
体有害的元素，在自然界中
多以化合态存在，含量很低
环境受到镉污染后，镉可在
生物体内富集。</p>
						<p><a href="http://www.huanbao.com/news/details3348.htm"><em class="emc">镉从何处来：</em></a>20世纪初发
现镉以来，镉的产量逐年增
加。相当数量的镉通过废气
废水、废渣排入 环境，造成污染。污染源主 要是
铅锌矿，以及有色金属冶炼、电镀和用镉化合物做
原料或触媒的工厂。</p>
						<p><a href="http://www.huanbao.com/news/details3348.htm"><em class="emc">镉的危害：</em></a>误食镉后可引起急性镉中毒。通常经
10～20分钟后，即可发生恶心、呕吐、腹痛、腹泻
等症状。严重者伴有眩晕、大汗、虚脱、 上肢感
觉迟钝、甚至出现抽搐、休克。一般需经3～5天才
可恢复。</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<div class="hb_footer gwr_ft">
    	<div class="hb_servnav"><a href="http://www.huanbao.com/fudus/absindex.htm" target="_blank">关于我们</a> | <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">会员服务</a> | <a href="#this" target="_blank">广告服务</a> | <a href="http://www.huanbao.com/fudus/vppay.htm" target="_blank">支付方式</a> | <a href="http://www.huanbao.com/fudus/epmap.htm" target="_blank">网站地图</a> | <a href="http://www.huanbao.com/myesite/newbie.htm" target="_blank">新手指南</a> | <a href="http://www.huanbao.com/fudus/friendlinks.htm" target="_blank">友情链接</a> | <a href="http://www.huanbao.com/funus/absjoinus.htm" target="_blank">客服中心</a> |  <a href="http://www.huanbao.com/fudus/leaveMsg.htm" target="_blank">意见留言</a> | <a href="http://www.huanbao.com/fudus/putArticle.htm" target="_blank">投稿</a> </div>
       <div class="hb_address">
			<p class="hb_footer_pt">
				全国统一服务热线：0571-56633090  市场推广专线：0571-56637878 传真：0571-56637777 
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes">
					<img border="0" src="http://wpa.qq.com/pa?p=2:2604876159:41" alt="点击这里给我发消息" title="点击这里给我发消息" style="float:right">
				</a>
			</p>		
			<p>法律顾问：京衡律师集团事务所 罗益群 律师 </p>
			<p>huanbao.com ©All Rights Reserved 中国环保网 版权所有</p>
		</div>
</div>
<script>
hb.util.topBar.HoverList();
</script>  
</body>
</html>