@charset "utf-8";
/* 注册页面 */

.successfully{width:990px;padding-bottom:40px;border-top:2px solid #119911;border-bottom:2px solid #119911;margin:0 auto}

/*标题提示信息*/
.sf-title{height:30px;width:550px;margin:16px 0}
.title-left{float:left;font-size:14px;font-weight:700;}
.title-left-register{color:#119911;margin-left:16px}
.title-right{float:right;width:255px;height:22px;background:url(../images/successfully-img.jpg) no-repeat;font-size:14px;line-height:22px}
.title-right-info{margin-left:20px;margin-right:35px}
.white{color:#fff}
.black{color:#000}

/*提示成功页面*/
.sf-img{float:left;margin-left:150px;_margin-left:50px;margin-top:70px}
.sf-content{float:left;margin-top:55px;margin-left:80px;margin-top:70px}
.content-info{float:left;font-size:14px}
.content-info-top{font-weight:700;font-size:16px}
.content-info-username{color:#F00;margin:0 16px}
.content-info a{text-decoration:none;color:#09F}

/*提示成功页面导航*/
.content-nav{width:548px;height:65px;border:1px solid #e7e7e7;background:url(../images/content-nav-bg.jpg) repeat-x;margin-top:35px}
.content-nav ul{width:500px;margin:16px auto 0 auto}
.content-nav ul li{float:left;margin-right:16px;width:108px;height:31px;background:url(../images/button.jpg) no-repeat;text-align:center;line-height:31px}
.content-nav ul li a{font-size:14px;color:#fff;text-decoration:none}

/*注册页面左边*/
.sf-left{width:700px;float:left}
.sf-left-title{color:#999;font-size:12px}

/*注册页面的单选，列表，和文本区域*/
.sf-radio{margin-right:8px;}
.sf-select{width:110px;height:28px;margin-right:4px}
.sf-select1{width:218px;height:18px;margin-top:8px;border:1px solid #ccc;background:url(../images/select_icon.jpg) no-repeat 208px 4px;cursor:pointer;padding:5px}
.select1-block{width:228px;height:100px;overflow:auto;border:1px solid #ccc;position:absolute;left:0px;top:35px;background:#fff;display:none;z-index:999}
.select1-block ul{padding:5px}
.select1-block ul li{height:24px; cursor:pointer}
.select1-block ul li:hover{background:#06F}
.sf-textarea{width:520px;height:165px;padding:4px 3px;margin:8px 0}

/*注册页面表格*/
.sf-table .sf-item-must{color:#F00;margin:0 3px 0 7px}
.sf-table .sf-table-info{font-size:14px;font-weight:700;text-align:left}
.sf-table-button{width:259px;height:29px;background:url(../images/ok.jpg) no-repeat;border:0;color:#fff;margin-left:200px;margin-top:16px}
.sf-service{margin-left:260px;margin-top:16px;clear:both; cursor:pointer; color:#0774ac}
.sf-service a{color:#0774ac;text-decoration:none;font-size:12px}
.sf-service a:hover{text-decoration:underline}
.sf-table tr{height:30px;}

/*注册页面右边*/
.sf-right{width:230px;float:right;padding-top:70px}
.sf-right-prompt{background:#f8f7f7;border-bottom:1px dashed #ccc;font-size:14px;font-weight:700;color:#999;padding:20px 0 15px 25px;line-height:30px}
.sf-right-prompt ul{padding-left:20px;_padding-left:10px}
.sf-right-prompt ul li{font-size:12px;font-weight:100;list-style-type:square;line-height:24px}

/*点击服务*/
.hbterms{ z-index:1002; margin-top:60px;}
.hbtermscont{ line-height:25px;}
.hbtermscont h1{ font:normal bold 22px/38px '瀹嬩綋'; text-align:center}
.hbtermscont h2{ font:normal bold 18px/38px '瀹嬩綋';border-bottom:1px dashed #CCC}
.hbtermscont h3{ font:normal bold 14px/38px '瀹嬩綋';text-indent:1em}
.hbtermscont p{text-indent:2em;padding:4px 1em}









