<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>{{typename}}{%if keywords%}{{keywords}}{%endif%}-资讯中心-ZZ91再生网-手机端</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/mobile/css/moblie.css"/>
<script type="text/javascript" src="http://img0.zz91.com/zz91/mobile/js/jquery.js"></script>
<script src="http://img0.zz91.com/zz91/mobile/js/style.js"></script>
</head>
<body style="background:#f1f1f1">

{%include 'top.html'%}

<div class="list-title">
	{{typename}}
</div>
<!--end list-title-->
<div class="search">
<form action="/news/search.html" method="get">
	<div class="search-content">
    	<input type="text" class="search-text" name="keywords"  {%if keywords%}value="{{keywords}}"{%endif%} placeholder="请输入您要搜索的资讯信息..."/>
    </div>
    <div class="search-button">
    	<center>
    		<input type="submit" class="search-ok" value="搜  索" />
        </center>
    </div>
    <div class="cb"></div>
</form>
</div>
<!--end search-->

<div class="list">
	<table>
	
{%for l in newslist.list%}
    	<tr>
        	<td>
            	<div class="list-caption">
                	<a href="/news/newsdetail{{l.id}}.htm{%ifequal typeid "195"%}?typeid=195{%endifequal%}">{{l.title10}}</a>
                </div>
                <div class="list-date">
                	{{l.pubdate}}
                </div>
                <div class="cb"></div>
            </td>
        </tr>
{%endfor%}
        <tr>
        	<td>
            	<center>
            	<div class="list-page">
                	<div class="list-page-before">
                	{%if prvpage > 0%}
                    	<div onclick="window.location='{%if keywords%}/news/search-{{prvpage}}.html?keywords={{keywords}}{%else%}/news/list-{{typeid}}-{{prvpage}}.html{%endif%}'">上一页</div>
                    	<!--<a href="/news/list-{{typeid}}-{{prvpage}}.html">上一页</a>-->
                    {%else%}
                    	上一页
                    {%endif%}
                    </div>
                    <div class="list-page-item">
                    	<select onchange="window.location=
                    	{%if keywords%}
                    	'/news/search-'+this.value+'.html?keywords={{keywords}}'
                    	{%else%}
                    	'/news/list-{{typeid}}-'+this.value+'.html'
                    	{%endif%}
                    	">
                            <!--<option>请选择</option>-->
                            <option>第{{page}}页</option>
                            {%for p in page_range%}
                            <option value="{{p.number}}">第{{p.number}}页</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="list-page-next">
                    {%if nextpage > page_listcount%}
                    	下一页
                    {%else%}
                    <div onclick="window.location='{%if keywords%}/news/search-{{nextpage}}.html?keywords={{keywords}}{%else%}/news/list-{{typeid}}-{{nextpage}}.html{%endif%}'">下一页</div>
                    	<!--<a href="/news/list-{{typeid}}-{{nextpage}}.html">下一页</a>-->
                    {%endif%}
                    </div>
                    <div class="cb"></div>
                </div>
                <!--end list-page-->
                </center>
            </td>
        </tr>

    </table>
</div>
<!--end list-->
<script type="text/javascript">
/*手机站：首页 20:3，创建于2014-7-22*/
var cpro_id = "u1629209";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
{%include 'bottom2.html'%}

</body>
</html>
