.Main{
	width: 1200px;
	height: auto;
	margin:0 auto;
}
.mainLeft{
	width: 950px;
	height: auto;
	margin-top: 20px;
}
.mainLeft-banner{

}
.mainLeft-content{
	width: 100%;
	height: auto;
	border: solid 1px #ebebeb;
	margin-bottom: 20px;
}
.mainLeft-contentnr1{
	width: 900px;
	background: #f7f9fc;
	padding: 15px 25px 15px 25px;
}
.mainLeft-contentnr2{
	width: 900px;
	border-top: solid 1px #ebebeb;
	padding: 15px 25px 15px 25px;
}
.mainLeft-contentnr-cz{
	display: block;
	width: 900px;
}
.mainLeft-contentnr-cp{
	font-size: 12px;
	color: #146636;
	padding-top: 5px;
}
.mainLeft-contentnr-cb{
	float: left;
	font-size: 12px;
	color: #666;
	padding: 10px 0 0 30px;
}
.mainLeft-contentnr-ct{
	display:block;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	font-size: 18px;
	color: #146636;
	padding-left: 5px;
}
.mainLeft-contentnr-cj{
	display: block;
	font-size: 12px;
	color: #808080;
	line-height: 25px;
	letter-spacing: 0.2px;
	padding-top: 10px;
}
.mainLeft-contentnr-qw{
	color: #808080;
	padding-left: 45px;
}

.more{
	font-size: 12px;
	color: #9a9a9a;
	float: right;
	width: 50px;
	background: url(../img/img01.png) no-repeat;
	background-position-x: -2px;
	background-position-y: 2px;
}
