/*logo部分*/
.logo{
	width: 1200px;
	height: auto;
	margin: 20px auto 0 auto;
}
.logoLeft{
	width: 410px;
	height: auto;
}
.logoLeft-img{
	margin-right: 50px;
}
.logoLeft-main1{
	width: auto;
	font-size: 23px;
	margin-top: 5px;
}
.logoLeft-main2{
	font-size: 14px;
	margin-bottom: 10px;
	padding-top: 5px;
}
.logoRight{
	width: 790px;
	height: 82px;
	text-align: center;
}
/*------logo结束*/
/*导航搜索部分*/
.navsearch{
	width: 100%;
	height: 40px;
	background: #4ab979;
}
.navsearchMain{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.navIndex{
	width: auto;
	color: #ffffff;
	background: #2e995b;
	text-align: center;
	line-height: 40px;
	padding-left: 30px;
	padding-right: 30px;
}
.navsearchMain a{
	font-size: 16px;
}
.navsearchMain a:hover{
	color: #FFFF00;
}
.navOther{
	color: #ffffff;
	float: left;
	font-size: 14px;
	text-align: center;
	width: 80px;
	line-height: 40px;
	font-weight: bold;
}
.navOther2{
	color: #ffffff;
	float: left;
	font-size: 13px;
	text-align: center;
	width: 80px;
	background: #2e995b;
	line-height: 40px;
}
.search{
	width: 297px;
	height: 35px;
	float: right;
	background: #2E995B;
	padding: 3px 0 0 5px;
}
.searchInput{
	width: 260px;
	height: 24px;
	border: none;
	background: #ACF3CA;
	padding-top: 8px;
	font-size: 14px;
	color: #FFFFFF;
}
.searchImg{
	margin: 8px 0 0 7px;
}
/*------导航搜索结束*/
/*------左部分结束*/
/*主要内容右部分*/
.mainRight{
	width: 240px;
	height: auto;
	margin-left: 10px;
	margin-top: 20px;
}
.mainRight-top a:hover{
	color: #fff;
}
.mainRight-topB1{
	width: 240px;
	background: #2e995b;
	text-align: center;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 30px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.mainRight-topB2{
	width: 240px;
	background: #4ab979;
	text-align: center;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 30px;
	color: #FFFFFF;
}
.mainRight-main{
	width: 238px;
	border: 1px solid #4AB979;
	float: left;
	line-height: 30px;
	margin-top: 10px;
}
.mainRight-mainT{
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	width: 238px;
	background: #4AB979;
	margin-bottom: 20px;
	line-height: 40px;
	float: left;
}
.mainRight-mainM{
	width: auto;
	height: auto;
	margin-left: 12px;
	margin-right: 3px;
}
.mainRight-mainMz{
	width: 220px;
	float: left;
}
.mainRight-mainMz1{
	font-size: 16px;
	font-weight: bold;
}
.mainRight-mainMz2{
	width: 220px;
	font-size: 12px;
	color: #676767;
	letter-spacing: 1px;
}
.mainRight-main2{
	width: 238px;
	height: auto;
	border: 1px solid #4AB979;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.mainRight-mainMt{
	width: 200px;
	height: auto;
	letter-spacing: 1px;
	float: left;
	margin-left: 10px;
	padding-bottom: 11px;
	overflow:hidden;
	text-overflow:ellipsis;white-space:nowrap
}
.mainRight-banner1,.mainRight-banner2{
	width: 240px;
	float: right;
}
/*------右部分结束*/
#topBarInfo{
	width: 1200px;
}
.footer{
	width: 1200px;
}
.oc-mainblock5{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.alltopad{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.alltopad img{
	width: 100%;
}