.Main{
	width: 1200px;
	height: auto;
	margin:0 auto;
}
.mainLeft{
	width: 950px;
	height: auto;
	margin-top: 20px;
}
.mainLeft-banner{
	
}
.mainLeft-hot{
	width: 950px;
	height: auto;
}
.mainLeft-hotT{
	width: 950px;
	height: 40px;
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.mainLeft-hotTz{
	width: auto;
	border-bottom: 2px solid #2E995B;
	position: absolute;
	float: left;
	margin-top: 12px;
	font-size: 18px;
}
.mainLeft-hotM{
	width: 950px;
	margin-top: 15px;
}
.mainLeft-hotM1{
	width: 220px;
	height: 250px;
	text-align: center;
	border: solid 1px #ccc;
	margin: 5px;
	vertical-align:middle;
	display: table-cell;
}
.mainLeft-hotM2{
	width: 230px;
	height: auto;
	text-align: center;
}
.mainLeft-hotMimg{
	height: 190px;
	text-align: center;
	vertical-align:middle;
	display: table-cell;
	width: 220px;
}
.mainLeft-hotMimg img{
	max-width: 100%;
}
.mainLeft-hotMz{
	text-align: center;
	color: #414141;
	line-height: 20px;
}
.mainLeft-more{
	width: 100%;
	height: 32px;
	font-size: 18px;
	text-align: center;
	padding-top: 8px;
	background: #f3f3f3;
	margin-bottom: 20px;
}
