.mainLeft-main1Fy{
	width: 700px;
	height: auto;
	margin: 0 auto;
}
.mainLeft-main1Fy1{
	text-align: center;
	border: 1px #bbbbbb solid;
	float: left;
	margin-left: 2px;
	padding: 10px;
}
.mainLeft-main1Fy2{
	text-align: center;
	float: left;
	font-size: 12px;
	width: 13px;
	border: 1px #bbbbbb solid;
	margin-left: 2px;
	padding: 10px;
}
.mainLeft-main1Fy3{
	text-align: center;
	float: left;
	font-size: 12px;
	width: 13px;
	border: 1px #bbbbbb solid;
	padding: 6px 0 6px 0;
	background: #7e7e7e;
	margin-left: 2px;
}
