.Main{
	width: 1200px;
	height: auto;
	margin:0 auto;
}
.mainLeft{
	width: 950px;
	height: auto;
	margin-top: 20px;
}
.mainLeft-banner{
	text-align: center;
	width: 100%;
	height: 80px;
}
.mainLeft-main1T{
	height: auto;
	border: 1px solid #CCCCCC;
	padding: 10px;
	line-height: 40px;
}
.mainLeft-main1D{
	width: 4px;
	height: 22px;
	background: #2e975a;
	margin-top: 10px;
}
.mainLeft-main1C1{
	width: 890px;
	font-size: 16px;
	margin-left: 25px;
}
.mainLeft-main1C1 a,.mainLeft-main1C2 a{
	margin-right: 16px;
	display: block;
	float: left;
}
.mainLeft-main1C2{
	width: 890px;
	height: auto;
	font-size: 12px;
	margin-left: 8px;
	margin-top: 10px;
	clear: both;
}
.mainLeft-main1M{
	width: 950px;
	height: auto;
	margin-top: 20px;
	float: left;
}
.mainLeft-main1Mtop{
	font-size: 14px;
	width: 950px;
	text-align: center;
	color: #FFFFFF;
	height: 35px;
	background: #2E975A;
}
.mainLeft-main1Mtop p{
	border-right: 1px solid #007431;
	line-height: 35px;
}
.mainLeft-main1Mn1{
	width: 220px;
}
.mainLeft-main1Mn2{
	width: 176px;
}
.mainLeft-main1Mn3{
	width: 150px;
}
.mainLeft-main1Mn4{
	width: 258px;
}
.mainLeft-main1Mn5{
	width: 139px;
}
.mainLeft-main1Mdescription{
	font-size: 13px;
	width: 948px;
	height: auto;
	text-align: center;
	border: 1px solid #b2b2b2;
	margin-bottom: 15px;
}
.mainLeft-main1Mdescription1{
	width: 947px;
	height: 60px;
	border-bottom: 1px dashed #b2b2b2;
	line-height: 25px;
	text-align: left;
	padding-left: 10px;
}
.mainLeft-main1Mdescription2{
	width: 947px;
	height: 37px;
}
.mainLeft-main1Mdescription-z1{
	width: 210px;
	padding-right: 10px;
}
.mainLeft-main1Mdescription-z2{
	width: 176px;
	height: 25px;
	padding-top: 10px;
}
.mainLeft-main1Mdescription-z3{
	width: 150px;
	height: 25px;
	padding-top: 10px;
}
.mainLeft-main1Mdescription-z4{
	width: 258px;
	height: 25px;
	padding-top: 10px;
}
.mainLeft-main1Mdescription-z5{
	width: 138px;
	height: 25px;
	padding-top: 10px;
}
.mainLeft-main1Mmore{
	width: 100%;
	height: 32px;
	font-size: 18px;
	text-align: center;
	padding-top: 8px;
	background: #f3f3f3;
}
.mainLeft-hot{
	width: 950px;
	height: auto;
	margin-top: 15px;
}
.mainLeft-hotT{
	width: 950px;
	height: 40px;
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.mainLeft-hotTz{
	width: auto;
	border-bottom: 2px solid #2E995B;
	position: absolute;
	float: left;
	margin-top: 12px;
	font-size: 18px;
}
.mainLeft-hotM{
	width: 950px;
	height: auto;
	margin-top: 15px;
}
.mainLeft-hotM1{
	height: auto;
	margin-right: 10px;
	margin-bottom: 20px;
}
.mainLeft-hotM2{
	width: 230px;
	height: auto;
}
.mainLeft-hotMk{
	border: 1px solid #CCCCCC;
	padding: 4px;
	height: 250px;
}
.mainLeft-hotMimg{
	width: 215px;
	height: 180px;
	text-align: center;
	vertical-align:middle;
	display: table-cell;
}
.mainLeft-hotMimg img{
	max-width: 100%;
}
.mainLeft-hotMz{
	text-align: center;
	color: #414141;
	margin-top: 17px;
	line-height: 22px;
	width: 215px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.mainLeft-main2{
	width: 950px;
	height: auto;
}
.mainLeft-main2L{
	width: 450px;
	height: auto;
}
.mainLeft-main2R{
	width: 450px;
	height: auto;
	margin-left: 50px;
}
.mainLeft-main2top{
	width: 450px;
    height: 30px;
	border-bottom: #CCCCCC 1px solid;
	position: relative;
	margin-bottom: 10px;
}
.mainLeft-main2z{
	width: auto;
	border-bottom: 2px solid #2e975a;
	float: left;
	margin-top: ;
	position: absolute;
	font-size: 16px;
	padding-bottom: 5px;
}
.mainLeft-main2more{
	float: right;
	width: 50px;
	height: auto;
	background-position-x: -3px;
	background-position-y: 2px;
	margin-top: 5px;
}
.mainLeft-main2main1{
	width: 450px;
	height: auto;
	border-bottom: dashed 1px #EAEAEA;
	padding: 9px 0 6px 0;
}
.mainLeft-main2main-M1{
	width: 205px;
	height: auto;
}