.Main{
	width: 1200px;
	height: auto;
	margin:0 auto;
}
.mainLeft{
	width: 950px;
	height: auto;
	margin-top: 20px;
}
.mainLeft-banner{

}
.mainLeft-bottomHot{
	width: 950px;
	height: auto;
}
.mainLeft-bottomHotT{
	width: 950px;
	height: 28px;
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.mainLeft-bottomHotz{
	width: auto;
	border-bottom: 2px solid #2E995B;
	position: absolute;
	float: left;
	font-size: 18px;
}
.mainLeft-bottomHotmore{
	float: right;
	width: 50px;
	background: url(../img/img01.png) no-repeat;
	background-position-x: -2px;
	background-position-y: 2px;
	margin-top: 8px;
}
.mainLeft-bottomHotmain{
	width: 100%;
	height: auto;
	margin-top: 20px;
	float: left;
}
.mainLeft-bottomHotmain1{
	width: 418px;
	height: auto;
	background: #f5f5f5;
	border-radius: 10px;
	float: left;
	padding: 30px 20px 30px 25px;
	margin: 0 20px 20px 0;
}
.mainLeft-bottomHotmain2{
	width: 418px;
	height: auto;
	background: #f5f5f5;
	border-radius: 10px;
	float: left;
	padding: 30px 20px 30px 25px;
	margin: 0 0 20px 0;
}
.mainLeft-bottomHotk{
	width: 420px;
	height: auto;
}
.mainLeft-bottomHotC1{
	font-size: 18px;
	float: left;
	margin-right: 32px;
}
.mainLeft-bottomHotC2{
	color: #12b657;
	margin-top: 5px;
	float: left;
}
.mainLeft-bottomHotC3{
	width: 420px;
	height: auto;
	margin: 30px 0 20px 0;
}
.mainLeft-bottomHotC4{
	color: #808080;
	letter-spacing: 1px;
	font-size: 12px;
	height: 100px;
	overflow: hidden;
}
.mainLeft-bottomHotB1{
	width: 127px;
	height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	background: #51b47b;
	border-radius: 5px;
	padding-top: 5px;
	margin-right: 10px;
}
.mainLeft-bottomHotB2{
	width: 127px;
	height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	background: #89c6c9;
	border-radius: 5px;
	padding-top: 5px;
	margin-right: 10px;
}
.mainLeft-bottomHotB3{
	width: 127px;
	height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	background: #e9ab2d;
	border-radius: 5px;
	padding-top: 5px;
	margin-right: 10px;
}
.mainLeft-bottomHotBy1{
	width: 18px;
	height: 18px;
	background: url(../img/img01.png) no-repeat;
	background-position-x: -65px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
	float: left;	
}
.mainLeft-bottomHotBy2{
	width: 18px;
	height: 18px;
	background: url(../img/img01.png) no-repeat;
	background-position-x: -95px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
	float: left;	
}
.mainLeft-bottomHotBy3{
	width: 20px;
	height: 20px;
	background: url(../img/img01.png) no-repeat;
	background-position-x: -128px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
	float: left;
}
.mainLeft-content{
	width: 950px;
	height: auto;
	margin-top: 20px;
}
.mainLeft-contentTop1{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 150px;
	height: 33px;
	background: #5fc489;
	color: #FFFFFF;
	border-radius: 5px 5px 0 0;
	padding-top: 7px;
}
.mainLeft-contentTop2{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 150px;
	height: 33px;
	background: #ededed;
	color: #a6a6a6;
	border-radius: 5px 5px 0 0;
	padding-top: 7px;
	margin-left: 2px;
}
.mainLeft-contentMain{
	width: 948px;
	height: auto;
	border: solid 1px #CCCCCC;
	margin-bottom: 20px;
}
.mainLeft-contentMain1{
	width: 929px;
	height: auto;
	border-bottom: solid 1px #CCCCCC;
	padding: 20px 0 20px 20px;
}
.mainLeft-contentMain2{
	width: 929px;
	height: auto;
	padding: 20px 0 20px 20px;
}
.mainLeft-contentMain-img{
	width: 140px;
	height: 140px;
	margin-right: 18px;
}
.mainLeft-contentMain-main{
	width: 560px;
	height: auto;
	margin-right: 60px;
}
.mainLeft-contentMain-main1{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.mainLeft-contentMain-main2{
	font-size: 14px;
	margin-bottom: 6px;
}
.mainLeft-contentMain-main3{
	letter-spacing: 1px;
	color: #8c8c8c;
	margin-bottom: 20px;
}
.mainLeft-contentMainB{
	width: 130px;
	margin-top: 15px;
}
.mainLeft-contentMainB1{
	width: 127px;
	height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	background: #51b47b;
	border-radius: 5px;
	padding-top: 5px;
}
.mainLeft-contentMainB2{
	width: 127px;
	height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	background: #89c6c9;
	border-radius: 5px;
	padding-top: 5px;
	margin-top: 10px;
}
.mainLeft-contentMainBy1{
	width: 18px;
	height: 18px;
	background: url(../img/img01.png) no-repeat;
	background-position-x: -65px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
	float: left;	
}
.mainLeft-contentMainBy2{
	width: 18px;
	height: 18px;
	background: url(../img/img01.png) no-repeat;
	background-position-x: -95px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
	float: left;
}
.mainLeft-contentMore{
	width: 948px;
	height:45px;
	float: left;
	padding-bottom: 10px;
}
.mainLeft-contentMoreY{
	width: 900px;
	height: 35px;
	font-size: 18px;
	text-align: center;
	background: #f3f3f3;
	border-radius: 5px;
	padding-top: 5px;
	float: left;
	margin: 10px 0 10px 22px;
}
