@charset "utf-8";
/* CSS Document */
body {
	font-family: "宋体", arial;
	margin: 0;
	padding: 0;
	margin: 0;
}
.header {
	height: 480px;
	width: 100%;
	min-width: 990px;
	background: #FFF;
	margin-bottom: 1px;
}
.logo {
	text-align: center;
	margin: 20px auto 15px auto;
	border: none;
	/*height:78px;*/
	height: 59px;
}
.logo img {
	margin: 0 auto;
}
.ruler {
	height: 15px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: none;
	background: url(../images/ruler.jpg) repeat-x;
}
.nav {
	height: 36px;
	width: 990px;
	padding: 0px;
	margin: 10px auto 20px;
}
.nav ul {
	list-style: none;
	outline: none;
	cursor: pointer;
	margin-bottom: 6px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 13px;
	width: 990px;
	padding: 0px 20px;
}
.nav ul li {
	float:left;
	margin:0px;
	padding:0px;
	margin:0px;
	width:120px;
	text-align: left;
}
.nav ul li a {
	text-decoration: none;
	display: inline-block;
	width: 96px;
}
.chinesenav li a {
	color: rgb(22,21,19);
}
.iconers {
	width: 329px;
}
.englishnav {
	font-size: 13px;/*background:url(../images/englishere.jpg) no-repeat;*/
}
.englishnav li a {
	color: #ccc;
}
.chinesenav {
	font-size: 13px;
}
.nav ul li a.redcolre {
	color: red;
}
.nav ul li a.redcolres{color: red;}
.nav ul li a.redcolre:hover {
	color: #FFF;
	background: #F00;
}
.clear {
	clear: both;
}
.banner {
	width: 100%;
	height: 310px;
	background: url(../images/index_08.jpg) no-repeat 50%;
	background-color: rgb(40,40,40);
}
.bannerdian {
	width: 100%;
	height: 310px;
 background: url(../images/hzd_02.jpg) no-repeat 50%;
	background-color: rgb(40,40,40);
}
.bannerback {
	width: 100%;
	height: 310px;
	background: url(images/bannerback.jpg)
}
.bannerdress {
	width: 100%;
	height: 310px;
 background: url(../images/hzs_02.jpg) no-repeat 50%;
}
.getbanner {
	width: 100%;
	height: 310px;
	background: url(../images/marrytogether/marrytogether_02.jpg) no-repeat 50%;
	background-color: rgb(40,40,40);
}
.bannershow {
	width: 100%;
	height: 310px;
	background: url(../images/show/wedingshow_02.jpg) no-repeat 50%;
}
.enjoybanner {
	width: 100%;
	height: 310px;
	background: url(../images/enjoy/enjoy_03.jpg) no-repeat 50%;
	background-color: rgb(40,40,40);
}
.enjoybanner2 {
	width: 100%;
	height: 310px;
	background: url(../images/enjoy/20140812_01.jpg) no-repeat 50%;
	background-color: rgb(40,40,40);
}
.callusbanner {
	width: 100%;
	height: 310px;
	background: url(../images/callus/callus_01.jpg) no-repeat 50%;
}
.styleone {
	width: 990px;
	height: 50px;
	margin:23px auto  ;
	text-align: center;
}
.dressfreebanner {
	width: 100%;
	height: 310px;
	background: url(../images/dressfree/dressfree_02.jpg) 50% no-repeat;
}
.contenter {
	text-align: center;
	height: 1030px;
	width: 990px;
	margin: 10px auto 0px;/*height:2680px;
	background:#F00;*/
}
.helpbanner {
	width: 100%;
	height: 310px;
	background: url(../images/help/help_02.jpg) 50% no-repeat
}
.mouseoverout {
	position: relative;
	height: 280px;
	width: 990px;
	background: url(../images/dressfree/dressfree_13.jpg) 50% no-repeat;
	margin:30px auto;
	text-align: center;
}
.gethercontenter {
	text-align: center;
	height: 2060px;
	min-height: 2060px;
	width: 990px;
	margin: 10px auto 0px;
}
.shopcontenter {
	text-align: center;
	min-height: 2995px;
	height: 2995px;
	width: 990px;
	margin: 10px auto;
}
.showcontenter {
	text-align: center;
	min-height: 3100px;
	height: 3100px;
	width: 990px;
	margin: 10px auto;
}
.contenterdress {
	width: 990px;
	height: 3283px;
	min-height: 3283px;
	text-align: center;
	margin: 20px auto 0px;
}
.enjoycontenter {
	width: 1064px;
	text-align: center;
	margin: 0 auto
}
.dressfreecontenter {
	width: 990px;
	height: 2360px;
	min-height:2360px;
	text-align: center;
	margin: 0 auto;
}
.calluscontenter {
	width: 990px;
	height: 1850px;
	min-height: 1850px;
	text-align: center;
	margin:30px auto;
}
.xyall {
	height: 500px;
	width: 990px;
	margin: 0;
	border: 0;
	padding: 0;
}
.firstpic {
	float: left;
	width: 426px;
	height: 506px;
	margin: 0;
	border: 0;
	padding: 0;
	margin-right: 6px;
}
.secondcell {
	float: left;
	width: 556px;
	height: 506px;
	margin: 0;
	border: 0;
	padding: 0;
}
.secondcell div {
	float: left;
}
.ld {
	margin-right: 3px;
}
.dr {
	margin-bottom: 1px;
}
div.shopsecontflow {
	margin-top: 39px;
}
.getthercontenter_headr {
	width: 990px;
	height: 213px;
	margin: 30px auto 60px auto;
	text-align: center;
}
.shopcontenter_headr {
	width: 990px;
	height: 190px;
	margin: 0 auto;
	text-align: center;
}
.dressfreecontenter_headr {
	width: 990px;
	height:380px;
	margin: 29px auto 10px auto;
}
.enjoycotent_body {
	width: 1064px;
	min-height: 1885px;
}
.calluscotent_body {
	width: 990px;
	height: 1518px;
	min-height: 1518px;
}
.dressfreecotent_body {
width: 990px;
height: 1700px;
min-height: 1700px;
margin: 0 auto;
text-align: center;
}
.threepictrue {
	height: 488px;
	width: 990px;
}
div#marginer {
	margin:0px 4px;
}
.enjoycontenter_headr {
	width: 990px;
	height: 110px;
	margin: 25px auto 27px auto;
	text-align: center;
}
.calluscontenter_headr {
	width: 990px;
	height: 260px;
	margin: 33px auto;
	text-align: center;
}
.contenter_headr img {
	margin: 0 auto;
	border:none;
}
.contenter_headr a {
	display: block;
	color: rgb(44,66,80);
	font-size: 14px;
	margin: 10px auto 0px;
	padding: 0px;
	text-decoration: none;
	cursor: pointer;
}
.secontflow {
	width: 990px;
	height: 685px;
	margin: 0 auto;
}
togethersecontflow {
	width: 990px;
	height: 880px;
	margin: 0 auto;
}
.shopsecontflow {
	width: 990px;
	height: 1294px;
	margin: 0 auto;
}
.firstflowpictrues {
	width: 990px;
	height: 343px;
	margin: 0;
	padding: 0;
	border: none;
}
.getherfirstflowpictrues {
	width: 990px;
	margin: 20px auto 20 auto;
	height: 460px;
	position: relative;
	background: url(../images/marrytogether/marrytogether_10.jpg) no-repeat;
}
.flow369 {
	height: 369px;
	width: 990px;
	margin-bottom: 60px;
}
.shopfirstflowpictrues {
	position: relative;
	width: 990px;
	height: 446px;
	margin: 0;
	padding: 0;
	border: none;
}
.showfirstflowpictrues {
	position: relative;
	width: 990px;
	height: 476px;
	margin: 0;
	padding: 0;
	border: none
}
.showwx {
	width: 990px;
	height: 550px;
	margin: 0;
	padding: 0;
	border: none;
	background: url(../images/show/wedingshow_25.jpg) no-repeat;
}
.pictrueinside {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border: none;
}
.pictrueinline {
	float: left;
	margin: 0;
	padding: 0;
	border: none;
	width: 327px;
	height: 491px;
}
.pictrueinside img {
	margin: 0;
	padding: 0;
	border: none;
}
.pictrue {
	margin: 8px auto;
}
.meet {
	background: url(../images/enjoy/enjoy_21.jpg) no-repeat;
	height: 220px;
	width: 990px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
#marginbotem {
	margin-bottom: 20px;
}
.pictrueinsides {
	float: left;
	margin: 0;
	padding: 0;
	border: none;
	width: 736px;
	height: 121px;
	background: url(../images/index_73.jpg) no-repeat 6px;
}
.pictrueinside img {
	margin: 0;
	padding: 0;
	border: none;
}
.thirdflowpictrue {
	margin: 0;
	padding: 0;
	border: none;
}
.choise {
	font-size: 13px;
	color: #000;
}
.contenter_headr {
	width: 990px;
	height: 98px;
	margin: 30px auto 50px auto;
	text-align: center;
}
.choise span {
	margin: 0px;
	padding: 0px 6px;
	color: rgb(44,66,80);
}
/*.snow {
	height: 300px;
	width: 100%;
	background-color: rbg(242, 242, 242);
	background: url(../images/comeon.jpg) no-repeat;
	position: relative;
}*/
.snow{
	display:block;
	height: 300px;
	background: url(../images/comeon.jpg) no-repeat 50% 50%;
	position: relative;
}
img.showout.outerside {
	margin-top: 6px;
	margin-left: 6px;
}
.hideinsideindents {
	display: inline-block;
	position: absolute;
	width: 97px;
	height: 20px;
	left: 759px;
	top: 182px;
	/*color: #FFF;
	background:#000;*/
}
.contentdown {
	text-align: center;
	width: 990px;
	height: 1298px;
	margin: 15px auto;
}
.contentdownindex{
	text-align: center;
	width: 990px;
	height: 1298px;
	margin:0 auto;
}
.secontflowdown {
	height: 618px;
	width: 990px;
}
div.firstflowpictruesdown {
	margin-top:30px;
}
.secontflowdownlogo {
	position: relative;
	height: 620px;
	width: 925px;
	background:#282828;
	background: url(../images/dressfree/dressfree.jpg) no-repeat;
	margin: 0 auto;
}
.dressflowpictruesdown {
	height: 380px;
}
.firstflowpictruesdownindex{
	height: 303px;
	overflow: hidden;
	margin:6px auto;
}
.firstflowpictruesdown {
	height: 290px;
	overflow: hidden;
}
p.choise.thirdflowpictrue {
	margin-top: 6px;
	color: rgb(44,66,80);
}
.showcontenter_headr {
	width: 990px;
	height: 126px;
	margin: 0 auto;
	text-align: center;
}
.allfree {
	position: relative;
	width:990px;
	height: 230px;
	background-color: #FFF;
	background: url(../images/allfree.jpg) no-repeat;
}
.allfreedress {
	position: relative;
	widows: 990px;
	height: 230px;
	background-color: #FFF;
	background: url(../images/wedingdress/wedingdress_52.jpg) no-repeat;
}
.hideinsideindenterdress{
	position: absolute;
	width: 94px;
	left: 447px;
	top: 162px;
	background: #000;
	color: #FFF;
	padding:2px;
	font-size:13px;
	text-decoration:none;
}
.haveclick {
	position: absolute;
	left: 429px;
	top: 137px;
	width: 98px;
	background: #000;
	font-size:13px;
	color: #FFF;
	padding:2px;
	text-decoration: none;
}
.ditu {
	background:url(../images/enjoy/enjoy_19.jpg) no-repeat;
	position: relative;
	height:576px;
	width:990px;
	margin:0 auto;
	margin-bottom: 100px;
}
.ditu a {
	height: 16px;
	position: absolute;
	left: 50px;
	top: 506px;
	width: 243px;
	text-decoration: none;
	font-size: 16px;
	color: #FFF;
	vertical-align: middle;
	padding: 8px;
	border: rgb(101,101,101) solid 1px;
}
.allfreegether {
	width: 990px;
	height: 230px;
	background-color: #FFF;
	background: url(../images/callus/callus_23.jpg) no-repeat;
	margin-top: 60px;
}
.enjoyfree {
	width: 990px;
	height: 240px;
	background-color: #FFF;
	background: url(../images/callus/callus_23.jpg) no-repeat;
	margin: 0 auto;
}
.callusfree {
	width: 990px;
	height: 240px;
	background-color: #FFF;
	background: url(../images/callus/callus_23.jpg) 50% no-repeat;
	margin: 0 auto;
	text-align: center;
}
.thehighsatisfaction {
	text-align: center;
	widows: 990px;
	height: 235px;
	background-color: #FFF;
	background: url(../images/shop/thehighsatisfaction.jpg) no-repeat;
}
.hideinsideindenter {
	position: absolute;
	width: 98px;
	height: 20px;
	text-indent: -99999px;
	left: 460px;
	top: 140px;
}
.atlast {
	width: 990px;
	height: 370px;
}
.first .pictrueinside a img {
}
#copyrightandlinks p {
	margin: 0px 0px 0px 42px;
	padding: 0;
	border: none;
}
div#copyrightandlinks {
	margin-top: 30px;
}
.footer {
	text-align: center;
	height: 210px;
	width: 100%;
	margin: 2px auto 0;
	background: rgb(40,40,40);
}
.hider {
	position:absolute;
	width:59px;
	color:#FFF;
	text-decoration:none;
	font-size:13px;
	padding:2px;
	left:402px;
	top:46px;
	text-indent:-99999999px;
}
.lefter {
	float: left;
}
.right {
	width: 202px;
	height: 215px;
}
.flower {
	width: 155px;
	height: 215px;
}
#copyrightandlinks {
	margin: 20px 0 0 0;
}
#licks a {
	font-size: 14px;
	color: rgb(177,177,177);
	margin: 0px;
	padding: 0px;
	border: none;
	text-decoration: none;
}
#licks span {
	font-size: 14px;
	color: rgb(177,177,177);
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
}
#point a {
	text-align: left;
	text-decoration: none;
}
#point a, #point span {
	color: rgb(177,177,177);
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	border: none;
}
p#licks {
	text-align: left;
}
p#point {
	text-align: left;
	margin-top: 6px;
}
.copyer {
	background: url(../images/copyright.jpg) no-repeat -46px;
	width: 100%;
	height: 30px;
	overflow: hidden;
}
.centers {
	width: 620px;
	height: 100px;
	margin: 0;
}
.copycentrue {
	width: 620px;
	height: 215px;
}
.coperrighter {
	position: relative;
	width: 990px;
	height: 180px;
	margin: 0 auto;
}
.iocon9 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 471px;
}
.icon {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.icons {
	position: absolute;
	left: 0px;
	top: 263px;
	width: 330px;
}
.icon1 {
	position: absolute;
	left: 0px;
	top: 297px;
}
.icon2 {
	position: absolute;
	left: 0px;
	top: 299px;
}
.iconer {
	position: absolute;
	left: 0px;
	top: 299px;
}
.iconers {
	position: absolute;
	left: 0px;
	top: 259px;
}
.ico {
	position: absolute;
	left: 0px;
	top: 261px;
}
.iconeron {
	position: absolute;
	left: 0px;
	top: 259px;
	width: 330px;
}
.awidthof {
	width: 120px;
}
.chinesenav li a:hover {
	background: #000;
	color: #FFF;
}
.crruent {
	background: #000;
	color: #FFF;
}
.normal {
	background: #FFF;
	color: #000;
}
#righter {
	margin-left:4px;
}
.name {
	position: absolute;
	left: 36px;
	top: 56px;
	width: 456px;
	height: 28px;
}
.tephone {
	position: absolute;
	left: 36px;
	top: 118px;
	width: 456px;
	height: 28px;
}
.email {
	position: absolute;
	left: 36px;
	top: 184px;
	width: 456px;
	height: 28px;
}
.textarea {
	position: absolute;
	left: 36px;
	top: 304px;
	width: 481px;
	height: 152px;
	font-size:13px;
}
.ppostion{
	color:#999;
	position:absolute;
	left: 38px;
	top: 308px;
	font-size:13px;
	padding:1px;
	margin:0;
}
.bottonsubmit {
	position: absolute;
	left: 36px;
	top: 486px;
	width: 478px;
	height: 37px;
	background: rgb(45,45,45);
	border: none;
	cursor: pointer;
	border:#656565 solid 1px;
	color: #FFF;
	outline-color:#CCC;
	font-size:12px;
}
.checkboxer1 {
	position: absolute;
	left: 140px;
	top: 244px;
}
.checkboxer2 {
	position: absolute;
	left: 224px;
	top: 243px;
}
.checkboxer3 {
	position: absolute;
	left: 267px;
	top: 239px;
}
.checkboxer3 {
	position: absolute;
	left: 308px;
	top: 242px;
}
.checkboxer4 {
	position: absolute;
	left: 395px;
	top: 243px;
}
.checkboxer5 {
	position: absolute;
	left: 476px;
	top: 242px;
	height: 17px;
}
.outerside {
	margin-top: 6px;
	margin-left: 12px;
}
.question {
	position: absolute;
	left: 665px;
	top: 420px;
	width: 180px;
	padding:9px;
	color:#FFF;
	font-size:13px;
	border:#656565 solid 1px;
	text-decoration:none;
}
.question:hover{
	border:#ccc solid 1px;
}
ul {
	text-align: left;
	list-style: none;
	font-size: 12px;
	font-family: "宋体", arial;
	margin: 0;
	padding: 0;
	margin: 0;
}
ul li {
	text-align: left;
	font-family: "宋体", arial;
	color: #FFF;
	margin-bottom: 8px;
}
ul li a {
	margin: 0;
	padding: 0;
	margin: 0;
	color: #FFF;
}
ul.firstflower {
	position: absolute;
	left: 19px;
	top: 146px;
	width: 368px;
	height: 103px;
}
.secondflower {
	position: absolute;
	left: 20px;
	top: 267px;
	width: 368px;
	height: 64px;
}
.thirdflower {
	position: absolute;
	left: 17px;
	top: 394px;
	width: 371px;
	height: 47px;
}
ul li span {
	margin: 0 6px 0 6px;
}
.bus {
	position: absolute;
	left: 390px;
	top: 46px;
	font-size: 14px;
	width: 584px;
	height: 17px;
	text-align: left;
	color: #FFF;
}
.particle {
	text-align: left;
	position: absolute;
	left: 392px;
	top: 18px;
	width: 583px;
	font-size: 14px;
	height: 18px;
	color: #FFF;
}
.firsts .pictrueinside {
	margin-left: 2px;
}
.wordslinks {
	text-align:center;
	width: 330px;
	height: 64px;
}
.wordslinkser{
	text-align:center;
	width: 376px;
	height: 64px;
}
.wordslinksop{
	text-align:center;
	width: 372px;
	height: 64px;
}
.wordslinkslong{
	text-align:center;
	width: 610px;
	height: 64px;
	
}
.wordslinkslonger{
	text-align:center;
	width: 600px;
	height: 64px;
}
.alonglistofwords {
	text-align: center;
	margin:23px auto 13px auto;
	font-size: 14px;
	color:#2c4152;
}
.linkdiv{
	display:inline-block;
	width:112px;
	font-size:12px;
	padding:2px;
	background:#000;
	margin:0px;
	border:none;
	color:#FFF;
	text-align: center;
	cursor:pointer;
	text-decoration:none;
}
.styletwo {
	position: relative;
	width: 990px;
	height: 166px;
	margin:32px auto;
	text-align: center;
}
.threepictrusline {
	width: 990px;
	height: 172px;
	margin: 30px auto 28px auto;
}
.centerline {
	margin: 0 36px;
}
.form {
	margin: 0;
	padding: 0;
	border: 0;
}
.telephone {
	position: absolute;
	display: inline-block;
	width: 78px;
	left: 344px;
	top: 185px;
	height: 76px;
	text-indent: -9999em;
}
.weixin {
	position: absolute;
	display: inline-block;
	width: 73px;
	left: 461px;
	top: 187px;
	height: 75px;
	text-indent: -9999em;
}
.qq {
	position: absolute;
	width: 75px;
	display: inline-block;
	left: 587px;
	top: 189px;
	height: 74px;
	text-indent: -9999em;
}
.telephoneshow {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 342px;
	top: 267px;
}
.weixinshow {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 463px;
	top: 264px;
}
.qqshow {
	position: absolute;
	width: 100px;
	height: 60px;
	left: 578px;
	top: 273px;
}
/**/
.tolltip {
	background: url(../images/loanBg1.png) no-repeat center center;
	width: 196px;
	height: 133px;
	position: absolute;
}
.tolltip .tolltipcur {
	color: #5599c8;
	font-size: 13px;
	font-family: '微软雅黑';
	padding: 0 20px;
	font-weight: 800;
	line-height: 21px;
	margin-top: 20px;
	text-align: left;
}
.tolltip2 {
	/*background: url(../images/loanBg2.png) no-repeat center center;*/
	width:200px;
	height:300px;
	position: absolute;
}
.tolltip2 .tolltipcur {
	color: #5599c8;
	font-size: 13px;
	font-family: '微软雅黑';
	padding: 0 15px;
	font-weight: 800;
	line-height: 21px;
	margin-top: 26px;
	text-align: left;
}
.tolltip3 {
	background: url(../images/loanBg3.png) no-repeat center center;
	width: 164px;
	height: 110px;
	position: absolute;
}
.tolltip3 .tolltipcur {
	color: #5599c8;
	font-size: 14px;
	font-family: '微软雅黑';
	padding: 0 15px;
	font-weight: 800;
	line-height: 21px;
	margin-top: 20px;
	text-align: left;
}
/*弹出框*/
.helpcontenter {
	width: 990px;
	height:500px;
	min-height:500px;
	height:auto !important;
	margin:20px auto;
	text-align: center;
	border:none;
}
.sibe {
	width: 210px;
	height:399px;
	min-height:399px;
	height:auto !important;
	border: rgb(204,204,204) solid 1px;
	float: left;
	margin-right: 8px;
}
.contentbody{
	height:360px;
	min-height:360px;
	height:auto !important;
	width: 767px;
	border: rgb(204,204,204) solid 1px;
	float: left;
}
.help-header {
	text-align: left;
	height: 30px;
	width: 990px;
	font-size: 16px;
	color: #666;
	vertical-align: middle;
}
.h1style {
	font-size: 16px;
	color: #666;
	background-color: #FCFCFC;
	border-bottom:rgb(204,204,204) solid 1px;
	/* height: 37px; */
	text-align: left;
	padding: 10px;
	margin: 0;
	vertical-align: middle;
}
ul.ulhelp {	
	list-style-position:outside;
	list-style-type:disc;
	color:#666666;
	margin-left:20px;
	
}
.ulhelp li {
	list-style-image:url(../images/help/help_05.jpg);
	margin:16px;
	width:90px;
/*	background:url(../images/help/libackgroud.jpg) 200px 200px repeat;*/
}
.ulhelp li a:link ,.ulhelp li a{
	color:#666666;
	font-size:14px;
	text-decoration:none;
}
/*.ulhelp li a：visited{
	color:#FFF;
	text-decoration:none;
	background-color: #F93;
	"font-size":"16px",
    "padding":"2px"
}
.ulhelp li a:hover{
	color:#666666;
	font-size:14px;
	text-decoration:none;
}
.ulhelp li a:active{
	color:#666666;
	font-size:14px;
	text-decoration:none;
}*/
.contentbody{
    border: rgb(204,204,204) solid 1px;
	height:399px;
	min-height:399px;
	height:auto !important;
}
.contentbody div{
	height:399px;
    min-height:399px;
	height:auto !important;
	width: 767px;
	display:none;
}
.over:hover{
	border:#CCC solid 1PX;
}
.styles{
	height:150px;
	width:990px;
	text-align:center;
	margin:36px auto;
}
.imgheighter{
	width:326px;
	height:302px;
}
img{
	border:none;
}
