<!DOCTYPE html>
<html>
<head>
{%include 'head.html'%}
<link rel="stylesheet"  href="/css/huzhu.css" />
<link rel="stylesheet"  href="/css/comm-searchbar-old.css" />
<link rel="stylesheet" href="/css/comm-searchbar.css" />
<link rel="stylesheet" href="/css/comm-more.css" />
</head>
<body>
<div class="wrapper">
{%include 'top.html'%}
<div class="mainContent t-quick-hidden" style="margin:0 0px;padding:0px;">
<div class="wk-header">
    <span class="c-f f16">生意经</span>
</div>
	
<div class="sch-top"></div>
<div class="t-index-search">
    <div class="t-search-bar pd10">
        <form action="/touch/search/index/" method="post" onSubmit="return AliMobile.SearchBar.chkSearchInput('.t-index-search');">
        <div style="position:relative;">
            <div class="input">
                <div class="selected" onClick="AliMobile.SearchBar.setSearchType('.t-index-search','1');">
                    <span class="type">
                    供求
                    </span>
                    <span class="arrow"></span>
                </div>
                <div style="margin-right:55px;">
                    <input class="searchKey" type="text" name="keywords" value="" autocomplete="off" placeholder="请填写搜索关键词" onFocus="AliMobile.SearchBar.input('.t-index-search','1');" onKeyUp="AliMobile.SearchBar.input('.t-index-search','1');">
                </div>
                <input class="searchType" type="hidden" value="selloffer" name="searchtype" />
                <input id="version" type="hidden" value="t" name="v" />
                <input id="en" type="hidden" value="utf8" name="en" />
            </div>
            <div class="submit" onClick="AliMobile.SearchBar.submit('.t-index-search');">搜索</div>
            <div class="clear"><a href="javascript:AliMobile.SearchBar.cleanSearchInput('.t-index-search');"><img src="/files/touch/images/close2.png"></a></div>
        </div>
        </form>
        <div class="ac selection" style="display:none">
            <ul>
                <li onClick="AliMobile.SearchBar.setSearchType('.t-index-search','1','产品','selloffer','请输入产品名称');">产品</li>
                <li onClick="AliMobile.SearchBar.setSearchType('.t-index-search','1','公司','company','请输入公司名、地区、产品等');">公司</li>
                <li onClick="AliMobile.SearchBar.setSearchType('.t-index-search','1','价格','price','请输入价格行情关键字');">价格</li>
            </ul>
        </div>
    </div>
</div>
<div class="sch-bottom">
    <span class="c6">热搜词：</span>
    <a href="/touch/search/offerlist/k-%E9%9F%A9%E7%89%88%E5%A5%B3%E8%A3%85_en-utf8_v-t_n-y.html?tracelog=topkeywords_hbnz">旧衣服</a>&nbsp;
    <a href="/touch/search/offerlist/k-%E6%88%90%E4%BA%BA%E7%94%A8%E5%93%81_en-utf8_v-t_n-y.html?tracelog=topkeywords_cryp">废钢铁</a>&nbsp;
    <a href="/touch/search/offerlist/k-%E6%96%B0%E5%A5%87%E7%89%B9_en-utf8_v-t_n-y.html?tracelog=topkeywords_xqt">PET</a>&nbsp;
    <a href="/touch/search/offerlist/k-%E5%A5%B3%E5%8C%85_en-utf8_v-t_n-y.html?tracelog=topkeywords_nvbao">二手设备</a> 
</div>

<nav class="t-nav-tab t-nav-tab-3">
	<ul>
					<li class="chk"><a href="/touch/wiki/index/ti-1.htm">最新问题</a></li>
			<li><a href="/touch/wiki/index/ti-2.htm">最热问题</a></li>
			<li><a href="/touch/wiki/index/ti-3.htm">精品知识</a></li>
			</ul>
</nav>


	
	<div class="list">
        	    	
    	<div class="item" style="border-top:1px solid #FFF;">    
            <a href="/touch/wiki/detail/docId-21135481_v-t.htm">	
            	<p class="c-link lh28">手袋加工厂要如何管理</p>
            	<div class="lh28">马云：&nbsp;做企业不是玩家家！总共60多个人的企业，建立这么多财务部、营销部、策划部、人力部、书面制...</div>
				    							<div class="c9 lh28">提问者：豪富皮具&nbsp;&nbsp;&nbsp;26回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-21218105_v-t.htm">	
            	<p class="c-link lh28">我的公司反反复复为什么就是做不大，做不强</p>
            	<div class="lh28">云计划导师余庆答复&nbsp;对于你的问题，我所能给的回答是不知道，因为公司管理方式是不一样的，没有一个...</div>
				    							<div class="c9 lh28">提问者：bzddc&nbsp;&nbsp;&nbsp;108回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-21994657_v-t.htm">	
            	<p class="c-link lh28">开淘宝到底现实吗</p>
            	<div class="lh28">现在的网购越来越普及，很多都是在淘宝上买东西的，至于亲说的珠宝，是高档一点的还是中档偏低的，大部分...</div>
				    							<div class="c9 lh28">提问者：至爱坦蓝&nbsp;&nbsp;&nbsp;6回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-21167217_v-t.htm">	
            	<p class="c-link lh28">白金展位价格是多少？</p>
            	<div class="lh28">为了全面提升会员质量与服务能力，帮助客户创造更大的价值，阿里巴巴将重点对现有广告资源进行调整，因此...</div>
				    							<div class="c9 lh28">提问者：阿里客服&nbsp;&nbsp;&nbsp;1回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-20384857_v-t.htm">	
            	<p class="c-link lh28">网上进货到大学里开实体店，学生总是拿网上价对比怎么办？</p>
            	<div class="lh28">你好&nbsp;首先我想问问你&nbsp;你有没有告诉那些学生&nbsp;你的产品是从网上拿货的呢？如果没有&nbsp;你...</div>
				    							<div class="c9 lh28">提问者：王.星&nbsp;&nbsp;&nbsp;26回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-21986425_v-t.htm">	
            	<p class="c-link lh28">如果同行业的业务员想飞单到你的公司，你怎么看待这个问题？</p>
            	<div class="lh28">很自豪啊，不过也会担心。自豪的是自己的单位比别人的好，担心他/她今天可以投靠我，明天该又会跑哪去呢？</div>
				    							<div class="c9 lh28">提问者：深圳超业...&nbsp;&nbsp;&nbsp;4回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-20724101_v-t.htm">	
            	<p class="c-link lh28">明天就放假了，得给老板一个结果，我该何去何从啊？求助！</p>
            	<div class="lh28">很理解楼主心情。&nbsp;这个产品做了数年，对这个领域很熟悉，离开工厂后从个人擅长角度肯定还是要从事这...</div>
				    							<div class="c9 lh28">提问者：panlinx...&nbsp;&nbsp;&nbsp;16回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-1048701_v-t.htm">	
            	<p class="c-link lh28">请高人支招，如何打开新产品的市场？</p>
            	<div class="lh28">利产品进入市场,从被潜在客户接触,到被潜在客户接受、完全采用，需要经历一个较复杂的过程。它与传统商品...</div>
				    							<div class="c9 lh28">提问者：taomaibao&nbsp;&nbsp;&nbsp;1回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-21110921_v-t.htm">	
            	<p class="c-link lh28">一个创业大学生付出惨痛代价后，该何去何从？</p>
            	<div class="lh28">楼主的创业经历对创业初期的年轻人来说很有教育意义。&nbsp;转门面之前一定要对一些细节先做一个前期的调...</div>
				    							<div class="c9 lh28">提问者：王.星&nbsp;&nbsp;&nbsp;137回答</div>			 
        	</a>
        </div>
    	        			
    	<div class="item">    
            <a href="/touch/wiki/detail/docId-3209976_v-t.htm">	
            	<p class="c-link lh28">有那位朋友知道正宗的新疆羊肉串的做法？谢谢了！</p>
            	<div class="lh28">新疆羊肉串最容易做了。&nbsp;做法：1.&nbsp;去local&nbsp;的自行车商店买20－30个spoke.&nbsp;然后用电...</div>
												<div class="c9 lh28">提问者：匿名&nbsp;&nbsp;&nbsp;1回答</div>			 
        	</a>
        </div>
    	    
	<div id="moreDiv"></div>
	</div>
							<div>
			
    <table class="moreTable" id="moreTable">
    	<tbody><tr>
    		<td>
    			<div class="moreLeft" id="moreLeft"></div>
    		</td>
    		<td style="width:100px;">
    			<div id="moreButton" onClick="AliMobile.GetMore.getMore();" class="moreButton" pagename="wikiPage" url="/touch/wiki/ajaxList/?tabIndex=1&amp;" pageindex="1">
    			更多...
    			</div>
    		</td>
    		<td>
    			<div class="moreRight" id="moreRight"></div>
    		</td>
    	</tr>
    </tbody></table>

		</div>
	
<div class="h20"></div>
	</div>
{%include 'bottom.html'%}
</div>
</body>
</html>