
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="description" content="zz91再生网注册第二步" />

<meta http-equiv="keywords" content="zz91再生网,注册" />

<meta name="author" content="zz91.com" />

<meta name="copyRight" content="zz91.com" />

<link type="text/css" href="/zz91reg/style/zz91registerHead2011.css" rel="stylesheet" />

<link type="text/css" href="/zz91reg/style/zz91registerStepII2011.css" rel="stylesheet" />

<link type="text/css" href="/zz91reg/style/global_hack.css" rel="stylesheet" />

<link type="text/css" href="/zz91reg/style/zz91footer2010.css" rel="stylesheet" />

<script type="text/javascript" src="/zz91reg/script/jquery-1.4.4.min.js"></script>

<script type="text/javascript" src="/zz91reg/script/zz91registerII2011.js"></script>

<meta content="ZZ91再生网是中国最大最旺的网上废料贸易市场，这里为您精选了废金属，废塑料，废纸，废橡胶，纺织废料，废旧设备，废电子电器，废玻璃，废皮革等各类废料供求信息、公司黄页、行业资讯、价格行情、展会信息等" name="description" /> 

<meta content="废金属，废塑料，废纸，纺织废料，再生资源，废橡胶"  name="keywords" /> 

<title>会员注册_ZZ91再生网</title>

</head>



<body>

	<div class="zz91Area">

    	<h1 class="zz91Name">zz91再生网</h1>

 		<div class="zz91Logo"><a href="http://www.zz91.com" title="zz91再生网"><img src="http://www.zz91.com/register/images/register2010/zz91logo.gif" alt="zz91再生网" /></a></div>  

        <div class="zz91Tip">中国最大最旺的网上废料贸易市场</div>

        <div class="zz91Server">

        	<div class="zz91Help">

            	<span><a href="http://china.zz91.com/login.htm"  target="_blank"> 登录 </a>|</span>

                <span><a href="http://www.zz91.com"> 返回首页 </a>|</span>

                <span><a href="/cn/helpcenter/"  target="_blank"> 新手指南 </a>|</span>

                <span><a href="http://www.zz91.com/about/question.asp" target="_blank"> <img src="http://www.zz91.com/register/images/register2010/zz91reg2011_Messenger.gif" />提意见 </a></span>

            </div>

            <div id="clear"></div>

            <div class="zz91ServerTel">

            	如需帮助，请拨打 <font class="fontOrange fontWeight">0571-56612345</font>

            </div>

        </div>

    </div>

    

	<div class="stepIITip">

    	<div class="regSteps"><span class="stepNum">注册步骤:</span><span class="stepI">填写注册信息 &gt;</span><span class="stepII">注册成功</span></div>

        <div class="stepIIHelp">

        	

             <IMG src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_10.gif" alt="zz91注册成功" class="stepIIHelpSuc"/>

             <div class="stepIIHelpInfo">

       	      	<span class="contRegSuc fontSize28 fontBlod">恭喜您注册成功!</span><br />

             	您的登录名:<span class="fontBlod">{{username}}</span><br />

                您可以继续<a href="http://china.zz91.com/login.htm" title="继续补充信息" target="_blank" class="fontBlue">补充信息</a>，还会获得更多的惊喜！<br />

                  不花钱就能做广告了！<a href="http://score.zz91.com/" title="积分兑换广告" target="_blank" class="fontBlue">马上用积分兑换广告&gt;&gt;</a>
				<div><a href="http://myrc.zz91.com"><img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_15.gif"></a></div>

            </div>

        </div>

    </div>

    

    <div id="clear"></div>

    <div class="tradeBegan">

    	<div class="tradeBeganService">

        	<ul>

            	<li>再生通服务</li>

                <li>报价信息</li>

                <li>商机搜索</li>

                <li class="selected">交易信息</li>

            </ul>

        </div>

        <div id="clear"></div>

        <div class="tradeBeganServiceCont">

        	<div class="tradeBeganCont">

        		<div class="tradeBeganContImg">

            		<img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_serv04.gif" alt="再生通,品牌通服务尽享网上,网下生意特权的尊贵体验"/>

            	</div>

                <div class="tradeBeganContDirection">

                    <h5>

                        <img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_11.gif" alt="再生通,品牌通服务尽享网上,网下生意特权的尊贵体验"/>

                    </h5>

                    <div class="tradeBeganContInfoA">

                        <div class="tradeBeganContInfoBox">

                            <h6>再生通服务</h6>

                            <p class="tradeBeganContInfoBoxTxt">

                                全网公开 任意查看联系方式<br />

                                炫彩商铺  精准营销<br />

                                私人商务助理<br />

                                全面展示 优先排序<br />

                                行业展会推广<br />

                                纸媒杂志推广

                            </p>

                            <p class="tradeBeganContInfoBoxBtn"><a href="http://www.zz91.com/service/zst/" target="_blank" title="点此了解更多再生通服务"><img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_09.gif"  alt="点此了解更多再生通服务"/></a></p>

                        </div>

                        <div class="tradeBeganContInfoBox">

                            <h6>品牌通服务</h6>

                            <p class="tradeBeganContInfoBoxTxt">

                                除拥有再生通的服务外，<br/>

                                还可以：网商24小时旺铺<br />

                                零成本"网上业务员"<br />

                                黄金地段品牌广告		            

                            </p>

                            <p class="tradeBeganContInfoBoxBtn"><a href="http://www.zz91.com/service/ppt/" target="_blank" title="点此了解更多品牌通服务"><img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_09.gif" alt="点此了解更多品牌通服务"/></a></p>

                        </div>

                    </div>         

                </div>

        	</div>

        

        	<div class="tradeBeganCont">

        		<div class="tradeBeganContImg">

            	<img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_serv02.gif" alt="免费查看,发布报价"/>

            </div>

            	<div class="tradeBeganContDirection">

            	<h5>

               		<img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_16.gif" alt="免费查看,发布报价"/>

           		</h5>

                <div class="tradeBeganContInfoB">

                	<p class="tradeBeganContInfoBTxt"><span class="fontBlod">任意查看网站各种产品报价</span></p>

					<p class="tradeBeganContInfoBTxt"><span class="fontBlod">发布报价，享受免费至尊推广，</span>让更多客户找到您，还可获得100积分，兑换服务。</p>

                    <p class="tradeBeganContInfoBBtn">

                    	<a href="http://www.zz91.com/customerprice/postprice_log.asp" target="_blank" title="立即发布报价"><img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_17.gif" alt="立即发布报价"/></a>

                        <a href="http://www.zz91.com/cn/info_index.htm" target="_blank" title="立即查看报价"><img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_18.gif" alt="立即查看报价"/></a>

                    </p>

                </div>         

            </div>

        	</div>

        

        	<div class="tradeBeganCont">

        		<div class="tradeBeganContImg">

            	<img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_serv03.gif" alt="买卖商机，一下找到"/>

            </div>

            	<div class="tradeBeganContDirection">

            	<h5>

               		<img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_14.gif" alt="买卖商机，一下找到"/>

                    <a href="http://trade.zz91.com/" target="_blank" title="商机搜索,立即体验"><img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_15.gif" alt="立即体验商机搜索" style="padding-left:60px;"/></a>

           		</h5>

                <div class="tradeBeganContInfoB">

                	<ul>

                		<li>寻找离我最近的供应商？</li>

                    	<li>寻找产品的当前价格？</li>

						<li>寻找赚钱的机会？</li>

						<li>寻找谁在求购我的产品？</li>

						<li>寻找我的积分兑换？服务。</li>

                    </ul>

                </div>         

            </div>

        	</div>

        	

            <div class="tradeBeganCont">

                <div class="tradeBeganContImg">

                    <img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_serv01.gif" alt="免费发布供应信息,求购信息"/>

                </div>

                <div class="tradeBeganContDirection">

                    <h5>

                        <img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_20.gif" alt="免费发布供应信息,求购信息"/>

                    </h5>

                    <div class="tradeBeganContInfoB">

                        <p class="tradeBeganContInfoBTxt"><span class="fontBlod">免费发布供应信息，求购信息</span></p>

                        <p class="tradeBeganContInfoBTxt"><span class="fontBlod">发布求购信息，</span>优质专业供应商任您挑选</p>

                        <p class="tradeBeganContInfoBBtn" style="text-align:right">

                            <a href="http://myrc.zz91.com/" target="_blank" title="立即发布报价"><img src="http://www.zz91.com/register/images/register2010/zz91reg2011StepII_23.gif" /></a>

                        </p>

                    </div>         

                </div>

        	</div>

            

        	

        </div>

    </div>	

    

    

	<div id="clear"></div>

<div id="footer">

	<p>

	<a href="http://www.zz91.com/about/index.asp" target="_blank">关于我们</a> | <a href="http://www.recyclechina.com/" target="_blank">国际站</a> | <a href="http://www.zz91.com/service/ppt/index.asp" target="_blank">品牌通服务</a> | <a href="http://www.zz91.com/service/zst/" target="_blank">再生通服务</a> | <a href="http://www.zz91.com/cn/helpcenter/" target="_blank">新手指南</a> | <a href="http://www.zz91.com/webmap.html" target="_blank">网站地图</a> | <a href="http://www.zz91.com/hkfs/" target="_blank">支付方式</a> | <a href="http://www.zz91.com/about/question.asp" target="_blank">意见投诉</a> | <a href="http://www.zz91.com/about/linkus.asp" target="_blank">友情链接</a> | <a href="http://www.zz91.com/about/contactus.asp" target="_blank">客服中心</a> | <a href="http://www.zz91.com/about/zhaopin.asp" target="_blank">诚聘英才</a> | <a href="http://daohang.zz91.com/" target="_blank">产品导航</a><br />

    全国统一服务热线：0571-56611111 56612345   广告服务：0571-56611688   传真：0571-56637777<br />   

法律顾问：京衡律师集团事务所 罗益群 律师     RecycleChina &copy; All Rights Reserved ZZ91再生网 版权所有<br />

ZZ91再生网为中国物资再生协会副会长单位  中国塑协理事单位<br /> 并与中国有色金属工业协会、中国塑料协会 、阿里巴巴、《资源再生》杂志等达成战略合作<br />

</p>

<p> <a href="http://www.idinfo.cn/SignHandle?userID=3301030000102711" target="_blank"><img src="http://www.zz91.com/register/images/footerpic/gongshang.gif"  alt="ZZ91再生网"/></a>

  <a href="http://www.miibeian.gov.cn/" target="_blank" title="ZZ91再生网"><img src="http://www.zz91.com/register/images/footerpic/gongshangbeian.gif" alt="ZZ91再生网"/></a>

<img src="http://www.zz91.com/register/images/footerpic/Icp.gif" alt="ZZ91再生网"/>

<a href="http://www.cyberpolice.cn/" target="_blank" title="ZZ91再生网"><img src="http://www.zz91.com/register/images/footerpic/wangjing.gif" alt="ZZ91再生网"/></a>

<a href="http://www.pingpinganan.gov.cn/" target="_blank" title="ZZ91再生网"><img src="http://www.zz91.com/register/images/footerpic/wangjing2.gif" alt="ZZ91再生网"/></a>

</p>

</div>



</body>

</html>

