@charset "utf-8";

body{background:#ffd728;margin:0 auto}
.top{height:516px;background:url(../images/top.jpg) no-repeat;background-position:center}

.tg_top {width:130px;vertical-align:bottom;display:block;margin: 0 auto;text-align:center;padding-top:376px}
/*.top a img:hover{box-shadow:#000 0px 0px 10px}*/

.content{position:relative}
.boxShdow{padding-top:30px;position:relative}
.item1{padding-top:100px}
.item_{margin-top:480px}
.item{margin-top:30px;overflow:hidden}
.i-title{width:288px;height:63px;background:url(../images/tj.jpg) no-repeat;position:absolute;left:300px;top:74px}
.i-title1{width:288px;height:63px;background:url(../images/gj.jpg) no-repeat;position:absolute;left:300px;top:4px}
.i-title2{width:288px;height:63px;background:url(../images/pt.jpg) no-repeat;position:absolute;left:300px;top:4px}
.i-title3{width:288px;height:63px;background:url(../images/xq.jpg) no-repeat;position:absolute;left:300px;top:4px}
.i-content{width:920px;padding:40px 20px 15px 20px;_padding-right:0px;overflow:hidden;background:#ffb31f}
.i-content1{width:920px;padding:40px 20px 30px 20px;_padding-right:0px;overflow:hidden;background:#ffb31f}
.i-content2{width:920px;_padding-right:0px;padding:47px 20px 0px 20px;overflow:hidden;background:#ffb31f}
.box{width:200px;border:5px solid #fff;float:left;display:inline;margin-right:8px;margin-bottom:12px;margin-top:14px;margin-left:10px;}
.box-img{width:200px;height:233px;background:#bebebe;display:table-cell;text-align:center;vertical-align:middle;position:relative}
.box-img img{vertical-align:middle}
.box-text{width:200px;height:20px;line-height:20px;overflow:hidden;text-align:center;left:0;bottom:10px;opacity:0.8;background-color:#DFDFDF}
.box-text a{color:#fe8300;font-weight:bold;font-size:14px}
.box-info{color:#1152b4;background:#fff;padding-top:6px}
.box-info-text{height:23px;line-height:23px;padding:0 5px;text-align:center;font-size:14px;color:#303030}
.i-block{width:920px}
.i-block1{width:920px}
.i-block2{width:920px}
.i-block3{height:235px;overflow:hidden}

.i-block3-box{width:890px;height:180px;margin:20px 10px 0px 15px;background:#fde9b5;float:left}
.i-block3-box-img{margin-top:60px;margin-right:10px;margin-left:20px;float:left}
.i-block3-box-img1{margin-top:10px;margin-right:30px;float:left}
.i-block3-box-img2{margin-top:60px;margin-right:10px;margin-left:30px;float:left}

.m2-item{width:400px;height:168px;overflow:hidden;margin-top:8px}
.m2-item-title{width:200px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline;white-space:nowrap}
.m2-item-title a{color:#333}
.m2-item-text{width:140px;height:24px;line-height:24px;color:#666;overflow:hidden;float:right;display:inline}
.m2-item-line{height:148px;border-right:1px dashed #444;float:left;display:inline;margin-left:40px;margin-top:15px}

/**翻页**/
.page{}
.page-one{width:65px;height:30px;line-height:30px;background:#fff;text-align:center;display:inline-block}
.page-list{display:inline-block}
.page-list a{display:inline-block;background:#fff;padding:6px 8px}
.page-list-click{color:#ff6700;background:#fff}
