@charset "utf-8";

body{background:#29479e;margin:0 auto}
.top{height:567px;background:url(../images/top.jpg) no-repeat;background-position:center;position:relative}
.top_tg{position:absolute;left:640px;top:445px;background:#fdbc00}
.top_tg a:hover img{border:inset 2px #843657;}
.item1{padding-top:517px;overflow:hidden}
.item_{margin-top:361px;overflow:hidden}
.item{overflow:hidden}
.i-title{width:960px;height:69px;background:url(../images/tj.jpg) no-repeat}
.i-title1{width:960px;height:69px;background:url(../images/gj.jpg) no-repeat}
.i-title2{width:960px;height:69px;background:url(../images/pt.jpg) no-repeat}
.i-title3{width:960px;height:69px;background:url(../images/xq.jpg) no-repeat}
.i-content{width:920px;padding:15px 20px 15px 20px;_padding-right:0px;background:#e8e8e8;overflow:hidden}
.i-content1{width:920px;padding:0 20px 0 20px;_padding-right:0px;background:#e8e8e8;overflow:hidden}
.i-content2{width:920px;padding:0 20px 20px 20px;_padding-right:0px;background:#e8e8e8;overflow:hidden}
.box{width:200px;border:6px solid #fff;float:left;display:inline;margin-right:8px;margin-bottom:12px;margin-top:14px;margin-left:10px;}
.box-img{width:200px;background:#e8e8e8; height:200px;}
.box-img img{}
.box-text{height:24px;line-height:24px;padding:0 5px;background:#fff;overflow:hidden;text-align:center}
.box-text a{color:#fe3d22;font-weight:bold;font-size:14px}
.box-info{wdith:200px;background:#fff}
.box-info-text{height:25px;line-height:25px;padding:0 5px;text-align:center;font-size:14px}
.i-block{width:920px}
.i-block1{width:920px}
.i-block2{width:920px}
.i-block3{width:916px;height:214px;overflow:hidden}

.i-block3-box{width:870px;height:180px;margin:20px;background:#d8d8d8;float:left}
.i-block3-box-img{margin-top:60px;margin-right:10px;margin-left:10px;float:left}
.i-block3-box-img1{margin-top:10px;margin-right:10px;float:left}
.i-block3-box-img2{margin-top:60px;margin-right:10px;margin-left:40px;float:left}

.m2-item{width:400px;height:168px;overflow:hidden;margin-top:15px}
.m2-item-title{width:200px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline;white-space:nowrap}
.m2-item-title a{color:#333}
.m2-item-text{width:140px;height:24px;line-height:24px;color:#666;overflow:hidden;float:right;display:inline}
.m2-div{width:900px;height:125px;background:url(../images/img2.jpg) no-repeat;position:relative}
.m2-div-button{position:absolute;top:40px;left:685px;cursor:pointer}
.m2-item-line{height:148px;border-right:1px dashed #444;float:left;display:inline;margin-left:40px;margin-top:15px}

/**翻页**/
.page{padding-bottom:20px}
.page-one{width:65px;height:30px;line-height:30px;border:1px solid #ccc;text-align:center;display:inline-block;background:#e9e9e9}
.page-list{display:inline-block}
.page-list a{display:inline-block;border:1px solid #ccc;padding:6px 8px;background:#fff}
.page-list-click{background:#e9e9e9}