body{background: #fff}
img{
	vertical-align: middle;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.band img{
	width: 100%
}
.tp-gzhe{
	background: #891b12;
	padding: 20px 10px 35px;
	color: #fff;
	box-shadow:0px 5px 10px -2px #000;
	position: relative;
	z-index: 1
}
.color-yew{
	color: #ffea00
}
.motitle{
	font-size: 16px;
	font-weight: bold;
}
.gz-p{
	font-size: 14px;
	margin-top: 5px;
}
.gz-p:last-child{
	padding-left: 16px;
}
.tp-all{
	background: #6f1912;
	padding: 0 10px;
	box-shadow:0px -8px 10px -5px #000 inset;
	padding-bottom: 20px;
	color: #fff
}
.tp-search{
	padding: 30px 0 20px;
}
.see-paim{
	color: #fff
}
.secipt{
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
	width: 100%;
	margin-top: 18px;
	border-radius: 3px;
	background: url(../images/fangdabg.png) no-repeat 97% center #fff;
	background-size: 11px;
}
.numpx{
	display: inline-block;
	width: 30px;
	height: 32px;
	background: url(../images/xuhaobg.png);
	background-size: 30px 32px;
	padding-top: 2px;
	padding-left: 5px;
	text-align: center;
	line-height: 32px;
	color: #62100a;
	font-weight: normal;
	vertical-align: middle;
	margin-right: 7px;
}
.firmname{
	font-size: 15px;
	font-weight: bold;
}
.firm-jj{
	margin-top: 7px;
	line-height: 19px;
	word-wrap:break-word;
}
.tou-info{
	margin-top: 20px;
}
.tp-list li{
	padding: 22px 0;
	border-top: 1px dashed #933e1f
}
.infonum{
	font-size: 14px;
	line-height: 24px;
}
.toubtn,.fsearch{
	display: inline-block;
	width: 79px;
	height: 24px;
	background:url(../images/toupiaoimg.png);
	background-size: 79px 24px;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color: #000;
	text-shadow: 0px 0px 3px #999;
}
.daoyu{
	background: #891b12;
	color: #fff;
	padding: 25px 10px;
	border-bottom: 1px dashed #933e1f
}
.dao-title{
	font-size: 16px;
    font-weight: bold;
}
.dao-p{
	text-indent: 2em;
	line-height: 22px;
	margin-top: 8px;
}
.fshi{
	background: #891b12;
	color: #fff;
	padding: 25px 10px;
}
.gzhu-nr{
	font-size: 13px;
	margin-top: 8px;
}
.imglist{
	margin: 10px 10px;
	background:#fff;
	border-radius: 5px;
	color: #010101;
}
.imgmain{
	width: 50%;
	text-align: center;
	padding: 20px 0;
}
.imglist p{
	margin-top: 20px;
}
.jiali{
	background:#6b160e;
	color: #fff;
	padding: 25px 10px;
}
.jiali-p{
	font-size: 13px;
	line-height: 24px;
	margin-top: 8px;
}
.footbt{
	text-align: center;
	height: 33px;
	line-height: 33px;
}