<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>送5000元首页广告，ZZ91样品中心火爆招商_废料专题_ZZ91再生网</title>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
	<body>
    	<div style="width:100%; background-color:#F9F7EC">
			<div style="width:933px;margin:0 auto">
				{%include 'html/comm/top.html'%}
    		</div>
		</div>
		<div class="top">
        	<a href="http://yang.zz91.com/nyzx.htm" class="bg btn1" target="_blank"></a>
            <a href="http://myrc.zz91.com/myproducts/office_post1.htm?isYP=1" class="bg btn2" target="_blank"></a>
        </div>
        <!--end top-->
        <div class="main">
        	<div class="box">
            	<div><img src="images/tle.jpg" /></div>
                <div class="tle">
                	<span>▪ ZZ91塑料再生颗粒商家</span>
                    <span>▪ 支持在线交易使用支付宝</span>
                    <span>▪ 商家有信誉认证</span>
                    <span>▪ 在线可交易商机数量大于1条</span>
                </div>
            </div>
            <!--end box-->
            <div class="box">
            	<div><img src="images/tle1.jpg" /></div>
                <div class="tle">
                	<ul>
                    	<li>▪ 商机信息：主图清晰无水印，详情描述专业、详细、真实，无竞争对手链接及水印。</li>
                        <li>▪ 商品价格：货真价实，确保促销价的竞争优势，不能在买家下单后不卖。</li>
                        <li>▪ 发货时间：需在商机中明确说明发货时间，并加以遵守。若不申明，表示默认在买家付款后3天内发货。</li>
                        <li>▪ 交易方式：直接在线支付。</li>
                    </ul>
                </div>
            </div>
            <!--end box-->
            <div class="box">
            	<div><img src="images/tle2.jpg" /></div>
                <div class="tle">
                	该活动以回馈优质买家，降低采购成本，提高采购效率为目标，并且支持在线交易。本次招商特别推出1元拿样专区以及积分兑换专区。
                </div>
            </div>
            <!--end box-->
            <div class="box">
            	<div><img src="images/tle3.jpg" /></div>
                <div class="tle">
                	<dl>
                    	<dt>（一）千元广告资源、排名、积分大放送</dt>
                        <dd>1、活动期间成功销售两笔以上订单，可获得1000元首页中部广告一个月。（仅限五个名额，先到先得）</dd>
                        <dd>2、商机置顶，成交一笔置顶一次。</dd>
                        <dd>3、根据销量提升排名，销量越高，排名越前。</dd>
                        <dd>4、买卖双方可根据交易量获得会员样品等级提升。（<a href="http://help.zz91.com/detail-96/" target="_blank">会员等级详情</a>）</dd>
                        <dd> 5、成功交易每笔可以获得5个积分，一分等于一块钱。</dd>
                        <dt>（二）淘汰规则</dt>
                        <dd>1、活动期间凡进行虚假交易者，将取消样品中心入驻资格并退出该活动；</dd>
                        <dd>2、活动期间被买家投诉或举报者，退出该活动；</dd>
                        <dd>3、凡不符合活动参与的任何要求者，退出该活动。</dd>
                    </dl>
                </div>
            </div>
            <!--end box-->
            <div class="box_">
            	<a href="http://yang.zz91.com/nyzx.htm" class="buyer" target="_blank">立即参加</a>
            	<a href="http://myrc.zz91.com/myproducts/office_post1.htm?isYP=1" class="seller" target="_blank">立即发布</a>
            </div>
        </div>
        <!--end main-->
         <div style="width:100%;">
			<div style="width:950px;margin:0 auto;text-align:center;">
				{% include 'html/comm/buttom.html' %}
    		</div>
		</div>
	</body>
</html>