select, input[type="text"] {
	padding: 0;
	font-size: 14px;
}
.aui-btn-info {
	background-color: #01ba2e;
	border: 1px solid #01ba2e;
}
.issue-type {
	color: #959595;
	padding-left: 0px;
	padding-right: 2px;
}
.issue-type:last-child {
	border: 0;
}
.issue-title {
	line-height: 35px;
	padding: 0 8px;
	line-height: 31px;
	position: relative;
}
.issue-img {
	display: block;
	width: 15px;
	height: 10px;
	float: right;
	background-image: url(../../image/imageslist.png);
	background-size: 320px;
	background-position: -160px -69px;
	margin-top: -5px;
	position: absolute;
	right: 0px;
	top: 50%;
	background-color: #fff;
}
.issue-img2 {
	right: 8px;
}
.cp-name input {
	margin: 0;
	border: 0;
}
.cp-name input {
	width: 100%;
	line-height: normal;
	height: 42px;
}
.cp-number {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-flex-flow: row;
	flex-flow: row;
}
.cp-number input {
	display: table-cell;
	border: 0;
	margin: 0;
	line-height: normal;
	height: 42px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.num-str {
	width: 70px;
	border-left: 1px solid #c8c7cc;
	position: relative;
	display: inline-block;
	height: 42px;
	padding: 0;
}
.slet {
	width: 100%;
	border: 0;
	display: block;
	margin: 0;
	padding: 0 5px;
	height: 42px;
	line-height: 42px;
	color:#999
}
.see-price{
	padding-left:0px;
}
.see-price .aui-radio-name{
	color：#999;
}
.advise {
	font-size: 12px;
	color: #959595;
	line-height: 18px;
	padding: 0 10px;
}
.describe {
	padding: 5px 0px;
	position: relative;
}
.describe textarea {
	width: 100%;
	min-height: 79px;
	border: none;
}
.handle-add {
	border: 1px dashed #c8c7cc;
	width: 80px;
	height: 80px;
	text-align: center;
	padding-top: 20px;
	background: #f2f2f2;
	float: left;
	margin: 0 15px 20px 0;
}
.img-kuang {
	position: relative;
	margin: 0 15px 20px 0;
	float: left;
	border: 1px dashed #c8c7cc;
	width: 80px;
	height: 80px;
}
.aui-icon-move {
	text-align: center;
	line-height: 20px;
	color: #fff
}
.delt-img {
	position: absolute;
	height: 20px;
	width: 20px;
	left: -10px;
	top: -10px;
	background: red;
	border-radius: 12px;
	box-shadow: 0px 0px 2px red;
}
.handle-add .aui-icon-add {
	font-size: 43px;
}
