<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
</head>
<body>
<div id="overlay"></div>

<form class="form-inline definewidth m20">
<a class="btn btn-success" href="huzhu_addartical.html">添加文章</a>&nbsp;&nbsp;
标题 <input type="text" name="ntitle" value="{%if ntitle%}{{ntitle}}{%endif%}" style="width:180px">&nbsp;
<select name="typeid" style="width:150px">
{%if typeid%}<option value="{{typeid}}">{{typename}}</option>{%endif%}
    <option value="">请选择栏目...</option>
    {%for tp in typelist%}
    <option value="{{tp.id}}">{{tp.typename}}({{tp.id}})</option>
    {%endfor%}
</select>
 <input class="btn btn-success" type="submit" value="查询">
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>ID</th>
        <th>日期</th>
        <th>栏目</th>
        <th>标题</th>
        <th>栏目</th>
        <th>操作</th>
    </tr>
    </thead>
    {%for l in listall%}
	<tr>
	<td>{{l.id}}</td>
	<td>{{l.gmt_created}}</td>
	<td>{{l.typename}}({{l.typeid}})</td>
	<td><a href="huzhu_detail.html?artid={{l.id}}" target="_blank">{{l.title}}</a></td>
	<td>{{l.typeid}}</td>
	<td>
<a href="huzhu_updateartical.html?artid={{l.id}}" title="编辑"><img src="123/imgs/gtk-edit.png"></a>&nbsp;&nbsp;
<a href="huzhu_delartical.html?artid={{l.id}}" onClick="return confirm('是否将此信息删除?')" title="删除"><img src="123/imgs/b_drop.png"></a>
	</td>
	</tr>
	{%endfor%}
</table>
<div class="inline pull-right page">
        共{{listcount}} 条记录 {{page}}/{{page_listcount}} 页  &nbsp;&nbsp;
{% if firstpage %}
<a href="?page={{prvpage}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}">上一页</a>{%else%}<font color="gray">上一页</font>{%endif%}
     {%for p in page_range%}
{%if p.nowpage%}
<span class='current'>{{p.number}}</span>&nbsp;
{%else%}
<a href="?page={{p.number}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}">{{p.number}}&nbsp;</a>
{%endif%}
	{%endfor%}
{% if lastpage%}
<a href="?page={{nextpage}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}">下一页</a>{%else%}<font color="gray">下一页</font>{%endif%}&nbsp;&nbsp;&nbsp;
<input type="button" value="跳到" onClick=turnpage()> <span style="font-size:15px">第 <input type="text" id="page1" style="width:28px" value="{{page}}"> /{{page_listcount}} 页  </span><input type="submit" style="display:none"> &nbsp;&nbsp;
<a href='?page=1{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}' >首页</a><a href='?page={{page_listcount}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}' >尾页</a> 
</div>
</body>
<script>
function turnpage(){
	var page1=document.getElementById("page1").value;
	if (page1<1)
	{
	page1=1;
	}
	window.location.href='?page='+page1+'{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}';
}
</script>
</html>