@charset "utf-8";

/************************************************************
链接
*************************************************************/
a{color: #1169c2;}
a:hover{color:#f0491c;}

.prointro-list a,
.proclass-list a,
.com-photollist a,
.friendlink-list a,
.contact-way a,
.contact-way1 a,
.card-info a{color: #333;}

.prointro-conul a{color: #666;}

/************************************************************
文本
*************************************************************/
.h-info em{color: #fd7522;}
.zhaopin-num span{color: #d31014;}

/* 强化 */
.call-number,
.card-imgdetail small{color:#ff0307;}

/* 弱化 */
.com-newslist strong,
.online-collect span,
.hr-cate em,
.newdeta-title p,
.com-photollist{color: #999;}

/* 顶部 */
.com-pro{color: #666;}

/************************************************************
导航
*************************************************************/
.shop-nav{background:#333;}
.shop-nav a{ color:#fff;}
.shop-nav a:hover{background-color: #484d51;}
.shop-nav .current{background:#cb0004;}
.shop-nav .current a:hover{background: none;}

/************************************************************
版块
*************************************************************/
.m-header{background: url(../images/hbg.jpg) repeat-x;}
.m-header h3{border-bottom-color:#d9d9d9;}
