@charset "utf-8";

body{background:#f8de87;margin:0 auto}
.top{height:447px;background:url(../images/top.jpg) no-repeat;background-position:center}

.tg_top {width:255px;vertical-align:bottom;display:block;margin: 0 auto;text-align:center;padding-top:332px}
/*.top a img:hover{box-shadow:#000 0px 0px 10px}*/


.nav{height:51px;background:url(../images/nav_bg.jpg) repeat-x;margin-top:20px}
.nav_tab{width:960px;margin:0 auto;text-align:center}
.nav_tab tr td{line-height:42px;color:#fff;font-size:24px;font-weight:bold;font-family:"微软雅黑";cursor:pointer}
.nav_tab tr td:hover{color:#ffde43}

.content{position:relative;width:960px;margin:auto}
.boxShdow{padding-top:30px;position:relative;width:960px;margin:auto}
.item1{padding-top:100px}
.item_{margin-top:540px}
.item{margin-top:30px;overflow:hidden}
.i-title{width:983px;height:88px;background:url(../images/tj.jpg) no-repeat;position:absolute;left:-23px;top:40px}
.i-title1{width:983px;height:88px;background:url(../images/gj.jpg) no-repeat;position:absolute;left:-23px;top:0px}
.i-title2{width:983px;height:88px;background:url(../images/pt.jpg) no-repeat;position:absolute;left:-23px;top:0px}
.i-title3{width:983px;height:88px;background:url(../images/xq.jpg) no-repeat;position:absolute;left:-23px;top:0px}
.i-content{width:920px;padding:20px 20px 15px 20px;_padding-right:0px;overflow:hidden;background:#fff}
.i-content1{width:920px;padding:50px 20px 30px 20px;_padding-right:0px;overflow:hidden;background:#fff}
.i-content2{width:920px;_padding-right:0px;padding:60px 20px 0px 20px;overflow:hidden;background:#fff}
.box{width:200px;border:5px solid #ffcc9a;float:left;display:inline;margin-right:8px;margin-bottom:12px;margin-top:14px;margin-left:10px;}
.box-img{width:200px;height:233px;background:#bebebe;display:table-cell;text-align:center;vertical-align:middle;position:relative}
.box-img img{vertical-align:middle}
.box-text{width:200px;height:20px;line-height:20px;overflow:hidden;text-align:center;opacity:0.8;background-color:#DFDFDF}
.box-text a{color:#f53746;font-weight:bold;font-size:14px}
.box-info{color:#1152b4;background:#ffcc9a;padding-top:6px}
.box-info-text{height:23px;line-height:23px;padding:0 5px;text-align:center;font-size:14px;color:#303030}
.i-block{width:920px}
.i-block1{width:920px}
.i-block2{width:920px}
.i-block3{height:240px;overflow:hidden}

.i-block3-box{width:860px;margin:5px 0px 0px 10px;float:left}
.i-block3-box-img{margin-top:30px;margin-right:10px;float:left}
.i-block3-box-img1{margin-top:10px;margin-right:30px;float:left}
.i-block3-box-img2{margin-top:20px;margin-left:15px;float:left}

.m2-item{width:400px;height:168px;overflow:hidden;margin-top:15px}
.m2-item-title{width:200px;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;display:inline;white-space:nowrap}
.m2-item-title a{color:#333}
.m2-item-text{width:140px;height:24px;line-height:24px;color:#666;overflow:hidden;float:right;display:inline}
.m2-item-line{height:148px;border-right:2px dashed #da4875;float:left;display:inline;margin-left:30px;margin-top:15px}

/**翻页**/
.page{}
.page-one{width:65px;height:30px;line-height:30px;background:#000;text-align:center;display:inline-block}
.page-one a{color:#fff;}
.page-list{display:inline-block}
.page-list-click{background:#ffcc9a!important;color:#5d0201!important;font-weight:bold}
.page-list a{display:inline-block;background:#000;color:#fff;padding:6px 8px}

