<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title>废纸产业发展论坛-关于论坛</title>
		<link rel="stylesheet" type="text/css" href="css/base-min.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o98y3fawu30oogvi.css" />
	</head>
	<body>
		<script type="text/javascript" src="js/viewport.js"></script>
		
		<div class="zhaoshang-warp">
			<div style="height: 2.4rem;">
				<div class="nav-top">
					<div class="nav-main">
						<a onClick="javascript :history.back(-1)" class="nav-hr"></a>关于论坛<a href="chbm.html" class="nav-ch"></a>
					</div>
				</div>
			</div>
			
			<div class="about">
				<div class="about-tle">
					<p class="about-name">2017废纸产业发展论坛暨废纸供需对接会</p>
					<div class="about-dz">2017年8月23日<br />杭州·富阳东方茂开元名都大酒店</div>
				</div>
				<div class="about-bj">
					<div class="about-bj-tle">论坛背景</div>
					<p>
						作为全球最大的纸张消费国和生产国，中国的废纸回收利用面临着进出口不平衡的挑战。2015年中国使用废纸量大约有5000多万吨，大约占整个使用原料的65%。其中进口废纸大约有2800万吨。目前中国特种纸需求增长速度大概是全球的两倍。
					</p>
					<p>
						但是近年来，造纸行业同质化竞争日趋激烈，大多造纸企业的产品被贴上“大路货”、“大众脸”的标签，同质化产品难以让人印象深刻，而具有独特风格的产品更能吸引消费者的眼球。
					</p>
					<p>
						ZZ91再生网成立于2006年，作为国内领先再生资源交易平台，致力于为客户提供再生塑料撮合交易服务的同时，助推再生资源行业健康发展。由ZZ91再生网主办的“新趋势•链未来”废纸产业发展论坛将于2017年8月23日在杭州富阳东方茂开元名都大酒店举行。
					</p>
					<p>
						本次论坛主旨为携手相关部门共同促进国内废纸回收行业规范化和规模化发展；促进回收企业与造纸企业间形成供应同盟，保障稳定供求渠道；共同探讨国内废纸产业链新态势，协同行业发展。
					</p>
				</div>
				<div class="about-main">
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="iconfont icon-zhuti"></i>会议主题
						</div>
						<p>
							“新趋势•链未来”
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="iconfont icon-renqun"></i>会议规模
						</div>
						<p>
							200人（废纸企业负责人、造纸企业负责人）
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="icon icon-time"></i>会议时间
						</div>
						<p>
							2017年8月23日 （周三）
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="icon icon-didian"></i>会议地点
						</div>
						<p>
							杭州·富阳东方茂开元名都酒店<span>（杭州富阳区富春街道金桥北路61号）</span>
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="icon icon-zhidao"></i>指导单位
						</div>
						<p>
							杭州市商务委
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="icon icon-zhuban"></i>主办单位
						</div>
						<p>
							ZZ91再生网、淘再生、杭州市再生物资行业协会
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="iconfont icon-10zhichikuahailiangshujuyuan"></i>支持单位
						</div>
						<p>
							其他地区再生物资行业协会
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="iconfont icon-meiti"></i>媒体支持
						</div>
						<p>
							中国新闻网、杭州电视台、浙江在线、杭州网、新浪浙江、爆米花视频
						</p>
					</div>
					<div class="about-mainlist">
						<div class="about-maintle">
							<i class="icon icon-fanwei"></i>参会范围
						</div>
						<p>
							新书，旧书，牛皮纸，书芯，白纸，装订纸边，黄板纸，灰卡，新报纸，旧报纸，新闻纸，铜版纸，口杯纸、无菌包装，书页，打包机，造纸厂，废纸进出口相关服务企业
						</p>
					</div>
				</div>
			</div>
			
			<div style="height: 2.725rem;">
				<div class="foot-nav">
					<a href="index.html" class="foot-a foot-index">
						<i class="iconfont icon-shouye-shouye"></i>
						<p>首页</p>
					</a>
					<a href="xinxi.html" class="foot-a foot-this">
						<i class="foot-icon-xx"></i>
						<p>信息</p>
					</a>
					<a href="bangdan.html" class="foot-a">
						<i class="foot-icon-bd"></i>
						<p class="foot-p">TOP20榜单</p>
					</a>
					<a href="zhaoshang.html" class="foot-a">
						<i class="foot-icon-zs"></i>
						<p>招商</p>
					</a>
					<a href="fuwu.html" class="foot-a">
						<i class="foot-icon-fw"></i>
						<p>服务</p>
					</a>
				</div>
			</div>
		</div>
		<div style="display:none">
		    <script>
		        var _hmt = _hmt || [];
		        (function() {
		            var hm = document.createElement("script");
		            hm.src = "//hm.baidu.com/hm.js?c120670c814d08922e7048797e6472c1";
		            var s = document.getElementsByTagName("script")[0];
		            s.parentNode.insertBefore(hm, s);
		        })();
		    </script>
		    <!--baidu analysis-->
		    <script>
		        var _hmt = _hmt || [];
		        
		        (function() {
		            var hm = document.createElement("script");
		            hm.src = "//hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
		            var s = document.getElementsByTagName("script")[0];
		            s.parentNode.insertBefore(hm, s);
		        })();
		    </script>
		</div>
	</body>
</html>
