<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title>废纸产业发展论坛-招商</title>
		<link rel="stylesheet" type="text/css" href="css/base-min.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_pxwg2gxpsu8wu3di.css" />
	</head>
	<body>
		<script type="text/javascript" src="js/viewport.js"></script>
		
		<div class="zhaoshang-warp">
			<div style="height: 2.4rem;">
				<div class="nav-top">
					<div class="nav-main">
						<a onClick="javascript :history.back(-1)" class="nav-hr"></a>论坛招商<a href="chbm.html" class="nav-ch"></a>
					</div>
				</div>
			</div>
			
			<div class="list-box">
				<ul class="list-ul">
					<li class="list-li">
						<a href="zslist1.html" class="list-a">
							<img src="images/zsimg1.png" class="list-img" />
							<p>易拉宝广告</p>
						</a>
					</li>
					<li class="list-li">
						<a href="zslist2.html" class="list-a">
							<img src="images/zsimg2.png" class="list-img" />
							<p>展区品牌广告</p>
						</a>
					</li>
					<li class="list-li">
						<a href="zslist3.html" class="list-a">
							<img src="images/zsimg3.png" class="list-img" />
							<p>LED图片广告轮播</p>
						</a>
					</li>
					<li class="list-li">
						<a href="zslist4.html" class="list-a">
							<img src="images/zsimg3.png" class="list-img" />
							<p>LED视频广告轮播</p>
						</a>
					</li>
					<li class="list-li">
						<a href="zslist6.html" class="list-a">
							<img src="images/zsimg4.png" class="list-img" />
							<p>供求信息墙广告</p>
						</a>
					</li>
					<li class="list-li">
						<a href="zslist7.html" class="list-a">
							<img src="images/zsimg5.png" class="list-img" />
							<p>供求信息表广告</p>
						</a>
					</li>
					<li class="list-li">
						<a href="zslist5.html" class="list-a">
							<img src="images/zsimg6.png" class="list-img" />
							<p class="list-p">LED视频广告拍摄制作<br />+轮播招商</p>
						</a>
					</li>
					<!--<li class="list-li">
						<a href="" class="list-a">
							<div class="zhaoshang-btn">
								<img src="images/zssq-btn.png" />
							</div>
						</a>
					</li>-->
				</ul>
			</div>
			
			<div style="height: 2.725rem;">
				<div class="foot-nav">
					<a href="index.html" class="foot-a foot-index">
						<i class="iconfont icon-shouye-shouye"></i>
						<p>首页</p>
					</a>
					<a href="xinxi.html" class="foot-a">
						<i class="foot-icon-xx"></i>
						<p>信息</p>
					</a>
					<a href="bangdan.html" class="foot-a">
						<i class="foot-icon-bd"></i>
						<p class="foot-p">TOP20榜单</p>
					</a>
					<a href="zhaoshang.html" class="foot-a foot-this">
						<i class="foot-icon-zs"></i>
						<p>招商</p>
					</a>
					<a href="fuwu.html" class="foot-a">
						<i class="foot-icon-fw"></i>
						<p>服务</p>
					</a>
				</div>
			</div>
		</div>
		<div style="display:none">
		    <script>
		        var _hmt = _hmt || [];
		        (function() {
		            var hm = document.createElement("script");
		            hm.src = "//hm.baidu.com/hm.js?c120670c814d08922e7048797e6472c1";
		            var s = document.getElementsByTagName("script")[0];
		            s.parentNode.insertBefore(hm, s);
		        })();
		    </script>
		    <!--baidu analysis-->
		    <script>
		        var _hmt = _hmt || [];
		        
		        (function() {
		            var hm = document.createElement("script");
		            hm.src = "//hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
		            var s = document.getElementsByTagName("script")[0];
		            s.parentNode.insertBefore(hm, s);
		        })();
		    </script>
		</div>
	</body>
</html>
