<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>供求列表</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="css/successfully.css"/>

<script src="http://img0.huanbao.com/lib/jquery/jquery-1.8.0.min.js"></script>	
<script src="js/successfully.js"></script>
</head>

<body>

<div class="successfully">
	<div class="sf-title">
    	<div class="title-left">
    		欢迎加入中国环保网！
        	<span class="title-left-register">免费注册：</span>
        </div>
        <div class="title-right">
        	<span class="title-right-info">填写有效注册信息</span>
        	<span class="white">发布成功</span>
        </div>
    </div>
    <!--end successfully-title-->
    <div class="sf-img">
    	<img src="images/successfully-img2.jpg" />
    </div>
    <div class="sf-content">
    	<div class="content-info">
        	<div class="content-info-top">亲爱的<span class="content-info-username">ceshiyic</span> 用户，恭喜您已成功注册环保网！</div>
			继续<a href="http://www.huanbao.com/myesite/company/updateCompany.htm">完善信息</a>，全面展示，提升公司形象，赢得更多商机。
        </div>
        <div style="clear:both"></div>
        <div class="content-nav">
        	<ul id="content-nav">
            	<li><a href="http://www.huanbao.com/myesite/index.htm">进入生意管家</a></li>
                <li><a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm">发布供应信息</a></li>
                <li><a href="http://www.huanbao.com/myesite/buy/publish_StpOne.htm">发布求购信息</a></li>
                <li><a href="http://http://www.huanbao.com/">查找产品信息</a></li>
            </ul>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<!--end main-->


</body>
</html>
