.main_box .aqsiq_nav {
	background-image: url(../images/nav_bg.jpg);
	height: 36px;
	width: 958px;
}
.aqsiq_nav li{
	float: left;
	display:block;
	background-image: url(../images/nav_off.jpg);
	width: 114px;
	height: 24px;
	margin-right: 5px;
	_margin-right:2px;
	
	}
.aqsiq_nav a {	
	padding-top: 12px;
	width: 114px;
	height: 24px;
	font-size: 14px;
	color: #360;
	font-weight: bold;
	float: left;
	text-align: center;
	
}

.nav_on
{
	background-image: url(../images/nav_on.jpg);
}
.main_box .aqsiq_left {
	float: left;
	width: 725px;
}
.main_box .aqsiq_right {
	float: right;
	width: 220px;
}
.main_box .aqsiq_left .midad {
	height: 138px;
	width: 470px;
	float: left;
}
.main_box .aqsiq_left .midad_right {
	width: 245px;
	float: right;
	overflow:hidden;
	height:130px;
}
.main_box .aqsiq_left .midad_right ul li {
	line-height: 22px;
	margin-right: 5px;
	margin-left: 5px;
}
.main_box .aqsiq_left .aqisq_lefmain .aqsiq_mainbox .aqsiq_more_page {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.main_box .aqsiq_left .aqisq_lefmain {
	padding-top: 10px;
}
.main_box .aqsiq_right .main_right_box {
	padding-bottom: 10px;
}
.main_box .aqsiq_left .aqisq_lefmain .aqisq_lefmain_title {
	background-image: url(../images/moretitle.jpg);
	width: 725px;
	line-height: 25px;
}
.main_box .aqsiq_left .aqisq_lefmain .aqisq_lefmain_title h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 31px;
	padding-left: 15px;
}
.main_box .aqsiq_left .aqisq_lefmain .aqsiq_mainbox .aqsiq_morelist ul li {
	line-height: 30px;
	padding-left: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	background-image: url(../images/dot.jpg);
	background-repeat: no-repeat;
	background-position: 5px;
}


.main_box .aqsiq_left .aqisq_lefmain .aqsiq_mainbox {
	padding-top: 10px;
	border: 1px solid #9CD352;
}
.main_box .aqsiq_left .aqisq_lefmain .aqsiq_mainbox .aqsiq_boxlist {
	width: 350px;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	height: 180px;
}
.main_box .aqsiq_left .aqisq_lefmain .aqsiq_mainbox .aqsiq_boxlist h3 {
	background-color: #f2f2f2;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
}
.main_box .aqsiq_left .aqisq_lefmain .aqsiq_mainbox .aqsiq_boxlist ul {
	margin: 5px;
	line-height: 28px;
}
.main_box .aqsiq_right .main_right_ad {
	text-align: center;
	margin-bottom: 10px;
}
.main_box .aqsiq_right .main_right_box .main_right_title {
	background-image: url(../images/title_bg.jpg);
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	padding-left: 10px;
	border: 1px solid #360;
	line-height: 25px;
	color: #FFF;
}
.main_box .aqsiq_right .main_right_box .main_right_text {
	border: 1px solid #CCC;
	padding: 4px;
	line-height: 22px;
}
.main_box .aqsiq_right .main_right_box .main_right_text ul {
	font-size: 12px;
	line-height: 22px;
}

.fbbutton {
	background-color: #E1F2CC;
	padding: 1px;
	width: 99px;
	border: 1px solid #87cb31;
	margin-right: 2px;
	margin-bottom: 4px;
	text-align: center;
}
.fbbutton1 {
	background-color: #E1F2CC;
	padding: 1px;
	width: 99px;
	border: 1px solid #87cb31;
	margin-bottom: 4px;
	text-align: center;
}
.main_box .hbpw_search {
	height: 30px;
	background-image: url(../images/menu_bottom.jpg);
	border: 1px solid #D7D7D7;
	line-height: 30px;
	text-align: center;
}
.main_box .hbpw_main {
	line-height: 25px;
	padding: 5px;
	border: 2px solid #EEE;
}
.main_box .hbpw_main .hbpw_title {
	font-size: 16px;
	font-weight: bold;
	line-height: 35px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CC0;
}
.aboutcontent {
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	background-image: url(../images/2008314124349155_2.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 30px;
}
.aboutcontent .about_title {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border: 1px double #CCC;
	background-color: #EEFFE6;
}
.aboutcontent .title2 {
	font-size: 16px;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #9C0;
	margin-bottom: 20px;
	color: #360;
}
.aboutcontent .title3 {
	font-weight: bold;
}