@charset "utf-8";
*{margin:0;padding:0;}

/**index**/
.cl-box_{width:610px;height:909px;border:1px solid #ccc;overflow:hidden;background:url(../images/bg.jpg) no-repeat}
.block_{width:335px;border:1px solid #37b647;padding:1px;margin-bottom:5px}
.m-item{margin-bottom:10px}
.b-mas{padding:35px 10px;overflow:hidden;position:relative}
.mi-left{width:100px;height:96px;line-height:96px;font-family:"微软雅黑";text-align:center;font-size:16px;float:left}
.mi-right{width:490px;line-height:96px;font-family:"微软雅黑";font-size:16px;background:#FFF;text-align:center;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;float:right}
.mi-right a{text-decoration:underline}
.mi-right span{font-weight:bold}
.mi-left_{width:100px;height:335px;line-height:335px;font-family:"微软雅黑";text-align:center;font-size:16px;float:left}
.mi-right_{width:477px;font-family:"微软雅黑";font-size:16px;background:#FFF;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:25px 6px 5px 6px;float:right}
.mi-right_ a{text-decoration:underline}
.mi-right_ span{font-weight:bold}
.ri-left{width:120px;height:50px;background:#2fb145;text-align:center;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:10px 5px;margin:35px auto;float:left}
.ri-right{margin-left:10px;float:left}
.r-li{margin-bottom:25px}
.r-li_{margin-bottom:10px}
.bl-tle{height:40px;line-height:40px;text-align:center;background:#2bae3f;color:#fff;font-family:"微软雅黑";font-size:28px}
.bl-item{padding:8px 10px 0 10px}
.b-li{line-height:24px;overflow:hidden}
.b-li a{color:#505050;font-size:13px;}
.b-li_{line-height:24px;text-align:right;color:#505050;font-size:13px;overflow:hidden}
.s1{position:absolute;left:144px;top:120px}
.s2{position:absolute;right:40px;top:120px}
.s3{position:absolute;left:144px;bottom:341px}
.s4{position:absolute;right:40px;bottom:341px}
.s5{position:absolute;left:144px;bottom:235px}
.s6{position:absolute;right:40px;bottom:235px}
.s7{position:absolute;left:144px;bottom:129px}
.s8{position:absolute;right:40px;bottom:129px}


/**list**/
.content{color:black;width:958px;margin:15px auto}
.cl-box a{text-decoration:underline;color:#000}
.c-left{float:left}
.c-right{float:right; line-height:22px;}
.dh{font-size:13px}
.cl-box{width:610px;border:1px solid #37b647;padding:1px;overflow:hidden}
.b-tle{height:42px;line-height:42px;text-align:center;background:#2bae3f;color:#fff;font-family:"微软雅黑";font-size:32px}
.b-item{width:570px;color:#505050;margin:15px auto}
.b-item ul li{line-height:24px;font-size:14px;margin-bottom:10px;overflow:hidden}
.i-txt{float:left}
.i-date{float:right}


.block{width:330px;border:1px solid #37b647;padding:1px;margin-bottom:14px}
.cb-tle{height:42px;line-height:42px;background:#2bae3f;padding:0 15px}
.t1{color:#fff;font-family:"微软雅黑";font-size:28px;float:left}
.t2 a{color:#fff;font-size:14px;float:right}
.cb-item{width:300px;color:#505050;margin:15px auto}
.i-left{margin-right:5px;float:left}
.i-right{margin:10px;float:left; line-height:22px;}
.i-right a{color:#505050;font-size:14px}

.cb-item ul li{color:#fff;font-size:14px;margin-bottom:10px;overflow:hidden}

/**翻页**/
.page{width:450px;margin:10px auto 30px auto}
.page-one{width:65px;height:30px;line-height:30px;background:#f0f0f0;text-align:center;display:inline-block}
.page-list{display:inline-block}
.page-list a{display:inline-block;background:#f0f0f0;padding:6px 8px}
.page-list-click {background:#009944;color:#2bae3f}

/**details**/
.cb-item_{width:300px;height:243px;margin:7px auto}
.ci-box{float:left}
.ci-box_{width:147px;font-size:13px;margin-left:15px;float:left}
.b-txt{font-size:16px;font-weight:bold;text-align:center}
.b-img{border:1px solid #ccc}
.b-img img{width:121px;height:87px}
.ci-box_ ul li{line-height:22px}
.ci-box_ a{text-decoration:underline;color:#000}
.addr{color:#888888}
.yrz{color:#d72d00}
.year{color:#ff0000;font-weight:bold}
.ci-li{margin-bottom:10px}
.cb-ul{padding:25px;overflow:hidden}
.li-title{line-height:40px;font-family:"微软雅黑";font-size:20px;text-align:center}
.li-date{line-height:25px;text-align:center;border-bottom:1px dashed #000;padding-bottom:25px}
.li-txt{line-height:24px;padding-top:30px;font-size:14px}
.li-no{width:40px;height:30px;line-height:30px;background:#009944;border:1px solid #cbcbcb;text-align:center;float:left}
.li-page{padding:20px 230px}
.li-no a{color:#fff}
.li-no_{width:40px;height:30px;line-height:30px;border:1px solid #cbcbcb;text-align:center;float:right}
.li-pl{margin:5px 0 5px 0}
.li-pre{float:left}
.li-last{float:right}











