@charset "utf-8";
/* CSS Document */
/* 顶部 */
body{background-color:#900000}
.bg{margin:0 auto;background:url(../image/bg.png) repeat-x}
.bg .top{width:1040px;margin:0 auto;}
.bg .info{width:960px;margin:0 auto}
.bg .info .info_1{background:#FFF;width:960px;height:189px;}
.bg .info .info_2{background:#FFF;width:930px;height:110px;margin-top:10px;padding:10px 10px 0 20px}
.bg .info .info_3{background:#FFF;width:930px;height:140px;margin-top:10px;padding:10px 10px 0 20px}
.bg .info .info_4{background:#FFF;width:960px;height:320px;margin-top:10px}
.bg .info .info_2 p{line-height:24px;margin-top:5px;color:#7d0000}
.bg .info .info_2 p a{color:#7d0000;text-decoration:none}
.bg .info .info_3 p{line-height:24px;margin-top:5px;font-size:16px;font-family:"微软雅黑";color:#ff0000}
.img{position:relative;left:500px;}
.bg .info .info_4 p span{line-height:50px;color:#ff0000;font-family:"幼圆";font-size:18px;display:block}
.bg .info .info_4 p{margin:10px 0 0 200px}
.bg .info .info_4 p .submit{width:100px;position:absolute;left:800px;top:1000px;}
.bg .info .info_4 p .submit a{color:#7d0000;font-size:12px;text-decoration:none}





