<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="address=no" name="format-detection" />
	<meta name="apple-mobile-web-app-capable" content="no" />
	<link rel="apple-touch-icon-precomposed" href="http://img0.zz91.com/zz91/images/logo.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
	<meta name="apple-touch-fullscreen" content="YES">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
	<title>流量宝用户点击明细-zz91再生网</title>
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.2.0.css"/>
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.css"/>
	<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/common.css"/>
	<script type="text/javascript" src="http://static.m.zz91.com/aui/js/jquery.js"></script>
	<script type="text/javascript" src="http://static.m.zz91.com/aui/js/comm.js" ></script>
	<script type="text/javascript" src="http://static.m.zz91.com/layer/layer.js"></script>
    <style>
    	body{
    		line-height:30px;
    	}
    	.aui-bar{
    		position: fixed;
    		z-index: 9999;
    		width: 100%;
    		top: 0;
    		left: 0;
    	}
    	.aui-content{
    		margin-top: 90px;
    	}
    	.lookcom{
    		color: #006600;
    		float:right;
    		margin-left:20px;
    	}
    </style>
</head>
<body>
	<header class="aui-bar aui-bar-nav aui-bar-primary">
    	<a class="aui-pull-left" href="/qianbao/jingjia_index.html">
	        <span class="aui-iconfont aui-icon-left"></span>
	    </a>
	    <div class="aui-title">用户点击明细</div>
	    <a class="aui-pull-right settings" href="/myrc_index/">
	        <span class="aui-iconfont aui-icon-myfill"></span>
	    </a>
	    <div class="aui-tab">
	        <ul class="aui-tab-nav" id="demo1">
	            <li class="active">用户点击明细</li>
	            <li  onclick="window.location='/qianbao/jingjia_keywords_paylist.html'">展现量明细</li>
	        </ul>
	    </div>
	</header>
	
	{%if listall%}
	<div class="aui-content">
		<ul class="aui-list-view">
			{%for d in listall%}
			<li class="aui-list-view-cell aui-img">
				<div class="aui-img-body">
					<div class="aui-pull-left">
						<span>拨打用户：<font color="blue">{{d.user_person}}</font>  <span class="lookcom" style="{{d.cdisp}}" company_id="{{d.user_company_id}}">查看</span></span>
						<div style="clear: both"></div>
						<p>
							 地区：{{d.area}}  <br />点击次数：{{d.clickcount}} <br />消费：￥{{d.feenumber}}
						</p>
						<p>
							时间：{{d.gmt_created}}
						</p>
					</div>
				</div>
			</li>
			{%endfor%}
		</ul>
	</div>
	<div class="page">
		<ul>
			{% if firstpage %}
			<li class="page_prev">
				<a href="?{{searchurl}}&page={{prvpage}}">上一页</a>
			</li>
			{%else%}
			<li class="page_prev" style="color:gray">上一页</li>
			{% endif %}
			<li class="page_no">
				<select onChange="window.location='?{{searchurl}}&page='+this.value">
					<option>第{{page}}页</option>
					<option value="1">首页</option>
					{%for p in page_range%}
					<option value="{{p.number}}">第{{p.number}}页</option>
					{%endfor%}
					<option value="{{lastpage}}">末页</option>
				</select> /{{page_listcount}}页
			</li>
			{% if lastpage%}
			<li class="page_next">
				<a href="?{{searchurl}}&page={{nextpage}}">下一页</a>
			</li>
			{%else%}
			<li class="page_prev" style="color:gray">下一页</li>
			{% endif %}
		</ul>
	</div>
	{%else%}
	<div class="nodata">暂无数据！</div>
	{%endif%}
	{%include 'aui/bottom.html'%}
</body>
</html>