@charset "utf-8";
/* CSS Document */
body{background:#f0f0f0}
.bbg{border:solid 1px #bbbbbb;background:#fff}
.agren{color:#068611}
.topbar{background:url(../img/topBarbg.gif) repeat-x;height:28px;line-height:28px;margin: 0 auto;}
.topbar a{color:#333}
.topbar a:hover{color:#C60}
.topbarblock{width: 951px;margin: 0 auto;}
.footer{
	border-top:2px solid #000;
	width:951px;
	margin:0 auto;
	line-height:24px;
	padding-top:23px;
	margin-top:16px;
	text-align:center;
	font-size:12px;
	padding-bottom:37px;
	color:#000;
}
.footer a{color:#000;text-decoration:none;}
.footer a:hover{color:#000} 
.wdoc{width:950px;margin:0px auto}
.whder{margin:16px auto;border:solid 1px #CCC}
.whder img{vertical-align:bottom}
.wct{margin-top:20px}
.wct h3{height:45px;padding-left:80px;font:normal 24px/45px '宋体';border-bottom:solid 1px #bbbbbb }
.wct p,.wcm p{padding:0px 12px 0px 30px;_height:1%;font:normal 13px/22px '宋体'}
.wct p a,.wcm p a{float:right;margin-right:8px}
.wct p a:hover,.wcm p a:hover{color:#0C6}
.wcm{margin-top:12px}
.wcm h3{padding-left:80px;height:45px;font:normal 24px/45px '宋体 ';background:url(../img/wd03.gif) no-repeat top 20px;border-bottom:solid 1px #bbbbbb}
.wcbl{margin-top:12px;width:454px;float:left}
.wcblt{border-bottom:solid 1px #bbbbbb;position:relative;height:80px}
.wcbabst{position:absolute;float:left;top:20px;left:-18px}
.wcbabr{float:right;margin-top:20px}
.wcbabr span{display:block;}
a:hover{color:#0C6}
.wcblthd{font:bold 30px/30px '宋体'}
.wcblthc{background:#000;color:#ffdd00;margin-right:40px;font:normal 18px/22px '宋体'}
.wcbl ul li{border:solid 1px #ccc;float:left;margin:8px 18px;_margin:8px 9px}
.wcbl ul li img{vertical-align:middle;padding:0px}
.wnewbar{background:#9e0000;height:20px;margin:8px 0px;width:152px;padding:0px 8px}
.wnewbar a{display:block;font:bold 14px/22px '宋体';color:#fff;background:url(../img/wsign.gif) no-repeat right;}
.wcbr{margin-top:12px;width:454px;float:right}
.wcbr ul li{border-bottom:dashed 1px #ccc}
.wcbrimg,.wcbrcts{float:left}
.wcbrimg{margin:12px}
.wcbrimg img{border:solid 1px #ccc;padding:2px;width:87px;height:66px;overflow:hidden}
.wcbrcts{padding:8px;width:300px}
.wcbrcts p{font:normal 12px/20px '宋体'}
.wcbna{float:right}
.wbotm{margin-top:12px;position:relative;height:80px}
.wbtml{position:absolute;left:-19px;top:16px}
.wbtmr{position:absolute;left:80px;top:16px}

.clock
{
	height: 36px;
	width: 179px;
	border: 0px solid #F60;
	background-color: #C8000E;
	margin-left: 0px;
	margin-right: 0px;

}
.clock .img
{
	padding:0px;
	margin:0px;
	float:left;
	width:50px;
}
.clock ul,.clock li
{
	padding:0px;
	margin:0px;
}
.clock .daojishi
{
	float:left;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	width: 15px;
	border:none;
	margin: 0px;
	padding: 2px;
	text-align:center;
}
#timetext
{
	float:left;
	width:10px;
	color:#FC9;
	font-weight:bold;
	line-height:30px;
	padding:0px;
	margin:0px;
}
