<div class="s_shead">
	<ul  class="s_nav">
		<li><a href="/s/{{keywords_hex}}/" class="active">{{kname}}</a></li>
		<li><a href="/a/{{keywords_hex}}-1/">行情</a></li>
		<li><a href="/b/{{keywords_hex}}-1/">问答</a></li>
		<li><a href="/s/{{keywords_hex}}-0-1/">供应</a></li>
		<li><a href="/s/{{keywords_hex}}-1-1/">回收</a></li>
		<li><a href="/d/{{keywords_hex}}-1/">资讯</a></li>
	</ul>
</div>
<div class="t40"></div>
<center>
	<script type="text/javascript">
	/*kangxianyue 20:5 创建于 2017/4/19*/
	var cpro_id = "u2958427";
	</script>
	<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
</center>

