<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/> 
<title>{{kname|safe}}资讯_{{kname}}新闻动态_第{{page}}页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="{{kname|safe}}资讯,{{kname|safe}}新闻,{{kname|safe}}动态" />
	<meta name="description" content="{{kname|safe}}资讯标签频道为你提供最新最全的{{kname|safe}}资讯，新闻,及{{kname|safe}}最新动态以及{{kname|safe}}相关行情信息，让你及时掌握最新{{kname|safe}}行情需求资讯，让你生意翻倍。" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" /> 
<meta content="yes" name="apple-mobile-web-app-capable" /> <meta content="black" name="apple-mobile-web-app-status-bar-style" /> <meta content="telephone=no" name="format-detection" /> 
<link rel="stylesheet" href="http://tags.zz91.com/mobile/tags_index.css?p=1" />
</head>
<body>
<div class="s_shead">
	<ul  class="s_nav">
		<li><a href="/s/{{keywords_hex|safe}}/" >{{kname|safe}}</a></li>
		<li><a href="/a/{{keywords_hex|safe}}-1/">价格</a></li>
		<li><a href="/b/{{keywords_hex|safe}}-1/">问答</a></li>
		<li><a href="/s/{{keywords_hex|safe}}-0-1/">供应</a></li>
		<li><a href="/s/{{keywords_hex|safe}}-1-1/">回收</a></li>
		<li><a href="/d/{{keywords_hex|safe}}-1/" class="active">资讯</a></li>
	</ul>
</div>
<div class="t40"></div>
<center>
	<script type="text/javascript">
	/*kangxianyue 20:5 创建于 2017/4/19*/
	var cpro_id = "u2958427";
	</script>
	<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
</center>
<div class="tagsnav"><a href="http://tags.zz91.com">标签首页</a> > <a href="http://tags.zz91.com/s/{{keywords_hex}}/">{{tags_keywords|safe}}</a> > <a href="http://tags.zz91.com/d/{{keywords_hex}}-1/">{{tags_keywords|safe}}资讯</a></div>
{%if listall%}
<section class="s_answer">
	<nav>最新{{kname|safe}}资讯</nav>
	<ul>
    {% for list in listall %}
		<li><i class="s_icon"></i><a href="http://m.zz91.com/news/newsdetail{{list.id}}.htm" target="_blank">{{list.title|safe}}</a>{{list.pubdate}}</li>
    {% endfor %}
    </ul>
</section>
<center>
<div style="font-size:16px; line-height:25px;">{{page}} / {{page_listcount}}</div>
<div class="pages">

{% if firstpage %}
<a href="/d/{{keywords_hex}}-1/" title="首 页" style="margin-right:5px;">首 页</a>&nbsp;
<a href="/d/{{keywords_hex}}-{{prvpage}}/" title="上一页" style="margin-right:5px;">上一页</a>&nbsp; 
{% endif %}
{% if lastpage%}
<a href="/d/{{keywords_hex}}-{{nextpage}}/" title="下一页" style="margin-right:5px;">下一页</a>&nbsp;
<a href="/d/{{keywords_hex}}-{{page_listcount}}/" title="末 页" style="margin-right:5px;">末 页</a>&nbsp;
{% endif %}</div>
</center>
{%endif%}

{% include 'mobile/bottom.html' %}
</body>
</html>