body{
	background-color: #90000f;
	max-width: 640px;
	margin: 0 auto
}
img{
	vertical-align: top;
}
.band{
	height: 376px;
	background:url(../images/band.jpg);
}
.huod-main{
	background-color: #fff1b8;
}
.huod-play{
	
	padding: 25px 0;
	text-align: center;
}
.getjp-list li{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.play-gugu{
	padding: 35px 0px 55px;
/*	height: 215px;*/
	/*position: relative;*/
}
.canvasdiv{
	width: 390px;
	margin: 0 auto;

}
.gugu{
	width: 390px;
}
.cntplay {
	position: relative;
}
.cntplay li{
	width: 424px;
	height: 182px;
	position: absolute;
	left: 50%;
	margin-left: -212px;
	top: -145px;
	display: none;
}
.cntplay-mo1{
	background:url(../images/cantp1.jpg);
}
.cntplay-mo2{
	background:url(../images/cantp2.jpg);
}
.cntplay-mo3{
	background:url(../images/cantp3.jpg);
}
.btn{
	display: inline-block;
	width: 150px;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	top: 110px;
}
.goudo{
	margin-top: 100px;
	text-align: center;
}
.gb{
	margin-left: 47px;
}