@charset "utf-8";

body {
	background: #fef7cb;
	padding: 0;
	margin: 0;
}


/*------- top -------*/
.top {
	height: 479px;
	background: url(../images/top.jpg) no-repeat;
	background-position: center;
}
.content {
	width: 960px;
	margin: 0 auto;
}
.wrap {
	color: #fff;
	height: 1300px;
	padding: 60px;
	background-color: #ff5804;	
}
.wrap h2 {
	font-size: 60px;
	text-align: center;
	font-family: "微软雅黑";
	margin-bottom: 70px;
}
.wrap p {
	font-size: 24px;
}
.wrap .item {
	width: 330px;
	height: 300px;
	overflow: hidden;
}
.wrap .item dt {
	font-size: 28px;
	margin-bottom: 34px;
}
.wrap .item dd {
	font-size: 20px;
	line-height: 30px;
}





