
body{width:100%;overflow-y:hidden;color:#303030;background:#f1f1f1}
ul,li{list-style:none}
.part{width:100%;margin:0 auto}

.part_nav{width:100%;height:25px}

/**list**/
.part_tab{width:100%;background:#fff}
.part_tab tr td{border-top:1px solid #c0c0c0;padding:0 10px;font-size:14px;}
.part_tab ul li{line-height:30px}

.tab_companyName{color:#0066cc}
.tab_box{width:100%}
.tab_addr_{color:#8a8a8a;float:left}
.tab_addr{color:#8a8a8a}
.tab_tel{color:#2294e6;font-weight:900;float:right}

/**page**/
.page{height:35px;line-height:35px;text-align:center;background:#fff;border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;margin-bottom:60px}
.page_next{width:33%;float:left}
.page_prev{border-right:1px solid #c0c0c0;cursor:pointer;width:33%;float:left}
.page_no{border-right:1px solid #c0c0c0;width:33%;float:left}


/**ldb**/
.company_title{line-height:43px;font-size:20px;font-weight:900;text-align:center;border-top:1px solid #dedede;border-bottom:1px solid #dedede}

.company-box{}
.company-box .member_tab{width:100%}
.company-box .member_tab tr td{height:30px;line-height:30px;font-size:14px}
.company-box .member_tab tr td:first-child{width:22%;line-height:30px;padding-left:10px}
.company-box .member_tab tr td:last-child{width:73%;line-height:30px}
.tab_item{color:#009944;font-weight:700}

.company-block{border-bottom:1px solid #c0c0c0;border-top:1px solid #c0c0c0;font-size:14px;background:#fff}
.company-block ul li{line-height:40px;padding:0 15px}
.company-block-tel{padding:7px 10px;border:1px solid #dedede;color:#2294e6;font-weight:600;position:relative}
.company-block-tel .phone{position:absolute;left:5px;top:5px}
.company-block-name{font-weight:600}
.company-block ul li a{text-decoration:none;}

.company-brief{line-height:30px;font-size:14px;padding:0 10px}
.company-brief .company-biref-tle{color:#009944;font-weight:900}
.company-brief p{}

.part_navBottom{}
.part_navBottom .navTab{width:100%;border-top:1px solid #dedede;border-bottom:1px solid #dedede}
.part_navBottom .navTab tr td{width:33%;border-right:1px solid #dedede;padding:10px 0}

/**pt**/
.company-block-ps{color:#767676}
.company-block-wx{color:#ff0000}