.type-small span{
	width: 33.333%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	float: left;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
/*.type-small{
	border-top: 1px solid #e1e1e1;
}*/
.type-small span:last-child{
	border-right: 0;
}
.type-small li{
	overflow: hidden;
	text-align: center;
}
.price-type {
	position: relative;
	height: 38px;
	line-height: 38px;
	background-color: #f2f2f2;
	padding-left: 39px;
	border-bottom: 1px solid #e1e1e1
}
.price-type i{
	display: block;
	height: 29px;
	width: 29px;
	position: absolute;
	background: url(../../image/imageslist.png);
	background-size: 220px;
	left: 8px;
	top: 5px;
}
.price-type .type-img1{
	background-position: -1px -4px;
}
.price-type .type-img2{
	background-position: -1px -34px;
}
.price-type .type-img3{
	background-position: -1px -90px;
}
.price-type .type-img4{
	background-position: -1px -184px;
}
.price-type .type-img5{
	background-size: 320px;
	background-position: -115px -127px;
}
.listback{
	margin-top:10px;
	margin-left: auto;
	margin-right:auto;
	width:50px;
	margin-left:30px;
	line-height:20px;
	font-size:12px;
	padding: 2px;
	position: absolute;
	right:2px;
	top: -2px
}
.moretitle{
	padding-left:20px;
	line-height:40px;
	background-color: #F1f1f1
}