@charset "utf-8";

body{background:#ee6867;}

.top{height:1169px;background:url(../images/top.jpg) no-repeat;background-position:center;}
.center{height:774px;background:url(../images/center.jpg) no-repeat;background-position:center;}
.center a{color:#0066cc;}