<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
    <script src="chart/jquery-1.7.2.js"></script>
<script>
$(function(){
	$('.upisok').click(function(){
		var auto_id=$(this).attr("auto_id")
		var is_ok=$(this).attr("is_ok")
		var gmt_date=$(this).attr("gmt_date")
		$.ajax({
		   type: "GET",
		   url: "upcompro_check.html",
		   data: "auto_id="+auto_id+"&is_ok="+is_ok+"&gmt_date="+gmt_date,
		   success:function(data){
		   		alert('已提交');
			   	if(is_ok==1){
					$("#img"+auto_id).attr('src','123/imgs/weizhua.png')
					$("#isok"+auto_id).attr('is_ok',0)
					}
					else {
					$("#img"+auto_id).attr('src','123/imgs/yizhua.png')
					$("#isok"+auto_id).attr('is_ok',1)
					}
			   },
		   error:function(data){
				//alert("错误!青重试.");
		   }
		}); 
	 });
});
</script>
</head>
<body>
<form class="form-inline definewidth m20">
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th style="width:150px">类型</th>
        <th style="width:150px">日期</th>
        <th style="width:150px">是否分析完成</th>
    </tr>
    </thead>
    {%for list in listall%}
	     <tr>
	     <td>{{list.typename}}</td>
	     <td>{{list.gmt_date}}</td>
	     <td><a href="javascript:void(0)" title="点击改变状态" gmt_date="{{list.gmt_date}}" id="isok{{list.id}}" auto_id="{{list.id}}" is_ok="{{list.is_check}}" class="upisok">{% ifequal list.is_check 1%}<img id="img{{list.id}}" src="123/imgs/yizhua.png">{%else%}<img id="img{{list.id}}" src="123/imgs/weizhua.png">{%endifequal%}</a></td>
        </tr>
	{%endfor%}
</table><br />

<div class="inline pull-right page">
        共{{listcount}} 条记录 {{page}}/{{page_listcount}} 页  &nbsp;&nbsp;
{% if firstpage %}
<a href="?page={{prvpage}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}">上一页</a>{%else%}<font color="gray">上一页</font>{%endif%}
     {%for p in page_range%}
{%if p.nowpage%}
<span class='current'>{{p.number}}</span>&nbsp;
{%else%}
<a href="?page={{p.number}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}">{{p.number}}&nbsp;</a>
{%endif%}
	{%endfor%}
{% if lastpage%}
<a href="?page={{nextpage}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}">下一页</a>{%else%}<font color="gray">下一页</font>{%endif%}&nbsp;&nbsp;&nbsp;
<input type="button" value="跳到" onClick=turnpage()> <span style="font-size:15px">第 <input type="text" id="page1" style="width:28px" value="{{page}}"> /{{page_listcount}} 页  </span><input type="submit" style="display:none"> &nbsp;&nbsp;
<a href='?page=1{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}' >首页</a><a href='?page={{page_listcount}}{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}' >尾页</a> 
</div>
</body>
<script>
function turnpage(){
	var page1=document.getElementById("page1").value;
	if (page1<1)
	{
	page1=1;
	}
	window.location.href='?page='+page1+'{%if searchurl%}&{{searchurl}}{%endif%}{%if order%}&order={{order}}{%endif%}';
}
</script>
</html>