@charset "utf-8";

body{background:#ffd58d;margin:0 auto}
.main{padding-bottom:5px;position:relative}
.top{height:516px;background:url(../images/top.jpg) no-repeat;background-position:center}
.content{width:959px;margin:0 auto 70px auto;border-left:2px solid #ff8400;position:relative}
.bg{height:440px;background:url(../images/bg.jpg) no-repeat center}
.first{height:250px;border-top:2px solid #ff8400;padding:40px 0 0 15px;margin:60px 0}
.fl{width:540px;float:left}
.fr{float:left}
.fr-ul{list-style:none}
.fr-ul li{line-height:35px;color:#ff8400;font-size:17px;font-weight:bold;}
.fr-txt{text-align:center;margin:15px 0}
.fr-txt a{font-size:15px}
.fr-img{margin-top:20px;margin-left:20px}

.second{height:450px;border-top:2px solid #ff8400;padding:40px 0 0 15px;margin:0 0 20px 0}
.third{height:430px;border-top:2px solid #ff8400;padding:40px 0 0 15px}
.fourth{height:320px;border-top:2px solid #ff8400;padding:40px 0 0 15px}
.fifth{height:560px;border-top:2px solid #ff8400;padding:40px 0 0 15px;margin-top:10px}
.fir1{position:absolute;left:26px;top:460px}
.fir2{position:absolute;left:26px;top:812px}
.fir3{position:absolute;left:26px;top:1328px}
.fir5{position:absolute;left:26px;bottom:940px}
.fir6{position:absolute;left:26px;bottom:570px}
.fir7{position:absolute;left:320px;bottom:10px}
.btn a:hover img{border-bottom:2px solid #ac5b00;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.fi-l{margin-right:55px;float:left}
.fi-l_txt{line-height:40px;font-family:"微软雅黑";font-size:17px;}
.fir4{margin:40px 0 0 40px}
.i1{margin-left:80px}
.i2{margin:20px 0 20px 110px}
.btn_l{position:absolute;left:231px;bottom:72px}
.btn{position:absolute;left:578px;bottom:50px}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 3670px;
	background-color: #303030;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity=70);
}
.white_content {
	width:700px;
	display: none;
	position: absolute;
	top: 125%;
	left: 24%;
	padding:13px;
	border: 10px solid #fff;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.white_content1 {
	width:700px;
	height:400px;
	display: none;
	position: absolute;
	top: 185%;
	left: 24%;
	padding:13px;
	border: 7px solid #fff;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.white_content2 {
	width:700px;
	display: none;
	position: absolute;
	top: 240%;
	left: 24%;
	padding:13px;
	border: 7px solid #fff;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.white_content img{width:700px}
.white_content1 img{width:700px}
.white_content2 img{width:700px}
.lc{height:19px;background:url(../images/mis.jpg) no-repeat right}













