@charset "utf-8";



.content .n-left {
	float: left;
	width: 230px;
	border: 1px solid #007334;
	margin-right: 10px;
}
.content .n-left h2 {
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	background-color: #094;
	text-align: center;
}
.content .n-left ul li {
	line-height: 25px;
}
.content .n-left ul {
	padding: 5px;
}
.content .n-newsmid {
	float: left;
	width: 400px;
	margin-right: 10px;
}
.content .n-newsmid .n-gz {
	border: 1px solid #CCC;
	margin-bottom: 8px;
	padding: 5px;
}
.content .n-newsmid .n-midnews .n-midnewstitle {
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #090;
}
.content .n-newsmid .n-midnews .n-midnewstitle .n-newstitlemore {
	float: right;
}
.content .n-newsmid .n-midnews h3 {
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	float: left;
}
.content .n-newsmid .n-midnews ul li {
	line-height: 25px;
}
.content .n-newsmid .n-guanzhu {
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	font-size: 16px;
}
.content .n-newsmid .n-guanzhu a {
	color: #F00;
}
.content .n-newsmid .n-gzlist a {
	display: block;
	float: left;
	width: 190px;
}
.content .n-newsright {
	float: right;
	width: 300px;
}
.content .n-newsright h2 {
	color: #FFF;
	background-color: #090;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
}
.content .n-newsright {
	border: 1px solid #060;
}
.content .n-newsright ul {
	padding: 5px;
}
.content .n-newsright ul li {
	line-height: 25px;
}
.content .n-newsbox {
	border: 1px solid #090;
	margin-top: 20px;
	clear: both;
	float: left;
}
.n-box2
{
	background-color: #F60;	
}
.content .n-newsbox .n-boxtitle {
	background-color: #0C0;
	padding: 5px;
	height: 25px;
}
.content .n-newsbox .n-boxtitle h3 {
	font-weight: bold;
	float: left;
	font-size: 14px;
	color: #FFF;
}
.content .n-newsbox .n-boxtitle .n-boxmore a {
	color: #FFF;
}
.content .n-newsbox .n-boxtitle .n-boxmore {
	float: right;
}
.content .n-newsbox .n-newsnav ul {
	padding: 5px;
}
.content .n-newsbox .n-newsnav ul li {
	border: 1px solid #CCC;
	float: left;
	width: 90px;
	margin-right: 3px;
	padding: 2px;
	text-align: center;
	margin-bottom: 3px;
}
.content .n-newsbox .box-left {
	padding: 5px;
	float: left;
	width: 320px;
	margin-right: 5px;
}
.content .n-newsbox .box-mid {
	float: left;
	width: 310px;
	padding: 5px;
}
.content .n-newsbox .box-right {
	float: right;
	width: 300px;
	padding: 5px;
}
.content .n-newsbox  h4 {
	font-size: 14px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #090;
	line-height: 30px;
}
.content .n-newsbox li {
	line-height: 25px;
}
