@charset "utf-8";
*{margin:0;padding:0;list-style:none}
a,img{border:0}
body{color:#303030}

/**public**/
.part{width:965px;margin:0 auto}
.part_{width:958px;margin:0 auto}
.item{margin-bottom:15px}

.category{width:220px;display:block;float:left;_float:none;font-size:14px;padding:0px;margin:0px}
.category li{float:left;padding:0px;margin-top:0;margin-right:4px;margin-bottom:10px;margin-left:4px; width:auto}
.category a{margin-right:10px}

/**item-zb-box-date**/
.item-zb-box-date{}
.item-zb-box-date span{font-size:14px}
.item-zb-box-date ul{}
.item-zb-box-date ul li{width:24px;height:24px;line-height:22px;text-align:center;margin-right:5px;display:inline-block;*display:inline;zoom:1;*float:none;cursor:pointer}
.item-zb-box-date ul li a{width:22px;height:22px;border:1px solid #e2e2e2;text-decoration:none;display:block}

.item-zb-box-block{}
.item-zb-box-input{float:left}
.item-zb-box-input .zb-inputText{width:40px;height:20px;line-height:20px;padding:0 1px;border:1px solid #ececec;border-top:1px solid #ccc}
.item-zb-box-input .zb-dateRangeLine{font-family:'宋体';margin:0 3px}
.item-zb-box-btn{width:40px;height:20px;line-height:20px;color:#fff;text-align:center;background:#009944;margin:0 15px;cursor:pointer;float:left}
.item-zb-box-a{float:left}
.item-zb-box-a a{color:#0066cc}



/**index**/
.tab{width:958px;text-align:center;border:1px solid #cecece}
.metal{height:25px;line-height:25px}
.metal ul li{height:25px;margin:0 10px;display:inline;float:left}

.tab-td{width:465px;padding:0 10px;background:#eeeeee;color:#303030;border-right:1px solid #cecece}
.tab-td-1{width:20px;padding:5px 7px;background:#6c6c6c;color:#fff;font-weight:bold;font-size:14px;border-bottom:1px solid #fff}
.tab-td-1_{width:20px;padding:5px 7px;background:#6c6c6c;color:#fff;font-weight:bold;font-size:14px;border-bottom:1px solid #6c6c6c}
.tab-td-2{width:465px;padding:0 10px;background:#eeeeee;color:#303030;border-bottom:1px solid #cecece;border-right:1px solid #cecece}
.tab-td-3{width:353px;background:#e7e7e7;color:#303030;border-bottom:1px solid #cecece;border-right:1px solid #cecece}
.tab-td-4{width:106px;background:#eeeeee;color:#303030;border-bottom:1px solid #cecece}

.palstic{width:441px;height:auto;overflow:hidden;margin:10px auto}
.palstic ul li{width:53px;height:20px;line-height:25px;text-align:center;margin-right:10px;margin-bottom:10px;float:left;display:inline}
.palstic ul li a {width:51px;height:22px;border:1px solid #cecece;background:#fff;color:#303030;display:block}


.item-left{float:left}
.i-left-top{}
.lt-l{width:544px;float:left}
.lt-l-tle{height:34px;line-height:35px;background:url(../../images/main/metal.jpg) no-repeat;padding-left:15px;padding-right:4px;padding-bottom:5px}
.l-tle-name{font-size:14px;font-weight:bold;color:#fff;float:left}
.l-tle-a{float:right}
.l-tle-a a{color:#fff}

.lt-box{padding:10px 0 5px 0;border-bottom:2px solid #cecece}
.lt-box-left{width:248px;border-right:1px solid #e2e2e2;float:left}
.lt-box-left ul li{width:238px;line-height:25px;overflow:hiddens}

.lt-box-right{width:295px;float:right}
.l-box-r{padding-left:25px;margin-bottom:23px}
.l-box-r ul li{width:260px;height:22px;overflow:hidden}
.l-box-r_{padding-left:25px}
.l-box-r_ ul li{width:260px;height:22px;overflow:hidden}

.lt-r{width:178px;float:left;position:relative}
.lt-r-item{width:158px;background:#f3f3f3;margin:0 auto}
.lt-r-box{padding-top:45px;padding-bottom:10px;padding-left:10px}
.lt-r-box ul li{width:138px;height:25px;line-height:25px;overflow:hidden}

.lt-r-tle{width:178px;height:31px;line-height:33px;background:url(../../images/main/tle.jpg) no-repeat;position:absolute;left:4px;top:12px}
.lt-r-tle_{width:178px;height:31px;line-height:33px;background:url(../../images/main/tle.jpg) no-repeat;position:absolute;left:4px;bottom:145px}
.lr-tle-name{font-size:14px;font-weight:bold;color:#fff;padding-left:15px;float:left}
.lr-tle-a{padding-right:15px;float:right}
.lr-tle-a a{color:#fff}

.i-left-bottom{}
.lb-box{width:145px;margin-top:12px;float:left}
#lb-box{margin-right:44px}
.lb-box-img{width:145px;height:83px;border:1px solid #e2e2e2;text-align:center;vertical-align:middle;display:table-cell}
.lb-box-img img{vertical-align:middle}
.lb-box-txt{line-height:25px;text-align:center}
.lb-box-txt a{font-size:13px;color:#303030}


.item-right{width:200px;background:#f3f3f3;padding:10px;float:right}
.item-right-tab{background:#fff;padding:10px 10px 20px 10px}

.ir-tle{padding-bottom:10px}
.ir-tle-name{font-size:14px;font-weight:bold;float:left}
.ir-tle-date{float:right}

.ir-tab{width:180px;border:1px solid #f08200;text-align:center}
.ir-tab tr td{line-height:26px;border-right:1px solid #f08200;border-bottom:1px solid #f08200}
.ir-td{width:45px}
.ir-td_{width:86px}

.item-right-box{}
.r-box-tle{padding:20px 5px 5px 10px}
.r-box-tle-name{font-size:14px;font-weight:bold;float:left}
.r-box-tle-a{float:right}
.r-box-tle-a a{color:#0066cc}

.r-box-item{padding-left:10px;padding-bottom:4px}
.r-box-item ul li{width:186px;height:25px;line-height:25px;overflow:hidden}

.item-tab{width:958px;border:1px solid #e2e2e2;text-align:center}
.item-tab tr td{line-height:36px;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2}
.iTab{width:200px;background:#eeeeee}
.iTab-1{width:162px;background:#eeeeee}
.iTab-2{width:230px;background:#eeeeee}
.iTab-3{width:102px;background:#eeeeee}
.iTab-4{width:255px;background:#eeeeee}
.more{color:#0066cc}

.item-tle{padding-bottom:5px;overflow:hidden;zoom:1}
.it-left{width:185px;line-height:33px;background:url(../../images/main/tle_.jpg) no-repeat;padding-left:15px;color:#fff;font-weight:bold;font-size:14px;float:left}

/**.it-center{line-height:33px;margin-right:60px;float:right;overflow:hidden}**/
.it-center{width:690px;line-height:33px;margin:0 auto;float:right;overflow:hidden}
.it-center ul li{padding:0 10px;float:left;overflow:hidden}

.it-right{width:34px;line-height:33px;background:url(../../images/main/cir.jpg) no-repeat;text-align:center;float:right}
.it-right a{color:#fff}

.lt-line{overflow:hidden;zoom:1}

.item-box{padding-top:10px}
.item-box-left{float:left}
.item-box-right{float:right}

.item-box-left{}
.i-box-left{float:left}
.i-box-right{float:left}
.i-box-item{width:215px;margin-right:25px}
.i-box-item-tle{height:30px;line-height:30px;border-bottom:2px solid #009944}
.i-box-item-tle-name{font-size:14px;font-weight:bold;float:left}
.i-box-item-tle-a{float:right}
.i-box-item-tle-a a{color:#0066cc}
.i-box-item-info{padding:10px 0}
.i-box-item-info ul li{width:215px;height:25px;line-height:25px;overflow:hidden}

.i-box-right-item{width:220px;position:relative}
.i-box-right-item-info{width:200px;background:#f3f3f3;padding:46px 0 10px 0;margin:0 auto}
.i-box-right-item-info ul li{width:188px;height:25px;line-height:25px;padding-left:12px;overflow:hidden}

.ir-item-tle{width:220px;height:30px;line-height:30px;background:url(../../images/main/arr.jpg) no-repeat;position:absolute;left:4px;top:10px}
.ir-item-tle_{width:220px;height:30px;line-height:30px;background:url(../../images/main/arr.jpg) no-repeat;position:absolute;left:4px;bottom:195px}
.ir-item-tle-name{font-size:14px;font-weight:bold;color:#fff;padding-left:15px;float:left}
.ir-item-tle-a{padding-right:15px;float:right}
.ir-item-tle-a a{color:#fff}

.ib-item{width:218px;margin-right:28px;float:left}
.ib-item_{width:218px;float:left}
.ib-item-tle{line-height:26px;font-size:15px;font-weight:bold;border-bottom:2px solid #009944}
.ib-item-box{padding-top:10px}
.ib-item-box ul li{width:218px;height:25px;line-height:25px;overflow:hidden}


.item-block{padding-bottom:10px;border-bottom:1px solid #cecece}


.item-title{line-height:34px;font-weight:bold;font-size:13px}
.item-info{width:958px;height:auto;padding-bottom:10px;border-bottom:1px solid #cecece;overflow:hidden;zoom:1s}
.item-info ul li{width:127px;height:27px;line-height:27px;text-align:center;margin-bottom:12px;display:inline;float:left}
.item-info ul li a{width:125px;height:27px;border:1px solid #e2e2e2;display:block}
.item-info-li{margin-right:11px}


/**pic**/
.item-zb{width:680px;float:left}
.item-zb-tle{height:35px;line-height:35px;background:url(../../images/main/title.jpg) no-repeat;color:#fff;padding-left:12px}
.item-zb-tle a{color:#fff}
.item-zb-box{border:1px solid #e2e2e2;padding:10px;margin-top:3px;margin-bottom:15px}
.item-zb-box-tle{height:25px}
.item-zb-box-info{padding:5px 0}
.zb-info-item{float:left}
.zb-info-item-txt{float:left}
.zb-info-item-date{float:left}
.zb-info-item-btn{width:50px;height:22px;line-height:22px;text-align:center;background:#009944;color:#fff;margin-left:15px;cursor:pointer}
.zb-info-item-btn:hover{background:#08b14f}

.zb-info-item-sel{margin-right:25px}
.select_box{font-family:"宋体";font-size:12px;width:50px;line-height:20px;border:1px solid #e2e2e2;padding-left:8px;position:relative}
.select_showbox{height:20px;background:url(../../images/main/off.jpg) no-repeat 34px 4px}
.select_option{border:1px solid #e2e2e2;border-top:none;display:none;position:absolute;left:0;top:21px;padding:0}
.select_option li{background:#fff;text-align:center}
.select_option li.selected{width:57px;text-align:center}
.select_option li.hover{background:#e9e9e9}
			
.item-zb-box-ps{text-align:center;color:#676767}			


.zb-tab{width:680px;border:1px solid #e2e2e2;text-align:center}	
.zb-tab tr td{height:34px;line-height:34px;border-bottom:1px solid #e2e2e2}
.zb-tab-td_{border-right:1px solid #e2e2e2}
.zb-tab-td{width:100px;color:#fff;background:#08b14f;border-right:1px solid #009944}
.zb-tab-td0{width:80px;color:#fff;background:#08b14f;border-right:1px solid #009944;border-left:1px solid #009944}
.zb-tab-td1{width:95px;color:#fff;background:#08b14f;border-right:1px solid #009944}
.zb-tab-td2{width:107px;color:#fff;background:#08b14f;border-right:1px solid #009944}
.zb-tab-td3{width:98px;color:#fff;background:#08b14f;border-right:1px solid #009944}		

/**page**/
.page{width:580px;height:30px;margin:20px auto 30px auto}
.page-style {width:50px;height:24px;line-height:24px;border:1px solid #ccc;text-align:center;line-height:26px;float:left;margin-right:10px}
.page-style-info{line-height:24px;margin-right:5px;float:left}
.page-style_ input{width:30px;height:24px;border:1px solid #ccc;font-size:12px;text-align:center}
.page-style a {width:50px;height:24px;display:block}
.page ul {float:left}
.page ul li {border:1px solid #ccc;margin-right:5px;float:left}
.page ul li a {padding:3px 7px;display:block}
.page-txt{height:24px;line-height:26px;float:left;margin-right:10px}
.page-confirm{width:65px;height:24px;border:1px solid #ccc;text-align:center;line-height:26px;background:#f5f5f5;float:right;cursor:pointer}


.item-zb-box-tle_{height:34px;line-height:34px;padding:0 10px;background:#eeeeee;border:1px solid #e2e2e2}			
.zb-tle-name{font-size:14px;float:left}
.zb-tle-a{float:right}
.zb-tle-a a{color:#0066cc}




.item-yb{width:270px;float:right}
.item-yb-box-tle{line-height:35px;background:url(../../images/main/title_.jpg) no-repeat;font-size:14px;color:#5b5b5b;font-weight:bold;padding-left:15px}
.item-yb-box-info{border:1px solid #e2e2e2;padding:10px;margin-top:3px;zoom:1}
.item-yb-box-info ul li{height:25px;line-height:25px;overflow:hidden}
.item-yb-box-info ul li a{color:#787878}

.item-yb-box_{margin-bottom:10px}
.item-yb-box{width:270px;margin-bottom:10px;padding-left:5px;overflow:hidden;position:relative}
.yb-box-bg{width:263px;border:1px solid #e2e2e2}

.yb-bg-tab{width:240px;margin:0 auto;padding-top:45px}
.bg-tab{width:243px}
.bg-tab tr td{line-height:25px}
.bg-tab tr td a{color:#787878}

.yb-box-bg-tle{width:221px;height:31px;line-height:31px;font-size:14px;font-weight:bold;color:#5b5b5b;padding-left:15px;background:url(../../images/main/arr_.jpg) no-repeat;position:absolute;left:0;top:10px}
.yb-box-bg-tle_{width:221px;height:31px;line-height:31px;font-size:14px;font-weight:bold;color:#5b5b5b;padding-left:15px;background:url(../../images/main/arr_.jpg) no-repeat;position:absolute;left:0;top:155px}
.yb-box-bg-tle_p{width:221px;height:31px;line-height:31px;font-size:14px;font-weight:bold;color:#5b5b5b;padding-left:15px;background:url(../../images/main/arr_.jpg) no-repeat;position:absolute;left:0;top:275px}


.item-yb-block{width:270px;padding-left:5px;overflow:hidden;position:relative}
.item-yb-block .yb-box-bg{}
.item-yb-block .yb-box-bg .yb-bg-info{padding-top:45px}
.item-yb-block .yb-box-bg .yb-bg-info .yb-info-ad{width:246px;height:107px;background:#eeeeee;text-align:center;vertical-align:middle;margin:15px auto}

.item-yb-block-tle{width:221px;height:31px;line-height:31px;font-size:14px;font-weight:bold;color:#5b5b5b;padding-left:15px;background:url(../../images/main/arr_.jpg) no-repeat;position:absolute;left:0;top:10px}


/**p_list**/
.item-zb-box_{border:1px solid #e2e2e2;padding:10px;margin-top:3px;margin-bottom:15px;background:#f3f3f3}
#zb-tab-td_No{color:#0066cc}
.item-yb-box_ad{width:270px;height:130px;text-align:center;vertical-align:middle;background:#787878;margin-bottom:15px}
.item-yb-box_ad img{vertical-align:middle}

.item-zb-box-title{padding-bottom:8px;border-bottom:1px solid #e2e2e2;padding-top:1px}
.item-zb-box-title .zb-tle-arr{
	width:450px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#fff;
	background:url(../../images/main/l_arr.jpg) no-repeat;
	float:left
}
.zb-tle-arr-l{padding-left:10px;float:left; width:120px;}
.zb-tle-arr-r{
	padding-right:10px;
	float:left;
	background-color: #090;
}

.item-zb-box-title .zb-tle-piece{font-size:14px;float:right}


.item-zb-box-addr{line-height:30px;font-size:14px}
.item-zb-box-ul{padding:5px 0;border-bottom: 1px solid #e2e2e2; clear:both}
.item-zb-box-ul a{
	color:#303030;
	text-decoration:none;
	width:82px;
	height:30px;
	line-height:30px;
	background:#fff;
	font-size:12px;
	border:1px solid #e2e2e2;
	text-align:center;
	margin-bottom:10px;
	display:inline-block;
*display:inline;	zoom:1;
*float:none;	cursor:pointer;
	margin-right:10px;
	display:block;
	float: left;
}


.zb-ul-li{margin-right:10px; float:left}

.item-zb-box-num{line-height:35px;font-size:14px}


/**m_list**/
.yb-info-recommend{width:246px;margin:10px auto}
.yb-info-recommend .recommend-img{padding:5px 1px;border:1px solid #bcbcbc;text-align:center;vertical-align:middle;float:left}
.yb-info-recommend .recommend-img img{vertical-align:middle}
.yb-info-recommend .recommend-msg{width:140px;margin-left:10px;float:left}
.yb-info-recommend .recommend-msg ul li{width:140px;height:25px;line-height:25px;overflow:hidden}
.yb-info-recommend .recommend-msg ul li a{color:#0066cc}
.yb-info-recommend .recommend-msg ul li .recommend-msg-price{color:#ff0000;font-weight:bold}



/**detail**/
.part_left{width:678px;padding:1px;border:1px solid #07af4e;float:left}
.part_left .part_left_tle{height:33px;line-height:33px;background:#07af4e;color:#fff;padding-left:15px}
.part_left .part_left_tle a{color:#fff}

.part_left_content{padding:20px 10px}
.part_left_content .pl_content_caption h1{font-family:"微软雅黑";font-size:20px;color:#444}
.part_left_content .pl_content_txt{color:#909090;margin-top:5px}
.part_left_content .pl_content_txt a{color:#909090}

.part_left_content .pl_content_chk{border-top:1px dashed #e5e5e5;border-bottom:1px dashed #e5e5e5;margin:28px 0 17px 0;padding-top:10px;overflow:hidden}
.part_left_content .pl_content_chk ul li{width:72px;height:24px;line-height:24px;text-align:center;color:#303030;margin-right:5px;margin-bottom:10px;display:inline-block;*display:inline;zoom:1;*float:none;cursor:pointer}

.part_left_content .pl_content_chk .pl_content_chk_li{border:1px solid #e2e2e2;zoom:1}
.part_left_content .pl_content_chk .pl_content_chk_li_click{background:#eeeeee;border:1px solid #e2e2e2;zoom:1}


.part_left_content .pl_content_tab{
	line-height:25px;
	font-size:14px;
}
.part_left_content .pl_content_tab table{
	display:table;
	width:100%;
	border-collapse: collapse;border-spacing: 5px;
	border-color:#666;
}
.part_left_content .pl_content_tab table td,.part_left_content .pl_content_tab table th{border:1px solid #666;text-align:center;text-indent:0; line-height:22px;}
.part_left_content .pl_content_tab .pl_table{width:658px;border:1px solid #e4e4e4;text-align:center}
.part_left_content .pl_content_tab .pl_table tr td{line-height:23px;color:#303030;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4}
.part_left_content .pl_content_tab .pl_table .pl_tab_td{width:100px;background:#eeeeee}
.part_left_content .pl_content_tab .pl_table .pl_tab_td0{width:55px;background:#eeeeee}
.part_left_content .pl_content_tab .pl_table .pl_tab_td1{width:85px;background:#eeeeee}
.part_left_content .pl_content_tab .pl_table .pl_tab_td2{width:75px;background:#eeeeee}
.part_left_content .pl_content_tab .pl_table .pl_tab_td3{width:41px;background:#eeeeee}

.part_left_content .pl_content_box{width:658px;height:auto;overflow:hidden;margin:20px auto}
.part_left_content .pl_content_box ul li{width:120px;height:30px;line-height:28px;text-align:center;margin-right:10px;margin-bottom:10px;float:left;display:inline}
.part_left_content .pl_content_box ul li a{width:118px;height:28px;color:#303030;border:1px solid #e2e2e2;display:block;text-decoration:none}
.part_left_content .pl_content_box ul li a:hover{background:#fff2e2}

.part_left_content .pl_content_read{width:99px;height:25px;line-height:25px;color:#fff;text-align:center;font-size:14px;font-weight:bold;background:url(../../images/main/read.jpg) no-repeat;margin-left:-11px}

.part_left_content .pl_content_articles{width:638px;height:140px;overflow:hidden;padding:0 10px;margin-top:20px}
.part_left_content .pl_content_articles ul{width:680px}
.part_left_content .pl_content_articles ul li{width:300px;height:25px;line-height:25px;overflow:hidden;margin-right:40px;float:left;display:inline}
.part_left_content .pl_content_articles ul li a{color:#303030}

.part_left_content .pl_content_statement{width:640px;height:31px;line-height:31px;text-align:center;background:#eeeeee;font-size:14px;color:#fb1a1a;margin:20px 0 10px -11px}

.part_left_content .pl_content_label{font-size:13px}
.part_left_content .pl_content_label a{color:#0066cc}

.part_right .item-yb-box_ .item-yb-box-info .yb-info-block{margin-top:10px}
.part_right .item-yb-box_ .item-yb-box-info .yb-info-left{width:45px;color:#0066cc;float:left;display:inline}
.part_right .item-yb-box_ .item-yb-box-info .yb-info-right{width:200px;overflow:hidden;float:right;display:inline}
.part_right .item-yb-box_ .item-yb-box-info .yb-info-right .yb-info-tab{width:200px}
.part_right .item-yb-box_ .item-yb-box-info .yb-info-right .yb-info-tab tr td{width:40px;height:20px;padding-bottom:5px}
.part_right .item-yb-box_ .item-yb-box-info .yb-info-right .yb-info-tab tr td a{color:#787878}

.part_right .item-yb-box_ .item-yb-box-info .yb-info-right .yb-info-tab_{width:200px}
.part_right .item-yb-box_ .item-yb-box-info .yb-info-right .yb-info-tab_ tr td{width:50px;height:20px;padding-bottom:5px}
.part_right .item-yb-box_ .item-yb-box-info .yb-info-right .yb-info-tab_ tr td a{color:#787878}



.part_right{width:270px;float:right}
.part_right .item-yb-box .yb-box-bg .yb-bg-price{width:240px;height:300px;overflow:hidden;margin:0 auto;padding-top:55px}
.part_right .item-yb-box .yb-box-bg .yb-bg-price ul{width:320px}
.part_right .item-yb-box .yb-box-bg .yb-bg-price ul li{width:104px;height:140px;overflow:hidden;margin-right:40px;margin-bottom:10px;float:left;display:inline}
.part_right .item-yb-box .yb-box-bg .yb-bg-price .yb-price-img{width:104px;height:78px}
.part_right .item-yb-box .yb-box-bg .yb-bg-price .yb-price-txt{width:104px;height:40px;line-height:20px;overflow:hidden}
.part_right .item-yb-box .yb-box-bg .yb-bg-price .yb-price-discuss{color:#ca0101}



/* apply */
.apply{width:650px}
.apply_array{width:24px;height:24px;line-height:24px;background:#fff;border:#cdcdcd 1px solid;float:left;margin-right:8px;text-align:center;display:inline}
.apply_array a{text-decoration:underline}
.apply_nav{position:relative;width:540px;float:left;height:40px;overflow:hidden}
.apply_w{position:absolute;width:650px;float:left;left:0px}
.apply .img_l{padding-right:10px;float:left;display:inline;cursor:pointer;}
.apply .img_r{padding:0 5px 0 8px;float:left;display:inline;cursor:pointer;}
.apply_mon{line-height:24px;font-size:14px;padding-right:5px;float:left;display:inline}













