body{ background-color:#FFF }
body a{ color:#27272C}
 
/**** top bar******/
.hb_bar{height:30px;line-height:30px;background-image:url(http://img0.huanbao.com/huanbao/images/header/hb_bar_bg.gif)}
.hb_bar_contn{width:958px;margin:0 auto;}
.hb_bar_nav{float:right;padding-right:120px; position:relative;	z-index:999; }
.hb_bar_nav ul li,.hb_bar_serve ul li{ float:left;padding-left:12px}
.hb_bar_nav ul li{ border: 1px solid #FBFBFB; border-bottom-color:#F5F5F5; height:24px; line-height:20px;  background:url(http://img0.huanbao.com/huanbao/images/header/asto_baricon.gif) right -64px no-repeat;  padding:0 16px 0 12px;padding-right:16px;margin-top:3px}
.hb_bar_nav ul li.ishover{ background-position:right -94px; background-color:#FFF; border-color:#E7E7E7; border-bottom-color:#FFF;border-radius:3px 3px 0 0 ; -webkit-border-radius:3px 3px 0 0 ; -moz-border-radius:3px 3px 0 0 ;}
.hb_bar_nav ul li ul{ background:#FFF; border:1px solid #E7E7E7; border-top:none;border-top-color:#FFF; position:absolute; top:29px; display:none;border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px}
.hb_bar_nav ul li ul li{ padding:0; border:none; background-image:none; background-color:#FFF; text-indent:1em}
.hb_bar_nav ul li ul li a{ display:block; height:24px; line-height:24px}
.hb_bar_nav ul li ul li a:hover{ background-color:#E7E7E7;color:#F60}
.hb_bar_nav ul li ul li ul{ display:block;position:static;border:none;border-radius:0}
.hb_bar_nav ul li ul li ul li{ width:80px;border:none}
.hb_bar_nav ul li ul li ul li a{color:#0774ac}
.hb_bar_nav ul li ul li ul li a:hover{color:#F60}
.hb_bar_nav_web{left:0;width:320px;height:220px}


.hb_bar_nav_serv{ left:78px;width:120px;}
.hb_bar_nav_assis{ left:168px;width:120px;}
.hb_bar_nav_center{ left:246px;width:120px;}
.hb_bar_nav_serv li,.hb_bar_nav_assis li,.hb_bar_nav_center li{width:100%}

.hb_bar_serve {float:left;color:#0774ac} 
.hb_bar_serve a{color:#0774ac}
.hb_welcome{ color:#333; padding-right:36px}
.astop_bar_adf{ position:absolute;right:0; top:0}
a.addfavoritesbtn{ padding-left:20px; background:url(http://img0.huanbao.com/huanbao/images/header/asto_baricon.gif) left top no-repeat; display:block; width:52px; height:30px}
a.addfavoritesbtn:hover{ background-position:left -30px}  
   





/**** footer******/	
.hb_footer,.hb_company_footer{line-height:28px;margin:0 auto;margin-top:12px;width:958px; text-align:center }

.hb_footer .hb_footer_pt{margin-left:190px;*margin-left:-80px;_margin-left:-80px;width:500px}
.hb_footer_pt{position:relative}
.hb_footer_pt a{position:absolute;width:71px;height:22px;right:-80px;top:1px}
.hb_company_footer{border-top:5px solid #0761ae;}


 
.floatleft{ float:left}
.floatright{ float:right}



.margintop8{ margin-top:8px}
.margintop16{ margin-top:16px }

.marginbottom8{ margin-bottom:8px}
.marginbtm16{ margin-bottom:16px }

.marginleft8{ margin-left:8px}
.marginleft16{ margin-left:16px}
.marginleft20{ margin-left:20px}
.marginleft22{ margin-left:22px}

.marginright8{ margin-right:8px}
.marginright16{ margin-right:16px}

.margin8{ margin:8px }
.margin16{margin:16px}
.marginlr8{margin:0px 8px}
.marginlr16{margin:0px 16px 8px}
.margintb8{margin:8px 0px}


.ie6heighthacker{height:1%

.html5radius{ border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px}
.displaynone{ display:none}

