<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>微信公众号关注-zz91再生网</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
<link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" href="css/index.css" />

<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<!--[if IE 6]> 
    <script src="js/clarity.js"></script> 
    <script type="text/javascript">
    DD_belatedPNG.fix('img');
    DD_belatedPNG.fix('.xiazai2');
    </script>  
<![endif]-->
<body>
    <div style="width:100%; background-color:#F9F7EC">
        <div> {%include 'html/comm/top.html'%} </div>
    </div>
    <style>
	#topBarInfo {width: 1200px;margin:0 auto;}
	#topBar #topBarInfo #topBarLinkNew{
		width: 422px;
	}
</style>
    <div class="bgumg1">
        <div class="contentbox">
            <div class="nav clearfix">
                <a href="index3.html"><img src="images/gou3.png"></a>
                <a href="index2.html"><img src="images/gou2-1.png"></a>
                <a href="index.html"><img src="images/gou1-1.png"></a>
            </div>
            <div class="xiazai2">
               
            </div>
        </div>
    </div>
    <div class="bgumg2"></div>
    <div class="bgumg3"></div>
    <div class="bgumg4"></div>
    {% include 'html/comm/buttom.html' %}
</body>

<script type="text/javascript">

</script>
</html>