@charset "utf-8";
/* CSS Document */
html{
	color:#333;
	background-color: #ff8214;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 26px;
}
body{font-family:"Helvetica Neue",Helvetica,Arial,Verdana,Geneva,sans-serif,"宋体","微软雅黑";color:#333;font-size:12px;}
html, body,div,span, object, iframe,
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button
{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
caption,th{text-align:left;}
fieldset,img,a img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
legend{color:#000;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight: normal;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
q:before,q:after{content:'';}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
a{color:#0C3D5F;}
a:hover {text-decoration:underline;}
a.block { display: block; cursor: pointer; }
a.block:hover { text-decoration: none; }
ins,a {text-decoration:none;}
.clearfix:after{clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;*zoom:1;}
.clear{clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.fn-hide{display:none;}
.fn-left,.fn-right{display:inline;}
.fn-left{float:left;}
.fn-right{float:right;}
em{font-style:italic;}
strong{font-weight:bold;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
.fd-gray{color:#666;}
.pointer{cursor:pointer;}
.header{ position:relative; background:url(../images/h_bg.jpg) no-repeat; margin:0 auto; width:1230px; height:484px;}
.header a{position: absolute; left:918px; top:291px;}
.box{ background:url(../images/box_bg.png) repeat-x; width:930px; background:#FFC972; margin:0 auto; }
.box .box_content .tit{ position: absolute; background:url(../images/tit.png) no-repeat; width:135px; height:42px; top:10px; left:-10px;}
.box .box_content .tit1{ position: absolute; background:url(../images/tit1.png) no-repeat; width:135px; height:42px;  left:-10px;}
.box .box_content{
	position: relative;
	background:#fff;
	width:845px;
	margin-left:20px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	padding-top: 70px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 30px;
}
.box .box_content ul{
	margin-bottom:20px;
	width:845px;
}
.box .box_content ul li{
	
	width:190px;
	height:108px;
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.box .box_bottom{ background:url(../images/bottom_bg.png) no-repeat; width:960px; height:50px; margin:0 auto; margin-left:-13px;}
.mr35{
	margin-right:35px;
	margin-bottom: 20px;
}
.subject_foofer
{
	color:#FFF;
}
.subject_foofer a
{
	color:#FFF;
}
.subject_foofer a:hover
{
	color:#C30;
}