@charset "utf-8";

body{background: #1b1823;margin: 0 auto}
.top{height: 482px;background: url(../images/top.jpg) no-repeat;background-position: center;}

.content{width: 960px;margin: 0 auto}

.mtb24{margin: 24px 0}












