<!DOCTYPE HTML>
<html>
	<head>
		<title>全国各地价格_ZZ91再生网</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
     <div class="content">
       <div class="c-tle">
       		<a href="">首页</a> > <a href="">行情报价</a> > <a href="">废金属</a> > 全国各地价格
       </div>
       <!--end c-tle-->
      	<table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#1bbc9b">废铜</td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#58d68d">废铁</td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#3598db">废铝</td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#9a59b5">废钢</td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#f1c40f">废镍</td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#e67f22">废铅废锌</td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#e84c3d">废不锈钢</td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr><tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
        	<tr>
            	<td colspan="4" class="nav_tab_tle" style="text-align:left;background:#34495e">网上报价</td>
            </tr>
            <tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
            <tr>
            	<td width="25%"><a href="">江浙沪</a></td>
                <td width="25%"><a href="">北京</a></td>
                <td width="25%"><a href="">广东南海</a></td>
                <td width="25%"><a href="">山东临沂</a></td>
            </tr>
        </table>
        <table class="nav_tab" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
            	<td width="50%" colspan="2" style="background:#7e8c8d"><a href="" style="color:#fff">废电瓶</a></td>
                <td width="50%" colspan="2" style="background:#7e8c8d"><a href="" style="color:#fff">国外废金属</a></td>
            </tr>
        </table>
      </div>
      <!--end content-->
	</body>
</html>
