@charset "utf-8";


#FloatClose{width:53px;height:51px;background:url(../images/close.png);position:fixed;right:0px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop));}
#example1{width:315px;height:215px;display:block}
.Banner{width:100%;height:atuo;background:url(../images/top.jpg) no-repeat;background-position:center}
.b-top{width:950px;height:532px;margin:0 auto;position:relative}
.b-top a{width:230px;height:100px;display:block;position:absolute;left:510px;top:380px}
.b-main{width:950px;margin:0 auto;margin-bottom:30px}
.block1{width:950px;height:88px}
.block2{height:78px;background:url(../images/block2.jpg) no-repeat;position:relative}
.block2-a{position:absolute;left:180px;top:38px}
.block2-a li{float:left;margin-right:50px}
.block2-a2{position:absolute;left:670px;top:34px;font-family:"微软雅黑";font-size:18px}
.block3{height:357px;background:url(../images/block3.jpg) no-repeat;position:relative}
.block3-box1{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:190px;top:295px}
.block3-box2{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:510px;top:295px}
.block3-box3{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:830px;top:295px}
.block3-box4{position:absolute;left:225px;top:325px}
.block3-box5{position:absolute;left:545px;top:325px}
.block3-box6{position:absolute;left:865px;top:325px}
.block3-img1{position:absolute;left:2px;top:73px;width:315px;height:215px;cursor:pointer}
.block3-img2{position:absolute;left:318px;top:73px;width:315px;height:215px;cursor:pointer}
.block3-img3{position:absolute;left:635px;top:73px;width:315px;height:215px;cursor:pointer}

.block4{height:285px;background:url(../images/block4.jpg) no-repeat;position:relative}
.block4-box1{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:190px;top:225px}
.block4-box2{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:510px;top:225px}
.block4-box3{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:830px;top:225px}
.block4-box4{position:absolute;left:225px;top:255px}
.block4-box5{position:absolute;left:545px;top:255px}
.block4-box6{position:absolute;left:865px;top:255px}
.block4-img1{position:absolute;left:2px;top:0px;width:315px;height:215px;cursor:pointer}
.block4-img2{position:absolute;left:318px;top:0px;width:315px;height:215px;cursor:pointer}
.block4-img3{position:absolute;left:635px;top:0px;width:315px;height:215px;cursor:pointer}

.block5{height:284px;background:url(../images/block5.jpg) no-repeat;position:relative}
.block5-box1{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:190px;top:225px}
.block5-box2{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:510px;top:225px}
.block5-box3{font-family:"微软雅黑";font-size:16px;color:#705a43;position:absolute;left:830px;top:225px}
.block5-box4{position:absolute;left:225px;top:255px}
.block5-box5{position:absolute;left:545px;top:255px}
.block5-box6{position:absolute;left:865px;top:255px}



