@charset "utf-8";

/**公用部分**/
/**main**/
.main{margin:0 auto;}
.mainbg{background-color:#7ba5de; width:100%}

/**顶部图片**/
.top{height:528px;background:url(../images/i_top1.jpg) no-repeat;background-position:center}

/**中部图片**/
.middle{}
.m-img{height:460px;background:url(../images/i_tle.jpg) no-repeat;background-position:center}
.m-img_{height:12px;background:url(../images/line.jpg) no-repeat;background-position:center}
.m-img1{height:460px;background:url(../images/i_tle1.jpg) no-repeat;background-position:center}
.m-img2{height:460px;background:url(../images/i_tle2.jpg) no-repeat;background-position:center}
.m-img3{height:460px;background:url(../images/i_tle3.jpg) no-repeat;background-position:center}

