<div class="oc-nav">
    <ul>
        <li {% ifequal navnum "1" %}class=mon{%endifequal%}><a href="/s/{{keywords_hex|safe}}/">{{kname|safe}}首页</a></li>
        <li {% ifequal navnum "2" %}class=mon{%endifequal%}><a href="/c/{{keywords_hex|safe}}-1/" rel="nofollow">{{kname|safe}}价格</a></li>
        <li {% ifequal navnum "3" %}class=mon{%endifequal%}><a href="/s/{{keywords_hex|safe}}-1/">{{kname|safe}}供求</a></li>
        <li {% ifequal navnum "4" %}class=mon{%endifequal%}><a href="/e/{{keywords_hex|safe}}-1/">{{kname|safe}}商家</a></li>
        <!--<li {% ifequal navnum "5" %}class=mon{%endifequal%}><a href="/s/{{keywords_hex|safe}}-1/">{{kname}}</a></li>-->
        <li {% ifequal navnum "6" %}class=mon{%endifequal%}><a href="/d/{{keywords_hex|safe}}-1/">{{kname|safe}}资讯</a></li>
        <!--<li {% ifequal navnum "7" %}class=mon{%endifequal%}><a href="/b/{{keywords_hex|safe}}-1/">问答</a></li>-->
    </ul>
</div>
<div class="wrapper">
<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5512236620584335"
     data-ad-slot="8274972003"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
<script type="text/javascript">
    /*kangxianyue 960*90 创建于 2017/4/27*/
    var cpro_id = "u2965298";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
<style>
	.ad_right { position: fixed; top:50px;margin-left:-180px; width: 170px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
</style>
<div class="ad_right">
	<script type="text/javascript" src="http://gg.zz91.com/show?p=759"></script>
</div>
</div>