@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
a {text-decoration:none;}
li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol, ul {
  list-style: none;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
a, div, header, span {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
img {
  vertical-align:middle;	
}
body {
  line-height: 1.25em;
  font-size: 1em;
  background: #f2f2f2;
}
body {
  min-width: 320px;
  font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
  color: #303030;
  -webkit-text-size-adjust: none;
}
.fr {
  float: right;	
}
.red {
  color: #ff5858;	
}
.black {
  color: #484848;	
}
.grey {
  color: #a0a0a0;	
}
.f12 {
  font-size: 12px;	
}
.ml12 {
  margin-left: 12px;	
}
.mt15 {
  margin-top: 15px;	
}
.bold {
  font-weight: bold;	
}



/* -------header------- */
.header {
  position: relative;
  z-index: 8888;
  height: 50px;
  background: #fff;
  border-bottom:1px solid #d6d6d6;
}
.header h2 {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}



/* -------sel-search------- */
.sel-search {
  margin: 15px 12px;
}
#search-form {
  margin-top: .2rem;
  margin-bottom: .2rem;
  height: 40px;
  position: relative;
  padding: 0 0.2rem;
}
.box-search {
  vertical-align: middle;
  position: relative;
  margin-right: 6rem;
  height: 45px;
  line-height: 35px;
  -webkit-box-sizing: border-box;
}
#search-form select {
  height: 40px;
  line-height: 40px;
  width: 100%;
  outline: none;
  border: none;
  border: 0;
  font-size: 12px;
  background: #fff;
  border-radius: .06rem;
  border: 1px #CCC solid;
  background: #FFF;
}
#search-form button {
  -webkit-box-sizing: border-box;
  position: absolute;
  right: 0.2rem;
  top: 0;
  width: 5.2rem;
  height: 100%;
  cursor: pointer;
}
.btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  padding: 0 .32rem;
  color: #fff;
  border: 0;
  background-color: #027cff;
  font-size: 14px;
  vertical-align: middle;
  line-height: .6rem;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
}



/* -------wrap------- */
.wrap {
  min-width: 320px;
  margin: 0 auto;
}
.supply-con {
  background-color: #f2f2f2;	
}
.supply-list {
  position: relative;
  top: 0px;
}
.supply-list li {
  display: list-item;
  text-align: center;
}
.supply-box {
  margin-top: 15px;
  background: #FFF;
  display: inline-block;
  width: 100%;
}
.supply-box p {
  text-align: left;
  vertical-align: bottom;
}
.supply-item {
  color: #707070;
  font-size: 14px;
  margin: 12px;
}
.supply-item p {
  min-height: 30px;
  line-height: 30px;
}
.supply-item label {
  color: #4391ff;
  font-weight: 700;
}
.supply-info {
  color: #a1a1a1;	
}
.supply-info img {
  margin-top: -6px;	
}



/* -------list------- */
.supply-sub {
  height: auto;
  display: block;
  position: relative;
  font-size: 0.28rem;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 12px;
}
.current {
  z-index: 2;
  -webkit-transition: -webkit-transform .2s;
    overflow: hidden;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.supply-btn {
  color: #fff !important;
  font-weight: bold;
  background: #ff7800;
  cursor: pointer;
}
.current li {
  display: inline-block;
  width: 33.3%;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  margin-bottom: -1px;
  float: left;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  background: white;
  box-sizing: border-box;
  background-clip: content-box;
  background-origin: content-box;
}
.current .pb {
  height: 42px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
  font-size: 14px;
}
.current img {
  margin-top: -6px;
}
a.react {
  display: block;
  color: inherit;
  height: 100%;
}
.sub-item {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-item strong.title {
  font-weight: bold;
  font-size: 16px;
  color: #027cff;
}



/* -------supply-nav------- */
.supply-nav {
  padding: .3rem .2rem .4rem;
  background-color: #f2f2f2;
  margin: 12px 0;
}
.supply-nav h4 {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 12px;
}
.supply-nav img {
  margin-top: -6px;
}
.supply-nav ul {
  margin: 0;
  padding: .18rem 0;
  font-size: .24rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
}
.supply-nav ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -moz-box-flex: 1;
  border-left: .02rem solid #f2f2f2;
  text-align: center;
  font-size: 14px;
  height: 42px;
  line-height: 42px;
  background-color: #e4e4e4;
}
.supply-nav ul li.nav-item {
  border-left: .2rem solid #f2f2f2;
}
.supply-nav ul a {
  background-color: #027cff;
  color: #fff;
  display: block;
}
.supply-nav ul a:hover {
  outline: 0;
}
.supply-nav .on {
  background-color: #027cff;
  color: #fff;	
}
.nav-wrap {
  padding: 0;
  margin: 0;	
}
.nav-wrap ul {
  padding: 0;	
}



/* -------page------- */
.page{
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 12px;
	background: #fff;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	margin: 22px 0;
}
.page a {
	color: #333;	
}
.page_next{
	width: 30%;
	float: left;
}
.page_prev{
	border-right: 1px solid #c0c0c0;
	cursor: pointer;
	width: 30%;
	float: left;
}
.page_no{
	border-right: 1px solid #c0c0c0;
	width: 39%;
	float: left;
}



/* -------supply-form------- */
.supply-form {
  padding: 12px;	
}
.supply-form p {
  color: #999999;
  line-height: 24px;
  font-size: 14px;
  margin: 12px 0;	
}
.supply-textarea {
  width: 100%;
  padding: 0;;
  border: 1px solid #d6d6d6;
  text-indent: 8px;
  font-size: .95em;
}
.sub_btn {
  display: block;
  background-color: #ff7800;
  border: none;
  width: 90%;
  margin: 10px auto 0;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
}



/* -------supply-publish------- */
#form_pub_02 {
  display: none;	
}
.supply-publish .mc{
  padding: 12px;
  background-color: #fff;
}
.supply-publish .mc div {
  margin: 0 0 5px;
}
.form_lst {
  width: 100%;
}
.form_lstw {
  display: table;
  padding: 5px 0;
  width: 100%;
  font-size: 14px;
}
.form_lstw span.tit {
  width: 65px;
  color: #a9a9a9;
}
.form_lstw span {
  text-align: left;
}
.form_lstw span {
  display: table-cell;
  vertical-align: middle;
}
.mc .common-input , .common-textarea {
  width: 100%;
  padding: 0;
}
.form_lstw .form_input {
  display: table;
  width: 100%;
  height: 23px;
  line-height: 23px;
}
.mc .htl-input {
  width: 100%;
  padding: 0;
  height: 37px;
  border: 0;
  text-indent: 8px;
  font-size: .95em;
  border-bottom: 1px dashed #999999;
}

.form_lstw p {
  color: #a9a9a9;	
}
.form_lstw p.step {
  text-align: center;
  color: #303030;
  margin: 15px 0 5px;	
}
.form_lstw p em {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  color: #fff;
  background-color: #027cff;
  display: inline-block;
  margin-right: 5px;
}
.form_lstw p.tit {
  font-size: 14px;	
}
.form_lstw .common-textarea {
  border: 0;
  border-bottom: 1px dashed #999999;
  color: #303030;
  text-indent: 8px;
  font-size: .95em;
}


