@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
body{font:14px/180% Arial, Helvetica, sans-serif,"微软雅黑";}
a,img{border:0;}

.overlaybox{
	position:absolute;
	left:50%;
	z-index:10000;
	background-color:#f2f2f2;
	padding:8px;
	padding-bottom: 0px;
	border-radius:5px;
	-webkit-box-shadow: #666 0px 0px 20px;
-moz-box-shadow: #666 0px 0px 20px;
box-shadow: #333 0px 0px 20px;
}
.overlaybox .nbox
{
	border-radius:5px;
	
}
.overlayclose{
	border-radius:40px;
	border:3px solid #FFF;
	position:absolute;
	top:-30px;
	right:-30px;
	background-color:#090;
	height:40px;
	width:40px;
	font-size:20px;
}
.overlaybox h2{
	height:20px;
	font-size:14px;
	position:relative;
	line-height:20px;
	color:#666;
	border-radius:5px;
}
.overlaybox h2 a{
	position:absolute;
	font-size:30px;
	font-weight:100;
	text-align:center;
	line-height:30px;
	color:#fff;
	text-decoration: none;
}
.overlayboximg{
	position:absolute;
	height:auto;
	z-index:10000;
	text-align: center;
}
.overlaycloseimg{
	border-radius:40px;
	border:3px solid #FFF;
	position:absolute;
	top:-30px;
	right:-30px;
	background-color:#090;
	height:40px;
	width:40px;
	font-size:20px;
}
.overlayboximg h2{
	height:30px;
	font-size:14px;
	position:relative;
	line-height:30px;
	color:#FFF;
	border-radius:10px;
	z-index: 1000;
}
.overlayboximg h2 a{
	position:absolute;
	font-size:30px;
	font-weight:100;
	text-align:center;
	line-height:40px;
	color:#fff;
	text-decoration: none;
	z-index: 1002;
}
.overlayboximg .mainlistimg{
	position: absolute;
	left:auto;
	top: 0px;
	z-index: 89;
	text-align: center;
	width: 100%;
	
}
.overlayboximg .mainlistimg img{
	-webkit-box-shadow: #666 0px 0px 20px;
-moz-box-shadow: #666 0px 0px 20px;
box-shadow: #333 0px 0px 20px;
}
.overlaybox .mainlist{padding:0px;border-radius:5px;background-color:#FFF;line-height:25px;font-size:14px;}
.overlaybox .mainlist li{height:24px;line-height:24px;}
.overlaybox .mainlist li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;color:#ddd;}
#TB_overlayBG{background-color:#000;position:absolute;z-index:999;left:0;top:0;display:none;width:100%;height:100%;opacity:0.6;filter: alpha(opacity=60);-moz-opacity: 0.6;}
.button_gree{
	padding-left:15px;
	padding-right:15px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#060),	color-stop(0.85, #090), color-stop(0.86, #090) );
	line-height:30px;
	border: solid 1px #060;
	color:#FFF;
	margin:0 auto;
}