<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	    <title>展会服务-6.21再生塑料年度峰会</title>
	    <meta name="keywords" content="" />
	    <meta name="description" content="" />
	    <link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
	    <link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
    	<link rel="stylesheet" href="http://b.zz91.com/comm/css/foot.css" />
	    <link rel="stylesheet" href="css/carousel.css" />
	    <link rel="stylesheet" href="css/index.css" />
	    <script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
		<script src="http://b.zz91.com/comm/js/comm.js"></script>
	    <script src="http://b.zz91.com/comm/js/laytpl.js"></script>
	    <script src="http://b.zz91.com/layer/layer.js"></script>
	</head>
	<body>
		<div class="fh-header-list">
			<div class="logo-nav clearfix">
				<div class="logobox fl"></div>
				<div class="navbox fr">
					<ul class="clearfix fh-nav-ul">
		                <li class="fl"><a href="index.html" class="fh-nav-a">首页</a></li>
		                <li class="fl">
		                    <a href="jieshao.html" class="fh-nav-a">关于峰会</a>
		                    <div class="fh-nav-smallbox">
		                        <div class="fh-nav-zb"></div>
		                        <ul class="fh-nav-bg">
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        </ul>
		                        <div class="fh-nav-small">
		                            <a href="jieshao.html?page=0">展会介绍</a>
		                            <a href="jieshao.html?page=1">日程安排</a>
		                            <a href="jieshao.html?page=2">展会亮点</a>
		                            <a href="jieshao.html?page=3">会场平面图</a>
		                            <a href="jieshao.html?page=4">往年回顾</a>
		                        </div>
		                    </div>
		                </li>
		                <li class="fl">
		                    <a href="news.html" class="fh-nav-a">展会新闻</a>
		                    <div class="fh-nav-smallbox">
		                        <div class="fh-nav-zb"></div>
		                        <ul class="fh-nav-bg">
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        </ul>
		                        <div class="fh-nav-small">
		                            <a href="news.html?page=0">新闻动态</a>
		                            <a href="news.html?page=1">参会客户动态</a>
		                            <a href="news.html?page=2">直击现场</a>
		                            <!-- <a href="news.html?page=3">展会视频</a> -->
		                        </div>
		                    </div>
		                </li>
		                <li class="fl">
		                    <a href="zhzs.html" class="fh-nav-a">展会招商</a>
		                    <div class="fh-nav-smallbox">
		                        <div class="fh-nav-zb"></div>
		                        <ul class="fh-nav-bg">
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        	<li></li>
		                        </ul>
		                        <div class="fh-nav-small">
		                            <a href="zhzs.html?page=0">展位招商</a>
		                            <a href="zhzs.html?page=1">参展流程</a>
		                            <a href="zhzs.html?page=2">我要参展</a>
		                            <a href="zhzs.html?page=3">品牌广告招商</a>
		                            <a href="zhzs.html?page=4">其他赞助</a>
		                            <a href="zhzs.html?page=5">展商中心</a>
		                        </div>
		                    </div>
		                </li>
		                <li class="fl">
		                    <a href="gzfw.html" class="fh-nav-a">观展服务</a>
		                    <div class="fh-nav-smallbox">
		                        <div class="fh-nav-zb"></div>
		                        <ul class="fh-nav-bg">
		                        	<li></li>
		                        	<li></li>
		                        </ul>
		                        <div class="fh-nav-small">
		                            <a href="gzfw.html?page=0">我要观展</a>
		                            <a href="gzfw.html?page=1">观展商家</a>
		                        </div>
		                    </div>
		                </li>
		                <li class="fl thisfh-nav">
		                    <a href="zhfw.html" class="fh-nav-a">展会服务</a>
		                    <div class="fh-nav-smallbox">
		                        <div class="fh-nav-zb"></div>
		                        <ul class="fh-nav-bg">
		                        	<li></li>
		                        	<li></li>
		                        </ul>
		                        <div class="fh-nav-small">
		                            <a href="zhfw.html?page=0">展会路线</a>
		                            <a href="zhfw.html?page=1">资料下载</a>
		                        </div>
		                    </div>
		                </li>
		                <li class="fl"><a href="lxwm.html" class="fh-nav-a">联系我们</a></li>
		            </ul>
				</div>
			</div>
		</div>
		
		<div class="fh-content">
			<div class="band-infobox">
				<div class="band-infobg2"></div>
				<div class="band-info clearfix">
					<div class="fl band-infotle">
						展会最新动态
					</div>
					<div class="fr band-infomain">
						<ul class="band-info-ul clearfix">
							<li class="fl">江苏超喜加塑料科技有限公司 A17展位</li>
	                        <li class="fl">北京市京元物环认证咨询有限公司（杭州分公司） A19展位</li>
	                        <li class="fl">扬州市海达塑料科技有限公司 A18展位</li>
	                        <li class="fl">揭阳市美之达五金塑胶实业有限公司 A16展位</li>
	                        <li class="fl">辽阳胜达再生资源利用有限公司 A15展位</li>
	
	                        <li class="fl">余姚市低塘东达塑料厂 报名观展</li>
	                        <li class="fl">常州勤益塑料有限公司 报名观展</li>
	                        <li class="fl">郑州星辉塑业有限公司 报名观展</li>
	
	                        <li class="fl">昆山合志塑料科技有限公司 报名观展</li>
	                        <li class="fl">个体经营(王辉) 报名观展</li>
	                        <li class="fl">台州市融科塑胶有限公司 报名观展</li>
	                        <li class="fl">山东中胤环保科技有限公司 报名观展</li>
	                        <li class="fl">平湖市驰新塑胶有限公司 报名观展</li>
	                        <li class="fl">浙江凯王塑业有限公司 报名观展</li>
	                        <li class="fl">嘉兴市赛腾新材料科技有限公司 报名观展</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="fh-conmain clearfix">
				<div class="fl fh-conmain-l">
					<div class="fh-conmain-tle">
						展会服务
					</div>
					<ul class="conmain-list">
						<li class="conmain-list-li conmain-list-this">
							<a class="conmain-list-a">
								<i class="icon icon-zhlx"></i>展会路线<i class="icon icon-yjt"></i>
							</a>
						</li>
						<li class="conmain-list-li">
							<a class="conmain-list-a">
								<i class="icon icon-zlxz"></i>资料下载<i class="icon icon-yjt"></i>
							</a>
						</li>
					</ul>
					<div class="conmain-list-ewm">
						<img src="images/erweiimg2.png" />
						<p>
							关注ZZ91公众号<br />获取更多展会资讯
						</p>
					</div>
				</div>
				<div class="fr fh-conmain-r">
					<div class="conmain-rbox">
						<div class="conmain-rbox-tle">
							<a href="index.html">首页</a> > <a href="zhfw.html">展会服务</a> > <span>展会路线</span>
						</div>
						<div class="zhlx-box">
							<div class="zhlx-map-warp">
								<div class="zhlx-map" id="dituContent"></div>
							</div>
							<div class="zhlx-luxian">
								<p>酒店信息：杭州浙商开元名都酒店<br>电话：400-6886-687<br />地址：杭州余杭区迎宾路535号，近南苑地铁站<br />杭州萧山机场出发：机场候车厅坐机场大巴到杭州东站火车站-坐地铁一号线（临平方向）-南苑站（D出口）下车-步行520米至酒店。</p>
								<p><span class="fb">地铁线路：</span><br>杭州城站火车站或杭州东站出发：地铁一号线（临平方向）-南苑站（D出口）下车-步行520米至酒店</p>
								<p><span class="fb">自驾线路：</span>杭州南：由杭州南收费站下高速，途径中河高架，转德胜高架，走杭甬高速路，行至余杭高速出口下，转迎宾路；<br>杭州西：进入杭州绕城高速路，至乔司枢纽转，行至杭甬高速，行至余杭高速出口下，转迎宾路；<br>杭州北：至乔司枢纽转，行至杭甬高速，行至余杭高速出口下，转迎宾路；<br>杭州东：沪昆高速转杭甬高速，行至余杭高速出口下，转迎宾路；<br>注：如遇到高峰限行时间可就近上杭州绕城高速转杭甬高速，行至余杭高速出口下，转迎宾路。</p>
							</div>
							<div class="zhlx-ab">
								<p><span>联 系 人</span>符经理</p>
								<p><span>手 机</span>158 6848 4082（同微信）</p>
								<p><span>电 话</span>0571-56633145</p>
								<p><span>传 真</span>0571-56637777</p>
								<p><span>电子邮箱</span>fuqq@asto-inc.com</p>
							</div>
						</div>
					</div>
					<div class="conmain-rbox" style="height:379px">
						<div class="conmain-rbox-tle">
							<a href="index.html">首页</a> > <a href="zhfw.html">观展服务</a> > <span>资料下载</span>
						</div>
						<div class="zlxz-box">
							<ul class="zlxz-ul">
								<li>
									<a href="http://b.zz91.com/邀请函ZZ91再生网-2017年再生塑料行业峰会邀请函.docx">
										<i class="icon icon-xz"></i>展会邀请函.doc
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footbox">
	    <div class="foot-main">
	        <div class="foot-myhome">
	             <a target="_blank" href="http://about.zz91.com/">关于我们</a>|<a href="http://www.recyclechina.com/" target="_blank">国际站</a>|<a href="http://www.zz91.com/service/baidu/yh.html" target="_blank">百度优化</a>|<a href="http://service.zz91.com/zst.html" target="_blank">再生通服务</a>|<a href="http://help.zz91.com/" target="_blank">新手指南</a>|<a href="http://www.zz91.com/webmap/" target="_blank">网站地图</a>|<a target="_blank" href="http://www.zz91.com/hkfs/">支付方式</a>|<a target="_blank" href="http://about.zz91.com/contact.html">意见投诉</a>|<a target="_blank" href="http://about.zz91.com/linkus.html">友情链接</a>|<a href="http://help.zz91.com/contact/" target="_blank">客服中心</a>|<a target="_blank" href="http://about.zz91.com/jobs.html">诚聘精英</a>|<a href="http://www.zz91.com/cp/" target="_blank">产品导航</a>|<a href="http://help.zz91.com/detail-131/" target="_blank">信息安全</a>|<a href="http://help.zz91.com/detail-131/" target="_blank">会员权益</a> 
	        </div>
	        <div class="foot-tell-us">
	            <span>
	                <i class="comm-icon icon1-foot1"></i>
	                全国统一服务热线：0571-56611111  56612345 </span>
	                <span>
	                    <i class="comm-icon icon1-foot2"></i>
	                    市场合作：0571-56633145 </span>
	                    <span>
	                        <i class="comm-icon icon1-foot3"></i>
	                        广告服务：0571-56611111</span>
	                        <span>
	                            <i class="comm-icon icon1-foot4"></i>
	                            传真：0571-56637777</span>
	        </div>
	    </div>
	</div>
	</body>
	<script type="text/javascript" src="js/zh-comm.js"></script>
	<script>
		 //创建和初始化地图函数：
	    function initMap(){
	        createMap();//创建地图
	        setMapEvent();//设置地图事件
	        addMapControl();//向地图添加控件
	        addMarker();//向地图中添加marker
	    }
	    
	    //创建地图函数：
	    function createMap(){
	        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
	        var point = new BMap.Point(120.3065,30.398);//定义一个中心点坐标
	        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
	        window.map = map;//将map变量存储在全局
	    }
	    
	    //地图事件设置函数：
	    function setMapEvent(){
	        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
	        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
	        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
	        map.enableKeyboard();//启用键盘上下左右键移动地图
	    }
	    
	    //地图控件添加函数：
	    function addMapControl(){
	        //向地图中添加缩放控件
		var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
		map.addControl(ctrl_nav);
	        //向地图中添加缩略图控件
		var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
		map.addControl(ctrl_ove);
	        //向地图中添加比例尺控件
		var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
		map.addControl(ctrl_sca);
	    }
	    
	    //标注点数组
	    var markerArr = [{title:"浙商开元",content:"我的备注",point:"120.309035|30.396524",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
			 ];
	    //创建marker
	    function addMarker(){
	        for(var i=0;i<markerArr.length;i++){
	            var json = markerArr[i];
	            var p0 = json.point.split("|")[0];
	            var p1 = json.point.split("|")[1];
	            var point = new BMap.Point(p0,p1);
				var iconImg = createIcon(json.icon);
	            var marker = new BMap.Marker(point,{icon:iconImg});
				var iw = createInfoWindow(i);
				var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
				marker.setLabel(label);
	            map.addOverlay(marker);
	            label.setStyle({
	                        borderColor:"#808080",
	                        color:"#333",
	                        cursor:"pointer"
	            });
				
				(function(){
					var index = i;
					var _iw = createInfoWindow(i);
					var _marker = marker;
					_marker.addEventListener("click",function(){
					    this.openInfoWindow(_iw);
				    });
				    _iw.addEventListener("open",function(){
					    _marker.getLabel().hide();
				    })
				    _iw.addEventListener("close",function(){
					    _marker.getLabel().show();
				    })
					label.addEventListener("click",function(){
					    _marker.openInfoWindow(_iw);
				    })
					if(!!json.isOpen){
						label.hide();
						_marker.openInfoWindow(_iw);
					}
				})()
	        }
	    }
	    //创建InfoWindow
	    function createInfoWindow(i){
	        var json = markerArr[i];
	        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
	        return iw;
	    }
	    //创建一个Icon
	    function createIcon(json){
	        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
	        return icon;
	    }
	    
	    initMap();//创建和初始化地图
	</script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?f41f07cad5c54cf66717306958dd62ed";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</html>
