@charset "utf-8";

.main_box {width:958px;margin:auto;margin-top:8px}
.b-left{width:710px;float:left}
.b-right{width:238px;float:right}
.i-title{height:39px;background:#b0e4c8;position:relative}
.i-title font{font-size:14px;font-weight:bold;position:absolute;left:50px;top:10px}
.i-content{padding:10px 15px;border:1px solid #cdcdcd;margin-top:1px;overflow:hidden}
.i-content ul{list-style:none}
.i-content li{padding:5px 0;font-size:13px;float:left}
.l-item{border:2px solid #009944;overflow:hidden}
.li-title{height:39px;line-height:39px;font-size:16px;font-weight:bold;background:#b0e4c8;padding-left:20px}
.li-content{padding:15px 20px;margin-top:1px;border-top:1px solid #cdcdcd;overflow:hidden}
.c-top{height:85px;border-bottom:1px solid #cdcdcd;margin-bottom:15px}
.t-addr{width:60px;font-size:16px;float:left;display:inline}
.t-sel{width:590px;float:left;display:inline}
.t-set ul{list-style:none}
.t-sel li{width:90px;line-height:24px;margin-right:15px;float:left;display:inline;}
.t-sel li font{margin-left:5px}
.b-time{float:left}
.b-box{float:right}
.b-btn{width:74px;height:26px;line-height:26px;background:#ebeaea;text-align:center;float:left}
.b-btn_{width:74px;height:26px;line-height:26px;background:#b0e4c8;text-align:center;margin-right:10px;float:left}
.l-box{padding:0 10px;overflow:hidden}
.lb-item{height:370px;padding-top:10px;border-bottom:1px solid #009944;border-left:1px solid #009944;border-right:1px solid #009944}
.i-txt{width:130px;height:25px;line-height:25px;border:1px solid #555555;padding:0 8px}
.i-img{margin-bottom:20px;}
.it{float:left}
.it_{float:right}

.l-table{text-align:center;margin:15px 0;color:#303030}
.l-table table{width:710px}
.l-table th{height:41px;line-height:41px;text-align:center;background:#b0e4c8;font-size:14px}
.l-table td{height:56px;line-height:56px;}
.t-tr{background:#ebeaea}

.t-item{width:88px;overflow:hidden;border:1px solid #67bf90}
.t-txt{width:88px;height:17px;line-height:17px;background:#f5f4f4;}
.t-txt_{width:88px;height:17px;line-height:17px;background:#96d9b5;}

/**page**/
.page{width:648px;height:30px;margin:40px auto 20px auto}
.page-style {width:50px;height:24px;border:1px solid #ccc;text-align:center;line-height:26px;float:left;margin-right:10px}
.page-style_ input{width:30px;height:24px;border:1px solid #ccc;font-size:12px;text-align:center}
.page-style a {width:50px;height:24px;display:block;color:#666666}
.page ul {float:left}
.page ul li {border:1px solid #ccc;margin-right:10px;float:left}
.page ul li a {padding:3px 10px;display:block;color:#666666}
.page-txt{height:24px;line-height:26px;float:left;margin-right:10px;color:#666666}
.page-confirm{width:35px;height:24px;border:1px solid #ccc;text-align:center;line-height:26px;background:#f5f5f5;float:right;color:#666666}

.cplist{
	padding:10px;
}
.cplist li{
	float:left;
	width:30px;
}