<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>无标题文档</title>
<script>
// JavaScript Document
function checkForm(frm){
	varlulfs="";
	for(var i=0;i<frm.length;i++)
	{
		var objinput=frm[i];
		if (objinput.title!="")
		{
			if (objinput.type=="radio")
			{
				if(objinput.checked==true)
				{
					varlulfs=varlulfs+objinput.title+"\n";
				}
			}else{
				varlulfs=varlulfs+objinput.title+":"+objinput.value+"\n";
			}
			if (objinput.title.substring(0,1)=="*")
			{
				if (objinput.value=="")
				{
					alert(objinput.title.substring(1)+"不能为空！");
					objinput.focus();
					return false
				}
				
			}
		}
	}
	frm.contents.value = varlulfs;
}
</script>
<style type="text/css">
<!--
body,td,th {
	font-size: 12px;
	color:#333;
	line-height:28px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>

</head>

<body><form id="form1" name="form1" method="post" action="/huangye_save/" onsubmit="return checkForm(this)">
<div>
  
	<div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="25">
        </td>
      </tr>
    </table>
    <table border="0" align="center" cellpadding="0" cellspacing="3"  id="contright_sub" >
	  
	  <tr>
	    <td align="right" valign="top">公司名称（或个人姓名） <span style="color:#F00">*</span> ：</td>
	    <td valign="top">
	      <input name="textfield" type="text" id="textfield" title="*公司名称" value="" size="30" />
        </td>
      </tr>
	  <tr>
    <td align="right" valign="top">联系人 <span style="color:#F00">*</span> ：</td>
    <td valign="top"><input name="textfield2" type="text" id="textfield2" value="" title="*联系人"/></td>
  </tr>
  <tr>
    <td align="right" valign="top">手机/电话 <span style="color:#F00">*</span> ：</td>
    <td valign="top"><input name="mobile" type="text" id="mobile" value="" title="*手机或电话"/>
      </td>
  </tr>
  <tr>
    <td align="right" valign="top">收货地址<span style="color:#F00">*</span> ：</td>
    <td valign="top"><input name="textfield3" type="text" id="textfield3" size="40" title="*收货地址" />
      <br />
      <strong style="color:#999">请正确填写收货地址，以便我们给您快递！</strong></td>
  </tr>
  </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
        付款提醒: 拍下后请及时付款以确保团购成功.<br /> 
        <strong style="font-size:15px; color:#F00; font-weight:bold">请在付款说明中注明您填写的手机号码</strong>，以便我们查询。
        </td>
      </tr>
    </table>
	</div>
    <input type="hidden" name="contents" id="contents" value="dfsf" />
    <input type="hidden" name="title" id="title" value="2013年底黄页促销" />
	
  
  

</div>
<div style="text-align:center">
  <input type="submit" name="button" id="button" value=" 立即提交 " />
</div></form>
</body>
</html>
