<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>供应{{kname}}_求购{{kname}}_{{kname}}价格_{{kname}}_ZZ91再生网(原中国再生资源交易网)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="{{kname}}价格,{{kname}}行情,{{kname}}回收,今日{{kname}}价格,{{kname}}供应,{{kname}}求购,{{kname}}资讯" />
<meta name="description" content="ZZ91再生网{{kname}}标签频道为你提供最新最全的有关{{kname}}价格信息,{{kname}}行情信息,{{kname}}回收信息,{{kname}}供求信息,以及{{kname}}报价资讯信息等" />
<link href="http://img.zz91.com/cn/css/tagsList.css" rel="stylesheet" type="text/css" />
<link href="http://img.zz91.com/cn/tags/css.css" rel="stylesheet" type="text/css" />
<link href="http://img.zz91.com/cn/tags/rightcss.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="http://img0.zz91.com/favicon.ico">
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.hack.css">
<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.comm.css" />
<link type="text/css" rel="stylesheet" href="http://daohang.zz91.com/css/zz91.daohang.basic.css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/front/js/topbar/jquery.topbar.js"></script>
<script type="text/javascript" src="http://img0.zz91.com/front/js/zz91.common.js"></script>
<style>
.keyoffer
{
	background-color: #ebebeb;
	border: 1px double #CCC;
	float: left;
	clear: both;
	width: 100%;
}
.cpb
{
	color:#ff0000;
	font-weight:bold;
}
</style>
</head>
<body style="MARGIN-TOP: 0px">
{% include 'includes/nav.html' %}
<div class="clearBox"></div>
<div class="main_box">
<div class="nav1" style="font-size:14px; margin-top:10px;">标签：<strong><h1>{{kname}}</h1>的信息列表: {%if listall%}<a href='#a' id='total1'>报价信息{{listcount}}条</a>{%endif%}</strong></div>
<div style="clear:both"></div>
</div>
<div class="main_box">
<div style="width:750px; float:left; margin:0px;">
<div class="leftContent" style="margin:0px; width:750px">
	<div class='classTitle'>
	<a name='a'></a>
	<div class='leftTitle'>
	<h2 style='display:inline;'>{{kname}}资讯信息</h2> 
	( <a href='http://huzhu.zz91.com/search.htm?keywords={{tags_keywords}}' target="_blank">查看所有{{kname}}资讯信息</a>)&nbsp;&nbsp;<a href='http://suliao.zz91.com/' style='color:red;' target='_blank'>精确报价,买卖商机, 尽在塑料颗粒网</a>
	</div>
    <div style="clear:both"></div>
	<div class='rightTitle'>共有此类信息<span>{{listcount}}</span>条</div>
	</div>
	
	{% for list in listall %}
	<ul>
		<li>
		<div class='listContent'>
			<div class='listTitle'>
				<div class='left'>
					<h3><a href='http://huzhu.zz91.com/viewReply{{list.id}}.htm') target='_blank'><b>{{list.title}}</b></a></h3>
					<span class='subTitle'></span>
				</div>
				<div class='postTime'>{{list.gmt_time}}</div>
			</div>
		</div>
		</li>
	</ul> 
	{% endfor %}
	<div class='pageBar'>
		{% if firstpage %}
		<a href="/tagsbbsList/{{kname_bg}}-1/" title="首 页" style="margin-right:5px;">首 页</a>&nbsp;
		<a href="/tagsbbsList/{{kname_bg}}-{{prvpage}}/" title="上一页" style="margin-right:5px;">上一页</a>&nbsp; 
		{% endif %}
		{% for p in page_range %}
		{% if p.nowpage %}
		<span class="cpb" style="margin-right:5px;">{{p.number}}</span>
		{% else %}
		<a href="/tagsbbsList/{{kname_bg}}-{{p.number}}/" title="第{{p.number}}页" style="margin-right:5px;">{{p.number}}</a>
		{% endif %}
		{% endfor %}
		&nbsp;
		{% if lastpage%}
		<a href="/tagsbbsList/{{kname_bg}}-{{nextpage}}/" title="下一页" style="margin-right:5px;">下一页</a>&nbsp;
		<a href="/tagsbbsList/{{kname_bg}}-{{page_listcount}}/" title="末 页" style="margin-right:5px;">末 页</a>&nbsp;
		{% endif %}
	</div> 
</div>
</div>
{% include 'includes/right.html' %}
</div>
{% include 'includes/buttom.html' %}
</body>
</html>