@charset "utf-8";

body{margin:0;padding:0}
.top{height:503px;background:url(../images/top.jpg) no-repeat;background-position:center}

.i-top{height:734px;background:url(../images/qd.jpg) no-repeat;position:relative}
.i-middle{height:619px;background:url(../images/jf.jpg) no-repeat}
.i-bottom{height:595px;background:url(../images/lw.jpg) no-repeat}

.i-txt{position:absolute;top:420px;left:235px}
.i-txt a{color:#1e71c0}
.i-img{width:131px;height:222px;position:absolute;top:125px;right:40px}

