body{
	font-family: "微软雅黑";
	background: url(../images/footbg.jpg) no-repeat center bottom #ddf2ff;
}
.bandimg{
	background: url(../images/bandimg.jpg) no-repeat center #17a2fd;
	height: 500px;
	min-width: 1000px;
	margin: 0 auto
}
.content{
	margin: 0 auto;
	width: 1000px;
	background-color: #fff;
	padding-bottom: 60px;
}
.thisyear{
	line-height: 34px;
	text-indent: 2em;
	padding: 25px 22px;
	font-size: 14px;
}
.five-big-ul{
	padding-left: 20px;
	padding-bottom: 40px;
}
.five-big-ul li{
	float: left;
	width: 219px;
}
.five-big-ul .lastli{
	width: 84px;
}
.seebig{
	padding-left: 17px;
}
.seebig li{
	width: 190px;
	float: left;
	height: 60px;
	background-color: #e6e6e6;
	margin-left: 3px;
	cursor: pointer;
}
.seebig li i{
	display:block;
	background:url(../images/fontimg2.png) no-repeat; 
	width: 190px;
	height: 60px;
}
.seebig .this-seebig{
	background-color: #17a2fd
}
.seebig li .seebig-img1{
	background-position: 46px 7px;
}
.seebig li .seebig-img2{
	background-position: 8px -42px;
}
.seebig li .seebig-img3{
	background-position: 58px -100px;
}
.seebig li .seebig-img4{
	background-position: 44px -156px;
}
.seebig li .seebig-img5{
	height: 40px;
	margin-top: 7px;
	background-position: 46px -200px;
}
.seebig .this-seebig i{
	background:url(../images/fontimg1.png) no-repeat; 
}
.seebig .this-seebig .seebig-img1{
	background-position: 46px 7px;
}
.seebig .this-seebig .seebig-img2{
	background-position: 8px -42px;
}
.seebig .this-seebig .seebig-img3{
	background-position: 58px -100px;
}
.seebig .this-seebig .seebig-img4{
	background-position: 44px -156px;
}
.seebig .this-seebig .seebig-img5{
	background-position: 46px -200px;
}


.one-tell{
	font-size: 14px;
	color: #666666;
	padding: 17px 20px;
	line-height: 24px;
	text-indent: 2em
}
.typebig-events li{
	float: left;
	width: 305px;
	height: 240px;
	background-color: #dcf1ff;
	margin-left: 20px;
}
.events-title{
	height: 42px;
	padding-top: 18px;
}
.events-title i{
	display:block;
	width: 36px;
	border-bottom: 2px solid #009aff;
	background:url(../images/fontimg2.png) no-repeat;
	height: 22px;
	margin:0 auto ;
}
.events-title .events-img1{
	background-position: -198px -15px;
}
.events-title .events-img2{
	background-position: -198px -49px;
}
.events-title .events-img3{
	background-position: -198px -89px;
}
.events-sm{
	padding: 0 19px;
	line-height: 24px;
	font-size: 14px;
	text-indent: 2em
}
.events-sm p{
	text-indent: 2em
}
.color-66{
	color: #666
}

.xguan-wz{
	padding: 0 20px;
}

.xguan-mo{
	width: 305px;
	padding-top: 10px;
}
.xguan-mo2{
	margin-left: 20px;
}
.xguan-bt{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	font-size: 16px;
}
.xguan-ul li{
	margin: 0 15px;
	line-height: 44px;
	border-bottom:1px dotted #adadad;
	font-size: 14px;
}
.xguan-ul li a{
	color: #666666
}
.zc-mo{
	margin: 0 20px 15px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.zc-bt{
	color: #17a2fd;
	font-size: 16px;
	float: left;
}
.zc-bt i{
	display: inline-block;
	width: 17px;
	height: 13px;
	background:url(../images/fontimg2.png) no-repeat;
	background-position: -200px -182px;
	margin-right: 20px;
	overflow: hidden;
}
.zctime{
	color: #666;
	float: right;
	line-height: 24px;
	display: inline-block;
}
.zc-content{
	margin-top: 15px;
}
.zc-content p{
	text-indent: 2em;
	line-height: 24px;
	font-size: 14px;
	color: #666666;
}
.color-00{
	color: #000
}
.zc-wz{
	margin-top: 20px;
	font-size: 14px;
}
.zc-wz-ljie{
	margin-top: 10px;
}
.zc-wz-ljie a{
	color: #666;
	font-size: 14px;
}
.dier{
	display: inline-block;
	margin-left: 130px;
}
.zc-wz-ljie span{
	display: inline-block;
	width: 300px;
	margin-right: 20px;
	border-bottom: 1px dotted #999999;
	padding: 10px 0
}
.zc-wz-ljie .notright{
	margin-right: 0;
}
.zc-wz-ljie .bottomnot{
	border-bottom: 0;
}
.xguan-mo-big{
	width: 470px;
}
.events-sm2{
	color: #666
}
.typebig-events2 li{
	width: 470px;
	height: 220px;
}
.events-title .events-img4{
	background-position: -198px -125px;
	width: 70px;
}
.events-title .events-img5{
	background-position: -198px -158px;
}
.typebig-events3 li{
	height: 500px;
	color: #666
}

.foot{
	width: 1000px;
	margin: 0 auto;
	text-indent: 2em;
	color: #fff;
	height: 144px;
	background-color: #17a2fd
}
.foot p{
	padding-top: 20px;
	font-size: 14px;
	line-height: 24px;
}
.blue{
	color: #009aff
}