<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>江苏塑料产业带</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
<link rel="stylesheet" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" href="css/index.css" />
<script type="text/javascript" src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/css/zz91.common.css">
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/newindex/css/index.css">
        <!--[if IE 6]> 
            <script src="js/clarity.js"></script> 
            <script type="text/javascript">
            DD_belatedPNG.fix('img');
            DD_belatedPNG.fix('.page');
            </script>  
        <![endif]-->
</head>
<body>
<div class="page">
    <div class="right-nav-dd">
        <h3>东莞塑料专区导航</h3>
        <div>塑料原料区</div>
        <div>塑料废料区</div>
        <div>再生塑料区</div>
        <div>塑料助剂区</div>
        <div>塑料处理设备区</div>
        <div class="gotop">返回顶部</div>
    </div>
	<div class="band">
    </div>
    <div class="content clearfix">

        <div class="xxin-main clearfix">
            <div class="hot-yliao fl">
                <h3 class="hot-title">塑料原料区</h3>
                <div class="hot-cp">
                    <h4 class="small-hottl">热门产品</h4>
                    <div class="hotcp-list">
                        <ul class="hotcp-ul clearfix">
                            <li><a href="http://slyl.zz91.com/js/abs/gy/" target="_">ABS</a></li>
                            <li><a href="http://slyl.zz91.com/js/pc/gy/" target="_">PC</a></li>
                            <li><a href="http://slyl.zz91.com/js/ldpe/gy/" target="_">LDPE</a></li>
                            <li><a href="http://slyl.zz91.com/js/pp/gy/" target="_">PP</a></li>
                            <li><a href="http://slyl.zz91.com/js/hdpe/gy/" target="_">HDPE</a></li>
                            <li><a href="http://slyl.zz91.com/js/pbt/gy/" target="_">PBT</a></li>
                            <li><a href="http://slyl.zz91.com/js/tpu/gy/" target="_">TPU</a></li>
                            <li><a href="http://slyl.zz91.com/js/pa66/gy/" target="_">PA66</a></li>
                            <li><a href="http://slyl.zz91.com/js/eva/gy/" target="_">EVA</a></li>
                            <li><a href="http://slyl.zz91.com/js/pc-abs/gy/" target="_">PC/ABS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="hot-sj">
                    <h4 class="small-hottl">热门供应商</h4>
                    <div class="sj-list">
                        <a href="http://hongshx.zz91.com/" target="_">兴化市红盛化纤粒子有限公司</a>
                        <a href="http://wjm.zz91.com/" target="_">无锡科泰工程塑料有限公司</a>
                        <a href="http://aipurui.zz91.com/" target="_">常州艾普瑞塑料制品有限公司</a>
                        <a href="http://company.zz91.com/compinfo11393.htm" target="_">常州市中云塑业有限公司</a>
                        <a href="http://company.zz91.com/compinfo123477944.htm" target="_">常州旭御塑料有限公司</a>
                        <a href="http://company.zz91.com/compinfo123474428.htm" target="_">个体经营（许家国）</a>
                        <a href="http://company.zz91.com/compinfo292480.htm" target="_">江苏舜天利华</a>
                        <a href="http://company.zz91.com/compinfo123456910.htm" target="_">苏州北振国际贸易有限公司</a>
                        <a href="http://company.zz91.com/compinfo123457255.htm" target="_">苏州得尔利塑化有限公司</a>
                        <a href="http://company.zz91.com/compinfo123457190.htm" target="_">苏州邦展工程塑料有限公司</a>
                    </div>
                </div>
            </div>
            <div class="mo-info fr">
                <div ><img src="images/zdie.png"></div>
                <div class="title">
                    <span class="fl">优质货源</span>
                    <a class="fr" href="http://slyl.zz91.com/js/gy/" target="_">更多货源>></a>
                </div>
                <ul class="info-list clearfix info-list-bottom">
                    <li>
                        <div class="cp-xinx">
                            <a href="http://slyl.zz91.com/detail/24121.html" target="_" title="供应PBT/巴斯夫/0048">
                                <img src="http://img1.zz91.com/yuanliao/2015/12/3/1449108511497.jpg" class="info-img">
                                <p class="cp-gy">供应PBT/巴斯夫/0048</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">4000-4300</span> 元/吨</p>
                         <p class="minute">厂家:德国巴斯夫</p>
                        <p class="minute">牌号:0048 </p>
                        <p class="minute"><a href="http://hongshx.zz91.com/" target="_">兴化市红盛化纤粒子有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://slyl.zz91.com/detail/24425.html" target="_" title="供应各种颜色透明PC/无锡科泰工程塑料有限公司/塑料颗粒">
                                <img src="http://img1.zz91.com/products/2015/12/11/1449835454239.jpg" class="info-img">
                                <p class="cp-gy">供应各种颜色透明PC/无锡科泰工程塑料有限公司/塑料颗粒</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">9000-13500</span> 元/吨</p>
                         <p class="minute">厂家:无锡</p>
                        <p class="minute">牌号:各种颜色透明PC塑料颗粒 </p>
                        <p class="minute"><a href="http://wjm.zz91.com/" target="_">无锡科泰工程塑料有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://slyl.zz91.com/detail/24339.html" target="_" title="供应PBT/山东潍焦/ZX-90010<">
                                <img src="http://img1.zz91.com/yuanliao/2015/12/28/1451280929996.jpg" class="info-img">
                                <p class="cp-gy">供应PBT/山东潍焦/ZX-90010</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">8300-8400</span> 元/吨</p>
                         <p class="minute">厂家:其他</p>
                        <p class="minute">牌号:ZX-90010 </p>
                        <p class="minute"><a href="http://aipurui.zz91.com/" target="_">常州艾普瑞塑料制品有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://slyl.zz91.com/detail/24341.html" target="_" title="供应PC/江苏常州/PC01-001">
                                <img src="http://img1.zz91.com/yuanliao/2015/12/28/1451281496348.jpg" class="info-img">
                                <p class="cp-gy">供应PC/江苏常州/PC01-001</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">15500</span> 元/吨</p>
                         <p class="minute">厂家:其他</p>
                        <p class="minute">牌号:PC01-001 </p>
                        <p class="minute"><a href="http://aipurui.zz91.com/" target="_">常州艾普瑞塑料制品有限公司</a></p>
                    </li>
                </ul>
                <ul class="info-list clearfix info-list-bottom">
                    <li>
                        <div class="cp-xinx">
                            <a href="http://slyl.zz91.com/detail/24236.html" target="_" title="供应PP/江苏/3105">
                                <img src="http://img1.zz91.com/yuanliao/2015/12/15/1450185928454.jpg" class="info-img">
                                <p class="cp-gy">供应PP/江苏/3105</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">4500</span> 元/吨</p>
                         <p class="minute">厂家:江苏</p>
                        <p class="minute">牌号:3105 </p>
                        <p class="minute"><a href="http://company.zz91.com/compinfo123474428.htm" target="_">个体经营（沈阳）</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href=" http://slyl.zz91.com/detail/24542.html" target="_" title="供应PA66/日本东丽/CM3004-V0 阻燃级,热稳定性">
                                <img src="http://img1.zz91.com/yuanliao/2016/1/21/1453359441931.jpg" class="info-img">
                                <p class="cp-gy">供应PA66/日本东丽/CM3004-V0 阻燃级,热稳定性</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">30</span> 元/千克</p>
                         <p class="minute">厂家:日本东丽</p>
                        <p class="minute">牌号:CM3004 </p>
                        <p class="minute"><a href="http://company.zz91.com/compinfo123456910.htm" target="_">苏州北振国际贸易有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://slyl.zz91.com/detail/24194.html" target="_" title="供应美国产ABS粒子">
                                <img src="http://img1.zz91.com/yuanliao/2015/12/9/1449624837325.jpg" class="info-img">
                                <p class="cp-gy">供应美国产ABS粒子</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">6500</span> 元/吨</p>
                         <p class="minute">厂家:美国</p>
                        <p class="minute">牌号:ABS粒子 </p>
                        <p class="minute"><a href=" http://company.zz91.com/compinfo292480.htm" target="_">江苏舜天利华</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://slyl.zz91.com/detail/24543.html" target="_" title="供应POM/美国杜邦/100PE NC010">
                                <img src="http://img1.zz91.com/yuanliao/2016/1/21/1453359788148.jpg" class="info-img">
                                <p class="cp-gy">供应POM/美国杜邦/100PE NC010</p>
                            </a>
                        </div>
                        <p class="minute">价格:<span class="red">35</span> 元/千克</p>
                         <p class="minute">厂家:美国杜邦</p>
                        <p class="minute">牌号:100PE NC010 </p>
                        <p class="minute"><a href="http://company.zz91.com/compinfo123456910.htm" target="_">苏州北振国际贸易有限公司</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="xxin-main clearfix">
            <div class="hot-yliao fl">
                <h3 class="hot-title">塑料废料区</h3>
                <div class="hot-sj">
                    <h4 class="small-hottl">热门供应商</h4>
                    <div class="sj-list sj-list2">
                        <a href="http://www.zz91.com/ppc/index1041123.htm" target="_">常州国星特种化纤有限公司</a>
                        <a href="http://changtai.zz91.com/" target="_">连云港昌泰再生资源利用有限公司</a>
                        <a href="http://wengqs.zz91.com/" target="_">强盛再生资源有限公司</a>
                        <a href="http://zhaguohua.zz91.com/" target="_">个体经营（查国华）</a>
                        <a href="http://www.zz91.com/ppc/index1042636.htm" target="_">个体经营(王科)</a>
                        <a href="http://xujg.zz91.com/" target="_">个体经营（沈阳）</a>
                        <a href="http://lix.zz91.com/" target="_">个体经营（李祥）</a>
                        <a href="http://wangyc.zz91.com/" target="_">个体经营（王亚程）</a>
                    </div>
                </div>
            </div>
            <div class="mo-info fr">
                <div ><img src="images/zdie.png"></div>
                <div class="title">
                    <span class="fl">优质货源</span>
                    <a class="fr" href="http://trade.zz91.com/trade/s-e5ba9fe5a191e69699.html?ptype=0&province=%E6%B1%9F%E8%8B%8F&posttime=" target="_">更多货源>></a>
                </div>
                <ul class="info-list clearfix">
                    <li>
                        <div class="cp-xinx">
                            <a href=" http://trade.zz91.com/productdetails999764.htm" target="_" title="供应GPPS杂色水口破碎,GPPS边角,GPPS块料">
                                <img src="http://img3.zz91.com/625x600/products/2012/12/25/8db68743-9711-469f-8732-d6b93e4e43bd.jpg" class="info-img">
                                <p class="cp-gy">供应GPPS杂色水口破碎,GPPS边角,GPPS块料</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">6500.0-7000.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red">200 </span> 吨 </p>
                        <p class="minute"><a href="http://wengqs.zz91.com/"  target="_">强盛再生资源有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href=" http://trade.zz91.com/productdetails966329.htm" target="_" title="供应PP透明低粘卷筒">
                                <img src="http://img3.zz91.com/625x600/products/2012/10/25/d15a761c-32b0-4600-9b14-4d8ea60fb1ed.jpg" class="info-img">
                                <p class="cp-gy">供应PP透明低粘卷筒</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">7000.0</span> 元/吨 </p>
                        <p class="minute">数量：<span class="red"> 20 </span> 吨 </p>
                        <p class="minute"><a href="http://wengqs.zz91.com/"  target="_">强盛再生资源有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails988558.htm" target="_" title="供应GPPS杂色粉碎料">
                                <img src="http://img3.zz91.com/625x600/products/2012/12/4/71372857-47b3-4d3e-82d6-87c7dc1b0cc7.jpg" class="info-img">
                                <p class="cp-gy">供应GPPS杂色粉碎料</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">7500.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red"> 20 </span> 吨 </p>
                        <p class="minute"><a href="http://tangweicai.zz91.com/"  target="_">个体经营（唐先生）</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails622848.htm" target="_" title="供应灰色PPR管材粉粹料">
                                <img src="http://img3.zz91.com/625x600/products/2011/5/20/20161029.JPG" class="info-img">
                                <p class="cp-gy">供应灰色PPR管材粉粹料</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">7100.0-7200.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red">100 </span> 吨 </p>
                        <p class="minute"><a href=" http://guodawei.zz91.com/"  target="_">宿迁经济开发区悦豪废品购销经营部</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="xxin-main clearfix">
            <div class="hot-yliao fl">
                <h3 class="hot-title">再生塑料区</h3>
                <div class="hot-sj">
                    <h4 class="small-hottl">热门供应商</h4>
                    <div class="sj-list sj-list2">
                        <a href="http://wangjh.zz91.com/" target="_">苏州锐派工程塑料有限公司</a>
                        <a href="http://guodawei.zz91.com/" target="_">宿迁经济开发区悦豪废品购销经营部</a>
                        <a href="http://www.zz91.com/ppc/index1069228.htm" title="常州市武进区南夏墅镇忠良塑料回粒厂" target="_">常州市武进区南夏墅镇忠良塑料...</a>
                        <a href="http://gtwy.zz91.com/" target="_">个体经营（汪勇）</a>
                        <a href="http://tianpeng.zz91.com/" target="_">江苏天朋塑料再生有限公司</a>
                        <a href="http://jiang.zz91.com/" target="_">个体经营（蒋先生）</a>
                        <a href="http://tians.zz91.com/" target="_">宿迁市天晟塑料有限公司</a>
                        <a href="http://sjy.zz91.com/" target="_">个体经营(孙金友)</a>
                    </div>
                </div>
            </div>
            <div class="mo-info fr">
                <div ><img src="images/zdie.png"></div>
                <div class="title">
                    <span class="fl">优质货源</span>
                    <a class="fr" href="http://trade.zz91.com/trade/s-e5868de7949fe5a191e69699.html?ptype=0&province=%E6%B1%9F%E8%8B%8F&posttime=" target="_">更多货源>></a>
                </div>
                <ul class="info-list clearfix">
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails411835.htm" target="_" title="供应PC/ABS再生颗粒">
                                <img src="http://img3.zz91.com/625x600/products/2013/9/4/56f52c5c-d599-450e-9702-72c0c2321bc3.jpg" class="info-img">
                                <p class="cp-gy">供应PC/ABS再生颗粒</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">6500.0-8000.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red">100 </span> 吨 </p>
                        <p class="minute"><a href="http://xwsuye.zz91.com/"  target="_">苏州鑫旺塑业有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails1398624.htm" target="_" title="供应PPR塑料颗粒">
                                <img src="http://img3.zz91.com/625x600/products/2014/9/15/8d1e8609-6f10-4d79-ad93-389954680c89.jpg" class="info-img">
                                <p class="cp-gy">供应PPR塑料颗粒</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">7100.0-7600.0</span> 元/吨 </p>
                        <p class="minute">数量：<span class="red"> 100 </span> 吨 </p>
                        <p class="minute"><a href=" http://ppqx.zz91.com/"  target="_">个体经营（刘可）</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://www.zz91.com/ppc/productdetail1464193.htm" target="_" title="供应LDPE高压再生颗粒">
                                <img src="http://img3.zz91.com/625x600/products/2015/4/28/1430188554335.jpg" class="info-img">
                                <p class="cp-gy">供应LDPE高压再生颗粒</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">6400.0-7000.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red"> 800 </span> 吨 </p>
                        <p class="minute"><a href="http://www.zz91.com/ppc/index421777.htm"  target="_">个体经营（蔡宜轩）</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails1403136.htm" target="_" title="供应EVA一级料">
                                <img src="http://img3.zz91.com/625x600/products/2014/5/20/31237162-b44e-4906-95e0-de63ad4deebb.jpg" class="info-img">
                                <p class="cp-gy">供应EVA一级料</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">7800.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red">50 </span> 吨 </p>
                        <p class="minute"><a href="http://gangfengdl.zz91.com/"  target="_">常熟市王稳塑料制品贸易有限公司</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="xxin-main clearfix">
            <div class="hot-yliao fl">
                <h3 class="hot-title">塑料助剂区</h3>
                <div class="hot-sj">
                    <h4 class="small-hottl">热门供应商</h4>
                    <div class="sj-list sj-list2">
                        <a href="http://hongshx.zz91.com/" target="_">兴化市红盛化纤粒子有限公司</a>
                        <a href="http://changtai.zz91.com/" target="_">连云港昌泰再生资源利用有限公司</a>
                        <a href="http://chenyulong.zz91.com/" target="_">个体经营(陈先生)</a>
                        <a href="http://hutj.zz91.com/" target="_">个体经营（胡女士）</a>
                        <a href="http://yuxiaobo.zz91.com/" target="_">丹阳市腾上塑料制品有限公司</a>
                        <a href="http://liuxh.zz91.com/" target="_">个体经营（刘新宏）</a>
                        <a href="http://www.zz91.com/ppc/index970899.htm" target="_">个体经营（朱周）</a>
                        <a href="http://fuq.zz91.com/" target="_">个体经营（付强）</a>
                    </div>
                </div>
            </div>
            <div class="mo-info fr">
                <div ><img src="images/zdie.png"></div>
                <div class="title">
                    <span class="fl">优质货源</span>
                    <a class="fr" href="http://trade.zz91.com/trade/s-e5a191e69699e58aa9e58982.html?ptype=0&province=%E6%B1%9F%E8%8B%8F&posttime=" target="_">更多货源>></a>
                </div>
                <ul class="info-list clearfix">
                    <li>
                        <div class="cp-xinx">
                            <a href=" http://trade.zz91.com/productdetails1466073.htm" target="_" title="供应改性剂">
                                <img src="http://img3.zz91.com/625x600/products/2014/11/11/593ca32a-02b3-48e3-97e8-a2525edaf64f.jpg" class="info-img">
                                <p class="cp-gy">供应改性剂</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">13000.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red">20 </span> 吨 </p>
                        <p class="minute"><a href="http://chenyulong.zz91.com/"  target="_">个体经营(陈先生)</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href=" http://trade.zz91.com/productdetails833477.htm" target="_" title="供应粘合剂 PVA副牌料">
                                <img src="http://img3.zz91.com/625x600/products/2014/3/27/09d02a08-59b3-42c2-9b7c-b9b1abdec9a8.jpg" class="info-img">
                                <p class="cp-gy">供应粘合剂 PVA副牌料</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red"></span> 面议 </p>
                        <p class="minute">数量：<span class="red"> 50 </span> 吨 </p>
                        <p class="minute"><a href=" http://fuq.zz91.com/"  target="_">个体经营（付强）</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails1477163.htm" target="_" title="供应光盘油墨分解剂,光盘脱墨剂,光盘退漆剂,PC光盘脱墨剂">
                                <img src="http://img3.zz91.com/625x600/products/2015/1/31/1422706854310.jpg" class="info-img">
                                <p class="cp-gy">供应光盘油墨分解剂,光盘脱墨剂,光盘退漆剂,PC光盘脱墨剂</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red"></span> 面议或电议</p>
                        <p class="minute">数量：<span class="red"> 100 </span> 吨 </p>
                        <p class="minute"><a href="http://liuxh.zz91.com/"  target="_">个体经营（刘新宏）</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails1399262.htm" target="_" title="供应ABS增韧剂">
                                <img src="http://img3.zz91.com/625x600/products/2014/5/5/1a6af4d5-2ce2-4f5a-933c-522072bddd6f.jpg" class="info-img">
                                <p class="cp-gy">供应ABS增韧剂</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">8000.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red">50 </span> 吨 </p>
                        <p class="minute"><a href="http://chenyulong.zz91.com/"  target="_">个体经营(陈先生)</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="xxin-main clearfix">
            <div class="hot-yliao fl">
                <h3 class="hot-title">塑料处理设备区</h3>
                <div class="hot-sj">
                    <h4 class="small-hottl">热门供应商</h4>
                    <div class="sj-list sj-list2">
                        <a href="http://kailongjx.zz91.com/" target="_">苏州开隆机械有限公司</a>
                        <a href="http://zszykj.zz91.com/" title="联盈再生资源科技(张家港)发展有限公司--大江机械" target="_">联盈再生资源科技(张家港)发展...</a>
                        <a href="http://wangtf.zz91.com/" target="_">个体经营（王同峰）</a>
                        <a href="http://petfuheliao.zz91.com/" target="_">鑫旺物资</a>
                        <a href="http://ntwj.zz91.com/" target="_">南通望杰机械制造有限公司</a>
                        <a href="http://njhw.zz91.com/" target="_">南京环务资源再生科技有限公司</a>
                        <a href="http://company.zz91.com/compinfo968611.htm" target="_">张家港市科仁机械有限公司</a>
                        <a href="http://company.zz91.com/compinfo648275.htm" target="_">常熟市首誉机械有限公司</a>
                    </div>
                </div>
            </div>
            <div class="mo-info fr">
                <div ><img src="images/zdie.png"></div>
                <div class="title">
                    <span class="fl">优质货源</span>
                    <a class="fr" href="http://trade.zz91.com/trade/s-e5ba9fe5a191e69699e5a484e79086e8aebee5a487.html?ptype=0&province=%E6%B1%9F%E8%8B%8F&posttime=" target="_">更多货源>></a>
                </div>
                <ul class="info-list clearfix">
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails890675.htm" target="_" title="供应泡沫制造机">
                                <img src="http://img3.zz91.com/625x600/products/2012/7/3/7adf817f-3034-46d5-9591-77014ff07a38.jpg" class="info-img">
                                <p class="cp-gy">供应泡沫制造机</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">120000.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red">100 </span> 吨 </p>
                        <p class="minute"><a href="http://zszykj.zz91.com/"  target="_">联盈再生资源科技(张家港)发展有限公司--大江机械</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails1492494.htm" target="_" title="供应大型单轴撕碎机">
                                <img src="http://img3.zz91.com/625x600/products/2015/4/11/1428736489661.jpg" class="info-img">
                                <p class="cp-gy">供应大型单轴撕碎机</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red"></span> 面议 </p>
                        <p class="minute">数量：<span class="red"> 9 </span> 台 </p>
                        <p class="minute"><a href="http://kailongjx.zz91.com/"  target="_">苏州开隆机械有限公司</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails1074521.htm" target="_" title="供应PET压缩瓶脱标机">
                                <img src="http://img3.zz91.com/625x600/products/2013/6/3/16aafcf2-7934-4ea5-8529-652e2d08e709.jpg" class="info-img">
                                <p class="cp-gy">供应PET压缩瓶脱标机</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red">48000.0</span> 元/吨</p>
                        <p class="minute">数量：<span class="red"> 100 </span> 吨 </p>
                        <p class="minute"><a href="http://zszykj.zz91.com/"  target="_">联盈再生资源科技(张家港)发展有限公司--大江机械</a></p>
                    </li>
                    <li>
                        <div class="cp-xinx">
                            <a href="http://trade.zz91.com/productdetails476994.htm" target="_" title="供应PET瓶脱标机">
                                <img src=" http://img3.zz91.com/625x600/products/2010/3/1184612.JPG" class="info-img">
                                <p class="cp-gy">供应PET瓶脱标机</p>
                            </a>
                        </div>
                        <p class="minute">价格：<span class="red"></span> 面议或电议</p>
                        <p class="minute">数量：<span class="red"> 9 </span> 台 </p>
                        <p class="minute"><a href="http://kailongjx.zz91.com/"  target="_">苏州开隆机械有限公司</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'html/comm/buttom.html' %}
    
</div>
</body>
<script type="text/javascript">
    $(".right-nav-dd").find("div").live("click",function(){
        $(window).unbind("scroll")
        if($(this).hasClass("gotop")){
            $("body,html").animate({"scrollTop":"0px"});
            return;
        }
        $(this).addClass("now_ht").siblings().removeClass("now_ht");
        var index = $(this).index() - 1;
        var topHt = $(".mo-info").eq(index).offset().top;
        $("body,html").animate({"scrollTop":topHt+"px"},function(){
            $(window).scroll(function(){
                goDiv();
            })
        })
    })
    var htList = [];
    for(var i=0;i<$(".mo-info").length;i++){
        var topHt = $(".mo-info").eq(i).offset().top;
        htList.push(topHt);
    }
    $(window).scroll(function(){
        goDiv();
    })
    function goDiv(){
        var wdHeight = $(window).scrollTop()+314;
        if(wdHeight>=htList[0]&&wdHeight<htList[1]){
            $(".right-nav-dd div").eq(0).addClass("now_ht").siblings().removeClass("now_ht");
        }else if(wdHeight>=htList[1]&&wdHeight<htList[2]){
            $(".right-nav-dd div").eq(1).addClass("now_ht").siblings().removeClass("now_ht");
        }
        else if(wdHeight>=htList[2]&&wdHeight<htList[3]){
            $(".right-nav-dd div").eq(2).addClass("now_ht").siblings().removeClass("now_ht");
        }
        else if(wdHeight>=htList[3]&&wdHeight<htList[4]){
            $(".right-nav-dd div").eq(3).addClass("now_ht").siblings().removeClass("now_ht");
        }   
        else if(wdHeight>htList[4]){
            $(".right-nav-dd div").eq(4).addClass("now_ht").siblings().removeClass("now_ht");
        }
    }
</script>
<!--baidu analysis-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff41f07cad5c54cf66717306958dd62ed' type='text/javascript'%3E%3C/script%3E"));
</script>
</html>