@charset "utf-8";

body{background:#069b44;}
.content{margin-bottom:30px; width:100%}
.main{width:100%;margin:0 auto}
.top-bg{width:100%;margin:0 auto}
.top{ text-align:center; padding-top:40px}
.topbg{
	background-image:url(../images/top.jpg);
	height: 155px;
	background-repeat: repeat-x;
	background-position: center;
	width:95%;
	margin:0 auto;
}
.topnav{ position:fixed; top:0px; line-height:40px; width:100%;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#060),	color-stop(0.85, #090), color-stop(0.86, #090) );border-right:1px solid #D15F00;
-webkit-box-shadow: #666 0px 0px 20px;
-moz-box-shadow: #666 0px 0px 20px;
box-shadow: #333 0px 0px 20px;
}
.topnav a{ float:left; text-align:center; width:25%; color:#fff; font-weight:bold; font-size:14px; display:block}
.topnav a:hover{
	color:#FFF;
	text-decoration: none;
}

.top img {width:100%}
.top_txt{padding:20px 20px;color:#fff;}
.top_txt1{float:left}
.txt1-1{margin:0 20px;float:left;color:#fff}
.t-box{ margin-left:10px; margin-top:20px;}

.top-txt{color:#fff; text-align:left; line-height:30px; font-size:16px; font-weight:bold}
.top-txt1{color:#fff; float:left; margin-right:10px; line-height:30px;font-size:16px; font-weight:bold}
.mbutton a{
	line-height: 30px;
	width: 80px;
	color:#FFF;
	font-size:14px;
	display:block;
	float:left;
	text-align:center;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FC9701),	color-stop(0.85, #F56D01), color-stop(0.86, #F56D01) );
	-webkit-box-shadow: #666 0px 0px 3px;
-moz-box-shadow: #666 0px 0px 3px;
box-shadow: #333 0px 0px 3px;
}
.mbutton a:hover{
	color:#FFF
}
.scorenum{
	font-size:20px;
}

.t1{float:left; width:100%}
.listSelect {margin:2px 2px;border:1px solid #e3e4eb;font-size:110%;border:5px;list-style-type: none}
.listSelect li:first-child {background-color:#f0f0f0;text-align:center;padding:10px}
.listSelect li {background-color:#fff;position:relative}


.list{width:95%;margin:0 auto; margin-bottom:80px;}
.l-content{}
.l-content1{padding-top:25px}
.l-item{display:inline}
.l-item li{ overflow:hidden;}
.l-item .listnav{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FC9701),	color-stop(0.85, #F56D01), color-stop(0.86, #F56D01) );}
.l-item .listtr{background-color: #FFF;}
.l-item-txt{width:33%;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FC9701),	color-stop(0.85, #F56D01), color-stop(0.86, #F56D01) );text-align:center;line-height:35px;overflow:hidden;float:left;display:inline;font-size:14px;color:#fff;font-weight:bold;border-right:1px solid #D15F00}
.l-item-txt3{width:48%;text-align:center;line-height:35px;overflow:hidden;float:left;display:inline;font-size:14px;color:#fff;font-weight:bold;}
.l-item-txt4{width:48%;text-align:center;line-height:35px;overflow:hidden;float:right;font-size:14px;color:#fff;font-weight:bold;}
.l-item-txt4_on{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FC9701),	color-stop(0.85, #F56D01), color-stop(0.86, #F56D01) );}
.l-item-txt4_off{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F90),	color-stop(0.85, #FC0), color-stop(0.86, #FC0) );}
.l-item-txtn{border-right:0px}
.l-item-txt2{width:33.3%;height:35px;background:#2b9f32;text-align:center;line-height:35px;overflow:hidden;float:left;display:inline;font-size:18px;color:#fff;font-weight:bold}
.l-item-txt1{width:33.3%;height:35px;background:#fff;text-align:center;line-height:35px;overflow:hidden;float:left;display:inline;font-size:14px;border-bottom:1px dashed #ccc}
.l-item-title{width:50%;height:35px;line-height:35px;background:#f87e00;text-align:center;overflow:hidden;float:left;display:inline;font-size:18px;color:#fff;font-weight:bold}
.l-item-title1{width:50%;height:35px;line-height:35px;background:#fd9c12;text-align:center;overflow:hidden;float:left;display:inline;font-size:18px;color:#fff;font-weight:bold}

.list-page {background:#fff; color:#333}
.list-page-before a {width:15%;height:30px;line-height:30px;text-align:center;border:1px solid #c6c6c6;display:inline-block;float:left;margin-left:24%}
.list-page-item select{width:15%;height:30px;line-height:text-align:center;display:inline-block;margin:0 2%;float:left}
.list-page-next a {width:15%;height:30px;line-height:30px;text-align:center;border:1px solid #c6c6c6;display:inline-block;float:left}

.middle{}
.m-item{height:40px;float:left}
.m-item-left{width:50%;height:40px;line-height:40px;background:#fda827;float:left}
.m-item-right{width:50%;height:40px;line-height:40px;background:#fa8701;float:left}
.m-item1{height:87px;line-height:87px;background:#FFF;margin:0 15px}



.floatNav{width:100%;height:55px;background:#fff;position:fixed;bottom:0px;line-height:55px;text-align:center; z-index:888; border-top:1px solid #CCC;
-webkit-box-shadow: #666 0px 0px 10px;
-moz-box-shadow: #666 0px 0px 10px;
box-shadow: #333 0px 0px 10px;
}
.floatNav a{width:33%;display:block; float:left; text-align:center; overflow:hidden;font-size:14px;background:url(../images/line.jpg) no-repeat 0px 7px}
.floatNav a:active{color:#ff0}
font{color:#F00}

.modifymobile{
	padding:20px;
	text-align:center;
	line-height:30px;
}
.modifymobile .txt{
	line-height:25px;
	width:60%;
}
.mobilebutton_gree{
	padding-left:15px;
	padding-right:15px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#060),	color-stop(0.85, #090), color-stop(0.86, #090) );
	line-height:30px;
	border: solid 1px #060;
	color:#FFF;
	margin:0 auto;
}

.prizelist{
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color:#FFF
}
.prizelist .p-pic{
	float:left;
	width:15%;
	text-align:center;
	margin-right:10px;
}
.prizelist .p-pic img{
	width:100%;
}
.prizelist .p-content {
	float:left;
	width:60%;
	line-height:25px;
}
.prizelist .p-content h2{
	font-size:14px;
	display:block;
}
.prizelist .p-content span{
	font-size:14px;
	display:block;
}
.prizelist .p-duihuan{
	float:right;
	width:20%;
}
.prizelist .p-duihuan span{
	color: #FFF;
	background-color: #F60;
	padding: 5px;
	display:block;
	text-align:center;
	float:right;
	width:90px;
	margin-top:10px;
}
.alertcontent{
	padding:15px;
	line-height:25px;
	text-align:left;
	font-size:14px;
}