<style>
body{background-color: #fff;}
	.postmain{padding: 30px;height: 100%;width: 100%;}
	.posttitle{padding: 20px;
	text-align: center;
		color: #CF2D28;
		border-bottom: solid 1px #006600;
		
	}
</style>
<div class="postmain">
	<div class="posttitle">请选择您要发布信息的类型</div>
	<a class="mui-btn mui-btn-block mui-btn-success" href="javascript:loaddata('http://app.zz91.com/post.html?sep=2&ptype=10331000')">供应信息</a>
    <a class="mui-btn mui-btn-block mui-btn-success" href="javascript:loaddata('http://app.zz91.com/post.html?sep=2&ptype=10331001')">求购信息</a>
</div>
<input type="hidden" id="appnavname" value="发布供求" />