<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta content="zz91.com" name="author">
<meta content="zz91.com" name="Copyright">
<meta content="zz91再生网感恩回馈,打造首个废料商城,各种热门废料专场接连上线,zz91品牌推荐,PVB\PS\PMMA\PET\PE等热门废塑料，废铜\废铝\废电机等黄金废料接踵而至，网上废料采购，首选废料商城！" name="Description">
<meta content="PVB专场,费金属专场,费塑料专场,PVB专场,PMMA专场,zz91,热门推荐,品牌推荐" name="Keywords">
<title>废料商城_废料供应专场_各种废料专卖_zz91品牌推荐</title>
<link href="http://subject.zz91.com/pinpai/css/style.css" rel="stylesheet" type="text/css">
<script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script>
function addbookmark(){
    var nome_sito = "pinpai.zz91.com V.2 品牌热门推荐 第三波 综合冷门";
    var url_sito = "http://pinpai.zz91.com";
    if ((navigator.appName == "Microsoft Internet Explorer") && (parseInt
        (navigator.appVersion) >= 4))
        window.external.AddFavorite(url_sito, nome_sito);
    else if (navigator.appName == "Netscape")
        window.sidebar.addPanel(nome_sito, url_sito, '');
    else
        alert("抱歉,网站没有成功添加到你的收藏夹!.");
}
</script>
</head>
<body>
<div id="topBar">
    <div id="topBarInfo">
        <div id="topBarLogin">
            <iframe src="http://china.zz91.com/status.htm" frameborder="0" width="450" height="28" allowtransparency="true" scrolling="no"></iframe>
        </div>
        <div id="topBarLink">
            <ul>
                <li class="tradAssi">
                    <a href="javascript:void(0)" class="nohover">交易助手</a>
                    <ul>
                        <li><a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank">发布供求</a></li>
                        <li><a href="http://myrc.zz91.com/mycompanyprice/createPrice.htm" target="_blank">发布报价</a></li>
                        <li><a href="http://myrc.zz91.com/subscribe/subscribeIndex.htm" target="_blank">商机定制</a></li>
                        <li class="selected"><a href="http://huzhu.zz91.com/postReply.htm" target="_blank" class="selected">发布帖子</a></li>
                    </ul>
                </li>
                <li><a href="http://www.recyclechina.com/">国际站</a></li>
                <li><a href="http://www.zz91.com/service/baidu/" target="_blank">百度优化</a></li>
                <li><a href="http://sms.zz91.com/" target="_blank">短信报价</a></li>
                <li><a href="http://www.zz91.com/specialsubject/hjzw/">黄金展位</a></li>
                <li><a href="http://www.zz91.com/service/ppt/index.asp">品牌通</a></li>
                <li><a href="http://www.zz91.com/service/zst/">再生通</a></li>
                <li><a href="http://myrc.zz91.com" target="_blank">生意管家</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="container">
	<div id="head">
        <div id="logo"><img src="http://subject.zz91.com/pinpai/images/logo.gif" alt="废料商城_废料供应专场_各种废料专卖_zz91品牌推荐"  /></div>
        <div id="navi">
            <ul>
                <li><a href="http://www.zz91.com" target="_blank">首页</a></li>
                <li style="width:80px;"><a href="http://trade.zz91.com/" target="_blank">交易中心</a></li>
                <li style="width:117px;"><a href="http://subject.zz91.com/carveout/compmore/" target="_blank">优质客户库</a></li>
                <li><a href="http://price.zz91.com/" target="_blank">行情报价</a></li>
            </ul>
        </div>
        <div id="navi2" style="position:relative;">
            <ul id="Js_select">
            	<li class="Astyle1"><a href="#">正在进行的活动</a></li>
            	<li><a href="#">已经结束的活动</a></li>
            	<!-- <li><a href="#">即将开始的活动</a></li> -->
        	</ul>
        	<!-- <img src="http://subject.zz91.com/pinpai/images/n01.gif" style="position:relative; left:-60px; top:8px;" /> -->     
    	</div>
    </div>
    <div class="activities">
        <div id="banner">
            <div class="tit">
               <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> PMMA专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">正在进行</span></h3>
            </div>
            <div class="img">
                <a href="http://subject.zz91.com/PMMA/index/" target="_blank"><img src="http://subject.zz91.com/pinpai/images/pmma.jpg" height="296" width="937" alt="pmma"/></a>  
            </div>
        </div>
    </div>
    <div class="activities" style="display: none">
        <div id="banner">
            <div class="tit">
               <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> PVB专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
                <a href="http://subject.zz91.com/pvb/index/" target="_blank"><img src="http://subject.zz91.com/pinpai/images/ago08.jpg" height="296" width="937" alt="PVB"/></a>  
            </div>
        </div> 
     	<div id="banner">
        	<div class="tit">
               <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航品牌热门推荐 机械设备专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
                <img src="http://subject.zz91.com/pinpai/images/ago9_01.gif" alt="限时购废钢材专场"/> 
                <img src="http://subject.zz91.com/pinpai/images/ago9_02.gif" alt="限时购废钢材专场"/> 
                <img src="http://subject.zz91.com/pinpai/images/ago9_03.gif" alt="限时购废钢材专场"/>  
            </div>
        </div>
     	<div id="banner" class="marginstyle3">
        	<div class="tit">
                <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航品牌热门推荐 废铜专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago8_01.gif" alt="限时购废铜专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago8_02.gif" alt="限时购废铜专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago8_03.gif" alt="限时购废铜专场"/>  
            </div>
        </div>
        <div id="banner" class="marginstyle3">
        	<div class="tit">
        	  <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航品牌热门推荐 机械设备专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago07_01.jpg" alt="限时购机械设备专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago07_02.jpg" alt="限时购机械设备专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago07_03.jpg" alt="限时购机械设备专场"/>  
            </div>
        </div>
        <div id="banner" class="marginstyle3">
        	<div class="tit">
        	   <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航品牌热门推荐 国外金属专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago06_01.jpg" alt="限时购国外金属专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago06_02.jpg" alt="限时购国外金属专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago06_03.jpg" alt="限时购国外金属专场"/>  
            </div>
        </div>
        <div id="banner" class="marginstyle3">
        	<div class="tit">
        	  <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航品牌热门推荐 金属专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago05_01.jpg" alt="5年领航品牌热门 金属专场"/>
                <img src="http://subject.zz91.com/pinpai/images/ago05_02.jpg" alt="5年领航品牌热门 金属专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago05_03.jpg" alt="5年领航品牌热门 金属专场"/>  
            </div>
        </div>
        <div id="banner" class="marginstyle3">
        	<div class="tit">
                <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航品牌热门推荐 废料专场  &nbsp;&nbsp;&nbsp;&nbsp; <img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/> <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago05_01.gif" alt="zz91.com 品牌热门推荐 第四波 PVB专场"/>
    			<img src="http://subject.zz91.com/pinpai/images/ago05_02.gif" alt="zz91.com 品牌热门推荐 第四波 PVB专场"/>
    			<img src="http://subject.zz91.com/pinpai/images/ago05_03.gif" alt="zz91.com 品牌热门推荐 第四波 PVB专场"/>
            </div>
        </div>
     	<div id="banner" class="marginstyle3">
        	<div class="tit">
                <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航倾情感恩回馈 综合专场  &nbsp;&nbsp;&nbsp;&nbsp; <img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/> <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago3_01.gif" alt="5年领航倾情感恩回馈 废塑料专场"/>
                <img src="http://subject.zz91.com/pinpai/images/ago3_02.gif" alt="5年领航倾情感恩回馈 废塑料专场"/>
                <img src="http://subject.zz91.com/pinpai/images/ago3_03.gif" alt="5年领航倾情感恩回馈 废塑料专场"/>
            </div>
        </div>
        <div id="banner" class="marginstyle3">
        	<div class="tit">
        	  <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航倾情感恩回馈 金属专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago_04.gif" alt="5年领航倾情感恩回馈 废塑料专场" style="left:-7px;"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago_05.gif" alt="5年领航倾情感恩回馈 废塑料专场" style="left:-7px;"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago_06.gif" alt="5年领航倾情感恩回馈 废塑料专场" style="left:-7px;"/>  
            </div>
        </div>
        <div id="banner" class="marginstyle3">
        	<div class="tit">
            <h3><img src="http://subject.zz91.com/pinpai/images/arrow.gif" /> 5年领航倾情感恩回馈 废塑料专场  &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://subject.zz91.com/pinpai/images/time2.gif"  style="position:relative; top:3px;"/>  <span class="fontstyle01">已结束</span></h3>
            </div>
            <div class="img">
            	<img src="http://subject.zz91.com/pinpai/images/ago_01.gif" alt="5年领航倾情感恩回馈 废塑料专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago_02.gif" alt="5年领航倾情感恩回馈 废塑料专场"/> 
            	<img src="http://subject.zz91.com/pinpai/images/ago_03.gif" alt="5年领航倾情感恩回馈 废塑料专场"/>  
            </div>
        </div>
    </div>
    <div id="clear"></div>
    <div id="footer"><a href="http://www.zz91.com/about/index.asp">关于我们</a> | <a href="http://www.zz91.com/cn/helpcenter/">新手指南</a> | <a href="http://www.zz91.com/cn/publish/zst_upgrade/payMethod.asp">支付方式</a> | <a href="http://www.zz91.com/about/contactus.asp">联系我们</a> | <a href="http://www.zz91.com/webmap.html">网站地图</a> | <a href="http://www.zz91.com/about/linkus.asp">友情链接</a> | <a href="http://www.zz91.com/about/question.asp">建议箱</a> <br />
     <a href="http://www.zz91.com" target="_blank">ZZ91.COM-中国再生资源交易网 </a> &copy; 版权所有<br />
地址：浙江省杭州市江干区九盛路9号东方电子商务园A13栋 邮编：310019 客服热线：0571-56612345  56611111 传真：0571-56637777 <br />
    <script src="http://s13.cnzz.com/stat.php?id=2490137&web_id=2490137&show=pic2"></script>
    </div>
</div>
<script>
$(function(){
    var flag = window.location.href.substring(23);
    if (flag === "#end") {
        $(".activities").eq(1).show().siblings(".activities").hide();    
    }
})
$('li.tradAssi').mousemove(function(){
    $(this).find('ul').slideDown("fast");//you can give it a speed
    $(this).find('a').first().addClass('ishover');
    $(this).find('a').first().removeClass('nohover');
  });
$('li.tradAssi').mouseleave(function(){
    $(this).find('ul').slideUp("fast");
    $(this).find('a').first().removeClass('ishover');
    $(this).find('a').first().addClass('nohover');
});
$("#Js_select").find("a").click(function(evt){
    evt.preventDefault();
    var index = $("#Js_select").find("a").index(this);
    $(".activities").eq(index).show().siblings(".activities").hide();
});
</script>
</body>
</html>
