<div class="top">
	<div class="top-main" style="position:relative">
    	<div class="top-left">
        	<a href="/"><img src="http://img0.zz91.com/zz91/mobile/images/index.png" /></a>
        </div>
        <div class="top-right" id="category">
            <img src="http://img0.zz91.com/zz91/mobile/images/icon2.png" />
        </div>
        <div class="cb"></div>
    </div>
    <!--end top-main-->
</div>

<!--end top-->
<div class="s_toplist" id="toplist">
    <div class="s_topwrap">
        <div class="box">
            <a href="/offerlist/?keywords=废金属">废金属</a>
            <a href="/offerlist/?keywords=废塑料">废塑料</a>
            <a href="/offerlist/?keywords=废电子电器">废电器</a>
            <a href="/offerlist/?keywords=废橡胶">废橡胶</a>
            <a href="/offerlist/?keywords=废纸">废纸</a>
        </div>
        <div class="box">
            <a href="/offerlist/?keywords=废皮革">废皮革</a>
            <a href="/offerlist/?keywords=废纺织品">废纺织品</a>
            <a href="/offerlist/?keywords=二手设备">二手设备</a>
            <a href="/offerlist/?keywords=废玻璃">废玻璃</a>
            <a href="/offerlist/?keywords=服务">服务</a>
        </div>
    </div>
    <div class="s_topline">	</div>
    <div class="box s_topbottom">
        <a href="/">首页</a><a href="/priceindex/">行情报价</a><a href="/category/">废料交易</a><a href="/huzhu/">再生互助</a><a href="/news/">资讯中心</a>
    </div>
    
    <div class="up pr">
        <i id="slideup"></i>
    </div>
</div>

<!--end s_toplist-->