<style>
	.myrcindex{line-height: 20px; text-align: left;}
	.myrcindex .mui-pull-left{width: 25px;height: 20px;overflow: hidden;vertical-align: middle;}
	.myrcindex .mui-media-body{padding-left: 10px;}
	.topmyrc{height:50px;background-color: #009900; text-align: center;color: #fff;line-height: 50px;}
</style>
<div class="topmyrc" id="navwelcome">
	欢迎您！{{contact}}
</div>
<ul class="mui-table-view myrcindex">
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/myrc_favorite/','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/sc.png"> 
			<div class="mui-media-body">我的收藏</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="post.html?sep=1">
			<img class="mui-pull-left" src="http://app.zz91.com/images/post.png">
			<div class="mui-media-body">发布供求</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/myrc_products/','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/gq.png">
			<div class="mui-media-body">我的供求</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/myrc_leavewords/','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/xp.png">
			<div class="mui-media-body">我的询盘</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/myrc_mycommunity/','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/sq.png">
			<div class="mui-media-body">我的社区</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/huzhu/?bbs_post_assist_id=12','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/3.png">
			<div class="mui-media-body">AQSIQ</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/invite/invite.html','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/invite.png">
			<div class="mui-media-body">邀请码</div>
		</a>
	</li>
</ul>
<ul class="mui-table-view myrcindex" style="margin-top: 25px;">
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/order/','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/sj.png">
			<div class="mui-media-body">商机定制</div>
		</a>
	</li>
	
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/myrc_collect/','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/dz.png">
			<div class="mui-media-body">我的定制</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/qianbao/','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/zs.png">
			<div class="mui-media-body">再生钱包</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/ldb_weixin/index.html','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/8.png">
			<div class="mui-media-body">来电宝</div>
		</a>
	</li>
</ul>

<ul class="mui-table-view myrcindex" style="margin-top: 25px;margin-bottom: 10px;">
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" href="javascript:gotourl('/info.html','blank');">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/3.png">
			<div class="mui-media-body">修改资料</div>
		</a>
	</li>
	<li class="mui-table-view-cell">
		<a class="mui-navigate-right" onclick="gotourl('modpasswd.html','blank')">
			<img class="mui-pull-left" src="http://m.zz91.com/images/qianbao/key.png">
			<div class="mui-media-body">修改密码</div>
		</a>
	</li>
</ul>


<div style="display: none;">
	<ul class="mui-table-view mui-grid-view mui-grid-9">
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/myrc_favorite/','favorite');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/sc.png"></span>
				<div>我的收藏</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/myrc_products/','blank');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/gq.png"></span>
				<div>我的供求</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/myrc_leavewords/','blank');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/xp.png">{%if leavewordscount%}<span class="mui-badge">{{leavewordscount}}</span>{%endif%}</span>
				<div>我的询盘</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/myrc_mycommunity/','blank');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/sq.png"></span>
				<div>我的社区</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/order/','order');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/sj.png"></span>
				<div>商机定制</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/myrc_collect/','myorder');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/dz.png"></span>
				<div>我的定制</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/qianbao/','qianbao');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/zs.png"></span>
				<div>再生钱包</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="post.html?sep=1">
				<span class="mui-icon myrcindex"><img src="http://app.zz91.com/images/post.png"></span>
				<div>发布供求</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="text-align:center">
			<a href="javascript:gotourl('/ldb_weixin/index.html','laidianbao');">
				<span class="mui-icon myrcindex"><img src="http://m.zz91.com/images/qianbao/8.png"></span>
				<div>来电宝</div>
			</a>
		</li>
	</ul>
</div>
<input type="hidden" id="appnavname" value="生意管家" />