<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>{{webtitle}}_ZZ91废料移动商务</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/zz91/mobile/css/moblie.css"/>
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script src="http://img0.zz91.com/zz91/mobile/js/style.js"></script>
</head>
<body style="background:#f1f1f1">
{%include 'top2.html'%}
<div class="mt48"></div>
<div class="search">
	<form action="/offerlist/" method="get">
	<div class="search-content">
    	<input type="text" name="keywords" value="" class="search-text" placeholder="请输入您要搜索的产品..." />
    </div>
    <div class="search-button">
    	<center>
    		<input type="submit" class="search-ok" value="搜  索" />
        </center>
    </div>
    <div class="cb"></div>
    </form>
</div>
<!--end search-->

<center>
	<div class="Collection">
    	<div class="Collection-block">
            <div class="collbox" style="margin-top:20px; margin-bottom:20px;"><a href="/myrc_collect/">查看我的商机定制</a></div>
            <div class="collbox"  style="margin-top:20px; margin-bottom:20px;"><a href="/myrc_collectprice/">查看我的行情定制</a></div>
        </div>
        <!--end Collection-block-->
    </div>
    <!--end Collection-->
</center>
<center><div class="lookorder"><a href="/order/">修改我的定制</a></div></center>
{%include 'bottom2.html'%}
</body>
</html>
