<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>水处理三大类技术</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/../../../../images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<script type="text/javascript" src="../../commjs/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../commjs/hb.comm.js" ></script>
<style type="text/css">
td{font-size:12px; font-family:"宋体"; line-height:24px; color:#555;}
img{border:0px;}
.xgzhinfo{padding-left:15px;}
.xgzhinfo a{color:#4f4f4f; font-size:12px; text-decoration:none;}
.xgzhinfo a:hover{color:#F00; text-decoration:underline;}
.xxjsinfo{font-size:12px; color:#3b3b3b;}
.xxjsinfo span{font-size:14px; font-weight:bold; color:#3b3b3b;}
.xxjsinfo a{color:#033774; font-size:12px; text-decoration:none;}
.xxjsinfo a:hover{color:#F00; text-decoration:underline;}
.zjcpinfo img{border:solid 1px #a2a2a2; padding:1px;}
.lycon{border-bottom:dashed 1px #C0C0C0;}
.lycon span{float:right;}
</style>
</head>

<body style="margin:0px;">
{%include 'html/comm/top.html'%}
<div style="width:960px; margin:0px auto;">
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/water_02.jpg" width="958" height="258" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#033774">
  <tr>
    <td width="106"><img src="../images/water_05.jpg" width="106" height="152" /></td>
    <td style="color:#FFF; font-size:14px; font-weight:bold; font-family:'微软雅黑'; text-indent:2em;">中国是一个干旱严重的国家。由于我国水资源短缺。水污染严重等现象，预计<br />
      水处理技术将是未来政策倾斜的重点行业之一。据姚明宽透露：将在&quot;完善政策体<br />
      系、形成激励机制&quot;、&quot;实施重点工程、拉动产业需求&quot;等六个方面对水处理产业<br />
    推出政策措施。那么您对水处理技术了解过吗？</td>
    <td><table width="316" border="0" cellspacing="0" cellpadding="0" background="../images/water_10.jpg">
      <tr>
        <td><img src="../images/water_08.jpg" width="316" height="40" /></td>
      </tr>
      <tr>
        <td class="xgzhinfo"><a href="http://www.huanbao.com/exhibit/details623.htm" target="_blank">2012年SMAGUA CHINA 水处理设备及工程展览会</a><br />
          <a href="http://www.huanbao.com/exhibit/details285.htm" target="_blank">2012荷兰阿姆斯特丹国际水处理展中国展览会</a><br />
          <a href="http://www.huanbao.com/exhibit/details622.htm" target="_blank">2012(第八届)中国国际水处理化学品技术及应用展览会</a><br />
          <a href="http://www.huanbao.com/exhibit/details717.htm" target="_blank">2012国际水处理化学品技术及应用展览会</a></td>
      </tr>
      <tr>
        <td><img src="../images/water_12.jpg" width="316" height="12" /></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/water_16.jpg">
  <tr>
    <td><img src="../images/water_15.jpg" width="183" height="39" /></td>
    <td>&nbsp;</td>
    <td width="11"><img src="../images/water_18.jpg" width="11" height="39" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border:solid 1px #033774; border-top:0px;">
  <tr>
    <td width="500" valign="top"><table width="100" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td height="50"><img src="../images/water_22.jpg" width="444" height="38" /></td>
      </tr>
        <tr>
          <td height="120" class="xxjsinfo" style="border-bottom:dashed 1px #c0c0c0;"><span>工业废水处理的十大难题</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;曾有舆论认为，世界上最难处理的工业废水在中国，这个说法虽然偏颇，但不无<br />
            道理，改革开放30年来，我国工业以密集、高速态势发展，发达国家产业转移之潮同<br />
          时也降临中国，工业产生的三废问题挤压着本就脆弱的生态环境...<a href="http://www.huanbao.com/news/details491.htm" target="_blank">[查看详细]</a></td>
        </tr>
        <tr>
          <td height="120" class="xxjsinfo" style="border-bottom:dashed 1px #c0c0c0;"><span>工业废水处理技术及回用技术进展</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;随着工业经济的迅猛发展，工业废水排放的大量有毒有害物质对环境生态安全造<br />
            成了严重的危害，水环境污染越来越严重，水体的承载能力受到严重的挑战，减少和<br />
          消除工业废水中的污染物质，减少其污染影响范围是当前环境保护...<a href="http://www.huanbao.com/news/details492.htm" target="_blank">[查看详细]</a></td>
        </tr>
        <tr>
          <td height="120" class="xxjsinfo"><span>我国工业废水处理技术发展</span><br />
            &nbsp;&nbsp;&nbsp;&nbsp;据调查，我国在工业废水污染治理方面做了大量的工作，污染治理技术、工业行<br />
            业的制造工艺的提高和改进让人看到了污染治理的希望。<br />
          造纸、味精、制药、煤化工等都是废水处理很难攻克的&quot;堡垒&quot;...<a href="http://www.huanbao.com/news/details494.htm" target="_blank">[查看详细]</a></td>
        </tr>
    </table></td>
    <td width="35"><img src="../images/water_23.jpg" width="35" height="379" /></td>
    <td width="470" valign="top"><table width="444" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="50"><img src="../images/water_24.jpg" width="443" height="38" /></td>
      </tr>
    </table>
      <table width="444" border="0" cellpadding="0" cellspacing="0" class="zjcpinfo">
        <tr align="center">
          <td><img src="../images/water_29.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_31.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_33-34.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_36.jpg" width="100" height="100" /></td>
        </tr>
        <tr align="center">
          <td height="50">钱易院士</td>
          <td>郑兴灿总工程师</td>
          <td>王宝贞院士</td>
          <td>毕学军教授</td>
        </tr>
      </table>
      <table width="444" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="50"><img src="../images/water_41.jpg" width="445" height="39" /></td>
        </tr>
    </table>
      <table width="444" border="0" cellpadding="0" cellspacing="0" class="zjcpinfo">
        <tr align="center">
          <td><img src="../images/water_45.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_47.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_49.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_51-52.jpg" width="100" height="100" /></td>
        </tr>
        <tr align="center">
          <td height="50">吸泥机</td>
          <td>浓缩脱水一体机</td>
          <td>冶金废水处理设备</td>
          <td>化工废水处理设备</td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/water_16.jpg">
  <tr>
    <td><img src="../images/water_59.jpg" width="207" height="39" /></td>
    <td>&nbsp;</td>
    <td width="11"><img src="../images/water_18.jpg" width="11" height="39" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border:solid 1px #033774; border-top:0px;">
  <tr>
    <td width="500" valign="top"><table width="100" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td height="50"><img src="../images/water_22.jpg" width="444" height="38" /></td>
      </tr>
      <tr>
        <td height="120" class="xxjsinfo" style="border-bottom:dashed 1px #c0c0c0;"><span>专家谈饮用水处理技术</span><br />
          &nbsp;&nbsp;&nbsp;&nbsp;非常高兴今天有这样一个机会可以跟食品界的专家做交流，以前的机会非常少，<br />
          我是第一次有这种机会。前面两个专家胡教授和叶教授从饮用水的污染和健康还有<br />
          标准方面都做了科普的介绍。我的报告比较专业，内容比较多...<a href="http://www.huanbao.com/news/details497.htm" target="_blank">[查看详细]</a></td>
      </tr>
      <tr>
        <td height="120" class="xxjsinfo" style="border-bottom:dashed 1px #c0c0c0;"><span>生活饮用水深度处理技术的现状与发展</span><br />
          &nbsp;&nbsp;&nbsp;&nbsp;改革开放以来,我国经济在不断的发展,而我国的水环境问题却日益严重,它不仅<br />
          影响着我国城市化的步伐,还成为了人类健康的潜在危害。造成这种现象的主要原因<br />
          之一就是常规的处理工艺对有些污染物的效果不明显...<a href="http://www.huanbao.com/news/details500.htm" target="_blank">[查看详细]</a></td>
      </tr>
      <tr>
        <td height="120" class="xxjsinfo"><span>饮用水处理工艺技术的研究进展</span><br />
          &nbsp;&nbsp;&nbsp;&nbsp;饮用水的净化技术与工程设施，是从人类和水源污染及由此引起的疾病所做的长<br />
          期斗争中产生和发展起来的。<br />
19世纪，欧美一些国家由于排出的污水、粪便和垃圾等使地表.<a href="http://www.huanbao.com/news/details499.htm" target="_blank">[查看详细]</a></td>
      </tr>
    </table></td>
    <td width="35"><img src="../images/water_23.jpg" width="35" height="379" /></td>
    <td width="470" valign="top"><table width="444" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="50"><img src="../images/water_24.jpg" width="443" height="38" /></td>
      </tr>
    </table>
      <table width="444" border="0" cellpadding="0" cellspacing="0" class="zjcpinfo">
        <tr align="center">
          <td><img src="../images/water_68.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_70.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_72.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_75.jpg" width="100" height="100" /></td>
        </tr>
        <tr align="center">
          <td height="50">丁爱中所长</td>
          <td>刘文君教授</td>
          <td>薛英超高级工程师</td>
          <td>尹澄清研究员</td>
        </tr>
      </table>
      <table width="444" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="50"><img src="../images/water_41.jpg" width="445" height="39" /></td>
        </tr>
      </table>
      <table width="444" border="0" cellpadding="0" cellspacing="0" class="zjcpinfo">
        <tr align="center">
          <td><img src="../images/water_83.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_85.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_87.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_89.jpg" width="100" height="100" /></td>
        </tr>
        <tr align="center">
          <td height="50">家用软水机</td>
          <td>纯水机</td>
          <td>净水器</td>
          <td>软化水设备</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/water_16.jpg">
  <tr>
    <td><img src="../images/water_94.jpg" width="190" height="39" /></td>
    <td>&nbsp;</td>
    <td width="11"><img src="../images/water_18.jpg" width="11" height="39" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border:solid 1px #033774; border-top:0px;">
  <tr>
    <td width="500" valign="top"><table width="100" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td height="50"><img src="../images/water_22.jpg" width="444" height="38" /></td>
      </tr>
      <tr>
        <td height="120" class="xxjsinfo" style="border-bottom:dashed 1px #c0c0c0;"><span>城市污水处理技术</span><br />
          &nbsp;&nbsp;&nbsp;&nbsp;水处理技术在污水处理中的运用广泛。处理城市污水所产生的二氧化碳排放量<br />
          包括两部分:将污水中的碳源(BOD)转化为二氧化碳,以及相应的动力消耗折合成二氧<br />
          化碳排放。从我国中长期发展战略来看,污染物减排将被放到首位..<a href="http://www.huanbao.com/news/details501.htm" target="_blank">[查看详细]</a></td>
      </tr>
      <tr>
        <td height="120" class="xxjsinfo" style="border-bottom:dashed 1px #c0c0c0;"><span>城市污水处理技术特点及工程建设体验</span><br />
          &nbsp;&nbsp;&nbsp;&nbsp;城市污水是城市发展中的产物。城市污水的早期处理是通过污水收集系统收集<br />
          排放到附近下游水体，使其经过水体的稀释和自然净化变污为清，变成我们可以循<br />
          环利用的资源。但是随着城市社会经济发展的规模越来越大...<a href="http://www.huanbao.com/news/details502.htm" target="_blank">[查看详细]</a></td>
      </tr>
      <tr>
        <td height="120" class="xxjsinfo"><span>城市污水处理及污染防治技术政策</span><br />
          &nbsp;&nbsp;&nbsp;&nbsp;为控制城市水污染，促进城市污水处理设施建设及相关产业的发展，根据《中<br />
          华人民共和国水污染防治法》、《中华人民共和国城市规划法》和《国务院关于环<br />
          境保护若干问题的决定》，制定本技术政策...<a href="http://www.huanbao.com/news/details503.htm" target="_blank">[查看详细]</a></td>
      </tr>
    </table></td>
    <td width="35"><img src="../images/water_23.jpg" width="35" height="379" /></td>
    <td width="470" valign="top"><table width="444" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="50"><img src="../images/water_24.jpg" width="443" height="38" /></td>
      </tr>
    </table>
      <table width="444" border="0" cellpadding="0" cellspacing="0" class="zjcpinfo">
        <tr align="center">
          <td><img src="../images/water_103.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_105.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_107.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_109.jpg" width="100" height="100" /></td>
        </tr>
        <tr align="center">
          <td height="50">马军副院长</td>
          <td>杨向平主任</td>
          <td>娄性义主任</td>
          <td>李笃中教授</td>
        </tr>
      </table>
      <table width="444" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="50"><img src="../images/water_41.jpg" width="445" height="39" /></td>
        </tr>
      </table>
      <table width="444" border="0" cellpadding="0" cellspacing="0" class="zjcpinfo">
        <tr align="center">
          <td><img src="../images/water_118.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_120.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_122.jpg" width="100" height="100" /></td>
          <td><img src="../images/water_124.jpg" width="100" height="100" /></td>
        </tr>
        <tr align="center">
          <td height="50">脱硫废水处理</td>
          <td>双栅式格栅除污机</td>
          <td>砂水分离器</td>
          <td>无轴压榨机</td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/water_129.jpg" width="958" height="159" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border:solid 1px #c0c0c0;">
  <tr><form id="form1" name="form1" method="post" action="">
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/water_133.jpg">
      <tr>
        <td><img src="../images/water_132.jpg" width="129" height="34" /></td>
        <td>&nbsp;</td>
      </tr>
    </table>
      <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>&nbsp;</td>
          </tr>
        <tr>
          <td class="lycon"><span>2011-11-15</span><strong>张三：</strong>学了好多专业知识，关注你们网站很久了，觉得你们网站非常不错！</td>
        </tr>
      </table>
      <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="border-bottom:solid 3px #c0c0c0;">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="80">&nbsp;</td>
          <td>&nbsp;</td>
          <td rowspan="5" align="center"><img src="../images/water_137.jpg" width="416" height="157" /></td>
        </tr>
        <tr>
          <td align="right"><strong>用户名：</strong></td>
          <td><input type="text" name="textfield" id="textfield" /></td>
          </tr>
        <tr>
          <td align="right"><strong>邮&nbsp;&nbsp;箱：</strong></td>
          <td><input type="text" name="textfield2" id="textfield2" /></td>
          </tr>
        <tr>
          <td align="right"><strong>留&nbsp;&nbsp;言：</strong></td>
          <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
          </tr>
        <tr>
          <td height="50">&nbsp;</td>
          <td><input type="image" src="../images/water_140.jpg" width="91" height="29" /></td>
          </tr>
    </table></td></form>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 3px #033774;">
  <tr>
    <td height="10"></td>
  </tr>
</table>
</div>
{% include 'html/comm/buttom.html' %}
</body>
</html>
