<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>"毒菜"敲响食品安全警钟</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/../../../images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<script type="text/javascript" src="../../commjs/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../commjs/hb.comm.js" ></script>
<style type="text/css">
td{font-size:14px; font-family:"宋体"; line-height:24px;}
img{border:0px;}
.infopaddin{padding:10px;}
.infopaddin span{font-weight:bold; color:#441c01;}
.infopaddin a{color:#0774ac; font-size:14px; text-decoration:none;}
.infopaddin a:hover{color:#F00; text-decoration:underline;}
.infopadcity{font-size:12px; padding:10px; line-height:20px;}
.infopadcity a{color:#0774ac; font-size:12px; text-decoration:none;}
.infopadcity a:hover{color:#F00; text-decoration:underline;}
.infoicytbj{border:solid 1px #aa8f6c; background-color:#ece0d1;}
.infocitytd{ padding-left:5px; padding-right:5px;}
.infocitytd a{color:#0774ac; font-size:12px; text-decoration:none;}
.infocitytd a:hover{color:#F00; text-decoration:underline;}
</style>
</head>

<body style="margin:0px;">
{%include 'html/comm/top.html'%}
<div style="width:958px; margin:0px auto;">
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/conveg_02.jpg" width="958" height="200" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#ddcfbd" class="infopaddin"><img src="../images/conveg_06.jpg" width="164" height="163" /></td>
    <td bgcolor="#ddcfbd" class="infopaddin">&nbsp;&nbsp;&nbsp;&nbsp;昨日人们尚处于&quot;甲醛白菜&quot;的不淡定之中，未曾料想，今日，韭菜又被曝出喷蓝矾水保鲜。甲醛也好，蓝矾也罢，目的都是为了保鲜。但恰恰是这样的&quot;保鲜&quot;让消费者不能淡定了!因为喷了蓝矾水的韭菜只看上去卖相好，吃到嘴里则
      又可能变成了&quot;罗密欧的毒药&quot;。据媒体暗访，在山东青州一些地方，为了保鲜，一些菜贩竟然给白菜喷甲醛溶液，据称
      这种方法已经沿用了三四年，在青州以外的地方也有人在用…先是吃出异物风波，再是死鱼风波，俏江南回锅油事件。<br />
      近年来，食品问题频频出现：毒奶粉、瘦肉精、染色馒头、塑化剂等等，还有最近央视曝光的&quot;氢化油&quot;。频频出现的<br />
    食品安全问题让消费者胆战心惊，不法商人却从中牟取暴利。</td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/conveg_10.jpg">
  <tr>
    <td width="10">&nbsp;</td>
    <td><img src="../images/conveg_09.jpg" width="164" height="39" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#DDCFBD" class="infopaddin"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%" height="230" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details8079.htm" target="_blank"><img src="../images/conveg_13.jpg" width="170" height="191" /></a></td>
            <td><span>&quot;瘦肉精&quot;事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;&quot;瘦肉精&quot;再度来袭！2011年央视315特别行动节目抛出一枚食品安全重弹，曝光了双汇在食品生产中使用&quot;瘦肉精&quot;猪肉。一时间，市场哗然。新闻曝光的济源双汇食品有限公司位于河南省济源市，是河南双汇集团下属的分公司，主要以生猪屠宰加工为主，有自己的连锁店和加盟店...<a href="http://www.huanbao.com/news/details8079.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
        <td width="10"></td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details8080.htm" target="_blank"><img src="../images/conveg_15.jpg" width="170" height="191" /></a></td>
            <td><span>俏江南"回锅油"事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;在轰轰烈烈的地沟油事件中&quot;俏江南&quot;南京店不幸卷入。川菜中经常需要先油炸加工，炸过的油扔了可惜，南京俏江南声称，&quot;水煮鱼的油都是给员工自己用了&quot;，并称&quot;员工宁肯自己吃回锅油也不端给客人食用&quot;南京俏江南冠冕堂皇的说法显然是对员工道德的过度拔高，令人难以信服...<a href="http://www.huanbao.com/news/details8080.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="230" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details6565.htm" target="_blank"><img src="../images/conveg_19.jpg" width="170" height="191" /></a></td>
            <td><span>&quot;地沟油&quot;事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;厂区一侧的仓库里，堆放着大量白色的劣质牛油，都用塑料袋装着，堆得有两米多高，有些融化了，流淌到路面上。废弃的牛油、鸡鸭油在这个工厂四处流淌，连水泥地踩着都黏糊糊的。<br />
              &nbsp;&nbsp;&nbsp;&nbsp;整个工厂都弥漫着一股酸臭味。在工厂
              仓库边上，两只油锅正冒着黑烟...<a href="http://www.huanbao.com/news/details6565.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
        <td></td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details8083.htm" target="_blank"><img src="../images/conveg_20.jpg" width="170" height="191" /></a></td>
            <td><span>&quot;血燕&quot;事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;何为血燕？金丝燕吐血而成，价值千金在高级营养品的江湖中，昂贵的血燕一直和这样的美丽传说相伴。<br />
&nbsp;&nbsp;&nbsp;&nbsp;而在浙江省工商局发布了血燕抽检报告传说被瞬间击得粉碎——此次共抽检血燕经销商491家，抽检血燕537批次，分别由浙江公正检验中心等6家检测机构进行...<a href="http://www.huanbao.com/news/details8083.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="230" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details8085.htm" target="_blank"><img src="../images/conveg_23.jpg" width="170" height="191" /></a></td>
            <td><span>&quot;染色馒头&quot;事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;高庄白馒头、黑米馒头和玉米馒头。在高庄白馒头的标签上标注的食品添加剂是维生素C。可事实上呢，活面工人用水泡上回收来的馒头之后，他又陆续往和面机里加了一些东西，这些东西又是什么呢？<br />
&nbsp;&nbsp;&nbsp;&nbsp;工人：(山梨酸钾是做什么用的？)防霉的呀，(防止馒头发霉的？)对...<a href="http://www.huanbao.com/news/details8085.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
        <td></td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details8088.htm" target="_blank"><img src="../images/conveg_24.jpg" width="170" height="191" /></a></td>
            <td><span>速冻水饺&quot;细菌门&quot;事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;2011年11月，&quot;思念&quot;、&quot;三全&quot;和&quot;湾仔码头&quot;等国内速冻食品知名品牌相继被检出金黄色葡萄球菌超标后，使得速冻食品行业陷入&quot;细菌门&quot;。&quot;金黄色葡萄球菌&quot;可导致腹泻与肺炎，加热30分钟才可杀灭。<br />
&nbsp;&nbsp;&nbsp;&nbsp;最近，一种名为&quot;金黄色葡萄球菌&quot;的细菌染指国内多家知名速冻食品...<a href="http://www.huanbao.com/news/details8088.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="230" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details5985.htm" target="_blank"><img src="../images/conveg_27.jpg" width="170" height="191" /></a></td>
            <td><span>&quot;工业明胶&quot;事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;近日，一则&quot;破皮鞋制成老酸奶和果冻&quot;的微博，在网上被转载多达13万余次。人们纷纷猜测，微博暗指老酸奶和果冻中添加了工业明胶。此微博一出，引起巨大反响。据各地媒体报道，老酸奶在全国面临滞销，就算打折优惠也无人问津。记者走访北京多家超市发现，老酸奶的货架的确冷...<a href="http://www.huanbao.com/news/details5985.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
        <td></td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180"><a href="http://www.huanbao.com/news/details6949.htm"><img src="../images/conveg_28.jpg" width="170" height="191" /></a></td>
            <td><span>&quot;甲醛保鲜&quot;事件</span><br />
              &nbsp;&nbsp;&nbsp;&nbsp;近日山东一市民反映，他发现白菜上有一种强烈刺鼻的味道，仔细观察，他发现菜贩会在白菜上喷洒一种溶剂，根据自己的判断，白菜很可能被喷上了一种特殊的保鲜剂——甲醛。当地记者的暗访调查证实了这位市民的猜想。有菜贩明确称，白菜使用了甲醛，因为现在的白菜水分多，外...<a href="http://www.huanbao.com/news/details6949.htm" target="_blank">[详细]</a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/conveg_10.jpg">
  <tr>
    <td width="10">&nbsp;</td>
    <td><img src="../images/conveg_31.jpg" width="94" height="39" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#DDCFBD" class="infopadcity"><table width="164" border="0" align="center" cellpadding="0" cellspacing="0" class="infoicytbj">
      <tr>
        <td><a href="http://www.huanbao.com/news/details8094.htm" target="_blank"><img src="../images/conveg_35.jpg" width="174" height="95" /></a></td>
      </tr>
      <tr>
        <td class="infocitytd" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;济南市食品安全举报奖励实施办法（试行）昨天公布实施。公众举报食品安全违法行为，经查证属实的，给予一次性奖励。最高奖一般不超30万元，举报人有特别重...<a href="http://www.huanbao.com/news/details8094.htm" target="_blank">[详细]</a></td>
      </tr>
    </table></td>
    <td bgcolor="#DDCFBD"><table width="174" border="0" align="center" cellpadding="0" cellspacing="0" class="infoicytbj">
      <tr>
        <td><a href="http://www.huanbao.com/news/details8096.htm" target="_blank"><img src="../images/conveg_37.jpg" width="174" height="95" /></a></td>
      </tr>
      <tr>
        <td class="infocitytd" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;近日，一条反映宁夏回族自治区当地一著名品牌酸奶存在严重质量问题的微博引发了网民的质疑和恐慌。而随着包括宁夏回族自治区副主席、银川市食品安全官方...<a href="http://www.huanbao.com/news/details8096.htm" target="_blank">[详细]</a></td>
      </tr>
    </table></td>
    <td bgcolor="#DDCFBD"><table width="174" border="0" align="center" cellpadding="0" cellspacing="0" class="infoicytbj">
      <tr>
        <td><a href="http://www.huanbao.com/news/details8101.htm" target="_blank"><img src="../images/conveg_39.jpg" width="174" height="95" /></a></td>
      </tr>
      <tr>
        <td class="infocitytd" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;在重庆市政府召开的&quot;肉类蔬菜流通追溯体系建设试点工作会&quot;上，我们得到了一个好消息。目前市商委协同各个部门，正在打造一种全新的&quot;肉类蔬菜流通追...<a href="http://www.huanbao.com/news/details8101.htm" target="_blank">[详细]</a></td>
      </tr>
    </table></td>
    <td bgcolor="#DDCFBD"><table width="174" border="0" align="center" cellpadding="0" cellspacing="0" class="infoicytbj">
      <tr>
        <td><a href="http://www.huanbao.com/news/details8102.htm" target="_blank"><img src="../images/conveg_41.jpg" width="174" height="95" /></a></td>
      </tr>
      <tr>
        <td class="infocitytd" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;据中央人民广播电台报道，浙江省将对前一阶段经查证核实的2起食品安全事件的举报人进行奖励。对一起案值较大案件的举报人，将给予30万元人民币的最高奖励...<a href="http://www.huanbao.com/news/details8102.htm" target="_blank">[详细]</a></td>
      </tr>
    </table></td>
    <td bgcolor="#DDCFBD"><table width="174" border="0" align="center" cellpadding="0" cellspacing="0" class="infoicytbj">
      <tr>
        <td><a href="http://www.huanbao.com/news/details7412.htm" target="_blank"><img src="../images/conveg_43.jpg" width="174" height="95" /></a></td>
      </tr>
      <tr>
        <td class="infocitytd" style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;&quot;哪怕只有0.001%的不合格，落到消费者头上就是百分百。我们须臾不敢掉以轻心&quot;，&quot;就是要坚持对食品安全问题&quot;零容忍&quot;，给老百姓以信心。&quot;5月14日北京召...<a href="http://www.huanbao.com/news/details7412.htm" target="_blank">[详细]</a></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/conveg_10.jpg">
  <tr>
    <td width="10">&nbsp;</td>
    <td><img src="../images/conveg_50.jpg" width="179" height="39" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="163" bgcolor="#ddcfbd" class="infopaddin"><img src="../images/conveg_53.jpg" width="163" height="163" /></td>
    <td bgcolor="#ddcfbd" class="infopaddin"><strong>食品安全问题已经成为国人挥之不去的梦魇</strong><br />      
      &nbsp;&nbsp;&nbsp;&nbsp;经历过三聚氰胺事件的重击、瘦肉精事件<br />
      的炸雷、上海染色馒头的喧闹，到如今的塑化<br />
      剂事件，中国人对于食品安全的态度早已变得<br />
      麻木和无奈，食品安全问题已然成为国人心中<br />
      挥之不去的梦魇...<a href="http://www.huanbao.com/news/details8103.htm" target="_blank">[详细]</a></td>
    <td bgcolor="#ddcfbd" class="infopaddin">&nbsp;</td>
    <td bgcolor="#ddcfbd" class="infopaddin" style="line-height:30px;"><strong>其他相关思考</strong><br />
      ·<a href="http://www.huanbao.com/news/details8104.htm" target="_blank" style="color:#000;">食品安全事件频发背后的成因归集</a><br />
      ·<a href="http://www.huanbao.com/news/details8106.htm" target="_blank" style="color:#000;">食品安全事件的&quot;负外部性&quot;</a><br />
      ·<a href="http://www.huanbao.com/news/details8108.htm" target="_blank" style="color:#000;">政府监管的着力点和缺陷</a><br />
    ·<a href="http://www.huanbao.com/news/details8109.htm" target="_blank" style="color:#000;">制度刚性化和民间维权组织的兴起</a></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 3px #ddcfbd;">
  <tr>
    <td height="10"></td>
  </tr>
</table>
</div>
{% include 'html/comm/buttom.html' %}
</body>
</html>
