
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet"  type="text/css"  href="/Skins/dc/css/style.css" />
<title>PC+ABS合金料,衣架,鼠标,充电器等配件专用料-东莞市吉成塑料抽粒厂</title>
<meta name="keywords" content="PP再生料 环保PP ,ABS再生料 防火ABS,PC/ABS再生料 防火PC/ABS,PA尼龙再生料">
<meta name="description" content="东莞市吉成塑料抽粒厂自产自销PP,ABS,PC/ABS,PA再生料，质量优良，价格合理且公道，诚信经营，互利共赢，如果有需要的朋友，可以与我们联系，联系电话：13528590315（周先生）。">
</head>

<body>

<div id="header">
   <div class="nav">  
   <div class="logo"><img src="/UpFile/logo.jpg" /></div>

<div class="sidebar" style="float: right;"><a href="http://www.pasjyl.com/" class="b" rel="nofollow">设为首页</a><a href="http://www.pasjyl.com/contactus.html" class="c" rel="nofollow">联系我们</a></div>

<!--sidebar-->
      <div class="menu" >
           <div class="menu_left"></div>
           <div class="menu_center">
              <ul>
<li class="selected"><a title="首页" href="/" class="home">首页</a></li>
<li><a href="http://www.pasjyl.com/aboutus.html" title="公司简介">公司简介</a></li>
                                
<li><a href="/chanpin/" onfocus="this.blur()">产品中心</a></li>

<li><a href="/gsdt/" onfocus="this.blur()">公司动态</a></li>
   
<li><a href="http://www.pasjyl.com/contactus.html" title="联系我们">联系我们</a></li>
<li style="width:160px; margin-left:10px">
<script language=JavaScript>
var today=new Date();
function initArray(){
this.length=initArray.arguments.length
for(var i=0;i<this.length;i++)
this[i+1]=initArray.arguments[i]  }
var d=new initArray(
"星期日",
"星期一",
"星期二",
"星期三",
"星期四",
"星期五",
"星期六");
document.write(
"<font color=#ffffff style='font-size:10pt;font-family: 宋体;margin-top:10px; margin-left:20px'> ",
today.getFullYear(),"年",
today.getMonth()+1,"月",
today.getDate(),"日",
d[today.getDay()+1],
"</font>" );
</script></li>
</ul> </div>
           <div class="menu_right"></div>
           <div class="clear"></div>
       </div> 
             <div class="clear"></div>
  </div>
   <div class="clear"></div>
</div><!--header end-->

<div class="banner"><img src="/UpFile/banner.gif"></div>
<!--main_nav-->
<div class="main_nav">  
   <div class="main_left">
  <!--start contact_nav-->
  <div class="contact_nav">
      <div class="title_pro">
       <div>
       <h3>新闻中心</h3>
        <a href="http://www.pasjyl.com/gsdt/" target="_blank" class="more"></a>
       </div>
      </div>
      <div class="con_content"> 
        <ul>
		  
        </ul>
        </div> 
        <div class="probottom"></div>
    </div>
   <!--contact_nav end-->
     <div class="procla">
         <div class="title_pro">
         	<div>
            <h3>产品列表</h3>
            <a href="http://www.pasjyl.com/chanpin/" target="_blank" class="more"></a>
            </div>
         </div>
         <div class="prolist">
           <ul>	           
           
             <li><b><a href="/PC/ABS再生颗粒/138.html"  title="PC+ABS合金料,衣架,鼠标,充电器等配件专用料" target="_blank">PC+ABS合金料,衣架,鼠标,充电器等配件专用料…</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/137.html"  title="PC/ABS白色手机壳专用料,充电器专用PC+ABS再生料" target="_blank">PC/ABS白色手机壳专用料,充电器专用PC+ABS再…</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/136.html"  title="环保PC+ABS再生料,鼠标,充电器专用PC/ABS再生料" target="_blank">环保PC+ABS再生料,鼠标,充电器专用PC/ABS再…</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/135.html"  title="PC/ABS环保防火黑色再生颗粒" target="_blank">PC/ABS环保防火黑色再生颗粒</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/134.html"  title="黑色PC/ABS合金颗粒,环保,防火,衣架料" target="_blank">黑色PC/ABS合金颗粒,环保,防火,衣架料</a></b></li>
            
           </ul>
         </div>
         <div class="probottom"></div>
      </div>
      <!--procla end-->
      <!--联系方式 -->
      <div class="procla">
         <div class="title_pro">
          <div>
            <h3>联系我们</h3><a href="http://www.pasjyl.com/contactus.html" target="_blank" class="more"></a>
            </div>
          </div>
          <div class="prolist">
           <ul>	           
             <li><b>联 系 人： 周道锦 </b></li>
              <li><b>电 话： 0769 89787630</b></li>
              <li><b>移动电话： 13528590315</b></li>
              <li><b>邮箱： yjsjyl@126.com </b></li>
              <li><b>地 址： 广东省东莞市樟木头塑胶城四期4栋21号</b></li>
           </ul>
         </div>
         <div class="probottom"></div>
      </div>
  </div>
  <!--mainleft end-->
  <div class="main_right">
    <div class="top_b"></div>
    <div class="cen_b">
      <div class="nei_title">
        <div class="left_t">
          <a href="http://www.pasjyl.com/">首页</a> - PC/ABS再生颗粒
        </div>
        
        <div class="clear"></div>
      </div>
      <div class="proinfo">
        <div class="proinfo_title"> <h2>PC+ABS合金料,衣架,鼠标,充电器等配件专用料</h2></div>
       
        <div class="prodetail">
          <p> 
<h3><span style="BACKGROUND-COLOR: #33ffff">PC/ABS黑色用途：适用于家用电器、手机、插座、插头、显示器外壳、笔记本外壳等塑料壳件。欢迎来电垂询,联系人周生：13528590315 QQ:815083630</span></h3>
<h3><br /><span style="BACKGROUND-COLOR: #33ffff">PC/ABS黑色阻燃VO，特级，光泽度更好，韧性相当于新料ABS,产品价格更低，性价比高&nbsp;&nbsp; 10500</span></h3>
<h3><span style="BACKGROUND-COLOR: #33ffff">PC/ABS黑色阻燃VO，环保特级，光泽度更好，韧性相当于新料ABS,产品价格更低，每一批次都有环保检测报告，性价比高&nbsp;&nbsp; 11200<br />PC/ABS黑色不阻燃，特级，光泽度更好，韧性相当于新料ABS,产品价格更低，解决工厂成本过高，性价比高&nbsp;&nbsp; 10500</span></h3>
<p><img src="/UpFile/201412/2014122458662489.jpg" alt="" /></p>
<p><img src="/UpFile/201412/2014122458670957.png" alt="" /></p>
<p>&nbsp;</p>
          </p>标签：<a href="/tags/?/PC%2BABS%BA%CF%BD%F0%C1%CF/" target="_blank">PC+ABS合金料</a> <a href="/tags/?/%D2%C2%BC%DC/" target="_blank">衣架</a> <a href="/tags/?/%CA%F3%B1%EA/" target="_blank">鼠标</a> <a href="/tags/?/%B3%E4%B5%E7%C6%F7%B5%C8%C5%E4%BC%FE%D7%A8%D3%C3%C1%CF/" target="_blank">充电器等配件专用料</a> 
        </div>
      </div>
    </div>
    <div class="bt_b"></div>  
  </div>
  <div class="clear"></div>
</div><!--main_nav End-->

<div class="footer">
   <div class="footer_list">
      <div class="foot_leftbg"></div>
      <div class="foot_cetbg"> 　<a href="/sitemap.html">网站地图</a> <a href="/sitemap.xml">XML</a>  <a href="/sitemap.html">HTML</a> </div>
      <div class="foot_rightbg"></div>
      <div class="clear"></div>
   </div>
   <div align="center">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcefbdb54362b12c7af7467293d0fbb60' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000471009'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1000471009%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
</script>
地址：广东省东莞市樟木头塑胶城四期4栋21号&#160;&#160;&#160;&#160;销售热线：0769-89787630</div>
    <div class="copydiv_row">Copyright(c) 2014 东莞市吉成塑料抽粒厂 All Rights Reserved </div>
</div>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"7","bdPos":"right","bdTop":"250"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>
