
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet"  type="text/css"  href="/Skins/dc/css/style.css" />
<title>公司简介-东莞市吉成塑料抽粒厂</title>
<meta name="keywords" content="PP再生料 环保PP ,ABS再生料 防火ABS,PC/ABS再生料 防火PC/ABS,PA尼龙再生料">
<meta name="description" content="东莞市吉成塑料抽粒厂自产自销PP,ABS,PC/ABS,PA再生料，质量优良，价格合理且公道，诚信经营，互利共赢，如果有需要的朋友，可以与我们联系，联系电话：13528590315（周先生）。">
</head>

<body>

<div id="header">
   <div class="nav">  
   <div class="logo"><img src="/UpFile/logo.jpg" /></div>

<div class="sidebar" style="float: right;"><a href="http://www.pasjyl.com/" class="b" rel="nofollow">设为首页</a><a href="http://www.pasjyl.com/contactus.html" class="c" rel="nofollow">联系我们</a></div>

<!--sidebar-->
      <div class="menu" >
           <div class="menu_left"></div>
           <div class="menu_center">
              <ul>
<li><a title="首页" href="/" class="home">首页</a></li>
<li class="selected"><a href="http://www.pasjyl.com/aboutus.html" title="公司简介">公司简介</a></li>
                                
<li><a href="/chanpin/" onfocus="this.blur()">产品中心</a></li>

<li><a href="/gsdt/" onfocus="this.blur()">公司动态</a></li>
 
<li><a href="http://www.pasjyl.com/contactus.html" title="联系我们">联系我们</a></li>  
<li style="width:160px; margin-left:10px">
<script language=JavaScript>
var today=new Date();
function initArray(){
this.length=initArray.arguments.length
for(var i=0;i<this.length;i++)
this[i+1]=initArray.arguments[i]  }
var d=new initArray(
"星期日",
"星期一",
"星期二",
"星期三",
"星期四",
"星期五",
"星期六");
document.write(
"<font color=#ffffff style='font-size:10pt;font-family: 宋体;margin-top:10px; margin-left:20px'> ",
today.getFullYear(),"年",
today.getMonth()+1,"月",
today.getDate(),"日",
d[today.getDay()+1],
"</font>" );
</script></li>
</ul> </div>
           <div class="menu_right"></div>
           <div class="clear"></div>
       </div> 
             <div class="clear"></div>
  </div>
   <div class="clear"></div>
</div><!--header end-->

<div class="banner"><img src="/UpFile/banner.gif"></div>


<!--main_nav-->
<div class="main_nav">  
   <div class="main_left">
  <!--start contact_nav-->
  <div class="contact_nav">
      <div class="title_pro">
       <div>
       <h3>新闻中心</h3>
        <a href="http://www.pasjyl.com/gsdt/" target="_blank" class="more"></a>
       </div>
      </div>
      <div class="con_content"> 
        <ul>
		  
        </ul>
        </div> 
        <div class="probottom"></div>
    </div>
   <!--contact_nav end-->
     <div class="procla">
         <div class="title_pro">
         	<div>
            <h3>产品列表</h3>
            <a href="http://www.pasjyl.com/chanpin/" target="_blank" class="more"></a>
            </div>
         </div>
         <div class="prolist">
           <ul>	           
           
             <li><b><a href="/PC/ABS再生颗粒/133.html"  title="灰白色PC+ABS阻燃电表壳专用料" target="_blank">灰白色PC+ABS阻燃电表壳专用料</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/132.html"  title="PC/ABS高光料,电视机外壳专用PC+ABS黑色高光料" target="_blank">PC/ABS高光料,电视机外壳专用PC+ABS黑色高光…</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/131.html"  title="高光PC+ABS手机壳料" target="_blank">高光PC+ABS手机壳料</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/130.html"  title="PC+ABS黑色防火环保再生料" target="_blank">PC+ABS黑色防火环保再生料</a></b></li>
           
             <li><b><a href="/PC/ABS再生颗粒/129.html"  title="阻燃环保淡灰色PC+ABS再生料" target="_blank">阻燃环保淡灰色PC+ABS再生料</a></b></li>
            
           </ul>
         </div>
         <div class="probottom"></div>
      </div>
      <!--procla end-->
      <!--联系方式 -->
      <div class="procla">
         <div class="title_pro">
          <div>
            <h3>联系我们</h3><a href="http://www.pasjyl.com/contactus.html" target="_blank" class="more"></a>
            </div>
          </div>
          <div class="prolist">
           <ul>	           
             <li><b>联 系 人： 周道锦 </b></li>
              <li><b>电 话： 0769 89787630</b></li>
              <li><b>移动电话： 13528590315</b></li>
              <li><b>邮箱： yjsjyl@126.com </b></li>
              <li><b>地 址： 广东省东莞市樟木头塑胶城四期4栋21号</b></li>
           </ul>
         </div>
         <div class="probottom"></div>
      </div>
  </div>
  <!--mainleft end-->
  <div class="main_right">
    <div class="top_b"></div>
    <div class="cen_b">
      <div class="nei_title">
        <div class="left_t">
          <a href="http://www.pasjyl.com/">首页</a>-公司简介
        </div>
        
        <div class="clear"></div>
      </div>
      <div class="proinfo">
        <div class="proinfo_title"><h2>公司简介</h2></div>
       
        <div class="prodetail">
          <p> 
　　本公司有自己的PA6/PA66改性厂，可根据客户的实际需求做出适当安排，使客户以最少的投入获取最大的回报。主营业务：PA6/PA66尼龙纯树脂，来样订做 PA6/PA66新料改性，副牌改性，再生料改性，高，中，低档，品种齐全。（PA6/PA66玻纤增强级：加玻纤6%-50%） PA6/PA66 增韧、无卤阻燃、热稳定、耐寒。椅脚专用料、把手料专用料、插座专用料。</p>
          <p> 　　本厂同时生产PP再生料企业、环保PP再生料、聚丙烯PP颗粒。 随着市场的需求，我们不断的扩大规模，提高技术和设备，现拥有五台单，双螺杆挤出机及各种测试仪器等生产设备，月产量450吨， 公司秉着重诚信，抓质量，做专业，稳定产量的现代化管理方式，在国内外有着极好的声誉。</p>
          <p>  本厂所生产的PP再生料颜色分别有白色，黑色，红色，蓝色，绿色及透明色。主要用于注塑，拉丝等产品；同时兼生产ABS,HIPS,PVC,HDPE,PA,LDPE,PS再生料；供货稳定及时，可根据客户要求制作！业务遍布全国各地，欢迎来电垂询，详谈 </p>
          标签：公司简介
        </div>
      </div>
    </div>
    <div class="bt_b"></div>  
  </div>
  <div class="clear"></div>
</div><!--main_nav End-->

<div class="footer">
   <div class="footer_list">
      <div class="foot_leftbg"></div>
      <div class="foot_cetbg"> 　<a href="/sitemap.html">网站地图</a> <a href="/sitemap.xml">XML</a>  <a href="/sitemap.html">HTML</a> </div>
      <div class="foot_rightbg"></div>
      <div class="clear"></div>
   </div>
   <div align="center">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcefbdb54362b12c7af7467293d0fbb60' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000471009'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1000471009%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
</script>
地址：广东省东莞市樟木头塑胶城四期4栋21号&#160;&#160;&#160;&#160;销售热线：0769-89787630</div>
    <div class="copydiv_row">Copyright(c) 2014 东莞市吉成塑料抽粒厂 All Rights Reserved </div>
</div>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"7","bdPos":"right","bdTop":"250"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>