@charset "utf-8";

body{background:#fbcb0f}

.focus-top{height:386px;background:url(../images/top.jpg) no-repeat;background-position:center}
.focus-main{width:960px;margin:0 auto}
.focus-img1{height:208px;background:url(../images/img1.jpg) no-repeat}
.focus-img2{height:481px;background:url(../images/img2.jpg) no-repeat;overflow:hidden;position:relative;z-index:10}
.focus-img3{width:960px;background:url(../images/img3.jpg) no-repeat #fff;overflow:hidden}
.focus-img2-a1{width:130px;height:20px;overflow:hidden;position:absolute;top:420px;left:50px;cursor:pointer}
.focus-img2-a1 a{width:130px;height:20px;display:block}
.focus-img2-a2{width:70px;height:20px;position:absolute;top:420px;right:50px;cursor:pointer}
.focus-img2-a2 a{width:70px;height:20px;display:block}

.focus-block{width:970px;margin-top:90px}
.focus-item{width:210px;height:265px;border:5px solid #f0f0f0;background:#f0f0f0;margin-bottom:20px;margin-right:20px;float:left;display:inline;position:relative; z-index:1}
.focus-item-img{width:210px;height:205px; text-align:center; display:table-cell;vertical-align: middle;*display: inline;*writing-mode: tb-rl;*text-align: center;*height: 100%; }
.focus-item-img img{}
.focus-item-text{width:210px;height:20px;overflow:hidden}
.focus-item-text a{
	color:#039
}
.focus-item-info{color:#666;float:left;display:inline}
.focus-item-num{width:70px;height:20px;background:url(../images/icon1.jpg) no-repeat 0px 5px;padding-left:10px;text-align:right;font-size:14px;float:right;display:inline}
.focus-box{width:190px;color:#666;line-height:20px;border:1px solid #ff9900;background:#ffffcc;padding:5px 10px;position:absolute;top:225px;;z-index:20;display:none}

.page{text-align:center;line-height:30px;margin:16px auto;vertical-align: middle;display: inline-block;text-align: center;*display:inline; zoom:1;}
.page_border{width:772px;border-top:1px solid #ccc;text-align:center;line-height:30px}
.page_up{float:left;width:55px;height:30px;border:1px solid #ccc}
.page_up a{color:#000;text-decoration:none;display:block;}
.page_ul{float:left;margin:0 8px}
.page_ul li{float:left;height:30px;border:1px solid #ccc;margin:0 1px;}
.page_ul li a{padding-left:10px; padding-right:10px;}
.page a{color:#000;text-decoration:none;display:block;}
.page_down{float:left;width:55px;height:30px;border:1px solid #ccc;margin:0 8px}
.page_num{float:left}
.page_num2{float:left;margin:0 8px}
.page_ok{float:left;line-height:20px; margin-top:4px}
.nowpage{font-weight: bold;color: #FFF;background-color: #090; color:#FFF}
.nowpage a{ color:#FFF}
.footer {width:960px; margin:0 auto; margin-top:20px; padding-top:12px; line-height:24px; border-top:2px solid #fbcb0f; text-align:center; color:#FFF }
.footer a{ color:#FFF}





