@charset "utf-8";


body{background:#faefdd}


.top {height:548px;background:url(../images/top.jpg) no-repeat;background-position:center}
.center {height:663px;background:url(../images/center.jpg) no-repeat;background-position:center}
.bottom {height:270px;background:url(../images/bottom.jpg) center bottom no-repeat;color:#fb4c55;}
.b2 a{color:#fb4c55;}
.b2 {width:900px;margin:0 auto;text-align:center;line-height:25px;border-top:2px solid #fb4c55;margin-top:20px;}