@charset "utf-8";
/* 供求页面 */
.c66{color:#888}
a{
	color:#666;
	text-decoration: none;
}
a:hover{
	color:#090;
	text-decoration: underline;
}
.logosearch{
	width:960px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.adbox img
{
	padding:2px;
}
.gold_wk img
{
	width:170px;
}
#mainBlock
{
	width:960px;
	margin:0 auto 0 auto;
}
#mainBlock img
{
	width:960px;
}
.logo{float:left;width:255px;margin-top:10px}
.top_search{float:left;width:575px;margin-left:30px}
.top_right{float:left;padding-top:16px;margin-top:10px}
.top_right_left{float:left;line-height:30px;margin:0 5px}
.top_right_right{float:left}
.top_right_right a{color:#000;text-decoration:none}
.top_right_right a:hover{text-decoration:underline}



.header{width:960px;margin:10px auto 10px auto}
.header .list_nav{margin:8px 0;float:left}
.header .list_info{margin:8px 0;float:right}
.mainline{height:2px;background:#009944;overflow:hidden;}

.main{width:960px;margin:0 auto;position:relative}
.mainblock1{width:960px;margin:8px auto; position:relative; z-index:999}
.mainblock1 .LeiBie{line-height:24px}
.mainblock1 .LeiBie .LeiBie_ul{float:left; clear:both;}
.mainblock1 .LeiBie .LeiBie_ul li{float:left;margin:0 5px; width:110px;overflow:hidden; text-overflow:ellipsis;	white-space:nowrap; }
.mainblock1 .LeiBie .LeiBie_ul li a{text-decoration:none;color:#1e50a2}
.mainblock1 .LeiBie .LeiBie_ul li a:hover{text-decoration:underline}
.mainblock1 .LeiBie .LeiBie_title{float:left}



.mainblock2{width:960px;margin:8px auto;border:1px solid #ccc; position:relative; z-index:900}
.mainblock2 .nav{height:35px;background:url(../images/nav_bg.jpg) repeat-x}
.mainblock2 .nav .left{float:left}
.mainblock2 .nav .left .nav_1{
	float:left;
	margin-right:8px;
	width:88px;
	text-align:center;
	line-height:26px;
	margin-top: 2px;
	margin-left: 8px;
}
.mainblock2 .nav .left .nav_on{
	background:#FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #ebebeb;
	border-right-color: #ebebeb;
	border-left-color: #ebebeb;
	border-right-width: 1px;
	border-left-width: 1px;
	font-weight: bold;
}
.mainblock2 .nav .left .nav_1 a{color:#000;text-decoration:none}
.mainblock2 .nav .right{float:right;width:88px;height:29px;text-align:center;line-height:29px}
.mainblock2 .nav .right a{text-decoration:none;color:#000}
.mainblock2 .search{width:942px;margin:0 auto;height:30px;padding:5px 8px}
.mainblock2 .search .search_LeiBiao{float:left}
.mainblock2 .search .search_content{float:left;margin-left:60px;line-height:24px}
.mainblock2 .search .search_Zi{float:left;margin-left:50px;line-height:24px}
.mainblock2 .search .search_phone{float:right;margin-top:8px}
.mainblock2 .search .search_select{width:66px;height:24px}
.search_text{
	float:left;
	width:200px;
	height:24px;
	line-height:24px;
	margin-right:10px;
	border: 1px solid #999;
}




.mainblock3{width:960px;margin:0 auto;}
.mainblock3 .left{width:754px;float:left}
.mainblock3 .left .item{
	width:754px;
	
	margin-bottom: 0px;
	padding-top: 16px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-left-color: #ccc;
	padding-bottom:15px;
	
}
.mainblock3 .left .bwtop{
	width:754px;
	margin-bottom: 0px;
	padding-top: 16px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 16px;
	margin-bottom:5px;
	background-image: url(../images/listbg.jpg);
	border: 1px solid #FC6;
	padding-bottom:15px;
	background-repeat: repeat-x;
}
.mainblock3 .left .page{text-align:center;margin:16px auto;vertical-align: middle;display: inline-block;text-align: center;*display:inline; zoom:1;}
.mainblock3 .left .page_border{
	width:772px;
	border-top:1px solid #ccc;
	text-align:center;
	line-height:30px
}
.mainblock3 .left .page .page_up{float:left;width:55px;height:30px;border:1px solid #ccc}
.mainblock3 .left .page .page_up a{color:#000;text-decoration:none;display:block;}
.mainblock3 .left .page .page_ul{float:left;margin:0 8px}
.mainblock3 .left .page .page_ul li{float:left;height:30px;border:1px solid #ccc;margin:0 1px;}
.mainblock3 .left .page .page_ul li a{padding-left:10px; padding-right:10px;}

.mainblock3 .left .page a{color:#000;text-decoration:none;display:block;}
.mainblock3 .left .page .page_down{float:left;width:55px;height:30px;border:1px solid #ccc;margin:0 8px}
.mainblock3 .left .page .page_num{float:left}
.mainblock3 .left .page .page_num2{float:left;margin:0 8px}
.mainblock3 .left .page .page_ok{float:left;line-height:20px; margin-top:4px;}
.page_text{width:36px;height:24px}
.info{width:440px;height:24px;margin:8px auto;line-height:24px;text-align:center}
.mainblock3 .left .page a:hover{
	color: #FFF;
	background-color: #090;
}
.mainblock3 .left .page span
{
	display:block;
	float:left;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}
.mainblock3 .left .page .nowpage{
	font-weight: bold;
	color: #FFF;
	background-color: #090;
}



.mainblock3 .right{width:170px;float:right}
.mainblock3 .right .banner{margin-left:0px;margin-bottom:16px}
.BiaoQian{width:168px;border:1px solid #ccc;background:#f9f9f9;margin-bottom:16px}
.BiaoQian .title{
	line-height:40px;
	padding-left:8px;
	font-size:14px
}
.mainblock3 .item .time{color:#999}

.BiaoQian .FaBu{height:50px;background:#fff;line-height:50px;background:url(../images/fabu2.jpg) no-repeat 20px 10px;text-align:center}
.BiaoQian .FaBu a{text-decoration:none;color:#FFF}





.mainblock4{width:960px;border:1px solid #ccc;margin:0 auto}
.mainblock4 .title{height:40px;background:#f9f9f9;line-height:40px;padding:0 8px}
.mainblock4 .title .title_left{float:left;}
.mainblock4 .title .title_left a{font-size:14px;font-weight:700;text-decoration:none;color:#060}
.mainblock4 .title .title_right{float:right}
.mainblock4 .title .title_right a{text-decoration:none;color:#000}
.mainblock4 .content{height:220px;background:#f9f9f9;border-top:1px solid #ccc}
.mainblock4 .content .item{width:140px;text-align:center;margin:8px 8px 0 8px;float:left;display:inline}
.mainblock4 .mainblock4_ul{padding:8px;width:}
.mainblock4 .Interest{background:#f9f9f9;border-top:1px solid #ccc;line-height:20px;padding:8px}





.mainblock5{width:960px;margin:16px auto;}



img{border:none; vertical-align:bottom; }
.zi1{color:#ff0000; font-weight:bold}
.zi2{display:block;float:left;margin-right:24px}
.zi3{width:50px}
.zi4{float:left;margin:0 16px;width:395px}
.zi4_top a{text-decoration:none;color:#1e50a2;font-size:14px;font-weight:700}
.zi4_top a:hover{text-decoration:underline}
.zi4_center{color:#666; height:40px}
.zi4_down{ color:#666}
.zi4_down a{text-decoration:none;color:#1e50a2}
.zi4_down a:hover{text-decoration:underline;color:#1e50a2}
.zi5{float:left;width:110px;text-align:center}
.zi5_down a{text-decoration:none;color:#000}
.zi6{float:right;width:175px;margin-left:16px}
.zicompinfo{position:relative; z-index:2}
.zi6_top a{
	text-decoration:underline;
	color:#000;
	
}
.zi6_top a:hover{text-decoration:underline}
.zi6_center{margin-top:8px}
.zi6_down{margin-top:8px}
.zi6_down .zaixian{padding-left:20px;background:url(../images/zaixian.png) no-repeat;float:left;margin-right:10px}
.zi6_down .zaixian a{text-decoration:none;color:#000}
.zi6_down .zaixian a:hover{text-decoration:underline;color:#1e50a2}
.zi6_down .phone{padding-left:20px;background:url(../images/phone1.png) no-repeat;float:left}
.zi6_down .phone a{text-decoration:none;color:#000}
.zi6_down .phone a:hover{text-decoration:underline;color:#1e50a2}
.zi7{color:#d72d00}
.zi8{float:left}
.zi8 a{color:#000;text-decoration:none}
.zi9{float:left;margin:0 50px;width:109px;height:27px;background:url(../images/fabu.jpg) no-repeat}
.zi9 a{color:#fff;text-decoration:none}
.zi10{float:left}
.zi10 a{color:#1e50a2;text-decoration:none}
.zi11{overflow:hidden; text-overflow:ellipsis;white-space:nowrap;width:150px;}
.zi12{overflow:hidden; text-overflow:ellipsis;white-space:nowrap;width:150px;color:#999}
.zi12 a{color:#999}
.zi13{margin-top:8px}
.zi13 a{color:#1e50a2;text-decoration:none}
.zi13 a:hover{text-decoration:underline}
.zi14{margin:8px auto;color:#d72d00}
.zi15{width:84px;height:28px;margin:8px auto 0 auto;line-height:28px;background:url(../images/liuyan.jpg) no-repeat}
.zi15 a{color:#fff;text-decoration:none}
.zi16{color:#000;font-size:14px;font-weight:700}
.zi17{float:left}
.zi18{float:right}
.zi19{clear:both;}
.zi20{width:90px;float:left; line-height:22px;}
.zi21{float:left;margin:7px 0 0 10px;width:10px;height:10px;background:url(../images/areaDown0.png) no-repeat}
.zi22{margin-bottom:10px}
.zi23{color:#cb7575;font-weight:700; line-height:25px;}
.zi24{line-height:24px}
.zi25{margin-left:200px}

#postoffers{}
.companyprice
{
	background-color: #f9f9f9;
	border: 1px solid #CCC;
	margin-bottom:10px;
	margin-top:10px;
}


.i1{
	display:block;
	float:left;
	background-image: url(../images/search.jpg);
	height: 27px;
	width: 53px;
	border:0px;
}
.i2{float:left;border:1px solid #ccc; width:122px; height:93px;display: block;vertical-align: middle;text-align: center; position:relative;  background-color:#fff; padding:3px;}
.i2 .bigpic
{
	position:absolute;
	left:128px;
	margin-left:0px;
	top:0px;
	border:solid 1px #ccc;
	text-align:center;
	vertical-align:middle;
	padding:5px;
	background-color:#ebebeb;
	z-index:20;
	width:300px;	
}
.i2 .bigpic a
{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:290px;
	
}
.i2 a{width:122px;height:93px;display: table-cell;vertical-align: middle;text-align: center;}
.i2 img {vertical-align: middle;}
.i3{width:30px;margin:8px auto 0 auto;display:block}
.i4{border:1px solid #ccc; height:110px;}




.u1{padding:8px;width:152px;border-top:1px solid #CCC; overflow:hidden}
.u1 li{float:left;margin:0 3px;line-height:24px;white-space:nowrap;word-break:keep-all;}
.u1 li a{color:#1e50a2;text-decoration:none}
.u1 li a:hover{text-decoration:underline}
.u2{padding:8px}
.u2 li{lihe-height:24px;clear:both}
.u2 li a{text-decoration:none;color:#1e50a2}
.u2 li a:hover{text-decoration:underline}
.u3{width:440px;float:left}
.u3 li{line-height:20px;clear:both}
.u3 li a{text-decoration:none;color:#1e50a2}
.u3 li a:hover{text-decoration:underline}
.u4 li{float:left; width:110px;overflow:hidden; 
	text-overflow:ellipsis;
	white-space:nowrap;}
.u4 li a{color:#1e50a2;text-decoration:none}
.u4 li a:hover{text-decoration:underline}
.u5{width:445px}
.u5 li{float:left;width:80px}
.u5 li a{text-decoration:none;color:#1e50a2}
.u5 li a:hover{text-decoration:underline}

#address
{
	width:64px;
	height:25px;
	line-height:25px;
	padding-left:5px;
	border:0px;
	background:url(../images/address.jpg) no-repeat;
}
#time
{
	width:64px;
	height:25px;
	line-height:25px;
	padding-left:5px;
	border:0px;
	background:url(../images/address.jpg) no-repeat;
}
.postscrollmain
{
	position:relative;
	width:170px;
}
.post_right{

	position: fixed;
	_position: absolute;
	top: 0;
	_bottom: auto;
	_top:expression(eval(document.documentElement.scrollTop)+50+"px");
	left: auto;
	width: 200px;
	height: 100px;
	background-repeat: repeat-x;
	z-index:20;
}
.column_right{width:50px;left:auto;right:10px;top:auto;bottom: 200px;position:fixed;_position:absolute;_bottom:200px;_top:expression(eval(document.documentElement.scrollTop)+350+"px");}
.message{width:33px;height:33px;border:1px solid #ccc;background:url(../images/message.jpg) no-repeat;position:absolute;right:0;top:40px}
#message a{width:33px;height:33px;display:block}
.message1{width:0px;height:35px;background:url(../images/message_hover.jpg) no-repeat;position:absolute;right:30px;top:40px}
.message1 a{width:68px;height:33px;display:block}

.join{width:33px;height:33px;border:1px solid #ccc;background:url(../images/join.jpg) no-repeat;position:absolute;right:0;top:80px}
#join a{width:33px;height:33px;display:block}
.join1{width:0px;height:35px;background:url(../images/join_hover.jpg) no-repeat;position:absolute;right:30px;top:80px}
.join1 a{width:68px;height:33px;display:block}

.top{width:33px;height:33px;border:1px solid #00632b;background:url(../images/top.jpg) no-repeat;position:absolute;right:0;top:0px; display:none}
#top a{width:33px;height:33px;display:block}
.top1{width:0px;height:35px;background:url(../images/top_hover.jpg) no-repeat;position:absolute;right:30px;top:0px}
.top1 a{width:68px;height:33px;display:block}


.column_left{position:absolute;left:160px;top:169px;_top:160px;}
.FeiLiaoLeiMu{width:20px;height:80px;padding:10px 5px;background:#009944;border:1px solid #00632b;text-align:center;color:#fff;float:left}
.FeiLiaoLeiMu_nav{width:640px;border:1px solid #ccc;float:left;background:#fff;display:none;}
.FeiLiaoLeiMu_nav .item{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
	padding: 4px;
	line-height:22px;
}
.FeiLiaoLeiMu_nav .item_title{font-size:14px;color:#009944;font-weight:700}
.FeiLiaoLeiMu_nav ul li{float:left;margin-right:8px;display:inline;height:24px;padding:0 4px;width:auto;margin-left:-4px;position:relative; display:inline}
.FeiLiaoLeiMu_nav ul li a{text-decoration:none;color:#000; display:block}
.item_small li{width:100px; line-height:22px}
.item_small li a:hover{text-decoration:underline;color:#06F}
.xiangguang
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;	
}



.item_small{width:300px;padding:16px 8px;background:#f5f5f5;display:none;position:absolute; z-index:999;border:1px solid #a4a4a4;left:0;top:20px}

.address{position:relative; margin:0; padding:0; z-index:9999}
.address_block{position:absolute;left:0;top:24px;border:1px solid #ccc;background:#FFF;padding:8px;display:none}
.middle{
	width:445px;
	height:50px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
}
.middle ul li{float:left;width:80px;line-height:24px;display:inline}
.middle ul li a{text-decoration:none;color:#000}
.middle ul li a:hover{text-decoration:underline}
.small{width:500px}
.small ul li{float:left;line-height:30px;width:80px;position:relative}
.small ul li a{text-decoration:none;color:#000}
.small ul li ul{padding:8px;width:400px;border:1px solid #ccc;background:#f2f2f2;display:none;position:absolute;left:0px;top:30px;z-index:999}
.small ul li ul li{float:left;width:60px;background:none}


.time_block{width:67px;border:1px solid #ccc;position:absolute;left:73px;top:24px;z-index:999;display:none;background:#fff}
.time_block ul li{text-align:center;line-height:24px}
.time_block ul li a{text-decoration:none;color:#000}
.time_block ul li a:hover{text-decoration:underline}




/*搜索内容*/
.search{}
.search_bar{width:568px;float:left;}
.search_bar .nav1{
	width:350px;
	padding-left:10px;
	height: 25px;
}
.search_bar .nav1 ul li{
	display:block;
	float:left;
	width:50px;
	text-align:center;
	line-height: 25px;
	cursor:pointer;
}
.search_bar .nav1 ul li a{color:#000;text-decoration:none}
.search_bar .box{
	width:568px;
	height:35px;
	background:url(../images/search_bg.jpg) no-repeat
}
.search_bar .left{
	width:458px;
	margin-left:5px;
	height:29px;
	float:left;
	padding-top: 3px;
}
.search_bar .right{width:100px;height:29px;float:left; position:relative}
.search_bar .searchtext{width:458px;height:29px;line-height:29px;color:#000;border:0px;background:transparent;outline:none; margin:0px; padding:0px;}
.search_bar .search_a{width:100px;height:29px;display:block}
.weibo{width:63px;height:45px;margin:25px 0 0 5px;float:left}
.search_suggest{z-index:999; width:456px; border:1px solid #ccc; position:absolute;left:560px;top:150px; display:none; }  
.search_suggest li{height:24px; overflow:hidden; padding-left:3px; line-height:24px; background:#FFFFFF; cursor:default;}  
.search_suggest li.hover{background:#DDDDDD;}  
.line{color:#ccc}
.searchnav_on{
	font-weight: bold;
	color:#060;
}
.searchnav_on a
{
	color:#060;
	text-decoration: none;
}

/*搜索内容*/


/*左边菜单*/
.leftlmbox
{
	position:absolute;
	left:-40px;
	top:10px;
}
.my_left_category{
	/*position: fixed;
	_position: absolute;
	top: auto;
	_bottom: auto;
	_top:expression(eval(document.documentElement.scrollTop)+50+"px");*/
	left: auto;
	font-size:12px;
	font-family:arial,sans-serif;
	letter-spacing:2px;
	z-index:999;
}
.my_left_category h1{
background-image:url(../images/spring_06.gif);
height:20px;
background-repeat:no-repeat;
font-size:14px;
font-weight:bold;
padding-left:15px;
padding-top:8px;
margin:0px;
color:#FFF;
}
.my_left_category .my_left_cat_list{
line-height:13.5pt;
}
.my_left_category .my_left_cat_list h2 {
	margin:0px;
	width:20px;
	height:100px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 9px;
	text-align: center;
	float: left;
	color: #FFF;
	text-decoration: none;
	background-image: url(../images/lm.png);
	background-repeat: no-repeat;
}
.my_left_category .my_left_cat_list h2 a {
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	line-height:22px;
}
.my_left_category .my_left_cat_list h2 a:hover {
	color:#FFC;
	font-weight:bold;
	font-size:14px;
	line-height:22px;
	text-decoration: none;
}
.my_left_category .h2_catmain
{
	float:left;
	border: 1px solid #060;
	display:none;
	background-color: #fff;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.my_left_category .h2_cat{
	width:148px;
	height:26px;
	background-image:url(../images/my_menubg.gif);
	background-repeat:no-repeat;
	line-height:26px;
	font-weight:normal;
	color:#333333;
	position:relative;
	
}
.my_left_category .h2_cat_1{
width:148px;
height:26px;
background-image:url(../images/my_menubg_1.gif);
background-repeat:no-repeat;
line-height:26px;
font-weight:normal;
color:#333333;
position:relative;
}
.my_left_category a{
font:12px;
text-decoration:none;
color:#333333;
}
.my_left_category a:hover{
text-decoration:underline;
color:#ff3333;
}
.my_left_category h3{
margin:0px;
padding:0px;
height:26px;
font-size:12px;
font-weight:normal;
display:block;
padding-left:8px;
}
.my_left_category h3 span{color:#999999; width:145px; float:right;}
.my_left_category h3 a{	line-height:26px;}
.my_left_category .h3_cat{
	display:none;
	width:650px;
	position:absolute;
	left:123px;
	margin-top:-26px;
	cursor:auto;
}
.my_left_category .shadow{
	position:inherit;
	background:url(../images/shadow_04.gif) left top;
	width: 650px;
}
.my_left_category .shadow_border{
	position:inherit;
	border:1px solid #959595;
	margin-top:1px;
	border-left-width:0px;
	background:url(../images/shadow_border.gif) no-repeat 0px 21px;
	background-color:#ffffff;
	margin-bottom:3px;
	width: 650px;
}
.my_left_category .shadow_border .catetitle{
	font-weight: bold;
	margin-left: 20px;
}
.my_left_category .shadow_border ul{
	margin-left:15px;
	padding-top: 10px;
	border-top-style: dotted;
	border-top-color: #CCC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.my_left_category .shadow_border ul li {
list-style:none;
padding-left:10px;
background-image:url(../images/my_cat_sub_menu_dot.gif);
background-repeat:no-repeat;
background-position:0px 8px;
float:left;
width:75px;
height:26px;
overflow:hidden;
letter-spacing:0px;
}
.my_left_category .active_catmain{cursor:pointer;}
.my_left_category .active_catmain .h2_catmain{display:block}

.my_left_category .active_cat{ z-index:99;background-position:0 -25px;cursor:pointer;}
.my_left_category .active_cat h3 { font-weight:bold}
.my_left_category .active_cat h3 span{ display:none;}
.my_left_category .active_cat div{display:block;}
/*左边菜单结束*/

/*黄金展位*/
.goldad_w
{
OVERFLOW: hidden; WIDTH: 170px; POSITION: relative; HEIGHT: 200px;
margin-bottom:5px;
}
.goldad_in
{
LEFT: 0px;  WIDTH: 340px; ZOOM: 1; POSITION: absolute; TOP: 0px; 
}
.goldad_in .goldpic
{
float:left;
width:170px;

}
.goldad_in .goldtext
{
width:160px;
float:left;
height:190px;
background-color: #FCC;
padding: 5px;
background-image: url(../images/hot.png);
}
.goldad_in .goldtext span
{
display:block;
}
.goldad_in .goldtext .gl1
{
font-weight:bold;
font-size:14px;
line-height:24px;
text-align:center;
color:#030;
display:block;
margin-top:15px;
margin-bottom:2px;
}
.goldad_in .goldtext .gl2
{
padding-bottom: 5px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCC;
}



#page_cover_loading
{
	width:100%;
	height:400px;
	z-index:20000;
	position:fixed;
	top:0px;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop)+50+"px");
}
#page_cover_loading div
{
	width:300px;
	height:30px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #F90;
	background-color: #FF9;
	color:#F60;
	text-align:center;
	font-size:14px;
	line-height:30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#searchresult
{
	padding:0px;
	position:absolute; left:-5px; top:35px; border:solid 1px #333; width:500px; height:300px; background-color:#FFF; z-index:800;
}
#searchresult ul li
{
	padding:4px;
	list-style-type: none;
	line-height:20px
}
em
{
	color:#F30;
	font-weight:bold;
}
.zst_logo
{
	background-image:url(../images/zst_logo.jpg);
	width:87px;
	float:left;
	height:22px;
	display:block;
}
.zsppt_logo
{
	background-image:url(../images/zsppt_logo.jpg);
	width:87px;
	float:left;
	height:22px;
	display:block;
}
.ypppt_logo
{
	background-image:url(../images/ypppt_logo.jpg);
	width:87px;
	height:22px;
	float:left;
	display:block;
}
.jpppt_logo
{
	background-image:url(../images/jpppt_logo.jpg);
	width:87px;
	height:22px;
	float:left;
	display:block;
}
.ldb_logo
{
	background-image:url(../images/ldb_logo.jpg);
	width:87px;
	height:22px;
	float:left;
	display:block;
}
.pinyin
{
	text-align:center;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.pinyin a
{
	width:30px;
	display:block;
	float:left;
}

.showcompinfo
{
	background:#FFF;
	padding: 5px;
	border: 1px solid #090;
	line-height: 22px;
	width: 300px;
	z-index:9999;
	left:0;
	top:16px;
}
.ldbphone
{
	background-image:url(../images/tel.jpg);
	background-color: #FFC;
	border: 1px solid #F90;
	padding: 3px;
	padding-left:20px;
	background-position: 5px;
	background-repeat: no-repeat;
}