.zz91_zst_mainblock{ width:950px; margin:0 auto; line-height:1.5em;color:#505050}
.zz91_zst_mainblock a{text-decration:none; color:#505050}
.zz91_zst_mainblock a:hover{text-decration:none; color:#222}

.fontgreen{ color:#009240}
.fontbrown{color:#8d866c}
.fontred{ color:#C00}
.fontgold{ color:#A5891E}
.fontbold{ font-weight:bold}
.font14{ font-size:14px;}
.font13{ font-size:13px;}
.font13{ font-size:12px;}



.margintop8{ margin-top:8px}
.block_right{ float:right}
.block_left{ float:left}

.verify_info{ line-height:38px; height:38px;}
.verify_info .err{ display:block;background:url(../images/zz91zst_icon03.gif) 36px 12px no-repeat; padding-left:54px; color:#C00}
.verify_info .success{ display:block; background:url(../images/zz91zst_icon02.gif) 36px 12px no-repeat; padding-left:54px;}


.topbar{background-color: #F9F7EC;height: 29px;line-height: 29px;border-top: 1px solid #D7CFB2;border-bottom: 1px solid #D7CFB2;color: #6C6455;width: 100%;font-size: 12px;}
.topBarBlock{ width:951px; margin:0 auto}
.topbar a{color:#262627}
.topbar a:hover{color:#000}

.zz91_zst_foofer{ border-top:2px solid #77bd45; padding-top:10px;width:950px; margin:10px auto 10px auto; text-align:center; line-height:24px}
.zz91_zst_foofer a{text-decration:none; color:#505050}
.zz91_zst_foofer a:hover{text-decration:none; color:#222}

.zz91_zst_header{ width:950px; margin:0 auto}
.zz91_zst_site{}
.zz91_zst_siteinfo{padding:24px 0}
.zz91_zst_logo{ float:left}
.zz91_zst_servtel{ float:right}

.zz91_zst_nav{ background:url(../images/zz91zst_nav_bc.gif) no-repeat left 3px; height:37px; line-height:37px; padding-left:44px;padding-bottom:3px}
.zz91_zst_nav li{ float:left; font:normal bold 16px/45px '宋体'; color:#8d866c; height:37px; overflow:hidden}
.zz91_zst_nav li a{ display:block; width:112px;background:url(../images/zz91zst_nav_bc.gif) no-repeat -10px 3px; text-align:center; color:#8d866c}
.zz91_zst_nav li a:hover,.zz91_zst_nav li a.selected{ background-position:left -37px; color:#FFF}

.zz91_zst_index_a{ margin-top:8px}
.zz91_zst_index_a_l{ width:170px; float:left; background:#f2f1ec; padding:5px 12px}
.zz91_zst_index_a_l p a{ color:#009240}
.zz91_zst_index_a_l p a:hover{ color:#000}
.zz91_zst_index_a_l .tit{font:normal bold 18px/24px 'Microsoft YaHei' '黑体'; color:#505050; padding:5px 0}
.zz91_zst_index_a_l p{ line-height:24px}
.index_a_l_tip{ background:url(../images/zz91zst_edge01.gif) center top no-repeat;padding:12px 0 8px 0; margin-top:12px}
.index_a_l_tip li{ line-height:24px;}

.zz91_zst_index_a_m{ width:504px; height:234px; overflow:hidden;float:left;border:1px solid #dcdcdc; padding:4px; margin-left:8px}

.zz91_zst_index_a_r{ width:220px; float:right;background:#f2f1ec; line-height:24px; padding:3px}
.zz91_zst_index_a_r .tit{color:#7f6f35; font-size:14px;}
.zz91_zst_index_a_r .index_a_r_btn a{ display:block; width:182px; height:40px;}
.index_a_r_btn_jion a{ background:url(../images/zz91zst_btn_jionus.gif) left top no-repeat}
.index_a_r_btn_renew a{ background:url(../images/zz91zst_btn_renewal.gif) left top no-repeat}
.index_a_r_btn_jion a:hover, .index_a_r_btn_renew a:hover{ background-position:left -40px;}
.index_a_r_blktop,.index_a_r_blkmid,.index_a_r_blkbtn{ padding:6px 12px 7px 20px;_padding:8px 12px 8px 20px}
.index_a_r_blkmid{ background-color:#FFFFFF}

.zz91_zst_index_b{ margin-top:8px}
.index_b_l{ width:716px; float:left; }
.index_b_l_block{width:714px;border:1px solid #dedede;}
.index_b_l_tit,.index_b_l_tit_b{ background-color:#f2f1ec; height:32px; font:normal bold 16px/32px '宋体'; text-indent:1em }
.index_b_l_info{ width:217px; height:112px; float:left; padding:10px 40px 10px 100px}
.index_b_l_info_bg1{background:url(../images/zz91zst_ico01.gif) 18px 20px no-repeat}
.index_b_l_info_bg2{background:url(../images/zz91zst_ico02.gif) 18px 10px no-repeat}
.index_b_l_info_bg3{background:url(../images/zz91zst_ico03.gif) 18px 20px no-repeat}
.index_b_l_info_bg4{background:url(../images/zz91zst_ico04.gif) 18px 20px no-repeat}
.index_b_l_info_bg5{background:url(../images/zz91zst_ico05.gif) 18px 20px no-repeat}
.index_b_l_info_bg6{background:url(../images/zz91zst_ico06.gif) 18px 20px no-repeat}
.index_b_l_info .tit{ font:normal bold 14px/38px '宋体'}
.index_b_l_tit_b{ position:relative; text-indent:4em}
.xunzhang{display:block;position:absolute;background:url(../images/zz91zst_edge02.gif) left top no-repeat;height:44px;width:22px;left:1em;top:0px}

.index_b_l_info_b{ padding:15px 0 10px 32px; line-height:24px;width:674px;}
.index_b_l_info_b_listtxt li{ width:337px; float:left }
.index_b_l_info_b_listimg li{ width:148px; float:left; border:1px solid #dedede; margin-right:16px}
.index_b_l_info_b_listimg span.img{ display:block; width:140px; height:120px; padding:4px}
.index_b_l_info_b_listimg span.txt{ display:block; width:148px; height:24px; line-height:24px; background-color:#f2f1ec; text-align:center}

.index_b_r{ width:226px; float:right}
.index_b_r_block{ background-color:#f2f1ec; padding:15px 0}
.index_b_r_block a:hover{ color:#D3B236}
.index_b_r_tit{ margin:0 auto; background-color:#d3b236; color:#FFF; width:180px;line-height:28px; text-align:center; font-size:14px; font-weight:normal}
.index_b_r_block ul{ padding:5px 0; float:left}
.index_b_r_block ul li{ left 5px no-repeat; margin:0 24px; line-height:28px; border-bottom:1px dashed #d2d2d2; height:28px; overflow:hidden; width:178px; }

.zz91_zst_applytabs, .apply_leaderbox, .tabs_slide_box{ width:708px; float:left; line-height:28px}
.apply_leaderbox{ display:none}
.apply_servleader{ height:38px; line-height:38px; font-size:14px; padding:0 4px}
.apply_servleader_l{ float:left}
.apply_servleader_r{ float:right; background:url(../images/zz91zst_start.gif) left 12px no-repeat; padding-left:18px;color:#c00;padding-right: 250px;}

.apply_tabsbox_nav{width:111px; float:left; position:relative; border-right:1px solid #C8C8C8; height:440px}
.apply_tabsbox_nav span{ display:block}
.apply_tabsbox_nav_btnt, .apply_tabsbox_nav_btnn,.apply_tabsbox_nav_btntis, .apply_tabsbox_nav_btnnis{ height:41px; width:112px; text-align:center; background:url(../images/zz91zst_tabs_bc.gif) left -41px no-repeat; position:absolute; left:0; top:0; font:normal  14px/40px '宋体' ;cursor:pointer}
.apply_tabsbox_nav_btntis, .apply_tabsbox_nav_btnnis{ background-position:left top}
.apply_tabsbox_nav_btnn, .apply_tabsbox_nav_btnnis{left:0; top:48px}
.apply_tabsbox_nav_btnn{height:41px; width:112px;}
.apply_tabsbox_nav_btninfo{position:absolute;top:221px;line-height:18px; color:#8d866c}

.apply_tabsbox_cont{ width:595px; float:right; border:1px solid #C8C8C8; border-left:none;height:440px;}
.verify_info{}

.apply_tabsbox_cont_tel{width: 360px; float:left}
.apply_tabsbox_cont_adv{ float:right; width:230px; float:right; padding: 20px 0 0 0px; text-align:center}
.apply_tabsbox_tel_methoda, .apply_tabsbox_tel_methodb{ padding:12px 0 0 20px; width:340px}
.apply_tabsbox_tel_methoda .tit,.apply_tabsbox_tel_methodb .tit { background:url(../images/zz91zst_icon_one.gif) left 10px no-repeat; text-indent:2em; line-height:38px; color:#a39e8a;font-size:13px}
.apply_tabsbox_tel_methodb .tit{ background-image:url(../images/zz91zst_icon_two.gif);margin-top:12px}
.apply_tabsbox_tel_methoda_tel{
	background-color:#FFF9D9;
	color:#a5891e;
	text-align:center;
	padding:8px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 38px;
	font-weight: bold;
	font-variant: normal;
}
.apply_tabsbox_cont_net{ width:340px;float:left;padding-left:20px; display:none;}
.apply_tabsbox_cont_net_tip{font:normal 14px/38px '宋体';color:#A39E8A}
.zz91servterms{ width:100%; background:url(../images/zz91zst_icon01.gif) 102px 3px no-repeat; width:310px; line-height:20px; height:20px; text-indent:10em; cursor:pointer}
.apply_tabsbox_cont_info{ float:left;width:360px;}

input.normal{ border:1px solid #8d856e; padding:2px 4px; height:18px; line-height:18px; color:#505050}
input.normalwidth{ width:120px}
input.maxwidth{ width:228px}
input.county_code{ width:40px}
input.city_code{ width:40px}
input.tel_code{ width:90px}
input.queding_btn{ background:url(../images/zz91zst_btn_sure.gif) left top no-repeat; height:26px; width:64px; border:none; border:0; cursor:pointer; margin-left:160px}
input.shenqing_btn{ background:url(../images/zz91zst_btn_apply02.gif) left top no-repeat; height:26px; width:91px; border:none; border:0; cursor:pointer; margin-left:152px}

.apply_tabsbox_cont_net_frame{ padding:4px 0; float:left}
.apply_tabsbox_cont_net_lab{ width:80px; float:left; text-align:right}
.apply_tabsbox_cont_net_lab label{color:#A39E8A}
.apply_tabsbox_cont_net_fill{ width:240px; float:left}
.formbgcolor{ background-color:#fff9d9; padding:8px 0}

.apply_leaderbox{ border:1px solid #C8C8C8; width:706px}
.leaderbox_header{background-color: #F2F1EC;height: 50px;line-height: 50px;}
.leaderbox_header h3{ text-align:center;padding: 16px 0;}
.leaderbox_cont{}
.leaderbox_infobox{ width: 293px;padding: 40px 30px 20px 30px;float:left}

.zz91_zst_applyother{ width:214px; float:right;background-color: #F2F1EC;padding: 15px 10px; line-height:20px;color:#787878}
.zz91_zst_applyother .tit{ margin:0 auto 8px auto; background-color:#d3b236; color:#FFF; width:180px;line-height:28px; text-align:center; font-size:14px; font-weight:normal}   
.zz91_zst_applyother p{ padding:4px 0;}
.leaderbox_infobox_t{ border-bottom:1px  dashed #C8C8C8; line-height:38px; height:38px; }
.leaderbox_infobox_t .block_right a{ color:#009240}
.leaderbox_infobox_t .block_right a:hover{ color:#009240; border-bottom:1px solid #009240}
.leaderbox_infobox_detail{ line-height:20px;}
.leaderbox_infobox_detail p{ line-height:24px; padding:8px 0}
.leaderbox_infobox_detail span{ display:block; text-align:center}
.leaderbox_infobox_detail_btn{ padding:8px}
.leaderbox_infobox_detail_btn a{ display:block; background:url(../images/zz91zst_btn_apply05.gif) left top no-repeat; width:112px; height:30px; margin:0 auto}
.leaderbox_infobox_detail_btn a:hover{ background-position:left -30px}
.leaderbox_infobox_detail_tel{ background:url(../images/zz91zst_icon04.gif) 44px 9px no-repeat; line-height:38px; color:#8d866c; text-indent:3em;}
.apply_servleader_is{ font-weight:bold; color:#009240; padding:0 4px}
.apply_servleader_no{ color:#505050;padding:0 4px; cursor:pointer}

#zz91terms{line-height:20px;font-size:13px;color:#505050;display:none}
.zz91termsbg{ position:absolute;width:100%;height:100%;background-color:#CCC; filter:alpha(opacity=50);  -moz-opacity:0.9; opacity:0.9;  display:block; left:0; top:0; }

#printArea{ position:absolute;width:840px;background-color:#FFF;margin:0 auto;padding: 24px; left:0; top:0;border: 4px solid #888; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; box-shadow:0px 0px 15px #000;}
.zz91detail{ border:1px #CCC solid}
#zz91terms h3{font-size:20px;font-weight:bolder;color:#505050;height:58px;line-height:58px;width:840px;text-align:center;margin:0;padding:0}
#zz91terms h4{font-size:16px;font-weight:700;line-height:34px}
#zz91terms h5{font-size:14px;font-weight:700;line-height:28px}
#zz91terms .zz91detail{height:340px;overflow-y:auto;background-color:#FFF;padding:24px}
#zz91terms .closetermsDetail{line-height:18px;  float:right}
#zz91terms .closetermsDetail a{ display:block; background:#858585; color:#FFF;padding:2px 5px;font-weight:bold }
#zz91terms .closetermsDetail a:hover{ background:#000; color:#FFF;padding:2px 5px; }
#zz91terms span.wenTit{color:#0F0}
#zz91terms p.readProtype{width:840px;text-align:center;margin:0;padding:0}     
 
.zz91_zst_about{ border:1px solid #d7d6d2; padding-bottom:24px; width:948px; overflow:hidden}        
.about_header{ background-color:#f2f1ec; height:50px; line-height:50px;}
.about_header h3{ font:normal bold 18px/18px "Microsoft YaHei" "黑体"; text-align:center; height:18px; padding:16px 0}     
.about_block{ width:50%; float:left; text-align:center}
.about_tit{ font-size:18px; line-height:60px; height:60px; }
.about_block ul{ padding:0 118px}
.about_block li{ line-height:38px; margin:8px; border:1px dashed #dcdcdc; font-size:14px}
.about_bottom{ margin-top:24px;}
.about_bottom span{ display:block}
.about_bottom_price{ font: normal bold 14px/38px '宋体'}
.about_bottom_btn a{ display:block; width:182px; margin:0 auto; height:40px; background:url(../images/zz91zst_btn_apply03.gif) left top no-repeat}
.about_bottom_btn a:hover{ background-position: left -40px}
.about_bottom_btn_r a{ display:block; width:182px; margin:0 auto; height:40px; background:url(../images/zz91zst_btn_apply04.gif) left top no-repeat}
.about_bottom_btn_r a:hover{ background-position: left -40px}
.about_bottom_tel{ background:url(../images/zz91zst_icon04.gif) 114px 8px no-repeat; height:38px; line-height:38px;color:#8d866c}
.zst_edge{ background:url(../images/zz91zst_sb_edge.gif) right center no-repeat}

.aboutzst_block{ margin-top:8px;}
.aboutzst_block_more{ width:468px; border:1px solid #d7d6d2}
.aboutzst_block_more_t{ height:38px;font:normal bold 14px/38px '宋体'; background-color:#f2f1ec; padding:0 1em}
.aboutzst_block_more_t h3{ font-size:16px; width:150px; float:left}
.aboutzst_block_more_p{ float:left}
.aboutzst_block_more_m{ float:right; font-size:12px; font-weight:normal}
.aboutzst_block_more_m a{ color:#009240}
.aboutzst_block_more_c{ padding:18px 24px; line-height:24px}
.aboutzst_block_more_c p{ font-size:14px; padding:4px 0}
.aboutzst_block_more_c span{ display:block; text-align:center}
.aboutzst_block_more_btn a{ display:block; background:url(../images/zz91zst_btn_apply03.gif) left top no-repeat; width:182px; margin:8px auto; height:40px;}
.aboutzst_block_more_btn a:hover{ background-position:left -40px}
.aboutzst_block_more_tel{ background:url(../images/zz91zst_icon04.gif) 98px 4px no-repeat; line-height:28px; text-indent:24px}
.aboutzst_block_more_btn_r a{ display:block; background:url(../images/zz91zst_btn_apply04.gif) left top no-repeat; width:182px; margin:8px auto; height:40px;}
.aboutzst_block_more_btn_r a:hover{ background-position:left -40px}

.aboutzst_lmitedit{ border:1px solid #d7d6d2; width:948px; overflow:hidden}
.aboutzst_lmitedit_tit{height: 38px;font: normal bold 14px/38px '宋体';background-color: #F2F1EC;padding: 0 1em;}
.aboutzst_lmitedit_cont{ padding:20px;font-size:14px;}
.aboutzst_lmitedit_btn{ padding:12px}
.aboutzst_lmitedit_btn span{ display:block; width:50%;float:left}
.aboutzst_lmitedit_btn_btn a{ display:block; width:182px; height:40px; background:url(../images/zz91zst_btn_renewal02.gif) left top no-repeat; float:right; margin-right:8px}
.aboutzst_lmitedit_btn_btn a:hover{  background-position:left -40px;}
.aboutzst_lmitedit_btn_tel{ line-height:40px; background:url(../images/zz91zst_icon04.gif) 8px 10px no-repeat; text-indent:3em}

.aboutzst_sucbuss{border:1px solid #d7d6d2}
.aboutzst_lmitedit_cont{ padding:20px 0 8px 20px}
.aboutzst_sucbuss_box{ width:270px; float:left; margin-right:32px; margin-top:10px; margin-bottom:10px}
.aboutzst_sucbuss_box_img{ width:100px; float:left; text-align:center}
.aboutzst_sucbuss_box_img img{ border:1px solid #d7d6d2; padding:2px; width:80px; height:80px}
.aboutzst_sucbuss_box_cont{ width:170px; float:right}
.aboutzst_sucbuss_box_cont h4{  font:normal bold 14px/28px '宋体';}
.aboutzst_sucbuss_box_cont p{color:#787878; font-size:12px}
.aboutzst_sucbuss_box_cont p a{color:#009240}
.aboutzst_sucbuss_box_cont p a:hover{color:#000}

.aboutzst_appbar{
	width:310px;
	padding:12px 620px 0px 20px;
	background-color: #F2F1EC;
	background-image: url(../images/zz91zst_app.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.aboutzst_appbar_tit{ font:normal bold 18px/32px 'Microsoft YaHei' '黑体'}
.aboutzst_appbar p{ line-height:22px; text-indent:2em }

.zz91_zst_paytabs{width: 708px;float: left;}
.paytabs_tabs{ border:1px solid #d7d6d2}
.paytabs_tit_adv{ line-height:0;}
.paytabs_tit{ background-color:#f2f1ec; height:48px; line-height:48px; border-bottom:1px solid #d7d6d2}
.paytabs_tit ul{ position:relative}
.paytabs_tit li{ position:absolute; background:url(../images/zz91zst_tabs_bc2.gif) left -58px no-repeat; font-size:16px; font:normal bold 16px/46px '宋体'; width:116px; height:48px; text-align:center; left:12px; top:1px; overflow:hidden;color:#8d866c; cursor:pointer}
li.payment_netis,li.payment_zfbis,li.payment_gwis{ background-position:left top; color:#505050; line-height:56px }
li.payment_net,li.payment_netis{}
li.payment_zfb,li.payment_zfbis{ left:134px}
li.payment_gw,li.payment_gwis{ left:256px}

.paytabs_cont{ width:705px; overflow:hidden}
.paytabs_cont_method1{ padding:0 20px;}
.paytabs_cont_method1 dt{ line-height:38px; font-size:14px; padding-top:12px; text-align:center}
.paytabs_cont_method1 dd{ width:332px; float:left; margin:12px 0}
.pay_radio{ width:20px; float:left; padding:60px 0 0 20px}
.pay_bank_box{ width:240px; float:right; padding:6px 25px;border:1px solid #d7d6d2}
.pay_bank_logo,.pay_bank_logo_nh,.pay_bank_logo_gh,.pay_bank_logo_jh,.pay_bank_logo_zg,.pay_bank_logo_zs,.pay_bank_logo_pf,.pay_bank_logo_zx,.pay_bank_logo_ms,.pay_bank_logo_yz,.pay_bank_logo_jt{ background:url(../images/zz91zst_banklogo_nh.gif) left top no-repeat; height:50px; line-height:50px; text-indent:58px; font-weight:bold; border-bottom:1px dashed #c8c8c8; padding-bottom:6px }
.pay_bank_info { padding-top:4px}
.pay_bank_info span{ display:block; line-height:24px}
.pay_bank_info_tit{ width:60px; float:left}
.pay_bank_info_tit2{width:60px; float:left;}

.pay_bank_logo_nh{ background-image:url(../images/zz91zst_banklogo_nh.gif)}
.pay_bank_logo_gh{ background-image:url(../images/zz91zst_banklogo_gh.gif)}
.pay_bank_logo_jh{ background-image:url(../images/zz91zst_banklogo_jh.gif)}
.pay_bank_logo_zg{ background-image:url(../images/zz91zst_banklogo_zg.gif)}
.pay_bank_logo_zs{ background-image:url(../images/zz91zst_banklogo_zs.gif)}
.pay_bank_logo_pf{ background-image:url(../images/zz91zst_banklogo_pf.gif)}
.pay_bank_logo_zx{ background-image:url(../images/zz91zst_banklogo_zx.gif)}
.pay_bank_logo_ms{ background-image:url(../images/zz91zst_banklogo_ms.gif)}
.pay_bank_logo_yz{ background-image:url(../images/zz91zst_banklogo_yz.gif)}
.pay_bank_logo_jt{ background-image:url(../images/zz91zst_banklogo_jt.gif)}
.submitpayment{ text-align:center; padding:18px 0}
.surepaybtn{ background:url(../images/zz91zst_btn_surepay.gif) left top no-repeat; width:117px; height:35px; border:0; margin:0 auto; cursor:pointer}

.pay_other_method{ width:600px; margin:12px auto 24px auto}
.pay_other_method_tit{ width:80px; float:left; text-align:right; font-weight:bold}
.pay_other_method_info{ width:500px; float:right; background:url(../images/zz91zst_banklogo_yzhk.gif) 50px 10px no-repeat; text-indent:118px; padding:8px; border:1px solid #d7d6d2}
.pay_other_method_info span{ display:block; line-height:24px}
.pay_note{ text-indent:2em; padding:8px; border-top:1px dashed #d7d6d2; margin:24px 0; line-height:24px}

.pay_tip{line-height:38px;font-size: 14px; padding-top:12px; text-align:center}
.pay_zfb{ border:1px solid #d7d6d2; width:600px; margin:24px auto}
.pay_zfb_l{ width:400px; float:left;background:url(../images/zz91zst_banklogo_zfb.gif) 8px 8px no-repeat; text-indent:10em; line-height:68px; font-size:14px; font-weight:bold}
.pay_zfb_r{ width:150px; float:right; text-align:center; padding-top:16px}
.pay_zfb_r a{ display:block; background:url(../images/zz91zst_btn_surepay02.gif) left top no-repeat; width:117px; height:35px;}
.pay_zfb_r a:hover{ background-position:left -35px}

.pay_table{ width:560px; margin:0 auto; font-family:Arial, Helvetica, sans-serif; margin:12px auto 24px auto}
.pay_table tr td{ border:1px solid #FFF; line-height:24px; background-color:#F0F0F0; padding:2px 12px;}
.tabtit{ font:normal bold 14px/24px 'Arial, Helvetica, sans-serif'; color:#F60}
.tabtitB{ color:#666}
.tdtitA{ font-weight:bold}
.tdtitB{ }
.tablet{ font-weight:normal; font-size:11px}


.paytabs_cont_method2,.paytabs_cont_method3{ display:none}


/*zz91slide */
.container{ width:505px;height:236px; position:relative; z-index:1; background-color:#F0F0F0;}
.toggleBtn{ position:absolute; right:4px; bottom:4px; z-index:3; }
.toggleBtn a{ display:block; width:20px; height:20px; background:url(../images/zz91zst_slidebtn.gif) left -20px no-repeat;display:block; float:left; opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity:80);}
.toggleBtn a.selected{ background:#050;color:#FFF;text-decoration:underline; display:block; width:20px; height:20px; background:url(../images/zz91zst_slidebtn.gif) left top no-repeat;}
.toggleImg{ position:absolute; z-index:2; height:236px; width:505px; overflow:hidden}
.toggleImg img{ width:505px; height:236px;z-index:4;}
.right_scroll
{
	height:660px;
	overflow:hidden;
	position:relative;
}
