<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 tdansitional//EN" "http://www.w3.org/td/xhtml1/DTD/xhtml1-tdansitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZZ91积分_废料论坛积分_积分兑换奖励_送福利了！</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script type="text/javascript" src="js/style.js"></script>
</head>
<body>
<div style="width:100%; background-color:#F9F7EC">
	<div style="width:933px;margin:0 auto">
		{%include 'html/comm/top.html'%}
    </div>
</div>
  <div class="main" id="tab1">
  	<div class="menu">
    	<div class="m0" id="one1" onclick="setTab('one',1)"></div>
        <!--end m0-->
        <div class="m1" id="one2" onclick="setTab('one',2)"></div>
        <!--end m1-->
    </div>
    <!--end menu-->
    <div class="item_" id="con_one_1">
         <img src="images/1.png" style="position:relative" onclick="show('1')" /> 
         <img src="images/2.png" onclick="show('2')" /> 
         <img src="images/3.png" onclick="show('3')" /> 
         <img src="images/4.png" onclick="show('4')" /> 
         <img src="images/5.png" onclick="show('5')" /> 
    </div>
    <!--end item_-->
    <div class="item" id="con_one_2">
    	<img src="images/fw_.png" />
    </div>
    <!--end item-->
    <div class="a1" id="t1">
    	<img src="images/mis.png" onclick="miss('1')" />
    </div>
    <div class="a2" id="t2">
    	<img src="images/mis.png" onclick="miss('2')" />
    </div>
    <div class="a3" id="t3">
    	<img src="images/mis.png" onclick="miss('3')" />
    </div>
    <div class="a4" id="t4">
    	<img src="images/mis.png" onclick="miss('4')" />
    </div>
    <div class="a5" id="t5">
    	<img src="images/mis.png" onclick="miss('5')" />
    </div>
  </div>
  <!--end main-->
<div style="width:100%;">
	<div style="width:950px;margin:0 auto;text-align:center">
		{% include 'html/comm/buttom.html' %}
    </div>
</div>
</body>
</html>
