<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>独立网站模板-seo客户管理系统</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
    	.main {
    		margin-top: 10px;
    	}
    </style>
</head>
<body>
<div class="main">
<div class="container" style="width: 900px;">
    <div class="table">
    	<table class="table table-bordered table-striped">
    	    <h3 style="text-align: center;">独立网站-模板选择</h3>
    	    <p class="text-success">操作建议：(1)如果客户无具体要求，建议选择已经做好的模板，可快速建站</p>
    	    <p class="text-info">操作建议：(2)如果客户对于所有已经做好的模板均不满意，可提供模板或其他已经做好的网站地址</p>
    	    <p class="text-danger">操作建议：(3)点击链接地址，即可预览模板效果</p>
    		<thead>
    			<th class="col-lg-4">序号</th>
    			<th class="col-lg-8">网站地址</th>
    		</thead>
    		<tbody>
    			<tr>
    				<td>1</td>
    				<td><a href="http://www.dunlihuanbao.com/" target="_blank">http://www.dunlihuanbao.com/</a></td>
    			</tr>
    			<tr>
    				<td>2</td>
    				<td><a href="http://www.kmtzsj.com/" target="_blank">http://www.kmtzsj.com/</a></td>
    			</tr>
    			<tr>
    				<td>3</td>
    				<td><a href="http://www.fsyeweiwei.com/" target="_blank">http://www.fsyeweiwei.com/</a></td>
    			</tr>
    			<tr>
    				<td>4</td>
    				<td><a href="http://www.hedeying.com/" target="_blank">http://www.hedeying.com/</a></td>
    			</tr>
    			<tr>
    				<td>5</td>
    				<td><a href="http://www.jahbtf.com/" target="_blank">http://www.jahbtf.com/</a></td>
    			</tr>
    			<tr>
    				<td>6</td>
    				<td><a href="http://www.jxshanyuan.com/" target="_blank">http://www.jxshanyuan.com/</a></td>
    			</tr>
    			<tr>
    				<td>7</td>
    				<td><a href="http://www.hongxinpg.com/" target="_blank">http://www.hongxinpg.com/</a></td>
    			</tr>
    			<tr>
    				<td>8</td>
    				<td><a href="http://www.jiangsubjs.com/" target="_blank">http://www.jiangsubjs.com/</a></td>
    			</tr>
    			<tr>
    				<td>9</td>
    				<td><a href="http://www.fszhujinhua.com/" target="_blank">http://www.fszhujinhua.com/</a></td>
    			</tr>
    			<tr>
    				<td>10</td>
    				<td><a href="http://www.clpige.com/" target="_blank">http://www.clpige.com/</a></td>
    			</tr>
    			<tr>
    				<td>11</td>
    				<td><a href="http://www.bctznm.com/" target="_blank">http://www.bctznm.com/</a></td>
    			</tr>
    			<tr>
    				<td>12</td>
    				<td><a href="http://www.tzspcml.com/" target="_blank">http://www.tzspcml.com/</a></td>
    			</tr>
    			<tr>
    				<td>13</td>
    				<td><a href="http://www.fsdundai.com/" target="_blank">http://www.fsdundai.com/</a></td>
    			</tr>
    			<tr>
    				<td>14</td>
    				<td><a href="http://www.tflpfa.com/" target="_blank">http://www.tflpfa.com/</a></td>
    			</tr>
    			<tr>
    				<td>15</td>
    				<td><a href="http://www.fjdbhs.net/" target="_blank">http://www.fjdbhs.net/</a></td>
    			</tr>
    			<tr>
    				<td>16</td>
    				<td><a href="http://www.ictuopan.com/" target="_blank">http://www.ictuopan.com/</a></td>
    			</tr>
    			<tr>
    				<td>17</td>
    				<td><a href="http://www.jsgxfz.com/" target="_blank">http://www.jsgxfz.com/</a></td>
    			</tr>
    			<tr>
    				<td>18</td>
    				<td><a href="http://www.dghxfsl.com/" target="_blank">http://www.dghxfsl.com/</a></td>
    			</tr>
    			<tr>
    				<td>19</td>
    				<td><a href="http://www.sdqyhg.com/" target="_blank">http://www.sdqyhg.com/</a></td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>
</div>
</body>
</html>