<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>再生产业带</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="css/industrial.css"/>
<link rel="stylesheet" href="css/lightbox.css" media="screen" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript" src="js/lightbox-2.6.min.js"></script>
<script>	
$(document).ready(function(){
                var topMain=$(".top").height()-40//是头部的高度加头部与nav导航之间的距离。
                var nav=$(".nav");
				nav.css("display","none");
                $(window).scroll(function(){
                    if ($(window).scrollTop()>topMain){
                        nav.fadeIn(2000);
                    }
                    else{
                        nav.fadeOut();
                    }
                });
     
        })
	
		$(function(){
        	$("#return").click(function(){
            	$('body,html').animate({scrollTop:0},1000);
        	});
			$("#f1").click(function(){
            	$('html,body').animate({scrollTop:$('#1F').offset().top},1000);
        	});
			$("#f2").click(function(){
            	$('html,body').animate({scrollTop:$('#2F').offset().top},1000);
        	});
			$("#f3").click(function(){
            	$('html,body').animate({scrollTop:$('#3F').offset().top},1000);
        	});
    	});
</script>
</head>
<body>
<div style="width:100%; background-color:#F9F7EC">
  <div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
</div>
<div class="top"></div>
<!--end top-->
<div class="center">
	<div class="box" id="box">
    	<div class="posi" id="1F"><img src="images/no-1.png" /></div>
    	<div class="it1"><span class="bigPic">点击查看大图</span></div>
        <div class="info">
        	<ul class="ul">
            	<li>
                	<div class="img">
                    	<section id="examples" class="section examples-section">
							<div class="image-row">
								<a class="example-image-link" href="images/1.jpg" data-lightbox="example-1"><img class="example-image" src="images/p1.jpg" alt="p1" width="309" height="187"/></a>
							</div>
						</section>
                    </div>
                    <div class="txt">1、再生产业带涵盖了废金属、<br />废塑料和二手设备三个类别下的市场</div>
                </li>
                <li>
                	<div class="img">
                    	<section id="examples" class="section examples-section">
							<div class="image-row">
								<a class="example-image-link" href="images/2.jpg" data-lightbox="example-1"><img class="example-image" src="images/p2.jpg" alt="p2" width="306" height="187"/></a>
							</div>
						</section>
                    </div>
                    <div class="txt">2、显示当前市场的地理位置，一目了然</div>
                </li>
                <li>
                	<div class="img">
                    	<section id="examples" class="section examples-section">
							<div class="image-row">
								<a class="example-image-link" href="images/3.jpg" data-lightbox="example-1"><img class="example-image" src="images/p3.jpg" alt="p3" width="308" height="187"/></a>
							</div>
						</section>
                    </div>
                    <div class="txt">3、地图上找市场，更方便，更快捷</div>
                </li>
            </ul>
        </div>
    </div>
    <!--end box-->
    <div class="box mt136">
    	<div class="posi" id="2F"><img src="images/no-2.png" /></div>
    	<div class="it2"><span class="bigPic">点击查看大图</span></div>
        <div class="b2">
        	<h3>为什么入驻再生产业带？</h3>
            <p>
            	<label><img src="images/one.jpg" />&nbsp;&nbsp;随时随地了解市场货源信息</label>
                <label><img src="images/two.jpg" />&nbsp;&nbsp;提升公司的知名度和诚信度</label>
                <label><img src="images/three.jpg" />&nbsp;&nbsp;100%曝光率，获得更多商机</label>
            </p>
        </div>
        <div class="info">
        	<ul class="ul">
            	<li>
                	<div class="img">
                    	<section id="examples" class="section examples-section">
							<div class="image-row">
								<a class="example-image-link" href="images/4.jpg" data-lightbox="example-1"><img class="example-image" src="images/p4.jpg" alt="p4" width="309" height="187"/></a>
							</div>
						</section>
                    </div>
                    <div class="txt">市场首页展示</div>
                </li>
                <li>
                	<div class="img">
                    	<section id="examples" class="section examples-section">
							<div class="image-row">
								<a class="example-image-link" href="images/5.jpg" data-lightbox="example-1"><img class="example-image" src="images/p5.jpg" alt="p5" width="309" height="187"/></a>
							</div>
						</section>
                    </div>
                    <div class="txt">市场商户展示</div>
                </li>
                <li>
                	<div class="img">
                    	<section id="examples" class="section examples-section">
							<div class="image-row">
								<a class="example-image-link" href="images/6.jpg" data-lightbox="example-1"><img class="example-image" src="images/p6.jpg" alt="p6" width="309" height="187"/></a>
							</div>
						</section>
                    </div>
                    <div class="txt">市场供求展示</div>
                </li>
            </ul>
        </div>
    </div>
    <!--end box-->
    <div class="box mt136" style="border-bottom:none">
    	<div class="posi" id="3F"><img src="images/no-3.png" /></div>
        <div class="it3"></div>
        <div class="b3">
        	<div class="b3-item"></div>
            <div class="b3-btn"><a href="http://y.zz91.com/" target="_blank"></a></div>
            <div class="cb"></div>
        </div>
    </div>
    <!--end box-->
</div>
<!--end center-->
<div class="nav" id="nav">
	<div class="nbox">
    	<ul>
        	<li id="f1"><a href="#1F">再生产业<br />带展示</a></li>
            <li id="f2"><a href="#2F">入驻<br />再生产业带</a></li>
            <li id="f3"><a href="#3F">如何入驻<br />再生产业带</a></li>
        </ul>
    </div>
    <div id="return"><a href="javascript:;">回到<br />顶部</a></div>
</div>
<!--end nav-->
</body>
</html>
