<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml"> 
<html>
	<head>
		<title>生意管家</title>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <script type="text/javascript" src="js/style.js"></script>
	</head>
	<body>
        <center>
        	<table class="nav_table">
            	<tr>
                	<td class="nav_td">
                    	<center>
                        	<a href="" target="_blank">
                            	<div class="nav_table_img">
                                	<img src="images/sc.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的收藏</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="" target="_blank">
                            	<div class="nav_table_img">
                                	<img src="images/gq.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的供求</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="" target="_blank">
                            	<div class="nav_table_img">
                                	<img src="images/xp.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的询盘</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                </tr>
                <tr>
                	<td class="nav_td">
                    	<center>
                        	<a href="" target="_blank">
                            	<div class="nav_table_img">
                                	<img src="images/sq.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的社区</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="" target="_blank">
                            	<div class="nav_table_img">
                                	<img src="images/sj.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">商机定制</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                    <td class="nav_td">
                    	<center>
                        	<a href="" target="_blank">
                            	<div class="nav_table_img">
                                	<img src="images/dz.png" />
                                </div>
                                <!--end nav_table_img-->
                                <div class="nav_table_txt">我的定制</div>
                                <!--end nav_table_txt-->
                            </a>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
	</body>
</html>
