@charset "utf-8";
/* CSS Document */
/***comm*****/
.mainb{width:958px;margin:0 auto}
.bdly{margin-top:12px;border:solid 1px #f2efc7}
.sh3{font-size:18px;color:#f2a500;font-weight:bold;border-bottom:solid 2px #f3f0ca}
.sem{display:block;position:relative;bottom:-2px;line-height:24px;font-weight:bold;border-bottom:solid 2px #f2a90a}
p{margin:8px 0;font:normal 14px/24px '宋体';text-indent:2em}
p .more{color:#0774ac}
p a:hover{color:#0CF}
.bderbm{border-bottom:dashed 1px #e3e3e3}
/**** comm end***/
.neck{margin-top:12px;height:136px;background:#f2efc7}
.neck img{margin:0 16px 8px;width:167px;height:120px;overflow:hidden;float:left}
.neck p{width:698px;padding:8px 30px;font: bold 14px/28px '宋体';color:#0f7205;float:right}
.cotnsbg_l{width:303px;height:211px}
.cotnsbg_l{position:relative;margin:16px 12px 16px;_margin:16px 6px 16px;float:left}
.cotnsbg_l_o img{position:absolute; display:none;width:301px;height:209px}
.toggleBtn{ position:absolute; right:6px; bottom:4px; z-index:3;}
.toggleBtn a{ border:solid 1px #389107;color:#389107;display:block;height:18px;width:18px;margin-right:4px;text-indent:4px;
font:bold 13px/18px '宋体'; float:left}
.toggleBtn a.selected{background:#389107;color:#fff}
.cotnsbg_l_o img,.cotsanayin img{border:solid 1px #d3ce90;padding:2px}
.cotnsbg_r{width:605px;margin:16px 16px 0 0;_margin-right:8px;float:right}
.cotnsbg_r .sem{width:120px}
.cotsanay .sem{width:172px}
.cotssolv .sem{width:120px}
.ads_links .sem{width:80px}
.cotnsbg_r ul li{padding-left:24px;background:url(../images/list.gif) 8px no-repeat;font:normal 14px/28px '宋体'}
.cotnsbg_r ul li a{color:#000}	
.cotnsbg_r ul li a:hover{color:#090}
.cotsanayin,.linksin{padding:16px}
.cotsanayin img{border-color:#cdc7c7;width:122px;height:94px;overflow:hidden}
.cotso,.cotsay_btm{margin-top:16px}
.cotsanay_l,.cotsanay_r{width:440px}
.cotsanay_l,.l_img,.r_img,.btm_l_img{float:left}
.cotsanay_r,.l_conts,.r_conts,.btm_r_conts{float:right}
.l_conts,.r_conts{width:300px}
.btm_r_conts{width:785px}
.l_conts h4,.r_conts h4,.btm_r_conts{font:bold 14px/22px '宋体'}
.ads_links ul li{float:left;margin:8px 0px 0px 0px}
.ads_links .liksin_m{margin:8px 42px 0px 42px}
.linksin dl{width:275px}
.linksin img{width:273px;height:78px;border:solid 1px #c8c8c7}
.linksin dd{height:26px;line-height:26px;font-size:14px;text-align:center}
.linksin dd a{color:#333}
.linksin dd a:hover{color:#090}
.hb_address p{text-indent:0em;font-size:12px}
