<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="健康、办公司、杀手" />
<meta name="description" content="对于城市里的人有差不多4/5的时间是在室内度过的，对于成天忙于生计的都市白领来说，大部分时间都需要在办公室度过。虽然我们的办公室每天都有专人打扫，看起来一尘不染"/>
<title>办公室里的无形杀手_中国环保网</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<link href="../style/subjectII.css" rel="stylesheet" />
<script src="../../commjs/jquery-1.6.4.min.js"></script>
<script language="javascript" type="text/javascript" src="../../commjs/hb.comm.js" ></script>
</head>
<body>
  <div class="hb_bar">
    <div class="hb_bar_contn">
        <div class="hb_bar_serve">
            <ul>
			
    				<li class="hb_welcome">欢迎访问<a href="http://www.huanbao.com/">中国环保网</a>!</li>
    				<li><a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm">快速发布</a></li>
    				<li><a href="http://www.huanbao.com/myesite/regist.htm">免费注册</a></li>
    				<li><a href="http://www.huanbao.com/myesite/login.htm">登录</a></li>

				
			</ul>
				<div class="clear"></div>
        </div>
        <div class="hb_bar_nav">
            <ul id="hb_bar_navls">
                <li>
                    <a href="#this">网站导航</a>
                    <ul class="hb_bar_nav_web" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/trade/index.htm" target="_blank">交易中心</a>
							<ul>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001000--.htm" target="_blank">污水处理</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001001--.htm" target="_blank">原水处理</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001002--.htm" target="_blank">空气净化</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001003--.htm" target="_blank">材料药剂</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001004--.htm" target="_blank">环卫清洁</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001005--.htm" target="_blank">通用配件</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001006--.htm" target="_blank">仪器仪表</a></li>
    							<li><a href="http://www.huanbao.com/trade/supply/index--10001007--.htm" target="_blank">其他设备</a></li>
							</ul>
                            <div class="clear"></div>
                            <a href="http://www.huanbao.com/news/index.htm" target="_blank">资讯中心</a>
							<ul>
    							<li><a href="http://www.huanbao.com/news/list10001000.htm" target="_blank">环保新闻</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001007.htm" target="_blank">乐活环保</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001008.htm" target="_blank">成功指南</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001006.htm" target="_blank">电子商务</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001004.htm" target="_blank">技术讲堂</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001003.htm" target="_blank">工程招/投标</a></li>
    							<li><a href="http://www.huanbao.com/news/list10001002.htm" target="_blank">其他设备</a></li>
							</ul>
							<div class="clear"></div>
                            <a href="www.huanbao.com/exhibit/index.htm" target="_blank">展会中心</a>
							<ul>
								<li><a href="http://www.huanbao.com/exhibit/list10001010.htm" target="_blank">国内展会</a></li>
    							<li><a href="http://www.huanbao.com/exhibit/list10001011.htm" target="_blank">国际展会</a></li>
								<li><a href="http://www.huanbao.com/exhibit/list10001013.htm" target="_blank">展会资讯</a></li>
    							<li><a href="http://www.huanbao.com/exhibit/list10001012.htm" target="_blank">展会论坛</a></li>
							</ul>
						</li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">中环通服务</a>
                    <ul class="hb_bar_nav_serv" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">电话申请</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpapply.htm" target="_blank">在线申请</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">了解服务</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">生意助手</a>
                    <ul class="hb_bar_nav_assis" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">如何找到客户</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">如何让客户找到</a>
                        </li>
                    </ul>
                </li>
                <li >
                    <a href="#this">我的后台</a>
                    <ul class="hb_bar_nav_center" id="hb_bar_nav_block">
                        <li>
                            <a href="http://www.huanbao.com/myesite/index.htm" target="_blank">返回我的后台</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/supply/supply.htm" target="_blank">查看询盘信息</a>
                        </li>
                        <li>
                            <a href="http://www.huanbao.com/myesite/supply/publish_StpOne.htm" target="_blank">发布询盘信息</a>
                        </li>
						<li>
                            <a href="http://www.huanbao.com/myesite/buy/publish_StpOne.htm" target="_blank">发布求购信息</a>
                        </li>
						<li>
                            <a href="http://www.huanbao.com/myesite/message/sendMessage.htm" target="_blank">管理已发布信息</a>
                        </li>
                    </ul>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="astop_bar_adf" >
            <a href="#this"  alt="将环保网添加到收藏夹" class="addfavoritesbtn" onclick="hb.util.topBar.AddBookmark('环保网','http://www.huanbao.com/')">收藏我</a>
        </div>
        <div class="clear"></div>
    </div>
</div>


     <div class="b_mb"><img src="../images/top1.gif"/></div>
     <div class="b_mb">
         <div class="b_hd"><img src="../images/header01.png" /></div>
         <div class="b_hd">
              <div class="b_cint_tt">
                   <h3><em>1</em>号杀手：空气污染</h3>
                   <div class="rittg"><img src="../images/rittg.png" /></div>
                     <div class="clear"></div>
              </div>
            
              <div class="b_cint_txt">
                   <div class="b_bgimg"><img src="../images/cnt01.jpg" alt="办公室" title="办公室"/></div>
                   <p> 如今的写字楼虽然越建越高档，但是窗户开口却不约而同地越变越小。一些公司租用的办公室往往位于写字楼的某一个方向或一角，本身通风条件就有限，小窗户根本不能顺利实现空气流通。办公场所不通风造成的直接后果是局域空气污。染，新鲜空气进不来，污浊空气甚至有毒有害气体扩散不出去，对健康造成潜在危害。有检测数据表明，尽管马路上满是灰尘和汽车尾气，室内的空气污染却是室外的数倍。<br/>　　
　　此外，空调的频繁使用，会使空气中阴离子浓度大大降低，同时又由于空气缺乏流动使室内氧气不足，二氧化碳逐渐增多。若长期呆在空调环境里，可导致血压升高，血液里红细胞数量减少，同时还可能伤害眼睛，因为在空调环境中，眼球水分蒸发过快，眼泪减少，从而使冲洗眼内异物的能力减弱。  </p>
                  <div class="clear"></div>
              </div>
         </div>
         <div class="b_hd">
             <div class="b_sove">
                 <span class="sove_t_l">解决方案</span>
                 <span class="sove_t_r">&gt;&gt;<a href="http://www.huanbao.com/trade/supply/index--10001002--.htm" target="_blank">更多</a></span>
             </div>
             <div class="sove_detil">
                 <div class="detil_l">
                     <div class="del_l_l"><img src="../images/cnt02.gif" alt="空气净化器" titile="空气净化器" /></div>
                     <div class="del_l_r">
                          <h3><a href="http://www.huanbao.com/trade/supply/index----%E7%A9%BA%E6%B0%94%E5%87%80%E5%8C%96%E5%99%A8.htm" target="_blank">空气净化器</a></h3>
                          <p>空气净化器（又称“空气清洁器”、空气清新机），是指能够吸附、分解或转化各种空气污染物（一般包括粉尘、花粉、异味、甲醛之类的装修污染、细菌、过敏原等），有效提高空气清洁度的产品，目前以清除室内空气污染的家用和商用空气净化器为主。
                          </p>
                     </div>
                 </div>
                 <div class="detil_r">
                     <div class="del_r_l"><img src="../images/cnt002.gif" alt="空气净化器" titile="空气净化器" /></div>
                     <div class="del_r_r">
                          <h3><a href="http://www.huanbao.com/trade/supply/index----%E9%99%A4%E5%B0%98%E5%99%A8.htm" target="_blank">除尘器</a></h3>
                          <p>除尘器是把粉尘从烟气中分离出来的设备叫除尘器或除尘设备。 除尘器的性能用可处理的气体量、气体通过除尘器时的阻力损失和除尘效率来表达。同时，除尘器的价格、运行和维护费用、使用寿命长短和操作管理的难易也是考虑其性能的重要因素。
                          </p>
                     </div>
                 </div>
                 <div class="clear"></div>
             </div>
         </div>
         <div class="b_hd">
              <div class="b_cint_tt">
                   <h3><em>2</em>号杀手：饮水污染</h3>
                   <div class="rittg"><img src="../images/rittg.png" /></div>
                     <div class="clear"></div>
              </div>
            
              <div class="b_cint_txt">
                   <div class="b_bgimg"><img src="../images/cnt06.jpg" alt="办公室" title="办公室"/></div>
                   <p>  办公室里，饮水机自然少不了。然而，当我们享受着饮水机带来的便利时，却不知道我们常用的饮水机远
没有想象中那么干净，“二次污染”现象较为严重。据了解，饮水机的工作原理是采用空气压力完成出水，空气很容易进入饮水机，其中附着的细菌也进入到
饮水机之中，造成二次污染，这种污染因其工作原理而存在，所以无法消失。饮水机如长时间(大约1年左右)不消毒或清洗，机内的储水胆会大量滋生细菌和病毒、沉积的污垢、重金属，甚至还会滋生红虫，严重危害人们的身体健康，据监督部门采样检测，在室温条件下，饮水机里的水第一
天的菌落数可能为零，到第十天居然攀升到了8000。这说明饮水机内是细菌滋生繁殖的良好场所。
</p>
                  <div class="clear"></div>
              </div>
         </div>
         <div class="b_hd">
             <div class="b_sove">
                 <span class="sove_t_l">解决方案</span>
                 <span class="sove_t_r">&gt;&gt;<a href="http://www.huanbao.com/trade/supply/index--10001001--.htm" target="_blank">更多</a></span>
             </div>
             <div class="sove_detil">
                 <div class="detil_l">
                     <div class="del_l_l"><img src="../images/ctn04.gif" alt="除垢器" titile="除垢器" /></div>
                     <div class="del_l_r">
                          <h3><a href="http://www.huanbao.com/trade/supply/index----%E9%99%A4%E5%9E%A2%E5%99%A8.htm" target="_blank">除垢器</a></h3>
                          <p>它是通过感应线圈产生的交变磁场对水进行不
间断的处理，使其得以相对的软化。它集防垢、除垢、杀菌、灭藻、防腐蚀功能为一体，是现代工业及生活中不可或缺的水处理设备。据专家测算：它
与使用化学方法相比可节省投资60%-70%，节水80%以上，提高效率18%以上。
                          </p>
                     </div>
                 </div>
                 <div class="detil_r">
                     <div class="del_r_l"><img src="../images/ctn05.gif" alt="空气净化器" titile="空气净化器" /></div>
                     <div class="del_r_r">
                          <h3><a href="http://www.huanbao.com/trade/supply/index----%E7%9B%B4%E9%A5%AE%E6%9C%BA.htm" target="_blank">直饮机</a></h3>
                          <p>直饮机制出的纯净水相对于桶装水更新鲜、更卫生、更安全，它的用途非常广泛：可以生饮，也可以烧开喝，在这方面最突出的特点是水壶或电暖瓶再也不会结水垢了；纯水用于烹饪，更加卫生，更加可口；用纯水洗浴，可以清除皮肤上的杂质，滋润皮肤，起到自然美容的效果
                          </p>
                     </div>
                 </div>
                 <div class="clear"></div>
             </div>
         </div>
         <div class="b_hd">
              <div class="b_cint_tt">
                   <h3><em>3</em>号杀手：噪声污染</h3>
                   <div class="rittg"><img src="../images/rittg.png" alt="噪声污染" titile="噪声污染"/></div>
                     <div class="clear"></div>
              </div>
            
              <div class="b_cint_txt">
                   <div class="b_bgimg"><img src="../images/cnt07.jpg" alt="办公室" title="办公室"/></div>
                   <p> 如今的写字楼虽然越建越高档，但是窗户开口却不约而同地越变越小。一些公司租用的办公室往往位于写字楼的某一个方向或一角，本身通风条件就有限，小窗户根本不能顺利实现空气流通。办公场所不通风造成的直接后果是局域空气污。染，新鲜空气进不来，污浊空气甚至有毒有害气体扩散不出去，对健康造成潜在危害。有检测数据表明，尽管马路上满是灰尘和汽车尾气，室内的空气污染却是室外的数倍。<br/>　　
　　此外，空调的频繁使用，会使空气中阴离子浓度大大降低，同时又由于空气缺乏流动使室内氧气不足，二氧化碳逐渐增多。若长期呆在空调环境里，可导致血压升高，血液里红细胞数量减少，同时还可能伤害眼睛，因为在空调环境中，眼球水分蒸发过快，眼泪减少，从而使冲洗眼内异物的能力减弱。  </p>
                  <div class="clear"></div>
              </div>
         </div>
         <div class="b_hd">
             <div class="b_sove">
                 <span class="sove_t_l">解决方案</span>
                 <span class="sove_t_r">&gt;&gt;<a href="http://www.huanbao.com/trade/supply/index----消声.htm" target="_blank">更多</a></span>
             </div>
             <div class="sove_detil">
                 <div class="detil_l">
                     <div class="del_l_l"><img src="../images/cnt09.gif" alt="隔声门" titile="隔声门" /></div>
                     <div class="del_l_r">
                          <h3>隔声门</h3>
                          <p> 隔声门由门扇和门框组成，是一种采用优质冷轧钢板，冷加工处理成型，门体内按隔声等级填充吸声棉、PU、蜂巢结构、隔声材料，采用先进技术、独特设计及特殊密封制作工艺，单、双裁口做法，具有防火、隔声、逃生优质性能，使用性能稳定，精工制作而成的木、钢质门。

                          </p>
                     </div>
                 </div>
                 <div class="detil_r">
                     <div class="del_r_l"><img src="../images/cnt09.jpg" alt="消声器" titile="消声器" /></div>
                     <div class="del_r_r">
                          <h3><a href="http://www.huanbao.com/trade/supply/index----%E6%B6%88%E5%A3%B0%E5%99%A8.htm" target="_blank">消声器</a></h3>
                          <p>消声器是阻止声音传播而允许气流通过的一种器件，是消除空气动力性噪声的重要措施。消声器是安装在空气动力设备（如鼓风机、空压机）的气流通道上或进、排气系统中的降低噪声的装置。消声器能够阻挡声波的传播，允许气流通过，是控制噪声的有效工具。
                          </p>
                     </div>
                 </div>
                 <div class="clear"></div>
             </div>
         </div>
         
     </div>
     <div class="clear"></div>
<div class="hb_footer">
    	<div class="hb_servnav"><a href="http://www.huanbao.com/fudus/absindex.htm" target="_blank">关于我们</a> | <a href="http://www.huanbao.com/fudus/vpindex.htm" target="_blank">会员服务</a> | <a href="#this" target="_blank">广告服务</a> | <a href="http://www.huanbao.com/fudus/vppay.htm" target="_blank">支付方式</a> | <a href="http://www.huanbao.com/fudus/epmap.htm" target="_blank">网站地图</a> | <a href="http://www.huanbao.com/myesite/newbie.htm" target="_blank">新手指南</a> | <a href="http://www.huanbao.com/fudus/friendlinks.htm" target="_blank">友情链接</a> | <a href="http://www.huanbao.com/funus/absjoinus.htm" target="_blank">客服中心</a> |  <a href="http://www.huanbao.com/fudus/leaveMsg.htm" target="_blank">意见留言</a> | <a href="http://www.huanbao.com/fudus/putArticle.htm" target="_blank">投稿</a> </div>
       <div class="hb_address">
			<p class="hb_footer_pt">
				全国统一服务热线：0571-56633090  市场推广专线：0571-56637878 传真：0571-56637777 
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2604876159&site=qq&menu=yes">
					<img border="0" src="http://wpa.qq.com/pa?p=2:2604876159:41" alt="点击这里给我发消息" title="点击这里给我发消息" style="float:right">
				</a>
			</p>		
			<p>法律顾问：京衡律师集团事务所 罗益群 律师 </p>
			<p>huanbao.com ©All Rights Reserved 中国环保网 版权所有</p>
		</div>
</div>
    <script>
	hb.util.topBar.HoverList();
</script>  
</body>
</html>
