@charset "utf-8";

body,html{margin:0;background:#f14d36}
.main{margin:0 auto}
.top{height:495px;background:url(../images/top.jpg) no-repeat;background-position:center}
.middle{width:960px;height:790px;background:url(../images/jf.jpg) no-repeat}
.middle_{width:960px;height:140px;background:url(../images/txt.jpg) no-repeat}
.bottom{width:950px;height:200px;margin:0 auto}
.b-img{float:left;display:inline;margin-left:70px}
.b-img1{margin-top:20px;float:left;display:inline}





