@charset "utf-8";
*{margin:0;padding:0;font-family:"微软雅黑"}
body{margin:0 auto;background:#ffe49d;color:#333333}
a{text-decoration:none}

.top{height:634px;background:url(../images/top.jpg) no-repeat;background-position:center;position:relative}
.btn1{width:230px;height:80px;display:block;position:absolute;right:220px;top:300px}
.btn2{width:230px;height:80px;display:block;position:absolute;right:220px;top:390px}

.main{width:958px;margin:0 auto}

.box{margin-bottom:50px}

.box-tle{height:60px;background:url(../images/tle.jpg) no-repeat;position:relative}
.box-tle a{color:#409be4;font-weight:bold;font-size:20px;position:absolute;right:40px;top:20px}

.tle{font-size:18px;font-weight:bold;background:#fff;padding:20px 25px}
.tle span{margin-right:24px}

.tle ul{list-style:none}
.tle ul li{line-height:35px}

.tle a{color:#0066cc}
.tle a:hover{text-decoration:underline}

.tle dt{color:#eb473b}
.tle dt{line-height:35px}
.tle dd{line-height:35px}

.box_{height:757px;background:url(../images/step.jpg) no-repeat;padding-top:20px;position:relative}
.box_ .buyer{width:126px;height:28px;line-height:28px;text-align:center;font-weight:bold;color:#481b04;font-size:14px;background:url(../images/cj.jpg) no-repeat;display:block;position:absolute;left:136px;top:295px}
.box_ .seller{width:126px;height:29px;line-height:29px;text-align:center;font-weight:bold;color:#481b04;font-size:14px;background:url(../images/fb.jpg) no-repeat;display:block;position:absolute;left:136px;bottom:177px}
.box_ a:hover{background:#fdae7f;border-radius:3px}



