<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全网来电好礼获奖名单</title>
<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
<link rel="stylesheet" type="text/css" href="css/2015ldb.css"/>
<link rel="stylesheet" href="css/lightbox.css" media="screen"/>
<script type="text/javascript" src="http://img0.huanbao.com/lib/jquery/jquery-1.8.0.min.js"></script>
</head>
 <body>
  <div style="width:100%; background-color:#F9F7EC">
	<div style="width:933px;margin:0 auto">
		{%include 'html/comm/top.html'%}
    </div>
  </div>
  <div class="top"></div>
  <!--end top-->
  <div class="down">
  	<div class="content">
       <div class="tab">
    	<table class="menu f14" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                	<div class="tag2"><a href="http://lindf.zz91.com/" target="_blank" title="个体经营（林先生）">个体经营（林先生）</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo873262.htm" target="_blank" title="升东化纤">升东化纤</a></div>
                </td>
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index977917.htm" target="_blank" title="个体经营（牛开封）">个体经营（牛开封）</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo957960.htm" target="_blank" title="武汉塑料破碎">武汉塑料破碎</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo1027601.htm" target="_blank" title="晋城废铁收购">晋城废铁收购</a></div>
                </td>
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index1011558.htm" target="_blank" title="象山翔凌塑料制品有限公司（肖巫峰）">象山翔凌塑料制品有限公司（肖巫峰）</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo1027289.htm" target="_blank" title="个体经营（刘子雄）">个体经营（刘子雄）</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo998790.htm" target="_blank" title="个体经营（周绍文）">个体经营（周绍文）</a></div>
                </td>                
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo543610.htm" target="_blank" title="胶莱塑胶厂">胶莱塑胶厂</a></div>
                </td>
            </tr>
            
            <tr>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo860811.htm" target="_blank" title="山东鹏翔化工 普通会员">山东鹏翔化工 普通会员</a></div>
                </td>
                
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index1025471.htm" target="_blank" title="个体经营（李秋英）">个体经营（李秋英）</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo900238.htm" target="_blank" title="昌盛塑料有限公司">昌盛塑料有限公司</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index950319.htm" target="_blank" title="个体经营（陈康森）">个体经营（陈康森）</a></div>
                </td>
                <td>
                	<div class="tag2"><a href="http://jjwz.zz91.com/" target="_blank" title="大连市金嘉物资回收有限公司">大连市金嘉物资回收有限公司</a></div>
                </td>                
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo751081.htm" target="_blank" title="上海罕中罕工贸有限公司">上海罕中罕工贸有限公司</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo998196.htm" target="_blank" title="广州冠维化工有限公司">广州冠维化工有限公司</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo951401.htm" target="_blank" title="江苏省太仓市盛兴环保有限公司">江苏省太仓市盛兴环保有限公司</a></div>
                </td>
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index990374.htm" target="_blank" title="个体经营（冯有才）">个体经营（冯有才）</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag2"><a href="http://zujunq.zz91.com/" target="_blank" title="济阳县曲堤镇君全废旧物资回收中心">济阳县曲堤镇君全废旧物资回收中心</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo1014647.htm" target="_blank" title="个体经营（徐生）">个体经营（徐生）</a></div>
                </td>
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index1005759.htm" target="_blank" title="个体经营（汪宏伟）">个体经营（汪宏伟）</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index784068.htm" target="_blank" title="个体经营（刘午庆）">个体经营（刘午庆）</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo1003361.htm" target="_blank" title="庆达">庆达</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo714865.htm" target="_blank" title="广州万绿达集团">广州万绿达集团</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo996700.htm" target="_blank" title="个体经营（王久）">个体经营（王久）</a></div>
                </td>
                <td>
                	<div class="tag1"><a href="http://www.zz91.com/ppc/index1014475.htm" target="_blank" title="个体经营（戴政权）">个体经营（戴政权）</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo1028928.htm" target="_blank" title="光明物资回收公司">光明物资回收公司</a></div>
                </td>
            </tr>
            <tr>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo1026126.htm" target="_blank" title="北京华信顺通节能科技有限公司">北京华信顺通节能科技有限公司</a></div>
                </td>
                <td>
                	<div class="tag"><a href="http://company.zz91.com/compinfo1022699.htm" target="_blank" title="宁波农合化工贸易有限公司">宁波农合化工贸易有限公司</a></div>
                </td>
                <td>
                	<div class="tag2"><a href="http://guoyh.zz91.com/" target="_blank" title="个体经营（郭延红）">个体经营（郭延红）</a></div>
                </td>
            </tr>
        </table>
       </div>
       <!--end tab-->
       <div class="list">
       		<ul>
            	<li>1、网站免费会员：手机再生钱包充值<span class="red">30元</span>,可以查看其它免费会员联系方式；</li>
                <li>2、网站来电宝会员：账户余额中充值<span class="red">30元</span>话费,同时如果您账户余额超过3000元,可免费入驻<span class="brown">《中国再生资源大黄页》</span><a href="http://www.zz91.com/zt/2015yellowpage/index.html" target="_blank">[查看详情]</a></li>
                <li>3、网站品牌通再生通会员：互助社区热门推荐广告展示<span class="red">30天</span>。</li>
            </ul>
       </div>
       <!--end list-->
       <div class="block">
       	 <ul class="first">
         	<li>
            	<div class="box">
                	<img src="images/t1.png" class="tp" />
                	<div class="box-img">
                    	<a href="http://www.zz91.com/ppc/index1005313.htm" target="_blank" title="临沂市荣宇皮带加工有限公司">
                        	<img src="http://img3.zz91.com/150x150/products/2014/9/4/a31ff170-e492-46b1-a420-823e07c8a80f.png" width="226" />
                        </a>
                    </div>
                    <!--end box-img-->
                    <div class="box-info mt8">
                    	<p class="f14 bold"><a href="http://www.zz91.com/ppc/index1005313.htm" target="_blank" title="临沂市荣宇皮带加工有限公司">临沂市荣宇皮带加工有限公司</a></p>
                        <p class="tel bold">400-757-1413</p>
                        <p class="gray">主要为客户提供各种规格的输送带、钢丝绳、汽车垫皮、橡胶板等橡胶制品。</p>
                    </div>
                    <!--end box-info-->
                </div>
                <!--end box-->
            </li>
            <li>
            	<div class="box">
                	<img src="images/t2.png" class="tp" />
                	<div class="box-img">
                    	<a href="http://www.zz91.com/ppc/index1019234.htm" target="_blank" title="个体经营（周武）">
                        	<img src="images/zw.jpg" width="226" />
                        </a>
                    </div>
                    <!--end box-img-->
                    <div class="box-info mt8">
                    	<p class="f14 bold"><a href="http://www.zz91.com/ppc/index1019234.htm" target="_blank" title="个体经营（周武）">个体经营（周武）</a></p>
                        <p class="tel bold">400-745-0268</p>
                        <p class="gray">本公司长期大量求购PET瓶砖，PET毛片，吸塑片(需要挑选和清洗)。</p>
                    </div>
                    <!--end box-info-->
                </div>
                <!--end box-->
            </li>
            <li style="margin-right:0px">
            	<div class="box1">
                	<div class="box1-text">
                    	<p>TOP1、TOP2奖品：</p>
						<p>价值2500元首页中部广告（30天）</p>
                    </div>
                    <section id="examples" class="section examples-section">
						<div class="image-row">
							<a class="example-image-link" href="images/indexBig.jpg" data-lightbox="example-1"><img class="example-image" src="images/indexS.jpg" alt="thumb-1" width="265" height="229"/></a>
						</div>
					</section>
                </div>
            </li>
         </ul>
       </div>
       <!--end block-->
       <div class="cb"></div>
       <div class="block2">
       		<ul class="second">
            	<li>
                	<div class="box2">
                    	<img src="images/t3.png" class="tp" />
                    	<div class="box2-img"><a href="" target="_blank"><img src="http://img3.zz91.com/150x150/products/2014/7/16/148d25b3-f264-4e11-8495-ebad84ee9bf7.jpg" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index994329.htm" target="_blank" title="GRANDEUR GLOBAL PTY LTD">GRANDEUR GLOBAL PTY LTD</a></p>
                        	<p class="tel bold">400-745-0227</p>
                        	<p class="gray">主产品包括HDPE双壁波纹管、PP及PERT给水管地暖管、</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
                <li>
                	<div class="box2">
                    	<img src="images/t4.png" class="tp" />
                    	<div class="box2-img"><a href="http://www.zz91.com/ppc/index939860.htm" target="_blank"><img src="http://img3.zz91.com/150x150/products/2014/3/3/80de40ac-2989-4f50-8098-b763de67d7a0.jpg" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index939860.htm" target="_blank" title="个体经营（金先生）">个体经营（金先生）</a></p>
                        	<p class="tel bold">400-637-1088</p>
                        	<p class="gray">长期大量高价收购PPS钢料，各种废橡胶，硅胶，废橡胶边角料</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
                <li>
                	<div class="box2">
                    	<img src="images/t5.png" class="tp" />
                    	<div class="box2-img"><a href="http://www.zz91.com/ppc/index983472.htm" target="_blank"><img src="http://img3.zz91.com/150x150/products/2014/11/15/f1d58695-a849-4e80-986a-9164fb610b80.jpg" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index983472.htm" target="_blank" title="个体经营（夏真）">个体经营（夏真）</a></p>
                        	<p class="tel bold">400-745-0273</p>
                        	<p class="gray">求购工厂报废塑料产品，库存积压：块料，下脚料</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
                <li>
                	<div class="box2">
                    	<img src="images/t6.png" class="tp" />
                    	<div class="box2-img"><a href="http://www.zz91.com/ppc/index993216.htm" target="_blank"><img src="http://img3.zz91.com/150x150/products/2014/10/21/28755efe-32d3-4136-b521-dfdba404a519.jpg" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index993216.htm" target="_blank" title="文安县宇平造粒厂（叶余平）">文安县宇平造粒厂（叶余平）</a></p>
                        	<p class="tel bold">400-745-0210</p>
                        	<p class="gray">长期供应黑色HDPE高压颗粒，LDPE颗粒，HDPE颗粒</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
                <li>
                	<div class="box2">
                    	<img src="images/t7.png" class="tp" />
                    	<div class="box2-img"><a href="http://www.zz91.com/ppc/index955783.htm" target="_blank"><img src="http://img3.zz91.com/150x150/products/2014/10/20/c2a34a0d-9af6-4893-b6e9-b165737483d0.jpg" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index955783.htm" target="_blank" title="个体经营（白占强）">个体经营（白占强）</a></p>
                        	<p class="tel bold">400-745-0208</p>
                        	<p class="gray">长期回收HDPE破碎料，LDPE破碎料；供应HDPE颗粒，LDPE颗粒。</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
                <li>
                	<div class="box2">
                    	<img src="images/t8.png" class="tp" />
                    	<div class="box2-img"><a href="http://www.zz91.com/ppc/index1010495.htm" target="_blank"><img src="images/ts.jpg" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index1010495.htm" target="_blank" title="唐山市丰润区益宝废旧金属回收有限公司">唐山市丰润区益宝废旧金属...</a></p>
                        	<p class="tel bold">400-745-0287</p>
                        	<p class="gray">本公司长期在唐山周边大量求购废铝，易拉罐，铝销，铝灰等。</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
                <li>
                	<div class="box2">
                    	<img src="images/t9.png" class="tp" />
                    	<div class="box2-img"><a href="http://www.zz91.com/ppc/index32436.htm" target="_blank"><img src="http://img3.zz91.com/150x150/products/2012/9/28/8f1b8d33-0613-41bc-9da8-9c98e6d34560.jpg" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index32436.htm" target="_blank" title="山东德州市星光橡塑制品厂">山东德州市星光橡塑制品厂</a></p>
                        	<p class="tel bold">400-631-5850</p>
                        	<p class="gray">公司采用聚氨酯弹性体（TPU）为原料，以先进的设备...</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
                <li>
                	<div class="box2">
                    	<img src="images/t10.png" class="tp" />
                    	<div class="box2-img"><a href="http://www.zz91.com/ppc/index1018156.htm" target="_blank"><img src="http://img3.zz91.com/150x150/products/2014/10/29/edd1a3a9-3cb4-449d-91da-a7bd0110e5df.bmp" /></a></div>
                        <!--end box2-img-->
                        <div class="box2-info mt8">
                        	<p class="f12 bold"><a href="http://www.zz91.com/ppc/index1018156.htm" target="_blank" title="个体经营（王占齐）">个体经营（王占齐）</a></p>
                        	<p class="tel bold">400-745-0223</p>
                        	<p class="gray">长期供应废塑料，对鞋，旧衣服，夏装，毛衣，羽绒衣</p>
                        </div>
                        <!--end box2-info-->
                    </div>
                </li>
            </ul>
       </div>
       <!--end block2-->
       <div class="cb"></div>
       <div class="block3">
       		<section id="examples" class="section examples-section">
				<div class="image-row">
					<a class="example-image-link" href="images/topBig.jpg" data-lightbox="example-1"><img class="example-image" src="images/topS.jpg" alt="thumb-1" width="265" height="70"/></a>
				</div>
			</section>
       </div>
       <!--end block3-->
       <script src="js/lightbox-2.6.min.js"></script>
       <div style="width:100%;margin-top:100px;line-height:25px;">
      		<div style="width:950px;margin:0 auto;text-align:center;"> {% include 'html/comm/buttom.html' %} </div>
    	</div> 
    </div>
    <!--end content-->
  </div>
  <!--end down-->
 </body>
</html>