<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汽车回收拆解</title>
<link rel="stylesheet" href="css/reset.css" type="text/css" /> 
<link rel="stylesheet" href="css/index.css" type="text/css" />
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script> 
</head>
<body>
    <div class="right-nav">
        <span class="j_gofz">发展方向和目的</span>
        <span class="j_gohs">回收现状和趋势</span>
        <span class="j_goly">车用塑料回收利用</span>
        <span class="j_goxg">相关政策</span>
        <span class="gotop j_gotp">回顶部</span>
    </div>
    <div class="top">
        <div class="top-img">
        </div>
    </div>
    <div class="content">
        <div class="jiajie">
            <span>“</span>步入21世纪以来，我国汽车保有量不断攀升，汽车行业进入需求爆发式增长阶段，而汽车报废期限通常为10~15年。由此预期，我国将在2015年后进入汽车报废高峰期。2015年是政府实施强制淘汰黄标车的关键一年，将促进报废汽车回收拆解行业发展。中国每年报废汽车数量超过500万辆，预计2020年将超过1400万辆。但目前我国汽车报废回收拆解现状并不理想，这不仅给道路交通安全造成隐患，而且还因排放量不达标而污染环境。  
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着大量汽车步入报废期，由此引发的废弃资源综合利用难题、重金属污染高发问题和交通安全事故等频频发生，加强汽车回收利用管理是一项紧迫而具有深远意义的工作。然而，我国自2006年《汽车回收利用技术政策》颁布以来，政策中规定的各项具体管理措施进展缓慢，与国外相比差距愈发加大，因此加强汽车回收利用管理工作刻不容缓。<span>”</span>
        </div>
        <div class="fx-mudi">
            <div class="fx-title">汽车回收拆解的发展方向和目的<span>&nbsp;</span></div>
            <span class="fx-title-small">发展方向和目的</span>
            <div class="fx-xq">
                <p>发展方向：在中心城市建立规模较大的报废汽车回收拆解中心及合理布局的回收网络。</p>
                <p>目的：1.回收拆解中心主要采取机械切割（结合适当氧割）解体，分选、打包压块的现代拆解加工方式。既能解除繁重的体力劳动，又可节约成本、减少环境污染。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.建立回收拆解中心还可以和国家重点钢厂建立定点关系，交售废钢铁，做到及时充分利用。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.以现有大型回收企业为龙头建立报废汽车回收拆解利用中心， 有利于尽快形成我国报废汽车拆解工作的良性运行机制。</p>
            </div>
            <div class="fx-img"><img src="images/fangximg.jpg"/></div>
            <div class="fx-img-title">图1.  现行报废汽车循环利用流程图</div>
            <div class="fx-baid">缺陷：拆解手段落后（手工）、方式粗暴（切割、压块）、污染严重（油污和重金属）、回收材料单一（金属）</div>
        </div>
        <div class="xz-qusi">
            <div class="fx-title">报废汽车回收现状和趋势预测<span>&nbsp;</span></div>
            <div class="xz-sm">汽车拆解业五大困境待解</div>
            <ul class="xz-ul clear">
                <li>
                    <div class="xz-li-img"><img src="images/qsimg1.jpg"/></div>
                    <div class="xz-li-num"><span>01</span></div>
                    <div class="xz-li-xq">第一是回收量低，秩序混乱。我国报废汽车回收率一直低位徘徊。由于“准报废车”低廉的价格和监管的力度不足，二手车商和非法经营企业变通手段灵活，大范围地高价收购报废车辆，滋长了报废车流向二手车市场的需求空间，繁琐的报废程序和低于市场收购价的补贴，让老旧车车主更情愿在二手车市场寻找买家而非主动报废。</div>
                </li>
                <li class="scolor">
                    <div class="xz-li-img"><img src="images/qsimg2.jpg"/></div>
                    <div class="xz-li-num"><span>02</span></div>
                    <div class="xz-li-xq">第二是企业整体水平较低。我国报废汽车回收拆解行业虽然近几年得到了较快发展，但与发达国家相比，我国报废汽车回收拆解行业整体发展水平仍然比较落后，企业仍多采用粗放式经营，管理方式、技术手段落后，设备简陋，回收拆解作业不规范、不环保、不节约等现象仍然存在。</div>
                </li>
                <li>
                    <div class="xz-li-img"><img src="images/qsimg3.jpg"/></div>
                    <div class="xz-li-num"><span>03</span></div>
                    <div class="xz-li-xq">第三是企业经营模式不适应社会发展。我国报废汽车回收拆解企业因历史原因形成集回收、拆解、剪切破碎于一体的经营模式。这种经营模式重点不突出，企业仍以销售废钢铁为主要盈利目标，忽视零部件的附加值，零部件利用率较低。</div>
                </li>
                <li class="scolor">
                    <div class="xz-li-img"><img src="images/qsimg4.jpg"/></div>
                    <div class="xz-li-num"><span>04</span></div>
                    <div class="xz-li-xq">第四是相关法规政策尚需完善。我国2001年颁布的法令《报废汽车回收管理办法》亟待修订。回收拆解企业资本认定工作有待法律明确；报废汽车拆解的发动机、变速箱等总成部件应当放开经销；明确汽车生产企业延伸责任制度和拆解企业退进机制等相关问题。</div>
                </li>
                <li>
                    <div class="xz-li-img"><img src="images/qsimg5.jpg"/></div>
                    <div class="xz-li-num"><span>05</span></div>
                    <div class="xz-li-xq">第五是经营税负过重。在国外汽车拆解行业的税率基本在3%~5%，而我国报废汽车回收拆解行业缴纳的各项税费达20%以上，企业难以承受。</div>
                </li>
            </ul>
            <div class="xz-wen">
                <span class="fx-title-small fr">趋势预测</span>
                <div class="xq-wen">
                    2015年，国内宏观经济增速继续减弱，市场需求复苏动力不足，尤其是我国钢铁行业仍在进行结构调整，导致钢材产能下降，废钢价格低迷不振，也将对报废汽车回收拆解销售产生不利影响。但2015年又是报废汽车回收拆解行业面临经营困难与发展机遇并存的一年，预计报废汽车回收量可达到280万辆，同比增长27.3%，企业经济效益也会进一步提升。
                </div>
            </div>
        </div>
        <div class="hs-liyong">
            <div class="fx-title">汽车用塑料的回收再利用<span>&nbsp;</span></div>
            <div class="jiajie">
                <span>“</span>30多年来，塑料在汽车中的应用不断增多。为了满足汽车日趋智能、舒适、环保低碳及降成本的需求，车用塑料作为车用材料中的一员将发挥日益重要的作用，并朝着功能化、轻量化、绿色环保化以及低成本与高质量的平衡方向发展。<span>”</span>
            </div>
            <div class="hs-one">
                <span class="fx-title-small">1.从源头开展生态设计和再利用设计</span>
                <div class="fx-xq">
                    <dl>
                        <dt><img src="images/dian.jpg"/>采用轻量化、短流程环保材料</dt>
                        <dd>例1：采用发泡PP替代聚氨酯泡沫</dd>
                        <dd>例2：汽车仪表板节后表皮/缓冲层/骨架由PVC/ABS表皮/聚氨酯泡沫层/GF-SMA改采用新型结构-TPO表皮/发泡PP、增强PP骨架</dd>
                        <dd>例3：减少材料种类。增加易回收塑料种类，如PP</dd>
                        <dd>例4：木塑材料、麻纤维材料</dd>
                        <dt><img src="images/dian.jpg"/>所采用的塑料应该尽可能有利于回收再生</dt>
                        <dd>所有汽车塑料件均有标示分类号。对含有害物质和零部件进行标志、编码</dd>
                        <dd>采用新的结构设计，制作易于拆装分离识别</dd>
                        <dd>减少车用塑料的种类，也有利于汽车塑料的回收</dd>
                        <dt><img src="images/dian.jpg"/>回收再利用绿色循环与高值利用</dt>
                        <dt><img src="images/dian.jpg"/>再生塑料在汽车尽可能再利用</dt>
                    </dl>
                </div>
            </div>
            <div class="huis-lc-img">
                <img src="images/huis-lc.jpg"/>
            </div>
            <div class="hs-img-title">构建汽车材料回收管理体系，建立相应的政策、物流、数据、市场体系</div>
            <div class="">
                <span class="fx-title-small fr">2. 研发汽车回收利用关键技术</span>
                <div class="xq-wen">
                    <dl>
                        <dt><img src="images/dian.jpg"/>汽车塑料可回收设计技术：尽量减少塑料种类；兼容性好的材料；或避免有毒有害材料;减少或少用涂层；选择再生料</dt>
                        <dt><img src="images/dian.jpg"/>汽车材料的识别技术：中红外光谱近红外光谱；拉曼光谱；X射线荧光</dt>
                        <dt><img src="images/dian.jpg"/>汽车塑料拆解技术：模块化设计；拆解工作量最小化；易于操作；易于分离</dt>
                        <dt><img src="images/dian.jpg"/>汽车塑料的分离技术：浮选法；静电分离法；密度分离法；去除涂漆法</dt>
                        <dt><img src="images/dian.jpg"/>汽车塑料回收利用技术：熔融加工；直接成型加工；溶解回收；化学解聚</dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="xg-zhengc">
            <div class="fx-title">相关政策<span>&nbsp;</span></div>
            <div class="xz-sm"><a href="http://huzhu.zz91.com/detail/661882.html" target="_blank">《汽车产品回收利用技术政策》</a>2008-2017的主要内容如下表： </div>
        </div>
        <table class="zc-table" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="33">阶段</td>
                <td width="80">年限</td>
                <td width="460">主要内容</td>
                <td>备注</td>
            </tr>
            <tr class="tcolor"> 
                <td>1</td>
                <td>2008年起</td>
                <td>可回收利用率登记备案</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>2010年起</td>
                <td style="text-align:left">M1/N1，可回收利用率达到85%，材料再利用率不小于80%;<br>N2/N3；M2/M3可回收利用率在85%左右 ，材料再利用率不小于80%。</td>
                <td style="text-align:left">除特定豁免的零部件外，对使用铅、汞、镉及六价铬/及多溴联
苯提出了限量值</td>
            </tr>
            <tr class="tcolor">
                <td>3</td>
                <td>2012年起</td>
                <td>所有车型可回收利用率在90%左右 ，材料再利用率不小于80%。</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>2017年起</td>
                <td>所有车型可回收利用率在95%左右 ，材料再利用率不小于85%。</td>
                <td></td>
            </tr>
        </table>
        <div class="zc-all clear">
            <div class="li-zc fl">
                <span class="fx-title-small">我国历年实施的相关措施</span>
                <div class="li-zc-xq">
                    <p>15年，是报废汽车回收拆解行业发展的关键性一年：新修订《报废机动车回收拆解管理条例》出台，报废汽车回收拆解行业经营管理得到进一步加强;行业税收政策已经调整，给企业减负将落到实处;拆解材料市场价格即将触底回升，拆解可回用零配件再利用率有望提升。新修订的《报废机动车回收拆解管理条例》将进一步明确报废机动车回收拆解相关责任，对回收拆解企业强调依法经营，并加大了对市场违法行为的惩罚力度。</p>
                    <p>2015年将全部淘汰2005年底前注册营运的不少于600万辆黄标车，考虑到部分黄标车将会由大中城市转移到小城市暨农村地区继续使用，预计全年被强制淘汰报废的黄标车和老旧车将不少于280万辆，同比增长27.3%。而据国务院2013年《大气污染防治行动计划》要求，中国现有约占汽车保有量10%的1300余万辆黄标车，也将于2017年实现基本淘汰...</p>
                    <div class="more-gd"><a href="http://huzhu.zz91.com/detail/662011.html" target="_blank">查看更多>></a></div>
                </div>
            </div>
            <div class="zc-list fr">
                <span class="fx-title-small">政策</span>
                <ul class="zc-list-ul">
                    <li><a href="http://huzhu.zz91.com/detail/661876.html" target="_blank">《报废机动车回收拆解管理条例》</a></li>
                    <li><a href="http://huzhu.zz91.com/detail/661877.html" target="_blank">《大气污染防治行动计划》</a></li>
                    <li><a href="http://huzhu.zz91.com/detail/661878.html" target="_blank">《2014年黄标车及老旧车淘汰工作实施方案》</a></li>
                    <li><a href="http://huzhu.zz91.com/detail/661879.html" target="_blank">《再制造产品“以旧换再”试点实施方案》</a></li>
                    <li><a href=" http://huzhu.zz91.com/detail/661880.html" target="_blank">《汽车零部件再制造试点管理办法》</a></li>
                    <li class="nobot"><a href="http://huzhu.zz91.com/detail/661882.html" target="_blank">《汽车产品回收利用技术政策》</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="foot-jj">
        <img src="images/foot-top.jpg" class="foot-top"/>
            中国报废汽车回收拆解行业要做大做强，仅只靠卖废钢铁是肯定不行的。借鉴国外成熟经验，未来行业的发展方向主要有两个：一是对回收拆解可利用零部件的再利用;二是对包括“五大总成”在内零部件的再制造。而随着政府政策的引导、企业自身经营管理的不断加强以及回收报废车辆状况质量的逐渐改善，越来越多的汽车回收拆解企业也已经开始重视提高拆解再生材料的质量和直接利用率，提升拆解可回用零部件的附加值。随着经济的发展与对环保要求的不断提升，报废汽车拆解产业的市场环境与经济效益也一定会越来越好。未来报废汽车必将成为最大的城市矿产之一;而报废汽车拆解产业也必将成为新兴的朝阳产业。
        </div>
    </div>
</body>
<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js" ></script>
<script type="text/javascript">
        moveGo(".j_gofz",".fx-mudi")
        moveGo(".j_gohs",".xz-qusi")
        moveGo(".j_goly",".hs-liyong")
        moveGo(".j_goxg",".xg-zhengc")
        moveGo(".j_gotp","body")
        function moveGo(ckobj,objto){
            $(ckobj).on("click",function(){
                var gouHeight = $(objto).offset().top;
                $("html,body").animate({"scrollTop":gouHeight+"px"})
            })  
        }
        $(function(){
            var gouHeight = parseInt($(".right-nav").css("top"));
            $(".right-nav").css("top",gouHeight+$(document).scrollTop()+"px")
            $(window).scroll(function(){
                var lastHeight = gouHeight;
                if($(document).scrollTop()>$(window).height()/2){
                    $(".gotop").css("display","block");
                    lastHeight = gouHeight -200;
                }else{
                    $(".gotop").css("display","none");
                }
                setTimeout(function(){
                    var scrollHeight=$(document).scrollTop();
                    var endHeight =lastHeight +scrollHeight;
                    $(".right-nav").stop().animate({"top":endHeight+"px"},500)
                },400) 
            })
        })
</script>
</html>
