<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>尊重生命，拒做污染的旁观者</title>
<link rel="shortcut icon" href="http://img0.huanbao.com/huanbao/../../../../images/logo/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../commcss/hb.hack.css"/>
<link rel="stylesheet" type="text/css" href="../../commcss/hb.comm.css" />
<script type="text/javascript" src="../../commjs/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../../commjs/hb.comm.js" ></script>
<style type="text/css">
div,td{font-size:12px; color:#FFF; line-height:22px;}
.sa{font-size: 12px;color: #0774ac;}
.sa:link{text-decoration: none;}
.sa:visited{text-decoration: none;color: #0774ac;}
.sa:hover{text-decoration: none;color: #F00;}
.sa:active{text-decoration: none;color: #0774ac;}
.ma{font-size: 12px;color: #FFF;}
.ma:link{text-decoration: none;}
.ma:visited{text-decoration: none;color: #FFF;}
.ma:hover{text-decoration: none;color: #F00;}
.ma:active{text-decoration: none;color: #FFF;}
.ma14{font-size: 14px;color: #FFF;}
.ma14:link{text-decoration: none;}
.ma14:visited{text-decoration: none;color: #FFF;}
.ma14:hover{text-decoration: none;color: #F00;}
.ma14:active{text-decoration: none;color: #FFF;}
.hb_footer p{color:#000;}
</style>
</head>

<body style="margin:0px;">
{%include 'html/comm/top.html'%}
<div style="width:960px; margin:0px auto;">
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="../images/zzsm_02.jpg" width="958" height="230" /></td>
  </tr>
  <tr>
    <td><img src="../images/zzsm_05.jpg" width="958" height="223" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/zzsm_07.jpg">
  <tr>
    <td><img src="../images/zzsm_06.jpg" width="183" height="58" /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#020204"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="276">&nbsp;</td>
    <td width="267" valign="top" background="../images/zzsm_10.jpg"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="160">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>事件：</strong> 97箱蜜蜂离奇死亡<br />
          <strong>时间：</strong>2012年4月30日<br />
          <strong>内容：</strong> 金师傅像往常一样来到了自<br />
          家的养蜂场，可看到的是97箱蜜蜂竟<br />
          一动不动，密密麻麻僵……<a href="http://www.huanbao.com/news/details7785.htm" target="_blank" class="sa">[详情]</a></td>
      </tr>
    </table></td>
    <td width="53">&nbsp;</td>
    <td width="267" valign="top" background="../images/zzsm_12.jpg"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="160">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>事件：</strong> 挪威20吨鱼集体死亡<br />
          <strong>时间：</strong> 近日<br />
          <strong>内容：</strong> 挪威男子约根森近日在海滩<br />
          边遛狗，无意中发现了海滩上成堆的<br />
          发臭的死鱼，估计一共有……<a href="http://www.huanbao.com/news/details7788.htm" target="_blank" class="sa">[详情]</a></td>
      </tr>
    </table></td>
    <td width="51">&nbsp;</td>
    <td width="267" valign="top" background="../images/zzsm_14.jpg"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="160">&nbsp;</td>
      </tr>
      <tr>
        <td><strong>事件： </strong>107头巨头鲸搁浅<br />
          <strong>时间： </strong>2011年2月20日<br />
          <strong>内容： </strong>两名游客发现107头巨头鲸搁<br />
          浅。半数鲸已经死亡，工作人员决定<br />
          把鲸尸体留在原地，等待……<a href="http://www.huanbao.com/news/details7790.htm" target="_blank" class="sa">[详情]</a></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
</table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="10"></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" bgcolor="#020204"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="10"></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="276">&nbsp;</td>
        <td width="267" valign="top" background="../images/zzsm_19-21.jpg"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="160">&nbsp;</td>
          </tr>
          <tr>
            <td><strong>事件： </strong>大量蚕宝宝离奇死亡<br />
              <strong>时间： </strong>2012年4月27日<br />
              <strong>内容：</strong> 春蚕马上可以上山结茧了，<br />
              但是横县马岭镇富津村的闭大姐家养<br />
              的蚕吃了刚采摘回来的桑……<a href="http://www.huanbao.com/news/details7793.htm" target="_blank" class="sa">[详情]</a></td>
          </tr>
        </table></td>
        <td width="53">&nbsp;</td>
        <td width="267" valign="top" background="../images/zzsm_20-22.jpg"><table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="68">&nbsp;</td>
          </tr>
          <tr>
            <td>• <a href="http://www.huanbao.com/news/details7794.htm" target="_blank" class="ma">秘鲁千余只鹈鹕离奇死亡</a><br />
              • <a href="http://www.huanbao.com/news/details7951.htm" target="_blank" class="ma">英国4万死梭子蟹被冲上岸</a><br />
              • <a href="http://www.huanbao.com/news/details7950.htm" target="_blank" class="ma">瑞典近百寒鸦突然死亡</a><br />
              • <a href="http://www.huanbao.com/news/details7949.htm" target="_blank" class="ma">20余条海豚集体死亡</a><br />
              • <a href="http://www.huanbao.com/news/details7797.htm" target="_blank" class="ma">菲律宾湖内800吨鱼集体死亡</a><br />
              • <a href="http://www.huanbao.com/news/details7798.htm" target="_blank" class="ma">印度鳄鱼集体死亡源于污染</a><br />
              • <a href="http://www.huanbao.com/news/details7948.htm" target="_blank" class="ma">数万菜粉蝶公路边集体死亡</a><br />
              • <a href="http://www.huanbao.com/news/details7801.htm" target="_blank" class="ma">玉溪300多尾珍稀大头鱼一夜间离奇死亡</a><br />
              • <a href="http://www.huanbao.com/news/details7800.htm" target="_blank" class="ma">意大利下起&quot;死鸟雨&quot; 斑鸠尸体从天而降</a></td>
          </tr>
        </table></td>
        <td>&nbsp;</td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="15"></td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
          <td height="10"></td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" background="../images/zzsm_32.jpg">
        <tr>
          <td><img src="../images/zzsm_23-31.jpg" width="174" height="58" /></td>
        </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="10"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="26">&nbsp;</td>
          <td width="290" valign="top" style="border-right:dashed 1px #FFF;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="../images/zzsm_36.jpg" width="148" height="26" /></td>
            </tr>
            <tr>
              <td style="font-size:14px; line-height:30px;">说法1. 寻觅不到食物<br />
                说法2. 生态环境的恶化<br />
                说法3. 气候变化<br />
                说法4. 地球磁场改变+人类活动 <br />
                说法5. 恶化的土地与海洋环境的污染</td>
            </tr>
          </table></td>
          <td valign="top" style="padding-left:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="../images/zzsm_39.jpg" width="148" height="26" /></td>
            </tr>
            <tr>
              <td style="font-size:14px; line-height:24px; text-indent:2em;">如果地球磁极在短时间互换，地球上的<br />
                所有生物将面临大灭绝的灾难，人类也难逃<br />
                末世审判。最近，全球动物大量集体死亡，<br />
                引起了2012之前关注&quot;末日&quot;的人 们的高<br />
                度关注。事件发生当地的各种解析推测综合<br />
                如下：比如新年焰火、雷暴……<a href="http://www.huanbao.com/news/details7803.htm" target="_blank" class="ma14">[详情]</a></td>
            </tr>
          </table></td>
          <td width="20">&nbsp;</td>
        </tr>
    </table></td>
    <td width="318" valign="top"><table width="100" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><img src="../images/zzsm_20.jpg" width="316" height="58" /></td>
      </tr>
      <tr>
        <td background="../images/zzsm_23.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="40" align="center" style="font-size:16px; font-family:'微软雅黑'; font-weight:bold;">政策紧绕&quot;从严管制水资源&quot;</td>
          </tr>
          <tr>
            <td height="160" align="center" valign="top"><img src="../images/zzsm_26.jpg" width="276" height="153" /></td>
          </tr>
          <tr>
            <td align="left" style="padding-left:20px; text-indent:2em; font-size:14px; line-height:24px;">环境保护部环境与经济政策研究中心主任<br />
              夏光近日在水资源管理与城市可持续发展论坛<br />
              上表示，中国的环保政策将采取从严管制和引<br />
              导发展并行……<a href="http://www.huanbao.com/news/details7138.htm" target="_blank" class="ma14">[详情]</a></td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td align="left" style="padding-left:20px; font-size:14px; line-height:24px;">• <a href="http://www.huanbao.com/news/details7807.htm" target="_blank" class="ma14">践行公众参与环保的关系</a><br />
              • <a href="http://www.huanbao.com/news/details7808.htm" target="_blank" class="ma14">环保惠民的绿色追求</a><br />
              • <a href="http://www.huanbao.com/news/details7809.htm" target="_blank" class="ma14">善待地球，就是善待我们人类 </a><br />
              • <a href="http://www.huanbao.com/news/details7810.htm" target="_blank" class="ma14">2012年中华环保世纪行宣传活动 启动</a><br />
              • <a href="http://www.huanbao.com/news/details7811.htm" target="_blank" class="ma14">清洁节水中国行，一家一年一万升</a><br />
              • <a href="http://www.huanbao.com/news/details7097.htm" target="_blank" class="ma14">效益环保要&quot;兼得&quot; 实现稀土可持续发展</a><br />
              • <a href="http://www.huanbao.com/news/details7148.htm" target="_blank" class="ma14">环保从节水做起 中水也能循环使用</a></td>
          </tr>
          <tr>
            <td height="14"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" background="../images/zzsm_43.jpg">
  <tr>
    <td height="257" align="center" valign="bottom" style="color:#000;">如果您的身边存在&quot;破坏环境&quot;的killer，欢迎您来我们网站反映（www.huanbao.com），或者直接拨打环保局电话：12369&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    环境的保护，离不开您的参与！<br />
    <br /></td>
  </tr>
</table>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:solid 3px #000;">
  <tr>
    <td height="10"></td>
  </tr>
</table>
</div>
{% include 'html/comm/buttom.html' %}
</body>
</html>
