<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml"> 
<html>
	<head>
		<title>微信关注教程-ZZ91再生网</title>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
	</head>
	<body>
    	<div class="main">
            <div id="bodybg">
            
        	<div class="link" style="font-size:14px; font-weight:bold"><a href="http://m.zz91.com" target="_self">点击访问手机站</a></div>
            <!--end link-->
            	<img src="images/1.png" class="stretch" />
            </div>
            <!--end step-->
        </div>
        <!--end main-->
	</body>
</html>
