@charset "utf-8";


/*首页*/
.AfterShow{width:auto;height:auto}
.mt30{margin-top:30px}

/*头部*/
.as-header{height:584px;background:url(../images/header_img.jpg) no-repeat;background-position:center}


/*主体*/
.as-main{width:1003px;margin: auto;}
.as-mainblock1{background:#f2e2af;padding:40px 20px;margin:35px 0;border:1px solid #d2ba8e;position:relative}
.as-bar-bg{width:960px;height:16px;background:url(../images/bar_bg.jpg) repeat-x}
.as-bar-btm-bg{width:960px;height:19px;background:url(../images/bar_bottom_bg.jpg) repeat-x}
.atInfo{position:absolute;left:20px;top:-3px}
.abInfo{position:absolute;left:20px;bottom:-3px}
.as-lt{position:absolute;left:0;top:-3px}
.as-gt{position:absolute;right:0;top:-3px}
.as-ltb{position:absolute;left:0;bottom:-3px}
.as-gtb{position:absolute;right:0;bottom:-3px}
.as1-w440{width:420px}
.as1-w530{width:530px}
.as1-item{border:1px solid #ccc}
.as1-item-title{padding:0 20px;background:url(../images/item_bg.jpg) repeat-x}
.as1-item-content{padding:12px;height:282px;background:#fff}
.as1-item-img{width:374px;height:262px;border:1px solid #ccc;padding:10px}
.as1-item-left{width:159px;height:284px;overflow:hidden;background:#fff}
.as1-item-box2{position:relative;width:159px;height:127px;overflow:hidden;}
.as1-item-box2 ul{position:absolute;left:0px;top:0px;}
.as1-item-box2 ul li{height:127px;overflow:hidden;}
.as1-item-right{width:320px;background:#fff}
.as1-item-box{width:280px;height:105px;padding:10px 20px;border:1px solid #ccc;overflow:hidden;background:#fff}
.as1-item-box ul li{height:115px;background:#fff}
.as1-item-box ul li a{font-size:12px}
.as1-item-box ul li a:hover{text-decoration:none}
#toplist2{position:relative;width:280px;overflow:hidden;}
#toplist2 ul{position:absolute;left:0px;top:0px;}
#toplist2 ul li{line-height:24px;height:105px;}
#toplist3{position:relative;width:280px;overflow:hidden;}
#toplist3 ul{position:absolute;left:0px;top:0px;}
#toplist3 ul li{line-height:24px;height:105px;}
.cls_container{border:1px solid #ccc;width:340px;font-size:12px;height:24px;overflow:hidden;}
.cls_container ul{list-style-type:none;margin:0;padding:0;margin-left:32px;}
.cls_container ul li{height:24px;line-height:24px;width:320px;float:left;}

.as-qyml{width:698px;margin:0 auto 15px auto}

.slice2 ul li{line-height:30px;font-size:14px}
.slice2 ul li a{color:#303030}


/*第二部分*/
.as-mainblock2{width:1003px;height:520px;background:#fff}


/*第三部分*/
.as-mainblock3{width:963px;margin:35px 0;border:1px solid #ccc;padding:20px;background:#fff}
.as3-title{background:#fff}
.as3-content p{font-size:13px;color:#393a39;text-indent:2em;line-height:24px;background:#fff}

/*第四部分*/
.as-mainblock4{width:983px;height:79px;padding:10px;background:url(../images/bg1.jpg) no-repeat}
#slide{overflow:hidden;width:983px;margin:0 auto;}
#slide ul{list-style:none;width:2999px;}
#slide ul li{float:left}
/*第五部分*/
.as-mainblock5{width:667px;height:54px;margin:10px auto}
.frame960{width:1003px;height:520px;margin:0 auto;background:#fff}

/*第六部分*/
.line,ul.mulitline{width:500px;height:115px;overflow:hidden;}
ul.mulitline{width:960px;height:505px;user-select: none;}
ul.mulitline li{height:50px;text-indent:15px;font-size:12px;line-height:50px;list-style:none;border-top:1px dashed #7a7979}
ul.mulitline table{width:960px}
ul.mulitline table tr td{text-align:left}
ul.mulitline table tr td a{color:#303030}
ul.mulitline table tr td a:hover{color:#009944}

.mulititle tr td{font-size:16px;font-weight:bold;color:#af040d}