@charset "utf-8";

body{margin:0;padding:0;background:#fd8a77}
.top{height:445px;background:url(../images/top.jpg) no-repeat;background-position:center}
.content{width:959px;margin:0 auto}
.ci{position:relative}
.ci a{position:absolute;bottom:175px;left:220px;color:#7a4a29;font-size:13px;text-decoration:underline}
.ci a:hover{text-decoration:none}

