body{
	
}
.right-nav-dd{
	position: fixed;
	right: 20px;
	top: 240px;
	width: 183px;
	text-align: center;
	_position:absolute;
	_right:expression(eval(document.documentElement.scrollRight+20));
	_top:expression(eval(document.documentElement.scrollTop+240))
}
.right-nav-dd h3{
	line-height: 56px;
	height: 56px;
	color: #fff;
	font-size: 18px;
	background-color: #5fa0ff
}
.right-nav-dd div{
	width: 139px;
	margin: 1px auto 0;
	height: 45px;
	line-height: 45px;
	background-color: #5fa0ff;
	font-size: 16px;
	cursor: pointer;
}
.right-nav-dd .now_ht{
	background-color: #fff36a;
	color: #242424
}
.right-nav-dd .gotop{
	color: #fff;
	background-color: #ffc05c;
}
.band{
	height: 500px;
	/*background:url(../images/band.png) no-repeat center top;*/
	/*margin-top: 30px;*/
	width: 1000px;
	margin: 0 auto;
}
.page{
	background: url(../images/bandimg.jpg) no-repeat center top;
}
.content{
	margin: 50px auto 0;
	width: 1000px;
}
.xxin-main{
	margin-top: 40px;
}
.hot-cp{
	background-color: #f2f2f2
}
.hot-sj{
	background-color: #f2f2f2
}
.hot-yliao{
	width: 220px;
}
.small-hottl{
	line-height: 40px;
	height: 40px;
	padding-left: 20px;
	background-color: #f2f2f2;
	color:#010101;
	font-weight: bold;
	border-bottom: 1px dotted #cccccc;
	font-size: 14px;
	width: 180px;
	margin:0 auto;
}
.hotcp-list{
	background-color: #f2f2f2;
	border-bottom: 1px solid #cccccc;
	height: 131px;
}
.hotcp-ul li{
	float: left;
	width: 45px;
	margin-left: 20px;
	margin-top: 10px;
}
.hotcp-list a{
	font-weight: bold;
	color: #000
}
.hotcp-list a:hover{
	color: #000
}
.sj-list{
	background-color: #f2f2f2;
	height: 339px;
	padding-top: 17px;
}
.sj-list2{
	height: 236px;
	padding-top: 8px;
}
.sj-list a{
	display: block;
	margin-left: 20px;
	margin-bottom: 15px;
	color: #000
}
.sj-list2 a{
	margin-bottom: 10px;
}
.sj-list a:hover{
	color: #000
}
.hot-title{
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 20px;
	color: #005bdf;
	background:#ffea01;
}
.mo-info{
	/*margin-bottom: 25px;*/
	width: 780px;
	overflow: hidden;
}
.title{
	height:50px;
	line-height: 50px;
	color: #f6ff00;
	background-color: #005bdf;
	font-size: 20px;
	padding: 0 25px; 
}
.title span{
	font-weight: bold;
}
.title a{
	color: #fff;
	font-size: 12px;
}
.title a:hover{
	color: #fff
}
.info-list{
	/*background-color: #fff*/
	width: 790px;
}
.info-list-bottom .cp-gy{
	height: 22px;
	line-height: 22px;
	margin-top: 8px;
}
.info-list-bottom .minute{
 	height: 28px;
	line-height: 28px;
}
.minute a:hover{
	color: #000;
}
.info-list li{
	float: left;
	width: 174px;
	padding: 0px 6px;
	margin-top: 10px;
	background:url(../images/cpbg.jpg) no-repeat;
	height: 275px;
	overflow: hidden;
	margin-left: 9px;
}
.cp-xinx{
	width: 174px;
}
.cp-xinx a{
	display: block;
}
.cp-xinx a:hover{
	color: #000
}
.info-img{
	height: 124px;
	width: 174px;
}
.cp-gy{
	line-height: 34px;
	height: 34px;
	color: #000;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space:nowrap; 
	_white-space:normal; 
	overflow:hidden;
	/*width: 185px;*/
	cursor: pointer;
	font-weight: bold;
	margin-top: 8px;
}
.minute{
	font-size: 12px;
	line-height: 28px;
	color: #333333;
	height: 28px;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
	width: 100%;
}
.red{
	color: #cb160a;
	font-weight: bold;
}
.gslj{
	color: #0075c0
}
.bottom-br{
	border-bottom: 1px solid #cacaca
}

.bottom{
	text-align: center;
	color: #000000;
	font-size: 12px;
	line-height: 31px;
	padding: 20px 0 50px;
	width: 1000px;
	margin: 60px auto 0;
	border-top: 2px solid #005bdf
}
.bottom a{
	color: #000000;
}
.bottom a:hover{
	color:#000000;
}