body,ul,ol,li,form,fieldset,input,p,h2,h3,h5,dl,dt,dd{margin:0;padding:0}
/*body,table,td,div,p{word-wrap:break-word;word-break:break-all}*/
HTML {OVERFLOW-X: show}
body{margin:0;padding:0; font-family:"宋体";font-size:12px;color:#000; background-color:#fff}
ol,ul{list-style:none}
select{font-size:12px}
strike,del{ font-family:"宋体"; font-size:12px; color:#999; }
legend{ margin-left:10px; color:#484848}
input,select,button{vertical-align:middle}
img{border:0}
.fl{float:left}
.fr{
	float:right;
	text-align: center;
}
.cb {clear:both}
.border-ccc img{border:1px #ccc solid}
.container-b{border:1px solid #ddd}
.container-m{margin-top:5px}
.m-all-20{margin-top:20px;margin-bottom:20px}
.m-all-12{margin-top:12px;margin-bottom:12px}
.m-all-8{margin-top:8px;margin-bottom:8px}
.pad-10{padding-right:10px}
.pad-10-all{padding:10px}
.newImg
{
	margin-top: 7px;
	margin-right: 5px;
	margin-bottom: 7px;
	margin-left: 5px;	
}
.mainlong
{
	width:100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
}
.main{
	width:960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;	
}
.box
{
	border: 1px solid #CCC;
}
/************上下边宽********************/
.marginSX
{

}
.marginS
{
	margin-top:5px;
}
.marginX
{
	margin-bottom:5px;
}
/************************************0812001**********************************/
.pad-10-l{padding-left:10px}
/**/
.head-box,.head-menu,#bottom{margin:0 auto}
.txt-r{text-align:right}
.txt-l{text-align:left}
.txt-c{text-align:center}
.txt-weight{font-weight:bold}
.even{background:#f2f2f2}
.even-blue{background:#eff8fd}
.line{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;	
}
/*字体*/
.lh18{line-height:180%}
.f12{font-size:12px}
.f14{font-size:14px}
.f15{font-size:15px}
.f-red{color:#FF0000}
.f-black{color:#000}
.f-666{color:#666}
.f-333{color:#333}
.f-green{color:#009900}
.f-orange{
	color:#F60
}
.f-brue
{
	color:#107dbe;
}
.list-price{color:#FF6600; font-weight:700}
.sub-price{font-weight:normal; font-size:12px;color:#FF6600}
.list-price{font-size:18px}
#list-content .list-price{font-size:15px; font-weight:600}
.price-del{text-decoration: line-through;}
h3{font-size:14px}
/*链接k*/
a{color:#666;text-decoration:none}
a:hover{color:#f50;text-decoration:underline}
a.link-black{color:black; text-decoration : none}
a.link-black:hover{color:black; text-decoration:underline}
a.link-red{color:red; text-decoration : none}
a.link-red:hover{color:red; text-decoration:underline}
a.link-green{color:#229B00; text-decoration : none}
a.link-green:hover{color:#229B00; text-decoration:underline}
a.link-gray{color:#666; text-decoration : none}
a.link-gray:hover{color:#666; text-decoration:underline}
a.more{padding-right:5px}

