<div id="topBar" style="position:relative;">
	<div id="topBarInfo">
		<div id="topBarLogin">
			<script src="http://www.zz91.com/webst.htm"></script>
		</div>

		<div id="topBarLinkNew">
			<ul>
				<li id="baibaoxiang">
					<ul>
						<li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
							<div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px"><a href="http://myrc.zz91.com/" rel="nofollow">生意管家</a></div>
							<div class="serverlist" style="display:none;">
								<div><a href="http://myrc.zz91.com/myproducts/office_post_list.htm?checkStatus=1&isExpired=0&isPause=0" rel="nofollow" target="_blank">供求管理</a></div>
								<div><a href="http://myrc.zz91.com/mymessage/inbox.htm" rel="nofollow" target="_blank">留言管理</a></div>
								<div><a href="http://myrc.zz91.com/mycompany/companyList.htm" rel="nofollow" target="_blank">会员资料</a></div>
								<div><a href="http://myrc.zz91.com/mysubscribe/priceList.htm" rel="nofollow" target="_blank">在线行情</a></div>
							</div>
						</li>
					</ul>
				</li>
				<li id="baibaoxiang">
					<ul>
						<li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
							<div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px"><a href="http://www.zz91.com/zst/" rel="nofollow">会员服务</a></div>
							<div class="serverlist" style="display:none;">
								<div><a href="http://www.zz91.com/zst/" rel="nofollow" target="_blank">再生通</a></div>
								<div><a href="http://www.zz91.com/service/ppt/index.asp" rel="nofollow" target="_blank">品牌通</a></div>
								<div><a href="http://www.zz91.com/specialsubject/hjzw/" rel="nofollow" target="_blank">黄金展位</a></div>
								<div><a href="http://www.zz91.com/service/baidu/yh.html" rel="nofollow" target="_blank">百度优化</a></div>
								<div><a href="http://subject.zz91.com/call/index/" rel="nofollow" target="_blank">来电宝</a></div>

							</div>
						</li>
					</ul>
				</li>

				<li class="topbarli"><a href="http://subject.zz91.com/mobileweb/index/" rel="nofollow" target="_blank">手机网</a></li>
				<li id="baibaoxiang">
					<ul>
						<li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
							<div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px"><a href="http://about.zz91.com/contact.html" rel="nofollow">客服中心</a></div>
							<div class="serverlist" style="display:none;">
								<div><a href="http://about.zz91.com/contact.html" rel="nofollow" target="_blank">联系我们</a></div>
								<div><a href="http://help.zz91.com" rel="nofollow" target="_blank">新手上路</a></div>
							</div>
						</li>
					</ul>
				</li>
				<li class="topbarli"><a href="http://www.recyclechina.com" rel="nofollow" target="_blank">国际站</a></li>
				<li id="baibaoxiang">
					<ul>
						<li class="droplist_off" onmouseover="displaySubMenu11(this)" onmouseout="hideSubMenu11(this)">
							<div class="baibaoxiang_off" style="line-height:28px; background-position:55px; width:70px">网站导航</div>
							<div id="nav_content2013" style="display:none;">
								<div>
									<dl class="nav_box">
										<dt class="nav_title">常用工具</dt>
										<dd><a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank">快速发布供求</a></dd>
										<dd><a href="http://myrc.zz91.com/mycompanyprice/createPrice.htm" target="_blank">发布报价</a></dd>
										<dd><a href="http://myrc.zz91.com/subscribe/subscribeIndex.htm" target="_blank">商机定制</a></dd>
										<dd><a href="http://huzhu.zz91.com/postReply.htm" target="_blank">发布帖子</a></dd>

									</dl>
									<div style="clear:both"></div>
									<dl class="nav_box">
										<dt class="nav_title"><a href="http://trade.zz91.com" target="_blank">交易中心</a></dt>
										<dd><a href="http://trade.zz91.com/metal.htm" target="_blank">废金属</a></dd>
										<dd><a href="http://trade.zz91.com/plastic.htm" target="_blank">废塑料</a></dd>
										<dd><a href="http://trade.zz91.com/waste.htm" target="_blank">废电子电器</a></dd>
										<dd><a href="http://trade.zz91.com/offerlist--a--p--废橡胶.htm" target="_blank">废橡胶</a></dd>
										<dd><a href="http://trade.zz91.com/offerlist--a--p--废纸.htm" target="_blank">废纸</a></dd>
										<dd><a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E7%BA%BA%E7%BB%87%E5%93%81.htm" target="_blank">废纺织品</a></dd>
										<dd><a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E7%9A%AE%E9%9D%A9.htm" target="_blank">废皮革</a></dd>
										<dd><a href="http://trade.zz91.com/offerlist--a--p--%E4%BA%8C%E6%89%8B%E8%AE%BE%E5%A4%87.htm" target="_blank">二手设备</a></dd>
										<dd><a href="http://trade.zz91.com/offerlist--a--p--%E5%BA%9F%E7%8E%BB%E7%92%83.htm" target="_blank">废玻璃</a></dd>
									</dl>
									<div style="clear:both"></div>
									<dl class="nav_box">
										<dt class="nav_title"><a href="http://jiage.zz91.com/" target="_blank">行情报价</a></dt>
										<dd><a href="http://jiage.zz91.com/jinshu/" target="_blank">废金属频道</a></dd>
										<dd><a href="http://jiage.zz91.com/suliao/" target="_blank">废塑料频道</a></dd>
										<dd><a href="http://jiage.zz91.com/other/" target="_blank">综合废料频道</a></dd>
										<dd><a href="http://jiage.zz91.com/cpriceindex/" target="_blank">企业报价</a></dd>
									</dl>
									<div style="clear:both"></div>
									<dl class="nav_box">
										<dt class="nav_title">再生频道</dt>
										<dd><a href="http://xianhuo.zz91.com/" target="_blank">现货商城</a></dd>
										<dd><a href="http://map.zz91.com/" target="_blank">再生地图</a></dd>
										<dd><a href="http://zhanhui.zz91.com/" target="_blank">再生展会</a></dd>
										<dd><a href="http://tech.zz91.com/index.htm" target="_blank">再生技术</a></dd>
										<dd><a href="http://www.zz91.com/photo/" target="_blank">产品相册</a></dd>
										<dd><a href="http://www.zz91.com/xiazai" target="_blank">行情研究院</a></dd>
										<dd><a href="http://mingxing.zz91.com/" target="_blank">明星企业</a></dd>
									</dl>
									<div style="clear:both"></div>
									<dl class="nav_box" style="border-bottom:none;">
										<dt class="nav_title"><a href="http://huzhu.zz91.com/" target="_blank">再生互助</a></dt>
										<dd><a href="http://huzhu.zz91.com/bbsCategory1.htm" target="_blank">废料动态</a></dd>
										<dd><a href="http://huzhu.zz91.com/bbsCategory2.htm" target="_blank">行业知识</a></dd>
										<dd><a href="http://huzhu.zz91.com/bbsCategory3.htm" target="_blank">江湖风云</a></dd>
										<dd><a href="http://huzhu.zz91.com/bbsCategory4.htm" target="_blank">ZZ91动态</a></dd>
									</dl>
									<div style="clear:both"></div>

								</div>
								<div style="clear:both"></div>
								<div class="nav_more"><a href="http://www.zz91.com/webmap/" target="_blank">更多内容</a> &gt; </div>
							</div>
						</li>
					</ul>
				</li>

			</ul>
		</div>

	</div>
</div>
<style>
	#mainBlock {
		width: 960px;
		margin: 0 auto 0 auto;
	}
	.ad_right { position: fixed; top:50px;margin-left:-180px; width: 170px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
</style>
<div style="clear: both;"></div>
<div id=mainBlock>
	<script src="http://gg.zz91.com/show?p=478"></script>
</div>
<div class="logosearch" id="logosearch">
	<div class="logo">
		<div style="float:left">
			<a href="http://www.zz91.com" target="_blank" title="ZZ91再生网"><img src="http://img0.zz91.com/zz91/images/logo.png" alt="ZZ91再生网" /></a>
		</div>
		<div style="float:left; margin-left:20px; font-size:28px; font-weight:bold;overflow: hidden;height:50px">{{toplabel}}</div>
	</div>
	<div class="top_search">
		<form id="searchForm1" action="#" method="post" onsubmit="return zz91searchindex(this,0);">
			<div class="search">
				<div class="search_bar">
					<div class="nav1">
						<ul>
							<li class="" s-data="输入产品关键字，搜索产品供应信息！" value="1">产品</li>
							<li s-data="输入关键字，搜索产品求购信息！ " value="2" class="searchnav_on">求购</li>
							<li s-data="输入您要搜索的报价产品关键字！" value="3" class="">报价</li>
							<li s-data="输入公司名称、地区、主营产品等" value="4">公司</li>
							<li s-data="输入产品关键字，搜索对应产品图片" value="5">图片</li>
						</ul>
					</div>
					<div class="box">
						<div class="left" style="position:relative; z-index:9000; clear:both">
							<input name="keywords" id="TopKeywords" type="text" value="输入产品关键字，搜索产品供应信息！" class="searchtext" autocomplete="off" style="color: rgb(153, 153, 153);">
							<div id="searchresult" style="display:none"></div>
							<input type="hidden" value="2" name="TopSeaType" id="TopSeaType">
						</div>
						<div class="right">
							<a href="javascript:void(0)" data="1" class="search_a" id="search_a1"></a>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--搜索-->
	</div>
	<div class="top_right">
		<div class="top_right_left">
			或
		</div>
		<div class="top_right_right">
			让卖家找上门<br />
			<a href="http://trade.zz91.com/postoffer_step1.htm" target="_blank" style="color:#F00">发布产品 > </a><br />
		</div>
	</div>
	<div class="ad_right">
		<script type="text/javascript" src="http://gg.zz91.com/show?p=759"></script>
	</div>
</div>
<script>
	function displaySubMenu11(li) {
		var subMenu = li.getElementsByTagName("div")[1];
		subMenu.style.display = "block";
		var subMenu1 = li.getElementsByTagName("div")[0];
		subMenu1.className = "baibaoxiang_on";
	}

	function hideSubMenu11(li) {
		var subMenu = li.getElementsByTagName("div")[1];
		subMenu.style.display = "none";
		var subMenu1 = li.getElementsByTagName("div")[0];
		subMenu1.className = "baibaoxiang_off";
	}
</script>
<!--end top-->