<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">    
<html xmlns="http://www.w3.org/1999/xhtml"> 
<html>
	<head>
		<title>联系我们_ZZ91再生网来电宝</title>
        <link rel="stylesheet" type="text/css" href="../css/ldb_weixin/index.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=2,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
	</head>
	<body style="background:#e0f0fa">
      <div class="top">
      	<img src="../images/ldb_weixin/bg.jpg" />
      </div>
      <!--end top-->
        <div class="contact">
        	<div class="contact-box">
            	<div class="addr">
                	<div class="addr-dt">
                    	<dt>
                        	<dl>公司地址：浙江省杭州市江干区九盛路9号东方电子商务园13栋</dl>
                            <dl>联系电话：0571-56633145</dl>
                        </dt>
                    </div>
                    <!--end addr-dt-->
                </div>
                <!--end addr-->
                <div class="map">
                	<img src="../images/ldb_weixin/map.jpg" />
                </div>
                <!--end map-->
            </div>
            <!--end contact-box-->
        </div>
        <!--end contact-->
	</body>
</html>
