@charset "utf-8";
/* CSS Document */
.body{width:960px;margin:0 auto}

/*首页主体部分*/
.body .nav {
	line-height: 30px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #090;
}
.body .nav ul li {
	float: left;
	text-align: center;
	font-size: 14px;
	color: #FFF;
}
.body .nav ul li a {
	font-weight: bold;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #fff;
}
.body .nav ul li a:hover {
	font-weight: bold;
	background-color: #ebebeb;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0C0;
	border-right-color: #0C0;
	border-bottom-color: #0C0;
	border-left-color: #0C0;
	
}

.body .nav ul .navon a {
	font-weight: bold;
	color: #FFF;
}
.body .nav ul .navon a:hover {
	background-color: #090;
	color: #FFF;
}
.body .nav ul .navon {
	background-color: #090;
	color: #FFF;
}
.body .synav {
	line-height: 30px;
}
.body h3 {
	background-color: #f2f2f2;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
.body .englishcode {
	line-height: 30px;
	text-align:left;
	margin-top:10px;
}


.body .englishcode a {
	text-align:left;
	display: inline-block;
	width: 20px;
	text-align: center;
	font-weight: bold;
}
.body .englishcode a:hover {
	background-color: #f2f2f2;
}
.body .content {
	margin: 0px;
}
.body .content ul li {
	float: left;
	line-height: 25px;
	width:110px;
}
.body .content .item1 li { 
	width:160px;
	}
.body .content .item2 li { 
	width:78px;
	}
