html,body{
	font-size: 40px;
	height: 100%;
	width: 100%;
	background: url(../images/bgimg.png)  #910635;
	
	color: #fff;
	font-family:"Microsoft YaHei","微软雅黑","source Han Sans","STHei","华文黑体","Helvetica Neue",Helve;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	color: #fff
}
img{
	vertical-align: top;
}
.bgbk{
	background: url(../images/band.png) no-repeat;
	background-size: 100% auto;
}
.dk{
	width: 100%;
	height: 1px;
}
.liucheng{
	margin-top: 7.875rem;
	
	padding: 0 0.25rem;
}
.liucheng-tt{
	font-size: 0.4rem;
	line-height: 0.4rem;
}
.lic-list{
	width: 6.5rem;
	margin: 0.875rem auto 0;
}
.lic-modle{
	width: 3.175rem;
	height: 3.175rem;
}
.lic-modle1{
	background: url(../images/tpimg1.png) no-repeat;
	background-size: 100%;
}
.lic-modle2{
	background: url(../images/tpimg2.png) no-repeat;
	background-size: 100%;
}
.lic-modle3{
	background: url(../images/tpimg3.png) no-repeat;
	background-size: 100%;
	margin-top: 0.1625rem;
}
.lic-modle4{
	background: url(../images/tpimg4.png) no-repeat;
	background-size: 100%;
	margin-top: 0.1625rem;
}
.lic-modle p{
	font-size: 0.375rem;
	text-align: center;
	margin-top: 1.875rem;
	line-height: 0.375rem;
}
.guizhe{
	margin-top: 0.875rem;
	border-top:0.025rem dashed #bb053e;
	padding: 0.625rem 0.25rem
}
.color-yel{
	color: #ffea00
}
.guizhe-nl{
	margin-top: 0.1875rem;
	padding: 0 0.25rem;
	font-size: 0.35rem;
	line-height: 0.475rem;
}
.tbbox{
	background: #a61c4b;
	box-shadow: 0 0 5px #000
}
.tbbox-seareh{
	padding: 0.4375rem 0.25rem;
}
.seareh-name{
	font-size: 0.4rem;
	line-height: 0.4rem
}
.seareh-more{
	font-size: 0.325rem;
	line-height: 0.325rem;
	color: #fff
}
.seareh-box{
	position: relative;
	margin-top: 0.45rem;
	height: 0.875rem;
}
.seareh-ipt{
	height: 0.875rem;
	border-radius: 0.0625rem;
	border:0;
	width: 100%;
	font-size: 0.3rem;
	padding-left: 0.3rem;
	position: absolute;
	top: 0
}
.seareh-btn{
	height: 0.875rem;
	width: 0.5rem;
	background: url(../images/fdimg.png) no-repeat center center;
	background-size: 0.275rem  0.275rem;
	position: absolute;
	top: 0;
	right: 0.2rem;
}
.firmlist li{
	padding: 0.25rem;
	border-top:0.025rem dashed #b23249;
}
.firm-mane{
	font-size: 0.375rem;
}
.firm-mane span{
	display: inline-block;
	width: 0.75rem;
	height: 0.8rem;
	background: url(../images/bianhao.png) no-repeat center center;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 0.2rem;
	padding-left: 0.1rem;
	padding-top: 0.1rem;
	text-align: center;
	line-height: 0.6rem;
	color: #62100a;
	font-size: 0.425rem;
}
.firm-jj{
	font-size: 0.275rem;
	line-height: 0.475rem;
	margin-top: 0.15rem;
}
.firm-do{
	margin-top: 0.35rem;
}
.firm-num{
	font-size: 0.325rem;
	line-height: 0.75rem;
}
.firm-btn{
	display: inline-block;
	width: 2.375rem;
	height: 0.75rem;
	background: url(../images/toubtn.png);
	background-size: 100% 100%;
	box-shadow: 1px 1px 5px #000
}
.firm-btn-end{
	background: url(../images/toubtnend.png);
	background-size: 100% 100%
}
.seeph{
	border-top:0.025rem dashed #b23249;
	padding: 0.75rem 0;
}
.seeph a{ 
	display: block;
	width: 3.45rem;
	height: 0.8125rem;
	color: #ffdd47;
	border:1px solid #ffdd47;
	border-radius: 50px;
	font-size: 0.35rem;
	margin: 0 auto;
	text-align: center;
	line-height: 0.8125rem;
}
.daoyu{
	padding: 0.475rem 0.25rem
}
.daoyu-tt{
	font-size: 0.4rem;
	line-height: 0.4rem;
}
.daoyu-p{
	font-size: 0.3rem;
	line-height: 0.475rem;
	margin-top: 0.2rem;
}
.fangshi{
	border-top:0.025rem dashed #b23249;
	 padding:0.55rem 0.25rem;
}
.fangshi-ts{
	font-size: 0.325rem;
	margin-top: 0.5rem;
}
.erweiimg{
	margin-top: 0.5rem;
	text-align: center;
}
.erweiimg img{
	width: 6.4625rem;
}
.jiangse{
	background: #a61c4b;
	padding: 0.9rem 0.25rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 5px #000
}
.jiangse-p{
	font-size: 0.325rem;
	line-height: 0.525rem;
	margin-top: 0.45rem;
}
.loname{
	text-align: center;
	font-size: 0.25rem;
	margin-top: 0.45rem;
}

.toptine{
	text-align: center;
	line-height: 1.75rem;
	font-size: 0.45rem;
}
.tenbox{
	margin: 0 0.125rem;
	padding: 0.25rem 0.125rem 0.325rem;
	background: #a61c4b;
	box-shadow: 0px 0px 5px #000
}
.getnew{
	width: 1.55rem;
	height: 0.625rem;
	line-height: 0.625rem;
	text-align:center;
	font-size: 0.3rem;
	background: #d55982;
	border-radius: 0.1rem
}
.pmname{
	font-size: 0.375rem;
	line-height: 0.625rem;
}
.tenmo{
	background: #d55982;
	border-radius: 0.2rem;
}
.tenlist{
	display: table;
	margin-top: 0.3rem;
}
.tenlist li{
	display: table-row;
	font-size: 0.3rem;
	border-bottom:5px dashed #fff;
}
.tenlist li .tatd{
	display: table-cell;
	text-align: center;
	height: 1.125rem;
	vertical-align: middle;
}
.tatd1{
	width: 1.375rem;
	border-top:1px dashed #fff;
}
.tatd2{
	width: 4.25rem;
	border-top:1px dashed #fff;
}
.tatd3{
	width: 1.875rem;
	border-top:1px dashed #fff;
}
.tenlist .tentitle{
	font-size: 0.375rem
}

.tentitle .tatd1,.tentitle .tatd2,.tentitle .tatd3{
	border-top:0
}
.tenlist li:nth-child(2) .pm-name{
	width: 0.5rem;
	height: 0.7rem;
	background: url(../images/xunyi1.png);
	border-radius: 0%;
	background-size: 100% 100%;
	overflow: hidden;
	text-indent: 10em;
}
.tenlist li:nth-child(3) .pm-name{
	width: 0.5rem;
	height: 0.7rem;
	background: url(../images/xunyi2.png);
	border-radius: 0%;
	background-size: 100% 100%;
	overflow: hidden;
	text-indent: 10em;
}
.tenlist li:nth-child(4) .pm-name{
	width: 0.5rem;
	height: 0.7rem;
	background: url(../images/xunyi3.png);
	border-radius: 0%;
	background-size: 100% 100%;
	overflow: hidden;
	text-indent: 10em;
}
.pm-name{
	display: inline-block;
	height: 0.55rem;
	width: 0.55rem;
	border-radius: 50%;
	background: #b61f50;
	text-align: center;
	line-height: 0.55rem;
}
.seemore-btn{
	display: block;
	width: 5.25rem;
	height: 1.125rem;
	background: #d55982;
	margin: 0.375rem auto;
	border-radius: 0.5rem;
	text-align: center;
	line-height: 1.125rem;
	font-size: 0.375rem;
}