.stepIITip{
	margin:0 auto;
	width:893px;
	}
.regSteps{
	border-bottom:2px solid #a7cb84;
	line-height:24px;
	width:893px;
	float:left;
	}
.regSteps span{
	dispaly:block;
	float:left;
	margin-left:8px;
	font-size:14px;
	}
span.stepNum{
	margin-left:80px;
	font-weight:bold;
	}
span.stepI{
	background:url(/images/register2010/zz91reg2011StepII_03.gif) no-repeat left 2px;
	padding-left:18px;
	color:#787878;
	}
span.stepII{
	background:url(/images/register2010/zz91reg2011StepII_05.gif) no-repeat left 2px;
	padding-left:18px;
	color:#fd7600;
	}
	
.stepIIHelp{
	width:893px;
	height:180px;
	position:relative;
	float:left;
	}
.stepIIHelpSuc{
	position:absolute;
	left: 83px;
	top: 12px;
	}
.stepIIHelpInfo{
	position:absolute;
	line-height:22px;
	font-size:14px;
	left: 171px;
	width: 615px;
	top: 11px;
	height: 137px;
	}
.stepIIHelpInfo a{
	text-decoration:underline;
	}
.stepIIHelpInfo a:visited{
	text-decoration:underline;
	}
.stepIIHelpInfo a:hover{
	text-decoration:underline;
	}
.contRegSuc{
	line-height:48px;
	}


.tradeBegan{
	width:893px;
	margin:0 auto;
	}
.tradeBeganService{
	background:url(/images/register2010/zz91reg2011StepII_13.gif) left top no-repeat;
	line-height:27px;
	float:left;
	width:100%;
	height:48px;
	}
.tradeBeganService ul{
	padding-left:184px;
	padding-top:21px;
	}
.tradeBeganService li{
	width:87px;
	height:27px;
	float:left;
	text-align:center;
	color:#394048;
	font-size:14px;
	cursor:pointer;
	background:url(/images/register2010/zz91reg2011StepII_13.gif) -277px -48px;
	margin-left:8px;
	}
.tradeBeganService li.selected{
	color:#025703;
	background:url(/images/register2010/zz91reg2011StepII_13.gif) -184px -48px;
	cursor:default;
	}
.tradeBeganServiceCont{
	width:893px;
	height:284px;
	overflow:hidden;	
	}
.tradeBeganCont{
	background:url(/images/register2010/zz91reg2011StepII_21.gif) repeat-x bottom;
	width:893px;
	height:284px;
	float:left;
	display:none;
	}
.tradeBeganContImg{
	width:393px;
	float:left;
	text-align:center;
	}
.tradeBeganContDirection{
	float:right;
	width:500px;
	color:#177d17;
	font-size:14px;
	line-height:20px;
	}
.tradeBeganContDirection h5{
	height:36px;
	padding-top:12px;
	}
.tradeBeganContInfoBox{
	float:left;
	border:1px solid #B9D2A0;
	width:210px;
	margin-right:20px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:8px;
	}
.tradeBeganContInfoBox h6{
	width:150px;
	line-height:36px;
	padding-left:24px;
	font-weight:bold;
	background:url(/images/register2010/zz91reg2011StepII_19.gif) left center no-repeat;
	}
.tradeBeganContInfoBox p{
	padding-left:24px;
	}
p.tradeBeganContInfoBoxTxt{
	height:130px;
	}
	
.tradeBeganContInfoB{
	border:1px solid #B9D2A0;
	width:398px;
	height:140px;
	padding:4px 12px;
	}
p.tradeBeganContInfoBTxt{
	background:url(/images/register2010/zz91reg2011StepII_19.gif) left 4px no-repeat;
	margin:12px 0;
	padding-left:24px;
}
p.tradeBeganContInfoBBtn{
	padding-left:24px;
	}
p.tradeBeganContInfoBBtn img{
	margin-right:24px;
	}
.tradeBeganContInfoB li{
	background:url(/images/register2010/zz91reg2011StepII_06.gif) left 10px no-repeat;
	padding-left:8px;
	line-height:28px;
	}