/* CSS Document */
.footerbg
{
	background-image: url(/images/footerbg.gif);
	background-repeat: repeat-x;
	padding-right: 1px;
	padding-left: 1px;
	margin-top: 5px;
	float: left;
	width: 100%;
	padding-bottom: 1px;
	border: 1px solid #E3E3E3;
}
.footertitle
{
	float: left;
	width: 95px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.footertitle h5
{
	font-size: 14px;
	font-weight: bold;
	color: #333;
	background-image: url(/images/arr1.gif);
	background-repeat: no-repeat;
	background-position: 65px;
	margin-bottom: 5px;
}
.footertitle ul
{
	line-height:18px;
	width:90px;
	float:left;
}
#footer{
	width:99%;
	margin:0 auto;
	margin-top:20px;
	padding-top:12px;
	line-height:20px;
	border-top:2px solid #17b22d;
	text-align:center;
	}
.friendlink
{
	margin-top:10px;
	line-height:20px;
}
