@charset "utf-8";
/* CSS Document */
body{background:#ff8214}
.bg{height:1107px;background:url(../image/bg.png) repeat-x}
.center{width:968px;height:980px;background:url(../image/bg_2.png) no-repeat;margin:0 auto}
#info{width:916px;height:430px; position:relative;left:20px;top:475px}
#info .frist{width:916px;height:191px;background:url(../image/info_bg1.png) no-repeat}
#info .second{width:916px;height:152px;background:url(../image/info_bg2.png) no-repeat;padding: 20px 0 0 60px;}
#info .second h2{width:90px;height:30px;color:#602501;font-family:"微软雅黑";font-size:20px}
#info .second span{width:500px;height:20px;font-size:14px;display:block}
#info img{margin:0 auto;display:block}
.down{width:960px;margin:0 auto}
p{width:800px;margin:0 auto;text-align:center;color:#FFF;}
p a{text-decoration:none;color:#FFF;}
