<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="address=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="no" />
		<link rel="apple-touch-icon-precomposed" href="http://img0.zz91.com/zz91/images/logo.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="http://b.zz91.com/layui/css/layui.css"/>	
		<script type="text/javascript" src="http://b.zz91.com/layui/layui.js"></script>
		<style>
			.mainbox{
				margin: 10px;
			}
		</style>
	</head>
	<body>
		<div class="mainbox">
			<div class="demoTable">
				<button class="layui-btn layui-btn-primary" data-type="">删除</button>
			  	<button class="layui-btn layui-btn-primary" data-type="">添加</button>
			  	<div class="layui-inline">
			    	<input class="layui-input" name="id" id="demoReload" autocomplete="off">
			  	</div>
			  	<button class="layui-btn layui-btn-normal" data-type="reload">查询</button>
			</div>
			 
			<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table> 
		</div>
	</body>
	
	<script>
		layui.use('table', function(){
		  var table = layui.table;
		  
		  //方法级渲染
		  table.render({
		    elem: '#LAY_table_user'
		    ,url: 'gl_renyuan_data.json'
		    ,cols: [[
		      {checkbox: true, fixed: true}
		      ,{field:'id', title: '用户级别', width:150, fixed: true, edit: 'text'}
		      ,{field:'username', title: '用户名', width:150, edit: 'text'}
		      ,{field:'password', title: '密码', width:100, edit: 'text'}
		      ,{field:'name', title: '姓名', width:100, edit: 'text'}
		      ,{field:'sex', title: '性别', width:100, edit: 'text'}
		      ,{field:'phone', title: '手机', width:120, edit: 'text'}
		      ,{field:'beizhu', title: '备注', width:200, edit: 'text'}
		    ]]
		    ,id: 'testReload'
		    ,page: true
		    ,height: 315
		  });
		  
		  var $ = layui.$, active = {
		    reload: function(){
		      var demoReload = $('#demoReload');
		      
		      table.reload('testReload', {
		        where: {
		          key: {
		            id: demoReload.val()
		          }
		        }
		      });
		    }
		  };
		  
		  $('.demoTable .layui-btn').on('click', function(){
		    var type = $(this).data('type');
		    active[type] ? active[type].call(this) : '';
		  });
		});
	</script>
</html>
