body{
	background: url(../images/bg.png) center;
	background-size: 100% auto;
	font-family: "微软雅黑";
}
.bandbox{
	width: 100%;
	height: 16.8rem;
	position: relative;
}
.band{
	width: 100%;
	height: 17.75rem;
	background: url(../images/band.png) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
}
.mainbox{
	width: 16.75rem;
	margin: 0 auto;
	border-radius: 0.2rem;
	background: #fff;
	padding-bottom: 1.25rem;
}
.maintle{
	width: 100%;
	background: url(../images/tleimg.png) no-repeat center top #ddedf3;
	background-size: 100% auto;
	border-radius: 0.2rem 0.2rem 0 0;
	min-height: 3.175rem;
	text-align: center;
}
.maintle-main{
	font-size: 1.2rem;
	color: #333333;
	padding-top: 0.8rem;
}
.maintle-tt{
	font-size: 0.75rem;
	color: #666;
	padding: 0.4rem 0 0.6rem;
}
.maintle-tt span{
	font-weight: bold;
	color: #df454d;
}
.main-bj{
	width: 13.75rem;
	margin: 0 auto;
	border-bottom: 1px solid rgba(104,178,189,0.4);
	text-align: center;
	height: 4.9rem;
	line-height: 4.9rem;
}
.main-bjfh{
	font-size: 1.05rem;
	color: #de494f;
}
.main-newp{
	font-size: 2.5rem;
	color: #de494f;
}
.main-price{
	font-size: 0.825rem;
	color: #333;
	text-decoration: line-through;
}
.main-lximg{
	text-align: center;
	padding-top: 1.3rem;
}
.main-lximg img{
	width: 10.6rem;
	height: 5.325rem;
}
.mianys{
	margin: 0.8rem 0 0.8rem 1rem;
	font-size: 0.75rem;
	color: #30598d;
}
.main-anliimg{
	width: 14.25rem;
	height: 7.75rem;
	border-radius: 0.075rem;
	background: #68b2bd;
	margin: 1.2rem auto 0;
}
.main-anliimg img{
	width: 100%;
	height: 100%;
	border-radius: 0.075rem;
}
.main-anli p{
	font-size: 0.9rem;
	color: #666;
	text-align: center;
	padding-top: 0.5rem;
}
.main-btnbox{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.main-btn{
	display: block;
	width: 16.75rem;
	height: 2.75rem;
	background: url(../images/btn.png) no-repeat center;
	margin: 0 auto;
	background-size: 100% 100%;
	text-align: center;
	line-height: 2.75rem;
	font-size: 0.9rem;
	color: #fff;
}
