<ul class="mui-table-view ">
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:gotourl('/category/','trade');">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://m.zz91.com/images/qianbao/1.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">交易中心</span>
					<p class='mui-ellipsis'>
						废金属，废塑料，废电子电器，废轮胎，废纺织品
					</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:gotourl('/priceindex/','price');">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://m.zz91.com/images/qianbao/2.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">行情报价</span>
					<p class='mui-ellipsis'>
						废金属价格,废塑料价格,废纸价格,废橡胶价格,再生技术,市场行情,行情评论
					</p>
				</div>
				
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:gotourl('/myrc_index/','myrc');">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://m.zz91.com/images/qianbao/6.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">生意管家</span>
					<p class='mui-ellipsis'>
						发布供求，管理供求，询盘管理，客户管理，行情定制
					</p>
				</div>
				
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="post.html?sep=1">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://app.zz91.com/images/post.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">发布信息</span>
					<p class='mui-ellipsis'>
						马上发布商机，生意找上门
					</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:gotourl('/huzhu/','huzhu');">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://m.zz91.com/images/qianbao/5.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">废料问答</span>
					<p class='mui-ellipsis'>
						再生互助,互助社区,废料论坛,互助月刊,废料问题,商业防骗,废料再生技术
					</p>
				</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:gotourl('/myrc_collect/','myrc');">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://m.zz91.com/images/qianbao/sj.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">我的订阅</span>
					<p class='mui-ellipsis'>
						实时推送最新废料行情，最新供求商机
					</p>
				</div>
				
			</a>
		</li>
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:gotourl('/news/','news')">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://m.zz91.com/images/qianbao/3.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">资讯中心</span>
					<p class='mui-ellipsis'>
						实时发布再生资源行业废料最新新闻资讯
					</p>
				</div>
				
			</a>
		</li>
		<li class="mui-table-view-cell mui-media" style="display: none;">
			<a href="category.html">
				<div class="mui-pull-left">
					
					<img class="mui-media-object mui-pull-left" src="http://app.zz91.com/images/sc.png">
				</div>
				<div class="mui-media-body">
					<span class="zz91-index-title">在线商城</span>
					<p class='mui-ellipsis'>
						在线充值，服务购买，在线查看我的消费情况
					</p>
				</div>
				
			</a>
		</li>
	</ul>