<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="address=no" name="format-detection" />
		<meta name="apple-mobile-web-app-capable" content="no" />
		<link rel="apple-touch-icon-precomposed" href="http://img0.zz91.com/zz91/images/logo.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-precomposed" />
		<meta name="apple-touch-fullscreen" content="YES">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="http://img0.zz91.com/front/favicon.ico" />
		<title>产品服务-zz91再生网</title>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.2.0.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/aui.css"/>
		<link rel="stylesheet" type="text/css" href="http://static.m.zz91.com/aui/css/common.css"/>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/jquery.js"></script>
		<script type="text/javascript" src="http://static.m.zz91.com/aui/js/comm.js" ></script>
		<script type="text/javascript" src="http://static.m.zz91.com/layer/layer.js"></script>
		<style>
			.aui-tab{
				position: fixed;
				top: 45px;
				width: 100%;
				z-index: 999;
			}
			a{
				color: #333
			}

			.aui-bar{
				position: fixed;
				z-index: 999;
				top: 0px;
			}
			.czfoot {
				position: fixed;
				bottom: 0px;
				border-top: solid 1px #EBEBEB;
				width: 100%;
				background-color: #F6F6F6;
				line-height: 45px;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
			}
			.czfoot li {
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				flex: 1;
				text-align: center;
				border-right: 1px solid #e7e7e7;
				font-size: 16px;
			}
			.czfoot li:last-child {
				border-right: none;
			}
			
			.aui-tab-item.aui-active {
			    color: #27ae60;
			    border-bottom: 2px solid #27ae60;
			    z-index: 100;
			}
		</style>
	</head>
	<body>
		<div style="display: none;"><img src="http://img0.zz91.com/zz91/images/minilogo.jpg" /></div>
		<header class="aui-bar aui-bar-nav aui-bar-primary">
	    	<a class="aui-pull-left" href="/">
		        <span class="aui-iconfont aui-icon-left"></span>
		    </a>
		    <div class="aui-title">产品服务</div>
		    <a class="aui-pull-right" href="/myrc_index/">
		        <span class="aui-iconfont aui-icon-my"></span>
		    </a>
		</header>
		<div class="aui-tab" id="tab">
	        <div class="aui-tab-item aui-active">增值服务</div>
	        <div class="aui-tab-item"><a href="fuwu.html">基础服务</a></div>
	        <div class="aui-tab-item"><a href="youhui.html">优惠活动</a></div>
	    </div>
	    <div style="height: 88px;"></div>
		<div class="aui-content">
			<ul class="aui-list-view allservice">
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="/qianbao/llb_index.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/service/liulianbao.png">
					<div class="aui-img-body aui-pull-left">
						<span style="font-weight: bold;color: #FF2600;font-size: 18px">流量宝</span>
						<p>
							看得到的推广方式
						</p>
					</div>
					<div style="float:right;margin-right:20px;margin-top:15px;color:#009900">
						<img src="http://static.m.zz91.com/image/new.jpg" style="width: 30px;">
					</div>
					</a>
				</li>
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_lookcontact.html">
					<img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/service/lookcontact.png">
					<div class="aui-img-body">
						<span>查看联系方式</span>
						<p>
							¥ :10元/公司
						</p>
					</div>
					</a>
				</li>
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_showcontact.html">
					<img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/service/showcontact.png">
					<div class="aui-img-body">
						<span>显示联系方式</span>
						<p>
							¥ :300元/月
						</p>
					</div>
					</a>
				</li>
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_autoreflush.html">
					<img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/service/reflush.png?a=1">
					<div class="aui-img-body">
						<span>供求自动刷新</span>
						<p>
							¥ :300元/月
						</p>
					</div>
					</a>
				</li>
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_qunfa.html">
					<img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/service/qunfa.png">
					<div class="aui-img-body">
						<span>留言速配服务</span>
						<p>
							¥ :300元/次
						</p>
					</div>
					</a>
				</li>
				
				<!--<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_producttop.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/msg_stick.jpg">
					<div class="aui-img-body">
						<span>供求信息置顶</span>
						<p>
							¥ :1200元/月
						</p>
					</div>
					</a>
				</li>-->
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_qyx.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/service/xiu.png">
					<div class="aui-img-body">
						<span>企业秀（微站）服务</span>
						<p>
							¥ :200元/月
						</p>
					</div>
					</a>
				</li>
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_book.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/huangye.png">
					<div class="aui-img-body">
						<span>再生资源商务大全</span>
						<p>
							¥ :300元/本
						</p>
					</div>
					</a>
				</li>
				<!--<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_listad.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/service/pinpai.gif">
					<div class="aui-img-body">
						<span>供求列表独家广告</span>
						<p>
							¥ :1200元/月
						</p>
					</div>
					</a>
				</li>-->
				<!--<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_zst.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/service/zst.png">
					<div class="aui-img-body">
						<span>再生通</span>
						<p>
							¥ :5800元/年
						</p>
					</div>
					</a>
				</li>
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_ldb.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/service/ldb.png">
					<div class="aui-img-body">
						<span>来电宝</span>
						<p>
							¥ :3600元/年
						</p>
					</div>
					</a>
				</li>-->
				<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_createwebsite.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/service/weizhan.png">
					<div class="aui-img-body">
						<span>企业建站服务</span>
						<p class='aui-ellipsis-2'>
							根据你的需求定价。
						</p>
					</div>
					</a>
				</li>
				<!--<li class="aui-list-view-cell aui-img">
					<a class="aui-arrow-right" href="cp_seo.html"> <img class="aui-img-object aui-pull-left" src="http://static.m.zz91.com/image/service/seo.png">
					<div class="aui-img-body">
						<span>SEO优化服务</span>
						<p class='aui-ellipsis-2'>
							让您的网站在各大搜索引擎排名第一页。
						</p>
					</div>
					</a>
				</li>-->
			</ul>
		</div>
		<input type="hidden" id="showcontactvalue" value="">
		<input type="hidden" id="backvalue" value="">
		<div style="height: 45px;"></div>
		<footer class="czfoot">
			<li class="chongzhi">
				<a href="/qianbao/chongzhi.html"><span class="aui-iconfont2 aui-icon-refund"></span> 在线充值</a>
			</li>
			<li class="myservice">
				<a href="/qianbao/myservice.html"><span class="aui-iconfont2 aui-icon-service"></span> 我的服务</a>
			</li>
		</footer>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script>
			(function(d, t) {
				var r = d.createElement(t),
					s = d.getElementsByTagName(t)[0];
				r.async = 1;
				r.src = 'http://m.zz91.com/wechat/weixinshare.js?wurl='+location.href;
				s.parentNode.insertBefore(r, s);
			})(document, "script");
		</script>
		{%include 'aui/bottom.html'%}
	</body>
</html>