@charset "utf-8";

body { min-width: 320px;  -webkit-text-size-adjust: none }
img {border:0;vertical-align:middle;}

.content {margin:0 auto;}
.content h1 {font-size:20px;color:#333;padding:10px 0;color:#6c6c6c;text-align:center;}
.content .instruction {text-align:center;}
.content ul li {line-height:45px;color:#009944; font-size:24px; padding-top:0}

.link{margin:10px}
.link a{font-size:20px;color:#333;text-decoration:none;}
.link-left{width:40%;text-align:right;background:#fff;float:left}
.link-left img{vertical-align:middle;}
.link-right{width:40%;background:#fff;float:right}
.link-right img{vertical-align:middle;}

.con-bg {width:60%;margin:0 auto;padding:40px 0;}
.con-bg img { height: auto; width: auto\9; width:100%;}
