<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商行定制</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" href="http://subject.zz91.com/comm/comm.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="source/jquery.fancybox.css?v=2.1.5" media="screen" />
<script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script src="js/style.js"></script>
<script type="text/javascript" src="source/jquery.fancybox.pack.js?v=2.1.5"></script>
</head>
<body>
<div style="width:100%; background-color:#F9F7EC">
	<div style="width:960px;margin:0 auto">
		{%include 'html/comm/top.html'%}
    </div>
</div>
<div class="top"></div>
<div class="img1"></div>
<div class="img2">
	<a class="a1 fancybox-effects-a" href="images/img0.jpg"></a>
    <a class="a2" href="http://www.zz91.com/weixin2014/" target="_blank"></a>
</div>

<div style="width:100%;margin-top:50px">
        <div style="width:960px;margin:0 auto;text-align:center">
            {% include 'html/comm/buttom.html' %}
        </div>
    </div>
</body>
</html>
