<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>旧衣服</title>
<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css"/>
<link rel="stylesheet" type="text/css" href="css/OldClothes.css"/>
<script src="http://img0.zz91.com/lib/jquery/jquery-1.8.0.min.js"></script>
<script src="" type=text/javascript></script>
</head>

<body>
<div class="OldClothes">
	<div class="oc-title">
    	当前位置：<a href="http://www.zz91.com/">ZZ91再生网</a>  > <a href="#">产品微门户</a>  >  <a href="index.html">旧衣服</a>
    </div>
    <!--end oc-title-->
    <div class="oc-nav">
    	<ul>
        	<li style="background:#00632b"><a href="index.html">首页</a></li>
            <li><a href="price.html">旧衣服价格</a></li>
            <li><a href="show.html">旧衣服商家</a></li>
            <li><a href="trade.html">旧衣服供求</a></li>
            <li><a href="picture.html">旧衣服图片</a></li>
            <li><a href="http://huzhu.zz91.com/search.htm?keywords=%E6%97%A7%E8%A1%A3%E6%9C%8D">旧衣服互助</a></li>
        </ul>
    </div>
    <!--end oc-nav-->
    <div class="cb"></div>
    <div class="oc-mainblock1">
    	<div class="oc-m1-left">
        	<table class="m1-left-table">
            	<tr>
                	<td><a href="#">夏衣</a></td>
                    <td><a href="#">统货</a></td>
                </tr>
                <tr>
                	<td><a href="#">鞋子</a></td>
                    <td><a href="#">箱包</a></td>
                </tr>
                <tr>
                	<td><a href="#">擦布机</a></td>
                    <td><a href="#">废布/碎布</a></td>
                </tr>
                <tr>
                	<td><a href="#">服装下脚料</a></td>
                    <td><a href="#">无纺布</a></td>
                </tr>
                <tr>
                	<td><a href="#">牛仔布</a></td>
                    <td><a href="#">家纺废料</a></td>
                </tr>
                <tr>
                	<td><a href="#">化纤</a></td>
                    <td><a href="#">皮革</a></td>
                </tr>
            </table>
        </div>
        <!--end oc-m1-left-->
        <div class="oc-m1-center">
        	<div class="m1-center-top">
            	<div class="m1-center-item fl">
                	<div class="f14 fb"><a href="#">旧衣服最新采购</a></div>
                	<ul>
                    	<li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                    </ul>
                </div>
                <div class="m1-center-item fr">
                	<div class="f14 fb"><a href="#">旧衣服最新采购</a></div>
                	<ul>
                    	<li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w180"><a href="#">二手四季旧衣服回收</a></div><div class="fr">2013-7-8</div></li>
                    </ul>
                </div>
                <div class="cb"></div>
            </div>
            <!--end m1-center-top-->
            <div class="m1-center-item2 fl mt8">
                	<div class="f14 fb"><a href="#">旧衣服报价</a></div>
                	<ul>
                    	<li><div class="fl m1-w80"><a href="#">旧衣服</a></div><div class="fl m1-w120">4500.0-8000.0元/吨</div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w80"><a href="#">旧衣服</a></div><div class="fl m1-w120">4500.0-8000.0元/吨</div><div class="fr">2013-7-8</div></li>
                        <li><div class="fl m1-w80"><a href="#">旧衣服</a></div><div class="fl m1-w120">4500.0-8000.0元/吨</div><div class="fr">2013-7-8</div></li>
                    </ul>
                    <div class="cb"></div>
            </div>
            
            <div class="m1-banner fr"></div>
        </div>
        <!--end oc-m1-center-->
        <div class="oc-m1-right fr">
        	<div class="m1-right-box m1-box-style1">
            	<a href="#">立即注册</a>
            </div>
            <div class="m1-right-box m1-box-style2">
            	<a href="#">立即发布旧衣服供求</a>
            </div>
            <div class="m1-right-box m1-box-style2">
            	<a href="#">会员服务</a>
            </div>
            <div class="m1-right-text">
            	<a href="#">最新加入企业</a>
            </div>
            <ul>
            	<li><a href="#">广州卓鑫贸易有限公司</a></li>
                <li><a href="#">广州卓鑫贸易有限公司</a></li>
                <li><a href="#">广州卓鑫贸易有限公司</a></li>
            </ul>
        </div>
        <!--end oc-m1-right-->
    </div>
    <!--end oc-mainblock1-->
    <div class="cb"></div>
    <div class="oc-mainblock2">
    	<div class="oc-m2-item fl">
        	<div class="m2-item-img">
            	
            </div>
            <!--end m2-item-img-->
            <div class="m2-item-text">
            	<a href="#">供应夏季旧衣服</a>
            </div>
            <!--end m2-item-text-->
        </div>
        <div class="oc-m2-item fl m2-ml30">
        	<div class="m2-item-img">
            	
            </div>
            <!--end m2-item-img-->
            <div class="m2-item-text">
            	<a href="#">供应夏季旧衣服</a>
            </div>
            <!--end m2-item-text-->
        </div>
        <div class="oc-m2-item fl m2-ml30">
        	<div class="m2-item-img">
            	
            </div>
            <!--end m2-item-img-->
            <div class="m2-item-text">
            	<a href="#">供应夏季旧衣服</a>
            </div>
            <!--end m2-item-text-->
        </div>
        <div class="oc-m2-item fl m2-ml30">
        	<div class="m2-item-img">
            	
            </div>
            <!--end m2-item-img-->
            <div class="m2-item-text">
            	<a href="#">供应夏季旧衣服</a>
            </div>
            <!--end m2-item-text-->
        </div>
        <div class="oc-m2-item fl m2-ml30">
        	<div class="m2-item-img">
            	
            </div>
            <!--end m2-item-img-->
            <div class="m2-item-text">
            	<a href="#">供应夏季旧衣服</a>
            </div>
            <!--end m2-item-text-->
        </div>
        <div class="oc-m2-item fl m2-ml30">
        	<div class="m2-item-img">
            	
            </div>
            <!--end m2-item-img-->
            <div class="m2-item-text">
            	<a href="#">供应夏季旧衣服</a>
            </div>
            <!--end m2-item-text-->
        </div>
        <!--end m2-item-->
        <div class="cb"></div>
    </div>
    <!--end oc-mainblock2-->
    <div class="oc-mainblock3">
    	<div class="oc-m3-title">
        	<a href="#" class="fb">旧衣服相关商家</a>
        </div>
        <!--end oc-m3-title-->
        <div class="oc-m3-item fl">
        	<div class="m3-item-title">
            	<a href="#">亚非环保资源有限公司</a>
            </div>
            <!--end m3-item-title-->
            <div class="m3-item-text">
            	与君同行 共创辉煌 本公司常年经营各种旧衣服 需求各种夏季衣服5成新以上的衣服 ,种类为夏季衣服 男女T袖 包 童 ...
            </div>
            <!--end m3-item-text-->
        </div>
        <div class="oc-m3-item fl m3-ml16">
        	<div class="m3-item-title">
            	<a href="#">亚非环保资源有限公司</a>
            </div>
            <!--end m3-item-title-->
            <div class="m3-item-text">
            	与君同行 共创辉煌 本公司常年经营各种旧衣服 需求各种夏季衣服5成新以上的衣服 ,种类为夏季衣服 男女T袖 包 童 ...
            </div>
            <!--end m3-item-text-->
        </div>
        <div class="oc-m3-item fl m3-ml16">
        	<div class="m3-item-title">
            	<a href="#">亚非环保资源有限公司</a>
            </div>
            <!--end m3-item-title-->
            <div class="m3-item-text">
            	与君同行 共创辉煌 本公司常年经营各种旧衣服 需求各种夏季衣服5成新以上的衣服 ,种类为夏季衣服 男女T袖 包 童 ...
            </div>
            <!--end m3-item-text-->
        </div>
        <div class="oc-m3-item fl m3-ml16">
        	<div class="m3-item-title">
            	<a href="#">亚非环保资源有限公司</a>
            </div>
            <!--end m3-item-title-->
            <div class="m3-item-text">
            	与君同行 共创辉煌 本公司常年经营各种旧衣服 需求各种夏季衣服5成新以上的衣服 ,种类为夏季衣服 男女T袖 包 童 ...
            </div>
            <!--end m3-item-text-->
        </div>
        <div class="cb"></div>
    </div>
    <!--end oc-mainblock3-->
    <div class="oc-mainblock4">
    	<div class="oc-m4-item fl">
        	<div class="m4-item-title">
            	<a href="#" class="fb">行业资讯</a>
            </div>
            <!--end m4-item-title-->
            <div class="m4-item-box">
            	<div class="m4-box-img fl">
                	
                </div>
                <div class="m4-box-content fl ml8">
                	<div class="m4-box-title">
                    	<a href="#">亚非环保资源有限公司</a>
                    </div>
                    <div class="m4-box-text">
                    	供应各种出口标准的旧衣服，二手衣服，羽绒服等，本公司专业从事本行业......
                    </div>
                </div>
                <!--end m4-box-content-->
            </div>
            <!--end m4-item-box-->
            <div class="cb"></div>
            <ul>
            	<li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
                <li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
                <li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
                <li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
            </ul>
        </div>
        <!--end oc-m4-item-->
        <div class="oc-m4-item fl">
        	<div class="m4-item-title">
            	<a href="#" class="fb">旧衣服互助</a>
            </div>
            <!--end m4-item-title-->
            <div class="m4-item-box">
            	<div class="m4-box-img fl">
                	
                </div>
                <div class="m4-box-content fl ml8">
                	<div class="m4-box-title">
                    	<a href="#">亚非环保资源有限公司</a>
                    </div>
                    <div class="m4-box-text">
                    	供应各种出口标准的旧衣服，二手衣服，羽绒服等，本公司专业从事本行业......
                    </div>
                </div>
                <!--end m4-box-content-->
            </div>
            <!--end m4-item-box-->
            <div class="cb"></div>
            <ul>
            	<li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
                <li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
                <li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
                <li><a href="#">[商机资讯]</a><a href="#">简述12年二手衣服行业节点背景</a></li>
            </ul>
        </div>
        <!--end oc-m4-item-->
        <div class="cb"></div>
    </div>
    <!--end oc-mainblock4-->
    <div class="oc-mainblock5">
    	<div class="oc-m5-title">
        	<a href="#">旧衣服相关标签</a>
        </div>
        <!--end oc-m5-title-->
        <ul>
        	<li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#">布碎</a></li>
            <li><a href="#">|</a></li>
        </ul>
        <div class="cb"></div>
    </div>
    <!--end oc-mainblock5-->
    <div class="oc-mainblock6">
    	<form method="post" action="#">
            <span class="oc-m6-title">
                旧衣服搜索
            </span>
            <input type="text" class="oc-m6-text" />
            <input type="submit" class="oc-m6-submit" value="搜索" />
        </form>
    </div>
    <!--end oc-mainblock6-->
</div>
<!--end OldClothes-->












</body>
</html>
