/* CSS Document */
body
{
	background-color:#f2f2f2;
}
a
{
	color: #009;	
}
a:hover
{
	color: #F00;
	text-decoration: none;
}
.body
{
	width: 960px;
	margin-right: auto;
	margin-left: auto;	
}
.body .top {
	background-image: url(../images/top.jpg);
	height: 249px;
}
.body .nav {
	color: #FFF;
	background-color: #009;
	padding: 8px;
	line-height: 25px;
}
.body .box {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #FFF;
}
.body .box .left {
	float: left;
	width: 460px;
}
.body .box  .content {
	clear: both;
	margin-bottom: 20px;
	float: left;
}

.body .box .content .leftimg {
	height: 100px;
	width: 120px;
	float: left;
	border: 1px solid #CCC;
}
.body .box .content .righttext {
	width: 320px;
	float: right;
	line-height: 20px;
	margin-left: 10px;
}

.body .box .content .righttext .wztitle a{
	font-weight: bold;
	text-decoration: underline;
	color: #009;
	font-size: 14px;
	line-height: 25px;
}
.body .box .content .righttext .wztitle a:hover{
	color:#F00
}
.body .box .content .righttext .wzcontent {
	color: #666;
	line-height: 18px;
}
.body .box .content .righttext .wzcontent a
{
	color:#666;
	text-decoration: none;
}

.body .box .title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.body .box .righ {
	float: right;
	width: 460px;
}
.body .bottombox {
	background-color: #FFF;
	padding: 5px;
}
.body .bottombox .title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.body .bottombox ul li {
	width: 230px;
	float: left;
	line-height: 25px;
}
.body .bottombox ul li a{
	color:#309;
}
.body .bottombox .bexport {
	text-align: center;
	line-height: 30px;
}
.body .bottombox .bbanq {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
