{%extends 'daohang/2014new/common.html'%}
{%block content1%}
                    <table class="l-table2">
                    	<tr>
                        	<td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%20%E5%9B%BD%E5%86%85%E5%BA%9F%E5%A1%91%E6%96%99" target="_blank">国内废塑料</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E5%A1%91%E6%96%99%E5%86%8D%E7%94%9F%E6%96%99" target="_blank">塑料再生料</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E5%A1%91%E6%96%99%E6%9C%9F%E8%B4%A7" target="_blank">塑料期货</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E7%BE%8E%E5%9B%BD%E5%BA%9F%E5%A1%91%E6%96%99" target="_blank">美国废塑料</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E6%AC%A7%E6%B4%B2%E5%BA%9F%E5%A1%91%E6%96%99" target="_blank">欧洲废塑料</a></td>
                        </tr>
                        <tr>
                        	<td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E6%96%B0%E6%96%99%E5%B8%82%E5%9C%BA%E4%BB%B7" target="_blank">新料市场价</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E6%96%B0%E6%96%99%E5%87%BA%E5%8E%82%E4%BB%B7" target="_blank">新料出厂价</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E6%B2%B9%E4%BB%B7%E5%BF%AB%E6%8A%A5" target="_blank">油价快报</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E4%BD%99%E5%A7%9A" target="_blank">余姚塑料</a></td>
                            <td><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=%E5%A1%91%E6%96%99%E7%BD%91%E4%B8%8A%E6%8A%A5%E4%BB%B7" target="_blank">网上报价</a></td>
                        </tr>
                    </table>
{%endblock%}
{%block content2%}
             	<div class="r-item">
        	<div class="r-item-title">
        		<div class="r-item-logo">
                	￥
                </div>
                <!--end r-item-logo-->
                <div class="r-item-caption">
                    <a href="#" target="_blank">废塑料产品价格</a>
                </div>
                <div class="cb"></div>
             </div>
             <!--end r-item-title-->
             <div class="r-item-box">
             	<ul>
                	<li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=eps" target="_blank">EPS</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=eva" target="_blank">EVA</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=LDPE" target="_blank">LDPE</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=GPPS" target="_blank">GPPS</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PTA" target="_blank">PTA</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=ABS" target="_blank">ABS</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PS" target="_blank">PS</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PE" target="_blank">PE</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PA" target="_blank">PA</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PET" target="_blank">PET</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PP" target="_blank">PP</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=HDPE" target="_blank">HDPE</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PC" target="_blank">PC</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=PVC" target="_blank">PVC</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=HIPS" target="_blank">HIPS</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=POM" target="_blank">POM</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=pmma" target="_blank">PMMA</a></li>
                    <li><a href="http://jiage.zz91.com/s/searchfirst.html?keywords=TPU" target="_blank">TPU</a></li>
                    <div class="cb"></div>
                </ul>
             </div>
             <!--end r-item-box-->
        </div>
        <!--end r-item-->
{%endblock%}