<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>ABS推广月_废料专题_ZZ91再生网</title>
		<link rel="shortcut icon" href="http://img0.zz91.com/front/images/logo/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="http://img0.zz91.com/front/css/zz91.base.css" />
		<link type="text/css" rel="stylesheet" href="http://img0.zz91.com/zz91/css/openoverlay.css" />
		<link rel="stylesheet" type="text/css" href="http://www.zz91.com/zt/2015/css/06/2015.css?p=1" />
		<script type="text/javascript" src="http://img0.zz91.com/front/js/lib/jquery/jquery_lib/jquery-1.4.3.js"></script>
		<script type="text/javascript" src="http://img0.zz91.com/zz91/js/openoverlay.js"></script>
	</head>

	<body>
		<div style="width:100%; background-color:#F9F7EC">
			<div style="width:933px;margin:0 auto"> {%include 'html/comm/top.html'%} </div>
		</div>
		<div class="top">
			<a href="javascript:openoverlay('http://www.zz91.com/zt/ztpp/1.html','我要推广',500,150,0);" class="tg_top"></a>
		</div>
		<!--end top-->
		<div class="content">
			<div class="block1">
				<div class="pt">高级会员专区</div>
				<!--end pt-->
				<ul class="hot">
					{%for list in listall%}
					<li>
						<div class="box">
							<div class="box-img">
								{%if list.ldbflag%}
								<a href="http://www.zz91.com/ppc/index{{list.com_id}}.htm" target="_blank">
									<img src="{{list.pdt_images}}" title="{{list.pdt_kind.kindtxt}}{{list.pdt_name}}" />
								</a>
								{%else%}
								<a href="http://{{list.com_subname}}.zz91.com" target="_blank">
									<img src="{{list.pdt_images}}" title="{{list.pdt_kind.kindtxt}}{{list.pdt_name}}" />
								</a>
								{%endif%}
							</div>
							<!--end box-img-->
							<div class="box-info">
								<div class="box-text">
									{%if list.ldbflag%}
									<a href="http://www.zz91.com/ppc/index{{list.com_id}}.htm" target="_blank">{{list.pdt_kind.kindtxt}}{{list.pdt_name}}</a> {%else%}
									<a href="http://{{list.com_subname}}.zz91.com" target="_blank">{{list.pdt_kind.kindtxt}}{{list.pdt_name}}</a> {%endif%}
								</div>
								<div class="box-info-text">
									<p class="company">
										{%if list.ldbflag%}
										<a href="http://www.zz91.com/ppc/index{{list.com_id}}.htm" target="_blank">{{list.com_name}}</a> {%else%}
										<a href="http://{{list.com_subname}}.zz91.com" target="_blank">{{list.com_name}}</a> {%endif%}
									</p>
									<p>地区：{{list.com_province}}</p>
								</div>
							</div>
							<!--end box-info-->
						</div>
					</li>
					{%endfor%}
				</ul>

				<div class="cb"></div>
				<center>
					<div class="page_bg">
						<div class="page" style="width:800px;">
							{%if firstpage%}
							<div class="page-style"> <a href="?page=1#hy">首页</a> </div>
							{%endif%} {% if firstpage %}
							<div class="page-style"> <a href="?page={{prvpage}}#hy">上一页</a> </div>
							{% endif %}
							<ul>
								{% for p in page_range %} {% if p.nowpage %}
								<li> <a href="javascript:void(0)" class="p_cur">{{p.number}}</a> </li>
								{% else %}
								<li> <a href="?page={{p.number}}#hy">{{p.number}}</a> </li>
								{% endif %} {% endfor %}

								<div class="cb"></div>
							</ul>
							{% if lastpage%}
							<div class="page-style"><a href="?page={{nextpage}}#hy">下一页</a>
							</div>
							{% endif %}
						</div>
						<!--end page-->
					</div>
				</center>
			</div>
			<!--end block1-->

			<div class="block2">
				<div class="pt">普通会员专区</div>
				<!--end pt-->
				<div class="b2">
					<div class="b2_bg">
						<div class="m2-item fl" id="s1">
							<ul class="mulitline">
								<li>
									{%for list in comcompanylist.list%}
									<div class="m2-item-title">
										{%if list.ldbflag%}
										<a href="http://www.zz91.com/ppc/productdetail{{list.pdt_id}}.htm" target="_blank">{{list.pdt_kind.kindtxt}}{{list.pdt_name}}</a> {%else%}
										<a href="http://trade.zz91.com/productdetails{{list.pdt_id}}.htm" target="_blank">{{list.pdt_kind.kindtxt}}{{list.pdt_name}}</a> {%endif%}
									</div>
									<div class="m2-item-text">
										{%if list.ldbflag%}
										<a href="http://www.zz91.com/ppc/index{{list.com_id}}.htm" target="_blank">{{list.com_name}}</a> {%else%}
										<a href="http://company.zz91.com/compinfo{{list.com_id}}.htm" target="_blank">{{list.com_name}}</a> {%endif%}
									</div>
									{%endfor%}

									<div class="cb"></div>
								</li>
							</ul>
						</div>

						<div class="m2-item fr" id="s2">
							<ul style="margin-top: 0px;">
								<li>
									{%for list in comcompanylist1.list%}
									<div class="m2-item-title">
										{%if list.ldbflag%}
										<a href="http://www.zz91.com/ppc/productdetail{{list.pdt_id}}.htm" target="_blank">{{list.pdt_kind.kindtxt}}{{list.pdt_name}}</a> {%else%}
										<a href="http://trade.zz91.com/productdetails{{list.pdt_id}}.htm" target="_blank">{{list.pdt_kind.kindtxt}}{{list.pdt_name}}</a> {%endif%}
									</div>
									<div class="m2-item-text">
										{%if list.ldbflag%}
										<a href="http://www.zz91.com/ppc/index{{list.com_id}}.htm" target="_blank">{{list.com_name}}</a> {%else%}
										<a href="http://company.zz91.com/compinfo{{list.com_id}}.htm" target="_blank">{{list.com_name}}</a> {%endif%}
									</div>
									{%endfor%}
									<div class="cb"></div>
								</li>
							</ul>
						</div>
						<div class="cb"></div>
					</div>
				</div>
				<!--end b2-->
				<div style="background-color: #009900;line-height: 30px;text-align: center;"><a href="http://www.zz91.com/ppc/s-616273" target="_blank" style="color: #fff;">查看更多</a></div>
			</div>
			<div class="cb"></div>
			<div style="width:100%;line-height:25px;">
				<div class="bottom" style="width:950px;margin:0 auto;text-align:center;color:#fff"> {% include 'html/comm/buttom.html' %} </div>
			</div>
			<!--end block2-->
		</div>
		<!--end content-->
	</body>

</html>