

body{margin:0 auto;background:#f1f1f1}

/**index**/

.m-content{width:100%;overflow:hidden}
.m-content table{width:100%;margin:10px auto 15px auto}

.m-item{background:#fff;padding:15px 5px 10px 15px;border-bottom:1px solid #c0c0c0;border-top:1px solid #c0c0c0}
.m-item_{height:42px;line-height:42px;background:#fff;padding:0;list-style-type:none}
.m-ul{padding:0;margin:0;font-size:16px}
.m-li_{width:33.2%;text-align:center;float:left;font-weight:bold}
.m-li{width:33.2%;text-align:center;float:left}

.i-box{width:100%}
.b-img{width:20%;display:table-cell;text-align:center;vertical-align:middle;padding-top:8px;float:left}
.b-img img{vertical-align:middle}
.b-dt{width:65%;margin-left:10%;float:left}

.b-ul{list-style-type:none;overflow:hidden}
.b-ul li{line-height:26px}
.b-ul-lt{width:65px;height:19px;line-height:19px;background:#f7eafd;border:1px solid #9a59b5;text-align:center;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-right:5px;float:left}
.b-ul-dia{width:75px;height:19px;line-height:19px;background:#e6f7ff;border:1px solid #1c9bd8;text-align:center;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;float:left}

.b-ul-li-tle{font-size:15px}
.b-ul-li-item{font-size:13px;color:#595959}


.a-left{color:#8a8a8a;font-size:13px;float:left}
.a-right{font-size:13px;font-weight:bold;float:right}


.tab_ul{width:100%;height:43px;line-height:43px;font-size:14px;background:#fff;text-align:center;border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0}
.tab_ul ul li{width:33%;cursor:pointer;position:relative;float:left}
.tab_ul_li{border-right:1px solid #c0c0c0}


.tab_ul ul li .sub-nav{width:100%;position:absolute;top:44px;left:0;list-style:none;background-color:#fff;z-index:9999;display:none}
.tab_ul ul li .sub-nav li{width:99.9%;text-align:center;clear:left;border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;height:35px;line-height:35px;position:relative}
.tab_ul ul li .sub-nav li a{height:34px;line-height:34px;padding:0;display:inline-block}

.tab_ul ul li .sub-nav1{width:100%;position:absolute;top:44px;left:0;list-style:none;background-color:#fff;z-index:9999;display:none}
.tab_ul ul li .sub-nav1 li{width:99.8%;text-align:center;clear:left;border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;height:35px;line-height:35px;position:relative}
.tab_ul ul li .sub-nav1 li a{height:34px;line-height:34px;padding:0;display:inline-block}

.tab_ul ul li .sub-nav2{width:100%;position:absolute;top:44px;left:0;list-style:none;background-color:#fff;z-index:9999;display:none}
.tab_ul ul li .sub-nav2 li{width:100%;text-align:center;clear:left;border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;height:35px;line-height:35px;position:relative}
.tab_ul ul li .sub-nav2 li a{height:34px;line-height:34px;padding:0;display:inline-block}


/**page**/
.page{height:35px;line-height:35px;text-align:center;background:#fff;border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;margin-bottom:100px}
.page_next{width:33%;float:left}
.page_prev{border-right:1px solid #c0c0c0;cursor:pointer;width:33%;float:left}
.page_no{border-right:1px solid #c0c0c0;width:33%;float:left}

.t-item{border-top:1px solid #c0c0c0;background:#fff;border-bottom:1px solid #c0c0c0;padding: 15px 5px 15px 15px}


.c-tle{margin-top:15px;padding-left:10px}
.t-left{float:left}
.t-right{float:right}

.t-right ul{list-style-type:none}
.t-right ul li{float:left}
.b_fb{float:left}
.b_sx{margin:0 10px;float:left}

.r_box{cursor:pointer}


.b1-item-tle{font-family:"微软雅黑";font-size:16px;text-align:left;display:block;clear:both}
.b1-item-ul{list-style-type:none}
.b1-item-ul li{margin:5px 0}
.b1-item-ul-ul{list-style-type:none}
.b1-item-ul-ul li{width:64px;height:30px;line-height:30px;text-align:center;cursor:pointer;border:1px solid #b7b7b7;margin-right:20px;float:left}
.li_click{background:#dbdbdb}

.b1-item-ul_{list-style-type:none}
.b1-item-ul_ li{margin-right:10px;margin-bottom:10px;font-size:14px;float:left}
.b1-item-ul_ li a{color:#0066cc}

.chk_txt{height:25px;padding-bottom:10px;padding-left:10px;font-size:13px;color:#6c6c6c}
.free_tel{width:62px;height:18px;line-height:18px;border:1px solid #e67f11;background:#fff1e3;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin:10px auto 0 auto}

.t-img{float:left}
.t-txt{float:left}
#reply_div{
	-moz-border-radius: 6px;
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	width:80%;
	padding:15px;
	position: relative;
	display: none;
}
.sx-box{
	width:95%;
	padding:15px 0 15px 15px;
	overflow: auto;
	border:1px solid #ccc;
	font-size:12px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.btn{
	display:inline-block;
	padding-left:35px;
	padding-right:35px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 16px;
}
.btn_confirm
{
	background: #009944;
	border:1px solid #ccc;
	font-family:"宋体";
	font-size:14px;
}








