

body {height:1664px;background:url(../images/%E4%B8%93%E9%A2%98.jpg) no-repeat;margin:0 auto;background-position:center}	
.main{position:relative}
.s1{width:100px;height:100px;position:absolute;right:210px;top:1300px}
.s2{width:100px;height:100px;position:absolute;left:300px;top:890px}
.s3{width:100px;height:100px;position:absolute;left:200px;top:680px}
.s4{width:100px;height:100px;position:absolute;left:430px;top:450px}
.s5{width:100px;height:100px;position:absolute;left:600px;top:780px}
.s6{width:100px;height:100px;position:absolute;right:530px;top:960px}
.s7{width:100px;height:100px;position:absolute;right:330px;top:1120px}

.mt{position:relative}
.t1{width:510px;height:247px;background:url(../images/7.png) no-repeat;position:absolute;right:310px;top:1230px}
.t2{width:510px;height:247px;background:url(../images/3.png) no-repeat;position:absolute;right:450px;top:810px}
.t3{width:510px;height:247px;background:url(../images/2.png) no-repeat;position:absolute;left:350px;top:610px}
.t4{width:510px;height:247px;background:url(../images/1.png) no-repeat;position:absolute;right:330px;top:380px}
.t5{width:510px;height:247px;background:url(../images/4.png) no-repeat;position:absolute;right:170px;top:710px}
.t6{width:510px;height:247px;background:url(../images/5.png) no-repeat;position:absolute;right:0;top:900px}
.t7{width:510px;height:247px;background:url(../images/6.png) no-repeat;position:absolute;right:450px;top:1050px}

	