@charset "utf-8";
/* CSS Document */

.iepz_mk_p{ width:958px; margin:0 auto; border-bottom:3px solid #3288F0;}
.iepz_mkftul_p li{ float:left; padding:0px 4px 12px 15px;_padding-bottom:3px;}
.iepz_mkf_p{ width:470px; border:1px solid #ADAFAF;}
.iepz_mkf_p h3{ background-color:#3288F0; font:bold 18px/40px '宋体'; margin:12px 14px; text-indent:20px; color:#fff;}
.iepz_mkfai_p{ padding-left:18px;}
.iepz_mkfyx_p img{ padding:5px 5px 6px;}
.iepz_mkfgdul_p{ height:185px; margin:16px 20px 12px 0px; overflow:hidden;}
.iepz_mkfgdul_p li{ right:24px; font:12px/24px '宋体'; color:#000;}
.marginb12px{ margin-bottom:12px;}

.left{ float:left;}
.right{ float:right;}
body img{_vertical-align:bottom;}